<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Юридические лица
                <?php if($this->legalEntities->getPages()->totalItemCount > 0): ?>
                    (всего <?= $this->legalEntities->getPages()->totalItemCount ?>)
                <?php endif; ?>
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <?php if (! $this->isOperator):?>
                <form class="form-group row block_s-profile-search">
                    <div class="col-xs-1">
                        <a href="<?= $this->url('user-profile/legal-entity-form-create') ?>"
                           class="glyphicon glyphicon-plus-sign block_s-profile-add-user"></a>
                    </div>
                </form>
            <?php endif; ?>
            <?php if (count($this->legalEntities)): ?>
                <table class="table table-striped block_s-profile-table">
                    <thead>
                    <tr>
                        <th><a href="">№</a></th>
                        <th <?=($this->sortHelper()->isActive('name')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('name', ['tab']);?>&tab=s2">
                                Наименование

                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('inn')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('inn', ['tab']);?>&tab=s2">
                                ИНН

                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('kpp')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('kpp', ['tab']);?>&tab=s2">
                                КПП

                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('ogrn')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('ogrn', ['tab']);?>&tab=s2">
                                ОГРН

                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <?php if (! $this->isOperator):?>
                            <th>Удалить</th>
                        <?php endif;?>
                    </tr>
                    </thead>
                    <tbody>
                    <?php $i = 0; ?>
                    <?php foreach ($this->legalEntities as $key => $legalEntity): ?>
                        <?php $i++; ?>
                        <?php
                        if (! $this->isOperator):
                            $route = 'user-profile/legal-entity-single';
                        else:
                            $route = 'legal-entity-single';
                        endif;
                        ?>
                        <tr>
                            <td class="text-center"><?=$i?></td>
                            <td>
                                <a href="<?= $this->url($route, ['id' => $legalEntity->getId()]) ?>"
                                   class="block_s-profile-table-link">
                                    <?=$legalEntity->getName();?>
                                </a>
                            </td>
                            <td class="text-center"><?=$legalEntity->getInn();?></td>
                            <td class="text-center"><?=$legalEntity->getKpp();?></td>
                            <td class="text-center"><?=$legalEntity->getOgrn();?></td>
                        <?php if (! $this->isOperator):?>
                            <td class="text-center">
                                <a href="<?= $this->url('user-profile/legal-entity-form-delete', [
                                    'idLegalEntity' => $legalEntity->getId()
                                ]) ?>"
                                   class="form-group">
                                    <i class="glyphicon glyphicon-remove-sign btn-profile-remove"></i>
                                </a>
                            </td>
                        <?php endif;?>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            <?php endif; ?>
            <?= $this->paginationControl($this->legalEntities,
                    'Sliding',
                    'application/partial/paginator',
                    [
                        'route' => $this->route,
                    ]
                );
            ?>
        </div>
    </div>
</div>

