<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Юридическое лицо
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <!--  content  -->
            <div class="text-center">
                <p>
                    Вы уверены, что хотите удалить <strong>"<?= $this->legalEntity->getName() ?>"</strong>?
                </p>
            </div>
            <div class="text-center">
                <form method="POST" action="<?= $this->url('user-profile/legal-entity-single', [
                    'id' => $this->legalEntity->getId()
                ]) ?>"
                      class="btn-profile-remove-form" role="form">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-blue" >Да, удалить это юр.лицо</button>
                </form>
            </div>
            <!-- /content  -->
        </div>
    </div>
</div>