<?php
$form = $this->form;
$form->prepare();
?>

<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">
            <!--  content  -->
            <h1>Изменение юр лица</h1>

            <div class="row">
                <div class="col-md-6">
                    <?= $this->form()->openTag($form); ?>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('name')); ?>
                        <?= $this->formElement($form->get('name')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('name')).'</div>'; ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('legal_address')); ?>
                        <?= $this->formElement($form->get('legal_address')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('legal_address')).'</div>'; ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('phone')); ?>
                        <?= $this->formElement($form->get('phone')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('phone')).'</div>'; ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('inn')); ?>
                        <?= $this->formElement($form->get('inn')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('inn')).'</div>'; ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('kpp')); ?>
                        <?= $this->formElement($form->get('kpp')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('kpp')).'</div>'; ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('ogrn')); ?>
                        <?= $this->formElement($form->get('ogrn')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('ogrn')).'</div>'; ?>
                    </div>

                    <?= $this->formElement($form->get('csrf')); ?>
                    <?= $this->formElement($form->get('submit')); ?>

                    <?= $this->form()->closeTag(); ?>
                </div>
            </div>
            <!-- /content  -->
        </div>
    </div>
</div>