<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
    <div class="jumbotron-vic">
        <!--  content  -->
        <?php if (isset($this->legalEntity)): ?>
            <div class="jumbotron-vic">
                <h1>Юр лицо</h1>

                <div class="row">
                    <h3>
                        Наименование: <?=$this->legalEntity->getName()?> <br>
                        Юридический адрес: <?=$this->legalEntity->getLegalAddress()?> <br>
                        ИНН: <?=$this->legalEntity->getInn()?> <br>
                        КПП: <?=$this->legalEntity->getKpp()?> <br>
                        ОГРН: <?=$this->legalEntity->getOgrn()?> <br>
                        Телефон: <?=$this->legalEntity->getPhone()?>
                        <?php if (! $this->isOperator):?>
                            <br><a href="<?= $this->url('user-profile/legal-entity-form-edit',
                                ['idLegalEntity' => $this->legalEntity->getId()]) ?>" class="form-group">
                                изменить
                            </a>
                        <?php endif; ?>
                    </h3>
                    <?php if (! $this->isOperator):?>
                        <h4>
                            <a href="<?= $this->url('user-profile/legal-entity-bank-detail-form-create', [
                                'idLegalEntity' => $this->legalEntity->getId()
                            ]) ?>">
                                + Добавить реквизиты
                            </a>
                        </h4>
                    <?php endif; ?>
                    <?php if (! $this->isOperator):?>
                        <h4>
                            <a href="<?= $this->url('user-profile/legal-entity-tax-inspection-form-create', [
                                'idLegalEntity' => $this->legalEntity->getId()
                            ]) ?>">
                                + Добавить свидетельства о постановке на учет в налоговой инспекции
                            </a>
                        </h4>
                    <?php endif; ?>
                </div>

                <?php foreach ($this->legalEntity->getLegalEntityDocument() as $document): ?>
                    <?php
                        $bankDetail = $document->getLegalEntityBankDetail();
                        $taxInspection = $document->getLegalEntityTaxInspection();
                    ?>

                    <!-- Passport -->
                    <?php if ($bankDetail !== null): ?>
                        <?=$this->partial('partial/bank-detail-legal-entity.phtml', [
                            'bankDetail' => $bankDetail,
                            'isOperator' => $this->isOperator
                        ]);?>
                    <?php endif; ?>

                    <!-- DriverLicense -->
                    <?php if ($taxInspection !== null): ?>
                        <?=$this->partial('partial/tax-inspection-legal-entity.phtml', [
                            'taxInspection' => $taxInspection,
                            'isOperator' => $this->isOperator
                        ]);?>
                    <?php endif; ?>

                <?php endforeach; ?>

                <h4>
                    Методы оплаты
                    <?php if (! $this->isOperator):?>
                        <br><a href="<?= $this->url('user-profile/payment-method-form-create', [
                            'civil_law_subject_id' => $this->legalEntity->getCivilLawSubject()->getId()
                        ]) ?>">
                            + Добавить метод оплаты
                        </a>
                    <?php endif; ?>
                </h4>

                <?php foreach ($this->legalEntity->getCivilLawSubject()->getPaymentMethods() as $paymentMethod): ?>
                    <p>
                        Тип: <strong><?=$paymentMethod->getPaymentMethodType()->getOutputName()?></strong><br>
                        Название: <?=$paymentMethod->getPaymentMethodBankTransfer()->getName()?><br>
                        Наименование банка: <?=$paymentMethod->getPaymentMethodBankTransfer()->getBankName()?><br>
                    </p>
                    <p>
                        <?php
                        if (! $this->isOperator):
                            $route = 'user-profile/payment-method-single';
                        else:
                            $route = 'payment-method-single';
                        endif;
                        ?>
                        <a href="<?= $this->url($route, ['id' => $paymentMethod->getId()]) ?>">
                            Подробнее
                        </a>
                        <?php if (! $this->isOperator):?>
                            <a href="<?= $this->url('user-profile/payment-method-form-edit',
                                ['idPaymentMethod' => $paymentMethod->getId()]) ?>">
                                Редактировать
                            </a>
                            <a href="<?= $this->url('user-profile/payment-method-form-delete',
                                ['idPaymentMethod' => $paymentMethod->getId()]
                            )?>"
                               class="form-group">
                                Удалить
                            </a>
                        <?php endif; ?>
                    </p>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>
        <!-- /content  -->
    </div>
    </div>
</div>
