.font-face(@font-family, @file-path, @font-weight, @font-style) {
  @font-face {
    font-family: @font-family;
    src: url('@{file-path}.eot');
    src: url('@{file-path}.eot?#iefix') format('embedded-opentype'),
    url('@{file-path}.woff') format('woff'),
    url('@{file-path}.ttf') format('truetype'),
    url('@{file-path}.svg') format('svg');
    font-weight: @font-weight;
    font-style: @font-style;
    font-display: fallback;
  }
}