<?php
$this->headTitle('Confirm');

$form->get('code')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Code',
    'required' => true,
    'autofocus' => true
])
    ->setLabelAttributes([
        'class' => 'sr-only'
    ]);
?>

<div class="row">
    <div class="col-md-offset-4 col-md-3">
        <?= $this->form()->openTag($form); ?>
        <h3 class="form-signin-heading">На указанный вами номер телефона был отправлен код подтверждения.</h3>
        <div class="form-group">
            <label for="code">введите код подтверждения</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-check"></span>
                </div>
                <?= $this->formElement($form->get('code')); ?>
            </div>
            <?= $this->formElementErrors($form->get('code')); ?>
        </div>

        <?= $this->formElement($form->get('csrf')) ?>

        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Подтвердить</button>
        </div>

        <?= $this->form()->closeTag(); ?>

        <div>
            <a href="<?= $this->resend_url ?>"><span class="glyphicon glyphicon-refresh"></span> Отправить код повторно</a>
        </div>
    </div>
</div>