{% import 'macro/routes.twig' as routes %}

{% if is_last and deal['type_ident'] == 'T' and deal['delivery']['service_type_name'] != 'DPD' %}
    <div class="FormTrackNumber">
        {% if deal['tracking_numbers'] |length > 0 %}
            <h2 class="FormTrackNumber__title">Список трек-номеров</h2>
        {% else %}
            <h2 class="FormTrackNumber__title">Добавление трек-номера</h2>
        {% endif %}

        <form class="row nested-row FormInline " method="post"
              action="{{ routes.dealCreateTrackingNumber(deal['id']) |trim }}"
              name="track-number"
              id="track-number">
            {{ formElement(trackingNumberForm.get('csrf'))|raw }}
            <div class="col-xl-9 col-lg-5 col-lt-4 col-md-6 col-sm-3 col-xs-4">
                <div class="Input-Wrapper">
                    <span class="Input-Container">
                        {{ formElement(trackingNumberForm.get('tracking_number'))|raw }}
                    </span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-2 col-lt-2 col-md-3 col-sm-1 col-xs-4">
                <button type="submit" class="ButtonApply" data-ripple-button=""><span class="ripple-text">Добавить</span></button>
            </div>


            <div class="FormError">{{ formElementErrors(trackingNumberForm.get('tracking_number'))|raw }}</div>
            <div class="FormError">{{ formElementErrors(trackingNumberForm.get('csrf'))|raw }}</div>
        </form>

        {% if deal['tracking_numbers'] |length > 0 %}
            <div id="track-number-list" class="track-number-list">
                {% for trackingNumber in deal['tracking_numbers'] %}
                    <div class="InfoField">
                        {#<a href="{{ routes.showDealFile(file, deal['id']) |trim }}" target="_blank">{{ file['origin_name'] }}</a>#}
                        <p class="track-info">
                            <span class="track-info_date">{{ trackingNumber['date'] }}</span>&nbsp;<span class="track-info_number">{{ trackingNumber['tracking_number'] }}</span>
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endif %}