{% if is_last == true and deal['delivery']['service'] == null %}
    <p class="TextMarked TextMarked_info" id="check-requisites-and-send-charge-last">В течение 3-x рабочих дней, будет произведена проверка корректности реквизитов и отправлена платежка на выплату денег за
        {% if deal['type_ident'] == 'T' %}
            товар.
        {% else %}
            услугу.
        {% endif %}</p>
{% endif %}