{% if not data['is_owner'] and data['is_need_to_fill_civil_law_subject'] %}
    <p class="TextMarked TextMarked_info" id="choose-civil-law-subject-last">Чтобы присоединиться к сделке укажите лицо, от имени которого будет проведена сделка и способ получения оплаты за
        {% if deal['type_ident'] == 'T' %}
            товар.
        {% else %}
            услугу.
        {% endif %}
    </p>
{% endif %}

