{% if is_last == true and deal['is_current_user_confirmed'] == false and (not data['is_need_to_fill_civil_law_subject'] and not data['is_need_to_fill_payment_method']  and not data['is_need_to_fill_delivery']) %}
    <p class="TextMarked TextMarked_info" id="confirmation-requiment-last">Для согласования сделки Вам необходимо подтвердить ее.</p>
{% endif %}