{% if is_last == true %}
    <p class="TextMarked" id="contractor-and-customer-confirmed-conditions-last">Вы и
        {% if deal['type_ident'] == 'T' %}
            покупатель
        {% else %}
            заказчик
        {% endif %}
        подтвердили согласие с условиями сделки. Сделка заключена!</p>
{% endif %}