{% if deal['customer']['civil_law_subject_id'] == null and is_last == true %}
    <p class="TextMarked TextMarked_info" id="counteragent-has-to-login-last">
        {% if deal['type_ident'] == 'T' %}
            Покупатель
        {% else %}
            Заказчик
        {% endif %}
        должен войти на сервис Guarant Pay, чтобы рассмотреть сделку и согласиться с условиями. Для ускорения подтверждения сделки вы можете связаться со вторым
        участником сделки по email или телефону.</p>
{% endif %}


