{% if is_last == true and deal['delivery']['service'] == null %}
    <p class="TextMarked" id="customer-confirmed-obligations-fulfillment-last">
        {% if deal['type_ident'] == 'T' %}
            Покупатель
        {% else %}
            Заказчик
        {% endif %}
        подтвердил выполнение условий договора.</p>
{% endif %}