{% if is_last == true %}
    <p class="TextMarked" id="deal-will-close-automatically-last">До истечения гарантийного периода со стороны
        {% if deal['type_ident'] == 'T' %}
            покупателя
        {% else %}
            заказчика
        {% endif %}
        не было произведено никаких действий. Сделка будет закрыта автоматически.</p>
{% endif %}
