{% if is_last == true %}
    <p class="TextMarked" id="deal-deadline-expired-in-one-day-last">
        {% if deal['type_ident'] == 'T' %}
            Покупатель
        {% else %}
            Заказчик
        {% endif %}
        перевел оговоренную по сделке сумму на гарантийный счет.</p>
    <p class="TextMarked">Вам необходимо выполнить обязательства по договору до <strong>{{ data['date_of_deadline'] }}</strong> (остался 1 день).
        {% if deal['type_ident'] == 'T' %}
            После отправки товара покупателю, пожалуйста, укажите трек-номер отправления и наименование транспортной компании, которая будет осуществлять доставку.
        {% endif %}
    </p>
{% endif %}