{% import 'macro/pageHelper.twig' as pageHelper %}

{% set delivery_order = deal['delivery'] is not null and deal['delivery']['dpd_order'] is not null ? deal['delivery']['dpd_order'] : null %}
{% set is_allowed = delivery_order is not null and delivery_order['is_status_ok'] == true or delivery_order['is_status_pending'] == true or delivery_order['is_status_duplicate'] == true or delivery_order['is_status_error'] == true %}

{% set delivery = deal['delivery']['service'] %}
{% set sender_full_city_name = delivery['sender_address']['full_city_name'] %}
{% set sender_city_name = sender_full_city_name|split(',')[0] %}
{% set receiver_full_city_name = delivery['receiver_address']['full_city_name'] %}
{% set receiver_city_name = receiver_full_city_name|split(',')[0] %}

{% set sender_address = delivery['sender_address']['flat'] ?
        sender_city_name~', ул. '~delivery['sender_address']['street']~', д. '~delivery['sender_address']['house']~', кв. '~delivery['sender_address']['flat']
    :
    sender_city_name~', ул. '~delivery['sender_address']['street']~', д. '~delivery['sender_address']['house']
%}
    {% set receiver_address = delivery['receiver_address']['flat'] ?
        receiver_city_name~', ул. '~delivery['receiver_address']['street']~', д. '~delivery['receiver_address']['house']~', кв. '~delivery['receiver_address']['flat']
    :
    receiver_city_name~', ул. '~delivery['receiver_address']['street']~', д. '~delivery['receiver_address']['house']
%}

{% if is_last == true and is_allowed %}
    <div class="delivery-info-header">
        <h2 class="Title" id="delivery-info-last">Информация о заказе:</h2>
        {#<a href="">Скачать накладную</a>#}
    </div>
    <div class="delivery-info-wrapper">
        <div class="delivery-info-sender">
            <div class="delivery-info">
                <div class="delivery-info-row delivery-info-row-title">Отправитель (Вы)</div>
                {#{% if not delivery['sender_address']['terminal_code'] %}#}
                    <div class="delivery-info-row">{{ sender_address }}</div>
                {#{% endif %}#}
                <div class="delivery-info-row">{{ delivery['sender_address']['contact_fio'] }}</div>
                <div class="delivery-info-row">{{ pageHelper.phoneFormat(delivery['sender_address']['contact_phone']) }}</div>
                <div class="delivery-info-row">{{ delivery['sender_address']['contact_email'] }}</div>
                <div class="delivery-info-row">Дата забора: {{ pageHelper.dateFormat(deal['delivery']['service']['date_pickup'], 'd.m.Y')|trim }}</div>
                <div class="delivery-info-row">Интервал забора: c 9:00 до 18:00</div>
            </div>
        </div>
        <div class="delivery-info-receiver">
            <div class="delivery-info">
                <div class="delivery-info-row delivery-info-row-title">Получатель</div>
                {#{% if not delivery['receiver_address']['terminal_code'] %}#}
                    <div class="delivery-info-row">{{ receiver_address }}</div>
                {#{% endif %}#}
                <div class="delivery-info-row">{{ delivery['receiver_address']['contact_fio'] }}</div>
                <div class="delivery-info-row">{{ pageHelper.phoneFormat(delivery['receiver_address']['contact_phone']) }}</div>
                <div class="delivery-info-row">{{ delivery['receiver_address']['contact_email'] }}</div>
                <div class="delivery-info-row date-delivery">-</div>
                <div class="delivery-info-row">Интервал доставки: c 9:00 до 18:00</div>
            </div>
        </div>
    </div>
{% endif %}