{% import 'macro/pageHelper.twig' as pageHelper %}

{% set delivery_order = deal['delivery'] is not null and deal['delivery']['dpd_order'] is not null ? deal['delivery']['dpd_order'] : null %}
{% set is_contractor_and_service_dpd = deal['is_contractor'] == true and delivery_order is not null %}
{% set is_allowed = delivery_order is not null and delivery_order['is_status_ok'] == true and delivery_order['is_status_pending'] == false and delivery_order['is_status_duplicate'] == false %}

{% set delivery = deal['delivery']['service'] %}

{% set reception_point = deal['delivery']['service']['sender_address']['terminal'] %}
{% set street_abr = reception_point['street_abr'] ? reception_point['street_abr'] : '' %}
{% set structure = reception_point['structure'] ? reception_point['structure'] : '' %}
{% set ownership = reception_point['ownership'] ? reception_point['ownership'] : '' %}
{% set street = reception_point['street'] %}
{% set region = reception_point['country_name']~', '~reception_point['region_name']~', '~reception_point['city_name'] %}
{% set reception_point_address = ownership ?
    region~', '~street_abr~' '~street~', '~reception_point['house']~', '~ownership
    :
    region~', '~street_abr~' '~street~', '~reception_point['house']
%}
{% set work_time = reception_point['times'] %}

{% if is_last == true and deal['delivery']['service'] and deal['delivery']['service']['sender_address']['terminal_code'] and is_allowed %}
    <p class="TextMarked" id="delivery-reception-point-last">Заказ на доставку успешно сформирован.
        {% if deal['delivery']['service']['order_number'] %}
            Ему присвоен номер заказа <strong>№{{ deal['delivery']['service']['order_number'] }}</strong>.
        {% elseif deal['delivery']['service']['order_number'] == null %}
            Заказ нуждается в корректировке.
        {% endif %}
    </p>
    <p class="TextMarked TextMarked_info">Пожалуйста, подготовьте посылку к отправке!</p>
    <p class="TextMarked TextMarked_info">{{ pageHelper.dateFormat(deal['delivery']['service']['date_pickup'], 'd.m.Y')|trim }} в интервал с 9:00 до 18:00 вы должны отнести посылку на пункт приема DPD. Стоимость доставки составит <span class="pre-shipping-cost"></span></p>
    <div class="delivery-info-header">
        <h2 class="Title">Пункт приема:</h2>
        <span class="show-map" id="reception-point-map">На карте</span>
    </div>
    <div class="reception-point">
        <h2 class="Title">{{ reception_point['name'] }}</h2>
        <p class="TextMarked">{{ reception_point_address }}</p>
        <div class="TextMarked">
            {% for time in work_time %}
                <p class="TextMarked">{{ time['week_days'] }}: {{ time['work_time'] }}</p>
            {% endfor %}
        </div>
    </div>
    <p class="TextMarked TextMarked_info">Обязательно покажите номер заказа {{ deal['delivery']['service']['order_number'] }} сотруднику службы доставки.
        Фактический номер заказа должен соответствовать номеру, который был присвоен на сервисе GuarantPay. В противном случае сделка будет отменена.</p>
    <div class="ButtonsRow">
        {% if deal['delivery']['dpd_order']['trace_page_url_full'] %}
            <a href="{{ deal['delivery']['dpd_order']['trace_page_url_full'] }}" class="ButtonEdit DealControl-Button" target="_blank">Отследить посылку</a>
            <div class="tracking-number">Трек-номер: <strong>{{ deal['delivery']['service']['order_number'] }}</strong></div>
        {% endif %}
    </div>
    <p class="TextMarked">После того, как покупатель подтвердит доставку, вам будут переведены деньги за товар.
        Доставка может быть подтверждена автоматически, как только  сервис GuarantPay получит информацию от DPD о том, что посылка доставлена курьером.</p>
    <p class="TextMarked">Покупатель может отказаться от товара в присутствии курьера, в этом случае служба DPD вернет посылку в место отпраления.</p>
{% endif %}
