{% import 'macro/pageHelper.twig' as pageHelper %}

{% set delivery_order = deal['delivery'] is not null and deal['delivery']['dpd_order'] is not null ? deal['delivery']['dpd_order'] : null %}
{% set is_allowed = delivery_order is not null and delivery_order['is_status_ok'] == true and delivery_order['is_status_pending'] == false and delivery_order['is_status_duplicate'] == false %}

{% if is_last == true and deal['delivery']['service'] and deal['delivery']['service']['sender_address']['terminal_code'] == null and is_allowed %}
    <p class="TextMarked" id="delivery-door-to-door-last">Заказ на доставку успешно сформирован.
        {% if deal['delivery']['service']['order_number'] %}
            Ему присвоен номер заказа <strong>№{{ deal['delivery']['service']['order_number'] }}</strong>.
        {% elseif deal['delivery']['service']['order_number'] == null %}
            Заказ нуждается в корректировке.
        {% endif %}
    </p>
    <p class="TextMarked TextMarked_info">Пожалуйста, подготовьте посылку к отправке! {{ pageHelper.dateFormat(deal['delivery']['service']['date_pickup'], 'd.m.Y')|trim }} в интервал с 9:00 до 18:00 к вам придет курьер службы DPD для забора посылки. Стоимость доставки составит <span class="pre-shipping-cost"></span>, оплата наличными курьеру.</p>
    <p class="TextMarked TextMarked_info">Обязательно покажите номер заказа <strong>{{ deal['delivery']['service']['order_number'] }}</strong> сотруднику службы доставки.
        Фактический номер заказа должен соответствовать номеру, который был присвоен на сервисе GuarantPay. В противном случае сделка будет отменена.
    </p>
    <div class="ButtonsRow">
        {% if deal['delivery']['dpd_order']['trace_page_url_full'] %}
            <a href="{{ deal['delivery']['dpd_order']['trace_page_url_full'] }}" class="ButtonEdit DealControl-Button" target="_blank">Отследить посылку</a>
            <div class="tracking-number">Трек-номер: <strong>{{ deal['delivery']['service']['order_number'] }}</strong></div>
        {% endif %}
    </div>
    {#<div class="package-status">#}
        {#<div class="package-status-row">#}
            {#<p class="TextMarked">#}
                {#<span>06.09.2018 8:40</span>#}
                {#<span>{{ deal['delivery']['dpd_order']['status'] }}</span>#}
            {#</p>#}
        {#</div>#}
    {#</div>#}
    <p class="TextMarked">После того, как покупатель подтвердит доставку, вам будут переведены деньги за товар. Доставка может быть подтверждена автоматически, как только  сервис GuarantPay получит информацию от DPD о том, что посылка доставлена курьером.</p>
    <p class="TextMarked">Покупатель может отказаться от товара в присутствии курьера, в этом случае служба DPD вернет посылку в место отпраления.</p>
{% endif %}