{% if is_last == true and deal['delivery']['service'] and deal['delivery']['service']['order_number'] != null %}
    <p class="TextMarked" id="delivery-package-accepted-last">Служба DPD приняла посылку для доставки.
    {% if deal['delivery']['dpd_order']['trace_page_url_full'] %}
        Трек-номер {{ deal['delivery']['service']['order_number'] }}</p>
        <a href="{{ deal['delivery']['dpd_order']['trace_page_url_full'] }}" class="ButtonEdit DealControl-Button" target="_blank">Отследить посылку</a>
    {% endif %}
    {#<div class="package-status">#}
        {#<div class="package-status-row">#}
            {#<p class="TextMarked">#}
                {#<span>06.09.2018 8:40</span>#}
                {#<span>Принято в отделении. Готовится к отправке.</span>#}
            {#</p>#}
        {#</div>#}
    {#</div>#}
    <p class="TextMarked TextMarked_info">Ожидайте, покупатель должен подтвердить доставку, тем самым соглашаясь с выполнением условий договора, после чего вам будут переведены деньги за товар.
        Доставка может быть подтверждена автоматически, как только сервис GuarantPay получит информацию от DPD о том, что посылка доставлена курьером.</p>
    <p class="TextMarked">Покупатель может отказаться от товара в присутствии курьера, в этом случае служба DPD вернет посылку в место отправления.</p>
{% endif %}