{% import 'macro/pageHelper.twig' as pageHelper %}

{% set delivery_order = deal['delivery'] is not null and deal['delivery']['dpd_order'] is not null ? deal['delivery']['dpd_order'] : null %}
{% set is_contractor_and_service_dpd = deal['is_contractor'] == true and delivery_order is not null %}
{% set is_allowed = delivery_order is not null and delivery_order['is_status_ok'] == false and delivery_order['is_status_pending'] == false and delivery_order['is_status_duplicate'] == true %}

{% if is_last == true and deal['delivery']['service'] and is_allowed %}
    <p class="TextMarked" id="delivery-dpd-order-duplicate-last">Заказ на доставку не может быть принят по причине: {{  deal['delivery']['dpd_order']['status']}}.</p>
    <p class="TextMarked TextMarked_info">Сделка переведена в статус проблемные. Ожидайте, оператор подключится к сделке для скорейшего решения возникшей проблемы.</p>
{% endif %}