{% import 'macro/pageHelper.twig' as pageHelper %}

{% set delivery_order = deal['delivery'] is not null and deal['delivery']['dpd_order'] is not null ? deal['delivery']['dpd_order'] : null %}
{% set is_contractor_and_service_dpd = deal['is_contractor'] == true and delivery_order is not null %}
{% set is_allowed = delivery_order is not null and delivery_order['is_status_ok'] == false and delivery_order['is_status_pending'] == true and delivery_order['is_status_duplicate'] == false %}

{% if is_last == true and deal['delivery']['service'] and is_allowed %}
    <p class="TextMarked" id="delivery-dpd-order-pending-last">Заказ на доставку принят на доработку.</p>
    <p class="TextMarked TextMarked_info">Сервис DPD не смог автоматически принять заказ, и ваш запрос будет обработан сотрудником вручную, который уточнит и поправит всю необходимую информацию и завершит процесс создания заказа. Ожидайте звонка от сотрудника DPD.</p>
{% endif %}