{% if is_last == true %}
    {% if (not data['is_need_to_fill_civil_law_subject'] and not data['is_need_to_fill_payment_method'] and not data['is_need_to_fill_delivery']) and deal['customer']['civil_law_subject_id'] != null %}
        <p class="TextMarked" id="if-conditions-change-counteragent-reconsider-last">При изменении условий сделки
            {% if deal['type_ident'] == 'T' %}
                покупателю
            {% else %}
                заказчику
            {% endif %}
            будет необходимо заново рассмотреть ее.</p>
    {% elseif (not data['is_need_to_fill_civil_law_subject'] and not data['is_need_to_fill_payment_method'] and not data['is_need_to_fill_delivery']) and deal['customer']['civil_law_subject_id'] == null %}
        <p class="TextMarked" id="if-conditions-change-counteragent-reconsider-last">Вы можете изменить условия сделки, тогда
            {% if deal['type_ident'] == 'T' %}
                покупателю
            {% else %}
                заказчику
            {% endif %}
            будет выслано новое приглашение.</p>
    {% endif %}
{% endif %}