{% if is_last == true and deal['delivery']['service_type_name'] != 'DPD' %}
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked" id="info-msg-money-transfer-last">Деньги за товар будут переведены на Ваш счет, как только покупатель подтвердит факт выполнения договора.</p>
    {% else %}
        <p class="TextMarked" id="info-msg-money-transfer-last">Деньги за услугу будут переведены на Ваш счет, как только заказчик подтвердит факт выполнения договора.</p>
    {% endif %}
{% endif %}