{% import 'macro/translate.twig' as translate %}

{% if is_last == true and deal['delivery']['service_type_name'] != 'DPD' %}
    <p class="TextMarked TextMarked_info" id="info-msg-contractor-must-fulfill-obligations-last">Вам необходимо выполнить обязательства по договору до <strong>{{ deal['date_of_deadline'] }}</strong> (осталось {{ translate.dateWaiting(deal['date_of_deadline_params']) | trim }}).
        {% if deal['type_ident'] == 'T' %}
            После отправки товара покупателю, пожалуйста, укажите трек-номер отправления и наименование транспортной компании, которая будет осуществлять доставку.
        {% endif %}
    </p>
{% endif %}