{% if deal['mandarin_acquiring'] and is_last == true %}
        <p class="TextMarked" id="mandarin-acquiring-success-last">
            {% if deal['type_ident'] == 'T' %}
                Покупатель
            {% else %}
                Заказчик
            {% endif %}
                перевел оговоренную по сделке сумму на гарантийный счет.</p>
{% endif %}