{% if is_last == true %}
        <p class="TextMarked" id="trouble-last">По сделке произошла ошибка, она не может быть завершена в атоматическом режиме. К сделке присоединится оператор для решения проблемы.</p>
        <p class="TextMarked TextMarked_info">Вы можете обратиться в службу поддержки, написав письмо на <a href="mailto:support@guarantpay.com">support@guarantpay.com</a></p>
{% endif %}