{% if is_last == true and deal['is_current_user_confirmed'] == true and deal['customer']['civil_law_subject_id'] != null %}
    <p class="TextMarked TextMarked_info" id="wait-for-counteragent-confirmation-last">Ожидайте подтверждение сделки
        {% if deal['type_ident'] == 'T' %}
            покупателем.
        {% else %}
            заказчиком.
        {% endif %}
    </p>
{% endif %}


