{% if is_last == true %}
        <p class="TextMarked" id="warning-not-yet-confirmed-payment-last">
        {% if deal['type_ident'] == 'T' %}
            Не отправляйте товар покупателю
        {% else %}
            Не приступайте к выполнению услуги
        {% endif %}
        пока мы не подтвердим зачисление денег на гарантийный счет.</p>
{% endif %}