{% if is_last == true %}
    {% if deal['is_current_user_confirmed'] %}
        <p class="TextMarked" id="you-confirmed-deal-conditions-last">Вы подтвердили согласие с условиями сделки.</p>
    {% endif %}
{% endif %}


