{% if is_last == true %}
    {% if (data['is_need_to_fill_civil_law_subject'] and data['is_need_to_fill_payment_method']) %}
        <div id="FormAddCivilLawSubjectAndPaymentMethodToDeal" class="dealFillDataForm"></div>
    {% elseif data['is_need_to_fill_civil_law_subject'] %}
        <div id="FormAddCivilLawSubjectToDeal" class="dealFillDataForm"></div>
    {% elseif data['is_need_to_fill_payment_method'] %}
        <div id="FormAddPaymentMethodToDeal" class="dealFillDataForm"></div>
    {% elseif data['is_need_to_fill_delivery'] %}
        <div id="FormAddDeliveryToDeal" class="dealFillDataForm"></div>
    {% endif %}
{% endif %}