{% if is_last == true %}
    {% if data['is_owner'] %}
        {% if deal['customer']['civil_law_subject_id'] == null %}
            <div id="you-created-deal">
                <p class="TextMarked">Поздравляем, Вы создали сделку.
                    {% if deal['type_ident'] == 'T' %}
                        Покупателю
                    {% else %}
                        Заказчику
                    {% endif %}
                    ({{ customer['email'] }}) отправлено приглашение присоединиться к сделке.</p>
            </div>
        {% endif %}
        <div id="dpd-delivery-order-form"></div>
    {% else %}
        {% if deal['customer']['name'] and deal['contractor']['civil_law_subject_id'] == null %}
            <p class="TextMarked" id="you-created-deal">«{{ deal['customer']['name'] }}» пригласил Вас как
                {% if deal['type_ident'] == 'T' %}
                    продавца
                {% else %}
                    исполнителя
                {% endif %}
                для проведения безопасной сделки.</p>
        {% elseif deal['customer']['fio'] and deal['contractor']['civil_law_subject_id'] == null %}
            <p class="TextMarked" id="you-created-deal">{{ deal['customer']['fio'] }} пригласил Вас как
                {% if deal['type_ident'] == 'T' %}
                    продавца
                {% else %}
                    исполнителя
                {% endif %}
                для проведения безопасной сделки.</p>
        {% endif %}
    {% endif %}
{% endif %}