{% if is_last == true and data['confirm_reset_by'] == 'contractor' %}
    <p class="TextMarked" id="you-edited-deal-last">Вы изменили условия сделки.
        {% if deal['type_ident'] == 'T' %}
            Покупателю
        {% else %}
            Заказчику
        {% endif %}
        отправлено уведомление.</p>
{% elseif is_last == true and data['confirm_reset_by'] == 'customer' %}
    <p class="TextMarked" id="you-edited-deal-last">
        {% if deal['type_ident'] == 'T' %}
            Покупатель
        {% else %}
            Заказчик
        {% endif %}
        изменил условия сделки. Вам необходимо заново рассмотреть условия и подтвердить сделку.</p>
{% endif %}
