{% if not data['is_need_to_fill_civil_law_subject'] and not data['is_need_to_fill_payment_method'] and is_last == true %}
    {% if deal['contractor']['fio'] and deal['customer']['civil_law_subject_id'] != null %}
        <p class="TextMarked" id="your-civil-law-subject-and-payment-method-last">Вы будете участвовать в сделке как <strong>{{ deal['contractor']['fio'] }}</strong>, способ получения оплаты <strong>{{ deal['payment_method_requisites']['name'] }}</strong>.</p>
    {% elseif deal['contractor']['name'] and deal['customer']['civil_law_subject_id'] != null %}
        <p class="TextMarked" id="your-civil-law-subject-and-payment-method-last">Вы будете участвовать в сделке как <strong>{{ deal['contractor']['name'] }}</strong>, способ получения оплаты <strong>{{ deal['payment_method_requisites']['name'] }}</strong>.</p>
    {% endif %}
{% endif %}

