<h4>
    Методы оплаты<br>
    <a href="<?= $this->url('profile/add-payment-method', [
        'id' => $civilId
    ]) ?>">
        + Добавить метод оплаты
    </a>
</h4>

<?php foreach ($civilLawSubject->getPaymentMethods() as $paymentMethod): ?>
    <p>
    Тип: <strong><?=$paymentMethod->getPaymentMethodType()->getName()?></strong><br>
    Название: <?=$paymentMethod->getPaymentMethodBankTransfer()->getName()?><br>
    Наименование банка: <?=$paymentMethod->getPaymentMethodBankTransfer()->getBankName()?><br>
    БИК: <?=$paymentMethod->getPaymentMethodBankTransfer()->getBik()?><br>
    Лицевой счет: <?=$paymentMethod->getPaymentMethodBankTransfer()->getAccountNumber()?><br>
    Корреспондентский счет: <?=$paymentMethod->getPaymentMethodBankTransfer()->getCorrAccountNumber()?><br>
    </p>
<?php endforeach; ?>

