<?php
$this->headTitle('Change Password');
$form->get('new_password')->setAttributes([
    'class'=>'form-control',
]);
$form->get('new_password')->setOptions([
    'label'=>'Новый пароль',
]);
$form->get('confirm_new_password')->setAttributes([
    'class'=>'form-control',
]);
$form->get('confirm_new_password')->setOptions([
    'label'=>'Повторите новый пароль',
]);
$form->get('submit')->setAttributes([
    'class'=>'btn btn-blue',
    'value'=>'Изменить'
]);
$form->prepare();
?>

<h1>Изменить пароль <!-- //$this->escapeHtml($user->getLogin()) --></h1>

<div class="row">
    <div class="col-md-6">
        <?= $this->form()->openTag($form); ?>

        <div class="form-group">
            <?= $this->formLabel($form->get('new_password')); ?>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class ="glyphicon glyphicon glyphicon-lock"></span>
                </div>
                <?= $this->formElement($form->get('new_password')); ?>
            </div>
            <?= $this->formElementErrors($form->get('new_password')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('confirm_new_password')); ?>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class ="glyphicon glyphicon glyphicon-lock"></span>
                </div>
                <?= $this->formElement($form->get('confirm_new_password')); ?>
            </div>
            <?= $this->formElementErrors($form->get('confirm_new_password')); ?>
        </div>

        <?= $this->formElement($form->get('csrf')); ?>

        <?= $this->formElement($form->get('submit')); ?>

        <?= $this->form()->closeTag(); ?>
    </div>
</div>