{% autoescape false %}
<div>
    <h1>Здравствуйте, Admin</h1>

    <p>
        {{ message }}:
    </p>

    <p>
        Файл: "{{ file }}":
    </p>

    <table border="1" cellspacing="0" cellpadding="1">
        {% if xdebug_message is not null %}
            {{ xdebug_message }}
        {% else %}
            <tr>
                <th align='left' bgcolor='#f57900'>
                    <span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span>
                    {{ message }} in {{ file }} on line <i> {{ line }}</i>
                </th>
            </tr>
            <tr>
                <th align='left' bgcolor='#e9b96e'>Call Stack</th>
            </tr>
            <tr>
                <th bgcolor='#eeeeec' align='center'>Location / Function</th>
            </tr>
            {% for trc in trace %}
                {% if trc %}
                    <tr>
                        <td bgcolor='#eeeeec'>{{ trc }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
    </table>

    <p>
        GuarantPay ({{ main_project_url }}) project.
    </p>
</div>
{% endautoescape %}