{% import 'macro/pageHelper.twig' as pageHelper %}

<p class="TextMarked_grey" id='history-arbitrage-request-accepted'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    <span>Запрос на согласительную комиссию принят.</span>
</p>