{% import 'macro/pageHelper.twig' as pageHelper %}

<p class="TextMarked_grey" id='history-arbitrage-request-after-tribunal-decline'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    <span>Запрос на суд отклонен. Был создан запрос на согласительную комиссию.</span>
</p>