{% import 'macro/pageHelper.twig' as pageHelper %}

<p class="TextMarked_grey" id='history-arbitrage-request-after-discount-decline'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    {% if deal['type_ident'] == 'T' %}
        <span>Продавец отклонил предложение покупателя 3 раза, был создан запрос на согласительную комиссию.</span>
    {% else %}
        <span>Исполнитель отклонил предложение заказчика 3 раза, был создан запрос на согласительную комиссию.</span>
    {% endif %}
</p>