{% import 'macro/pageHelper.twig' as pageHelper %}

<p class="TextMarked_grey" id='history-arbitrage-request-after-refund-decline'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    <span>
        {% if deal['type_ident'] == 'T' %}
            Продавец
        {% else %}
            Исполнитель
        {% endif %}
        отклонил предложение о возврате средств, был создан запрос на согласительную комиссию.</span>
</p>
