{% import 'macro/pageHelper.twig' as pageHelper %}

<p class="TextMarked_grey" id='history-discount'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    <span>Запрос на скидку {{ data['amount'] |number_format(2, '.', ' ') }} рублей подтвржден.</span>
</p>

