{% import 'macro/pageHelper.twig' as pageHelper %}

<p class="TextMarked_grey" id='history-closed-discount-with-days'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    <span>Спор закрыт.</span>
</p>