{% import 'macro/pageHelper.twig' as pageHelper %}

{% if deal_type_ident == 'T' %}
    <p class="TextMarked_grey" id='history-refund-request'>
        <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
        <span>Покупатель предложил решение спора: возврат товара.</span>
    </p>
{% else %}
    <p class="TextMarked_grey" id='history-refund-request'>
        <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
        <span>Заказчик предложил решение спора: отказ от услуги.</span>
    </p>
{% endif %}