{% import 'macro/pageHelper.twig' as pageHelper %}

<p class="TextMarked_grey" id='history-refund-is-made'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    <span>Отправлен платеж на возврат средств
        {% if deal['type_ident'] == 'T' %}
            покупателю.
        {% else %}
            заказчику.
        {% endif %}
    </span>
</p>