<div class="row">
    <h4 class="form-inline">
        Банковские реквизиты
        <?php if (!$this->isOperator):?>
            <a href="<?= $this->url('user-profile/legal-entity-bank-detail-form-edit', [
                'idBankDetail' => $this->bankDetail->getId(),
            ]) ?>" class="form-group">
                изменить
            </a>
            <a href="<?= $this->url('user-profile/legal-entity-bank-detail-form-delete', [
                'idBankDetail' => $this->bankDetail->getId()
            ]) ?>" class="form-group">
                удалить
            </a>
        <?php endif; ?>
    </h4>
    <table>
        <tr>
            <td>Расчетный счет:</td>
            <td><?=$this->bankDetail->getCheckingAccount();?></td>
        </tr>
        <tr>
            <td>Наименование банка:</td>
            <td><?=$this->bankDetail->getName();?></td>
        </tr>
        <tr>
            <td>Корресподентский счет:</td>
            <td><?=$this->bankDetail->getCorrespondentAccount();?></td>
        </tr>
        <tr>
            <td>БИК:</td>
            <td><?=$this->bankDetail->getBic();?></td>
        </tr>
    </table>
</div>