.big-input{
  background-color: transparent;
  border: 1px solid #FFFFFF;
  width: 100%;
  outline: none;
  padding: 0 20px;
  border-radius: 3px;
  height: 50px;
  font-family: Lato, Arial, sans-serif;

  @media (max-width: @grid-breakpoint-md){
    height: 46px;
  }

  @media (max-width: @grid-breakpoint-sm){
    font-size: 16px;
  }

}
