.btn{
  width: 100%;
  font-weight: 500;
  line-height: 18px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat, Arial, sans-serif;
  border-radius: 2px;
  outline: none;
  border: 1px solid #fff;
  box-shadow: none;
  display: block;
}