.Burger {
  width: 25px;
  height: 20px;
  position: relative;
  border-radius: 50%;
  transform: rotate(0deg);
  opacity: 1;
  transition: .5s ease-in-out;
  cursor: pointer;

  & span {
    display: block;
    position: absolute;
    left: 0;  right: 0;
    margin: 0 auto;
    height: 4px;
    width: 25px;
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    transition: .7s ease-in-out
  }


  & span:nth-child(1) {
    top: 0;
    transform-origin: left center;
  }

  & span:nth-child(2) {
    top: 8px;
    transform-origin: left center;
  }

  & span:nth-child(3) {
    top: 16px;
    transform-origin: left center;
  }
}
