@import './btn';
.button-action{
  .btn;
  color: #fff;
  text-align: center;
  padding: 15px 4px 13px;
  text-decoration: none;
  transition: color .4s;
  position: relative;
  background-color: transparent;
  backface-visibility: hidden;
  z-index: 1;

  .button-action__text{
    position: relative;
    z-index: 1;
  }

  @media (max-width: @grid-breakpoint-md){
    line-height: 14px;
    font-size: 14px;
    padding: 10px 0;
  }

  &:before{
    content: '';
    width: 100%;
    transform: scaleX(0);
    transition: transform .4s;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    bottom: -1px;
    z-index: -1;
  }

  &[disabled], &.is-disabled{
    cursor: default;
    border-color: @secondary-links-color !important;

    &:before{
      background-color: @secondary-links-color !important;
    }

  }

  &:not(:disabled):not(.is-disabled):hover{
    color: @main-dark-color;

    &:before{
      transform: none;
    }

  }

  &.button-action_type-filed{
    color: @main-dark-color;

    &:before{
      transform: none;
    }

    &:not(:disabled):not(.is-disabled):hover{
      color: #fff;

      &:before{
        transform: scaleX(0);
      }

    }

  }

  &.button-action_type-filed_color-blue{
    color: #fff;
    border-color: @active-color;
    line-height: 18px;
    font-size: 16px;
    padding: 15px 5px 13px;

    &:before{
      background-color: #2F80ED;
    }

    &:not(:disabled):not(.is-disabled):hover{
      color: @active-color;
    }

  }

}