.category-links{
  margin-bottom: 30px;

  @media (max-width: @grid-breakpoint-md){
    margin-bottom: 20px;
  }

  @media (max-width: @grid-breakpoint-sm){
    margin-bottom: 15px;
  }

  .category-links__title{
    color: @main-dark-color;
    font-family: Lato, Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.3px;
    margin: 0 0 3px;
    text-transform: uppercase;

    @media (max-width: @grid-breakpoint-sm){
      margin: 0 0 7px;
    }

  }

  .category-links__link{
    color: @links-color;
    font-family: Lato, Arial, sans-serif;
    font-weight: 500;
    line-height: 30px;
    font-size: 14px;
    text-decoration: none;

    @media (max-width: @grid-breakpoint-md){
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    @media (max-width: @grid-breakpoint-sm){
      font-size: 12px;
      line-height: 20px;
    }

    @import (multiple) './link-with-underline';
    .link-with-underline(@links-color);
  }

  & > div{
    @media (max-width: @grid-breakpoint-md){
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

}