.DropDown-Menu {
  position: absolute;
  top: 100%;
  right: 0;
  margin: 0;
  width: @grid_3-col;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
  li {
    display: block;
    margin: 0;
    padding: 0;
    a {
      display: block;
      width: auto;
      padding: @padding-link_y @padding-link_x;
      line-height: 21px;
      background-color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      color: @_New_text-color;
      &:hover {
        text-decoration: none;
        background-color: #F1F4F8;
        color: @text-color;
      }
      .DropDown-MenuIcon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
      }
    }
  }
}