.dropdown__arrow{
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 0;
  display: inline-block;
  transition: transform .4s;

  &:before, &:after{
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background-color: #7D8AA4;
    position: absolute;
    bottom: 0;
    transition: background-color .4s;
  }

  &:before{
    transform-origin: 0 50%;
    transform: rotateZ(45deg);
    left: 0;
  }
  &:after{
    transform-origin: 100% 50%;
    transform: rotateZ(-45deg);
    right: 0;
  }

}