.fade-enter {
   opacity: 0.5;
 }
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-appear {
  opacity: 0.6;
}
.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-leave {
  opacity: 1;
}
.fade-leave-active {
  opacity: 0.6;
  transition: opacity 500ms ease-in;
}