.footer-links-group{

  .footer-link{
    margin-bottom: 5px;
  }

  a{
    font-family: Lato, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    font-size: 14px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: #FFFFFF;

    @media (max-width: @grid-breakpoint-sm){
      &:not(.social-link){
        text-align: center;
        width: 100%;
      }
    }

    &.social-link{
      display: inline-block;

      @media (max-width: @grid-breakpoint-md){
        font-size: 0;
      }

      &:before{
        content: '';
        width: 20px;
        height: 20px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;

        @media (max-width: @grid-breakpoint-md){
          margin-right: 0;
        }

      }

      &.social-link_type_insta:before{
        background-image: url('/img/landing/socials/icon-insta.svg');
      }
      &.social-link_type_fb:before{
        background-image: url('/img/landing/socials/icon-fb.svg');
      }
      &.social-link_type_vk:before{
        background-image: url('/img/landing/socials/icon-vk.svg');
      }
      &.social-link_type_yt:before{
        background-image: url('/img/landing/socials/icon-yt.svg');
      }

    }

  }

}