.footer-title{
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 16px;
  letter-spacing: -0.3px;
  color: #C5C5C5;
  margin: 0 0 30px;

  & > span{
    position: relative;
    display: inline-block;

    label{
      cursor: text;

      @media (max-width: @grid-breakpoint-md){
        cursor: pointer;
      }

    }

    &:after{
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      transition: height .4s;
      height: 1px;
      background-color: @offer-note-color;
      opacity: .6;
    }
  }



  &.mobile-dropdown{
    @media (max-width: @grid-breakpoint-md){
      border-top: 1px solid #c5c5c5;
      //border-bottom: 1px solid #c5c5c5;
      padding: 20px 0;
      margin-bottom: 0;
      position: relative;

      & ~ .footer-links-group{
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s ease-out;
        position: relative;
      }

      span, label{
        display: block;
        width: 100%;

        @media (max-width: @grid-breakpoint-sm){
          text-align: center;
        }

        &:after{
          display: none;
        }
      }

    }

    @import (multiple) '../atoms/dropdown-arrow';
    .dropdown__arrow{
      display: none;

      @media (max-width: @grid-breakpoint-md){
        display: inline-block;
      }

    }

  }

}