.footer-note{
  color: #FFFFFF;
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  font-size: 12px;
  text-align: center;

  @media (@grid-breakpoint-md){
    line-height: 20px;
  }

}