.form-message{
  color: #fff;
  font-size: 24px;
  line-height: 25px;
  position: relative;
  animation: fadeInUp 1s ease 0s 1 backwards;
  display: none;

  @media (max-width: @grid-breakpoint-sm){
    font-size: 20px;
    line-height: 22px;
  }

}