.gp-foundation{
  width: 67.3%;
  height: 55px;
  border: 2px solid #3C4458;
  background-color: #fff;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;

  .gp-foundation__nail{
    position: absolute;
    width: 4px;
    height: 4px;
    border: 1px solid @main-dark-color;
    border-radius: 100%;

    &.gp-foundation__nail_pos_left-top{
      left: 3px;
      top: 3px;
    }
    &.gp-foundation__nail_pos_right-top{
      right: 3px;
      top: 3px;
    }
    &.gp-foundation__nail_pos_right-bottom{
      right: 3px;
      bottom: 3px;
    }
    &.gp-foundation__nail_pos_left-bottom{
      left: 3px;
      bottom: 3px;
    }

  }

  .gp-foundation__content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .gp-foundation__company-name{
    margin-left: 10px;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    font-size: 16px;
    color: @main-dark-color;
  }

}