.icon-pause {
  display: block;
  position: relative;
  width: 12px;
  height: 15px;
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    background-color: #3C4458;
    height: 100%;
    width: 4px;
    top: 0;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}