.IconSocial {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.IconSocial + .IconSocial {
  margin-left: 30px;
}
@import (multiple) "IconFacebook";
@import (multiple) "IconInstagram";
@import (multiple) "IconVk";