.input-with-placeholder{
  position: relative;
  z-index: 1;

  input{
    background-color: transparent;
    position: relative;
    z-index: 1;

    &:focus ~ .input-with-placeholder__text{
      display: none;
    }

  }

  .input-with-placeholder__text{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    &.is-hidden{
      display: none;
    }

  }

}