
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  padding: 0;
  line-height: normal;
  position: relative;
  cursor: pointer;
  //height: 2px;
}

input[type=range]:focus {
  outline: none;

}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background: @accent-color;
  cursor: pointer;
  transform: rotate(45deg);
  margin-top: 5px;
  border: none;
  box-shadow: none;
  border-radius: 0;
  @media (max-width: @mobile) {
    margin-top: 7px;
    width: 15px;
    height: 15px;
  }
}

input[type=range]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  background: @accent-color;
  cursor: pointer;
  border-radius: 0;
  transform: rotate(45deg);
  border: none;
  @media (max-width: @mobile) {
    width: 15px;
    height: 15px;
  }
}

input[type=range]::-ms-thumb {
  height: 10px;
  width: 10px;
  background: @accent-color;
  cursor: pointer;
  transform: rotate(45deg);
  border: none;
  margin: 15px 5px 0 5px;
  @media (max-width: @mobile) {
    margin-top: 17px;
    width: 15px;
    height: 15px;
  }
}

//Runnable Track
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: @accent-color;
  color: transparent;
  @media (max-width: @mobile) {
    height: 3px;
  }
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #ffffff;
  color: transparent;
  border-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  @media (max-width: @mobile) {
    height: 3px;
  }
}

input[type=range]::-moz-range-progress {
  background: @accent-color;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  width: 100%;
  height: 2px;
  box-shadow: none;
  @media (max-width: @mobile) {
    height: 3px;
  }
}

input[type=range]::-ms-fill-lower {
  background: @accent-color;
}

input[type=range]::-ms-fill-upper {
  background: #ffffff;
}

