/**
@underLineColor - Цвет подчеркивания
@isReversed {bool, false} - Направление анимации, по умолчанию линия показана и уменьшается по ховеру
 */
.link-with-underline(@underLineColor, @isReversed: false){
  position: relative;

  .onForwardDirection(@isReversed) when not (@isReversed){
    &:after{
      transform: scaleX(1);
      transform-origin: left center;
    }
    &:hover{
      &:after{
        transform: scaleX(0.0000001);
        transform-origin: right center;
      }
    }
  }
  .onReversedDirection(@isReversed) when (@isReversed){
    &:after{
      transform: scaleX(0.0000001);
      transform-origin: right center;
    }
    &:hover{
      &:after{
        transform: scaleX(1);
        transform-origin: left center;
      }
    }
  }

  .onForwardDirection(@isReversed);
  .onReversedDirection(@isReversed);

  &:after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: @underLineColor;
    opacity: .6;
    transition: transform .4s;
    height: 1px;
    width: 100%;
  }

}
