.login-popup__field{
  text-align: center;
  letter-spacing: -0.2px;
  border-top: 1px solid #F6F7F9;
  height: 40px;

  &:nth-child(1){
    border-top: none;
  }

  input{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
    font-family: Lato, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    font-size: 14px;
    outline: none;
  }

}