.Logo {
  text-decoration: none;
  display: inline-block;
  min-width: 113px;
  width: 113px;
  height: 50px;
  background: url(../../../img/landing/logo.png) no-repeat;
  background-size: cover;
  opacity: 1;
}