.LogoAnimated {
  position: relative;
  text-decoration: none;
  display: inline-block;
  min-width: 113px;
  width: 115px;
  height: 50px;
  opacity: 1;
  padding-bottom: 18px;
  cursor: pointer;
  user-select: none;
  .Topline {
    display: block;
    text-align: center;
  }
  .G__wrapper, .P__wrapper {
    display: inline-block;
    vertical-align: top;
  }
  .G {
    vertical-align: top;
    display: inline-block;
    width: 24px;
    height: 28px;
    background: url(../../../img/landing/logo-G.svg) no-repeat;
    background-size: contain;
  }
  .P {
    vertical-align: top;
    display: inline-block;
    width: 24px;
    height: 32px;
    background: url(../../../img/landing/logo-P.svg) no-repeat;
    background-size: contain;
  }
  .Bottom {
    position: absolute;
    top: 39px;
    left: 0;
    width: 100%;
    display: block;
    text-align: center;
  }
  .LogoAnimated-Text {
    display: inline-block;
    width: 100%;
    height: 11px;
    background: url(../../../img/landing/logo-text.svg) no-repeat;
    background-size: contain;
  }
}
// Анимация съедания текста
.LogoAnimated.eat {
  animation-name: shiftLogo;
  animation-delay: 1.5s;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  .G__wrapper, .P__wrapper, .G , .P {
    animation-delay: .5s;
    animation-duration: 1s;
    animation-timing-function: ease;
  }
  .G__wrapper {
    animation-name: shiftG;
  }
  .G {
    animation-name: openG;
  }
  .P__wrapper {
    animation-name: shiftP;
  }
  .P {
    animation-name: openP;
  }

  .LogoAnimated-Text, .Bottom {
    animation-delay: .8s;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  .Bottom {
    animation-name: shiftText;
  }
  .LogoAnimated-Text {
    animation-name: disappearText;
  }
}
// Анимация выплевывания текста
.LogoAnimated.out {
  animation-name: shiftLogo;
  animation-delay: 0s;
  animation-duration: .3s;
  animation-direction: reverse;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  .G__wrapper, .P__wrapper, .G , .P {
    animation-delay: .5s;
    animation-duration: 1.2s;
    animation-timing-function: ease;
  }
  .G __wrapper {
    animation-name: shiftG;
  }
  .G  {
    animation-name: openG;
  }
  .P__wrapper {
    animation-name: shiftP;
  }
  .P {
    animation-name: openP;
  }

  .LogoAnimated-Text, .Bottom {
    animation-delay: .9s;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: reverse;
  }
  .Bottom {
    animation-name: shiftText;
  }
  .LogoAnimated-Text {
    animation-name: disappearText;
  }
}

.LogoAnimated.scrolled {
  padding-bottom: 18px;
  padding-top: 0;
  .LogoAnimated-Text {
    height: 0;
    width: 0;
  }
}
.LogoAnimated.eat.scrolled {
  padding-bottom: 18px;
  padding-top: 0;
  .Bottom {
    top: 39px;
    left: 0;
  }
  .LogoAnimated-Text {
    width: 100%;
    height: 11px;
  }
}
/*.LogoAnimated:hover {
  .G__wrapper, .P__wrapper{
    animation-duration: .5s;
    animation-timing-function: ease;
  }
  .G__wrapper {
    animation-name: hoverG;
  }
  .P__wrapper {
    animation-name: hoverP;
  }
}*/

@keyframes openG {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(55deg);
  }
  70% {
    transform: rotate(55deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes openP {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-55deg);
  }
  70% {
    transform: rotate(-55deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes shiftG {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-10px);
  }
  70% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes shiftP {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes disappearText {
  0% {
    height: 11px;
    width: 100%;
  }
  100% {
    height: 0;
    width: 0;
  }
}
@keyframes shiftText {
  0% {
    top: 39px;
  }
  100% {
    top: 35px;
  }
}
@keyframes shiftLogo {
  0% {
    padding-bottom: 18px;
    padding-top: 0;
  }
  100% {
    padding-bottom: 0;
    padding-top: 10px;
  }
}
@keyframes hoverG {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-5px);
  }
  70% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes hoverP {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}