.Logo-Container {
  text-decoration: none;
  display: inline-block;
  width: 113px;
  opacity: 1;
  .G {
    vertical-align: top;
    display: inline-block;
    width: 22px;
    height: 25px;
    background: url(../../../img/landing/logo-G.svg) no-repeat;
    background-size: contain;
  }
  .P {
    vertical-align: top;
    display: inline-block;
    width:22px;
    height: 28px;
    background: url(../../../img/landing/logo-P.svg) no-repeat;
    background-size: contain;
  }
   .LogoAnimated-Text {
    display: inline-block;
    width: 113px;
    height: 11px;
    background: url(../../../img/landing/logo-text.svg) no-repeat;
    background-size: contain;
  }
}
