#content-wrapper{
  overflow: hidden;
}
html, body, #content-wrapper{
  position: relative;

  &.popup-is-open{
    overflow: hidden;
    height: 100%;
  }

  //Стили при открытом меню
  &.menu-is-open{

    .menu-burger{
      transform: rotateZ(90deg);

      span:nth-child(1){
        transform: translateY(0) rotate(45deg);
      }
      span:nth-child(2){
        opacity: 0;
      }
      span:nth-child(3){
        transform: translateY(0) rotate(-45deg);
      }

    }

    .main-nav-wrapper{
      opacity: 1;
      left: 0;
      transition: opacity .4s;
    }

  }
}