.menu-burger{
  font-size: 0;
  width: 20px;
  height: 20px;
  padding: 4px 1px;
  cursor: pointer;
  float: right;
  margin-top: 5px;
  transition: transform .4s cubic-bezier(0, 0.985, 0.17, 0.99);
  position: relative;
  z-index: 4;

  @media (min-width: (@grid-breakpoint-md + 1)){
    display: none;
  }

  @media (max-width: @grid-breakpoint-sm){
    margin-top: 1px;
  }

  span{
    display: block;
    height: 3px;
    background-color: #fff;
    margin-bottom: 2px;
    transition-property: opacity, transform, top;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0, 0.985, 0.17, 0.99);
    position: relative;
    transform-origin: 0 50%;
    width: 80%;

    &:nth-child(2){
      width: 100%;
    }

    &:last-child{
      margin-bottom: 0;
    }

  }

}