.nav-item{
  margin-right: 15px;

  &.nav-item_with-dropdown{
    position: relative;
    padding-right: 17px;

    @import (multiple) 'dropdown-arrow';

    .dropdown-checkbox{
      display: none;

      &:checked{

        & ~ .login-popup{
          opacity: 1;
          right: 0;
          transition: opacity .4s;
        }

        & ~ .nav-link .dropdown__arrow{
          transform: translateY(-50%) rotateZ(180deg);
        }

      }

    }

    .dropdown__arrow{
      width: 10px;
      height: 16px;
      right: -16px;

      &:before, &:after{
        width: 8px;
        background-color: #fff;
        bottom: 50%;
      }

    }

  }

  &:last-child{
    margin-right: 0;
  }

  @media (max-width: @grid-breakpoint-md){
    margin-right: 0;
    margin-bottom: 20px;
  }

  @media (max-width: @grid-breakpoint-xs){
    margin-bottom: 4px;
  }

  &.nav-item_desktop-hidden{
    display: none;

    @media (max-width: @grid-breakpoint-md){
      display: block;
    }

  }

  &.nav-item_tablet-hidden{
    @media (max-width: @grid-breakpoint-md){
      display: none;
    }
  }

}