.nav-link{
  font-family: Lato, Arial, sans-serif;
  line-height: 20px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  @media (max-width: @grid-breakpoint-md){
    font-weight: 900;
    font-size: 22px;
    padding: 10px 0;
    display: block;
    color: @secondary-links-color;

    &:after{
      display: none;
    }

  }

  @media (max-width: @grid-breakpoint-sm){
    font-size: 20px;
    text-align: center;
  }

  @media (max-width: @grid-breakpoint-xs){
    font-size: 17px;
  }

  @import (multiple) './link-with-underline';
  .link-with-underline(#fff);
}