.PartnersIcon {
  display: inline-block;
  text-decoration: none;
  border: none;
  width: 37px;
  height: 25px;
  background-size: contain;
}
.PartnersIcon_large {
  height: 125px;
  width: 200px;
}
.PartnersIcon_mastercard {
  background: url(../../../img/mastercard-2.svg) no-repeat center;
}
.PartnersIcon_mastercard2.PartnersIcon_large {
  background-size: contain;
}
.PartnersIcon_mastercard2 {
  background: url(../../../img/mastercard.svg) no-repeat center;
}
.PartnersIcon_mastercardSecurity {
  background: url(../../../img/master_card-security-code.svg) no-repeat center;
}
.PartnersIcon_mir {
  background: url(../../../img/mir.svg) no-repeat center;
  background-size: 100% 75%;
}
.PartnersIcon_pci {
  background: url(../../../img/pci-icon.svg) no-repeat center;
}
.PartnersIcon_visa {
  background: url(../../../img/visa.svg) no-repeat center;
  background-size: 100% 75%;
}
