.partners-list{
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: @grid-breakpoint-md){
    margin: 0 -10px;
    flex-wrap: wrap;
  }

  .partner{
    @media (max-width: @grid-breakpoint-md){
      width: 25%;
      padding: 0 10px;
      text-align: center;
      margin-bottom: 10px;
    }

    img{

      @media (max-width: @grid-breakpoint-sm){
        max-height: 30px;
      }

    }

  }

}