.payment-variants{
  margin-top: 16px;

  .payment-variant{
    background-color: #fff;
    border-radius: 2px;
    height: 40px;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    margin: 0 auto;

    img{
      width: 100%;
    }

  }

}