.phone-deal-condition{

  &__title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    font-size: 14px;
    color: #3C4458;
    margin-bottom: 3px;
  }

  &__value{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    font-size: 14px;
    color: #3C4458;
  }

}