.phone-message-app{
  background: url("/img/landing/phone-bg.jpg") no-repeat center;
  background-size: cover;
  border-radius: 2px;
  padding: 4px 6px 0;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;

  .fulltime {
    font-family: SFCompactText;
    text-align: center;
    color: #ffffff;

    .fulltime__time {
      font-size: 43px;
      line-height: 43px;
      font-family: SFCompactDisplay;
      font-weight: 100;
    }

    .fulltime__date{
      font-size: 14px;
      line-height: 20px;
    }

  }

  .phone-message-app_time{
    margin-top: 34px;
  }

  .phone-message-app__container {
    padding: 13px 0 0;
    overflow-y: hidden;
    height: calc(~"100% - 71px"); // height of fulltime block
  }
  .phone-message-app__item {
    overflow: visible !important; // Для jquery анимации
  }
  .phone-message-app__item + .phone-message-app__item {
    margin-top: 6px;
  }

  @import (multiple) './phone-message';
}