.phone-select-field{
  margin-bottom: 5px;

  &__label{
    font-family: Roboto;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.0016px;
    color: #3C4458;
    margin-bottom: 6px;
  }

  &__input{
    width: 100%;
    position: relative;
    background: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    box-sizing: border-box;
    border: 1px solid;
    padding: 0 12px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #354052;
    font-family: Lato, Arial, sans-serif;
    border-radius: 4px;

    &.is-valid{
      border-color: #09C199;
    }
    &.is-focused{
      border-color: #1991EB;
    }

    &:after{
      content: '';
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      background: url('../../../img/landing/phone-input-arrow.svg') no-repeat center center;
      width: 16px;
      height: 16px;
    }

  }

}