.phone-radio-button{
  margin-bottom: 5px;

  &__input{
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #C5D0DE;
    box-sizing: border-box;
    margin-right: 8px;
    display: inline-block;
    position: relative;

    &_is-selected{
      &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 4px solid #1991EB;
        box-sizing: border-box;
      }
      &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 1px solid #1682D3;
        box-sizing: border-box;
      }
    }

  }

  &__label{
    color: #354052;
    line-height: 24px;
    font-size: 14px;
    font-family: Roboto;
    display: inline;
  }

}