.phone-text-field{
  &__label{
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    color: #354052;
    margin-bottom: 6px;
  }

  &__input{
    max-width: 100%;
    width: 100%;
    color: #354052;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #C5D0DE;
    padding: 0 12px;
    height: 36px;
    margin-bottom: 0;
    &.is-valid{
      border-color: #09C199;
    }
    &.is-focused{
      border-color: #1991EB;
    }

  }
}