.phone-header{
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(179, 179, 179, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 6px;
  margin-bottom: 16px;

  &__burger{
    width: 15px;
    height: 3px;
    display: inline-block;
    position: relative;
    background-color: #2F80ED;

    &:before, &:after{
      content: '';
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 3px;
      left: 0;
      background-color: #2F80ED;
    }

    &:before{
      top: -5px;
    }
    &:after{
      bottom: -5px;
    }

  }

  &__logo{
    background: url('../../../img/landing/gp-phone-logo.svg') center center no-repeat;
    width: 141px;
    height: 20px;
  }

  &__user-logo{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #1991EB url('../../../img/landing/phone-header-avatar.svg') center center no-repeat;
  }

}