.phone-group{
  margin-bottom: 21px;

  &:last-child{
    margin-bottom: 0;
  }

  .phone-group__title{
    font-family: Lato, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 12px;
    color: #C5C5C5;
    margin-bottom: 7px;
  }

  .phone-group__value{
    font-family: Lato, Arial, sans-serif;
    font-size: 24px;
    letter-spacing: -0.45px;
    color: #FFFFFF;

    a{
      color: inherit;
      font: inherit;
      text-decoration: none;
    }
  }

}