.phone-button-apply{
   background-color: #1991EB;
   width: 100%;
   outline: none;
   border-radius: 4px;
   height: 36px;
   line-height: 36px;
   color: #FFFFFF;
   font-family: Lato, Arial, sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   text-align: center;
   text-transform: uppercase;
   border: none;

   &_type_default{
      background: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 98.44%);
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      color: #354052;
      border: 1px solid #C5D0DE;
   }
   @keyframes button-apply-clicked {
      50% {
         transform: translateY(5px);
         background: #CED2DB;
      }
      100% {
         transform: translateY(0);
         background: @green-color;
      }
   }
   &.active {
      animation-name: button-apply-clicked;
      animation-duration: .3s;
      animation-fill-mode: forwards;
   }
}


