.phone-message{
  background-color: #DEDEDE;
  border-radius: 10px;
  padding: 1px 6px 9px;
  font-family: SFCompactText;
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 6px;

  &.hidden {
    opacity: 0;
  }

  .phone-message-head{
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .phone-message-head__app-name{
    text-transform: uppercase;
    color: #3C4458;
    font-size: 10px;

    &:before{
      content: '';
      width: 12px;
      height: 12px;
      background: url("/img/landing/sms-icon.svg") no-repeat center;
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px;
      background-size: 100%;
    }

  }

  .phone-message-head__when{
    color: @main-dark-color;
    font-size: 8px;
    letter-spacing: 0.5px;
  }

  .phone-message__from{
    color: #191C1F;
    font-family: SFProText;
    margin-bottom: 2px;
    font-size: 10px;
    line-height: 10px;
    font-weight: 600;
  }

  .phone-message__text{
    color: @main-dark-color;
    font-size: 12px;
    line-height: 12px;

  }

}