.popup{
  position: fixed;
  left: -10000px;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  transition: opacity .4s, left 0s linear 0s;
  background-color: rgba(25, 28, 31, .9);

  &.is-open{
    opacity: 1;
    left: 0;
    transition: opacity .4s;
  }

}