.preloader{
  background-color: #fff;
  z-index: 12;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .preloader__icon{
    height: 56px;
    width: 56px;
    position: relative;
    border: 8px solid @text-color;
    border-radius: 100%;

    &:before{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 100%;
      border: 8px solid transparent;
      border-left-color: @active-color;
      margin: -8px;
      animation: loader-rotation 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
    }

  }

  @keyframes loader-rotation{
    to{
      transform: rotate(3turn);
    }
  }


}
.no-js{
  .preloader{
    display: none;
  }
}