.scroll-top-button{
  @halfContainerWidth: (@container-max-width / 2);
  @buttonColor: @accent-color;

  font-family: Lato, Arial, sans-serif;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 64px;
  left: 500%;
  opacity: 0;
  transform: translateX(-100%);
  z-index: 3;
  cursor: pointer;
  transition: opacity .4s, left 0s linear .4s, bottom .4s;

  &.is-visible{
    transition: opacity .4s, bottom .4s;
    opacity: 1;
    left: ~'calc(50% + @{halfContainerWidth})';

    @media (max-width: @container-max-width){
      left: ~'calc(100% - 20px)';
    }

  }

  &.is-above-of-footer{
    bottom: 174px;
  }

  .scroll-top-button__arrows{
    position: relative;
    width: 36px;
    height: 36px;
    border: 1px solid @buttonColor;
    border-radius: 100%;

    &:after, &:before{
      content: '';
      border-left: 2px solid @buttonColor;
      border-top: 2px solid @buttonColor;
      position: absolute;
      width: 8px;
      height: 8px;
      left: 50%;
      transform: translateX(-50%) rotateZ(45deg);
      animation-name: arrowsAnimation;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
    }

    &:before{
      top: 11px;
    }
    &:after{
      top: 17px;
      animation-delay: .5s;
    }

  }

  .scroll-top-button__text{
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    color: @buttonColor;
    font-weight: bold;
  }

  @keyframes arrowsAnimation {

    0%{
      opacity: 1;
    }

    50%{
      opacity: .5;
    }

    100%{
      opacity: 1;
    }

  }

}
