.section-divider{
  width: 100%;
  background-color: @light-grey-color;
  height: 1px;
  border: none;
  opacity: .5;
  margin-top: 39px;
  margin-bottom: 40px;

  @media (max-width: @grid-breakpoint-md){
    margin-top: 19px;
    margin-bottom: 20px;
  }

}