.section-main-content{
  font-family: Lato, Arial, sans-serif;
  font-weight: normal;
  line-height: 20px;
  font-size: 16px;
  color: @section-content-color;

  @media (max-width: @grid-breakpoint-md){
    font-size: 14px;
    line-height: 22px;
  }
  @media (max-width: @grid-breakpoint-sm){
    line-height: 20px;
    font-size: 12px;
    letter-spacing: 0;
  }

  ul{
    list-style: none;

    li{
      margin-bottom: 20px;
      display: flex;

      @media (max-width: @grid-breakpoint-md){
        margin-bottom: 16px;
      }

      @media (max-width: @grid-breakpoint-sm){
        margin-bottom: 20px;
        display: list-item;
      }

      &:before{
        content: '';
        width: 4px;
        height: 4px;
        display: block;
        background-color: @section-content-color;
        margin-right: 8px;
        margin-top: 9px;
        flex: none;

        @media (max-width: @grid-breakpoint-md){
          margin-right: 10px;
        }

        @media (max-width: @grid-breakpoint-sm){
          margin-top: 0;
          margin-right: 6px;
          vertical-align: middle;
          display: inline-block;
        }

      }

      &:last-child{
        margin-bottom: 0;
      }

      & > div{
        display: inline;
        position: relative;
        left: -7px;
      }

    }

  }

}