.section-title{
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.6px;
  color: @section-content-color;
  margin: 0 0 36px;
  display: flex;
  align-items: center;
  text-transform: none;

  @media (max-width: @grid-breakpoint-md){
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 40px;
    letter-spacing: -0.1px;
  }
  @media (max-width: @grid-breakpoint-sm){
    margin-bottom: 19px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
  }

  &.section-title_with-icon{
    &:before{
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      flex: none;
    }
  }

}