select {
  background: transparent;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  flex-basis: 100%;
  height: 74px;
  padding: 15px 15px 20px 15px;
  border: 1px solid transparent;
  @media (max-width: @mobile) {
    padding: 5px;
  }
}
select:focus {
  border: 1px solid #ffffff;
  outline: none;
}