.slider-menu-header{
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: @main-dark-color;
  text-align: center;
  text-transform: uppercase;
  height: 80px;
  line-height: 89px;
  border-bottom: 1px solid #F6F7F9;
  cursor: pointer;

  @media (min-width: (@grid-breakpoint-sm + 1)){
    display: none;
  }

  &:before{
    content: '';
    display: inline-block;
    background: url('/img/landing/slider-menu-icon.svg') no-repeat center;
    width: 15px;
    height: 15px;
    margin-right: -20px;
    position: relative;
    left: -23px;
  }

}