.slide-title{
  color: #FFFFFF;
  font-weight: 300;
  line-height: 70px;
  font-size: 56px;
  margin: 0;
  font-family: Lato, Arial, sans-serif;
  font-weight: 300;
  text-transform: none;
  text-shadow: 0px 0.5px 1px rgba(53, 64, 82, 0.2);

  @media (max-width: @grid-breakpoint-md){
    font-size: 36px;
    line-height: 40px;
  }
  @media (max-width: @grid-breakpoint-sm){
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }

}