.slide-description{
  color: #FFFFFF;
  line-height: 30px;
  font-size: 20px;
  letter-spacing: -0.375px;
  font-family: Lato, Arial, sans-serif;
  font-weight: 400;
  text-shadow: 0 0.5px 1px rgba(53, 64, 82, 0.2);

  @media (max-width: @grid-breakpoint-md){
    line-height: 20px;
    font-size: 16px;
  }
  @media (max-width: @grid-breakpoint-sm){
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 16px;
  }

  a{
    color: inherit;
    text-decoration: none;

    @import (multiple) './link-with-underline';
    .link-with-underline(#fff);

  }

}
