.slider-control-item{
  text-align: center;
  font-family: Lato, Arial, sans-serif;
  font-weight: 500;
  line-height: 20px;
  font-size: 18px;
  color: #7E8FA4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 33px 0 34px;
  text-transform: uppercase;
  position: relative;
  transition: color .5s;
  cursor: pointer;
  user-select: none;

  @media (max-width: @grid-breakpoint-md){
    padding-top: 36px;
  }
  @media (max-width: @grid-breakpoint-sm){
    padding-bottom: 20px;
    padding-top: 26px;
    font-size: 16px;
    border-bottom: 1px solid #F6F7F9;

    &:nth-child(odd){
      border-right: 1px solid #F6F7F9;
    }

  }

  &:hover{
    color: @main-dark-color;
  }

  &.active{
    @media (min-width: (@grid-breakpoint-sm + 1)){
      color: @main-dark-color;
      cursor: default;
    }
  }

}