.slide-image{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #7E8FA4;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  transition: transform .5s ease 2.2s;
  filter: blur(4px);
  transform: none;

  &:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #3C4458;
    opacity: 0.35;
  }

}