.user-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  flex: none;

  .user-avatar__image{
    background-color: #FFFFFF;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

}