.user-menu{
  position: absolute;
  background: #fff;
  width: 100%;
  min-width: 160px;
  border-radius: 3px;
  top: 100%;
  right: -100000px;
  transform: translateY(-20px);
  opacity: 0;
  transition: opacity .4s, transform .4s, right 0s linear .4s;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(53, 64, 82, 0.2);

  @media (max-width: @grid-breakpoint-md){
    position: static;
    opacity: 1;
    transform: none;
    background-color: transparent;

  }

  .user-menu__item{
    width: 100%;

  }

  .user-menu__link{
    font-family: Lato, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    font-size: 14px;
    padding: 11px 20px;
    letter-spacing: -0.2px;
    color: @main-dark-color;
    width: 100%;
    display: block;
    transition: background-color .4s;
    text-decoration: none;

    &:hover{
      background-color: @grey-list-hover-color;
    }

    &.user-menu__link_create-deal{
      color: @links-color;
    }

    @media (max-width: @grid-breakpoint-md){
      color: #fff;
      font-size: 28px;
      line-height: 34px;
    }

  }

}