@import "variables";
@import "core/grid";

@import (multiple) "atoms/ripple-button";
@import (multiple) "components/Header";

@import (multiple) 'atoms/progress-bar';

#carrotquest-messenger-collapsed{
  top: calc(~"100% - 110px") !important;
  padding: 0 15px 0 0 !important;
}

.Main {
  width: 100%;
  padding-top: 100px;
  display: table;
  table-layout: fixed;
  overflow: auto;
  height: 100%;
  position: relative;
  @media (max-width: @grid-breakpoint-lg) {
    padding-top: 65px;
  }


  @import (multiple) "components/LeftMenu";

  .Content {
    width: 100%;
    height: 100%;
    display: table-cell;
    background-color: #ffffff;
    vertical-align: top;
    overflow: hidden;
    padding-left: 0;

    &.Content_noMenu {
      padding-left: 0;
    }

    @import (multiple) "components/Popup";

    .map-popup{
      .Popup-Container.open .Popup{
        max-width: 928px;

        .Popup-Content{
          padding: 0;
        }

      }

    }

    @import (multiple) "molecules/mobile-profile-title";
    @import (multiple) "atoms/Preloader";

    @import (multiple) "pages/ProfilePage";
    @import (multiple) "pages/CivilLawSubjectPage";
    @import (multiple) "pages/DealShowPage";
    @import (multiple) "pages/DisputeCreatePage";
    @import (multiple) "pages/DisputeShowPage";
    @import (multiple) "pages/DisputeClosePage";
    @import (multiple) "pages/PageForm";
    @import (multiple) "pages/PageTable";
    @import (multiple) "pages/Page404";
    @import (multiple) "pages/MessagePage";
    @import (multiple) "pages/PaymentListPage";
    @import (multiple) "pages/ResponsePage";
    @import (multiple) "pages/ContactsPage";
    @import (multiple) "pages/OverpayPage";
    @import (multiple) "organisms/form-error-report";
    @import (multiple) "../landing/atoms/captcha-wrapper";
  }

  @media (max-width: @mobile){
    //Мобильные устройства увеличивают инпуты, если в них размер шрифта меньше 16px
    select,
    textarea,
    input {
      font-size: 16px !important;
    }
  }

}