@media (max-width: @small) {
  .no-js .Main .Content section.DealShowPage .DealShowPage-Header .TimelineRectangle div.TimelineRectangle-Wrap {
    display: block;
  }
}

.no-js {
  .Main .Content {
    section#CardNaturalPerson {
      visibility: visible;
    }
    section#CardLegalEntity {
      visibility: visible;
    }
    section#CardSoleProprietor {
      visibility: visible;
    }
    section.ProfilePage .ProfilePage-Main .Tab #natural-person {
      visibility: visible;
    }
    section.ProfilePage .ProfilePage-Main .Tab #profile-page-content {
      visibility: visible;
    }
    #TableDeals {
      visibility: visible;
    }
    #TableDealsDispute {
      visibility: visible;
    }
    #TableDealsDisputeOpen {
      visibility: visible;
    }
    #TableDealsTrouble {
      visibility: visible;
    }
    #TableDealsExpired {
      visibility: visible;
      overflow: visible;
    }
    #TablePaymentOrdersTrouble {
      visibility: visible;
    }
    #TableDealsDeadline {
      visibility: visible;
    }
    #React-TableUsers {
      visibility: visible;
    }
    #MandarinPaymentStatusProcessing {
      visibility: visible;
    }
    section.PageForm #FormDeal {
      visibility: visible;
    }
    section.PageForm #FormDealEdit {
      visibility: visible;
    }
    section.PageForm #FormPartnerDeal {
      visibility: visible;
    }
    section.DealShowPage {
      .DealShowPage-Content #DisputeRequests {
        visibility: visible;
      }
      .DealShowPage-Details {
        .DealShowPage-Main {
          .DealShowPage-DealControl {
            .DealControl {
              .DealControl-Body .DealControl-Buttons #dealFillDataButton {
                display: inline-block;
              }
              .DealControl-Bottom #deal-pay-by-card-form {
                display: block;
                max-width: 100%
              }
            }
          }
        }
      }
    }
    section.ProfilePage .ProfilePage-Main .ProfilePage-Top {
      display: block;
    }
    section.ProfilePage .ProfilePage-Main .ProfilePage-Top .FormVerification {
      display: inline-block;
      transform: none;
    }
  }
}