// Screen sizes

@browser_lag: 30px;
@full-hd: 1920px;
@large: 1700px;
@desk: 1400px;
@tablet: 1024px;
@mobile: 768px;
@small: 460px;

//Screen sizes for grid-system
@desktop: 1280px;
@extra-small: 320px;


/*
Grid layout
size            suffix            columns     gutter-width
++++++|+++++++++++++++++++++++++|++++++++++|+++++++++++++++
>=1600 - xl(default columns)     === x12         32px
>=1280 - lg(desktop small)       === x8          32px
>=1024 - lt(laptop)              === x6          32px
>=768  - md(tablets)             === x6          24px
>=480  - sm(phones)              === x4          16px
>=0    - xs(small phones)        === x4          16px
 */
/**
grid breakpoints (desktop first)
 */
@grid-breakpoint-xs: 479px;
@grid-breakpoint-sm: 767px;
@grid-breakpoint-md: 1023px;
@grid-breakpoint-lt: 1279px;
@grid-breakpoint-lg: 1599px;
@grid-breakpoint-xl: 3000px;
/**
grid gutter widths
 */
@grid-gutter-width-sm: 16px;
@grid-gutter-width-md: 24px;
@grid-gutter-width-lg: 32px;

//grid container padding
@grid-container-padding-lt: 32px;
@grid-container-padding-md: 24px;
@grid-container-padding-sm: 8px;
/**
grid columns counts
 */
@grid-columns-count-xs: 4;
@grid-columns-count-sm: 4;
@grid-columns-count-md: 6;
@grid-columns-count-lt: 6;
@grid-columns-count-lg: 8;
@grid-columns-count-xl: 12;

//grid vertical rhythm

@grid-vertical-gutter: 12px;


// Grid variables
@grid: calc(@full-hd ~"/" 12);
@grid_2-col: calc(@grid ~"*" 2);
@grid_3-col: calc(@grid ~"*" 3);
@grid_4-col: calc(@grid ~"*" 4);
@grid_5-col: calc(@grid ~"*" 5);
@grid_12-col: @full-hd;
@padding-main: calc(@grid ~"/" 3);
@padding-link_y: 7px;
@padding-link_x: 15px;
@pageWidth: 1600px;
@colPadding: 20px;
//@point_rounded_size: calc(~"1920px / 27 / 2");
@point_rounded_size: 24px;
@point_rounded_size_mobile: 16px;
//@icon-size: calc(@grid ~"/" @grid  ~"/" 20);
@indent: calc(~"100vw * 0.006944 + 18.667px");
@indentBig: calc(~"(100vw * 0.006944 + 18.667px) * 2");
@indentSmall: calc(~"(100vw * 0.006944 + 18.667px) / 2");

//colors
@text-color: #354052;
@main-dark-color: #3c4458;
@accent-color: #2F80ED;
@accent-color-dark: #2DA1F8;
@apply-color: #2F80ED;
@apply-prepare-color: #2A72D3;
@apply-action-color: #1863A4;
@danger-color: #FF4C4C;
@danger-color-hover: #E54444;
@danger-color-action: #cd171e;
@edit-color-hover: #ced2db;
@edit-color-action: #BDC1C9;
@refuse-color: #E4E5E7;
@refuse-color-hover: #ced2db;
@refuse-color-action: #BDC1C9;
@success-color: #09C199;
@success-color-hover: #08A785;
@success-color-action: #06785f;
@accent-gradient: #1991EB linear-gradient(180deg, #FFFFFF -327.86%, #1991EB 100%);
@red-gradient: #F75158 linear-gradient(180deg, #FFFFFF -327.86%, #F75158 100%);
@light-grey-gradient: linear-gradient(180deg, #FFFFFF, #F2F4F7);
@red-color: #F85359;
@green-color: #09C199;
@_New_dark-grey-color: #4E5D6E;
@_New_light-grey-color: #DFE3E9;
@dark-grey-color: #C5D0DE;
@_New_most-light-grey-color: #FAFBFC;
@_New_text-color: #425160;
@text-color-head-tables: #3C4457;
@_New_menu-color: #2F323A;
@placeholder-color: #C5D0DE;
@nav-color: #737373;
@bg-gray-color: #FAFBFC;
@bg-dark-gray-color: #F1F4F8;
@border-color: #C5D0DE;
@border-color-hover: #A8AAB7;
@New_fill-form-element: #F2F4F7;
@black: #000000;
@white: #FFFFFF;
@credit-card-border-color: #D5DCE6;
@credit-card-bg-color: #E2E7EE;
@pay-form-input-bg-color: #F0F0F0;
@pay-form-error-field-color: #FFF0F0;
@pay-form-error-field-border: #900000;
@pay-form-valid-field-color: #C0FFC0;
@message-color: #7E8FA4;

@dark-blue-ripple-color: #163B6D;
@dark-red-ripple-color: #7F2626;
@dark-grey-ripple-color: #56585B;
@dark-green-ripple-color: #034134;

@border-radius: 4px;
@table-hover-background: #F1F4F8;
@table-text-color: #6b7885;
@accent-text-color: #012C68;
@header-color: #354052;
@border-color-deal-card: #D8D8D8;

@grey-button-color: #4e5d6e;
@outline-color: #A6C7FF;

//Значения из нового дизайна
@background-fill: #E2E7EE;
@background-dark-fill: #333F52;
@padding-inside-element_y: 8px;
@padding-inside-element_x: 5px;


//Для формы создания сделки
@grid-step: 4px;
@text-light-grey-color: #7F8FA4;
@text-dark-grey-color: #444444;
@grey-color-disabled: #C5C5C5;
@fill-grey-light: #FBFBFB;
@vertical-indent: calc(~"100vw * 0.0075 + 33.6px");
@vertical-indent_small: calc(~"100vw * 0.0075 + 27.6px");












