{% extends 'twig/layout/application' %}
{% import 'macro/routes.twig' as routes %}
{#
1 Массив массивов driverLicenses, каждый элемент которого содержит ключи:
    driverLicenses [
        0 => [
                ['id']
                ['date_issued']
                'files' => [
                     0 => [
                        'civilId'=>'123',
                        'id'=>'321',
                        'name'=>'321',
                        'type'=>'jpg',
                     ]
                 ]
            ],
        1 => [],
        ...
        и т.д.
    ]

2. Булевая переменная
    is_operator - по ее значению показываем что-то оператору или скрываем

3. Объект
    paginator {
      'pageCount' => int 1
      'itemCountPerPage' => int 20
      'first' => int 1
      'current' => int 1
      'last' => int 1
      'pagesInRange' =>
          1 => int 1
      'firstPageInRange' => int 1
      'lastPageInRange' => int 1
      'currentItemCount' => int 2
      'totalItemCount' => int 2
      'firstItemNumber' => int 1
      'lastItemNumber' => int 2
    }
#}
{% do headTitle('Водительские удостоверения') %}
{% block content %}
    <section class="PageTable">
        <form method="get" class="TableWrapper" id="natural-person-driver-license-filter-form">
            <table class="TableDefault js-table-rows-are-link" data-start="1" data-length="2">
                <tr class="FilterTableRow">
                    <td>
                    </td>
                    <td>
                        <input class="InputDate2 datepicker-here" type="text" placeholder="Дата выдачи">
                    </td>
                    <td>
                        <button class="ButtonSearch" type="submit"><span>&nbsp;</span></button>
                    </td>
                </tr>
                <tr class="Head">
                    <td>
                        №
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('dateIssued') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('dateIssued')) ?' active':'' }}"></i>
                            Дата выдачи
                        </a>
                    </td>
                    <td>
                        Файлы
                    </td>
                </tr>
                {% if driverLicenses |length > 0 %}
                    {% for driverLicense in driverLicenses %}
                        <tr data-path="{{ routes.driverLicenseSingle(driverLicense['id'])|trim }}">
                            <td>
                                {{ loop.index }}
                            </td>
                            <td data-label="Дата выдачи:">
                                {{ driverLicense['date_issued'] }}
                            </td>
                            <td data-label="Файлы:">
                                {% if driverLicense['files'] |length > 0 %}
                                    {% for file in driverLicense['files'] %}
                                        <a target="_blank" href="{{ routes.showFile(file) |trim }}">
                                            <i class="{{ 'Icon'~file['type'] | upper }}"></i>
                                        </a><br>
                                    {% endfor %}
                                {% else %}
                                    &#8212;
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="EmptyRow">
                        <td colspan="3">
                            Водительские удостоверения не найдены.
                        </td>
                    </tr>
                {% endif %}
            </table>
        </form>
    </section>
{% endblock content %}

