{% extends 'twig/layout/application' %}
{% import 'macro/routes.twig' as routes %}
{#
1. Объект
    driverLicenseForm => {
        'date_issued'
        'file'
        'idNaturalPerson'
        'csrf'
        'submit'
    }
#}
{% do headTitle('Добавление водительского удостоверения') %}
{% block content %}
    <section class="PageForm">
        <div class="PageForm-Container PageForm-Container_large">
            <form class="FormLabelTop" method="POST" enctype="multipart/form-data"
                  id="natural-person-driver-license-create-form">
                {{ formElement(driverLicenseForm.get('csrf'))|raw }}
                {{ formElement(driverLicenseForm.get('idNaturalPerson')) |raw }}

                <h3 class="TitleBlue">Добавление водительского удостоверения</h3>

                <div class="Input-Wrapper">
                    <label for="date_issued">Дата выдачи:</label>
                    <input name="date_issued" step="any" class="form-control InputDate datepicker-here" value="" type="text" id="date_issued" placeholder="Выберите дату выдачи">
                    <div class="FormError">{{ formElementErrors(driverLicenseForm.get('date_issued')) |raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    <div class="InputFile js-download-file">
                        <label for="download-file" class="InputFile-Label">Файл:</label>
                        <span class="InputFile-Container">
                            <mark data-text-default="Выберите файл..." class="notChange">Выберите файл...</mark>
                            <input name="file" id="download-file" type="file" placeholder="">
                            <span class="InputFile-Delete js-clear-download-file"></span>
                        </span>
                    </div>
                    <div class="FormError">{{ formElementErrors(driverLicenseForm.get('file')) |raw }}</div>
                </div>

                <div class="FormError">{{ formElementErrors(driverLicenseForm.get('csrf')) |raw }}</div>
                <div class="ButtonsRow">
                    <button type="submit" value="" class="ButtonApply">Сохранить</button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}