{% extends 'twig/layout/application' %}
{% import 'macro/routes.twig' as routes %}
{#
1. Массив (показаны значения из тестового объекта):
    driverLicense [
        'id' => '123'
        'date_issued' => '31.12.2018'
        'files' => [
            0 => [
                'civilId'=>'123',
                'id'=>'321',
                'name'=>'321',
                'type'=>'jpg',
            ]
        ]
    ]
#}
{% do headTitle('Удаление водительского удостоверения') %}
{% block content %}
    <section class="PageForm">
        <div class="PageForm-Container">
            <form class="FormView" method="POST" action="{{ routes.driverLicenseSingle(driverLicense['id'])|trim }}"
                  id="natural-person-driver-license-delete-form">
                <input type="hidden" name="_method" value="delete">

                <h3 class="TitleBlue">Вы уверены, что хотите удалить?</h3>

                <div class="InfoField">
                    <p class="InfoField-Label">Дата выдачи:</p>
                    <p class="InfoField-Text">{{ driverLicense['date_issued'] }}</p>
                </div>

                {% if driverLicense['files'] |length > 0 %}
                    {% for file in driverLicense['files'] %}
                        <div class="InfoField">
                            <p class="InfoField-Label">Файл:</p>
                            <p class="InfoField-Text">
                                <a target="_blank" href="{{ routes.showFile(file) |trim }}">{{ file['name'] }}</a>
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="ButtonsRow">
                    <button class="ButtonDelete margin-right" type="submit" value="" data-ripple-button="">
                        <span class="ripple-text">Удалить</span>
                    </button>
                    <a href="{{ routes.driverLicenseSingle(driverLicense['id'])|trim }}" class="ButtonRefuse" data-ripple-button="">
                        <span class="ripple-text">Отменить</span>
                    </a>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}