{% extends 'twig/layout/application' %}
{% import 'macro/routes.twig' as routes %}
{#
1. Объект
    driverLicenseForm => {
        'date_issued'
        'file'
        'idNaturalPerson'
        'csrf'
        'submit'
    }

2. Массив (показаны значения из тестового объекта):
    driverLicense [
        'id' => '123'
        'date_issued' => '31.12.2018'
        'files' => [
            0 => [
                'civilId'=>'123',
                'id'=>'321',
                'name'=>'321',
                'type'=>'jpg',
            ]
        ]
    ]
#}
{% do headTitle('Редактирование водительского удостоверения') %}
{% block content %}
    <section class="PageForm">
        <div class="PageForm-Container">
            <form class="FormLabelLeft" method="POST" enctype="multipart/form-data"
                  id="natural-person-driver-license-edit-form">
                {{ formElement(driverLicenseForm.get('csrf'))|raw }}
                {{ formElement(driverLicenseForm.get('idNaturalPerson')) |raw }}

                <h3 class="TitleBlue">Редактирование водительского удостоверения</h3>

                <div class="Input-Wrapper">
                    <label for="date_issued">Дата выдачи:</label>
                    <input name="date_issued" step="any" class="form-control InputDate datepicker-here" value="{{ driverLicense['date_issued'] }}" type="text" id="date_issued">
                    <div class="FormError">{{ formElementErrors(driverLicenseForm.get('date_issued')) |raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    <div class="InputFile js-download-file">
                        <label for="download-file" class="InputFile-Label">Файл:</label>
                        <span class="InputFile-Container">
                            <mark data-text-default="Выберите файл..." class="notChange">{{ driverLicense['files']['0']['name'] }}</mark>
                            {{ formElement(driverLicenseForm.get('file'))|raw }}
                            <span class="InputFile-Delete js-clear-download-file"></span>
                        </span>
                    </div>
                    <div class="FormError">{{ formElementErrors(driverLicenseForm.get('file')) |raw }}</div>
                </div>

                <div class="FormError">{{ formElementErrors(driverLicenseForm.get('csrf')) |raw }}</div>

                <div class="ButtonsRow">
                    {% if is_operator == false %}
                        <a href="{{ routes.driverLicenseDelete(driverLicense['id'])|trim }}"
                           class="ButtonDelete margin-right" data-ripple-button="">
                            <span class="ripple-text">Удалить</span>
                        </a>
                    {% endif %}
                    <button class="ButtonApply" type="submit" value="" data-ripple-button="">
                        <span class="ripple-text">Сохранить</span>
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
