{% extends 'twig/layout/application' %}
{% import 'macro/routes.twig' as routes %}
{#
1. Массив (показаны значения из тестового объекта):
    driverLicense [
        'id' => '123'
        'date_issued' => '31.12.2018'
        'files' => [
            0 => [
                'civilId'=>'123',
                'id'=>'321',
                'name'=>'321',
                'type'=>'jpg',
            ]
        ]
    ]

2. Булевая переменная
    is_operator - по ее значению показываем что-то оператору или скрываем
#}
{% do headTitle('Карточка водительского удостоверения') %}
{% block content %}
    <section class="PageForm">
        <div class="PageForm-Container">
            <form class="FormView" method="POST" enctype="multipart/form-data">
                <h3 class="TitleBlue">Водительское удостоверение</h3>

                <div class="InfoField">
                    <p class="InfoField-Label">Дата выдачи:</p>
                    <p class="InfoField-Text">{{ driverLicense['date_issued'] }}</p>
                </div>

                {% if driverLicense['files'] |length > 0 %}
                    {% for file in driverLicense['files'] %}
                        <div class="InfoField">
                            <p class="InfoField-Label">Файл:</p>
                            <p class="InfoField-Text">
                                <a href="{{ routes.showFile(file) |trim }}" target="_blank">{{ file['name'] }}</a>
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="ButtonsRow">
                    <a href="{{ routes.driverLicenseDelete(driverLicense['id'])|trim }}" class="ButtonDelete margin-right" data-ripple-button="">
                        <span class="ripple-text">Удалить</span>
                    </a>
                    <a href="{{ routes.driverLicenseEdit(driverLicense['id'])|trim }}" class="ButtonApply" data-ripple-button="">
                        <span class="ripple-text">Изменить</span>
                    </a>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
