{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{#
 1 tribunalRequestForm - form
#}
{% do headTitle('Запрос трибунала') %}
{% block content %}
    <section class="PageForm RefundClosePage">
        <p>
            <strong>Доп. информация:</strong><br>
            Причина спора: {{ dispute['reason'] }}<br>
            Дата спора: {{ dispute['created'] }}<br>
            Сделка: {{ deal['name']~' '~deal['number'] }}<br>
            Сумма сделки: {{ deal['amount_without_fee'] }}<br>
        </p>
        <br><br>
        {{ form().openTag(tribunalRequestForm)|raw }}
        <div class="FormAdd">
            {{ formElement(tribunalRequestForm.get('csrf'))|raw }}
            {{ formElement(tribunalRequestForm.get('deal'))|raw }}
            {{ formElement(tribunalRequestForm.get('type_form'))|raw }}

            <div class="FormError">
                {{ formElementErrors(tribunalRequestForm.get('csrf'))|raw }}
                {{ formElementErrors(tribunalRequestForm.get('deal'))|raw }}
                {{ formElementErrors(tribunalRequestForm.get('type_form'))|raw }}
            </div>
            {{ formElement(tribunalRequestForm.get('submit'))|raw }}
        </div>
        {{ form().closeTag()|raw }}
    </section>
{% endblock content %}