{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{#
    tribunalForm - form
#}
{% do headTitle('Направление спора в суд') %}
{% block content %}
    <section class="DisputeClosePage">
        <div class="DisputeMethod">
            <h3 class="TitleBlue">Направление спора в суд</h3>
            {{ form().openTag(tribunalForm)|raw }}
                {{ formElement(tribunalForm.get('csrf'))|raw }}
                {{ formElement(tribunalForm.get('dispute_id'))|raw }}
                {{ formElement(tribunalForm.get('type_form'))|raw }}

                <div>
                {{ formElementErrors(tribunalForm.get('csrf'))|raw }}
                {{ formElementErrors(tribunalForm.get('dispute_id'))|raw }}
                {{ formElementErrors(tribunalForm.get('type_form'))|raw }}
                </div>
                {{ formElement(tribunalForm.get('submit'))|raw }}

            {{ form().closeTag()|raw }}
        </div>
    </section>
{% endblock content %}