{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{#
  1 tribunalConfirmForm - form
  2 tribunalRequest - array
  3 dispute - array
  4 deal - array
#}
{% do headTitle('Подтверждение трибунала') %}
{% block content %}
    <section class="PageForm RefundClosePage">
        <p>
            <strong>Информация о запросе трибунала:</strong><br>
            Имя автора: {{ tribunalRequest['author']['name'] }}<br>
            Email автора: {{ tribunalRequest['author']['email'] }}<br>
            Телефон автора: {{ tribunalRequest['author']['phone'] }}<br>
            Сумма скидки: {{ tribunalRequest['amount'] }}<br>
            Дата запроса: {{ tribunalRequest['created'] }}<br>
        </p>
        <br><br>
        <p>
            <strong>Доп. информация:</strong><br>
            Причина спора: {{ dispute['reason'] }}<br>
            Дата спора: {{ dispute['created'] }}<br>
            Сделка: {{ deal['name']~' '~deal['number'] }}<br>
            Сумма сделки: {{ deal['amount_without_fee'] }}<br>
        </p>
        <br><br>
        {{ form().openTag(tribunalConfirmForm)|raw }}
        <div class="FormAdd">
            {{ formElement(tribunalConfirmForm.get('csrf'))|raw }}
            {{ formElement(tribunalConfirmForm.get('type_form'))|raw }}

            <div class="FormError">
                {{ formElementErrors(tribunalConfirmForm.get('csrf'))|raw }}
                {{ formElementErrors(tribunalConfirmForm.get('type_form'))|raw }}
            </div>
            {{ formElement(tribunalConfirmForm.get('submit'))|raw }}
        </div>
        {{ form().closeTag()|raw }}
    </section>
{% endblock content %}