<?php
$this->headTitle('Credit unpaid');
?>

<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">
            <!--  content  -->

            <h2>Невыплаченные платёжки</h2>

            <?php if (count($this->paymentOrders) > 0): ?>

                <?php foreach ($this->paymentOrders as $paymentOrder): ?>
                    <p>
                    <h4>ID <?= $paymentOrder->getId() ?>  Сумма: <?= $paymentOrder->getAmount() ?>
                        (Сделка #<?= $paymentOrder->getCreditPayment()->getDeal()->getId() ?>: <?= $paymentOrder->getCreditPayment()->getDeal()->getName() ?>)</h4>
                    </p>
                <?php endforeach; ?>

                <div class="text-center">
                    <h3><a href="/bank-client/credit-unpaid/generate">Сгенерировать файл с неоплаченными платёжками</a></h3>
                </div>

            <?php else: ?>

                <h5>Невыплаченных платёжек нет</h5>

            <?php endif; ?>

            <!-- /content  -->
        </div>
    </div>
</div>