<?php
$this->headTitle('Files');
?>
<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">
            <!--  content  -->

            <?php if ($this->success_message != null): ?>
                <div class="alert alert-success">
                    <p>
                        <?= $this->success_message ?>
                    </p>
                </div>
            <?php endif; ?>

            <?php if ($this->error_message): ?>
                <div class="alert alert-danger">
                    <p>
                        <?= $this->error_message ?>
                    </p>
                </div>
            <?php endif; ?>

            <h5>Новых файлов не найдено</h5>

            <br />
            <div class="text-right">
                <h4><a href="/bank-client/file-upload">Загрузить файл вручную</a></h4>
            </div>

            <!-- /content  -->
        </div>
    </div>
</div>