<?php
$this->headTitle('Nothing to generate');
?>

<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">
            <!--  content  -->

            <h2>Невыплаченных платёжных поручений нет</h2>

            <!-- /content  -->
        </div>
    </div>
</div>