<?php
$this->headTitle('Files');
?>

<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">
            <!--  content  -->

            <h2>Файлы платёжек (Банк-Клиент)</h2>

            <?php if (count($this->files) > 0): ?>

                <?php foreach ($this->files as $file): ?>
                <p>
                    <h3><?= $file->getName() ?> <?php if( !in_array($file->getName(), $this->processed_files) ): ?>(новый)<?php endif; ?></h3>
                    <div>Оригинальное название: <?= $file->getOriginName() ?> | Тип: <?= $file->getType() ?>
                        | Вес:  <?= $file->getSize() ?> | Дата загрузки: <?= $file->getCreated()->format('d-m-Y') ?>
                    </div>
                </p>
                <?php endforeach; ?>

            <?php else: ?>

                <h5>Файлы платёжек не найдены</h5>

            <?php endif; ?>

            <hr>
            <div class="text-center">
                <h3><a href="/bank-client/file-upload">Загрузить файл с новыми платёжками</a></h3>
            </div>
            <hr>
            <div class="text-center">
                <h3><a href="/bank-client/process">Обработать все новые файлы</a></h3>
            </div>
            <hr>
            <div class="text-center">
                <h3><a href="/bank-client/credit-unpaid">Неоплаченные платёжные поручения</a></h3>
            </div>

            <!-- /content  -->
        </div>
    </div>
</div>