<div  style="font-size: 10px; font-family: 'Tahoma'">
    <table width="100%">
        <tr>
            <td width="70%"></td>
            <td width="30%" style="font-size: 9px">Приложение 2<br>к Положению Банка России<br>от 19 июня 2012 года № 383-П<br>“О правилах осуществления перевода денежных средств”</td>
        </tr>
    </table>
    <p></p>
    <table width="100%">
        <tr>
            <td width="15%" style="border-bottom: 1px solid #000; text-align: center">&nbsp;<?= $this->paymentOrder->getDateOfReceipt() ?>&nbsp;</td>
            <td width="5%"></td>
            <td  width="15%" style="border-bottom: 1px solid #000; text-align: center"> <?= $this->paymentOrder->getDateOfDebit() ?> </td>
            <td width="55%"></td>
            <td  width="10%" style="border: 1px solid #000; text-align: center">0401060</td>
        </tr>
        <tr>
            <td style="font-size: 9px; text-align: center">Поступ. в банк плат.</td>
            <td></td>
            <td style="font-size: 9px; text-align: center;">Списано со сч. плат.</td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <p></p>
    <table width="100%">
        <tr>
            <td width="35%" valign='bottom' style="font-size: 12px;font-weight: bold">ПЛАТЕЖНОЕ ПОРУЧЕНИЕ № <?= $this->paymentOrder->getDocumentNumber() ?></td>
            <td width="5%"></td>
            <td width="20%" style="border-bottom: 1px solid #000; text-align: center"><?= $this->paymentOrder->getDocumentDate() ?>&nbsp;</td>
            <td width="5%"></td>
            <td width="20%" style="border-bottom: 1px solid #000; text-align: center"><?= $this->paymentOrder->getDocumentType() ?></td>
            <td width="10%"></td>
            <td width="5%" style="border:1px solid #000"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td style="text-align: center;font-size: 9px">Дата</td>
            <td></td>
            <td style="text-align: center;font-size: 9px">Вид платежа</td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <p></p>
    <table>
        <tr>
            <td width="15%" style="border-right: 1px solid #000;">Сумма<br>прописью<br>
            </td>
            <td width="70%"><?= $this->paymentOrder->getAmount() ?></td>
        </tr>
    </table>
    <table>

        <tr>
            <td width="20%" style="border:1px solid #000">ИНН</td>
            <td width="20%" style="border:1px solid #000">КПП</td>
            <td width="10%" rowspan="2" style="border:1px solid #000">Сумма</td>
            <td width="50%" rowspan="2" colspan="3" style="border:1px solid #000"></td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2" style="border-left:1px solid #000;border-right:1px solid #000" width="40%"></td>
        </tr>
        <tr>
            <td rowspan="2" style="border:1px solid #000;" width="10%">Сч.№</td>
            <td rowspan="2" colspan="3" style="border:1px solid #000;" width="50%"></td>
        </tr>
        <tr>
            <td colspan="2" style="border-left:1px solid #000;border-right:1px solid #000" width="40%">Плательщик</td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2" style="border-left:1px solid #000;border-top:1px solid #000; border-right:1px solid #000" width="40%"></td>
            <td style="border:1px solid #000" width="10%">БИК</td>
            <td colspan="3" style="border:1px solid #000;" width="50%"></td>
        </tr>
        <tr>
            <td style="border:1px solid #000" rowspan="2" width="10%">Сч.№</td>
            <td colspan="3" style="border:1px solid #000" rowspan="2" width="50%"></td>
        </tr>
        <tr>
            <td colspan="2" style="border-left:1px solid #000;border-right:1px solid #000" width="40%">Банк плательщика</td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2" style="border-left:1px solid #000;border-top:1px solid #000; border-right:1px solid #000"><?= $this->paymentOrder->getRecipientBank1() ?></td>
            <td style="border:1px solid #000" width="10%">БИК</td>
            <td colspan="3" style="border:1px solid #000;" width="50%"><?= $this->paymentOrder->getRecipientBik() ?></td>
        </tr>
        <tr>
            <td style="border:1px solid #000" rowspan="2" width="10%">Сч.№</td>
            <td colspan="3" style="border:1px solid #000" rowspan="2" width="50%"><?= $this->paymentOrder->getRecipientAccount() ?></td>
        </tr>
        <tr>
            <td colspan="2" style="border-left:1px solid #000;border-right:1px solid #000" width="40%">Банк получателя</td>
        </tr>
        <tr>
            <td style="border:1px solid #000" width="20%">ИНН <?= $this->paymentOrder->getRecipientInn() ?></td>
            <td style="border:1px solid #000" width="20%">КПП <?= $this->paymentOrder->getRecipientKpp() ?></td>
            <td rowspan="2" style="border:1px solid #000" width="10%">Сч.№</td>
            <td rowspan="2" colspan="3" style="border:1px solid #000" width="50%"><?= $this->paymentOrder->getRecipientAccount() ?></td>
        </tr>
        <tr>
            <td colspan="2" rowspan="3" style="border-left:1px solid #000;border-right:1px solid #000; border-top: 1px solid #000;" width="40%"><?= $this->paymentOrder->getRecipient() ?></td>
        </tr>
        <tr>
            <td  style="border:1px solid #000;" width="10%">Вид.оп</td>
            <td  style="border-top:1px solid #000;" width="20%"></td>
            <td  style="border:1px solid #000;" width="10%">Срок плат</td>
            <td  style="border-top:1px solid #000; border-right: 1px solid #000;" width="20%"><?= $this->paymentOrder->getDocumentDate() ?></td>
        </tr>
        <tr>
            <td  style="border:1px solid #000;" width="10%">Наз.пл.</td>
            <td  width="20%"></td>
            <td  style="border:1px solid #000;" width="10%">Очер. плат</td>
            <td  style="border-right: 1px solid #000;" width="20%"></td>
        </tr>
        <tr>
            <td colspan="2" style="border-left:1px solid #000;border-right:1px solid #000; border-bottom: 1px solid #000;" width="40%">Получатель </td>
            <td  style="border:1px solid #000;" width="10%">Код</td>
            <td  style="border-bottom:1px solid #000;" width="20%"></td>
            <td  style="border:1px solid #000;" width="10%">Рез. поле</td>
            <td  style="border-bottom:1px solid #000; border-right: 1px solid #000;" width="20%"></td>
        </tr>

    </table>
    <table>
        <tr>
            <td style="border:1px solid #000;" width="21%"></td>
            <td style="border:1px solid #000;" width="15%"></td>
            <td style="border:1px solid #000;" width="7%"></td>
            <td style="border:1px solid #000;" width="15%"></td>
            <td style="border:1px solid #000;" width="20%"></td>
            <td style="border:1px solid #000;" width="15%"></td>
            <td style="border:1px solid #000;" width="7%"></td>
        </tr>

    </table>
    <p></p>
    <table>
        <tr>
            <td style="border-bottom: 1px solid #000;" colspan="5">Назначение платежа</td>
        </tr>
        <tr>
            <td width="50%" rowspan="2" colspan="2"> </td>
            <td width="20%" style="font-size: 9px; text-align: center">Подписи</td>
            <td width="5%"></td>
            <td width="20%" style="font-size: 9px; text-align: center">Отметки банка</td>
            <td width="5%"></td>
        </tr>
        <tr>
            <td width="20%" style="border-bottom: 1px solid #000"></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td width="40%" style="text-align: right">М.П.</td>
            <td colspan="5"></td>
        </tr>
        <tr>
            <td width="50%" colspan="2"></td>
            <td width="20%" style="border-bottom: 1px solid #000"></td>
            <td colspan="3"></td>
        </tr>
    </table>
</div>



<!--<div>

<TABLE width="100%">
    <tr height="50">
        <td width="20%" style="padding-right: 20px; text-align: center" colspan="2">
            <div style="font: 12px "Arial"; border-bottom: #000000 1px solid">
                &nbsp;<?= $this->paymentOrder->getDateOfReceipt() ?>&nbsp;
            </div>
            <div style="font-size:9px;">Поступ. в банк плат.</div>
        </td>
        <td width="20%" style="padding-right: 20px; text-align: center" rowspan="2">
            <div style="font: 12px "Arial"; border-bottom: #000000 1px solid">
                &nbsp;<?= $this->paymentOrder->getDateOfDebit() ?>&nbsp;
            </div>
            <div style="font-size:9px;">Списано со сч. плат.</div>
        </td>
        <td width="60%">
        </td>
    </tr>
</TABLE>

<TABLE width="100%">
    <tr>
        <td width="50%">
            <div style="font: 14px "Arial";">
                ПЛАТЕЖНОЕ ПОРУЧЕНИЕ № <?= $this->paymentOrder->getDocumentNumber() ?>
            </div>
        </td>
        <td width="20%" style="padding-right: 20px; text-align: center">
            <div style="font: 12px "Arial"; border-bottom: #000000 1px solid">
                &nbsp;<?= $this->paymentOrder->getDocumentDate() ?>&nbsp;
            </div>
            <div style="font-size:9px;">Дата</div>
        </td>
        <td width="20%" style="padding-right: 20px; text-align: center">
            <div style="font: 12px "Arial"; border-bottom: #000000 1px solid">
                &nbsp;<?= $this->paymentOrder->getDocumentType() ?>&nbsp;
            </div>
            <div style="font-size:9px;">Вид платежа</div>
        </td>
        <td width="10%" style="padding-right: 20px; text-align: center">
        </td>
    </tr>
</TABLE>

<TABLE width="100%">
    <tr>
        <td width="100" style="font-size:11px; border-right: #000000 1px solid">
            Сумма прописью
        </td>
        <td>
            <?= $this->paymentOrder->getAmount() ?>
        </td>
    </tr>
</TABLE>

</div>








    <P class="p11 ft7">назначение платежа</P>
    <TABLE cellpadding=0 cellspacing=0 class="t1">
        <TR>
            <TD class="tr8 td36"><P class="p9 ft7">Подписи</P></TD>
            <TD class="tr8 td37"><P class="p9 ft1">Отметки банка</P></TD>
        </TR>
    </TABLE>
    <P class="p12 ft3">М.П.</P>




    <br />
    <div>
        СекцияДокумент - <?= $this->paymentOrder->getDocumentType() ?>. Номер - <?= $this->paymentOrder->getDocumentNumber() ?>
    </div>
    <div>
        Дата <?= $this->paymentOrder->getDocumentDate() ?>. Поступило <?= $this->paymentOrder->getDateOfReceipt() ?>. Списано <?= $this->paymentOrder->getDateOfDebit() ?>
    </div>
    <div>
        Получатель <?= $this->paymentOrder->getRecipient() ?> (Счет <?= $this->paymentOrder->getRecipientAccount() ?>)
    </div>

    <div>
        ИНН Получателя <?= $this->paymentOrder->getRecipientInn() ?>. КПП Получателя <?= $this->paymentOrder->getRecipientKpp() ?>
    </div>

    <div>
        Банк Получателя <?= $this->paymentOrder->getRecipientBank1() ?>. БИК Получателя <?= $this->paymentOrder->getRecipientBik() ?>
    </div>

    <div>
        Корр Счет Получателя <?= $this->paymentOrder->getRecipientCorrAccount() ?>.
    </div>
-->