<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">
            <!--  content  -->

            <?php if ($this->success_message != null): ?>
                <div class="alert alert-success">
                    <p>
                        <?= $this->success_message ?>
                    </p>
                </div>
            <?php endif; ?>

            <?php if ($this->error_message): ?>
                <div class="alert alert-danger">
                    <p>
                        <?= $this->error_message ?>
                    </p>
                </div>
            <?php endif; ?>

            <?php if (count($this->file_names)>0): ?>
                <div class="success"><h3>Новых файлов: <?= count($this->file_names) ?> </h3></div>
                Все файлы обработаны.
                <?php if (count($this->newPaymentOrders)>0): ?>
                    <h4>Обнаружены и обработаны новые платежные получения:</h4>
                    <?php foreach ($this->newPaymentOrders as $paymentOrder): ?>
                        <div>
                            <p>
                            <h4><?= $this->escapeHtml($paymentOrder->getDocumentType()) ?> №<?= $this->escapeHtml($paymentOrder->getDocumentNumber()) ?></h4>
                            от <?= $this->escapeHtml($paymentOrder->getPayer()) ?> на сумму <?= $this->escapeHtml($paymentOrder->getAmount()) ?>
                            (<?= $this->escapeHtml($paymentOrder->getPaymentPurpose()) ?>)
                            </p>
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>

                <?php if (count($this->processing_errors)>0): ?>
                    <h4>Ошибки при обработке:</h4>
                    <div class="alert alert-danger">
                    <?php foreach ($this->processing_errors as $kay=>$processing_error): ?>
                        <p>
                            <strong><?= $kay ?></strong> <?= $processing_error ?>
                        </p>
                    <?php endforeach; ?>
                    </div>
                <?php endif; ?>
            <?php endif; ?>

            <br />
            <div class="text-right">
                <h4><a href="/bank-client/file-upload">Загрузить файл вручную</a></h4>
            </div>

            <!-- /content  -->
        </div>
    </div>
</div>