﻿<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1251">
    <meta http-equiv="Cache-Control" content="no-cache">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:10.0pt;
	font-family:"Times New Roman",serif;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"Верхний колонтитул Знак";
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:10.0pt;
	font-family:"Times New Roman",serif;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-link:"Нижний колонтитул Знак";
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:10.0pt;
	font-family:"Times New Roman",serif;}
span.a
	{mso-style-name:"Верхний колонтитул Знак";
	mso-style-link:"Верхний колонтитул";
	font-family:"Times New Roman",serif;}
span.a0
	{mso-style-name:"Нижний колонтитул Знак";
	mso-style-link:"Нижний колонтитул";
	font-family:"Times New Roman",serif;}
.MsoChpDefault
	{font-size:11.0pt;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
 /* Page Definitions */
 @page WordSection1
	{size:595.3pt 841.9pt;
	margin:34.0pt 1.0cm 1.0cm 2.0cm;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

</head>

<body lang=RU style='text-justify-trim:punctuation'>

<div class=WordSection1>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:402.55pt'><span style='font-size:8.0pt'>Приложение 2<br>
к Положению Банка России<br>
от 19 июня 2012 года № 383-П<br>
“О правилах осуществления перевода денежных средств”</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse'>
 <tr style='page-break-inside:avoid'>
  <td width=132 valign=bottom style='width:99.25pt;border:none;border-bottom:
  solid windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
  <td width=47 valign=bottom style='width:35.45pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
  <td width=132 valign=bottom style='width:99.25pt;border:none;border-bottom:
  solid windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
  <td width=312 valign=bottom style='width:233.85pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
  <td width=57 style='width:42.5pt;border:solid windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'>0401060</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=132 valign=bottom style='width:99.25pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:8.0pt'>Поступ. в банк плат.</span></p>
  </td>
  <td width=47 valign=bottom style='width:35.45pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  </td>
  <td width=132 valign=bottom style='width:99.25pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:8.0pt'>Списано со сч. плат.</span></p>
  </td>
  <td width=312 valign=bottom style='width:233.85pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  </td>
  <td width=57 valign=bottom style='width:42.5pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='margin-left:-1.4pt;border-collapse:collapse'>
 <tr style='height:18.0pt'>
  <td width=342 valign=bottom style='width:256.55pt;padding:0cm 1.4pt 0cm 1.4pt;
  height:18.0pt'>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>ПЛАТЕЖНОЕ ПОРУЧЕНИЕ №        </span></b></p>
  </td>
  <td width=132 valign=bottom style='width:99.2pt;border:none;border-bottom:
  solid windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt;height:18.0pt'>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
  <td width=19 valign=bottom style='width:14.2pt;padding:0cm 1.4pt 0cm 1.4pt;
  height:18.0pt'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
  <td width=132 valign=bottom style='width:99.2pt;border:none;border-bottom:
  solid windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt;height:18.0pt'>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
  <td width=28 valign=bottom style='width:21.3pt;padding:0cm 1.4pt 0cm 1.4pt;
  height:18.0pt'>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
  <td width=26 valign=bottom style='width:19.85pt;border:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:18.0pt'>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td width=342 valign=bottom style='width:256.55pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  </td>
  <td width=132 valign=bottom style='width:99.2pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:8.0pt'>Дата</span></p>
  </td>
  <td width=19 valign=bottom style='width:14.2pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  </td>
  <td width=132 valign=bottom style='width:99.2pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:8.0pt'>Вид платежа</span></p>
  </td>
  <td width=28 valign=top style='width:21.3pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  </td>
  <td width=26 valign=top style='width:19.85pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal><span style='font-size:8.0pt'>&nbsp;</span></p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;border:none'>
 <tr style='height:41.0pt'>
  <td width=76 valign=top style='width:2.0cm;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:41.0pt'>
  <p class=MsoNormal>Сумма</p>
  <p class=MsoNormal>прописью</p>
  </td>
  <td width=605 colspan=12 valign=top style='width:16.0cm;border:none;
  border-bottom:solid windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt;height:41.0pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>&nbsp;</p>
  </td>
  <td style='height:41.0pt;border:none' width=0 height=55></td>
 </tr>
 <tr style='page-break-inside:avoid;height:13.0pt'>
  <td width=189 colspan=3 style='width:5.0cm;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:13.0pt'>
  <p class=MsoNormal>ИНН  </p>
  </td>
  <td width=189 colspan=3 style='width:5.0cm;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:13.0pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>КПП  </p>
  </td>
  <td width=57 colspan=2 rowspan=2 valign=top style='width:42.55pt;border-top:
  none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:13.0pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>Сумма</p>
  </td>
  <td width=246 colspan=5 rowspan=2 valign=top style='width:184.25pt;
  border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt;
  height:13.0pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>&nbsp;</p>
  </td>
  <td style='height:13.0pt;border:none' width=0 height=17></td>
 </tr>
 <tr style='page-break-inside:avoid;height:28.5pt'>
  <td width=378 colspan=6 rowspan=2 valign=top style='width:10.0cm;border:none;
  border-right:solid windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt;height:28.5pt'>
  <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
  </td>
  <span style='font-size:10.0pt;font-family:"Times New Roman",serif'>
  <td style='height:28.5pt;border:none' width=0 height=38></td>
  </span>
 </tr>
 <tr style='page-break-inside:avoid;height:28.0pt'>
  <td width=57 colspan=2 rowspan=2 valign=top style='width:42.55pt;border-top:
  none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:28.0pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>Сч. №</p>
  </td>
  <td width=246 colspan=5 rowspan=2 valign=top style='width:184.25pt;
  border:none;padding:0cm 1.4pt 0cm 1.4pt;height:28.0pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>&nbsp;</p>
  </td>
  <td style='height:28.0pt;border:none' width=0 height=37></td>
 </tr>
 <tr style='page-break-inside:avoid;height:14.1pt'>
  <td width=378 colspan=6 valign=bottom style='width:10.0cm;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:14.1pt'>
  <p class=MsoNormal>Плательщик</p>
  </td>
  <span style='font-size:10.0pt;font-family:"Times New Roman",serif'>
  <td style='height:14.1pt;border:none' width=0 height=19></td>
  </span>
 </tr>
 <tr style='page-break-inside:avoid;height:14.0pt'>
  <td width=378 colspan=6 rowspan=2 valign=top style='width:10.0cm;border:none;
  padding:0cm 1.4pt 0cm 1.4pt;height:14.0pt'>
  <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
  </td>
  <td width=57 colspan=2 style='width:42.55pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.4pt 0cm 1.4pt;height:14.0pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>БИК</p>
  </td>
  <td width=246 colspan=5 style='width:184.25pt;border:none;padding:0cm 1.4pt 0cm 1.4pt;
  height:14.0pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>&nbsp;</p>
  </td>
  <td style='height:14.0pt;border:none' width=0 height=19></td>
 </tr>
 <tr style='page-break-inside:avoid;height:13.5pt'>
  <td width=57 colspan=2 rowspan=2 valign=top style='width:42.55pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.4pt 0cm 1.4pt;height:13.5pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>Сч. №</p>
  </td>
  <td width=246 colspan=5 rowspan=2 valign=top style='width:184.25pt;
  border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt;
  height:13.5pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>&nbsp;</p>
  </td>
  <td style='height:13.5pt;border:none' width=0 height=18></td>
 </tr>
 <tr style='page-break-inside:avoid;height:13.5pt'>
  <td width=378 colspan=6 valign=bottom style='width:10.0cm;border:none;
  border-bottom:solid windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt;height:13.5pt'>
  <p class=MsoNormal>Банк плательщика</p>
  </td>
  <span style='font-size:10.0pt;font-family:"Times New Roman",serif'>
  <td style='height:13.5pt;border:none' width=0 height=18></td>
  </span>
 </tr>
 <tr style='page-break-inside:avoid;height:14.0pt'>
  <td width=378 colspan=6 rowspan=2 valign=top style='width:10.0cm;border:none;
  padding:0cm 1.4pt 0cm 1.4pt;height:14.0pt'>
  <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
  </td>
  <td width=57 colspan=2 style='width:42.55pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.4pt 0cm 1.4pt;height:14.0pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>БИК</p>
  </td>
  <td width=246 colspan=5 style='width:184.25pt;border:none;padding:0cm 1.4pt 0cm 1.4pt;
  height:14.0pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>&nbsp;</p>
  </td>
  <td style='height:14.0pt;border:none' width=0 height=19></td>
 </tr>
 <tr style='page-break-inside:avoid;height:14.65pt'>
  <td width=57 colspan=2 rowspan=2 valign=top style='width:42.55pt;border-top:
  none;border-left:solid windowtext 1.0pt;border-bottom:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:14.65pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>Сч. №</p>
  </td>
  <td width=246 colspan=5 rowspan=2 valign=top style='width:184.25pt;
  border:none;padding:0cm 1.4pt 0cm 1.4pt;height:14.65pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>&nbsp;</p>
  </td>
  <td style='height:14.65pt;border:none' width=0 height=20></td>
 </tr>
 <tr style='page-break-inside:avoid;height:14.6pt'>
  <td width=378 colspan=6 valign=bottom style='width:10.0cm;border:none;
  padding:0cm 1.4pt 0cm 1.4pt;height:14.6pt'>
  <p class=MsoNormal>Банк получателя</p>
  </td>
  <span style='font-size:10.0pt;font-family:"Times New Roman",serif'>
  <td style='height:14.6pt;border:none' width=0 height=19></td>
  </span>
 </tr>
 <tr style='page-break-inside:avoid;height:13.0pt'>
  <td width=189 colspan=3 style='width:5.0cm;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 1.4pt 0cm 1.4pt;height:13.0pt'>
  <p class=MsoNormal>ИНН  </p>
  </td>
  <td width=189 colspan=3 style='width:5.0cm;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;
  padding:0cm 1.4pt 0cm 1.4pt;height:13.0pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>КПП  </p>
  </td>
  <td width=57 colspan=2 rowspan=2 valign=top style='width:42.55pt;border:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:13.0pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>Сч. №</p>
  </td>
  <td width=246 colspan=5 rowspan=2 valign=top style='width:184.25pt;
  border:none;padding:0cm 1.4pt 0cm 1.4pt;height:13.0pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>&nbsp;</p>
  </td>
  <td style='height:13.0pt;border:none' width=0 height=17></td>
 </tr>
 <tr style='page-break-inside:avoid;height:28.0pt'>
  <td width=378 colspan=6 rowspan=3 valign=top style='width:10.0cm;border:none;
  padding:0cm 1.4pt 0cm 1.4pt;height:28.0pt'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
  <span style='font-size:10.0pt;font-family:"Times New Roman",serif'>
  <td style='height:28.0pt;border:none' width=0 height=37></td>
  </span>
 </tr>
 <tr style='page-break-inside:avoid;height:13.5pt'>
  <td width=57 colspan=2 style='width:42.55pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.4pt 0cm 1.4pt;height:13.5pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>Вид оп.</p>
  </td>
  <td width=76 style='width:2.0cm;border-top:solid windowtext 1.0pt;border-left:
  none;border-bottom:none;border-right:solid windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt;
  height:13.5pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>&nbsp;</p>
  </td>
  <td width=76 colspan=2 style='width:2.0cm;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:13.5pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>Срок плат.</p>
  </td>
  <td width=94 colspan=2 style='width:70.85pt;border:none;padding:0cm 1.4pt 0cm 1.4pt;
  height:13.5pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>&nbsp;</p>
  </td>
  <td style='height:13.5pt;border:none' width=0 height=18></td>
 </tr>
 <tr style='page-break-inside:avoid;height:13.5pt'>
  <td width=57 colspan=2 style='width:42.55pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.4pt 0cm 1.4pt;height:13.5pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>Наз. пл.</p>
  </td>
  <td width=76 style='width:2.0cm;border:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:13.5pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>&nbsp;</p>
  </td>
  <td width=76 colspan=2 style='width:2.0cm;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:13.5pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>Очер. плат.</p>
  </td>
  <td width=94 colspan=2 style='width:70.85pt;border:none;padding:0cm 1.4pt 0cm 1.4pt;
  height:13.5pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>&nbsp;</p>
  </td>
  <td style='height:13.5pt;border:none' width=0 height=18></td>
 </tr>
 <tr style='height:13.5pt'>
  <td width=378 colspan=6 valign=bottom style='width:10.0cm;border:none;
  border-bottom:solid windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt;height:13.5pt'>
  <p class=MsoNormal>Получатель</p>
  </td>
  <td width=57 colspan=2 style='width:42.55pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.4pt 0cm 1.4pt;height:13.5pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>Код</p>
  </td>
  <td width=76 style='width:2.0cm;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt;
  height:13.5pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>&nbsp;</p>
  </td>
  <td width=76 colspan=2 style='width:2.0cm;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:13.5pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>Рез. поле</p>
  </td>
  <td width=94 colspan=2 style='width:70.85pt;border:none;border-bottom:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:13.5pt'>
  <p class=MsoNormal style='margin-left:2.85pt'>&nbsp;</p>
  </td>
  <td style='height:13.5pt;border:none' width=0 height=18></td>
 </tr>
 <tr style='height:13.0pt'>
  <td width=170 colspan=2 valign=bottom style='width:127.6pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:13.0pt'>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
  <td width=113 colspan=2 valign=bottom style='width:3.0cm;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:13.0pt'>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
  <td width=38 valign=bottom style='width:1.0cm;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:13.0pt'>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
  <td width=95 colspan=2 valign=bottom style='width:70.9pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:13.0pt'>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
  <td width=132 colspan=3 valign=bottom style='width:99.25pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:13.0pt'>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
  <td width=95 colspan=2 valign=bottom style='width:70.9pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt;height:13.0pt'>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
  <td width=38 valign=bottom style='width:28.25pt;border:none;border-bottom:
  solid windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt;height:13.0pt'>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
  <td style='height:13.0pt;border:none' width=0 height=17></td>
 </tr>
 <tr style='height:69.55pt'>
  <td width=680 colspan=13 valign=top style='width:18.0cm;border:none;
  padding:0cm 1.4pt 0cm 1.4pt;height:69.55pt'>
  <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
  </td>
  <td style='height:69.55pt;border:none' width=0 height=93></td>
 </tr>
 <tr style='height:13.65pt'>
  <td width=680 colspan=13 valign=bottom style='width:18.0cm;border:none;
  border-bottom:solid windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt;height:13.65pt'>
  <p class=MsoNormal>Назначение платежа</p>
  </td>
  <td style='height:13.65pt;border:none' width=0 height=18></td>
 </tr>
 <tr height=0>
  <td width=76 style='border:none'></td>
  <td width=95 style='border:none'></td>
  <td width=19 style='border:none'></td>
  <td width=95 style='border:none'></td>
  <td width=38 style='border:none'></td>
  <td width=57 style='border:none'></td>
  <td width=38 style='border:none'></td>
  <td width=19 style='border:none'></td>
  <td width=76 style='border:none'></td>
  <td width=38 style='border:none'></td>
  <td width=38 style='border:none'></td>
  <td width=57 style='border:none'></td>
  <td width=38 style='border:none'></td>
  <td style='border:none' width=0><p class='MsoNormal'>&nbsp;</td>
 </tr>
</table>

<p class=MsoNormal style='margin-bottom:18.0pt'>                                                                                                         Подписи                                                       Отметки
банка</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse'>
 <tr style='page-break-inside:avoid'>
  <td width=227 valign=bottom style='width:6.0cm;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
  <td width=227 valign=bottom style='width:6.0cm;border:none;border-bottom:
  solid windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
  <td width=227 rowspan=2 valign=top style='width:6.0cm;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:41.0pt'>
  <td width=227 valign=top style='width:6.0cm;padding:0cm 1.4pt 0cm 1.4pt;
  height:41.0pt'>
  <p class=MsoNormal align=center style='text-align:center'>М.П.</p>
  </td>
  <td width=227 valign=bottom style='width:6.0cm;border:none;border-bottom:
  solid windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt;height:41.0pt'>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
