/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
  display: block
}

mark, rp, rt, ruby, summary, time {
  display: inline
}

/* Global properties */

/* constants */
//@second_color: #82b704;
@first_color: #464646;
@second_color: #4991cf;

/* fonts */
@font-face {
  font-family: "WhitneyBook";
  src: url("../../fonts/WhitneyBook/WhitneyBook.eot");
  src: url("../../fonts/WhitneyBook/WhitneyBook.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/WhitneyBook/WhitneyBook.woff") format("woff"),
  url("../../fonts/WhitneyBook/WhitneyBook.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "WhitneyLight";
  src: url("../../fonts/WhitneyLight/WhitneyLight.eot");
  src: url("../../fonts/WhitneyLight/WhitneyLight.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/WhitneyLight/WhitneyLight.woff") format("woff"),
  url("../../fonts/WhitneyLight/WhitneyLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #464646
}

html {
  //min-width: 980px
}

html, body {
  height: 100%
}

/*  --------------------------------  tailings --------------------------------  */
.tail-top, .tail-top1, .tail-top2, .tail-top3 {
  background-repeat: repeat-x;
  background-color: #f2f2f2;
  background-position: left top;
  min-width: 980px
}

.tail-top {
  background-image: url(../../img/tail-top.gif);
}

.tail-top1 {
  background-image: url(../../img/tail-top1.gif)
}

.tail-top2 {
  background-image: url(../../img/tail-top2.gif)
}

.tail-top3 {
  background-image: url(../../img/tail-top3.gif)
}

/*  -------------------------------  < header > -------------------------------  */
@import "header/header.less";
/*  -------------------------------  </header > -------------------------------  */
/*  -------------------------------  < content > ------------------------------  */
@import "content/content.less";
/*  -------------------------------  </content > ------------------------------- */

@import "buttons.less";
/*  -------------------------------  <ReactComponents > ------------------------------- */
@import "App.less";

@import "../libs/bootstrap-addons.less";

/*  -------------------------------- <Form > ----------------------------------------*/
@import "form/popup_form.less";

/*  -------------------------------- <Popup > ----------------------------------------*/
@import "popup/popup.less";

@import "form/check_token_form.less";
.form-error {
  color: #d9534f;
}

span.block_s-profile-menu-li-span a {
  color: white !important;
}

@import (multiple) "../application/components/Header";

header {
  .Header-Container {
    max-width: 1210px;
    display: flex;
    flex: 1 auto;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 @indent;
    nav {
      @media (max-width: @tablet) {
        display: none;
      }
      ul {
        @import (multiple) "../landing/components/DropDownList";
        li.DropDownList {
          padding: 22px 0;
          .DropDownList-Container {
            .DropDownList-Text {
              color: #393939;
              opacity: 1;
            }
            .DropDown-Menu {
              a:hover {
                &:before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .Logo-Text {
    margin-bottom: 0;
  }

  .btn.btn-blue.header-nav-btn {
    text-transform: uppercase;
    margin-top: 0;
  }
}

@dark-bg-gradient: #3c4458;
@import (multiple) "../landing/components/Footer";
footer {
  .Container {
    max-width: 1210px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
    @media (max-width: @small) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  font-size: 14px;
  line-height: 1.4285;
  background: #333333 !important;
  h3 {
    font-size: 14px;
    line-height: 1.4285;
    margin-bottom: 20px !important;
  }
}