{% import 'macro/pageHelper.twig' as pageHelper %}

{{ doctype() }}
<html lang="ru" style="width: 100%;">
<head>
    <meta charset="utf-8">
    {% autoescape false %}
        {{ headMeta().
        appendName('viewport', 'width=device-width, initial-scale=1.0').
        appendHttpEquiv('X-UA-Compatible', 'IE=edge') }}
    {% endautoescape %}
    <style>
        html,
        body {
            margin: 0 auto !important;
            padding: 0 !important;
            height: 100% !important;
            width: 100% !important;
        }
        @font-face {
            font-family: 'Lato';
            src: url({{  basePath('fonts/Lato/Lato-Regular.eot?#iefix') }}) format('embedded-opentype'),  url({{  basePath('fonts/Lato/Lato-Regular.woff') }}) format('woff'), url({{  basePath('fonts/Lato/Lato-Regular.ttf') }})  format('truetype'), url({{  basePath('fonts/Lato/Lato-Regular.svg#Lato-Regular') }}) format('svg');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Lato';
            src: url({{  basePath('fonts/Lato/Lato-Bold.eot?#iefix') }}) format('embedded-opentype'),  url({{  basePath('fonts/Lato/Lato-Bold.woff') }}) format('woff'), url({{  basePath('fonts/Lato/Lato-Bold.ttf') }})  format('truetype'), url({{  basePath('fonts/Lato/Lato-Bold.svg#Lato-Bold') }}) format('svg');
            font-weight: bold;
            font-style: normal;
        }
        @font-face {
            font-family: 'PT Serif';
            src: url({{  basePath('fonts/PTSerif/PTSerif-Regular.eot?#iefix') }}) format('embedded-opentype'),  url({{  basePath('fonts/PTSerif/PTSerif-Regular.woff') }}) format('woff'), url({{  basePath('fonts/PTSerif/PTSerif-Regular.ttf') }}) format('truetype'), url({{  basePath('fonts/PTSerif/PTSerif-Regular.svg#PTSerif-Regular') }}) format('svg');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'PT Serif';
            src: url({{  basePath('fonts/PTSerif/PTSerif-Bold.eot?#iefix') }}) format('embedded-opentype'),  url({{  basePath('fonts/PTSerif/PTSerif-Bold.woff') }}) format('woff'), url({{  basePath('fonts/PTSerif/PTSerif-Bold.ttf') }}) format('truetype'), url({{  basePath('fonts/PTSerif/PTSerif-Bold.svg#PTSerif-Bold') }}) format('svg');
            font-weight: bold;
            font-style: normal;
        }


        * {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }
        table {
            border-spacing: 0 !important;
            border-collapse: collapse !important;
            margin: 0 auto !important;
        }
        a:hover {
            text-decoration: underline !important;
        }
    </style>
    <!--[if mso]>
    <style type=”text/css”>
        .font-lato {
            font-family: 'Arial', sans-serif;
        }
        .font-ptserif{
            font-family: 'PT Serif', serif;
        }
    </style>
    <![endif]-->
</head>
<body style="margin: 0; padding: 0;background-color: #F4F8FB; width: 100%;">
<center style="width: 100%;background-color: #F4F8FB;">
<!--[if mso]>
    <table cellpadding="0" cellspacing="0" border="0" style="width: 100%; height: 100%;margin:0; padding:0" bgcolor="#F4F8FB"><tr><td width="750">
<![endif]-->
<div style="max-width:750px;margin:0 auto;">
<table cellpadding="0" cellspacing="0" border="0" style="width: 100%; height: 100%;margin:0; padding:0" bgcolor="#F4F8FB">
    <tr>
        <td width="21"></td>
        <td valign="center">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;margin:0; padding:0">
                <tr>
                    <td height="61"></td>
                </tr>
                <!--header start -->
                <tr>
                    <td style="padding: 20px 75px 40px;">
                        <a target="_blank" href="{{ main_project_url }}" style="display: inline-block;text-decoration: none;">
                            <img border="0" width="170" height="30" style="vertical-align: bottom;display: block;"  src="{{ main_project_url |trim('/', 'right') }}{{ basePath('img/email-logo_new.png') }}" alt="Guarant Pay">
                        </a>
                    </td>
                </tr>
                <!--header end -->
                <!--body start-->
                <tr>
                    <td bgcolor="#FFFFFF" style="padding: 20px 75px 60px;">
                        {% block content %}{% endblock content %}
                    </td>
                </tr>
                <!--body end -->
                <!--footer start-->
                <tr>
                    <td align="center">
                        <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #B2B2B2;font-size: 12px;line-height: 20px;margin-top: 17px;margin-bottom: 3px;">
                            Есть вопросы?<a href="mailto:support@guarantpay.com" style="font-size: 12px;line-height: 20px;font-family: 'Lato', 'Arial', sans-serif;text-decoration: none;color: #B2B2B2;">support@guarantpay.com</a>
                        </p>
                        <p style="margin: 0;">
                            <a class="font-lato" href="https://guarantpay.com" style="text-decoration: underline;color: #2399f1;font-size: 12px;line-height: 20px;font-family: 'Lato', 'Arial', sans-serif;" target="_blank">www.guarantpay.com</a>
                        </p>
                    </td>
                </tr>
                <!--footer end-->
                <tr>
                    <td height="61"></td>
                </tr>
            </table>
        </td>
        <td width="21"></td>
    </tr>
</table>
</div>
    <!--[if mso]>
    </td></tr></table>
    <![endif]-->
</center>
</body>
</html>
