@import "../variables";

.Avatar {
  background-image: url(../../../img/no-avatar.png);
  border-radius: 50%;
  width: 80px;
  height:80px;
  margin: auto;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
