@import "../variables";

.AvatarWithBorder{
  background-color: #FFFFFF;
  border: 1px solid @border-color;
  border-radius: 50%;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  width: 50px;
  height: 50px;
  .AvatarWithBorder-Container {
    background-image: url(../../../img/no-avatar.png);
    border-radius: 50%;
    width: 95%;
    height: 95%;
    margin: auto;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }
}
