.ButtonEdit {
  font-family: Montserrat, Arial, sans-serif;
  display: inline-block;
  width: 100%;
  max-width: 288px;
  color: #4F5C6C;
  border-radius: @border-radius;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  min-height: 36px;
  font-weight: 500;
  padding: 8px 10px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background: #F3F5F7 linear-gradient(180deg, #FEFEFE 0%, #F3F5F7 100%);
  border: 1px solid #D2D1D1;
  transition-property: background, border-color;
  transition-duration: .3s;
  transition-timing-function: ease;
  @media (max-width: @grid-breakpoint-sm) {
    max-width: none;
  }

  &:hover {
    background: #F3F5F7 linear-gradient(180deg, #FEFEFE 0%, #F3F5F7 0.65%);
  }
  &:active {
    background: #E4E5E7;
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.3;
    background-color: gray;
  }
}