.ButtonDelete {
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  text-transform: none;
  display: inline-block;
  width: 100%;
  max-width: 288px;
  color: #ffffff;
  border-radius: @border-radius;
  cursor: pointer;
  padding: 7px @padding-inside-element_x;
  text-decoration: none;
  border: 1px solid @danger-color;
  background-color: @danger-color;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: .3s;
  transition-timing-function: ease;
  box-shadow: 0px 1px 1px rgba(53, 64, 82, 0.1), inset 0px 2px 6px rgba(255, 255, 255, 0.2), inset 0px -1px 1px rgba(0, 0, 0, 0.1);
  @media (max-width: @grid-breakpoint-sm) {
    max-width: none;
  }
  &:hover {
    background-color: @danger-color-hover;
    border: 1px solid @danger-color-hover;
  }
  &:active {
    background-color: @danger-color-action;
    border: 1px solid @danger-color-action;
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.3;
    background-color: gray;
  }

  .ripple_animated{
    background-color: @dark-red-ripple-color;
  }

  &.Preloader {
    opacity: 1;
    color: transparent;
    user-select: none;
    &:before {
      display: none;
    }
    &:after {
      left: 0;
      right: 0;
    }
  }
}