.ButtonClose {
  cursor: pointer;
  height: 24px;
  width: 24px;
  position: relative;
  background-color: transparent;
  &:before, &:after {
    border-radius: 10px;
    content: '';
    background-color: @accent-color;
    height: 3px;
    width: 18px;
    position: absolute;
    left: 0;
    top: 50%;
  }
  &:before {
    transform: translateY(-50%) rotate(-45deg);
  }
  &:after {
    transform: translateY(-50%) rotate(45deg);
  }
}