.ButtonAccept {
  font-family: Montserrat, Arial, sans-serif;
  display: inline-block;
  width: 288px;
  color: #fff;
  border-radius: @border-radius;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid @green-color;
  padding: 7px @padding-inside-element_x;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background-color: @success-color;
  transition-property: background-color;
  transition-duration: .3s;
  @media (max-width: 480px) {
    max-width: none;
    width: 100%;
  }

  &:hover {
    background-color: @success-color-hover;
  }
  &:active {
    background-color: @success-color-action;
  }

  .ripple_animated{
    background-color: @dark-green-ripple-color;
  }

}
