.ButtonSearch {
  width: 40px;
  height: 40px;
  background-color: #1a8bff;
  border-radius: @border-radius;
  display: inline-block;
  position: relative;
  border: none;
  cursor: pointer;

  span {
    display: inline-block;
    color: #fff;
    text-align: center;
    background: url(../../../img/search_white.png) no-repeat center center;
    vertical-align: middle;
    width: 15px;
    position: relative;
    z-index: 1;
  }

  .ripple_animated{
    background-color: @dark-blue-ripple-color;
  }

}