.ButtonAdd {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: #1a8bff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  &:before, &:after {
    content: '';
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
  }
  &:before {
    height: 3px;
    width: 13px;
  }
  &:after {
    height: 13px;
    width: 3px;
  }
}

