.ButtonApply {
  font-family: Montserrat, Arial, sans-serif;
  display: inline-block;
  width: 100%;
  font-weight: 500;
  line-height: 18px;
  max-width: 288px;
  color: #fff;
  border-radius: @border-radius;
  cursor: pointer;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  background-color: @apply-color;
  border: 1px solid @apply-color;
  transition-property: background-color, box-shadow, border-color;
  transition-duration: .3s;
  transition-timing-function: ease;
  box-shadow: 0px 1px 1px rgba(53, 64, 82, 0.1), inset 0px 2px 6px rgba(255, 255, 255, 0.2), inset 0px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform: none;
  font-size: 13px;
  min-height: 36px;

  &.FormInvitation-Resend {
    margin-bottom: 12px;
  }

  &.button-add-civil-law-subject{
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: @grid-breakpoint-sm) {
    max-width: none;
  }

  &:hover {
    border-color: @apply-prepare-color;
    background-color: @apply-prepare-color;

    &:not([data-ripple-button]){
      box-shadow: 0 2px 6px rgba(47, 83, 151, 0.1);
    }

  }
  &:active {
    background-color: @apply-prepare-color;
    border-color: @apply-prepare-color;

    &:not([data-ripple-button]) {
      box-shadow: inset 0 1px 4px rgba(53, 64, 82, 0.1), inset 0px -1px 2px rgba(218, 218, 218, 0.1);
    }

  }

  // Preloader
  &:disabled {
    pointer-events: none;
    background: @grey-color-disabled;
    border: 1px solid @grey-color-disabled;
    box-shadow: inset 0px 1px 4px rgba(53, 64, 82, 0.1), inset 0px -1px 2px rgba(218, 218, 218, 0.1);
    opacity: 1;
  }
  &.Preloader {
    opacity: 1;
    color: transparent;
    user-select: none;
    &:before {
      display: none;
    }
    &:after {
      left: 0;
      right: 0;
    }
  }
  @import (multiple) "../atoms/icon-security-card";

  .ripple_animated{
    background-color: @dark-blue-ripple-color;
  }

}
a.ButtonApply {
  padding: 6.5px @padding-inside-element_x;
}
.ButtonApply.disabled {
  pointer-events: none;
  background: linear-gradient(@dark-grey-color 0%, @dark-grey-color 100%);
  border: 1px solid @border-color-hover;
  opacity: 1;
}