.button-popup-close {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: calc(~'100% - 18px');
  top: -18px;
  z-index: 3;
  &:hover {
    path {
      fill: @accent-color;
    }
  }
  @media (max-width: @grid-breakpoint-sm) {
    svg {
      width: 30px;
      height: 30px;
    }
  }
}