.button-grey {
  display: inline-block;
  width: 100%;
  color: #FFFFFF;
  border-radius: @border-radius;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  padding: 7px @padding-inside-element_x;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background: linear-gradient(#C5D0DE 0%, #C5D0DE 100%);
  border: 1px solid @grey-color-disabled;
  transition-property: background, border-color;
  transition-duration: .3s;
  transition-timing-function: ease;
}