.ButtonRefuse {
  font-family: Montserrat, Arial, sans-serif;
  display: inline-block;
  width: 100%;
  max-width: 288px;
  color: #354052;
  border-radius: @border-radius;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  padding: 7px @padding-inside-element_x;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background-color: @refuse-color;
  background: linear-gradient(180deg, #FFFFFF, #F2F4F7);
  border: 1px solid #C5D0DE;
  transition-property: background-color, border-color, color;
  transition-duration: .3s;
  transition-timing-function: ease;
  @media (max-width: @grid-breakpoint-sm) {
    max-width: none;
  }

  &:hover {
    background-color: @refuse-color-hover;
  }
  &:active {
    background-color: @refuse-color-action;
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.3;
    background-color: gray;
  }
  &.Preloader {
    opacity: 1;
    color: transparent;
    user-select: none;
    &:before {
      display: none;
    }
    &:after {
      left: 0;
      right: 0;
    }
  }

  .ripple_animated{
    background-color: @dark-grey-ripple-color;
  }

}