.col-mobile-title{
  display: none;
  color: @text-color;
  font-weight: 500;
  line-height: 24px;
  font-size: 14px;
  width: 50%;

  @media (max-width: @grid-breakpoint-sm){
    display: block;
  }

}
.col-number .col-mobile-title{
  width: auto;
}