.control-enable-control {
  input[type='checkbox'] {
    display: none;
  }
  label {
    position: relative;
    padding-left: 24px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #C5D0DE;
      border-radius: 2px;
      background: linear-gradient(180deg, #FFFFFF, #F2F4F7);
    }
  }

  input[type='checkbox']:checked + label {
    &:before {
      background: url(../../../img/checkbox-checked.svg);
      border: none;
    }
  }
}




