.date-range-list{

  .date-range-list__item{
    display: block;
    cursor: pointer;
    transition: background-color .3s, color .3s;
    padding: 0 16px;
    font-size: 14px;
    line-height: 30px;

    &.active{
      background-color: @accent-color;
      color: #fff;
    }

  }

}