.deal-filter-field{
  margin-bottom: 21px;

  .deal-filter-field__label{
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.0016px;
    color: #444444;
    margin-bottom: 8px;
    padding-left: 14px;

  }

  .deal-filter-field__input{

    &.with-datepicker .dropdown-field__selected-value:before{
      content: '';
      background: url('/img/datepicker-calendar-icon.svg') no-repeat 5% center;
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-right: 8px;
      vertical-align: middle;
    }

    .form-field{
      background-color: #FFFFFF;
      border-radius: 4px;
      border: 1px solid #C5D0DE;
      height: 36px;
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;

      &.with-search-icon{
        background-image: url('/img/search-icon-grey.svg');
        background-repeat: no-repeat;
        background-position: 95% 50%;
      }

    }

  }

}
