.deal-name-mobile{
  font-weight: 500;
  line-height: 24px;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  background-color: #333F52;
  display: none;
  padding: 6px 0;

  @media (max-width: @grid-breakpoint-lt){
    display: block;
  }

  @media (max-width: @grid-breakpoint-sm){
    font-size: 14px;
  }

}