.DealScore {
  font-size: 14px;
  font-weight: 400;
  border-left: 2px solid @border-color-deal-card;
  border-bottom: 2px solid @border-color-deal-card;
  .DealScore-Top, .DealScore-Bottom {
    padding: 15px;
    letter-spacing: 1.4px;
    background-color: @bg-gray-color;
    text-transform: uppercase;
    text-align: center;
  }
  .DealScore-Top {
    border-bottom: 1px dotted @border-color;
  }
  .DealScore-Bottom {
    border-top: 1px dotted @border-color;
  }
  .DealScore-Total, .DealScore-Field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .DealScore-Field {
    font-size: 12px;
    .DealScore-Field + .DealScore-Field {
      margin-top: 8px;
    }
  }
  .DealScore-Total {
    font-size: 18px;
    margin-top: 51px;
  }
  .DealScore-Count {
    font-weight: 700;
  }
  .DealScore-Text {
    font-weight: 300;
  }
  .DealScore-Details {
    padding: 32px 25px 9px;
    @media (max-width: @mobile) {
      padding-left: 15px;
      padding-right: 15px;
    }
    @media (max-width: @small) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}