.dropdown-field{
  position: relative;

  .dropdown-field__selected-value{
    position: relative;
    border-radius: 4px;
    background: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #C5D0DE;
    height: 36px;
    line-height: 36px;
    padding: 0 12px;

    &:after{
      content: '';
      background: url('/img/select-icon.svg') no-repeat center;
      width: 16px;
      height: 16px;
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
    }

  }

  .dropdown-field__items-list{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 2;
    display: none;
    background-color: #fff;

    &.is-open{
      display: block;
    }

  }

  .dropdown-field__item{
    border: 1px solid #C5D0DE;
    border-top: none;
    padding: 0 12px;
    line-height: 36px;
  }

  .dropdown-field__placeholder{
    color: #7F8FA4;
    font-size: 14px;
  }

}