.files-list{

  .file-item{
    color: @apply-action-color;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: -0.5px;
    padding: 10px 40px 10px 13px;
    background: #FFFFFF;
    border: 1px solid #EBEDF3;
    box-sizing: border-box;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:not(:last-child){
      margin-bottom: 12px;
    }

    &:before{
      content: '';
      background: rgba(77, 161, 255, 0.1) url("/img/application/attachment-icon.svg") no-repeat 50% 50%;
      width: 20px;
      height: 20px;
      display: inline-block;
      border-radius: 2px;
      margin-right: 5px;
      vertical-align: top;
    }

  }

  .trash-icon{
    background: url("/img/application/trash-icon.svg") no-repeat center;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

}