.filter-button{
  width: 36px;
  height: 36px;
  border-radius: 4px;
  font-size: 0;
  outline: none;
  cursor: pointer;
  float: right;
  transition: background-color .4s, border-color .4s;
  border: 1px solid @dark-grey-color;
  background-color: transparent;
  position: relative;

  &.is-active{
    background-color: @accent-color;
    border-color: #1682D3;
    //background: linear-gradient(0deg, @accent-color 0%, @accent-color-dark 98.44%);

    &:before{
      opacity: 1;
    }
    &:after{
      opacity: 0;
    }

  }

  &:before, &:after{
    content: '';
    background-repeat: no-repeat;
    background-position: 50%;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .4s;
  }

  &:before{
    background-image: url('/img/filter-icon.svg');
    opacity: 0;
  }

  &:after{
    background-image: url('/img/filter-icon-disabled.svg');
  }

}