.form-info-message{
  font-weight: 400;
  line-height: 16px;
  padding: 10px 0 8px 10px;
  font-size: 14px;
  color: @text-dark-grey-color;
  border-left: 2px solid @apply-color;
  margin-bottom: @grid-vertical-gutter * 4;

  a{
    color: @apply-color;

    &:hover{
      text-decoration: underline;
    }

  }

}