//.grid-wrap {
//  width: 100%;
//  padding: 0 16px;
//  .grid-row {
//    .flex-direction-column,
//    .flex-direction-row {
//      display: flex;
//      width: 100%;
//      .grid-col-1 {
//        width: 25%;
//        //max-width: @grid;
//        padding: 0 16px;
//      }
//      .grid-col-2 {
//        width: 50%;
//        //max-width: @grid_2-col;
//        padding: 0 16px;
//      }
//      .grid-col-3 {
//        //max-width: 488px;
//        max-width: @grid_3-col;
//        padding: 0 16px;
//      }
//      .grid-col-4 {
//        max-width: @grid_4-col;
//        padding: 0 16px;
//      }
//      .grid-col-12 {
//        width: 100%;
//        padding: 0 16px;
//      }
//      .grid-col-1.inner,
//      .grid-col-2.inner,
//      .grid-col-3.inner,
//      .grid-col-4.inner {
//        padding: 0 16px 0 0;
//      }
//    }
//    .flex-direction-column {
//      flex-direction: column;
//    }
//    .flex-direction-row {
//      flex-direction: row;
//    }
//
//
//
//
//
//  }
//}
//
//.col-1 {
//  max-width: 128px;
//  width: 128px;
//}
////.col-2 {
////  max-width: @col-2;
////  width: @col-2;
////}