.head-of-element {
  display: none;
  padding: @padding-inside-element_y @padding-inside-element_x;
  background-color: @background-dark-fill;
  color: #FFFFFF;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: @grid-vertical-gutter;
  @media (max-width: @grid-breakpoint-lt) {
    display: block;
  }
  h3 {
    text-align: center;
  }
}