.icon-settings-gear {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: sub;
  background: transparent url("../../../img/icon-settings-gear.svg") no-repeat scroll;
  cursor: pointer;
}