.icon-shield-gp {
  display: inline-block;
  width: 26px;
  height: 30px;
  margin: 12px 19px;
  margin-right: 9px;
  vertical-align: sub;
  background: transparent url("../../../img/icon-shield-gp.svg") no-repeat scroll;
}