.IconOk {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: transparent url("../../../img/ok-green-circle.svg") no-repeat scroll;
  &.confirmed-profile {
    background: transparent url("../../../img/ok-green-circle20.svg") no-repeat scroll;
  }
}