.IconCalendar {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../../../img/calendar-icon.png);
  background-size: cover;
}
.IconCalendar--active {
  background-image: url(../../../img/calendar-icon-active.png);
}