.icon-add-users {
  position: relative;
  display: inline-block;
  &:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url(../../../img/adduser.svg) no-repeat;
  }
}
