.IconEdit {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  background: transparent url("../../../img/edit-icon.svg") no-repeat scroll top left;
  overflow: hidden;
}