&:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 51%;
  right: 0;
  transform: translateY(-50%);
  background: url(../../../img/SelectArrowWhite.svg) no-repeat;
}