.icon-security-card {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: sub;
  background: transparent url("../../../img/icon-security-card.svg") no-repeat scroll;
}