.InfoField {
  display: block;
  background-color: @bg-gray-color;
  border-radius: @border-radius;
  padding: 7px 13px 4px;
  font-size: 14px;
  .InfoField-Label {
    vertical-align: top;
    display: inline-block;
    max-width: 190px;
    width: 100%;
    font-weight: 500;
    color: @text-color;
    //margin-bottom: 3px;
    margin-right: 5px;
    @media (max-width: @mobile) {
      max-width: 100%;
    }
  }
  .InfoField-Text {
    vertical-align: top;
    display: inline-block;
    //margin-bottom: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.InfoField + .InfoField {
  margin-top: 10px;
}

.InfoField_comment {
  background-color: transparent;
}