input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 24px;
  &:hover {
    &:before {
      border: 1px solid @border-color-hover;
    }
  }
}

input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid @border-color;
  border-radius: @border-radius;
  background: @light-grey-gradient;
}

input[type="checkbox"]:checked + label:before {
  background: url(../../../img/checkbox-checked.svg);
  border: none;
}

input[type="checkbox"]:focus + label:before {

}

input[type="checkbox"]:disabled + label:before {
  background: @border-color;
  border-color: @grey-color-disabled;
}
