.InputRadio {
  padding: 0 5px;
  input[type="radio"] {
    display: none;
  }
  label {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    //text-transform: capitalize;
    @media (max-width: @grid-breakpoint-sm) {
      margin-bottom: @grid-vertical-gutter * 2;
    }
    .radiobutton {
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("../../../img/radiobutton.svg") no-repeat 0;
      margin-right: 8px;
      flex: none;
    }
    &:hover {
      background: url("../../../img/radiobutton-hover.svg") no-repeat 0;
    }
  }


  input[type="radio"]:disabled + label {
    .radiobutton {
      background: url("../../../img/radiobutton-disabled.svg") no-repeat;
    }
  }

  input[type="radio"]:checked + label {
    .radiobutton {
      background: url("../../../img/radiobutton-checked.svg") no-repeat;
    }
  }

  input[type="radio"]:checked:disabled + label {
    .radiobutton {
      background: url("../../../img/radiobutton-checked-disabled.svg") no-repeat;
    }
  }
}
