.InputDate2 {
  padding-right: 35px;
  background: transparent url("../../../img/datapicker.png") no-repeat scroll calc(~"100% - 15px");
  background-color: @_New_most-light-grey-color;
  cursor: pointer;
}