.input-file-wrapper{
  margin-bottom: @grid-vertical-gutter;
}
.InputFile {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: initial;
  //line-height: 24px;
  //width: 100%;
  //max-width: 765px;
  //margin-right: @indent;

  &.InputFile__template{
    display: block;

    [class*="col-"]{
      @media (min-width: (@grid-breakpoint-md + 1)){
        display: flex;
        align-items: center;
      }
    }

    .LinkWithIcon{
      @media (max-width: @grid-breakpoint-md){
        margin-top: 10px;
      }
    }

    .LinkWithIcon-Text{
      font-size: 14px;
      text-decoration: underline;

      &:hover{
        text-decoration: none;
      }

    }

  }

  @media (max-width: 767px) {
    flex-wrap: wrap;
  }
  .InputFile-Label {
    flex-basis: 190px;
    text-transform: none;
    color: #2c3f51;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 30px;
    @media (max-width: 992px) {
      flex-basis: 230px;
    }
    @media (max-width: 767px) {
      flex-basis: 100%;
    }
  }
  @import (multiple) "./../components/LinkWithIcon";
  .InputFile-Container {
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    //flex-basis: 395px;
    @media (max-width: 767px) {
      flex-basis: 100%;
    }
    mark {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      text-transform: none;
      color: #445155;
      font-size: 100%;
      font-weight: 300;
      position: relative;
      background-color: #fff;
      border: 1px solid @border-color;
      border-radius: 3px;
      padding: 11px 40px 7px 10px;

      &.notChange{
        &:after {
          content: "";
          display: block;
          width: 24px;
          height: 24px;
          position: absolute;
          right: 10px;
          margin-top: 0px;
          top: 50%;
          transform: translate(0, -50%);
          background: transparent url(../../../img/application/clip-icon.svg) no-repeat scroll 50% 50%;
          background-size: 100%;
        }
        &.notChange_disabled {
          &:after {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            right: 10px;
            margin-top: 0px;
            top: 50%;
            transform: translate(0, -50%);
            background: transparent url(../../../img/application/clip-icon-disabled.svg) no-repeat scroll 50% 50%;
            background-size: 100%;
          }
        }
      }
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      top: 0;
    }
  }
  .InputFile-Delete {
    background: transparent url(../../../img/delete-red-icon.png) no-repeat scroll 50% 50%;
    position: absolute;
    height: 19px;
    width: 19px;
    right: 10px;
    cursor: pointer;
    display: none;
    margin-top: 0px;
    top: 50%;
    transform: translate(0, -50%);
  }
}
