.InputSubmit {
  display: inline-block;
  position: relative;
  @media (max-width: @small) {
    display: block;
  }
  .InputSubmit-Input {
    padding-right: 40px;
  }
  .InputSubmit-Button {
    cursor: pointer;
    position: absolute;
    border: none;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background: url(../../../img/enter-submit-icon.png) no-repeat center center transparent;
  }

}