.InputSearch {
  padding-right: 35px;
  background: transparent url("../../../img/InputSearch.svg") no-repeat scroll calc(~"100% - 15px");
  background-size: auto 15px;
  background-color: @_New_most-light-grey-color;
}