.LeftNavLink {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 21px;
  padding-left: 35px;
  color: @grey-color-disabled;
  font-weight: 700;
  line-height: 20px;
  font-size: 14px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

  @media (max-width: @grid-breakpoint-lg){
    padding-left: 0;
  }
  @media (max-width: @grid-breakpoint-lt){
    padding-left: 35px;
  }

  &:hover {
    color: #ffffff;
    svg:not(.disabled) {
      fill: #ffffff;
      g > use:not(.fill-path){
        fill: #ffffff;
      }
    }
    .LeftNavLink-Img_document {
      background-position: 4px top;
    }
  }
  .LeftNavLink-Img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    text-align: center;

    @media (max-width: @grid-breakpoint-lg){
      display: none;
    }
    @media (max-width: @grid-breakpoint-lt){
      display: block;
    }

    @media (max-width: @mobile) {
      margin: 0 auto;
    }
  }

  .LeftNavLink-Img.change-size {
    width: 28px;
    height: 28px;
    left: -4px;
  }
  .change-size.deal-problem {
    height: 26px;
  }
  .LeftNavLink-Img_document {
    background: transparent url("../../../img/document-icon.png") no-repeat scroll 4px top;
  }
  .LeftNavLink-Img_info {
    background: transparent url("../../../img/info-icon.png") no-repeat scroll left top;
    height: 28px;
  }
  .LeftNavLink-Text {
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    @media (max-width: 1200px) {
      display: inline-block;
      visibility: hidden;
      position: absolute;
      left: -1000px;
      opacity: 0;
    }
  }
}
.LeftNavLink.disabled {
  cursor: default;
  &:hover {
    color: #A8AAB7;
  }
}