.LinksRow {
  a {
    position: relative;
    display: inline-block;
    min-width: 104px;
    padding-left: @grid-step * 6;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  a.active {
    text-decoration: none;
  }
}