.LinkSort {
  display: inline-block;
  position: relative;
  color: inherit;
}
.LinkSort:focus,
.LinkSort:active,
.LinkSort:hover {
  outline:none;
  text-decoration: none;
}
.LinkSort-Icon {
  background: transparent none no-repeat top left;
  opacity: 0;
  width: 13px;
  height: 17px;
  position: absolute;
  right: calc(~"100% + 5px");
  top: 50%;
  transform: translateY(-50%);
  padding-right: 10px;
}
.LinkSort-Icon.active,
.LinkSort .LinkSort-Icon:hover,
.LinkSort:hover .LinkSort-Icon{
  background-image: url("../../../img/arrow-for-filter_down.svg");
  opacity: 1;
  @media(max-width: 992px) {

  }
}
.LinkSort .LinkSort-Icon.LinkSort-Icon_up {
  background-image: url("../../../img/arrow-for-filter_up.svg");
  @media(max-width: 992px) {
    background-image: url("../../../img/arrow-for-filter_up.svg");
  }
}
.LinkSort .LinkSort-Icon.LinkSort-Icon_down {
  background-image: url("../../../img/arrow-for-filter_down.svg");
  @media(max-width: 992px) {
    background-image: url("../../../img/arrow-for-filter_down.svg");
  }
}

.LinkSort .LinkSort-Icon.LinkSortWhite-Icon_up {
  background-image: url("../../../img/arrow-for-filter_up.svg");
  @media(max-width: 992px) {
    background-image: url("../../../img/arrow-white-for-filter_up.svg");
  }
}
.LinkSort .LinkSort-Icon.LinkSortWhite-Icon_down {
  background-image: url("../../../img/arrow-for-filter_down.svg");
  @media(max-width: 992px) {
    background-image: url("../../../img/arrow-white-for-filter_down.svg");
  }
}