.Logo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  img {
    width: 100%;
    height: 100%;
  }
  &:hover {
    text-decoration: none;
  }
  .Logo-Img {
    display: inline-block;
    vertical-align: middle;
    width: 64px;
    height: 38px;
    @media (max-width: 767px) {
      margin-left: 10px;
    }
  }
  .Logo-Text {
    display: inline-block;
    width: 130px;
    height: 12px;
    margin-left: 8px;
    font-family: ProximaNova-Black, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6875;
    text-transform: uppercase;
    letter-spacing: 0.74px;
    vertical-align: middle;
    color: @text-color;
    background: url("../../../img/GUARANTPAY.svg");
    @media (max-width: @grid-breakpoint-lt) {
      display: none;
    }
  }
}