.Note {
  position: relative;
  padding: 0 @indentSmall;
  padding-left: 24px;
  margin: @grid-vertical-gutter 0 0 0;
  font-size: 12px;
  line-height: 2;
  color: @text-color;
  &:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 4px;
    background: url(../../../img/note_info.svg) no-repeat;
  }
}
.Note-Success {
  padding: 0 @indentSmall;
  margin: @grid-vertical-gutter 0 0 0;
  text-transform: none;
  font-size: 16px;
  color: #317f43;
}
.note-green {
  position: relative;
  padding: 0 @indentSmall;
  padding-left: 24px;
  margin: @grid-vertical-gutter 0 0 0;
  font-size: 12px;
  line-height: 2;
  color: @text-color;
  &:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 4px;
    background: url(../../../img/note_info-green.svg) no-repeat;
  }
}
.note-red {
  position: relative;
  padding: 0 @indentSmall;
  padding-left: 24px;
  margin: @grid-vertical-gutter 0 0 0;
  font-size: 12px !important;
  line-height: 2;
  color: @text-color;
  &:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 4px;
    background: url(../../../img/note_info-red.svg) no-repeat;
  }
}
.note-grey {
  position: relative;
  margin: @grid-vertical-gutter 0 0 0;
  font-size: 14px;
  line-height: 24px;
  color: @text-light-grey-color;
  &:first-letter {
    text-transform: capitalize;
  }
}
.note-tiny {
  position: relative;
  margin: @grid-vertical-gutter 0 @grid-vertical-gutter 0;
  font-size: 12px;
  line-height: 1.5;
  &:first-letter {
    text-transform: capitalize;
  }
}