.PointRounded {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  font-size: 30px;
  border-radius: 50%;
  background-color: #c7c7c9;
  color: #ffffff;
  z-index: 1;
  position: relative;
  @media (max-width: @mobile) {
    width: 40px;
    height: 40px;
    font-size: 22px;
  }
}