@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Preloader {
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 18;
    background: rgba(255, 255, 2555, 0.8);
  }
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    z-index: 19;
    background: url(../../../img/PreloaderGrey.svg) no-repeat;
    background-size: contain;
    animation: spin 800ms infinite linear;
  }
}

.Preloader_light {
  &:after {
    background: url(../../../img/PreloaderLightGrey.svg) no-repeat;
    background-size: contain;
  }
}

.Preloader_solid {
  &:before {
    background: #ffffff;
  }
}

.Preloader_large {
  &:after {
    width: 100px;
    height: 100px;
  }
}

//Для версии с div
//.Preloader {
//  width: 200px;
//  height: 200px;
//  position: relative;
//  display: none;
//  div {
//    left: 95px;
//    top: 56px;
//    position: absolute;
//    animation: preloader linear 1s infinite;
//    background: #a8aab7;
//    width: 10px;
//    height: 24px;
//    border-radius: 24%;
//    transform-origin: 5px 44px;
//    @media (max-width: @mobile) {
//      width: 5px;
//      height: 10px;
//      transform-origin: 5px 20px;
//    }
//    &:nth-child(1) {
//      transform: rotate(0deg);
//      animation-delay: -0.916666666666667s;
//    }
//    &:nth-child(2) {
//      transform: rotate(30deg);
//      animation-delay: -0.833333333333333s;
//    }
//    &:nth-child(3) {
//      transform: rotate(60deg);
//      animation-delay: -0.75s;
//    }
//    &:nth-child(4) {
//      transform: rotate(90deg);
//      animation-delay: -0.666666666666667s;
//    }
//    &:nth-child(5) {
//      transform: rotate(120deg);
//      animation-delay: -0.583333333333333s;
//    }
//    &:nth-child(6) {
//      transform: rotate(150deg);
//      animation-delay: -0.5s;
//    }
//    &:nth-child(7) {
//      transform: rotate(180deg);
//      animation-delay: -0.416666666666667s;
//    }
//    &:nth-child(8) {
//      transform: rotate(210deg);
//      animation-delay: -0.333333333333333s;
//    }
//    &:nth-child(9) {
//      transform: rotate(240deg);
//      animation-delay: -0.25s;
//    }
//    &:nth-child(10) {
//      transform: rotate(270deg);
//      animation-delay: -0.166666666666667s;
//    }
//    &:nth-child(11) {
//      transform: rotate(300deg);
//      animation-delay: -0.083333333333333s;
//    }
//    &:nth-child(12) {
//      transform: rotate(330deg);
//      animation-delay: 0s;
//    }
//  }
//}
