.progress-bar{
  position: relative;
  background-color: @edit-color-action;
  height: 25px;
  width: 100%;
  text-align: center;
  line-height: 25px;
  margin: 50px 0;
  border-radius: 5px;
  padding: 0;
  .progress-bar__text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-weight: 700;
    white-space: nowrap;
  }
  span {
    display: block;
    height: 25px;
    width: 200px;
    border-radius: @border-radius;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    background-color: @accent-color-dark;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
      transparent 75%, transparent);
    background-size: 30px 30px;
    animation: animate-stripes 3s linear infinite;
  }
  &.completed {
    span {
      background-color: @green-color;
    }
  }
  &.init {
    span {
      background-color: #D4CDCD;
    }
  }
}

@keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}