[data-ripple-button]{
  position: relative;
  overflow: hidden;

  .ripple-text{
    position: relative;
    z-index: 1;
  }

  .ripple{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    overflow: hidden;
    transform: translateZ(0);
    border-radius: inherit;
    pointer-events: none;
  }

  .ripple_animated{
    backface-visibility: hidden;
    position: absolute;
    border-radius: 50%;
    transform: scale(0.7);
    background: #fff;
    opacity: 1;
    animation: ripple-scale .5s both;
  }

}

@keyframes ripple-scale {
  to {transform: scale(24); opacity:0;}
}