.text-with-icon {
  position: relative;
  padding-left: 20px;
  &:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: url('../../../img/icon-add.svg');
  }
}