.TextImportant {
  position: relative;
  display: block;
  padding-left: 26px;
  margin-bottom: @indent;
  margin-top: @indent;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 0;
    background: url(../../../img/ImportantInfo.svg) no-repeat;
    background-size: contain;
  }
}