.TextMarked {
  position: relative;
  padding-left: 10px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: @text-color;
  }
}
.TextMarked.TextMarked_info{
  color: @green-color;
}

.TextMarked_red {
  color: @red-color;
}

.TextMarked_green {
  color: @green-color;
}

.TextMarked_grey {
  display: flex;
  color: #7F8FA4;
}

.TextMarked_date {
  min-width: 120px;
  margin-right: 16px;
}