.TitleBlue {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.1785;
  text-transform: none;
  font-weight: 500;
  margin-bottom: @grid-vertical-gutter * 2;
  color: @text-color;
  @media (max-width: @grid-breakpoint-lt) {
    letter-spacing: 0;
  }
  @media (max-width: @grid-breakpoint-sm) {
    font-size: 22px;
  }
  @media (max-width: @grid-breakpoint-xs) {
    font-size: 18px;
  }
  &-wrapper {
    position: relative;
    padding-right: 25px;
  }
  &.form-header-title {
    margin-bottom: 0;
  }
}