<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">
            <div class="jumbotron">
                <h3>Success message:</h3>
                <br>
                <?php echo $this->message; ?>
            </div>
        </div>
    </div>
</div>