<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">
            <div class="jumbotron">
                <?php if ($this->message): ?>
                    <?= $this->message ?>
                <?php else: ?>
                    Извините, сервис находится в стадии разработки! Данный функционал появится уже в ближайшем обновлении.
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>