
{% extends 'email/layout/layout_new.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Подтверждение почты',
    } %}
    <h2 class="font-lato" style="font-family: 'Lato', 'Arial', sans-serif;font-weight: bold;line-height: 20px;font-size: 24px;color: #516173;margin-bottom: 36px;">
        Подтверждение почты
    </h2>

    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, UserName!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 36px;">
        Для полноценного использования сервиса Гарант Пей просим <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">подтвердить</span> Ваш адрес электронной почты, кликните на кнопку ниже:
    </p>

    {% include 'email/partials/button.twig'
        with {
        'text':  'Подтвердить E-mail',
        'href': '#'
    } %}

    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 35px;">
        Если Вы не регистрировались на сервисе Гарант Пей, пожалуйста, игнорируйте это письмо.
    </p>
{% endblock content %}