<?php
$this->headTitle('Confirm');
?>

<div class="row">
    <div class="col-md-offset-4 col-md-3">
        <?= $this->form()->openTag($form); ?>

        <?= $this->formElement($form->get('bik')) ?>
        <?= $this->formElement($form->get('name')) ?>
        <?= $this->formElement($form->get('csrf')) ?>

        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">submit</button>
        </div>
        <!--/form-->
        <?= $this->form()->closeTag(); ?>
    </div>
</div>