{% if is_last == true %}
    <p class="TextMarked">Ваш запрос на суд отклонен.</p>
    <p class="TextMarked TextMarked_info" id='history-arbitrage-request-after-tribunal-decline-last'>Члены согласительной комиссии свяжутся с
        {% if deal['type_ident'] == 'T' %}
            продавцом
        {% else %}
            исполнителем
        {% endif %}
        и постараются в кратчайшие сроки, урегулировать спор без привлечения суда.</p>
{% endif %}
