{% if is_last == true %}
    <p class="TextMarked" id='history-arbitrage-request-last'>В качестве решения спора Вы указали: согласительная комиссия.</p>
    <p class="TextMarked TextMarked_info">Ожидайте подтверждения запроса на согласительную комиссию.</p>
{% endif %}
