{% if is_last == true %}
    <p class="TextMarked" id='history-arbitrage-request-after-discount-decline-last'>
        {% if deal['type_ident'] == 'T' %}
            Продавец
        {% else %}
            Исполнитель
        {% endif %}
        отклонил предложенный Вами вариант решения спора: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей.</p>
    <p class="TextMarked TextMarked_info">Спор переходит на рассмотрение согласительной комиссии. Команда юристов рассмотрит суть спора и предложит сторонам возможные пути решения конфликта.</p>
{% endif %}
