{% if is_last == true %}
    <p class="TextMarked" id='history-arbitrage-request-accepted-last'>Согласовано Ваше предложение: согласительная комиссия.</p>
    <p class="TextMarked TextMarked_info">Команда юристов рассмотрит суть спора и предложит сторонам возможные пути решения конфликта.</p>
{% endif %}
