{% import 'macro/pageHelper.twig' as pageHelper %}

{% if is_last %}
    <p class="TextMarked" id='history-discount-last'>По результатам спора было согласовано решение: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей. Скидка будет выплачена по завершению сделки.</p>
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked TextMarked_info">Продавцу необходимо исполнить обязательства по договору до <strong>{{ pageHelper.dateFormat(data['date_deadline'], 'd.m.Y')|trim }}</strong>. После получения и проверки товара подтвердите выполнение, тем самым соглашаясь с выполнением условий по сделке.</p>
        <p class="TextMarked">Если время исполнения заказа подходит к концу, а Вы не получили товар или полученный товар не соответствует условиям договора, Вы можете открыть спор.</p>
        <p class="TextMarked">Обратите внимание, по истечению времени исполнения заказа, сделка будет закрыта автоматически и деньги переведены продавцу.</p>
    {% else %}
        <p class="TextMarked TextMarked_info">Исполнителю необходимо исполнить обязательства по договору до <strong>{{ pageHelper.dateFormat(data['date_deadline'], 'd.m.Y')|trim }}</strong>. После получения и проверки услуги подтвердите выполнение, тем самым соглашаясь с выполнением условий по сделке.</p>
        <p class="TextMarked">Если время исполнения заказа подходит к концу, а Вы не получили услугу или полученная услуга не соответствует условиям договора, Вы можете открыть спор.</p>
        <p class="TextMarked">Обратите внимание, по истечению времени исполнения заказа, сделка будет закрыта автоматически и деньги переведены исполнителю.</p>
    {% endif %}
{% endif %}
