{% if is_last == true %}
    <p class="TextMarked" id='history-discount-request-rejected-last'>
        {% if deal['type_ident'] == 'T' %}
            Продавец
        {% else %}
            Исполнитель
        {% endif %}
        отклонил предложенный Вами вариант решения спора: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей.</p>
    <p class="TextMarked TextMarked_info">Ниже Вы можете указать какой способ разрешения спора Вы видите. Рекомендуем Вам связаться с
        {% if deal['type_ident'] == 'T' %}
            продавцом
        {% else %}
            исполнителем
        {% endif %}
        и предварительно согласовать его.</p>
{% endif %}