{% if is_last == true %}
    <p class="TextMarked" id='history-discount-request-accepted-last'>
        {% if deal['type_ident'] == 'T' %}
            Продавец
        {% else %}
            Исполнитель
        {% endif %}
        подтвердил предложенный Вами вариант решения спора: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей.</p>
    <p class="TextMarked TextMarked_info">Происходит проверка возможности предоставлении скидки, ожидайте уведомление от оператора.</p>
{% endif %}