{% if is_last == true %}
    <p class="TextMarked" id='history-discount-request-last'>В качестве решения спора Вы указали: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей.</p>
    <p class="TextMarked TextMarked_info">
        {% if deal['type_ident'] == 'T' %}
            Продавцу
        {% else %}
            Исполнителю
        {% endif %}
        необходимо подтвердить предложенное Вами решение.</p>
{% endif %}
