{% import 'macro/translate.twig' as translate %}

{% if is_last %}
    <p class="TextMarked" id='history-closed-with-days-last'>Спор закрыт. Сделка продлевается на {{ translate.warrantyDays(data['warranty_day'])|trim }}.</p>
{% endif %}