{% if is_last == true %}
    <p class="TextMarked" id='history-closed-after-discount-last'>Спор по сделке закрыт. По результатам спора было согласовано решение: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей. Скидка будет выплачена по завершению сделки.</p>
    <p class="TextMarked TextMarked_info">В течение 3-x рабочих дней будет произведена проверка корректности реквизитов и отправлены платежи на скидку и выплату денег
        {% if deal['type_ident'] == 'T' %}
            продавцу.
        {% else %}
            исполнителю.
        {% endif %}</p>
{% endif %}
