{% if is_last == true %}
    {% if deal_type_ident == 'T' %}
        <p class="TextMarked" id='history-refund-request-accepted-last'>Продавец подтвердил предложенный Вами вариант решения спора: возврат товара.</p>
        <p class="TextMarked TextMarked_info">В срок не более 3-х рабочих дней Вам необходимо организовать доставку товара, указать наименование транспортной компании либо иной службы, которой осуществляется доставка, а также код для отслеживания актуального статуса доставки и квитанцию. При невыполнении данных условий Организация получает право перечислить средства по Сделке Продавцу за вычетом суммы Комиссии.</p>
        <p class="TextMarked">После подтверждения получения товара продавцом в течение 3-х рабочих дней Организация переводит Вам денежные средства.</p>
        <p class="TextMarked">Если в течение 3-х календарных дней от момента фактической доставки Продавец не уведомляет Администрацию о получении товара от Покупателя, то Организация может вернуть Покупателю денежные средства по Сделке за вычетом Комиссии.</p>
    {% else %}
        <p class="TextMarked" id='history-refund-request-accepted-last'>Исполнитель подтвердил предложенный Вами вариант решения спора: отказ от услуги.</p>
        <p class="TextMarked TextMarked_info">В срок не более 1-х рабочего дня Вам необходимо сообщить Исполнителю об отказе от услуги. При невыполнении данных условий Организация получает право перечислить средства по Сделке Исполнителю за вычетом суммы Комиссии.</p>
    {% endif %}
{% endif %}
