{% if is_last == true %}
        <p class="TextMarked" id='history-refund-last'>Продавец подтвердил получение товара.</p>
        <p class="TextMarked TextMarked_info">В течении 3-x рабочих дней, будет произведена проверка корректности реквизитов и отправлен платеж на возврат средств по сделке, за вычетом комиссии сервиса.</p>
{% endif %}
