{% if is_last == true %}
    {% if deal_type_ident == 'T' %}
        <p class="TextMarked" id='history-refund-request-last'>В качестве решения спора Вы указали: возврат товара.</p>
        <p class="TextMarked TextMarked_info">Продавцу необходимо подтвердить предложенное Вами решение. В случае отказа спор перейдет на рассмотрение согласительной комиссии сервиса.</p>
    {% else %}
        <p class="TextMarked" id='history-refund-request-last'>В качестве решения спора Вы указали: отказ от услуги.</p>
        <p class="TextMarked TextMarked_info">Исполнителю необходимо подтвердить предложенное Вами решение. В случае отказа спор перейдет на рассмотрение согласительной комиссии сервиса.</p>
    {% endif %}
{% endif %}
