{% if is_last %}
    <p class="TextMarked" id='history-refund-is-made-last'>Возврат осуществлен.</p>
    <p class="TextMarked TextMarked_info">Средства по сделке, за вычетом комиссии сервиса, отправлены на ваш счет.</p>
{% endif %}
