{% if is_last == true %}
    <p class="TextMarked" id='history-refund-request-rejected-last'>
        {% if deal_type_ident == 'T' %}
            Продавец отклонил предложенный вами вариант решения спора: возврат товара.
        {% else %}
            Исполнитель отклонил предложенный вами вариант решения спора: отказ от услуги.
        {% endif %}
    </p>
    <p class="TextMarked TextMarked_info">Спор переходит на рассмотрение согласительной комиссии. Команда юристов рассмотрит суть спора и предложит сторонам возможные пути решения конфликта.</p>
{% endif %}