{% if is_last == true %}
    <p class="TextMarked" id='history-tribunal-request-last'>В качестве решения спора Вы указали: Суд.</p>
    <p class="TextMarked TextMarked_info">Ожидайте подтверждения запроса на суд.</p>
{% endif %}
