{% if is_last == true %}
    <p class="TextMarked" id='history-tribunal-request-rejected-last'>Ваш запрос на суд отклонен.</p>
    <p class="TextMarked TextMarked_info">Члены согласительной комиссии свяжутся с Вами и постараются в кратчайшие сроки урегулировать спор без привлечения суда.</p>
{% endif %}
