{% if is_last == true %}
    <p class="TextMarked" id='history-tribunal-request-accepted-last'>Согласовано Ваше предложение: суд.</p>
    <p class="TextMarked TextMarked_info" >В течение 10-дней Вам необходимо подтвердить данное решение, направив Администрации (<strong>mail@guarantpay.com</strong>) копию обращения за судебной защитой.</p>
{% endif %}
