<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Паспорта физических лиц
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <!--  content  -->
            <?php if(count($this->passports)):?>
                <table class="table table-striped block_s-profile-table">
                    <thead>
                    <tr>
                        <th <?=($this->sortHelper()->isActive('id')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('id', []);?>">
                                №
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('passportSerialNumber')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('passportSerialNumber', []);?>">
                                Серия и номер
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('dateIssued')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('dateIssued', []);?>">
                                Дата выдачи
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('passportIssueOrganisation')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('passportIssueOrganisation', []);?>">
                                Кем выдан
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('dateExpired')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('dateExpired', []);?>">
                                Дата истечения
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <?php if (! $this->isOperator):?>
                        <th>Удалить</th>
                        <?php endif; ?>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->passports as $passport): ?>
                        <tr>
                            <?php
                            if (! $this->isOperator):
                                $route = 'user-profile/natural-person-passport-single';
                            else:
                                $route = 'natural-person-passport-single';
                            endif;
                            ?>
                            <td class="text-center"><?=$passport->getId()?></td>
                            <td>
                                <a href="<?= $this->url($route, ['id' => $passport->getId()]) ?>"
                                   class="block_s-profile-table-link">
                                    <?=$passport->getPassportSerialNumber();?></a>
                            </td>
                            <td>
                                <a href="<?= $this->url($route, ['id' => $passport->getId()]) ?>"
                                   class="block_s-profile-table-link">
                                    <?=$passport->getDateIssued()->format('Y-m-d');?></a>
                            </td>
                            <td>
                                <a href="<?= $this->url($route, [
                                    'id' => $passport->getId()
                                ]) ?>" class="block_s-profile-table-link">
                                    <?=$passport->getPassportIssueOrganisation();?></a>
                            </td>
                            <td>
                                <a href="<?= $this->url($route, [
                                    'id' => $passport->getId()
                                ]) ?>" class="block_s-profile-table-link">
                                    <?=$passport->getDateExpired()->format('Y-m-d');?></a>
                            </td>
                        <?php if (! $this->isOperator): ?>
                            <td class="text-center">
                                <a href="<?= $this->url('user-profile/natural-person-passport-form-delete', [
                                    'idPassport' => $passport->getId()
                                ]) ?>" class="form-group">
                                    <i class="glyphicon glyphicon-remove-sign btn-profile-remove"></i>
                                </a>
                            </td>
                        <?php endif; ?>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
                <?= $this->paginationControl($this->passports,
                    'Sliding',
                    'application/partial/paginator',
                    [
                        'route' => $this->route,
                    ]
                );
                ?>
            <?php else: ?>
                <br>
                <br>
                <h4>Документы отсутствуют</h4>
                <br>
                <br>
            <?php endif; ?>
            <!-- /content  -->
        </div>
    </div>
</div>
