<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
               Удаление паспорта
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <!--  content  -->
            <div class="text-center">
                <p>
                    Вы уверены, что хотите удалить паспорт?<br>
                    <strong>
                        Серия и номер:<br>
                        <?=$this->passport->getPassportSerialNumber();?><br>
                        Дата выдачи:<br>
                        <?=$this->passport->getDateIssued()->format('Y-m-d');?><br>
                        Кем выдан:<br>
                        <?=$this->passport->getPassportIssueOrganisation();?><br>
                        Дата истечения:<br>
                        <?=$this->passport->getDateExpired()->format('Y-m-d');?><br>
                        <?php if (count($this->passport->getFiles()) > 0): ?>
                            Файлы:<br>
                            <?php foreach ($this->passport->getFiles() as $file): ?>
                                <a href="<?= $this->url('profile/file', [
                                    'civilId' => $this->passport->getNaturalPersonDocument()->getNaturalPerson()->getCivilLawSubject()->getId(),
                                    'fileId' => $file->getId(),
                                ]) ?>">
                                    <?= $file->getName() ?>
                                </a>
                            <?php endforeach; ?>
                        <?php endif; ?>

                    </strong>
                </p>
            </div>
            <div class="text-center">
                <form method="POST" action="<?= $this->url('user-profile/natural-person-passport-single', [
                    'id' => $this->passport->getId()
                ]) ?>" class="form-group" role="form">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-link btn-sm">Да, удалить</button>
                </form>
            </div>
            <!-- /content  -->
        </div>
    </div>
</div>