{% extends 'twig/layout/authentication' %}
{#
    userRegistrationForm - form
#}
{% do headTitle('Регистрация пользователя') %}
{% block content %}
<div id="auth_v2-register-block" class="container">
    <div class="row">
        <div class="col-xl-4 col-xl-offset-4 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-0">
            <div id="register-block" data-auth="true">
                <div class="form-auth Preloader Preloader_solid">
                    {{ form().openTag(userRegistrationForm)|raw }}
                        <div class="form-title-group">
                            <a href="{{ url('login') | trim }}" class="form-title">Вход</a>
                            <h1 class="form-title is-active">Регистрация</h1>
                        </div>
                        <div class="form-auth__inner">
                            {% if invitation %}
                                <div class="form-field">
                                    <div id="register-invitation" class="register-invitation"
                                         data-invitation-email="{{ userRegistrationForm.get('email').getValue() }}"
                                         data-invitation-token="{{ userRegistrationForm.get('token').getValue() }}">
                                        Пользователь "{{ invitation['deal_author'] }}" приглашает Вас присоединиться к сделке N{{ invitation['deal_id'] }} "{{ invitation['deal_name'] }}".<br>
                                        Для возможности присоединения к сделке, введите, пожалуйста, ваши регистрационные данные.
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-field">
                                {{ formLabel(userRegistrationForm.get('email'))|raw }}
                                <div class="form-input">
                                    {{ formElement(userRegistrationForm.get('email'))|raw }}
                                </div>
                            </div>
                            <div class="form-error">{{ formElementErrors(userRegistrationForm.get('email'))|raw }}</div>

                            <div class="form-field">
                                {{ formLabel(userRegistrationForm.get('password'))|raw }}
                                <div class="form-input">
                                    {{ formElement(userRegistrationForm.get('password'))|raw }}
                                </div>
                            </div>
                            <div class="form-error">{{ formElementErrors(userRegistrationForm.get('password'))|raw }}</div>

                            <div class="form-field">
                                {{ formLabel(userRegistrationForm.get('confirm_password'))|raw }}
                                <div class="form-input">
                                    {{ formElement(userRegistrationForm.get('confirm_password'))|raw }}
                                </div>
                            </div>
                            <div class="form-error">{{ formElementErrors(userRegistrationForm.get('confirm_password'))|raw }}</div>
                            <div class="form-field">
                                <div class="form-input">
                                    <div class="captcha-wrapper">
                                        {{ formElement(userRegistrationForm.get('captcha'))|raw }}
                                        <div class="captcha-overlay captcha-overlay_position-top"></div>
                                        <div class="captcha-overlay captcha-overlay_position-right"></div>
                                        <div class="captcha-overlay captcha-overlay_position-bottom"></div>
                                        <div class="captcha-overlay captcha-overlay_position-left"></div>
                                        <div class="captcha-image"></div>
                                        <div class="captcha-links">
                                            <a href="https://www.google.com/intl/ru/policies/privacy/"target="_blank">Конфиденциальность</a>
                                            <span aria-hidden="true" role="presentation"> - </span>
                                            <a href="https://www.google.com/intl/ru/policies/terms/" target="_blank">
                                                Условия использования
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ formElement(userRegistrationForm.get('csrf'))|raw }}
                            {% if formElementErrors(userRegistrationForm.get('csrf')) | length > 0 %}
                                <div class="form-error">
                                    {{ formElementErrors(userRegistrationForm.get('csrf'))|raw }}
                                </div>
                            {% elseif formElementErrors(userRegistrationForm.get('captcha')) | length > 0  %}
                                <div class="form-field">
                                    <div class="form-alert bs-callout-danger center-align">
                                        <div class="form-alert__header">Ошибка регистрации</div>
                                        <div class="form-alert__text">Captcha не проходит валидацию</div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-field">
                                <button class="button-action button-action_type-filed_color-blue button-action_type-filed" type="submit" name="submit">ЗАРЕГИСТРироваться</button>
                            </div>
                        </div>
                    {{ form().closeTag()|raw }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

