{% extends 'twig/layout/authentication' %}
{#
    passwordChangeForm - form
#}
{% do headTitle('Изменение пароля') %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-xl-offset-4 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-0">
                <div class="form-auth">
                    <div class="form-title-group">
                        <h1 class="form-title is-active">Изменить пароль</h1>
                    </div>
                    <div class="form-auth__inner">
                    {{ form().openTag(passwordChangeForm)|raw }}
                        <div class="form-field">
                            <label for="">Новый пароль</label>
                            <div class="form-input">
                                {{ formElement(passwordChangeForm.get('new_password'))|raw }}
                                <div class="error-message">{{ formElementErrors(passwordChangeForm.get('new_password'))|raw }}</div>
                            </div>
                        </div>

                        <div class="form-field">
                            <label for="">Повторите новый пароль</label>
                            <div class="form-input">
                                {{ formElement(passwordChangeForm.get('confirm_new_password'))|raw }}
                                <div class="error-message">{{ formElementErrors(passwordChangeForm.get('confirm_new_password'))|raw }}</div>
                            </div>
                        </div>
                        {{ formElement(passwordChangeForm.get('csrf'))|raw }}

                        <div class="form-field">
                            <button type="submit" class="button-action button-action_type-filed_color-blue button-action_type-filed" name="submit" id="submit">Изменить пароль</button>
                        </div>
                    </div>
                    {#{{ formElement(passwordChangeForm.get('submit'))|raw }}#}

                    {{ form().closeTag()|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}