{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{#
  1 refundConfirmForm - form
  2 refundRequest - array
  3 dispute - array
  4 deal - array
#}
{% do headTitle('Подтверждение возврата') %}
{% block content %}
    <section class="PageForm RefundClosePage">
        <p>
            <strong>Информация о запросе возврата:</strong><br>
            Имя автора: {{ refundRequest['author']['name'] }}<br>
            Email автора: {{ refundRequest['author']['email'] }}<br>
            Телефон автора: {{ refundRequest['author']['phone'] }}<br>
            Сумма возврата: {{ refundRequest['amount'] }}<br>
            Дата запроса: {{ refundRequest['created'] }}<br>
        </p>
        <br><br>
        <p>
            <strong>Доп. информация:</strong><br>
            Причина спора: {{ dispute['reason'] }}<br>
            Дата спора: {{ dispute['created'] }}<br>
            Сделка: {{ deal['name']~' '~deal['number'] }}<br>
            Сумма сделки: {{ deal['amount_without_fee'] }}<br>
        </p>
        <br><br>
        {{ form().openTag(refundConfirmForm)|raw }}
            <div class="FormAdd">
                {{ formElement(refundConfirmForm.get('csrf'))|raw }}
                {{ formElement(refundConfirmForm.get('type_form'))|raw }}

                <div class="FormError">
                    {{ formElementErrors(refundConfirmForm.get('csrf'))|raw }}
                    {{ formElementErrors(refundConfirmForm.get('type_form'))|raw }}
                </div>
                {{ formElement(refundConfirmForm.get('submit'))|raw }}
            </div>
        {{ form().closeTag()|raw }}
    </section>
{% endblock content %}