{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{#
1  payment_method_bank_transfer - array
2  debitPaymentOrders - array
3  refundForm - form
4  bankTransferForm - form
5  is_refund_done - bool
5  refund_amount - string
#}
{% do headTitle('Возврат средств') %}
{% block content %}
    <section class="DisputeClosePage">
        <div class="DisputeMethod">
            <h3 class="TitleBlue">Возврат средств</h3>
            {% if is_refund_done == false %}
                <div>
                    {% if payment_method_bank_transfer | length > 0 %}
                        <p>Покупателю вернется <strong>{{ refund_amount~'р' }}</strong>.</p>
                        {% include 'application/dispute/partial/payer-info.twig'
                            with {
                                'payment_method_bank_transfer':  payment_method_bank_transfer
                            }
                        %}
                        {{ form().openTag(refundForm)|raw }}
                            {{ formElement(refundForm.get('csrf'))|raw }}
                            {{ formElement(refundForm.get('bank_transfer_id'))|raw }}
                            {{ formElement(refundForm.get('dispute_id'))|raw }}
                            {{ formElement(refundForm.get('type_form'))|raw }}
                            {{ formElementErrors(refundForm.get('csrf'))|raw }}
                            {{ formElementErrors(refundForm.get('bank_transfer_id'))|raw }}
                            {{ formElementErrors(refundForm.get('dispute_id'))|raw }}
                            {{ formElementErrors(refundForm.get('type_form'))|raw }}
                            <button type="submit" class="ButtonApply">Сформировать возврат</button>
                        {{ form().closeTag()|raw }}
                    {% else %}
                        <p class="TextImportant">Метод оплаты неопределен, деньги не могут быть возвращены на счет покупателя. Заполните реквизиты вручную.</p>
                        <h3 class="TitleBlue">Добавление банковских реквизитов</h3>
                        <form method="post" class="FormNew">
                            {% include 'application/dispute/partial/create-payment-method.twig'
                                with {
                                    'bankTransferForm': bankTransferForm
                                }
                            %}
                            {% include 'application/dispute/partial/debit-payment-orders.twig'
                                with {
                                    'debitPaymentOrders': debitPaymentOrders
                                }
                            %}
                            <button type="submit" class="ButtonApply">Сохранить реквизиты</button>
                        </form>
                    {% endif %}
                </div>
            {% else %}
                <br><br>
                <p style="font-size: 16px; color: red">Возврат средств уже выполнен!!!</p>
            {% endif %}
        </div>
    </section>
{% endblock content %}