{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{#
 1 refundConfirmForm - form
 2 refundRefuseForm - form
 3 refundRequest - array
 4 dispute - array
 5 deal - array
#}
{% do headTitle('Запрос на возврат') %}
{% block content %}
    <section class="PageForm DisputeClosePage">
        <h1>Запрос на скидку</h1>
        <br><br>
        <p>
            <strong>Информация о запросе возврата:</strong><br>
            Имя автора: {{ refundRequest['author']['name'] }}<br>
            Email автора: {{ refundRequest['author']['email'] }}<br>
            Телефон автора: {{ refundRequest['author']['phone'] }}<br>
            Сумма возврата: {{ refundRequest['amount'] }}<br>
            Дата запроса: {{ refundRequest['created'] }}<br>
        </p>
        <br><br>
        <p>
            <strong>Доп. информация:</strong><br>
            Причина спора: {{ dispute['reason'] }}<br>
            Дата спора: {{ dispute['created'] }}<br>
            Сделка: {{ deal['name']~' '~deal['number'] }}<br>
            Сумма сделки: {{ deal['amount_without_fee'] }}<br>
        </p>
        <br><br>
        <div class="FormAdd" style="display: inline-block">
        {{ form().openTag(refundConfirmForm)|raw }}
            {{ formElement(refundConfirmForm.get('csrf'))|raw }}
            {{ formElement(refundConfirmForm.get('type_form'))|raw }}

            <div class="FormError">
                {{ formElementErrors(refundConfirmForm.get('csrf'))|raw }}
                {{ formElementErrors(refundConfirmForm.get('type_form'))|raw }}
            </div>
            {{ formElement(refundConfirmForm.get('submit'))|raw }}
        {{ form().closeTag()|raw }}
        </div>
        <div class="FormAdd" style="display: inline-block">
        {{ form().openTag(refundRefuseForm)|raw }}
            {{ formElement(refundRefuseForm.get('csrf'))|raw }}
            {{ formElement(refundRefuseForm.get('type_form'))|raw }}

            <div class="FormError">
                {{ formElementErrors(refundRefuseForm.get('csrf'))|raw }}
                {{ formElementErrors(refundRefuseForm.get('type_form'))|raw }}
            </div>
            {{ formElement(refundRefuseForm.get('submit'))|raw }}
        {{ form().closeTag()|raw }}
        </div>
    </section>
{% endblock content %}