{{ formElement(bankTransferForm.get('type_form'))|raw }}
{{ formElementErrors(bankTransferForm.get('type_form'))|raw }}
<div class="Input-Wrapper">
    {{ formLabel(bankTransferForm.get('bik'))|raw }}
    {{ formElement(bankTransferForm.get('bik'))|raw }}
    <div class="FormError">
        {{ formElementErrors(bankTransferForm.get('bik'))|raw }}
    </div>
</div>
<div class="Input-Wrapper">
    {{ formLabel(bankTransferForm.get('bank_name'))|raw }}
    {{ formElement(bankTransferForm.get('bank_name'))|raw }}
    <div class="FormError">
        {{ formElementErrors(bankTransferForm.get('bank_name'))|raw }}
    </div>
</div>
<div class="Input-Wrapper">
    {{ formLabel(bankTransferForm.get('corr_account_number'))|raw }}
    {{ formElement(bankTransferForm.get('corr_account_number'))|raw }}
    <div class="FormError">
        {{ formElementErrors(bankTransferForm.get('corr_account_number'))|raw }}
    </div>
</div>
<div class="Input-Wrapper">
    {{ formLabel(bankTransferForm.get('account_number'))|raw }}
    {{ formElement(bankTransferForm.get('account_number'))|raw }}
    <div class="FormError">
        {{ formElementErrors(bankTransferForm.get('account_number'))|raw }}
    </div>
</div>


<div class="FormError">
    {{ formElementErrors(bankTransferForm.get('csrf'))|raw }}
</div>
{{ formElement(bankTransferForm.get('civil_law_subject_id'))|raw }}
{{ formElement(bankTransferForm.get('payment_method_type'))|raw }}
{{ formElement(bankTransferForm.get('csrf'))|raw }}
