{% if debitPaymentOrders | length > 0 %}
    <div class="DisputeMethod-Payments">
        {% for debitPaymentOrder in debitPaymentOrders %}
            <div class="Spoiler js-spoiler">
                {% set num = random() %}
                <label class="Spoiler-Toggle" for="document-{{ debitPaymentOrder['document_number']~'-'~loop.index~num}}">
                    Платежка по сделке от {{ debitPaymentOrder['document_date'] }}
                </label>
                <input class="Spoiler-Checkbox" type="checkbox" id="document-{{ debitPaymentOrder['document_number']~'-'~loop.index~num }}">
                <div class="Spoiler-Hidden">
                    <div class="Spoiler-Body">
                        <div class="InfoField">
                            <div class="InfoField-Label">
                                БИК:
                            </div>
                            <div class="InfoField-Text">
                                {{ debitPaymentOrder['payer_bik'] ? debitPaymentOrder['payer_bik'] : '―' }}
                            </div>
                        </div>
                        <div class="InfoField">
                            <div class="InfoField-Label">
                                Наименование банка:
                            </div>
                            <div class="InfoField-Text">
                                {{ debitPaymentOrder['payer_bank_1'] ? debitPaymentOrder['payer_bank_1'] : '―' }}
                            </div>
                        </div>
                        <div class="InfoField">
                            <div class="InfoField-Label">
                                Корр. счет:
                            </div>
                            <div class="InfoField-Text">
                                {{ debitPaymentOrder['payer_corr_account'] ? debitPaymentOrder['payer_corr_account'] : '―' }}
                            </div>
                        </div>
                        <div class="InfoField">
                            <div class="InfoField-Label">
                                Лицевой счет:
                            </div>
                            <div class="InfoField-Text">
                                {{ debitPaymentOrder['payer_account'] ? debitPaymentOrder['payer_account'] : '―' }}
                            </div>
                        </div>
                        <div class="InfoField">
                            <div class="InfoField-Label">
                                Плательщик:
                            </div>
                            <div class="InfoField-Text">
                                {{ debitPaymentOrder['payer_1'] ? debitPaymentOrder['payer_1'] : '―' }}
                            </div>
                        </div>
                        {% if debitPaymentOrder['payer_inn'] %}
                            <div class="InfoField">
                                <div class="InfoField-Label">
                                    ИНН:
                                </div>
                                <div class="InfoField-Text">
                                    {{ debitPaymentOrder['payer_inn'] }}
                                </div>
                            </div>
                        {% endif %}
                        {% if debitPaymentOrder['payer_kpp'] %}
                            <div class="InfoField">
                                <div class="InfoField-Label">
                                    КПП:
                                </div>
                                <div class="InfoField-Text">
                                    {{ debitPaymentOrder['payer_kpp'] }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}