<div class="InfoField">
    <div class="InfoField-Label">
        БИК:
    </div>
    <div class="InfoField-Text">
        {{ payment_method_bank_transfer['bik'] ? payment_method_bank_transfer['bik'] : '―' }}
    </div>
</div>
<div class="InfoField">
    <div class="InfoField-Label">
        Наименование банка:
    </div>
    <div class="InfoField-Text">
        {{ payment_method_bank_transfer['bank_name'] ? payment_method_bank_transfer['bank_name'] : '―' }}
    </div>
</div>
<div class="InfoField">
    <div class="InfoField-Label">
        Корр. счет:
    </div>
    <div class="InfoField-Text">
        {{ payment_method_bank_transfer['corr_account_number'] ? payment_method_bank_transfer['corr_account_number'] : '―' }}
    </div>
</div>
<div class="InfoField">
    <div class="InfoField-Label">
        Лицевой счет:
    </div>
    <div class="InfoField-Text">
        {{ payment_method_bank_transfer['account_number'] ? payment_method_bank_transfer['account_number'] : '―' }}
    </div>
</div>