@import (multiple) "../landing/organisms/page-footer";
@import (multiple) "../landing/organisms/page-header";
@import (multiple) "../landing/atoms/menu-is-open";
@import (multiple) "atoms/how-it-works-image";

.page-header{
  background: #191C1F url('/img/rules-header-bg.jpg') no-repeat center;
  background-size: cover;

  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: @section-content-color;
    opacity: .2;
  }

  .main-nav .nav-item.nav-item_with-dropdown .login-popup{
    
    .remember-password-link {
      color: @section-content-color;
      text-shadow: none;
    }

  }

}

body {
  display: flex;
  flex-direction: column;
}

.Container {
  .container;
}

.main {
  padding-top: 130px;
  flex-grow: 1;

  @media (max-width: @grid-breakpoint-md){
    padding-top: 100px;
  }

  @media (max-width: @grid-breakpoint-sm){
    padding-top: 80px;
  }

}

section.instruction{
  h1{
    margin-bottom: 0;
  }
}

section{
  h1 {
    text-transform: uppercase;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.6px;
    color: @section-content-color;
    @media (max-width: 480px) {
      font-size: 22px;
    }
  }

}

section.policy,
section.agency-contract,
section.instruction,
section.forWhom,
section.WhatCanBuy,
section.DisputeResolution,
section.Our-Contacts{
  padding: 80px 0;
  margin: 0 auto;
  max-width: 100%;
  font-family: Lato;
  font-weight: normal;
  line-height: 20px;
  font-size: 16px;
  color: @section-content-color;
  @media (max-width: @tablet) {
    padding: 30px 0;
  }
  strong {
    /*color: #39465a;*/
  }
  h2 {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 30px;
    padding-top: 30px;
    font-weight: bold;
  }
  p {
    margin-bottom: 30px;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

section.policy {
  div.directors-order {
    margin-bottom: 30px;
    display: none;
    p {
      margin-bottom: 10px;
    }
  }
}

section.DisputeResolution{
  h2{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    font-size: 24px;
    text-transform: inherit;
    color: @links-color;
  }
  p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 16px;
    color: @section-content-color;

    @media (max-width: @grid-breakpoint-md){
      font-size: 14px;
      line-height: 18px;
    }

  }

  .DisputeResolution-Box{
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    @media (max-width: @tablet) {
      flex-direction: column;
    }
    .DisputeResolution-Item{
      &:nth-child(1){
        max-width: 500px;
        @media (max-width: @tablet) {
          max-width: 100%;
        }
      }
      &:nth-child(2){
        @media (max-width: @tablet) {
          display: none;
        }
      }
      &.Item-Img {
        max-width: 350px;
      }
    }
    ul{
      li{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        line-height: 20px;
        font-size: 14px;
        margin: 25px 0;
        color: #3D4557;
        i{
          display: inline-block;
          background-color: @links-color;
          width: 30px;
          height: 30px;
          text-align: center;
          border-radius: 100%;
          line-height: 32px;
          font-family: Lato;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          text-align: center;
          color: #FFFFFF;

          vertical-align: top;
          //margin-right: 20px;
        }
        span{
          display: inline-block;
          margin-left: 20px;
          max-width: 440px;
          @media (max-width: @tablet) {
            max-width: calc(~"100% - 50px");
          }
        }
      }
    }
  }
}

section.WhatCanBuy{
  .WhatCanBuy-Center{
    text-align: center;
    p{
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      line-height: 20px;
      font-size: 16px;
      text-align: center;
      color: @section-content-color;

      @media (max-width: @grid-breakpoint-md){
        font-size: 14px;
        line-height: 18px;
      }

    }
  }

  h3{
    text-transform: uppercase;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -0.6px;
    color: @links-color;

    @media (max-width: @grid-breakpoint-md){
      font-size: 18px;
      line-height: 28px;
    }

  }

  .WhatCanBuy-Box{
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 40px auto 0;
    @media (max-width: @tablet) {
      flex-direction: column;
    }
    .WhatCanBuy-Item{
      &:nth-child(2){
        max-width: 550px;

        @media (max-width: @grid-breakpoint-md) {
          margin-top: 40px;
          max-width: none;
        }

      }
    }
    ul{
      li{
        list-style-position: inside;
        list-style-type: disc;
        font-family: Lato;
        font-style: normal;
        line-height: 20px;
        font-size: 16px;
        color: @section-content-color;
        margin: 16px 0;

        @media (max-width: @grid-breakpoint-md){
          font-size: 14px;
          line-height: 18px;
        }

      }
    }
  }
}

section.forWhom{
  h1{
    @media (max-width: @tablet) {
      text-align: center;
    }
  }
  p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 16px;
    color: @section-content-color;

    @media (max-width: @grid-breakpoint-md){
      font-size: 14px;
      line-height: 18px;
    }

  }
  h2{
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-size: 26px;
    text-align: center;
    color: @links-color;
    text-transform: uppercase;

    @media (max-width: @grid-breakpoint-md){
      font-size: 22px;
      line-height: 24px;
    }

  }




  .forWhom-Box{
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    font-weight: 300;
    @media (max-width: @tablet) {
      flex-direction: column;
    }
    .forWhom-Content{
      max-width: 550px;
    }
    .forWhom-Image{

    }
  }

  .forWhom-BoxConent{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    width: 100%;
    margin: 0 auto;
    font-weight: 300;
    min-height: 330px;


    @media (max-width: @tablet) {
      flex-direction: column;
    }
    .forWhom-Item{
      flex: 1 50%;
      max-width: 550px;

      @media (max-width: @tablet) {
        max-width: 100%;
      }



      &:nth-child(1){
        display: flex;
        flex-direction: column;
        p{
          flex-grow: 1;
        }
      }


      &:nth-child(2){
        display: flex;
        flex-direction: column;
        p{
          flex-grow: 1;
        }
      }

      h3{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 18px;
        text-align: center;
        color: @links-color;
        margin-bottom: 25px;
      }
      p{
        font-family: Lato;
        font-style: normal;
        line-height: 20px;
        font-size: 16px;

        @media (max-width: @grid-breakpoint-md){
          font-size: 14px;
          line-height: 18px;
        }

      }

    }
  }



}






.featherlight .featherlight-content{
  background: none;
  .featherlight-close-icon.featherlight-close{
    background: none;
    font-size: 30px;
    color: #fff;
  }
}

.infoLink{
  font-size: 14px;
  line-height: 3;
  position: relative;
  padding-left: 40px;
  text-decoration: underline;
  font-weight: 400;
  &:before{
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url(../../img/landing/info-icon_blue-filled.svg) no-repeat center;
    background-size: contain;
  }
}

.howItWorks {
  padding-bottom: 100px;
  .BoxFlex{
    //display: flex;
    //justify-content: center;
    //align-items: center;
    position: relative;
    padding: 100px 0px;
    &:nth-child(1){
      @media (max-width: @tablet) {
        padding: 30px 0px;
      }
    }
    .NumberRound-Attributes{
      position: absolute;
      margin-left: -1px;
      left: 50%;
      top: 0%;
      bottom: 0%;
      height: 100%;
      @media (max-width: @tablet) {
        display: none;
      }
      &:before{
        content: "";
        display: block;
        height: 50%;
        top: 0;
        width: 0;
        border-left: 1px solid @secondary-links-color;
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 100%;
      }
      &:after{
        content: "";
        display: block;
        height: 50%;
        width: 0;
        border-left: 1px solid @secondary-links-color;
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 0;
      }
      .NumberRound-IconHand{
        display: none;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-left: 100px;
        &:after{
          content: '';
          position: absolute;
          width: 90px;
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
          border-style: dashed;
          border-color: @links-color;
          top: 50%;
          border-width: thin;
          margin-top: -1px;
          right: 20px;
        }
      }
    }
    .NumberRound{
      box-shadow: 0px 2px 6px rgba(47, 83, 151, 0.1);
      border-radius: 100%;
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      color: @links-color;
      background-color: #fff;
      z-index: 1;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      line-height: 50px;
      width: 50px;
      height: 50px;
      font-size: 24px;
      letter-spacing: -0.5px;
      @media (max-width: @tablet) {
        top: 10%;
      }
    }



    &.Box-Flex-Header{
      .BoxFlex-Wrapper{
        .BoxFlex-Image{
          box-shadow: none;
        }
        .BoxFlex-Content{
          max-width: 600px;
        }
      }
    }

    &:last-child{
      .NumberRound-Attributes{
        &:after{
          content: none;
        }
      }
    }
    &:nth-child(even){
      //background-color: @section-content-color;
      .NumberRound-Attributes{
        &.noBefore {
          &:before {
            display: none;
          }
        }
        /*&:before{
          border: 1px solid #ffffff;
        }
        &:after{
          border: 1px solid #FFFFFF;
        }*/
        .NumberRound-IconHand{
          margin-left: -100px;
          &:after{
            /*border-color: #fff;*/
            left: 20px;
          }
        }
      }
      /*.NumberRound{
        color: #3D4557;
        background-color: #fff;
      }*/
      .BoxFlex-Wrapper{
        flex-direction: row-reverse;
        @media (max-width: @tablet) {
          flex-direction: column;
        }
        /*.BoxFlex-Content{
          h3{color: #fff;}
          p{color: #fff;}
        }*/
      }
    }
    .BoxFlex-Wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      max-width: 1210px;
      font-weight: 300;
      padding: 0 20px;

      @media (max-width: @tablet) {
        flex-direction: column;
        text-align: center;
      }
      .BoxFlex-Image{
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }
      .BoxFlex-Content{
        max-width: 450px;
        h3{
          font-family: Lato;
          font-style: normal;
          font-weight: 500;
          line-height: 40px;
          font-size: 36px;
          color: @links-color;
          text-transform: initial;
          @media (max-width: @mobile) {
            font-size: 30px;
            line-height: 30px;
          }
        }
        p{
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          line-height: 20px;
          font-size: 16px;
          color: @section-content-color;
          margin: 30px 0;
          //@media (max-width: @mobile) {
          //  font-size: 12px;
          //}
        }
        h4{
          font-family: Lato;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          font-size: 24px;
          color: @links-color;
          @media (max-width: @mobile) {
            font-size: 20px;
            line-height: 100%;
          }
        }
      }
    }
  }
}



