<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Методы оплаты <?php if($this->paymentMethods->getPages()->totalItemCount > 0): ?>
                    (всего <?= $this->paymentMethods->getPages()->totalItemCount ?>)<?php endif; ?>
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <?php if (! $this->isOperator):?>
                <form class="form-group row block_s-profile-search">
                    <div class="col-xs-1">
                        <a href="<?= $this->url('user-profile/payment-method-form-create') ?>"
                           class="glyphicon glyphicon-plus-sign block_s-profile-add-user"></a>
                    </div>
                </form>
            <?php endif; ?>
            <?php if (count($this->paymentMethods)): ?>
                <table class="table table-striped block_s-profile-table">
                    <thead>
                    <tr>
                        <th><a href="">№</a></th>
                        <th <?=($this->sortHelper()->isActive('paymentMethodName')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('paymentMethodName', []);?>">
                                НАЗВАНИЕ
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('paymentMethodType')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('paymentMethodType', []);?>">
                                ТИП
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th>Субъект права</th>
                        <?php if (! $this->isOperator):?>
                            <th>Удалить</th>
                        <?php endif;?>
                    </tr>
                    </thead>
                    <tbody>

                    <?php $i = 0; ?>
                    <?php foreach ($this->paymentMethods as $key => $paymentMethod): ?>
                        <?php $i++; ?>
                        <?php
                        if (! $this->isOperator):
                            $route = 'user-profile/payment-method-single';
                        else:
                            $route = 'payment-method-single';
                        endif;
                        ?>
                        <tr>
                            <td class="text-center"><?=$i?></td>
                            <td class="text-left">
                                <a href="<?= $this->url($route, ['id' => $paymentMethod->getId()])?>"
                                   class="block_s-profile-table-link">
                                    <?php if($paymentMethod->getPaymentMethodType()->getName() === Application\Entity\PaymentMethodType::BANK_TRANSFER): ?>
                                        <?= $paymentMethod->getPaymentMethodBankTransfer()->getName() ?>
                                    <?php endif; ?>
                                </a>
                            </td>
                            <td><?= $paymentMethod->getPaymentMethodType()->getOutputName() ?></td>
                            <?php if ($paymentMethod->getCivilLawSubject()->getNaturalPerson()): ?>
                                <td class="text-left">
                                    <?= $paymentMethod->getCivilLawSubject()->getNaturalPerson()->getFirstName() ?>
                                    <?= $paymentMethod->getCivilLawSubject()->getNaturalPerson()->getLastName() ?>
                                </td>
                            <?php elseif ($paymentMethod->getCivilLawSubject()->getLegalEntity()): ?>
                                <td class="text-left">
                                    <?= $paymentMethod->getCivilLawSubject()->getLegalEntity()->getName() ?>
                                </td>
                            <?php endif; ?>
                            <?php if (! $this->isOperator):?>
                                <td class="text-center">
                                    <a href="<?= $this->url('user-profile/payment-method-form-delete', ['idPaymentMethod' => $paymentMethod->getId()]) ?>"
                                       class="form-group">
                                        <i class="glyphicon glyphicon-remove-sign btn-profile-remove"></i>
                                    </a>
                                </td>
                            <?php endif;?>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            <?php endif; ?>

            <?= $this->paginationControl($this->paymentMethods,
                'Sliding',
                'application/partial/paginator',
                [
                    'route' => $this->route,
                ]
            );
            ?>
        </div>
    </div>
</div>