<?php
$form = $this->form;
$form->prepare();
?>
<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">
            <!--  content  -->
            <h1>Добавление метода оплаты типа "<?= $this->paymentMethodType->getOutputName() ?>"</h1>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <?=$this->partial('partial/'.$this->paymentMethodType->getName().'-form.phtml', [
                            'paymentMethodForm' => $form,
                        ]);?>
                    </div>
                </div>
            </div>
            <!-- end content -->
        </div>
    </div>
</div>
