<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Метод оплаты
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <!--  content  -->
            <div class="text-center">
                <p>
                    Вы уверены, что хотите удалить метод оплаты <strong>"<?= $this->payment_name ?>"</strong>?
                </p>
            </div>
            <div class="text-center">
                <form method="POST" action="<?= $this->url('user-profile/payment-method-single', ['id' => $this->id]) ?>"
                      class="btn-profile-remove-form" role="form">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-blue" >Да, удалить этот метод оплаты</button>
                </form>
            </div>
            <!-- /content  -->
        </div>
    </div>
</div>