<?php
$form = $this->form;
$form->prepare();
?>

<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">
            <!--  content  -->
            <h1>Выбор субъекта права</h1>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <?= $this->form()->openTag($form); ?>
                        <?= $this->formCollection($form);?>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Выбрать субъект права</button>
                        </div>
                        <?= $this->form()->closeTag(); ?>
                    </div>
                </div>
            </div>

            <!-- end content -->
        </div>
    </div>
</div>
