<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Метод оплаты
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <!-- content  -->
            <?=$this->partial('partial/'.$this->paymentMethod->getPaymentMethodType()->getName().'.phtml', [
                'paymentMethod' => $this->paymentMethod,
            ]);?>

            <?php if (! $this->isOperator):?>
                <div class="block_s-profile-content-desc">
                    <a href="<?= $this->url('user-profile/payment-method-form-edit',
                        ['idPaymentMethod' => $this->paymentMethod->getId()]
                    )?>" class="form-group">
                        Редактировать
                    </a>
                    <a href="<?= $this->url('user-profile/payment-method-form-delete',
                        ['idPaymentMethod' => $this->paymentMethod->getId()]
                    ) ?>" class="form-group">
                        Удалить
                    </a>
                </div>
            <?php endif; ?>
            <!-- /content  -->
        </div>
    </div>
</div>