<?php
$form = $this->form;
$form->prepare();
?>

<div id="login-block">
    <div class="row">
    <div class="col-md-6">
        <h1>Вход</h1>
        <form method="post" name="login-form" id="login-form">
        <div class="form-group">
            <label for="login">логин</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon glyphicon-user"></span>
                </div>
                <input type="text" name="login" id="login" class="form-control" placeholder="" value="">
            </div>

        </div>
            <?= '<div class="form-error">'.$this->formElementErrors($form->get('login')).'</div>'; ?>

        <div class="form-group">
            <label for="password">пароль</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon glyphicon glyphicon-lock"></span>
                </div>
                <input type="password" name="password" id="password" class="form-control" placeholder="" value="">
            </div>
        </div>
            <?= '<div class="form-error">'.$this->formElementErrors($form->get('password')).'</div>'; ?>

        <div class="checkbox">
            <label>
                <input type="hidden" name="remember_me" value="0">
                <input type="checkbox" name="remember_me" value="1"> Запомнить меня
            </label>
        </div>
        <div class="row">
            <input type="hidden" name="csrf" value="">
            <?= $this->formElement($form->get('csrf')); ?>
            <div class="col-md-6 col-xs-12 col-sm-12">
                <input type="submit" name="submit" id="submitbutton" class="btn btn-blue" value="Войти">
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 text-center">
                <a href="/forgot/password/reset" class="block-s__registration-login__link">Забыли пароль?</a>
            </div>
        </div>
        </form>
    </div>
    </div>
</div>
