{% extends 'twig/layout/application' %}

{% do headTitle('Добавление телефона') %}
{% block content %}
    <section class="PageForm">
        <div class="PageForm-Container">
            <form class="FormLabelLeft" method="POST" id="phone-create-form">
                <h3 class="TitleBlue">Добавление телефона</h3>
                <div class="Input-Wrapper" style="flex-wrap: wrap;">
                    <p style="min-width: 130px;flex-grow: 1;width: 100%;margin-bottom: 10px;">
                        {{ formLabel(createPhoneForm.get('phone'))|raw }}:
                    </p>
                    {{ formElement(createPhoneForm.get('phone'))|raw }}
                    <div class="FormError" style="text-align: left">
                        {{ formElementErrors(createPhoneForm.get('phone'))|raw }}
                    </div>
                    <div class="FormError" style="text-align: left">
                        {{ formElementErrors(createPhoneForm.get('csrf'))|raw }}
                    </div>
                </div>
                <div class="FormError" style="text-align: left">
                    {{ formElement(createPhoneForm.get('csrf'))|raw }}
                    {{ formElementErrors(createPhoneForm.get('csrf'))|raw }}
                </div>
                <div class="ButtonsRow" style="padding-top: 0;">
                    <button class="ButtonApply" type="submit">Добавить</button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
