{% extends 'twig/layout/application' %}

{% do headTitle('Редактирование логина') %}
{% block content %}
    <section class="PageForm">
        <div class="PageForm-Container">
            <form class="FormLabelLeft" method="POST" id="auth_v2-login-edit-form">
                <h3 class="TitleBlue">Редактирование логина</h3>
                <div class="Input-Wrapper" style="margin-bottom: 0">
                    {{ formElement(loginEditForm.get('login'))|raw }}
                    {{ formElementErrors(loginEditForm.get('login'))|raw }}
                </div>
                <div class="FormError" style="text-align: left">
                    {{ formElement(loginEditForm.get('csrf'))|raw }}
                    {{ formElementErrors(loginEditForm.get('csrf'))|raw }}
                </div>
                <div class="ButtonsRow" style="padding-top: 20px;">
                    <button class="ButtonApply" type="submit">Изменить</button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}