{% extends 'twig/layout/authentication' %}

{% do headTitle('Авторизация') %}
{% block content %}
    <div id="auth_v2-login-block" class="container">
        <div class="row">
            <div class="col-xl-4 col-xl-offset-4 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-0">
                <div id="login-block" data-auth="true">
                    <div class="form-auth">
                        <div class="form-title-group">
                            <h1 class="form-title is-active">Вход</h1>
                            <a href="{{ url('register') | trim }}" class="form-title">Регистрация</a>
                        </div>
                        <div class="form-auth__inner  Preloader Preloader_solid">
                        {{ form().openTag(loginForm)|raw }}
                            {{ formElement(loginForm.get('csrf'))|raw }}
                            <div class="form-field">
                                {{ formLabel(loginForm.get('login'))|raw }}
                                <div class="form-input">
                                    {{ formElement(loginForm.get('login'))|raw }}
                                </div>
                                <div class="form-error">{{ formElementErrors(loginForm.get('login'))|raw }}</div>
                            </div>

                            <div class="form-field">
                                {{ formLabel(loginForm.get('password'))|raw }}
                                <div class="form-input">
                                    {{ formElement(loginForm.get('password'))|raw }}
                                </div>
                                <div class="form-error">{{ formElementErrors(loginForm.get('password'))|raw }}</div>
                            </div>

                            <div class="form-field">
                                <div class="form-input">
                                    {{ formElement(loginForm.get('captcha'))|raw }}
                                </div>
                            </div>
                            <div class="form-field form-field_checkbox-field">
                                <div class="row">
                                    <div class="col-xl-7">
                                        <label class="form-checkbox">
                                            {{ formElement(loginForm.get('remember_me'))|raw }}
                                            <span class="form-checkbox__field"></span>
                                            <span class="form-checkbox__label">Запомнить пароль</span>
                                        </label>
                                    </div>
                                    <div class="col-xl-5">
                                        <div class="right-link-wrapper">
                                            <a href="{{ url('forgot/password-reset') | trim }}" class="forgot-password-link">Забыли пароль?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <button class="button-action button-action_type-filed_color-blue button-action_type-filed" type="submit" name="submit">Войти</button>
                                    </div>
                                </div>
                            </div>
                            {% if auth_error_message is not null %}
                                <div class="form-field">
                                    <div class="form-alert bs-callout-danger center-align">
                                        <div class="form-alert__header">Ошибка авторизации</div>
                                        <div class="form-alert__text">{{ auth_error_message }}</div>
                                    </div>
                                </div>
                            {% elseif formElementErrors(loginForm.get('csrf')) | length > 0  %}
                                <div class="form-field">
                                    <div class="form-alert bs-callout-danger center-align">
                                        <div class="form-alert__header">Ошибка авторизации</div>
                                        <div class="form-alert__text">Истек срок действия csrf токена</div>
                                    </div>
                                </div>
                            {% elseif formElementErrors(loginForm.get('captcha')) | length > 0  %}
                                <div class="form-field">
                                    <div class="form-alert bs-callout-danger center-align">
                                        <div class="form-alert__header">Ошибка авторизации</div>
                                        <div class="form-alert__text">Captcha не проходит валидацию</div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {{ form().closeTag()|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

