{% extends 'twig/layout/application' %}

{% do headTitle('Нет прав доступа') %}
{% block content %}
    <div class="MessagePage">
        <div class="MessagePage-Wrapper">
            <div class="MessagePage-Img">
                <img src="{{ basePath('img/MessageError.svg') }}" alt="Ошибка">
            </div>
            <div class="MessagePage-Content">
                <h1 class="MessagePage-Title">Ошибка</h1>
                <p class="MessagePage-Text">
                    Извините, у вас нет прав для просмотра этой страницы.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
