<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Банковские реквизиты юридических лиц
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <!--  content  -->
            <?php if(count($this->bankDetails)):?>
                <table class="table table-striped block_s-profile-table">
                    <thead>
                    <tr>
                        <th <?=($this->sortHelper()->isActive('id')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('id', []);?>">
                                №
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('checkingAccount')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('checkingAccount', []);?>">
                                Расчетный счет
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('name')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('name', []);?>">
                                Наименование банка
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('correspondentAccount')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('correspondentAccount', []);?>">
                                Корресподентский счет
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('bic')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('bic', []);?>">
                                БИК
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <?php if (! $this->isOperator):?>
                            <th>Удалить</th>
                        <?php endif; ?>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->bankDetails as $bankDetail): ?>
                        <tr>
                            <?php
                            if (! $this->isOperator):
                                $route = 'user-profile/legal-entity-bank-detail-single';
                            else:
                                $route = 'legal-entity-bank-detail-single';
                            endif;
                            ?>
                            <td class="text-center"><?=$bankDetail->getId()?></td>
                            <td>
                                <a href="<?= $this->url($route, [
                                    'id' => $bankDetail->getId()
                                ]) ?>" class="block_s-profile-table-link">
                                    <?=$bankDetail->getCheckingAccount();?></a>
                            </td>
                            <td>
                                <a href="<?= $this->url($route, [
                                    'id' => $bankDetail->getId()
                                ]) ?>" class="block_s-profile-table-link">
                                    <?=$bankDetail->getName();?></a>
                            </td>
                            <td>
                                <a href="<?= $this->url($route, [
                                    'id' => $bankDetail->getId()
                                ]) ?>" class="block_s-profile-table-link">
                                    <?=$bankDetail->getCorrespondentAccount();?></a>
                            </td>
                            <td>
                                <a href="<?= $this->url($route, [
                                    'id' => $bankDetail->getId()
                                ]) ?>" class="block_s-profile-table-link">
                                    <?=$bankDetail->getBic();?></a>
                            </td>
                        <?php if (! $this->isOperator):?>
                            <td class="text-center">
                                <a href="<?= $this->url('user-profile/legal-entity-bank-detail-form-delete', [
                                    'idBankDetail' => $bankDetail->getId()
                                ]) ?>" class="form-group">
                                    <i class="glyphicon glyphicon-remove-sign btn-profile-remove"></i>
                                </a>
                            </td>
                        <?php endif; ?>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
                <?= $this->paginationControl($this->bankDetails,
                    'Sliding',
                    'application/partial/paginator',
                    [
                        'route' => $this->route,
                    ]
                );
                ?>
            <?php else: ?>
                <br>
                <br>
                <h4>Банковские реквизиты отсутствуют</h4>
                <br>
                <br>
            <?php endif; ?>
            <!-- /content  -->
        </div>
    </div>
</div>
