<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
               Удаление банковских реквизитов
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <!--  content  -->
            <div class="text-center">
                <p>
                    Вы уверены, что хотите удалить банковские реквизиты?<br>
                    <strong>
                        Расчетный счет:<br>
                        <?=$this->bankDetail->getCheckingAccount();?><br>
                        Наименование банка:<br>
                        <?=$this->bankDetail->getName();?><br>
                        Корресподентский счет:<br>
                        <?=$this->bankDetail->getCorrespondentAccount();?><br>
                        БИК:<br>
                        <?=$this->bankDetail->getBic();?><br>
                    </strong>
                </p>
            </div>
            <div class="text-center">
                <form method="POST" action="<?= $this->url('user-profile/legal-entity-bank-detail-single', [
                    'id' => $this->bankDetail->getId()
                ]) ?>" class="form-group" role="form">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-link btn-sm">Да, удалить</button>
                </form>
            </div>
            <!-- /content  -->
        </div>
    </div>
</div>