<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Банковские реквизиты юридических лиц
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <!--  content  -->
            <?php if($this->bankDetail):?>
                <h4 class="form-inline">
                    Банковские реквизиты
                <?php if (! $this->isOperator):?>
                    <a href="<?= $this->url('user-profile/legal-entity-bank-detail-form-edit', [
                        'idBankDetail' => $this->bankDetail->getId(),
                    ]) ?>" class="form-group">
                        изменить
                    </a>
                    <a href="<?= $this->url('user-profile/legal-entity-bank-detail-form-delete', [
                        'idBankDetail' => $this->bankDetail->getId()
                    ]) ?>" class="form-group">
                        удалить
                    </a>
                <?php endif; ?>
                </h4>
                <table>
                    <tr>
                        <td>Расчетный счет:</td>
                        <td><?=$this->bankDetail->getCheckingAccount();?></td>
                    </tr>
                    <tr>
                        <td>Наименование банка:</td>
                        <td><?=$this->bankDetail->getName();?></td>
                    </tr>
                    <tr>
                        <td>Корресподентский счет:</td>
                        <td><?=$this->bankDetail->getCorrespondentAccount();?></td>
                    </tr>
                    <tr>
                        <td>БИК:</td>
                        <td><?=$this->bankDetail->getBic();?></td>
                    </tr>
                </table>
            <?php endif; ?>
            <!-- /content  -->
        </div>
    </div>
</div>
