{% extends 'twig/layout/application' %}
{% import 'macro/routes.twig' as routes %}
{#
1 Массив массивов bankDetails, каждый элемент которого содержит ключи:
    taxInspections [
        0 => [
                ['id']
                ['serial_number']
                ['date_issued']
                ['issue_organisation']
                ['issue_registrar']
                ['date_registered']
                'files' => [
                     0 => [
                        'civilId'=>'123',
                        'id'=>'321',
                        'name'=>'321',
                        'type'=>'jpg',
                     ]
                 ]
            ],
        1 => [],
        ...
        и т.д.
    ]

2. Булевая переменная
    is_operator - по ее значению показываем что-то оператору или скрываем

3. Объект
    paginator {
      'pageCount' => int 1
      'itemCountPerPage' => int 20
      'first' => int 1
      'current' => int 1
      'last' => int 1
      'pagesInRange' =>
          1 => int 1
      'firstPageInRange' => int 1
      'lastPageInRange' => int 1
      'currentItemCount' => int 2
      'totalItemCount' => int 2
      'firstItemNumber' => int 1
      'lastItemNumber' => int 2
    }
#}
{% do headTitle('Свидетельства о регистрации') %}
{% block content %}
    <section class="PageTable">
        <form method="get" class="TableWrapper" id="legal-entity-tax-inspection-filter-form">
            <table class="TableDefault js-table-rows-are-link" data-start="1" data-length="6">
                <tr class="FilterTableRow">
                    <td>
                    </td>
                    <td>
                        <input class="InputSearch" type="text" placeholder="Серия и номер">
                    </td>
                    <td>
                        <input class="InputDate2 datepicker-here" type="text" placeholder="Дата выдачи">
                    </td>
                    <td>
                        <input class="InputSearch" type="text" placeholder="Кем выдан">
                    </td>
                    <td>
                        <input class="InputSearch" type="text" placeholder="Кем зарегистрирован">
                    </td>
                    <td>
                        <input class="InputDate2 datepicker-here" type="text" placeholder="Дата регистрации">
                    </td>
                    <td>
                        <button class="ButtonSearch" type="submit"><span>&nbsp;</span></button>
                    </td>
                </tr>
                <tr class="Head">
                    <td>
                        №
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('serialNumber') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('serialNumber')) ?' active':'' }}"></i>
                            Серия и номер
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('dateIssued') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('dateIssued')) ?' active':'' }}"></i>
                            Дата выдачи
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('issueOrganisation') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('issueOrganisation')) ?' active':'' }}"></i>
                            Кем выдан
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('issueRegistrar') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('issueRegistrar')) ?' active':'' }}"></i>
                            Кем зарегистрирован
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('dateRegistered') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('dateRegistered')) ?' active':'' }}"></i>
                            Дата регистрации
                        </a>
                    </td>
                    <td>
                        Файлы
                    </td>
                </tr>
                {% if taxInspections |length > 0 %}
                    {% for taxInspection in taxInspections %}
                        <tr data-path="{{ routes.taxInspectionSingle(taxInspection['id'])|trim  }}">
                            <td>
                                {{ loop.index }}
                            </td>
                            <td data-label="Серия и номер:">
                                {{ taxInspection['serial_number'] }}
                            </td>
                            <td data-label="Дата выдачи:">
                                {{ taxInspection['date_issued'] }}
                            </td>
                            <td data-label="Кем выдан:">
                                {{ taxInspection['issue_organisation'] }}
                            </td>
                            <td data-label="Кем зарегистрирован:">
                                {{ taxInspection['issue_registrar'] }}
                            </td>
                            <td data-label="Дата регистрации:">
                                {{ taxInspection['date_registered'] }}
                            </td>
                            <td data-label="Файлы:">
                                {% if taxInspection['files'] |length > 0 %}
                                    {% for file in taxInspection['files'] %}
                                        <a target="_blank" href="{{ routes.showFile(file) |trim }}">
                                            <i class="{{ 'Icon'~file['type'] | upper }}"></i>
                                        </a><br>
                                    {% endfor %}
                                {% else %}
                                    &#8212;
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="EmptyRow">
                        <td colspan="7">
                            Свидетельства о регистрации не найдены.
                        </td>
                    </tr>
                {% endif %}
            </table>
        </form>
    </section>
{% endblock content %}