{% extends 'twig/layout/application' %}
{% import 'macro/routes.twig' as routes %}
{#
1. Объект
    taxInspectionForm => {
        'serial_number'
        'date_issued'
        'issue_organisation'
        'issue_registrar'
        'date_registered'
        'file'
        'idLegalEntity'
        'csrf'
        'submit'
    }
#}
{% do headTitle('Добавление свидетельства о регистрации') %}
{% block content %}
    <section class="PageForm">
        <div class="PageForm-Container PageForm-Container_large">
            <form class="FormLabelTop" method="POST" enctype="multipart/form-data"
                  id="legal-entity-tax-inspection-create-form">

                <h3 class="TitleBlue">Добавление свидетельства о регистрации</h3>

                <div class="Input-Wrapper">
                    {{ formLabel(taxInspectionForm.get('serial_number'))|raw }}
                    {{ formElement(taxInspectionForm.get('serial_number'))|raw }}
                    <div class="FormError">{{ formElementErrors(taxInspectionForm.get('serial_number'))|raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    {{ formLabel(taxInspectionForm.get('date_issued'))|raw }}
                    <input name="date_issued" class="form-control InputDate datepicker-here" placeholder="Дата выдачи" value="" type="text">
                    <div class="FormError">{{ formElementErrors(taxInspectionForm.get('date_issued'))|raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    {{ formLabel(taxInspectionForm.get('issue_organisation'))|raw }}
                    {{ formElement(taxInspectionForm.get('issue_organisation'))|raw }}
                    <div class="FormError">{{ formElementErrors(taxInspectionForm.get('issue_organisation'))|raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    {{ formLabel(taxInspectionForm.get('issue_registrar'))|raw }}
                    {{ formElement(taxInspectionForm.get('issue_registrar'))|raw }}
                    <div class="FormError">{{ formElementErrors(taxInspectionForm.get('issue_registrar'))|raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    {{ formLabel(taxInspectionForm.get('date_registered'))|raw }}
                    <input name="date_registered" class="form-control InputDate datepicker-here" placeholder="Дата регистрации" value="" type="text">
                    <div class="FormError">{{ formElementErrors(taxInspectionForm.get('date_registered'))|raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    <div class="InputFile js-download-file">
                        <label for="InputFile-Label">Файл:</label>
                        <span class="InputFile-Container">
                            <mark data-text-default="Выберите файл..." class="notChange">Выберите файл...</mark>
                            {{ formElement(taxInspectionForm.get('file'))|raw }}
                            <span class="InputFile-Delete js-clear-download-file"></span>
                        </span>
                    </div>
                    <div class="FormError">{{ formElementErrors(taxInspectionForm.get('file'))|raw }}</div>
                </div>

                <div class="FormError">{{ formElementErrors(taxInspectionForm.get('csrf'))|raw }}</div>

                {{ formElement(taxInspectionForm.get('csrf'))|raw }}
                {{ formElement(taxInspectionForm.get('idLegalEntity'))|raw }}

                <div class="ButtonsRow">
                    <button class="ButtonApply">Сохранить</button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
