{% extends 'twig/layout/application' %}
{% import 'macro/routes.twig' as routes %}
{#
1. Массив (показаны значения из тестового объекта):
    taxInspection [
      'id' => int 1
      'serial_number' => string '121212121212'
      'date_issued' => string '31.12.2020'
      'issue_organisation' => string 'текст'
      'issue_registrar' => string 'текст'
      'date_registered' => string '31.12.2020'
      'files' => [
         0 => [
            'civilId'=>'123',
            'id'=>'321',
            'name'=>'321',
            'type'=>'jpg',
         ]
      ]
    ]
#}
{% do headTitle('Удаление свидетельства о регистрации') %}
{% block content %}
    <section class="PageForm" id="section-legal-entity-tax-inspection">
        <div class="PageForm-Container">
            <form class="FormView" method="POST" id="legal-entity-tax-inspection-delete-form"
                  action="{{ routes.taxInspectionSingle(taxInspection['id']) |trim }}"
                  role="form">
                <input type="hidden" name="_method" value="delete">

                <h3 class="TitleBlue">Вы уверены, что хотите удалить?</h3>

                <div class="InfoField">
                    <p class="InfoField-Label">Серия и номер:</p>
                    <p class="InfoField-Text">{{ taxInspection['serial_number'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">Дата выдачи:</p>
                    <p class="InfoField-Text">{{ taxInspection['date_issued'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">Кем выдан:</p>
                    <p class="InfoField-Text">{{ taxInspection['issue_organisation'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">Кем зарегистрирован:</p>
                    <p class="InfoField-Text">{{ taxInspection['issue_registrar'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">Дата регистрации:</p>
                    <p class="InfoField-Text">{{ taxInspection['date_registered'] }}</p>
                </div>
                {% if taxInspection['files'] |length > 0 %}
                    {% for file in taxInspection['files'] %}
                        <div class="InfoField">
                            <p class="InfoField-Label">Файл:</p>
                            <p class="InfoField-Text">
                                <a target="_blank" href="{{ routes.showFile(file) |trim }}">{{ file['name'] }}</a>
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="ButtonsRow">
                    <button class="ButtonDelete margin-right" type="submit" value="" data-ripple-button="">
                        <span class="ripple-text">Удалить</span>
                    </button>
                    <a href="{{ routes.taxInspectionSingle(taxInspection['id']) |trim }}"
                       class="ButtonRefuse" data-ripple-button="">
                        <span class="ripple-text">Отменить</span>
                    </a>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}