{% extends 'twig/layout/application' %}
{% import 'macro/routes.twig' as routes %}
{#
1. Объект
    taxInspectionForm => {
        'serial_number'
        'date_issued'
        'issue_organisation'
        'issue_registrar'
        'date_registered'
        'file'
        'idLegalEntity'
        'csrf'
        'submit'
    }

2. Массив (показаны значения из тестового объекта):
    taxInspection [
      'id' => int 1
      'serial_number' => string '121212121212'
      'date_issued' => string '31.12.2020'
      'issue_organisation' => string 'текст'
      'issue_registrar' => string 'текст'
      'date_registered' => string '31.12.2020'
      'files' => [
         0 => [
            'civilId'=>'123',
            'id'=>'321',
            'name'=>'321',
            'type'=>'jpg',
         ]
      ]
    ]
#}
{% do headTitle('Редактирование свидетельства о регистрации') %}
{% block content %}
    <section class="PageForm" id="section-legal-entity-tax-inspection'">
        <div class="PageForm-Container">
            <form class="FormLabelLeft" method="POST" enctype="multipart/form-data"
                  id="legal-entity-tax-inspection-edit-form">

                <h3 class="TitleBlue">Редактирование свидетельства о регистрации</h3>

                <div class="Input-Wrapper">
                    <label>Серия и номер:</label>
                    {{ formElement(taxInspectionForm.get('serial_number'))|raw }}
                    <div class="FormError">{{ formElementErrors(taxInspectionForm.get('serial_number'))|raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    <label>Дата выдачи:</label>
                    <input name="date_issued" class="form-control InputDate datepicker-here" placeholder="Дата выдачи" value="{{ taxInspection['date_issued'] }}" type="text">
                    <div class="FormError">{{ formElementErrors(taxInspectionForm.get('date_issued'))|raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    <label>Кем выдан:</label>
                    {{ formElement(taxInspectionForm.get('issue_organisation'))|raw }}
                    <div class="FormError">{{ formElementErrors(taxInspectionForm.get('issue_organisation'))|raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    <label>Кем зарегистрирован:</label>
                    {{ formElement(taxInspectionForm.get('issue_registrar'))|raw }}
                    <div class="FormError">{{ formElementErrors(taxInspectionForm.get('issue_registrar'))|raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    <label>Дата регистрации:</label>
                    <input name="date_registered" class="form-control InputDate datepicker-here" placeholder="Дата регистрации" value="{{ taxInspection['date_registered'] }}" type="text">
                    <div class="FormError">{{ formElementErrors(taxInspectionForm.get('date_registered'))|raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    <div class="InputFile js-download-file">
                        <label class="InputFile-Label" for="download-file">Файл:</label>
                        <span class="InputFile-Container">
                            <mark data-text-default="Выберите файл..." class="notChange">{{ taxInspection['files']['0']['name'] }}</mark>
                            {{ formElement(taxInspectionForm.get('file'))|raw }}
                            <span class="InputFile-Delete js-clear-download-file"></span>
                        </span>
                    </div>
                    <div class="FormError">{{ formElementErrors(taxInspectionForm.get('file'))|raw }}</div>
                </div>

                <div class="FormError">{{ formElementErrors(taxInspectionForm.get('csrf'))|raw }}</div>

                {{ formElement(taxInspectionForm.get('csrf'))|raw }}
                {{ formElement(taxInspectionForm.get('idLegalEntity'))|raw }}

                <div class="ButtonsRow">
                    {% if is_operator == false %}
                        <a href="{{ routes.taxInspectionDelete(taxInspection['id']) |trim }}"
                           class="ButtonDelete margin-right">Удалить</a>
                    {% endif %}
                    <button class="ButtonApply" type="submit" value="">Сохранить</button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}