{% extends 'twig/layout/authentication' %}
{#
    userRegistrationForm - form
#}
{% do headTitle('Регистрация пользователя') %}
{% block content %}
{#<div id="register-block">
    <div class="row">
        <h1>Регистрация</h1>
        <div class="col-md-6">
            {{ form().openTag(userRegistrationForm)|raw }}
                <div class="form-group">
                    <div class="form-group">
                        <label for="login">логин</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon glyphicon-user"></span>
                            </div>
                            <input type="text" name="login" id="login" class="form-control" placeholder="" value="">
                        </div>
                    </div>

                </div>
                <div class="form-error">{{ formElementErrors(userRegistrationForm.get('login'))|raw }}</div>

                <div class="form-group">
                    <label for="phone">телефон</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-earphone"></span>
                        </div>
                        <input type="text" name="phone" id="phone" class="form-control" placeholder="" value="">
                    </div>
                </div>
                <div class="form-error">{{ formElementErrors(userRegistrationForm.get('phone'))|raw }}</div>

                <div class="form-group">
                    <label for="email">email</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </div>
                        {{ formElement(userRegistrationForm.get('email'))|raw }}
                    </div>
                </div>
                <div class="form-error">{{ formElementErrors(userRegistrationForm.get('email'))|raw }}</div>

                <div class="form-group">
                    <label for="password">пароль</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </div>
                        <input type="password" name="password" id="password" class="form-control" placeholder="" value="">
                    </div>
                </div>
                <div class="form-error">{{ formElementErrors(userRegistrationForm.get('password'))|raw }}</div>

                {{ formElement(userRegistrationForm.get('csrf'))|raw }}
                <input type="submit" name="submit" id="submitbutton" class="btn btn-blue" value="Зарегистрироваться">
            {{ form().closeTag()|raw }}
        </div>
    </div>
</div>#}
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-xl-offset-4 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-0">
                <div id="register-block_1111111111111">
                    <div class="form-auth">
                    <form action="" method="post" name="login-form">
                        {{ formElement(userRegistrationForm.get('csrf'))|raw }}
                        <div class="form-title-group">
                            <a href="{{ url('login') | trim }}" class="form-title">Вход</a>
                            <h1 class="form-title is-active">Регистрация</h1>
                        </div>
                        {#<div class="form-auth__inner Preloader Preloader_solid">#}
                        <div class="form-auth__inner">
                            {% if invitation %}
                                <div class="form-field">
                                    <div id="register-invitation" class="register-invitation"
                                         data-invitation-email="{{ userRegistrationForm.get('email').getValue() }}"
                                         data-invitation-token="{{ userRegistrationForm.get('token').getValue() }}">
                                        Пользователь "{{ invitation['deal_author'] }}" приглашает Вас присоединиться к сделке N{{ invitation['deal_id'] }} "{{ invitation['deal_name'] }}".<br>
                                        Для возможности присоединения к сделке, введите, пожалуйста, ваши регистрационные данные.
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-field">
                                <label class="form-label" for="login">Логин</label>
                                <div class="form-input">
                                    <input type="text" name="login" id="login">
                                    <div class="error-message">{{ formElementErrors(userRegistrationForm.get('login'))|raw }}</div>
                                </div>
                            </div>
                            <div class="form-field">
                                <label class="form-label" for="phone">Телефон</label>
                                <div class="form-input">
                                    <input type="text" name="phone" id="phone">
                                    <div class="error-message">{{ formElementErrors(userRegistrationForm.get('phone'))|raw }}</div>
                                </div>
                            </div>
                            <div class="form-field">
                                <label class="form-label" for="email">Email</label>
                                <div class="form-input">
                                    <input type="text" name="email" id="email">
                                    <div class="error-message">{{ formElementErrors(userRegistrationForm.get('email'))|raw }}</div>
                                </div>
                            </div>
                            <div class="form-field">
                                <label class="form-label" for="password">Пароль</label>
                                <div class="form-input">
                                    <input type="password" name="password" id="password">
                                    <span class="toggle-password-field-type-button"></span>
                                    <div class="error-message">{{ formElementErrors(userRegistrationForm.get('password'))|raw }}</div>
                                </div>
                            </div>
                            <div class="form-field">
                                <label class="form-label" for="password_confirm">Подтвердите пароль</label>
                                <div class="form-input">
                                    <input type="password" name="password_confirm" id="password_confirm">
                                    <span class="toggle-password-field-type-button"></span>
                                </div>
                            </div>
                            <div class="form-field">
                                <button class="button-action button-action_type-filed_color-blue button-action_type-filed" type="submit" name="submit">Зарегистрироваться</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

