{% extends 'twig/layout/authentication' %}
{#
    allUsers - array|null
    accepted_id - int|null
#}
{% do headTitle('Регистрация пользователя') %}
{% block content %}
    <style>
        .block-s__registration-login .btn-blue {
            width: auto;
            margin-top: 12px;
            margin-bottom: 30px;
        }
        .label {
            color: #0d0d0d;
        }
        .password {
            word-break: break-all;
        }
    </style>
<div class="jumbotron" style="color: #0d0d0d">
    {% if allUsers | length > 0 %}
        <div class="user" id="user-list">
        {% for allUser in allUsers %}
            <div>
                <span class="label">Login</span>
                <span class="value">{{ allUser['login'] }}</span>
            </div>
            <div>
                <span class="label">Phone</span>
                <span class="value">{{ allUser['phone'] }}</span>
            </div>
            <div>
                <span class="label">Email</span>
                <span class="value">{{ allUser['email'] }}</span>
            </div>
            <div>
                <span class="label">Password</span>
                <span class="value password">{{ allUser['password'] }}</span>
            </div>
            <form action="{{ '/register/delete/id/'~allUser['id'] }}" id="delete-user-{{ allUser['id'] }}">
                <button class="btn btn-blue">Delete</button>
            </form>
        {% endfor %}
        </div>

    {% else %}
        удален: {{ accepted_id }}
    {% endif %}
</div>
{% endblock content %}


