{% extends 'twig/layout/application' %}
{% do headTitle('test-action') %}
{% block content %}
    <section class="DisputeClosePage">
        <form action="/delivery/dpd/city/cost" method="post">
            <input type="text" name="sender_city_id" value="12">
            <input type="text" name="receiver_city_id" value="13">
            <input type="submit" value="отправить">
        </form>
    </section>
{% endblock content %}