<div class="SolutionRequests-Status">
    {% if request['confirm'] is null %}
        {% if deal['is_customer'] == false and deal['is_contractor'] == false %}
            <h2 class="SubTitle">Предложено решение</h2>
        {% else %}
            <h2 class="SubTitle">Предложение отправлено</h2>
        {% endif %}
        <div class="InfoField">
            <div class="InfoField-Text">{{ request['title'] }}</div>
        </div>
        {% if deal['is_customer'] == false and deal['is_contractor'] == false %}
            <p></p>
        {% else %}
            <p>После присвоения спору статуса Суд, в течение 10 дней Вам будет необходимо подтвердить данное решение, направив администрации копию обращения за судебной защитой.</p>
        {% endif %}
    {% else %}
        {% if request['confirm']['status'] %}
            <h2 class="SubTitle">Предложение принято</h2>
            <div class="InfoField">
                <div class="InfoField-Text">{{ request['title'] }}</div>
            </div>
            {% if deal['is_customer'] == false and deal['is_contractor'] == false %}
                <p></p>
            {% else %}
                <p>После присвоения спору статуса Суд, в течение 10 дней Вам будет необходимо подтвердить данное решение, направив администрации копию обращения за судебной защитой.</p>
            {% endif %}
        {% else %}
            <h2 class="SubTitle">Предложение отклонено</h2>
            <div class="InfoField">
                <div class="InfoField-Text">{{ request['title'] }}</div>
            </div>
            {% if deal['is_customer'] == false and deal['is_contractor'] == false %}
                <p></p>
            {% else %}
                <p>После присвоения спору статуса Суд, в течение 10 дней Вам будет необходимо подтвердить данное решение, направив администрации копию обращения за судебной защитой.</p>
            {% endif %}
        {% endif %}
    {% endif %}
</div>