<div class="SolutionRequests-Status">
    {% if request['confirm'] is null %}
        {% if deal['is_customer'] == false and deal['is_contractor'] == false %}
            <h2 class="SubTitle">Предложено решение</h2>
        {% else %}
            <h2 class="SubTitle">Предложение отправлено</h2>
        {% endif %}
        <div class="InfoField">
            <div class="InfoField-Text">{{ request['title'] }}</div>
        </div>
        <h2 class="SubTitle">Размер скидки, рублей:</h2>
        <div class="InfoField">
            <div class="InfoField-Text">{{ request['amount'] }}</div>
        </div>
    {% else %}
        {% if request['confirm']['status'] %}
            <h2 class="SubTitle">Предложение принято</h2>
            <div class="InfoField">
                <div class="InfoField-Text">{{ request['title'] }}</div>
            </div>
            <h2 class="SubTitle">Размер скидки, рублей:</h2>
            <div class="InfoField">
                <div class="InfoField-Text">{{ request['amount'] }}</div>
            </div>
        {% else %}
            <h2 class="SubTitle">Предложение отклонено</h2>
            <div class="InfoField">
                <div class="InfoField-Text">{{ request['title'] }}</div>
            </div>
            <h2 class="SubTitle">Размер скидки, рублей:</h2>
            <div class="InfoField">
                <div class="InfoField-Text">{{ request['amount'] }}</div>
            </div>
        {% endif %}
    {% endif %}
</div>