<div class="SolutionRequests-Status">
    {% if request['confirm'] is null %}
        {% if deal['is_customer'] == false and deal['is_contractor'] == false %}
            <h2 class="SubTitle">Предложено решение</h2>
        {% else %}
            <h2 class="SubTitle">Предложение отправлено</h2>
        {% endif %}
        <div class="InfoField">
            <div class="InfoField-Text">{{ request['title'] }}</div>
        </div>
        {% if deal['is_customer'] %}
            {% if deal.type_ident == 'T' %}
                <p>В срок не более 3-х рабочих дней Вам будет необходимо организовать доставку товара продавцу.</p>
            {% else %}
                <p>В срок не более 1-го рабочего дня Вам будет необходимо сообщить исполнителю об отказе от услуги.</p>
            {% endif %}
        {% elseif deal['is_customer'] == false and deal['is_contractor'] == false %}
            <p></p>
        {% else %}
            {% if deal.type_ident == 'T' %}
                <p>В срок не более 3-х рабочих дней покупателю будет необходимо вернуть Вам товар.</p>
            {% else %}
                <p>В срок не более 1-го рабочего дня заказчику будет необходимо сообщить Вам об отказе от услуги.</p>
            {% endif %}
        {% endif %}
    {% else %}
        {% if request['confirm']['status'] %}
            <h2 class="SubTitle">Предложение принято</h2>
            <div class="InfoField">
                <div class="InfoField-Text">{{ request['title'] }}</div>
            </div>
            {% if deal['is_customer'] %}
                {% if deal.type_ident == 'T' %}
                    <p>В срок не более 3-х рабочих дней Вам будет необходимо организовать доставку товара продавцу.</p>
                {% else %}
                    <p>В срок не более 1-го рабочего дня Вам будет необходимо сообщить исполнителю об отказе от услуги.</p>
                {% endif %}
            {% elseif deal['is_customer'] == false and deal['is_contractor'] == false %}
                <p></p>
            {% else %}
                {% if deal.type_ident == 'T' %}
                    <p>В срок не более 3-х рабочих дней покупателю будет необходимо вернуть Вам товар.</p>
                {% else %}
                    <p>В срок не более 1-го рабочего дня заказчику будет необходимо сообщить Вам об отказе от услуги.</p>
                {% endif %}
            {% endif %}
        {% else %}
            <h2 class="SubTitle">Предложение отклонено</h2>
            <div class="InfoField">
                <div class="InfoField-Text">{{ request['title'] }}</div>
            </div>
            {% if deal['is_customer'] %}
                {% if deal.type_ident == 'T' %}
                    <p>В срок не более 3-х рабочих дней Вам будет необходимо организовать доставку товара продавцу.</p>
                {% else %}
                    <p>В срок не более 1-го рабочего дня Вам будет необходимо сообщить исполнителю об отказе от услуги.</p>
                {% endif %}
            {% elseif deal['is_customer'] == false and deal['is_contractor'] == false %}
                <p></p>
            {% else %}
                {% if deal.type_ident == 'T' %}
                    <p>В срок не более 3-х рабочих дней покупателю будет необходимо вернуть Вам товар.</p>
                {% else %}
                    <p>В срок не более 1-го рабочего дня заказчику будет необходимо сообщить Вам об отказе от услуги.</p>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
</div>