.According {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  .Item {
    height: 90vh;
    display: flex;
    align-items: stretch;
    .Number {
      font-size: 22px;
      font-weight: 500;
    }
    .Tab {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      transition: background-color .3s ease;
      position: relative;
      border: 2px solid #ffffff;
      text-align: center;
      color: #ffffff;
      padding: 19px 2px 19px;
      display: flex;
      width: 56px;
      background-color: @main-dark-color;
      cursor: pointer;
      overflow: hidden;
      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 10px;
        height: 100px;
        background-color: #ffffff;
        right: -5px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 5px;
      }
      .Text {
        display: none;
        transform: rotate(90deg);
        white-space: nowrap;
        opacity: 0;
        transition: opacity .5s ease;
      }
      .Icon {
        display: inline-block;
        background-color: #ffffff;
        border-radius: 50%;
        width: 35px;
        height: 35px;
      }
    }
    .Tab:hover {
      background-color: #ffffff;
      border: 2px solid @main-dark-color;
      color: @main-dark-color;
      .Icon {
        background-color: @main-dark-color;
      }
      .Text {
        display: block;
        opacity: 1;
      }
    }
    .Content {
      position: relative;
      display: none;
      border: 2px solid @main-dark-color;
      margin-left: 2px;
      margin-right: 2px;
      overflow: hidden;
      .number {
        display: none;
      }
    }
    .Content {
      display: none;
    }
  }
  .Item.active {
    display: flex;
    flex-grow: 1;
    .Content {
      display: block;
      flex-grow: 1;
      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 14px;
        height: 100px;
        background-color: @main-dark-color;
        right: -7px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 6px;
      }
      .Number {
        display: block;
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
    }
    .Tab {
      display: none;
    }
  }
}