.Calculation {
  @background-calc-input-color: #F6F7F9;
  h3 {
    font-family: Lato, Arial, sans-serif;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 35px;
    text-transform: none;
    font-size: 24px;
    letter-spacing: -0.6px;
    color: @main-dark-color;
  }
  .Calculation__container {
    display: flex;
    justify-content: space-between;
    @media (max-width: @mobile) {
      flex-direction: column;
    }
  }
  @import (multiple) "../atoms/Button";
  @import (multiple) "WhiteBorderElement";
  @import (multiple) "../atoms/SelectDefault";

  .Item {
    @import (multiple) "../atoms/InputTypeRange";
    width: 270px;
    display: flex;
    flex-direction: column;
    @media (max-width: @tablet) {
      width: 270px;
    }
    @media (max-width: @mobile) {
      width: 100%;
    }
    .Field {
      margin-bottom: 0;
      display: block;
      max-width: 100%;
      position: relative;
      @media (max-width: @tablet) {
        //flex-direction: column;
        align-items: flex-start;
      }
      input, select, label, .label {
        margin-bottom: 0;
        max-width: none;
      }
      input {
        font-size: 18px;
        line-height: 19px;
        font-weight: 400;
        flex-basis: 100%;
        background-color: @background-calc-input-color;
      }
      input[type="text"] {
        height: auto;
        padding: 10px 30px 9px 9px;
        border: 1px solid transparent;
        width: 100%;
        @media (max-width: @mobile) {
          padding: 5px;
        }
        &:focus {
          outline: none;
        }
      }
      .rubble-field {
        position: relative;
        &:before {
          display: block;
          position: absolute;
          content: '';
          right: 12px;
          top: 50%;
          transform: translateY(-50%);
          width: 13px;
          height: 13px;
          background: url(../../../img/landing/ruble-icon.svg) no-repeat;
          background-size: contain;
        }
      }
      select {
        height: 42px;
        font-size: 18px;
        line-height: 19px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: relative;
        background-color: @background-calc-input-color;
        color: inherit;
        padding: 11px 30px 9px 10px;
        width: 100%;

        &:focus {
          outline: none;
        }
      }
      .select-icon {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          display: block;
          width: 13px;
          height: 13px;
          right: 13px;
          top: 50%;
          transform: translateY(-50%);
          background: url(../../../img/landing/SelectArrow-dark.svg) no-repeat center;
          background-size: contain;
          z-index: 1;
        }
      }
      select::-ms-expand {
        display: none;
      }
      label {
        flex-basis: 100%;
        font-weight: 600;
        font-size: 16px;
        text-transform: none;
        margin-bottom: 7px;
        display: block;
        @media (max-width: @mobile) {
          margin-bottom: 3px;
          font-size: 14px;
        }
      }
      .Label {
        flex-basis: 100%;
        text-transform: none;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 1.3125;
      }
      .Text {
        font-size: 18px;
        line-height: 19px;
        font-weight: 400;
        padding: 10px 30px 9px 9px;
        width: 100%;
        max-width: 100%;
        background-color: @background-calc-input-color;
      }
      .CalculationButton {
        //margin-top: 40px;
        text-transform: none;
        max-width: none;
        @media (max-width: @tablet) {
          margin-left: 0;
        }
        @media (max-width: @mobile) {
          margin-top: 20px;
        }
      }
    }
    .Field + .Field {
      margin-top: 25px;
      @media (max-width: @mobile) {
        margin-top: 20px;
      }
    }
    .Field.Field-Button {
      margin-top: 150px;
      @media (max-width: @tablet) {
        margin-top: auto;
      }
    }
  }
  .Item.reverse{
    width: 170px;
    .Field {
      @calculation-input-boxshadow: 0 0 13px 1px rgba(0,0,0,0.1);

      input {
        background-color: #ffffff;
        box-shadow: @calculation-input-boxshadow;
        color: #1863A4;
        width: 100%;
      }
      .Text {
        background-color: #ffffff;
        box-shadow: @calculation-input-boxshadow;
        color: #1863A4;
      }
    }
  }

  .Item + .Item {
    max-width: 170px;
    margin-left: 30px;
    @media (max-width: @grid-breakpoint-sm) {
      max-width: none;
      margin-top: 20px;
      margin-left: 0;
    }
  }
}