.ContactLinks {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.4285;
  letter-spacing: 1.4px;
  @media (max-width: @mobile) {
    flex-direction: column;
  }
  .Item {
    max-width: 380px;
    @media (max-width: @tablet) {
      max-width: 225px;
    }
    @media (max-width: @mobile) {
      max-width: 100%;
    }
    .Link-Container {
      margin-bottom: 30px;
      .Link {
        margin-top: 5px;
      }
    }
    .Link-Container:last-child {
      margin-bottom: 0;
    }
  }
  .Item + .Item {
    @media (max-width: @mobile) {
      padding-top: 20px;
      margin-top: 20px;
      border-top: 1px solid #ffffff;
    }
  }
  .Title {
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .Link + .Link {
    margin-top: 20px;
  }
  @import (multiple) "../../landing/atoms/Logo";
  .Logo {
    display: block;
    margin-bottom: 15px;
    margin-left: auto;
    @media (max-width: @mobile) {
      margin-right: auto;
    }
  }
  @import (multiple) "OurPartners";
}