.DiskMarkedField {
  position: relative;
  display: block;
  padding-left: 41px;
  line-height: 21px;
  &:before {
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 8px solid #ffffff;
    border-radius: 50%;
  }
}