.DownloadLink {
  font-size: 14px;
  line-height: 3;
  position: relative;
  padding-left: 30px;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 400;
  @media (max-width: @mobile) {
    line-height: 2;
  }
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 19px;
    height: 19px;
    left: 0;
    top: 0;
    background: url(../../../img/landing/download-arrow.svg) no-repeat center;
    background-size: contain;
  }
  &:hover {
    text-decoration: none;
  }
}