.DropDownList {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: default;
  @media (max-width: @tablet) {
    display: none;
  }
  .DropDownList-Container {
    display: block;
    &:before {
      background: url(../../../img/SelectArrowGrey2.svg);
    }

    .DropDownList-Icon {
      margin-right: 15px;
      width: 13.36px;
      height: 16.26px;
    }

    .DropDownList-Text {
      display: inline-block;
      padding-right: 10px;
      line-height: 3;
      font-size: 12px;
      font-weight: 400;
      color: #ffffff;
      opacity: .5;
      transition: opacity .3s ease;
      @media (max-width: @tablet) {
        display: none;
      }
    }

    @import (multiple) "../../landing/atoms/DropDown-Menu";
    .DropDown-Menu {
      display: none;
      left: -15px;
      width: 200px;
      li {
        a {
          line-height: 18px;
          font-size: 12px;
          color: @_New_text-color;
          opacity: 1;
        }
      }
    }
  }
  &:hover {
    .DropDown-Menu {
      display: block;
    }
  }
}


