@import (multiple) "../components/SectionDark";

footer {
  padding-top: 91px;
  padding-bottom: 45px;
  @media (max-width: @desk) {
    padding-top: 58px;
    padding-bottom: 30px;
  }
  @media (max-width: @mobile) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @import (multiple) "ContactLinks";


  @import (multiple) "Copyrights";
  .Copyrights {
    margin-top: 35px;
  }
  .smm {
    @import (multiple) "../atoms/IconSocial";
    margin-top: 20px;
    text-align: center;
  }
}