.Gallery {
    display: block;
    width: 720px;
    overflow: hidden;
    background-color: #5a6071;
    margin-top: 5px;
    @media (max-width: @desk) {
        max-width: 685px;
        margin-left: auto;
        width: 100%;
    }
    @media (max-width: @tablet) {
        margin: 30px auto auto;
    }
    @media (max-width: @mobile) {
        display: none;
    }

}

.Gallery-FullImg {
    // display: flex;
    position: relative;
    float: left; // align-items: center;
    width: 100%;
    height: 400px;
    background-image: url('../../../img/LogoGpBg.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.Gallery-FullImgBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../../img/landing/gallery-electronics.jpg) no-repeat center center;
    background-size: cover;
    will-change: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.Gallery-FullImgLabel {
    position: absolute;
    top: 0;
    padding: 1.2em 4px;
    //    height: 2em;
    text-align: center;
    line-height: 12.86px;
    background: fade(@main-dark-color, 80%);
    color: #ffffff;
    //    transition: opacity .35s ease;
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    cursor: default;
    z-index: 1;
}

.Gallery-Thumbs {
    display: block;
    width: 100%;
}

.Gallery-Thumb {
    position: relative;
    float: left;
    width: 20%;
    height: 100px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
   //  transition: all 0.3s cubic-bezier(.11,.62,.3,.98);
    &:hover {
        .Gallery-ThumbLabel {
            opacity: 0;
        }
    }
}

.Gallery-ThumbLabel {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 4px;
    height: 36px;
    text-align: center;
    font-size: 14px;
    line-height: 12.86px;
    background: fade(@main-dark-color, 80%);
    color: #ffffff;
    -webkit-transition: opacity .35s ease;
    transition: opacity .35s ease;
    @media (max-width: @tablet) {
        width: 100%;
        font-size: 12px;
    }
}

.Gallery-Thumb_electronics {
    background-image: url(../../../img/landing/gallery-electronics.jpg);
}

.Gallery-Thumb_cars {
    background-image: url(../../../img/landing/gallery-cars.jpg);
}

.Gallery-Thumb_freelance {
    background-image: url(../../../img/landing/gallery-freelance.jpg);
}

.Gallery-Thumb_homes {
    background-image: url(../../../img/landing/gallery-nedvijimostb.jpg);
}

.Gallery-Thumb_purchases {
    background-image: url(../../../img/landing/gallery-purchases.jpg);
}

.Gallery-Thumb_soft {
    background-image: url(../../../img/landing/gallery-soft.jpg);
}