
header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: fade(@main-dark-color, 90%);
  &:hover {
    background-color: @main-dark-color;
  }
}

header.fixed .dropdown-content {
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(60, 68, 88, 0.9);
}

header {
  z-index: 99;
  transition: all .5s ease;
  padding: 0;
  .Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: @tablet) {
      align-items: flex-start;
    }
    @import (multiple) "../atoms/LogoAnimated";
    @import (multiple) "../atoms/Logo";

    nav {
      @media (max-width: @tablet) {
        display: none;
      }

      ul {
        display: block;
        li {
          display: inline-block;
          padding: 15px 0;
          cursor: default;
          @media (max-width: @tablet) {
            display: block;
          }
          a {
            font-size: 12px;
            line-height: 3;
            font-weight: 400;
            color: #ffffff;
            opacity: .5;
            transition: opacity .3s ease;
          }
          a:hover {
            opacity: 1;
          }
        }
        li + li {
          margin-left: 60px;
          @media (max-width: @tablet) {
            margin-left: 0;
          }
        }
      }
    }

    @import (multiple) "../components/DropDownList";

    .DropDownList {
      .DropDownList-Container {
        .DropDownList-Icon {
          svg {
            opacity: 0.5;
            transition: opacity .3s ease;
          }
        }
      }
      &:hover {
        .DropDownList-Icon {
          svg {
            opacity: 1;
          }
        }
        .DropDownList-Text {
          opacity: 1;
        }
        .DropDown-Menu {
          display: block;
        }
      }
    }

    @import (multiple) "../../application/components/UserBar";
    .UserBar {
      padding: 15px 0;

      .UserBar-Container {
        .UserBar-Text {
          color: #ffffff;
        }

        @import (multiple) "../../application/atoms/AvatarWithBorder";
        .AvatarWithBorder {
          margin-right: 23px;
          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 51%;
            right: 0;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            background: url(../../../img/SelectArrowWhite.svg) no-repeat;
          }
        }

        .DropDown-Menu {
          right: 0;
          left: auto;
          width: 150px;
          li {
            a {
              font-size: 12px;
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  @import (multiple) "../atoms/Button";
  .Button.Button_transparent {
    padding-top: 17px;
    padding-bottom: 17px;
    height: auto;
    font-size: 14px;
    line-height: 1;
    max-width: @input-width;
    @media (max-width: @tablet) {
      display: none;
    }
  }

  @import (multiple) "../atoms/Burger";
  .Burger {
    display: none;
    @media (max-width: @tablet) {
      display: inline-block;
      margin-left: auto;
      margin-top: 5px;
    }
  }
}