.Important-Message {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  padding-left: 50px;
  font-weight: 400;
  @media (max-width: @mobile) {
    font-size: 17px;
    padding-left: 40px;
  }
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    background: url(../../../img/landing/important-message.png) no-repeat center;
    @media (max-width: @mobile) {
      top: 7px;
    }
  }
}