@import (multiple) "../atoms/Button";
@import (multiple) "../atoms/Burger";

.Burger {
  position: absolute;
  z-index: 1000;
  right: 1vw;
  top: 1vh;
}

.MobileMenu-bg.active {
  width: 100%;
  height: 100%;
  transition-property: opacity, width, height;
  transition-duration: .5s, 0s, 0s;
  transition-timing-function: ease, ease, ease;
  transition-delay: 0s, 0s, 0s;
  @media (max-width: @tablet) {
    opacity: 1;

  }
}

.MobileMenu.active {
  @media (max-width: @tablet) {
    transform: translateX(0);
  }
}

.MobileMenu-bg {
  width: 0;
  height: 0;
  z-index: -1;
  transition-property: opacity, width, height;
  transition-duration: .5s, 0s, 0s;
  transition-timing-function: ease, ease, ease;
  transition-delay: 0s, .5s, .5s;
  @media (max-width: @tablet) {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    background: fade(@main-dark-color, 70%);
    z-index: 998;
  }
}

.MobileMenu {
  transition: transform .5s ease-out;
  display: none;
  overflow-y: auto;
  @media (max-width: @tablet) {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #314757;
    transform: translateX(-100%);
    padding: 1.460em 0.625em;
    z-index: 999;
    max-width: 480px;
    width: calc(100vw ~"-" 55px);
    @media (orientation: landscape) and (max-width: 480px) {
      max-width: 240px;
    }
  }
  .MobileMenu-content {
    display: block;
    height: 100%;
    color: @main-dark-color;
    text-align: left;
    font-size: calc(24 / 1085 * 100vh);
    .AccountFieldMobile {
      @import (multiple) "../../application/atoms/AvatarWithBorder";
      display: flex;
      align-items: center;
      background-color: #465a68;
      margin-bottom: 0.6em;
      padding: calc(30 * 100vh / 1085);
      .AvatarWithBorder {
        height: 50px;
        width: 50px;
        margin-right: 1em;
        .AvatarWithBorder-Container {
          background-image: url(../../../img/no-avatar.png);
        }
      }
      .UserName {
        display: inline-block;
        color: #ffffff;
        margin-right: 0;
      }
    }
    .Title {
      padding: 23.5px 15px;
      background-color: @main-dark-color;
      color: #ffffff;
      margin-bottom: 0;
    }

    .Button {
      transition: none;
      margin-bottom: 10px;
      padding: 1em 0.625em;
      line-height: normal;
      width: 100%;
      max-width: 100%;
      font-size: calc(24 / 1085 * 100vh);
    }
    .Button_transparent {
      display: inline-block;
    }
    .Button_white {
      color: #3c4458;
      background: #ffffff;
      &:after {
        background-color: #617f93;
      }
      &:hover {
        color: #ffffff;
        border: 1px solid #ffffff;
      }
    }

    a {
      text-decoration: none;
    }

    nav {
      text-align: left;
      margin-bottom: calc(35 / 1085 * 100vh);

      li {
        background-color: #465a68;
        position: relative;
        padding: 1em 0.625em;
        margin-bottom: .6em;
        &:hover {
          cursor: pointer;
        }
        a, p {
          display: flex;
          align-items: center;
          transition: all 0s;
          color: #ffffff;
          font-weight: 400;
        }
        svg {
          height: calc(100vh * 30 / 1085);
          margin-right: 10px;
        }
      }

      @import (multiple) "../../application/components/Spoiler";
      .Spoiler {
        svg {
          position: absolute;
        }
        .Spoiler-Toggle {
          margin-bottom: 0;
          padding: 0 2em;
          color: #ffffff;
          text-decoration: none;
          &:before {
            width: 8px;
            height: 8px;
            top: 50%;
            transform: translateY(-50%);
            background: url(../../../img/SelectArrowWhite.svg) no-repeat;
          }
        }
        .Spoiler-Hidden {
          li {
            padding: 8px 2em;
            margin-bottom: 0;
          }
          li:first-child {
            padding-top: 16px;
          }
          li:last-child {
            padding-bottom: 0;
          }
        }
        input:checked + .Spoiler-Hidden {
          max-height: 500px;
        }
      }
    }
    @import (multiple) "../atoms/LogoWithoutAnimated";
    .Logo-Container {
      text-align: center;
      display: block;
      margin: auto;
      padding: @indent 0;
      .LogoWords {
        display: inline-block;
        width: 113px;
        height: 28px;
        margin-bottom: 10px;
      }
    }
  }
}

.CheckIn {
  display: none;
}

.MobileMenu.guest {
  .CheckIn {
    display: inline-block;
  }
}
