.OurPartners {
  @import (multiple) "../atoms/PartnersIcon";

  @media (max-width: @mobile) {
    text-align: center;
  }
  .PartnersIcon {
    margin: 0 auto;
    display: block;
    background-color: #ffffff;
    border-radius: 3px;
    width: 70px;
    height: 40px;
    @media (max-width: @mobile) {
      display: inline-block;
    }
  }
  .PartnersIcon + .PartnersIcon {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .PartnersIcon_visa, .PartnersIcon_mir {
    background-size: 80% 75%;
  }
  .PartnersIcon_mastercard {
    background-size: 70%;
  }

}