.OurTeam {
  display: flex;
  @media (max-width: @mobile) {
    flex-direction: column;
  }
  .OurTeam-Item {
    flex-grow: 1;
    flex-basis: 0;
    .OurTeam-Title {
      font-weight: 500;
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      font-size: 24px;
      @media (max-width: @tablet) {
        font-size: 18px;
        margin-bottom: 15px;
      }
      .OurTeam-Count {
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        font-size: 36px;
        line-height: 20px;
        border: 2px solid #ffffff;
        margin-right: 25px;
        @media (max-width: @tablet) {
          width: 40px;
          height: 40px;
          font-size: 24px;
          margin-right: 15px;
        }
      }
    }
  }
  .OurTeam-Item + .OurTeam-Item {
    margin-left: 40px;
    @media (max-width: @tablet) {
      margin-left: 20px;
    }
    @media (max-width: @mobile) {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}