.SectionDark {
  background: @dark-bg-gradient;
  color: #ffffff;
  h1, h2, h3 {
    color: #ffffff;
  }
  label {
    color: #ffffff;
  }
  a {
    color: #ffffff;
    &:hover {
      color: darken(#ffffff, 20%);
    }
  }
}