@import (multiple) "../../application/components/Timeline";

.TimelineAnimated {
  .Timeline-Item {
    &:before {
      background: linear-gradient(to right, darken(@accent-color, 10%) 50%, #c7c7c9 50%);
      background-size: 200% 100%;
      background-position: right bottom;
    }
    .PointRounded {
      background: linear-gradient(to right, @accent-color 50%, #c7c7c9 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      box-shadow: 3px 3px 15px -4px rgba(89,89,89,0.49);
    }
  }

}
@keyframes pulse_animation {
  0% { transform: scale(1); }
  10% { transform: scale(1.01); }
  20% { transform: scale(1.02); }
  30% { transform: scale(1.03); }
  40% { transform: scale(1.04); }
  50% { transform: scale(1.06); }
  60% { transform: scale(1.04); }
  70% { transform: scale(1.03); }
  80% { transform: scale(1.02); }
  90% { transform: scale(1.01); }
  100% { transform: scale(1); }
}
.TimelineAnimated.active {
  .Timeline-Item {
    //.PointRounded{
    //  animation-name: pulse_animation;
    //  animation-duration: 900ms;
    //  transform-origin: 70% 90%;
    //  animation-iteration-count: 1;
    //  animation-timing-function: linear;
    //}


    &:before, .PointRounded {
      animation: pulse_animation 900ms 1 linear, BgFill forwards linear;

      //animation-fill-mode: forwards;
      //animation-timing-function: linear;
    }
    &:before {
      animation-duration: 0.5s;
    }
    .PointRounded{
      animation-duration: 0.25s;
    }
  }
  .Timeline-Item:nth-child(1) {
    &:before {
      animation-delay: 0s;
    }
    .PointRounded {
      animation-delay: 0s;
    }
  }
  .Timeline-Item:nth-child(2) {
    &:before {
      animation-delay: 0s;
    }
    .PointRounded {
      animation-delay: 0.5s;
    }
  }

  .Timeline-Item:nth-child(3) {
    &:before {
      animation-delay: 0.8s;
    }
    .PointRounded {
      animation-delay: 1.25s;
    }
  }

  .Timeline-Item:nth-child(4) {
    &:before {
      animation-delay: 1.6s;
    }
    .PointRounded {
      animation-delay: 2s;
    }
  }

  .Timeline-Item:nth-child(5) {
    &:before {
      animation-delay: 2.25s;
    }
    .PointRounded {
      animation-delay: 2.7s;
    }
  }
}