.WhiteBorderElement {
  font-weight: 400;
  display: block;
  margin-bottom: 30px;
  color: #ffffff;
  .Label {
    display: block;
    line-height: 1.3125;
    margin-bottom: 16px;
  }
  .Text {
    display: block;
    border: 1px solid #ffffff;
    width: 100%;
    max-width: @input-width;
    padding: @input-padding-vertical @input-padding-horizontal;
    line-height: 1.5625;
    font-weight: 400;
    @media (max-width: @mobile) {
      max-width: 100%;
    }
  }
}