{% extends 'twig/layout/application' %}

{% block content %}
    {% do headTitle('Редактирование комментария') %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm">
        <div class="PageForm-Container">
            <form class="row nested-row FormLabelTop" method="POST" id="dispute-comment-edit-form">
                {{ formElement(disputeCommentForm.get('csrf'))|raw }}
                {{ formElement(disputeCommentForm.get('dispute_id'))|raw }}
                <h3 class="col-xl-12 TitleBlue">Редактирование комментария к спору</h3>
                <div class="col-xl-12 Input-Wrapper">
                    <div class="FormLabelTop_textarea">
                        {{ formElement(disputeCommentForm.get('text')) |raw }}
                    </div>
                    <div class="FormError">{{ formElementErrors(disputeCommentForm.get('text'))|raw }}</div>
                </div>
                <div class="col-xl-12 FormError">{{ formElementErrors(disputeCommentForm.get('csrf'))|raw }}</div>
                <div class="col-xl-12 ButtonsRow">
                    <div class="row nested-row">
                        <div class="col-xl-6  col-sm-2 col-xs-4">
                            <a href="{{ url('deal-comment-form-delete', {'idComment' : comment['id']}) }}"
                               class="ButtonDelete" data-ripple-button=""><span class="ripple-text">Удалить</span></a>
                        </div>
                            <div class="col-xl-6  col-sm-2 col-xs-4">
                                <button class="ButtonApply" value="" data-ripple-button=""><span class="ripple-text">Сохранить</span></button>
                            </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}