{% extends 'twig/layout/application' %}

{% block content %}
    {% do headTitle('Добавление комментрия') %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm" id="CreateComment">
        <div class="PageForm-Container PageForm-Container_large">
            <form method="post" name="dispute-comment" class="FormLabelTop" id="dispute-comment-create-form">
                {{ formElement(disputeCommentForm.get('csrf'))|raw }}
                {{ formElement(disputeCommentForm.get('dispute_id'))|raw }}

                <h3 class="TitleBlue">Добавление комментария</h3>
                <div class="Input-Wrapper">
                    {{ formLabel(disputeCommentForm.get('text'))|raw }}
                    {{ formElement(disputeCommentForm.get('text'))|raw }}
                    <div class="FormError">{{ formElementErrors(disputeCommentForm.get('text'))|raw }}</div>
                </div>

                <div class="ButtonsRow">
                    <button type="submit" value="" class="ButtonApply" data-ripple-button=""><span class="ripple-text">ДОБАВИТЬ</span></button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}