{% import 'macro/translate.twig' as translate %}

{% if is_last %}
    <p class="{{ translate.isDisputeHistoryItemLast(is_last) }}" id="automatic-deal-close-warning">Если до истечения гарантийного периода с Вашей стороны не будет произведено никаких действий, сделка будет закрыта, и деньги будут переведены
        {% if deal['type_ident'] == 'T' %}
            продавцу.
        {% else %}
            исполнителю.
        {% endif %}
    </p>
{% endif %}