{% if is_last %}
    <div class="DealControl-Hints" id="MandarinPaymentStatusProcessing">
        <div class="payment-info">
            <div class="payment-info-header">
                <div class="Preloader" style="width: 36px; margin-right: 12px; margin-left: -24px;"></div>
                <p class="TextMarked payment-status">
                    Ваш платёж обрабатывается. Пожалуйста, подождите...</p>
                <p class="Note">
                    В зависимости от нагрузки системы, время обработки Вашей транзакции может достигать 2-3х часов. <br>
                    В случае, если по прошествии этого времени статус по-прежнему в "обработке", просим Вас обратиться в техническую поддержку и указать номер сделки.
                </p>
            </div>
            <div class="payment-details">
                <h4 class="payment-details-title">Детали платежа</h4>
                <table>
                    <tr>
                        <td class="title">Дата:</td>
                        <td class="value">{{ mandarin_acquiring['created'] }}</td>
                    </tr>
                    <tr>
                        <td class="title">N транзакции:</td>
                        <td class="value">{{ mandarin_acquiring['transaction'] }}</td>
                    </tr>
                    <tr class="sum">
                        <td class="title">Сумма:</td>
                        <td class="value">{{ mandarin_acquiring['amount'] }} Р.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endif %}