{% if not deal['mandarin_acquiring'] %}
    <p class="TextMarked_grey" id="msg_payment-status-success">
        <span class="TextMarked_date">{{ date_of_event }}</span>
        <span>Оплата по сделке зачислена на гарантийный счет.</span>
    </p>
{% endif %}
