{% if is_last %}
        {% if available_payment_method_types['acquiring_mandarin'] == true and  available_payment_method_types['bank_transfer'] == true %}
            <p class="TextMarked TextMarked_info" id="payment-required">От вас ожидается оплата оговоренной в сделке суммы.
                Вы можете оплатить {% if data['type_ident'] == 'T' %} товар {% else %} услугу {% endif %} с помощью банковской карты, либо через расчетный счет в банке.</p>
        {% elseif available_payment_method_types['acquiring_mandarin'] == true %}
            <p class="TextMarked TextMarked_info" id="payment-required">От вас ожидается оплата оговоренной в сделке суммы.
                Вы можете оплатить {% if data['type_ident'] == 'T' %} товар {% else %} услугу {% endif %} с помощью банковской карты.</p>
        {% elseif available_payment_method_types['bank_transfer'] == true %}
            <p class="TextMarked TextMarked_info" id="payment-required">От вас ожидается оплата оговоренной в сделке суммы.
                Вы можете оплатить {% if data['type_ident'] == 'T' %} товар {% else %} услугу {% endif %} через расчетный счет в банке.</p>
        {% endif %}
{% endif %}