<p class="TextMarked_grey" id="payment-sent">
    <span class="TextMarked_date">{{ date_of_event }}</span>
    <span>Отправлен платеж на выплату денег за {% if data['type_ident'] == 'T' %} товар{% else %} услугу{% endif %}.</span>
</p>
