{% if deal['is_current_user_confirmed'] %}
    <p class="TextMarked_grey" id="you-confirmed">
        <span class="TextMarked_date">{{ date_of_event }}</span>
        <span>Вы подтвердили согласие с условиями сделки.</span>
    </p>
{% endif %}
