{% extends 'twig/layout/application' %}

{% block content %}
    {% do headTitle('Добавление комментрия') %}
    <section class="PageForm" id="CreateComment">
        <div class="PageForm-Container PageForm-Container_large">
            <form method="post" name="deal-comment" class="FormLabelTop" id="deal-comment">
                {# form().openTag(naturalPersonForm)|raw #}
                {{ formElement(dealCommentForm.get('csrf'))|raw }}
                {{ formElement(dealCommentForm.get('deal_id'))|raw }}

                <h3 class="TitleBlue">Добавление комментария</h3>
                <div class="Input-Wrapper">
                    {{ formLabel(dealCommentForm.get('text'))|raw }}
                    {{ formElement(dealCommentForm.get('text'))|raw }}
                    <div class="FormError">{{ formElementErrors(dealCommentForm.get('text'))|raw }}</div>
                </div>

                <div class="ButtonsRow">
                    <button type="submit" value="" class="ButtonApply">ДОБАВИТЬ</button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}