{% extends 'twig/layout/application' %}

{% block content %}
    {% do headTitle('Удаление комментария') %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm" id="section-deal-comment-delete">
        <div class="PageForm-Container">
            <form method="POST" action="{{ url('deal-comment-single', {'id': comment['id']}) }}" class="row nested-row FormView" id="deal-comment-delete-form" role="form">
                <input type="hidden" name="_method" value="delete">

                <h3 class="col-xl-12 TitleBlue">Вы уверены, что хотите удалить комментарий к сделке {{ deal_number }}?</h3>
                <div class="col-xl-12 InfoField InfoField_comment">
                    <p class="InfoField-Label">Текст:</p>
                    <p class="InfoField-Text">{{ comment['text'] }}</p>
                </div>
                <div class="col-xl-12 ButtonsRow">
                    <div class="row nested-row">
                        <div class="col-xl-6 col-sm-4 col-xs-4">
                            <button class="ButtonDelete margin-right" type="submit" value="" data-ripple-button="">
                                <span class="ripple-text">Удалить</span>
                            </button>
                        </div>
                        <div class="col-xl-6 col-sm-4 col-xs-4">
                            <a href="{{ url('deal/show', {'id': deal_id}) }}" class="ButtonRefuse" data-ripple-button="">
                                <span class="ripple-text">Отменить</span>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}