{% extends 'twig/layout/application' %}

{% block content %}
    {% do headTitle('Комментарий') %}
    <section class="PageForm">
        <div class="PageForm-Container">

            <div class="InfoField">
                <p class="InfoField-Label">id:</p>
                <p class="InfoField-Text">{{ comment['id'] }}</p>
            </div>
            <div class="InfoField">
                <p class="InfoField-Label">Текст:</p>
                <p class="InfoField-Text">{{ comment['text'] }}</p>
            </div>
            <div class="InfoField">
                <p class="InfoField-Label">Добавлен:</p>
                <p class="InfoField-Text">{{ comment['created'] }}</p>
            </div>
            <div class="InfoField">
                <p class="InfoField-Label">Автор:</p>
                <p class="InfoField-Text">{{ comment['author'] }}</p>
            </div>

        </div>
    </section>
{% endblock content %}