.authentication{
  position: relative;
  background: #39728a url("/img/auth/auth-bg.jpg") no-repeat center;
  background-size: cover;
  &:before {
    z-index: 1;
    display: block;
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
  }
  header, footer {
    z-index: 11;
    position: relative;
  }
  .block-s{
    position: relative;
    z-index: 10;
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;

    @media (max-width: @grid-breakpoint-sm){
      padding-top: 80px;
    }

  }

  .page-footer{
    background: transparent;
  }

  @import (multiple) 'auth/organisms/form-auth'; // Общий класс для форм в авторизации
  
  .registration__small_text {
    color: #FFFFFF; // Текст после успешной регистрации
  }
}

.no-js {
  .Preloader {
    &:before, &:after {
      display: none !important;
    }
  }
}