@import "./mixins/font";
.font-face(Montserrat, "../../fonts/Montserrat/Semibold/Montserrat-SemiBold", 600, normal);
.deal-button{
  font-family: Montserrat, Arial, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  font-size: 18px;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  background: #2F80ED;
  background: #2F80ED linear-gradient(180deg, rgba(47, 128, 237, 0.5) -3.45%, rgba(0, 102, 178, 0.5) 149.14%);
  border-radius: 2px;
  text-decoration: none;
  padding: 14px 10px;
  box-shadow: 0 2px 6px rgba(47, 83, 151, 0.1), inset 0px 1px 4px rgba(53, 64, 82, 0.1), inset 0px -1px 2px rgba(218, 218, 218, 0.1);
  width: 300px;
  display: inline-block;
  text-align: center;

  &:hover{
    color: #fff;
    text-decoration: none;
    background: #2F80ED;
    background: #2F80ED linear-gradient(180deg, rgba(47, 128, 237, 0.2) -3.45%, rgba(0, 102, 178, 0.2) 149.14%);
    box-shadow: 0 2px 6px rgba(47, 83, 151, 0.1);
  }

  &:visited{
    color: #fff;
  }

  &:active{
    color: #fff;
    text-decoration: none;
    background: #1863A4;
    background: #1863A4 linear-gradient(180deg, rgba(47, 128, 237, 0.5) -3.45%, rgba(0, 102, 178, 0.5) 149.14%);
    box-shadow: inset 0 1px 4px rgba(53, 64, 82, 0.1), inset 0px -1px 2px rgba(218, 218, 218, 0.1);
  }

  .deal-button__gp-logo{
    background: url("../img/api/guarant-pay-logo.svg") no-repeat center;
    width: 26px;
    height: 31px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

}