{% extends 'twig/layout/authentication' %}
{#
    operationConfirmForm - form
    resend_url - string
#}
{% do headTitle('Ввод кода подтверждения операции') %}
{% block content %}
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            {{ form().openTag(operationConfirmForm)|raw }}
            <h3 class="form-signin-heading">На указанный вами номер телефона был отправлен код подтверждения.</h3>
            <div class="form-group">
                <label for="code">введите код подтверждения</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-check"></span>
                    </div>
                    {{ formElement(operationConfirmForm.get('code'))|raw }}
                </div>
                <div class="form-error">
                    {{ formElementErrors(operationConfirmForm.get('code'))|raw }}
                </div>
            </div>

            {{ formElement(operationConfirmForm.get('csrf'))|raw }}

            <div class="form-group">
                <button class="btn btn-lg btn-blue btn-block" type="submit">Подтвердить</button>
            </div>

            {{ form().closeTag()|raw }}

            <div>
                <a href="{{ resend_url }}"><span class="glyphicon glyphicon-refresh"></span> Получить код повторно</a>
            </div>
        </div>
    </div>
{% endblock content %}