{% extends 'twig/layout/application' %}
{#
1 updateBankForm - форма
1 update_result - array
#}
{% do headTitle('Обновление банковской базы') %}
{% block content %}
    {% set last_update = lastUpdate ? lastUpdate : '-----'%}
<div class="row nested-row">
    <div class="col-xl-10 col-xl-offset-2 col-lg-7 col-lg-offset-1 col-lt-6 col-lt-offset-0">
        <section id="section_bank_update" class="PageForm">
            <div class="PageForm-Container">
                <h1>Обновление банковской базы</h1>
                <br>
                <div>последнее обновление базы: {{ last_update }}</div>
                <br>
                <p>Нажмите на кнопку для загрузки последней версии банковской базы</p>
                <br>
                <br>
                <div>
                    {% if update_result|length %}
                        {% if update_result['status'] == 'ERROR' %}
                            Извините, произошла ошибка: {{ update_result['message'] }}
                        {% else %}
                            Поздравляем банковская база успешно обновлена!
                        {% endif %}
                        <br>
                        <br>
                    {% endif %}
                </div>
                {{ form().openTag(updateBankForm) |raw }}
                    {{ formElement(updateBankForm.get('csrf')) |raw }}
                    <div>{{ formElementErrors(updateBankForm.get('csrf')) |raw }}</div>
                    <div class="row nested-row ButtonsRow">
                        <div class="col-xl-6 col-sm-2 col-xs-4">
                            {{ formElement(updateBankForm.get('submit')) |raw }}
                        </div>
                    </div>
                {{ form().closeTag() |raw }}
            </div>
        </section>
    </div>
</div>
{% endblock content %}