<?php
$this->headTitle('Confirm');

$form->setAttribute('action', $this->url('code_check'));

$form->get('login')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Login',
    'required' => true,
    'autofocus' => true
    ])
    ->setLabelAttributes([
        'class' => 'sr-only'
    ]);

$form->get('code')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Code',
    'required' => true,
    'autofocus' => true
    ])
    ->setLabelAttributes([
        'class' => 'sr-only'
    ]);
?>

<?php
    echo $this->flashMessenger()
    ->setMessageOpenFormat('<div%s><p>')
    ->setMessageSeparatorString('</p><p>')
    ->setMessageCloseString('</p></div>')
    ->render('danger');
?>

<div class="row">
    <div class="col-md-offset-4 col-md-3">
        <?= $this->form()->openTag($form); ?>
        <!--form class="form-signin" method="post"-->
            <h2 class="form-signin-heading">Please, confirm the code</h2>
            <div class="form-group">
                <?= $this->formLabel($form->get('login')); ?>
                <?= $this->formElement($form->get('login')); ?>
                <?= $this->formElementErrors($form->get('login')); ?>
            </div>
            <div class="form-group">
                <?= $this->formLabel($form->get('code')); ?>
                <?= $this->formElement($form->get('code')); ?>
                <?= $this->formElementErrors($form->get('code')); ?>
            </div>

            <?= $this->formElement($form->get('csrf')) ?>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm code</button>
            </div>
        <!--/form-->
        <?= $this->form()->closeTag(); ?>
    </div>
</div>