{% import 'macro/routes.twig' as routes %}

<div class="Spoiler js-spoiler">
    <label class="Spoiler-Toggle {{ deal['files'] |length > 0 ? 'Spoiler-Toggle-active' : '' }}" for="document-attachment-spoiler">
        Сопутствующие файлы
    </label>
    <input class="Spoiler-Checkbox" type="checkbox" id="document-attachment-spoiler" {{ deal['files'] |length > 0 ? 'checked' : '' }}>
    <div class="Spoiler-Hidden" style="{{ deal['files'] |length > 0 ? 'display: block;' : '' }}">
        <div class="Spoiler-Body">
            {% if deal['files'] |length > 0 %}
                {% for file in deal['files'] %}
                    <div class="InfoField">
                        <a href="{{ routes.showDealFile(file, deal['id']) |trim }}" target="_blank">{{ file['origin_name'] }}</a>
                    </div>
                {% endfor %}
            {% endif %}

            <form class="row nested-row FormInline" method="post" id="deal-file-upload" action="/deal/file-upload"
                  enctype="multipart/form-data">
                <div class="col-xl-6 col-lg-6 col-lt-4 col-md-6 col-sm-3 col-xs-4">
                    <div class="Input-Wrapper">
                        <div class="InputFile js-download-file">
                        <span class="InputFile-Container">
                            <mark data-text-default="Выберите файл..." class="notChange">Выберите файл...</mark>
                            <input name="file" id="file" type="file">
                            <span class="InputFile-Delete js-clear-download-file"></span>
                        </span>
                        </div>
                        {{ formElement(dealFileUploadForm.get('deal_id'))|raw }}
                        {{ formElement(dealFileUploadForm.get('csrf'))|raw }}
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-lt-2 col-md-3 col-sm-1 col-xs-4">
                    <button type="submit" class="ButtonApply" value="" data-ripple-button="">
                        <span class="ripple-text">Прикрепить</span>
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
