{% import 'macro/translate.twig' as translate %}
{% import 'macro/getTemplatePath.twig' as templatePath %}
{% import 'macro/getDealTemplatePath.twig' as dealTemplatePath %}
{% import 'macro/getDealSpoilerTemplatePath.twig' as dealSpoilerTemplatePath %}
{% import 'macro/pageHelper.twig' as pageHelper %}

{% set status = deal['status']['status'] %}
{% set is_customer = deal['is_customer'] %}
{% set deal_dispute = deal['dispute'] %}
{% set deal_discount = deal_dispute['discount'] %}
{% set mandarin_acquiring = deal['mandarin_acquiring'] %}
{% set available_payment_method_types = deal['available_payment_method_types'] %}

{# Определяем кем является текущей юзер #}
{% if is_customer %}
    {% set agent_role = 'покупатель' %}
    {% set counter_agent_role = 'продавец' %}
{% else %}
    {% set agent_role = 'продавец' %}
    {% set counter_agent_role = 'покупатель' %}
{% endif %}

{# Дательный падеж #}
{% set counter_agent_role_dp = counter_agent_role == 'покупатель' ? 'покупателю' : 'продавцу' %}
{% set agent_role_dp = agent_role == 'покупатель' ? 'покупателю' : 'продавцу' %}
{# Творительным падеж #}
{% set counter_agent_role_tp = counter_agent_role == 'покупатель' ? 'покупателем' : 'продавцом' %}
{% set agent_role_tp = agent_role == 'покупатель' ? 'покупателем' : 'продавцом' %}


{% set active_discount_request = [] %}
{% set requests = sort_by_field(requests, 'created', 'asc', 'date') %}
{% set deal_history = deal['deal_history'] %}
{% set deal_history = dispute_history ? deal_history | merge(dispute_history) : deal_history %}
{% set deal_history = sort_by_field(deal_history, 'created', 'asc', 'date') %}
{#{% set last_history = last(deal_history) %}#}
{#{{ dump(deal_history) }}#}
    {#Цикл для deal_history#}
{% set deal_history_elements = [] %}
    {# Цикл для вывода спойлера с историей сделки #}
    {% for history in deal_history %}
        {% set code = history['code'] %}
        {% set data = history['data'] %}
        {% set date_of_event = pageHelper.dateFormat(history['created'], 'd.m.Y H:i')|trim %}
        {% set is_last = loop.index == deal_history|length %}
        {% set created = history['created'] %}
        {% set deal_type_ident = history['data']['deal_type_ident'] %}

        {% set partial = dealSpoilerTemplatePath.getDealSpoilerTemplatePath(code, is_last, counter_agent_role_dp, counter_agent_role, data,
            mandarin_acquiring, available_payment_method_types, deal['customer'], deal['contractor'], deal, date_of_event, deal_type_ident, created) %}

        {% set deal_history_elements = deal_history_elements|merge([partial]) %}
    {% endfor %}

    {% if deal_history_elements %}
        <div class="Spoiler js-spoiler">
            <label class="Spoiler-Toggle Spoiler-History" for="deal-history-spoiler">
                История сделки
            </label>
            <input class="Spoiler-Checkbox" type="checkbox" id="deal-history-spoiler">
            <div class="Spoiler-Hidden">
                <div class="Spoiler-Body">
                    {% for element in deal_history_elements %}
                        {{ element }}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {# Цикл для вывода последнего элемента истории сделки #}
    {% for history in deal_history %}
        {% set code = history['code'] %}
        {% set data = history['data'] %}
        {% set is_last = loop.index == deal_history|length %}
        {% set created = history['created'] %}
        {% set deal_type_ident = history['data']['deal_type_ident'] %}

        {% if is_last == true %}
            {{ dealTemplatePath.getDealTemplatePath(code, is_last, counter_agent_role_dp, counter_agent_role, data,
                mandarin_acquiring, available_payment_method_types, deal['customer'], deal['contractor'], deal, deal_type_ident, created, trackingNumberForm, datePickupForm) }}
        {% endif %}

    {% endfor %}
