{% set status = deal['status']['status'] %}
{% set is_customer = deal['is_customer'] %}
{% set deal_dispute = deal['dispute'] %}
{% set deal_discount = deal_dispute['discount'] %}

{# кнопка редактирования только для участников сделки #}
{% if status == 'negotiation' and is_operator == false %}
    {% if deal['is_current_user_confirmed'] == false %}
        {% if deal['is_need_to_fill_deal'] == false %}
            {% if deal['is_counteragent_unregistered'] == false %}
                <a class="ButtonApply DealControl-Button"
                   href="{{ url('deal-confirm-conditions', {'idDeal': deal['id']}) }}" data-ripple-button="">
                    <span class="ripple-text">Подтвердить сделку</span>
                </a>
            {% endif %}
        {% else %}
            {% if deal['is_need_to_fill_civil_law_subject'] == true %}
                <a class="ButtonApply DealControl-Button" id="dealFillDataButton"
                   href="{{ url('deal-create-civil-law-subject', {'idDeal': deal['id']}) }}" data-ripple-button="">
                    <span class="ripple-text">Указать субъект права</span>
                </a>
            {% elseif deal['is_need_to_fill_payment_method'] == true %}
                <a class="ButtonApply DealControl-Button" id="dealFillDataButton"
                   href="{{ url('deal-create-payment-method', {'idDeal': deal['id']}) }}" data-ripple-button="">
                    <span class="ripple-text">Указать метод оплаты</span>
                </a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}

{% if deal['editable'] == true and is_operator == false and deal['is_need_to_fill_deal'] == false %}
    <a class="ButtonEdit DealControl-Button"
       href="{{ url('deal/edit', {'id' : deal['id']}) }}" data-ripple-button="">
        <span class="ripple-text">Редактировать сделку</span></a>
{% endif %}
{# если пользователь Покупатель #}
{% if deal['is_customer'] == true %}
    {# если сделка оплачена (статус 'debit_matched') или в споре (статус 'dispute') #}
    {% if not deal['is_delivery_confirmed'] and status == 'debit_matched' and status != 'refund' and status != 'tribunal' %}
        {% if deal['type_ident'] == 'U' %}
            <button class="ButtonApply DealControl-Button js-popup-open" data-popup="#confirm-delivery" data-ripple-button="">
                <span class="ripple-text">Подтвердить выполнение</span>
            </button>
        {% else %}
            <button class="ButtonApply DealControl-Button js-popup-open" data-popup="#confirm-delivery" data-ripple-button="">
                <span class="ripple-text">Подтвердить доставку</span>
            </button>
        {% endif %}
    {% endif %}
    {# если сделка оплачена (статус 'debit_matched') #}
    {% if status == 'debit_matched' %}
        {% if deal['dispute'] %}
            <a class="ButtonEdit DealControl-Button"
               href="{{ url('dispute-form-open', {'idDispute': deal['dispute']['id']}) }}" data-ripple-button="">
                <span class="ripple-text">Возобновить спор</span>
            </a>
        {% else %}
            <a class="ButtonEdit DealControl-Button"
               href="{{ url('deal/dispute-create', {'dealId': deal['id']}) }}" data-ripple-button="">
                <span class="ripple-text">Открыть спор</span>
            </a>
        {% endif %}
        <div class="DealControl-Link">
            <a class="AccentLink js-popup-open" data-popup="#dispute-resolution-methods">
                <div class="icon-info-blue"></div>
                Варианты решения спора
            </a>
        </div>
    {% endif %}
{% endif %}
{# если сделка в споре (статус 'dispute') #}
{% if status == 'dispute' %}
    {% if is_operator %}
        <a class="ButtonApply DealControl-Button"
           href="{{ url('dispute-single', {'id': deal['dispute']['id']}) }}" data-ripple-button="">
            <span class="ripple-text">Перейти к спору</span>
        </a>
    {% endif %}

    {% if deal['is_customer'] and dispute['is_allow_close_dispute'] %}
        <a class="ButtonRefuse DealControl-Button"
           href="{{ url('dispute-form-close', {'idDispute': deal['dispute']['id']}) }}" data-ripple-button="">
            <span class="ripple-text">Закрыть спор</span>
        </a>
    {% endif %}
{% else %}
    {% if is_operator and deal['dispute']|length > 0 %}
        <a class="ButtonEdit DealControl-Button"
           href="{{ url('dispute-single', {'id': deal['dispute']['id']}) }}" data-ripple-button="">
            <span class="ripple-text">История спора</span>
        </a>
    {% endif %}
{% endif %}

{# если сделка удаляема (еще не согласована) и пользователь - создатель сделки #}
{% if deal['is_owner'] == true and deal['removable'] == true %}
    <a class="ButtonRefuse DealControl-Button"
       href="{{ url('deal-form-delete', {'idDeal': deal['id']}) }}" data-ripple-button="">
        <span class="ripple-text">Отменить сделку</span>
    </a>
{% endif %}
