{% import 'macro/pageHelper.twig' as pageHelper %}
{% set customer_invitation = deal['customer']['invitation'] %}
{% set contractor_invitation = deal['contractor']['invitation'] %}
<div id="deal-invitation-resend-form">
    <form id="deal-invitation-resend" name="deal-invitation-resend"
          action="{{ url('deal-invitation-resend', {'idDeal': deal['id']}) | trim }}"
          method="post"
          data-start="{{ invitation['timestamp'] }}"
          data-period="{{ invitation['request_period'] }}">
        <input type="hidden" name="csrf" value="{{ generateCsrf() | trim }}">
        <p class="Note">
            {% if customer_invitation %}
                {{ customer_invitation['date'] ? pageHelper.dateFormat(customer_invitation['date'], 'd.m.Y H:i')|trim~" отправлено приглашение" :"приглашение не отправлено" }}
            {% elseif contractor_invitation %}
                {{ contractor_invitation['date'] ? pageHelper.dateFormat(contractor_invitation['date'], 'd.m.Y H:i')|trim~" отправлено приглашение" :"приглашение не отправлено" }}
            {% endif %}
        </p>
        <button type="submit">Пригласить повторно</button>
        <!--noindex-->
        <div id="phpunit-test-invitation-resend" style="display: none;">phpunit-test-invitation-resend</div>
        <!--/noindex-->
    </form>
</div>
