{% import 'macro/translate.twig' as translate %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/timeline.twig' as timeline %}
<div href="#timeline" class="TimelineRectangle js-timeline-container" id="timeline">
    <div class="row nested-row">
        {% for key, value in deal['timeline'] %}
            {% set index = loop.index %}
            {% set current_phase = value['is_next_status'] %}
            {% set description = value['description'] %}
            {% set day = value['date']['day'] %}
            {% set time = value['date']['time'] %}
            {% set trouble = value['troubles']|replace({'Проблемная: ': '', ';': ''})|lower %}
            {% set last_element = deal['timeline']|keys|last %}

            {{ timeline.timeline(key, index, current_phase, description, day, time, trouble, last_element) }}

        {% endfor %}

        {#Если есть возврат товара или суд, то не будет блока closed, поэтому вставляем пустой блок#}
        {#{% if  deal['timeline']|length < 6 %}
            {% include 'application/deal/partial/timeline/empty.twig' %}
        {% endif %}#}
        <div class="col-xl-2 col-lg-1 col-lt-1 timeline-last-column">
            <div class="timeline-last-column__inner">
                {#<div class="timeline-last-column__cap"></div>#}
            </div>
        </div>
    </div>
</div>


