{#{% extends 'twig/layout/application' %}#}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}

{% if not deal['is_delivery_confirmed'] and status != 'refund' and status != 'tribunal' and deal['type_ident'] == 'T' %}
    {# Если статус оплачено и оператор то выводим список трек номеров, для покупателя в этом статусу они выводятся в history, также форма домавления трек-номера для продавца тоже в partial #}
    {% if is_operator and status == 'debit_matched' %}
        {% if deal['tracking_numbers'] |length > 0 %}
            <div id="track-number-list" class="track-number-list">
                <h2 class="track-number-list__title">Список трек-номеров</h2>
                {% for trackingNumber in deal['tracking_numbers'] %}
                    <div class="InfoField">
                        {#<a href="{{ routes.showDealFile(file, deal['id']) |trim }}" target="_blank">{{ file['origin_name'] }}</a>#}
                        <p class="track-info">
                            <span class="track-info_date">{{ trackingNumber['date'] }}</span>&nbsp;<span class="track-info_number">{{ trackingNumber['tracking_number'] }}</span>
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

    {% if status == 'dispute' %}
        <div class="Spoiler js-spoiler">
            {% if deal['tracking_numbers'] |length > 0 and deal['is_contractor'] == false %}
                <label class="Spoiler-Toggle Spoiler-Toggle-active" for="create-tracking-number">
                    Список трек-номеров
                </label>
            {% endif %}
            {% if deal['is_contractor'] == true and deal['tracking_numbers'] |length > 0 %}
                <label class="Spoiler-Toggle Spoiler-Toggle-active" for="create-tracking-number">
                    Список трек-номеров
                </label>
            {% elseif deal['is_contractor'] == true and deal['tracking_numbers'] |length == 0 %}
                <label class="Spoiler-Toggle" for="create-tracking-number">
                    Добавление трек-номера
                </label>
            {% endif %}
            <input class="Spoiler-Checkbox" type="checkbox" id="create-tracking-number" {{ deal['tracking_numbers'] |length > 0 ? 'checked' : '' }}>
            <div class="Spoiler-Hidden" style="{{ deal['tracking_numbers'] |length > 0 ? 'display: block;' : '' }}">
                <div class="Spoiler-Body">
                    {% if deal['tracking_numbers'] |length > 0 %}
                        <div id="track-number-list">
                            {% for trackingNumber in deal['tracking_numbers'] %}
                                <div class="InfoField">
                                    {#<a href="{{ routes.showDealFile(file, deal['id']) |trim }}" target="_blank">{{ file['origin_name'] }}</a>#}
                                    <p class="track-info">
                                        <span class="track-info_date">{{ trackingNumber['date'] }}</span>&nbsp;<span class="track-info_number">{{ trackingNumber['tracking_number'] }}</span>
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if deal['is_contractor'] == true %}
                        <form class="FormInline" method="post"
                              action="{{ routes.dealCreateTrackingNumber(deal['id']) |trim }}"
                              name="track-number"
                              id="track-number">
                            {{ formElement(trackingNumberForm.get('csrf'))|raw }}
                            <div class="Input-Wrapper">
                                                <span class="Input-Container">
                                                    {{ formElement(trackingNumberForm.get('tracking_number'))|raw }}
                                                </span>
                                <button type="submit" class="ButtonApply" data-ripple-button=""><span class="ripple-text">Добавить</span></button>
                            </div>
                            <div class="FormError">{{ formElementErrors(trackingNumberForm.get('tracking_number'))|raw }}</div>
                            <div class="FormError">{{ formElementErrors(trackingNumberForm.get('csrf'))|raw }}</div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}


