{% if is_last %}
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked" id='history-arbitrage-request-last'>Покупатель предложил вариант решения спора: согласительная комиссия.</p>
    {% else %}
        <p class="TextMarked" id='history-arbitrage-request-last'>Заказчик предложил вариант решения спора: согласительная комиссия.</p>
    {% endif %}
    <p class="TextMarked TextMarked_info">Ожидайте подтверждения запроса на согласительную комиссию.</p>
{% endif %}
