{% if is_last %}
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked" id='history-arbitrage-request-accepted-last'>Согласовано предложение покупателя: согласительная комиссия.</p>
    {% else %}
        <p class="TextMarked" id='history-arbitrage-request-accepted-last'>Согласовано предложение заказчика: согласительная комиссия.</p>
    {% endif %}
    <p class="TextMarked TextMarked_info">Команда юристов рассмотрит суть спора и предложит сторонам возможные пути решения конфликта.</p>
{% endif %}
