{% if is_last %}
    <p class="TextMarked">Вы отклонили предложенный
        {% if deal['type_ident'] == 'T' %}
            покупателем
        {% else %}
            заказчиком
        {% endif %}
        вариант решения спора: скидка {{ data['amount'] }} рублей.</p>
    <p class="TextMarked TextMarked_info" id='history-arbitrage-request-after-discount-decline-last'>Спор переходит на рассмотрение согласительной комиссии. Команда юристов рассмотрит суть спора и предложит сторонам возможные пути решения конфликта.</p>
{% endif %}

