{% if is_last %}
    <p class="TextMarked TextMarked_info" id='history-arbitrage-request-after-refund-decline-last'>Спор переходит на рассмотрение Согласительной комиссии. Специалисты Организации рассмотрят суть спора и предложат сторонам возможные пути решения конфликта.</p>
{% endif %}

