{% if is_last %}
    <p class="TextMarked" id='history-arbitrage-request-rejected-last'>Запрос
        {% if deal['type_ident'] == 'T' %}
            покупателя
        {% else %}
            заказчика
        {% endif %}
        на согласительную комиссию отклонен.</p>
    <p class="TextMarked">Согласно <a href="{{ url('dispute-consideration-rules')~'#dispute-consideration-rules_p.5' }}" class="info-link">регламента разрешения спора</a> члены согласительной комиссии отказываются участвовать в разрешении спора и останавливают разбирательство спора.</p>
    <p class="TextMarked TextMarked_info">Стороны конфликта в данном случае обладают правом обращения в суд в установленном порядке в целях разрешения спора, о чем обязуются сообщить Администрации посредством отправки письма на e-mail: <a href="mailto:mail@guarantpay.com">mail@guarantpay.com</a>.</p>
{% endif %}

