{% if is_last %}
    <p class="TextMarked TextMarked_info" id='history-arbitrage-request-after-tribunal-decline-last'>Члены согласительной комиссии свяжутся с Вами и постараются в кратчайшие сроки урегулировать спор без привлечения суда.</p>
{% endif %}
