{% if is_last %}
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked" id='history-discount-request-rejected-last'>Вы отклонили предложенный Покупателем вариант решения спора: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей.</p>
        <p class="TextMarked TextMarked_info">Рекомендуем Вам связаться с Покупателем и предварительно согласовать решение по спору.</p>
    {% else %}
        <p class="TextMarked" id='history-discount-request-rejected-last'>Вы отклонили предложенный заказчиком вариант решения спора: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей.</p>
        <p class="TextMarked TextMarked_info">Рекомендуем Вам связаться с заказчиком и предварительно согласовать решение по спору.</p>
    {% endif %}
{% endif %}
