{% if is_last %}
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked" id='history-discount-request-last'>Покупатель предложил вариант решения спора: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей.</p>
        <p class="TextMarked TextMarked_info" id="text-marked-confirm">Подтвердите предложенный Покупателем вариант решения спора или отклоните его.</p>
    {% else %}
        <p class="TextMarked" id='history-discount-request-last'>Заказчик предложил вариант решения спора: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей.</p>
        <p class="TextMarked TextMarked_info" id="text-marked-confirm">Подтвердите предложенный заказчиком вариант решения спора или отклоните его.</p>
    {% endif %}
{% endif %}
