{% if is_last %}
    <p class="TextMarked" id='history-discount-request-accepted-last'>Вы подтвердили предложенный
        {% if deal['type_ident'] == 'T' %}
            покупателем
        {% else %}
            заказчиком
        {% endif %}
        вариант решения спора: скидка <strong>{{ data['amount'] |number_format(2, '.', ' ') }}</strong> рублей. </p>
    <p class="TextMarked TextMarked_info">Происходит проверка возможности предоставлении скидки, ожидайте уведомление от оператора.</p>
{% endif %}
