{% import 'macro/pageHelper.twig' as pageHelper %}

{% if is_last %}
    <p class="TextMarked TextMarked_info" id='history-discount-last'>Вам необходимо исполнить обязательства по договору до <strong>{{ pageHelper.dateFormat(data['date_deadline'], 'd.m.Y')|trim }}</strong>.</p>
{% endif %}