{% if is_last %}
    <p class="TextMarked" id='history-dispute-canceled-last'>
        {% if deal['type_ident'] == 'T' %}
            Покупатель
        {% else %}
            Заказчик
        {% endif %}
        закрыл спор.</p>
{% endif %}

