{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}

{% if is_last %}
    <p class="TextMarked" id='dispute-open-for-contractor-last'>
        {% if deal['type_ident'] == 'T' %}
            Покупатель
        {% else %}
            Заказчик
        {% endif %}
        открыл спор, сделка приостановлена.</p>
    <p class="TextMarked">Решение по спору необходимо принять в течение {{ data['expected_days_for_close'] }} дней (<strong>до {{ pageHelper.dateFormat(data['expected_close_date'], 'd.m.Y')|trim }}</strong>), согласно <a href="{{ url('dispute-consideration-rules')~'#dispute-consideration-rules_p.5' }}" class="info-link"><strong>Регламента разрешения спора</strong>.</a></p>
    <p class="TextMarked">При любых изменениях в процессе спора Вы получите уведомление на почту.</p>
    {% if data['date_waiting_params']['d'] != 0 and data['date_waiting_params']['h'] != 0 and data['date_waiting_params']['i'] != 0 %}
        <p class="TextMarked">Если вы с
            {% if deal['type_ident'] == 'T' %}
                покупателем
            {% else %}
                заказчиком
            {% endif %}
            не согласуете вариант решения спора до <strong>{{ pageHelper.dateFormat(data['date_waiting'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ translate.dateWaiting(data['date_waiting_params'])|trim }}</strong>), то к урегулированию спора присоединится согласительная команда сервиса Guarant Pay.</p>
    {% else %}
        <p class="TextMarked">{{ pageHelper.dateFormat(data['date_waiting'], 'd.m.Y')|trim }} истек срок урегулирования спора без привлечения согласительной комиссии.</p>
        <p class="TextMarked TextMarked_info">Спор переходит на рассмотрение согласительной комиссии. Команда юристов рассмотрит суть спора и предложит сторонам возможные пути решения конфликта.</p>
    {% endif %}
    <p class="TextMarked TextMarked_info">Рекомендуем Вам связаться с
        {% if deal['type_ident'] == 'T' %}
            покупателем
        {% else %}
            заказчиком
        {% endif %}
        и предварительно согласовать возможный вариант решения спора.</p>
{% endif %}
