{% if is_last %}
    {% if deal_type_ident == 'T' %}
        <p class="TextMarked" id='history-refund-request-last'>Покупатель предложил вариант решения спора: возврат товара.</p>
    {% else %}
        <p class="TextMarked" id='history-refund-request-last'>Заказчик предложил вариант решения спора: отказ от услуги.</p>
    {% endif %}
    <p id="text-marked-confirm">Подтвердите его или отклоните.</p>
    <p class="TextMarked TextMarked_info">В случае отказа спор перейдет на рассмотрение согласительной комиссии сервиса.</p>
{% endif %}
