{% if is_last %}
    <p class="TextMarked" id='history-refund-is-made-last'>Возврат осуществлен.</p>
    <p class="TextMarked TextMarked_info">Денежные средства по сделке, за вычетом комиссии сервиса, отправлены
        {% if deal['type_ident'] == 'T' %}
            покупателю.
        {% else %}
            заказчику.
        {% endif %}
        </p>
{% endif %}
