{% if is_last %}
    {% if deal_type_ident == 'T' %}
        <p class="TextMarked" id='history-refund-request-accepted-last'>Вы подтвердили предложенный покупателем вариант решения спора: возврат товара.</p>
        <p class="TextMarked">В срок не более 3-х рабочих дней покупателю необходимо организовать доставку товара, указать наименование транспортной компании либо иной службы, которой осуществляется доставка, а также код для отслеживания актуального статуса доставки и квитанцию. При невыполнении данных условий Организация получает право перечислить средства по Сделке продавцу за вычетом суммы Комиссии.</p>
        <p class="TextMarked TextMarked_info">После получения товара Вам необходимо подтвердить доставку.</p>
    {% else %}
        <p class="TextMarked" id='history-refund-request-accepted-last'>Вы подтвердили предложенный заказчиком вариант решения спора: отказ от услуги.</p>
        <p class="TextMarked TextMarked_info">Происходит подготовка реквизитов для возврата денег за услугу, ожидайте уведомление от оператора.</p>
    {% endif %}
{% endif %}
