{% if is_last %}
    <p class="TextMarked" id='history-refund-last'>Вы подтвердили получение товара.</p>
    <p class="TextMarked TextMarked_info">В течении 3-x рабочих дней, будет произведена проверка корректности реквизитов и отправлен платеж на возврат средств
        {% if deal['type_ident'] == 'T' %}
            покупателю
        {% else %}
            заказчику
        {% endif %}
        , за вычетом комиссии сервиса.</p>
{% endif %}