{% if is_last %}
    <p class="TextMarked" id='history-tribunal-request-rejected-last'>Запрос
        {% if deal['type_ident'] == 'T' %}
            покупателя
        {% else %}
            заказчика
        {% endif %} на суд отклонен.</p>
    <p class="TextMarked TextMarked_info">Команда юристов рассмотрит суть спора и предложит сторонам возможные пути решения конфликта.</p>
{% endif %}