{% if is_last %}
    <p class="TextMarked" id='history-tribunal-request-accepted-last'>Согласовано предложение
        {% if deal['type_ident'] == 'T' %}
            покупателя
        {% else %}
            заказчика
        {% endif %}
        : суд.</p>
    <p class="TextMarked TextMarked_info" >В течение 10-дней
        {% if deal['type_ident'] == 'T' %}
            покупателю
        {% else %}
            заказчику
        {% endif %}
        необходимио подтвердить данное решение, направив Администрации (<strong>mail@guarantpay.com</strong>) копию обращения за судебной защитой.</p>
{% endif %}
