{% if is_last %}
    <p class="TextMarked" id='history-tribunal-last'>Спор по сделке <strong>передан в суд</strong></p>
    <p class="TextMarked"> Сделка, по которой инициировано судебное разбирательство, может быть закрыта на основании утвержденного судом решения, которое одна из Сторон обязана предоставить Организации:<br>
        — сканированная копия решения направляется e-mail: <strong>mail@guarantpay.com</strong> в трехдневный период после его вынесения;<br>
        — заверенная копия решения направляется в офис Организации по указанному на сайте www.guarantpay.com адресу не позднее, чем через 10 рабочих дней после его вынесения.</p>
    <p class="TextMarked">После получения вступившего в силу судебного решения, признанного обеими сторонами Спора, Организация переводит денежные средства тому Пользователю, перевод которому подтвердят оба Пользователя, которые участвуют в споре.</p>
    <p class="TextMarked">В случае если один из Пользователей, участвующих в споре, не признает судебного решения, то Организация переводит денежные средства в службу судебных приставов в соответствии с их требованием.</p>
{% endif %}
