{% if is_last %}
    <p class="TextMarked" id='history-tribunal-request-last'>В качестве решения спора
        {% if deal['type_ident'] == 'T' %}
            покупатель
        {% else %}
            заказчик
        {% endif %} указал: Суд.</p>
    <p class="TextMarked TextMarked_info">Ожидайте подтверждение запроса на суд.</p>
{% endif %}
