<?php
//print $this->form()->openTag($userForm);
//print $this->formLabel($userForm->get('avatar'));
//print $this->formElement($userForm->get('avatar'));
//print $this->formElementErrors($userForm->get('avatar'));
//print $this->formElement($userForm->get('csrf'));
//print $this->formElement($userForm->get('submit'));
//print $this->form()->closeTag();
?>
    <div class="s-profile">
        <div class="second-left-menu">
            <div class="second-left-menu__user">
                <div class="rounded-img second-left-menu__ava">
                    <?php
                        if ($this->user['avatar_id']) {
                            $avatarSrc = $this->url('profile/avatar', ['fileId' => $this->user['avatar_id']]);
                        }else {
                            $avatarSrc = "img/no-avatar.png";
                        }

                    ?>
                    <div class="rounded-img__container" style="background-image: url(<?=$avatarSrc?>)">
                    </div>
                    <label class="input-file second-left-menu__ava-button">
                        <input type="file" accept="image/*">
                        <span class="input-file__overlay touch-file-icon">
                                <img src="img/edit-icon.svg" alt="touch ava" class="responsive-img">
                            </span>
                    </label>
                </div>
                <h2 class="second-left-menu__title">
                    <?= $this->user['login'] ?>
                </h2>
                <a class="second-left-menu__email">
                    <?= $this->user['email'] ?>
                </a>
            </div>
            <div class="second-left-menu__nav js-tab-panel">
                <a class="second-left-menu__nav-link js-tab__switcher" data-tab="#ur-tab">
                    Юридические лица
                </a>
                <a class="second-left-menu__nav-link active js-tab__switcher" data-tab="#fiz-tab">
                    Физические лица
                </a>
            </div>
        </div>
        <div class="s-profile__main js-tab-container">
            <div class="s-profile__info-panel">
                <div class="s-profile__info user-data-block">
                    <h1 class="user-data-block__title">Профиль</h1>
                    <div class="profile-info-field user-data-block__field">
                        <div class="profile-info-field__container">
                            <div class="profile-info-field__title">
                                <div class="profile-info-field__icon">
                                    <img src="img/date-icon.png" alt="Дата" class="responsive-img">
                                </div>
                                Дата регистрации
                            </div>
                            <div class="profile-info-field__text"><?= $this->user['created'] ?></div>
                        </div>
                    </div>
                    <div class="profile-info-field user-data-block__field">
                        <div class="profile-info-field__container">
                            <div class="profile-info-field__title">
                                <div class="profile-info-field__icon">
                                    <img src="img/phone-icon.png" alt="Телефон" class="responsive-img">
                                </div>
                                Номер телефона
                            </div>
                            <div class="profile-info-field__text"><?= $this->user['phone'] ?></div>
                            <div class="profile-info-field__status<?php if($this->userHelper()->isUnconfirmedPhone()){echo ' js-data-changer';}?>" data-target="#js-confirm-phone">
                                <img src="img/<?=($this->userHelper()->isUnconfirmedPhone()) ?'status-no-icon.png':'status-ok-icon.png'?>" alt="+" class="responsive-img">
                            </div>
                        </div>
                        <div class="profile-info-field__edit-icon js-data-changer" data-target="#js-change-number">
                            <span>
                                <img src="img/edit-icon-2.svg" alt="Edit" class="responsive-img">
                            </span>
                        </div>
                    </div>
                    <div class="profile-info-field user-data-block__field">
                        <div class="profile-info-field__container">
                            <div class="profile-info-field__title">
                                <div class="profile-info-field__icon">
                                    <img src="img/email-icon.png" alt="Email" class="responsive-img">
                                </div>
                                Электронная почта
                            </div>
                            <div class="profile-info-field__text"><?= $this->user['email'] ?></div>
                            <div class="profile-info-field__status<?php if($this->userHelper()->isUnconfirmedEmail()){echo ' js-data-changer';}?>" data-target="#js-confirm-mail">
                                <img src="img/<?=($this->userHelper()->isUnconfirmedEmail()) ?'status-no-icon.png':'status-ok-icon.png'?>" alt="-" class="responsive-img">
                            </div>
                        </div>
                        <div class="profile-info-field__edit-icon js-data-changer" data-target="#js-change-mail">
                            <span>
                                <img src="img/edit-icon.svg" alt="Edit" class="responsive-img">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="s-profile__verification verification-block" id="js-confirm-phone">
                    <div class="verification-block__close js-verification-close"></div>
                    <h2 class="verification-block__title">Подтверждение</h2>
                    <p class="verification-block__text">Введите код с телефона.</p>

                    <form class="verification-block__form" method="post"
                          action="<?= $this->url('phone/confirm')?>">
                        <input type="text" name="code" class="verification-block__input">
                        <?= $this->formElement($this->phoneConfirmForm->get('csrf')) ?>
                        <button class="submit-input__button"></button>
                    </form>
                    <div class="verification-block__timer">2:49</div>
                </div>

                <div class="s-profile__verification verification-block" id="js-confirm-mail">
                    <div class="verification-block__close js-verification-close"></div>
                    <h2 class="verification-block__title">Подтверждение</h2>
                    <p class="verification-block__text">Введите токен.</p>
                    <form class="verification-block__form" method="post"
                          action="<?= $this->url('email/confirm')?>">
                        <div class="submit-input">
                            <input type="text" name="confirmation_token" class="verification-block__input">
                            <button class="submit-input__button"></button>
                        </div>
                    </form>
                    <div class="verification-block__timer">2:49</div>
                </div>

                <div class="s-profile__verification verification-block js-verification" id="js-change-mail">
                    <div class="verification-block__close js-verification-close"></div>
                    <h2 class="verification-block__title">Изменение эл.почти</h2>
                    <p class="verification-block__text">Введите новый адрес</p>
                    <form class="verification-block__form">
                        <input type="text" class="verification-block__input">
                        <button class="verification-block__button">Отправить</button>
                    </form>

                </div>

                <div class="s-profile__verification verification-block js-verification" id="js-change-number">
                    <div class="verification-block__close js-verification-close"></div>
                    <h2 class="verification-block__title">Изменение номера телефона</h2>
                    <p class="verification-block__text">Введите новый номер</p>
                    <form class="verification-block__form">
                        <input type="text" class="verification-block__input">
                        <button class="verification-block__button">Отправить</button>
                    </form>
                </div>
            </div>
            <div class="mobile-second-left-menu">
                <div class="mobile-second-left-menu__user">
                    <div class="rounded-img mobile-second-left-menu__ava">
                        <div class="rounded-img__container">
                            <img src="img/ava.png" alt="Avatar" class="responsive-img">
                        </div>
                        <label class="input-file mobile-second-left-menu__ava-button">
                            <input type="file" accept="image/*">
                            <span class="input-file__overlay touch-file-icon">
                                    <img src="img/edit-icon.svg" alt="touch ava" class="responsive-img">
                                </span>
                        </label>
                    </div>
                    <div class="mobile-second-left-menu__user-info">
                        <h2 class="mobile-second-left-menu__title">
                            <?= $this->user['login'] ?>
                        </h2>
                        <a class="mobile-second-left-menu__email">
                            <?= $this->user['email'] ?>
                        </a>
                    </div>
                </div>
                <div class="mobile-second-left-menu__nav js-tab-panel">
                    <a class="mobile-second-left-menu__nav-link js-tab__switcher" data-tab="#ur-tab">
                        Юридические лица
                    </a>
                    <a class="mobile-second-left-menu__nav-link js-tab__switcher active" data-tab="#fiz-tab">
                        Физические лица
                    </a>
                </div>
            </div>
            <div class="s-profile__content-wrapper tab js-tab" id="ur-tab">
                <!-- юридические лица -->
                <?php if (count($this->legalEntities)): ?>
                    <div class="s-profile__content">
                        <div class="table-site ur-faces-table">
                            <form method="get" class="table-site__row table-site__filter">
                                <div class="table-site__col">
                                    <?php if ($this->isMyProfile): ?>
                                        <a class="button-add"
                                           href="<?= $this->url('user-profile/legal-entity-form-create') ?>"
                                           title="Добавить юридическое лицо"><span>+</span></a>
                                    <?php endif; ?>
                                </div>
                                <div class="table-site__col ur-faces-table__search">
                                    <input class="filter-input" type="text" placeholder="Поиск по названию">
                                </div>
                                <div class="table-site__col">
                                    <button class="button-search" type="submit"><span>&nbsp;</span></button>
                                </div>
                                <div class="table-site__col">
                                </div>
                                <div class="table-site__col">
                                </div>
                                <div class="table-site__col">
                                </div>
                                <div class="table-site__col">
                                </div>
                            </form>
                            <div class="table-site__row table-site__head">
                                <div class="table-site__col">
                                    <a href="<?=$this->sortHelper()->getSortLink('id');?>" class="sort-link">
                                        <i class="sort-link__icon
                                        <?=($this->sortHelper()->getSort() === 'DESC') ?' sort-link__icon-down': ' sort-link__icon-up';?>
                                        <?=($this->sortHelper()->isActive('id')) ?' active':'';?>"></i>
                                        №
                                    </a>
                                </div>
                                <div class="table-site__col">
                                    <a href="<?=$this->sortHelper()->getSortLink('name');?>" class="sort-link">
                                        <i class="sort-link__icon
                                        <?=($this->sortHelper()->getSort() === 'DESC') ?' sort-link__icon-down': ' sort-link__icon-up';?>
                                        <?=($this->sortHelper()->isActive('name')) ?' active':'';?>"></i>
                                        Наименование
                                    </a>
                                </div>
                                <div class="table-site__col">
                                    <a href="<?=$this->sortHelper()->getSortLink('legalAddress');?>" class="sort-link">
                                        <i class="sort-link__icon
                                        <?=($this->sortHelper()->getSort() === 'DESC') ?' sort-link__icon-down': ' sort-link__icon-up';?>
                                        <?=($this->sortHelper()->isActive('legalAddress')) ?' active':'';?>"></i>
                                        Адресс
                                    </a>
                                </div>
                                <div class="table-site__col">
                                    <a href="<?=$this->sortHelper()->getSortLink('phone');?>" class="sort-link">
                                        <i class="sort-link__icon
                                        <?=($this->sortHelper()->getSort() === 'DESC') ?' sort-link__icon-down': ' sort-link__icon-up';?>
                                        <?=($this->sortHelper()->isActive('phone')) ?' active':'';?>"></i>
                                        Телефон
                                    </a>
                                </div>
                                <div class="table-site__col">
                                    <a href="<?=$this->sortHelper()->getSortLink('inn');?>" class="sort-link">
                                        <i class="sort-link__icon
                                        <?=($this->sortHelper()->getSort() === 'DESC') ?' sort-link__icon-down': ' sort-link__icon-up';?>
                                        <?=($this->sortHelper()->isActive('inn')) ?' active':'';?>"></i>
                                        ИНН
                                    </a>
                                </div>
                                <div class="table-site__col">
                                    <a href="<?=$this->sortHelper()->getSortLink('kpp');?>" class="sort-link">
                                        <i class="sort-link__icon
                                        <?=($this->sortHelper()->getSort() === 'DESC') ?' sort-link__icon-down': ' sort-link__icon-up';?>
                                        <?=($this->sortHelper()->isActive('kpp')) ?' active':'';?>"></i>
                                        КПП
                                    </a>
                                </div>
                                <div class="table-site__col">
                                    <a href="<?=$this->sortHelper()->getSortLink('ogrn');?>" class="sort-link">
                                        <i class="sort-link__icon
                                        <?=($this->sortHelper()->getSort() === 'DESC') ?' sort-link__icon-down': ' sort-link__icon-up';?>
                                        <?=($this->sortHelper()->isActive('ogrn')) ?' active':'';?>"></i>
                                        ОГРН
                                    </a>
                                </div>
                            </div>
                            <?php foreach ($this->legalEntities as $legal): ?>
                                <div class="table-site__row">
                                    <div class="table-site__col">
                                        <?=$legal['id'];?>
                                    </div>
                                    <div class="table-site__col" data-label="Наименование:">
                                        <a href="<?= $this->url('user-profile/legal-entity-single', ['id' => $legal['id']]) ?>">
                                            <?=$legal['name'];?>
                                        </a>
                                    </div>
                                    <div class="table-site__col" data-label="Адрес:">
                                        <span><?=$legal['legal_address'];?></span>
                                    </div>
                                    <div class="table-site__col" data-label="Телефон:">
                                        <span><?=$legal['phone'];?></span>
                                    </div>
                                    <div class="table-site__col" data-label="ИНН:">
                                        <span><?=$legal['inn'];?></span>
                                    </div>
                                    <div class="table-site__col" data-label="КПП:">
                                        <span><?=$legal['kpp'];?></span>
                                    </div>
                                    <div class="table-site__col" data-label="ОГРН:">
                                        <span><?=$legal['ogrn'];?></span>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        </div>
                    </div>
                    <div class="pagination">
                        <?php
                        /*
                        ?>
                        <?=$this->paginationControl($this->legalEntities,
                            'Sliding',
                            'application/partial/paginator',
                            ['route' => $this->route,]
                        );?>
                        <?php
                        */
                        ?>
                    </div>
                <?php else: ?>
                    <div class="row">
                        <div class="col-12">
                            <br>
                            <?php if ($this->isMyProfile): ?>
                                <a class="button-add"
                                   href="<?= $this->url('user-profile/legal-entity-form-create') ?>"
                                   title="Добавить юридическое лицо"><span>+</span></a>
                            <?php endif; ?>
                            <br><br>
                            <div class="message message--not-found">
                                <div class="message-title">Юридические лица не найдены</div>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
                <!-- end юридические лица -->
            </div>
            <div class="s-profile__content-wrapper tab active js-tab" id="fiz-tab">
                <!-- физические лица -->
                <?php if (count($this->naturalPersons)): ?>
                    <div class="s-profile__content">
                        <div class="table-site fiz-faces-table">
                            <form method="get" class="table-site__row table-site__filter">
                                <div class="table-site__col">
                                    <?php if ($this->isMyProfile): ?>
                                        <a class="button-add"
                                           href="<?= $this->url('user-profile/natural-person-form-create') ?>"
                                           title="Добавить физическое лицо"><span>+</span></a>
                                    <?php endif; ?>
                                </div>
                                <div class="table-site__col">
                                    <input class="filter-input" type="text" placeholder="Поиск по ФИО">
                                </div>
                                <div class="table-site__col">
                                    <input class="filter-input filter-date__item datepicker-here fiz-faces-table__date-input" type="text">
                                </div>
                                <div class="table-site__col">
                                    <select class="filter-select" name="role">
                                        <option selected="selected">Документ</option>
                                    </select>
                                </div>
                                <div class="table-site__col">
                                    <button class="button-search" type="submit"><span>&nbsp;</span></button>
                                </div>
                            </form>
                            <div class="table-site__row table-site__head">
                                <div class="table-site__col">
                                    <a href="<?=$this->sortHelper()->getSortLink('id');?>" class="sort-link">
                                        <i class="sort-link__icon
                                        <?=($this->sortHelper()->getSort() === 'DESC') ?' sort-link__icon-down': ' sort-link__icon-up';?>
                                        <?=($this->sortHelper()->isActive('id')) ?' active':'';?>"></i>
                                        №
                                    </a>
                                </div>
                                <div class="table-site__col">
                                    <a href="<?=$this->sortHelper()->getSortLink('lastName');?>" class="sort-link">
                                        <i class="sort-link__icon
                                        <?=($this->sortHelper()->getSort() === 'DESC') ?' sort-link__icon-down': ' sort-link__icon-up';?>
                                        <?=($this->sortHelper()->isActive('lastName')) ?' active':'';?>"></i>
                                        ФИО
                                    </a>
                                </div>
                                <div class="table-site__col">
                                    <a href="<?=$this->sortHelper()->getSortLink('birthDate');?>" class="sort-link">
                                        <i class="sort-link__icon
                                        <?=($this->sortHelper()->getSort() === 'DESC') ?' sort-link__icon-down': ' sort-link__icon-up';?>
                                        <?=($this->sortHelper()->isActive('birthDate')) ?' active':'';?>"></i>
                                        Дата
                                    </a>
                                </div>
                                <div class="table-site__col">
                                    <a href="#" class="sort-link">
                                        <i class="sort-link__icon"></i>
                                        Документ
                                    </a>
                                </div>
                                <div class="table-site__col"></div>
                            </div>
                            <?php foreach ($this->naturalPersons as $person): ?>
                                <div class="table-site__row">
                                    <div class="table-site__col">
                                        <?=$person['id'];?>
                                    </div>
                                    <div class="table-site__col" data-label="ФИО:">
                                        <a href="<?= $this->url('user-profile/natural-person-single', ['id' => $person['id']]) ?>">
                                            <?=$person['last_name'] . ' ' . $person['first_name'] . ' ' . $person['secondary_name'];?>
                                        </a>
                                    </div>
                                    <div class="table-site__col" data-label="Дата:">
                                        <span>
                                            <?=$person['birth_date']?>
                                        </span>
                                    </div>
                                    <div class="table-site__col" data-label="Документ:">
                                        <span>Паспорт</span>
                                    </div>
                                    <div class="table-site__col"></div>
                                </div>
                            <?php endforeach; ?>
                        </div>
                    </div>
                    <div class="pagination">
                        <?php
                        /*
                        ?>
                        <?=$this->paginationControl($this->naturalPersons,
                            'Sliding',
                            'application/partial/paginator',
                            ['route' => $this->route,]
                        );?>
                        <?php
                        */
                        ?>
                    </div>
                <?php else: ?>
                    <div class="row">
                        <div class="col-12">
                            <br>
                            <?php if ($this->isMyProfile): ?>
                                <a class="button-add"
                                   href="<?= $this->url('user-profile/natural-person-form-create') ?>"
                                   title="Добавить физическое лицо"><span>+</span></a>
                            <?php endif; ?>
                            <br><br>
                            <div class="message message--not-found">
                                <div class="message-title">Физические лица не найдены</div>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
                <!-- end физические лица -->
            </div>
        </div>
    </div>


    

