<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Глобальные настройки
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <div class="row">
                <div class="col-md-6">
                <?= $this->form()->openTag($form); ?>
                    <div class="form-group">
                        <?= $this->formLabel($form->get('fee_percentage')); ?>
                        <?= $this->formElement($form->get('fee_percentage')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('fee_percentage')).'</div>'; ?>
                    </div>
                    <div class="form-group">
                        <?= $this->formLabel($form->get('min_delivery_period')); ?>
                        <?= $this->formElement($form->get('min_delivery_period')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('min_delivery_period')).'</div>'; ?>
                    </div>
                    <div class="form-group">
                        <?= $this->formElement($form->get('csrf')) ?>
                        <?= $this->formElement($form->get('submit')); ?>
                    </div>
                <?= $this->form()->closeTag(); ?>
                </div>
            </div>
        </div>
    </div>
</div>