<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Настройки
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <div>
                <h4><a href="<?= $this->url('setting/global-setting'); ?>">Глобальные настройки</a></h4>
            </div>
            <div>
                <h4><a href="<?= $this->url('setting/payment-detail'); ?>">Реквизиты Guarant Pay</a></h4>
            </div>
        </div>
    </div>
</div>