<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Реквизиты Guarant Pay
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <div class="row">
                <div class="col-md-6">
                <?= $this->form()->openTag($form); ?>
                    <div class="form-group">
                        <?= $this->formLabel($form->get('name')); ?>
                        <?= $this->formElement($form->get('name')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('name')).'</div>'; ?>
                    </div>
                    <div class="form-group">
                        <?= $this->formLabel($form->get('bik')); ?>
                        <?= $this->formElement($form->get('bik')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('bik')).'</div>'; ?>
                    </div>
                    <div class="form-group">
                        <?= $this->formLabel($form->get('account_number')); ?>
                        <?= $this->formElement($form->get('account_number')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('account_number')).'</div>'; ?>
                    </div>
                    <div class="form-group">
                        <?= $this->formLabel($form->get('payment_recipient_name')); ?>
                        <?= $this->formElement($form->get('payment_recipient_name')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('payment_recipient_name')).'</div>'; ?>
                    </div>
                    <div class="form-group">
                        <?= $this->formLabel($form->get('inn')); ?>
                        <?= $this->formElement($form->get('inn')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('inn')).'</div>'; ?>
                    </div>
                    <div class="form-group">
                        <?= $this->formLabel($form->get('kpp')); ?>
                        <?= $this->formElement($form->get('kpp')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('kpp')).'</div>'; ?>
                    </div>
                    <div class="form-group">
                        <?= $this->formLabel($form->get('bank')); ?>
                        <?= $this->formElement($form->get('bank')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('bank')).'</div>'; ?>
                    </div>
                    <div class="form-group">
                        <?= $this->formLabel($form->get('corr_account_number')); ?>
                        <?= $this->formElement($form->get('corr_account_number')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('corr_account_number')).'</div>'; ?>
                    </div>
                    <div class="form-group">
                        <?= $this->formElement($form->get('csrf')) ?>
                        <?= $this->formElement($form->get('submit')); ?>
                    </div>
                <?= $this->form()->closeTag(); ?>
                </div>
            </div>
        </div>
    </div>
</div>