<div>
    <h1>Здравствуйте, <?= $this->counteragent_login ?></h1>
    <h2>
        <?= $this->notification_subject; ?>
    </h2>
    <p>
        <a href="<?= $this->deal_url ?>"><?= $this->deal->getName() ?></a>
    </p>

    <p>
        <?php foreach ($this->deal_changed_properties as $entity_changed_properties): ?>
            <?php foreach ($entity_changed_properties as $change): ?>
                <p>
                    <strong><?= $change['property_name'] ?></strong>: <?= $change['new'] ?><?php if($change['previous']): ?> (предыдущее значение <?= $change['previous'] ?>)<?php endif; ?>
                </p>
            <?php endforeach; ?>
        <?php endforeach; ?>
    </p>

    <p>
    Вы можете согласиться с условиями или предложить свои.
    </p>
    <p>
    Подробнее смотрите на <a href="<?= $this->deal_url ?>">странице сделки</a>.
    </p>
    <p>
        GuarantPay (<?= $this->main_project_url ?>) project.
    </p>
</div>