<div>
    <h1>Здравствуйте, <?= $this->user_login ?></h1>

    <p>
        Средства на оплату сделки <strong><?= $this->deal->getName() ?></strong> зачислены на счет GP.
    </p>

    <p>
        Подробнее смотрите на <a href="<?= $this->deal_url ?>">странице сделки</a>.
    </p>
    <p>
        GuarantPay (<?= $this->main_project_url ?>) project.
    </p>
</div>