<div>
    <h1>Для подтверждения адреса электронной почты, пройдите по ссылке:</h1>
    <p>
        <a href="<?= $this->email_confirmation_url ?>"><?= $this->email_confirmation_url ?></a>
    </p>
    <p>
        <div>
            или скопируйте токен <span style="font-size: 10px"><?= $this->email_confirmation_token ?></span>
        </div>
        <div>
            и вставьте в форму <a href="<?= $this->email_confirmation_page ?>">на странице подтверждения</a>.
        </div>
        <div>
            Либо воспользуйтесь QR кодом:<br />
            <img src='<?= $this->qrCodeData; ?>' />
        </div>
    </p>
    <p>
        Если Вы не регистрировались на сайте GuarantPay (<?= $this->main_project_url ?>), пожалуйста, игнорируйте это письмо.
    </p>
</div>