<div>
    <h1>Для сброса пароля воспользуйтесь ссылкой, приведённой ниже:</h1>
    <p>
        <a href="<?= $this->password_reset_url ?>"><?= $this->password_reset_url ?></a>
    </p>
    <p>
        Если Вы не пытались изменить пароль на сайте GuarantPay (<?= $this->main_project_url ?>), игнорируйте это письмо.
    </p>
</div>