<div>
    <h1>Здравствуйте, Admin</h1>

    <p>
        Система выдала CriticalException "<?= $this->message ?>":
    </p>

    <p>
        Файл: "<?= $this->file ?>":
    </p>

    <table border="1" cellspacing="0" cellpadding="1">
        <?php if( $this->xdebug_message !== null ): ?>
            <?=$this->xdebug_message?>
        <?php else: ?>
            <tr>
                <th align='left' bgcolor='#f57900'>
                    <span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span>
                    CriticalException: <?= $this->message ?> in <?= $this->file ?> on line <i><?= $this->line ?></i>
                </th>
            </tr>
            <tr>
                <th align='left' bgcolor='#e9b96e'>Call Stack</th>
            </tr>
            <tr>
                <th bgcolor='#eeeeec' align='center'>Location / Function</th>
            </tr>
            <?php foreach ($this->trace as $trace):?>
                <?php if (!empty($trace)):?>
                    <tr>
                        <td bgcolor='#eeeeec'><?=$trace?></td>
                    </tr>
                <?php endif; ?>
            <?php endforeach;?>
        <?php endif; ?>
    </table>

    <p>
        GuarantPay (<?= $this->main_project_url ?>) project.
    </p>
</div>
