<div>
    <h1>Здравствуйте</h1>
    <h2>Вас пригласили в качестве контрагента к сделке</h2>
    <p>
        Ссылка на регистрацию <a href="<?= $this->invitation_registration_url ?>"><?= $this->invitation_registration_url ?></a>.
    </p>
    <p>
        GuarantPay (<?= $this->main_project_url ?>) project.
    </p>
</div>