<div>
    <h1>Здравствуйте, <?= $this->user_login ?></h1>

    <p>
        Сделка <strong><?= $this->deal->getName() ?></strong> считается заключенной.
        Оба участника сделки одобрили условия. Ожидается получение обговоренной в сделке суммы на счет GP.
        Во вложении вы найдете счет на оплату. Также можете скачать его на <a href="<?= $this->deal_url ?>">странице сделки</a>.
    </p>
    <p>
        GuarantPay (<?= $this->main_project_url ?>) project.
    </p>
</div>