<div>
    <h1>Здравствуйте, <?= $this->user_login ?></h1>

    <p>
        Подтверждаем поступление средств по сделке <strong><?= $this->deal->getName() ?></strong> на счет GP.
        Ожидайте выполнения условий сделки контрагентом.
    </p>

    <p>
        Подробнее смотрите на <a href="<?= $this->deal_url ?>">странице сделки</a>.
    </p>
    <p>
        GuarantPay (<?= $this->main_project_url ?>) project.
    </p>
</div>