{% extends 'twig/layout/application' %}

{% do headTitle('404 - Ничего не найдено') %}

{% block content %}
    <div class="Page404" id="error-404-page">
        <div class="Page404-Wrapper">
            <div class="Page404-Img"></div>
            <div class="Page404-Content">
                <h1>Ошибка 404</h1>
                <h3>Страница не найдена</h3>
            </div>
        </div>
    </div>
{% endblock content %}
