
{% do headTitle('Произошла непоправимая ошибка') %}

{% block content %}
    {% if getApplicationEnv() == 'production' or getApplicationEnv() == 'testing' %}
        <link rel="stylesheet" type="text/css" href="{{ basePath('build/application.min.css?ver=' ~ front_version) }}"/>
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ basePath('build/application.css?ver=' ~ front_version) }}"/>
    {% endif %}
    <div class="Main" style="padding: 0">
        <div class="Content">
            <div class="MessagePage" id="error-500-page">
                <div class="MessagePage-Wrapper">
                    <div class="MessagePage-Img">
                        <img src="{{ basePath('img/MessageError.svg') }}" alt="Ошибка">
                    </div>
                    <div class="MessagePage-Content">

                        <h1 class="MessagePage-Title">
                            Произошла непоправимая ошибка
                            {% if display_exceptions %}
                                <br>
                                <span class="MessagePage-SecondTitle">{{ message|e }}</span>
                            {% endif %}
                        </h1>

                        <div class="MessagePage-Text">
                            {% if display_exceptions %}
                                <h3 class="MessagePage-SubTitle">Исключение: {{ get_class(exception) }}</h3>
                                <h4 class="TextLeft">Файл:</h4>
                                <pre class="TextLeft">{{ exception.getFile() }}:{{ exception.getLine() }}</pre>
                                {% if exception.getMessage %}
                                    <h4 class="TextLeft">Сообщение:</h4>
                                    <pre class="TextLeft">{{ exception.getMessage()|e }}</pre>
                                {% endif %}
                                <h4 class="TextLeft">Стек вызовов:</h4>
                                <pre class="TextLeft">{{ exception.getTraceAsString()|e }}</pre>
                            {% endif %}
                            {% if not display_exceptions %}
                                <p>Обратитесь к администратору сайта за дополнительной информацией.</p>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-xl-offset-3 col-sm-4 col-sm-offset-0">
                                <div class="form-error-report">
                                    {% include 'partial/error-report-form.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
