<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Свидетельства о постановке на учет юридических лиц
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <!--  content  -->
            <?php if(count($this->taxInspections)):?>
                <table class="table table-striped block_s-profile-table">
                    <thead>
                    <tr>
                        <th <?=($this->sortHelper()->isActive('id')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('id', []);?>">
                                №
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('serialNumber')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('serialNumber', []);?>">
                                Серия и номер
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('dateIssued')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('dateIssued', []);?>">
                                Дата выдачи
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('issueOrganisation')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('issueOrganisation', []);?>">
                                Кем выдан
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('issueRegistrar')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('issueRegistrar', []);?>">
                                Кем зарегистрирован
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <?php if (! $this->isOperator):?>
                            <th>Удалить</th>
                        <?php endif; ?>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->taxInspections as $taxInspection): ?>
                        <tr>
                            <?php
                            if (! $this->isOperator):
                                $route = 'user-profile/legal-entity-tax-inspection-single';
                            else:
                                $route = 'legal-entity-tax-inspection-single';
                            endif;
                            ?>
                            <td class="text-center"><?=$taxInspection->getId()?></td>
                            <td>
                                <a href="<?= $this->url($route, [
                                    'id' => $taxInspection->getId()
                                ]) ?>" class="block_s-profile-table-link">
                                    <?=$taxInspection->getSerialNumber();?></a>
                            </td>
                            <td>
                                <a href="<?= $this->url($route, [
                                    'id' => $taxInspection->getId()
                                ]) ?>" class="block_s-profile-table-link">
                                    <?=$taxInspection->getDateIssued()->format('Y-m-d');?></a>
                            </td>
                            <td>
                                <a href="<?= $this->url($route, [
                                    'id' => $taxInspection->getId()
                                ]) ?>" class="block_s-profile-table-link">
                                    <?=$taxInspection->getIssueOrganisation();?></a>
                            </td>
                            <td>
                                <a href="<?= $this->url($route, [
                                    'id' => $taxInspection->getId()
                                ]) ?>" class="block_s-profile-table-link">
                                    <?=$taxInspection->getIssueRegistrar();?></a>
                            </td>
                        <?php if (! $this->isOperator):?>
                            <td class="text-center">
                                <a href="<?= $this->url('user-profile/legal-entity-tax-inspection-form-delete', [
                                    'idTaxInspection' => $taxInspection->getId()
                                ]) ?>" class="form-group">
                                    <i class="glyphicon glyphicon-remove-sign btn-profile-remove"></i>
                                </a>
                            </td>
                        <?php endif; ?>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
                <?= $this->paginationControl($this->taxInspections,
                    'Sliding',
                    'application/partial/paginator',
                    [
                        'route' => $this->route,
                    ]
                );
                ?>
            <?php else: ?>
                <br>
                <br>
                <h4>Свидетельства о постановке на учет отсутствуют</h4>
                <br>
                <br>
            <?php endif; ?>
            <!-- /content  -->
        </div>
    </div>
</div>
