<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
               Удаление свидетельства о постановке на учет
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <!--  content  -->
            <div class="text-center">
                <p>
                    Вы уверены, что хотите удалить свидетельство о постановке на учет?<br>
                    <strong>
                        Серия и номер:<br>
                        <?=$this->taxInspection->getSerialNumber();?><br>
                        Дата выдачи:<br>
                        <?=$this->taxInspection->getDateIssued()->format('Y-m-d');?><br>
                        Кем выдан:<br>
                        <?=$this->taxInspection->getIssueOrganisation();?><br>
                        Кем зарегистрирован:<br>
                        <?=$this->taxInspection->getIssueRegistrar();?><br>
                        Дата регистрации:<br>
                        <?=$this->taxInspection->getDateRegistered()->format('Y-m-d');?><br>
                        <?php if (count($this->taxInspection->getFiles()) > 0): ?>
                            Файлы:<br>
                            <?php foreach ($this->taxInspection->getFiles() as $file): ?>
                                <a href="<?= $this->url('profile/file', [
                                    'civilId' => $this->taxInspection->getLegalEntityDocument()->getLegalEntity()->getCivilLawSubject()->getId(),
                                    'fileId' => $file->getId(),
                                ]) ?>">
                                    <?= $file->getName() ?>
                                </a>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </strong>
                </p>
            </div>
            <div class="text-center">
                <form method="POST" action="<?= $this->url('user-profile/legal-entity-tax-inspection-single', [
                    'id' => $this->taxInspection->getId()
                ]) ?>" class="form-group" role="form">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-link btn-sm">Да, удалить</button>
                </form>
            </div>
            <!-- /content  -->
        </div>
    </div>
</div>