<?php
$form->prepare();
?>
<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">
            <!--  content  -->
            <h1>Редактирование свидетельства о постановке на учет</h1>

            <div class="row">
                <div class="col-md-6">
                    <?= $this->form()->openTag($form); ?>
                    <?= $this->formCollection($form);?>
                    <?= $this->form()->closeTag(); ?>
                </div>
            </div>
            <!-- /content  -->
        </div>
    </div>
</div>