<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Свидетельство о постановке на учет юридических лиц
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <!--  content  -->
            <?php if($this->taxInspection):?>
                <h4 class="form-inline">
                    Свидетельство о постановке на учет в налоговой инспекции
                    <?php if (! $this->isOperator):?>
                        <a href="<?= $this->url('user-profile/legal-entity-tax-inspection-form-edit', [
                            'idTaxInspection' => $this->taxInspection->getId()
                        ]) ?>" class="form-group">
                            изменить
                        </a>
                        <a href="<?= $this->url('user-profile/legal-entity-tax-inspection-form-delete', [
                            'idTaxInspection' => $this->taxInspection->getId()
                        ]) ?>" class="form-group">
                            удалить
                        </a>
                    <?php endif; ?>
                </h4>
                <table>
                    <tr>
                        <td>Серия и номер:</td>
                        <td><?=$this->taxInspection->getSerialNumber();?></td>
                    </tr>
                    <tr>
                        <td>Дата выдачи:</td>
                        <td><?=$this->taxInspection->getDateIssued()->format('Y-m-d');?></td>
                    </tr>
                    <tr>
                        <td>Кем выдан:</td>
                        <td><?=$this->taxInspection->getIssueOrganisation();?></td>
                    </tr>
                    <tr>
                        <td>Кем зарегистрирован:</td>
                        <td><?=$this->taxInspection->getIssueRegistrar();?></td>
                    </tr>
                    <tr>
                        <td>Дата регистрации:</td>
                        <td><?=$this->taxInspection->getDateRegistered()->format('Y-m-d');?></td>
                    </tr>
                    <tr>
                        <td>Файлы:</td>
                        <td>
                            <?php if (count($this->taxInspection->getFiles()) > 0): ?>
                                <?php foreach ($this->taxInspection->getFiles() as $file): ?>
                                    <a href="<?= $this->url('profile/file', [
                                        'civilId' => $this->taxInspection->getLegalEntityDocument()->getLegalEntity()->getCivilLawSubject()->getId(),
                                        'fileId' => $file->getId(),
                                    ]) ?>">
                                        <?= $file->getName() ?>
                                    </a>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </td>
                    </tr>
                </table>
            <?php endif; ?>
            <!-- /content  -->
        </div>
    </div>
</div>
