.dpd-postamats {
  width: 100%;

  @import (multiple) "./map-selection";

}
.dpd-delivery-type {
  position: relative;
  margin-bottom: @grid-vertical-gutter * 3;

  @import (multiple) '../molecules/delivery-type-radio';

  &.Preloader {
    &:after {
      left: 0 !important;
    }
    &:before {
      display: block !important;
    }
  }
  .delivery-method,
  .dpd-postamats{
    &.Preloader {
      &:after {
        left: 0 !important;
      }
      &:before {
        display: block !important;
      }
    }
  }

  .Input-Wrapper{
    margin-bottom: @grid-vertical-gutter * 2;
  }

  .Note{
    margin-top: 0;
  }

  .form-info-message{
    margin-bottom: @grid-vertical-gutter;
  }

  .i-know-receiver-address{
    margin-bottom: 0;
  }

}