&.dpd-delivery-order-form {
  .row [class*="col-"] {
    padding-left: 0;
    .Input-Wrapper {
      margin-bottom: 24px;
    }
  }
  .row .cls-type {
    padding-left: 16px;
  }
  .Note {
    font-size: 12px !important;
  }
}