.form-error-report{
  background-color: #fff;
  box-shadow: 0 0 16px rgba(144, 164, 183, 0.22);
  border-radius: 4px;
  padding: 30px;
  text-align: left;
  margin-top: 60px;

  @offer-note-color: #20B8EF;
  @valid-success-color: #1ABC9C;
  @error-hint-color: #FF4C4C;
  @active-color: #2F80ED;
  @secondary-links-color: #C5C5C5;
  @import (multiple) "../../auth/molecules/form-field";
  @import (multiple) "../../landing/atoms/button-action";

  .MessagePage-Title{
    text-align: center;
    font-size: 30px;
  }
  .form-field{
    .form-alert{
      margin-top: 10px;
    }
  }

  .form-title{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    text-align: center;
  }

}