@card-block-width: 610px;
@td-sides-padding: 16px;
@card-width: 432px;
@card-height: 276px;
@medium-line-height: 24px;
@small-font-size: 14px;

.controller-pay-mandarin {
  margin-bottom: @grid-vertical-gutter * 3;
  .pay-buttons {
    align-items: center;
    margin-bottom: @grid-vertical-gutter * 2;
    @media (max-width: @grid-breakpoint-md) {
      flex-direction: column-reverse;
      margin-bottom: @grid-vertical-gutter * 2;
    }
    .deal-pay-download-bill {
      @media (max-width: @grid-breakpoint-md) {
        margin-bottom: @grid-vertical-gutter;
      }
    }
  }
  .form-pay-mandarin {
    padding-top: @grid-vertical-gutter * 2;
    > div,
    > h3 {
      margin-bottom: @grid-vertical-gutter * 2;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .TitleBlue {
      font-size: 18px;
    }
    .ButtonRefuse {
      @media (max-width: @grid-breakpoint-lt) {
        max-width: none;
      }
    }
  }


  .title-block {
    display: flex;
    justify-content: space-between;
    @media (max-width: @grid-breakpoint-md) {
      //width: auto;
    }

    .title {
      line-height: @medium-line-height;
      width: 448px;
      margin-right: 32px;
      @media (max-width: @grid-breakpoint-md) {
        width: auto;
      }
      p {
        font-size: @small-font-size;
      }
    }
    .icon-ssl-logo {
      width: 128px;
      height: 60px;
      background: transparent url("../../../img/acquiring-mandarin/SSL.svg") no-repeat scroll;
      @media (max-width: @grid-breakpoint-lt) {
        display: none;
      }

      &.ssl-logo {
        @media (max-width: @grid-breakpoint-lt) {
          //position: relative;
          //right: 37px;
        }
      }
    }
  }

  .card-container {
    height: 300px;
    margin-bottom: @grid-vertical-gutter * 2;
    .card {
      position: relative;
      width: @card-width;
      height: @card-height;
      padding-top: 10px;
      border: @credit-card-border-color solid 1px;
      border-radius: 20px;
      line-height: @medium-line-height;
      font-size: @small-font-size;
      @media (max-width: @grid-breakpoint-lt) {
        border: none;
        width: auto;
      }
      &.card-front-side {
        background-color: @credit-card-bg-color;
        bottom: @card-height;
        z-index: 1;
        @media (max-width: @grid-breakpoint-lt) {
          bottom: 205px;
          border: none;
          background: none;
        }
      }

      &.card-back-side {
        z-index: 0;
        top: 24px;
        left: 177px;
        @media (max-width: @grid-breakpoint-lt) {
          left: 140px;
        }
        @media (max-width: @grid-breakpoint-lt) {
          z-index: 2;
          left: @td-sides-padding;
          margin-left: 50%;
          pointer-events: none;
        }

        .magnet-stripe {
          width: 100%;
          height: 37px;
          margin-top: 24px;
          background-color: @credit-card-bg-color;
          @media (max-width: @grid-breakpoint-lt) {
            display: none;
          }
        }

        .back-card-line {
          float: right;
          margin-right: 28px;
          @media (max-width: @grid-breakpoint-lt) {
            margin-right: 8px;
          }
          @media (max-width: @grid-breakpoint-lt) {
            float: none;
            margin-top: 122px;
            margin-right: 0;
            pointer-events: auto;
          }
        }

      }
    }
  }

  .hosted-field {
    background: @white;
    height: 36px;
    padding-left: 5px;
    border: @placeholder-color solid 1px;
    border-radius: 4px;
    margin-left: 32px;
    line-height: 20px;
    font-size: 10px;
    @media (max-width: @grid-breakpoint-lt) {
      margin-left: 0;
    }
  }

  .mandarinpay-field-card-number {
    display: inline-block;
    width: 224px;
    @media (max-width: @grid-breakpoint-lt) {
      width: 100%;
    }
  }

  .mandarinpay-field-card-holder {
    display: inline-block;
    width: 368px;
    @media (max-width: @grid-breakpoint-lt) {
      width: 100%;
    }
  }

  .mandarinpay-field-card-expiration {
    width: 112px;
    @media (max-width: @grid-breakpoint-lt) {
      width: 50%;
    }
  }

  .mandarinpay-field-card-cvv {
    width: 96px;
    margin-left: 0;
    background-color: @white;
    @media (max-width: @grid-breakpoint-lt) {
      width: calc(~'100% - 16px');
    }
  }

  .hosted-field .glyphicon {
    visibility: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    color: green;
    float: right;
  }

  .field-label {
    display: block;
    margin-left: 32px;
    margin-bottom: 4px;
    @media (max-width: @grid-breakpoint-lt) {
      margin-left: 0;
    }
  }

  .expiration-date-label {
    @media (max-width: @grid-breakpoint-lt) {
      display: none;
    }
  }

  .expiration-date-label-adaptive {
    display: none;
    @media (max-width: @grid-breakpoint-lt) {
      display: inline-block;
    }
  }

  .payment-systems-logo {
    @import (multiple) "../atoms/icon-payment-mir";
    @import (multiple) "../atoms/icon-payment-mastercard";
    @import (multiple) "../atoms/icon-payment-visa";
    .icon-payment-mir {
      width: 63px;
      height: 18px;
    }
    .icon-payment-mastercard {
      width: 44px;
      height: 35px;
    }
    .icon-payment-visa {
      width: 64px;
      height: 21px;
    }
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 33px;
    right: 37px;
    width: 74px;
    height: 133px;
    @media (max-width: @grid-breakpoint-lt) {
      flex-direction: row;
      width: 100%;
      height: 50px;
      top: auto;
      right: auto;
      bottom: @card-height;
    }
  }

  .card-line {
    padding-bottom: 23px;
    @media (max-width: @grid-breakpoint-lt) {
      padding-bottom: 11px;
    }
  }

  .cvv-tip {
    display: block;
    color: @text-light-grey-color;
    line-height: 12px;
    font-size: 12px;
    width: 120px;
    margin-top: 12px;
    @media (max-width: @grid-breakpoint-lt) {
      display: none;
    }
  }

  .cvv-label {
    margin-left: 0;
  }

  .mandarinpay-field-state-focused {
    background: @white;
    border: 1px solid yellowgreen;
  }

  .mandarinpay-field-state-valid {
    background: #fff;
    border: 1px solid @green-color;
  }

  .mandarinpay-field-state-error {
    background: #fff;
    border: 1px solid @red-color;
  }

  .mandarinpay-field-state-valid  .glyphicon{
    visibility: visible;
  }


  .mandarin-form-payment-info {

    @media (max-width: @grid-breakpoint-md){
       flex-direction: column-reverse;
    }

    .payment-submit {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > table + button {
        margin-top: @grid-vertical-gutter;
      }
      .payment-statistics td {
        padding: 9px @td-sides-padding;
        line-height: 18px;
        font-size: @small-font-size;
        font-weight: 500;
      }

      td.money {
        text-align: right;
        padding-right: @td-sides-padding;
        font-weight: 200;
      }

      tr.sum {
        background-color: @table-hover-background;
      }

      tr.sum > td {
        vertical-align: middle;
      }
    }
    .payment-cancel {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      line-height: @medium-line-height;
      font-size: 12px;
      > p + button {
        margin-top: @grid-vertical-gutter;
      }

      @media (max-width: @grid-breakpoint-md){
        margin-top: @grid-vertical-gutter * 2;
      }

    }
  }
}






