.map-selection {
  display: flex;
  overflow: hidden;
  height: 538px;
  width: 100%;
  max-width: 100%;

  @import (multiple) '../molecules/pick-point';

  ::-webkit-scrollbar {
    width: 22px;
    height: 18px;
  }
  ::-webkit-scrollbar-thumb {
    border: 8px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 12px;
    background-color: @accent-color;
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  }
  ::-webkit-scrollbar-track {
    border: 8px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 12px;
    background-color: rgba(228, 228, 228, 1);
  }

  .map-control {
    flex: 1 0 0;
    width: 66%;
    display: flex;
    flex-direction: column;

    @media (max-width: @grid-breakpoint-sm) {
      width: 100%;
    }

    .Input-Wrapper{
      margin-bottom: 0;
      label {
        display: none;
      }

      input{
        border: none;
        padding: 11px 16px;
      }

      .SearchHints{
        top: 38px;
        left: -1px;
        right: -1px;
        width: auto
      }

    }

    .map-control__map{
      width: 100%;
      height: 100%;
    }

  }
  .yandex-map {
    width: 100%;
    height: 100%;
  }
  .point-search {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    width: 34%;

    @media (max-width: @grid-breakpoint-sm) {
      width: 100%;
      height: 100%;
      position: absolute;
      right: 0;
      display: none;

      &.pick-point-is-open{
        display: block;
      }

    }

    .point-search__head {

      @media (max-width: @grid-breakpoint-sm) {
        display: none;
      }

      h2 {
        padding: 11px;
        font-size: 14px;
        font-weight: 500;
        background-color: #E0E0E0;
      }
    }
    .point-search__body {
      max-height: 100%;
      overflow-y: auto;
      position: relative;
      width: 100%;

      @media (max-width: @grid-breakpoint-sm) {
        display: none;
      }

    }
    .search__item {
      padding: 11px;
      border-bottom: 1px solid #C5D0DE;
      cursor: pointer;
      h3 {
        font-size: 14px;
        font-weight: 500;
      }
      h4 {
        font-size: 12px;
        font-weight: 400;
      }
      button {
        padding: 0;
        margin-top: 10px;
        background-color: transparent;
        color: @accent-color;
      }
      &.current {
        cursor: default;
        background-color: #F5F2F2;;
      }
    }
  }
}