{% extends 'twig/layout/application' %}
{% import 'macro/pagination.twig' as pagination %}
{#
1 discounts
2 paginator
#}

{#'id' => int 19#}
{#'created' => string '17.05.2018 12.06' (length=16)#}
{#'amount' => float 50000#}
{#'dispute_id' => int 489#}
{#'dispute_reason' => string 'Тестируем статус Спор закрыт' (length=53)#}
{#'deal_id' => int 882#}
{#'deal_name' => string 'Сделка Спор закрыт' (length=34)#}
{#'deal_number' => string '#GP882U' (length=7)#}

{% block content %}
    {% do headTitle('Скидки') %}
    <section class="PageTable" id="TableDiscounts">
        <div class="TableWithPagination">

            <table class="TableDeals TableDefault js-table-rows-are-link">
                <tr class="Head">
                    <td>
                        Id
                    </td>
                    <td>
                        Сделка
                    </td>
                    <td>
                        Сумма
                    </td>
                    <td>
                        Создана
                    </td>
                    <td>
                        Спор
                    </td>
                    <td></td>
                </tr>
                {% if discounts|length > 0 %}
                    {% for key,discount in discounts %}
                        <tr data-path="{{ url('deal_discount_single', {'id' : discount['id']}) }}">
                            <td>
                                {{ discount['id'] }}
                            </td>
                            <td>
                                <a href="{{ url('deal/show', {'id' : discount['deal_id']}) }}">{{ discount['deal_name'] }} ({{ discount['deal_number'] }})</a>
                            </td>
                            <td data-label="Сумма скидки:" class="Nowrap">
                                {{ discount['amount'] }} руб.
                            </td>
                            <td data-label="Создана:">
                                {{ discount['created_full']['date'] }}
                            </td>
                            <td data-label="Статус:">
                                {{ discount['dispute_reason'] }}
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="EmptyRow">
                        <td colspan=6>
                            Список скидок пуст.
                        </td>
                    </tr>
                {% endif %}
            </table>

            {{ pagination.paginate(paginator) }}
        </div>
    </section>
{% endblock content %}

