{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{#
1 payment_method_bank_transfer - array
2 debitPaymentOrders - array
3 bankTransferForm - form
4 discountForm - form
5 is_discount_done - bool
#}
{% do headTitle('Скидка покупателю') %}
{% block content %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm DisputeClosePage">
        <div class="DisputeMethod">
            <h3 class="TitleBlue">Скидка покупателю</h3>
            {% if is_discount_done == false %}
                <div>
                    {% if payment_method_bank_transfer | length > 0 %}
                        {{ form().openTag(discountForm)|raw }}
                        <div class="FormAdd">
                            {{ formElement(discountForm.get('csrf'))|raw }}
                            {{ formElement(discountForm.get('bank_transfer_id'))|raw }}
                            {{ formElement(discountForm.get('dispute_id'))|raw }}
                            {{ formElement(discountForm.get('type_form'))|raw }}

                            {{ formLabel(discountForm.get('amount_discount'))|raw }}
                            {{ formElement(discountForm.get('amount_discount'))|raw }}
                            <div class="FormError">
                                {{ formElementErrors(discountForm.get('amount_discount'))|raw }}
                            </div>

                            <div class="FormError">
                                {{ formElementErrors(discountForm.get('csrf'))|raw }}
                                {{ formElementErrors(discountForm.get('bank_transfer_id'))|raw }}
                                {{ formElementErrors(discountForm.get('dispute_id'))|raw }}
                                {{ formElementErrors(discountForm.get('type_form'))|raw }}
                            </div>
                        </div>

                        {% include 'application/dispute/partial/payer-info.twig'
                            with {
                                'payment_method_bank_transfer':  payment_method_bank_transfer
                            }
                        %}

                        <button class="ButtonApply" type="submit">Подготовить платежку на скидку</button>
                        {{ form().closeTag()|raw }}
                    {% else %}
                        <p class="TextImportant">Метод оплаты неопределен, деньги не могут быть возвращены на счет покупателя. Заполните реквизиты вручную.</p>
                        <h3 class="TitleBlue">Добавление банковских реквизитов</h3>
                        <form method="post" class="FormNew">
                            {% include 'application/dispute/partial/create-payment-method.twig'
                                with {
                                    'bankTransferForm': bankTransferForm
                                }
                            %}
                            {% include 'application/dispute/partial/debit-payment-orders.twig'
                                with {
                                    'debitPaymentOrders': debitPaymentOrders
                                }
                            %}
                            <button type="submit" class="ButtonApply">Сохранить реквизиты</button>
                        </form>
                    {% endif %}
                </div>
            {% else %}
                <p style="font-size: 16px; color: red">Скидка уже выполнена!!!</p>
            {% endif %}
        </div>
    </section>
{% endblock content %}