{% extends 'twig/layout/application' %}
{#
 1. discount - array (Discount output)
#}
{% do headTitle('Скидка') %}
{% block content %}
    <section class="PageForm DiscountPage" id="DiscountPage">
        <h1>Скидка</h1>
        <br><br>
        <p>
            <strong>Информация о созданной скидке:</strong><br>
            Сумма скидки: <b>{{ discount['amount'] }} руб.</b><br>
            Дата создания: {{ discount['created_full']['date'] }}<br>
        </p>
        <br><br>
        <p>
            <strong>Доп. информация:</strong><br>
            Причина спора: {{ discount['dispute_reason'] }}<br>
            Дата открытия спора: {{ discount['dispute_created'] }}<br>
            Сделка: {{ discount['deal_name']~' '~discount['deal_number'] }}<br>
            Сумма сделки: {{ discount['deal_amount_without_fee'] }}<br>
        </p>
    </section>
{% endblock content %}
