{% extends 'twig/layout/application' %}

{#
1. Массив массивов
    tokens [
        0 =>
            array
              'id' => int 37
              'name' => string 'Токен для сделок с субъектом пользователя test'
              'partner_ident' => string 'lst_arenda'
              'created' => string '03.09.2018'
              'is_active' => boolean true
              'deal_type' => string 'Услуга'
              'deal_name' => string 'Сделка с субъектом пользователя test'
              'deal_description' => null
              'amount' => null
              'delivery_period' => null
              'fee_payer_option_id' => null
              'token_key' => string 'arenda_specztechniki'
              'beneficiar_user' => null
              'beneficiar_civil_law_subject' => null
              'counteragent_user' =>
                array
                  'id' => int 48
                  'login' => string 'test' (length=4)
              'counteragent_civil_law_subject' =>
                array
                  'type' => string 'sole_proprietor' (length=15)
                  'id' => int 626
                  'name' => string 'ИП Месси Леонель Аргентинович' (length=55)
              'deals' =>
                array
                  0 =>
                    array
                      'id' => int 380
                      'number' => string '#GP380U' (length=7)
                      'name' => string 'Покупаю телефон' (length=29)
    ]

2. Объект  - пока нет
    paginator {
      'pageCount' => int 1
      'itemCountPerPage' => int 20
      'first' => int 1
      'current' => int 1
      'last' => int 1
      'pagesInRange' =>
          1 => int 1
      'firstPageInRange' => int 1
      'lastPageInRange' => int 1
      'currentItemCount' => int 2
      'totalItemCount' => int 2
      'firstItemNumber' => int 1
      'lastItemNumber' => int 2
    }

3. Булевая переменная
    is_operator - по ее значению показываем что-то оператору или скрываем
#}
{% do headTitle('Партнерские кнопки') %}
{% block content %}
    <section class="col-xl-10 col-lg-7  col-lt-6 col-xl-offset-2 col-lg-offset-1 col-lt-offset-0 PageTable PageTableCivilLawSubject" id="TablePartnerButton">
        <form method="get" class="TableWrapper" id="partner-button-filter-form">
            <table class="TableDefault TablePartnerButtons js-table-rows-are-link">

                <tr class="FilterRowButtonMobile">
                    <td class="FilterColButton">
                        {% if is_operator != true %}
                            <a class="ButtonApply FilterButton" href="{{ url('user-profile/deal-token-form-create') }}" title="Создать кнопку">Создать</a>
                        {% endif %}
                    </td>
                </tr>
                <tr class="FilterTableRow">
                    <td>
                        {% if is_operator != true %}
                            <a class="ButtonApply"
                               href="{{ url('user-profile/deal-token-form-create') }}"
                               title="Добавить кнопку">
                                Создать
                            </a>
                        {% endif %}
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="Head">
                    <td class="col col-number">
                        <a href="#">
                            №
                        </a>
                    </td>
                    <td class="col col-name">
                        <a href="#">
                            Название кнопки
                        </a>
                    </td>
                </tr>

                {% if tokens |length > 0 %}
                    {% for token in tokens %}
                        <tr data-path="{{ url('user-profile/deal-token-single', {'id' : token['id']}) }}">
                            <td class="col col-number">
                                <div class="col_mobile-title">ID</div>
                                <div class="col_mobile-content"> {{ loop.index }}</div>
                            </td>
                            <td class="col">
                                <div class="col_mobile-title">
                                    Название кнопки
                                </div>
                                <div class="col_mobile-content">
                                    <a href="{{ url('user-profile/deal-token-single', {'id' : token['id']}) }}">
                                        {{ token['name'] }}
                                    </a>
                                </div>
                            </td>
                            {#<td class="col">#}
                                {#<div class="col_mobile-title">#}
                                    {#Дата#}
                                {#</div>#}
                                {#<div class="col_mobile-content">#}
                                    {#{{ naturalPerson['birth_date'] }}#}
                                {#</div>#}
                            {#</td>#}
                            {#<td class="col">#}
                                {#<div class="col_mobile-title">#}
                                    {#Документ#}
                                {#</div>#}
                                {#<div class="col_mobile-content">#}
                                    {#{% if naturalPerson['documents'] |length > 0 %}#}
                                        {#{% set lastDocument = naturalPerson['documents'] |last %}#}
                                        {#{{ translate.documentsType(lastDocument['type_name']) }}#}
                                    {#{% else %}#}
                                        {#&#8212;#}
                                    {#{% endif %}#}
                                {#</div>#}
                            {#</td>#}
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="EmptyRow">
                        <td colspan="2">
                            Партнерские кнопки не найдены.
                        </td>
                    </tr>
                {% endif %}
            </table>
        </form>
    </section>
{% endblock content %}