{% extends 'twig/layout/application' %}

{#
1. Объект
    dealTokenForm
#}

{% block content %}
    {% do headTitle('Добавление партнерской кнопки') %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm">
        <div class="PageForm-Container page-form-deal-container" id="CreateDealToken">
            <form method="post" name="natural-person" class="FormLabelTop form-default" id="deal-token-create-form">
                {{ form().openTag(dealTokenForm)|raw }}
                {{ formElement(dealTokenForm.get('csrf'))|raw }}
                <div class="head-of-element">Создание кнопки-приглашения к сделке</div>
                <div class="header">
                    <div class="row">
                        <div class="col-xl-9 col-sm-4">
                            <div class="Logo">
                                <div class="Logo-Img">
                                    <img src="{{ basePath('/img/logo.svg') }}" alt="Логотип">
                                </div>
                                <p class="Logo-Text"></p>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="date-create">
                                <h3>Дата создания</h3>
                                <p>{{ "now"|date("d.m.Y")~'г.' }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="form-content-wrap">
                        <div class="row">
                            <div class="col-xl-12">
                                <h3 class="TitleBlue">Создание кнопки-приглашения к сделке</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-9">
                                <div class="Input-Wrapper">
                                    {{ formLabel(dealTokenForm.get('name'))|raw }}
                                    {{ formElement(dealTokenForm.get('name'))|raw }}
                                    <div class="FormError">{{ formElementErrors(dealTokenForm.get('name'))|raw }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-sm-4">
                                <div class="Input-Wrapper">
                                    {{ formLabel(dealTokenForm.get('deal_type'))|raw }}
                                    {{ formElement(dealTokenForm.get('deal_type'))|raw }}
                                    <div class="FormError">{{ formElementErrors(dealTokenForm.get('deal_type'))|raw }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-sm-4">
                                <div class="Input-Wrapper">
                                    {{ formLabel(dealTokenForm.get('is_active'))|raw }}
                                    {{ formElement(dealTokenForm.get('is_active'))|raw }}
                                    <div class="FormError">{{ formElementErrors(dealTokenForm.get('is_active'))|raw }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-sm-4">
                                <div class="Input-Wrapper">
                                    {{ formLabel(dealTokenForm.get('counteragent_civil_law_subject'))|raw }}
                                    {{ formElement(dealTokenForm.get('counteragent_civil_law_subject'))|raw }}
                                    <div class="FormError">{{ formElementErrors(dealTokenForm.get('counteragent_civil_law_subject'))|raw }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-sm-4">
                                <div class="Input-Wrapper">
                                    {{ formLabel(dealTokenForm.get('counteragent_payment_method'))|raw }}
                                    {{ formElement(dealTokenForm.get('counteragent_payment_method'))|raw }}
                                    <div class="FormError">{{ formElementErrors(dealTokenForm.get('counteragent_payment_method'))|raw }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="Input-Wrapper">
                                <div class="col-xl-12">
                                    {{ formLabel(dealTokenForm.get('deal_name'))|raw }}
                                    {{ formElement(dealTokenForm.get('deal_name'))|raw }}
                                    <div class="FormError">{{ formElementErrors(dealTokenForm.get('deal_name'))|raw }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12">
                                <div class="Input-Wrapper">
                                    {{ formLabel(dealTokenForm.get('deal_description'))|raw }}
                                    {{ formElement(dealTokenForm.get('deal_description'))|raw }}
                                    <div class="FormError">{{ formElementErrors(dealTokenForm.get('deal_description'))|raw }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-sm-4">
                                <div class="Input-Wrapper">
                                    {{ formLabel(dealTokenForm.get('amount'))|raw }}
                                    {{ formElement(dealTokenForm.get('amount'))|raw }}
                                    <div class="FormError">{{ formElementErrors(dealTokenForm.get('amount'))|raw }}</div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 col-sm-4">
                                <div class="Input-Wrapper">
                                    {#{{ formLabel(dealTokenForm.get('delivery_period'))|raw }}#}
                                    <label for="delivery_period">Срок доставки и проверки (дней):</label>
                                    {{ formElement(dealTokenForm.get('delivery_period'))|raw }}
                                    <div class="FormError">{{ formElementErrors(dealTokenForm.get('delivery_period'))|raw }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row ButtonsRow">
                            <div class="col-xl-6 col-sm-4">
                                <button type="submit" value="" class="button-grey">Сохранить</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="FormError">{{ formElementErrors(dealTokenForm.get('csrf'))|raw }}</div>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </section>
{% endblock content %}