{% extends 'twig/layout/application' %}

{#
1. Массив token
#}

{% block content %}
    {% do headTitle('Удаление партнерской кнопки') %}
    <section class="PageForm">
        <div class="PageForm-Container">
            <form method="POST" action="{{ url('user-profile/deal-token-single', {'id': token['id']}) }}"
                  class="FormView" role="form" id="deal-token-delete-form">
                <input type="hidden" name="_method" value="delete">

                <h3 class="TitleBlue">Вы уверены, что хотите удалить?</h3>
                <div class="InfoField">
                    <p class="InfoField-Label">Название:</p>
                    <p class="InfoField-Text">{{ token['name'] }}</p>
                </div>
                {#<div class="InfoField">#}
                    {#<p class="InfoField-Label">Имя:</p>#}
                    {#<p class="InfoField-Text">{{ naturalPerson['first_name'] }}</p>#}
                {#</div>#}
                {#<div class="InfoField">#}
                    {#<p class="InfoField-Label">Отчество:</p>#}
                    {#<p class="InfoField-Text">{{ naturalPerson['secondary_name'] }}</p>#}
                {#</div>#}
                {#<div class="InfoField">#}
                    {#<p class="InfoField-Label">Дата рождения:</p>#}
                    {#<p class="InfoField-Text">{{ naturalPerson['birth_date'] }}</p>#}
                {#</div>#}
                <div class="ButtonsRow">
                    <button class="ButtonDelete margin-right" type="submit" value="" data-ripple-button="">
                        <span class="ripple-text">Удалить</span>
                    </button>
                    <a href="{{ url('user-profile/deal-token-single', {'id' : token['id']}) }}" class="ButtonRefuse" data-ripple-button="">
                        <span class="ripple-text">Отменить</span>
                    </a>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}