{% extends 'twig/layout/application' %}

{#
1. Объект
    dealTokenForm

2. Массив (показаны значения из тестового объекта):
    token [
      'id' => int 39
      'name' => string 'Кнопка для сделки 2'
      'partner_ident' => null
      'created' => string '18.09.2018'
      'is_active' => boolean true
      'deal_type' => string 'Товар'
      'deal_name' => string 'Сделка по токену 2'
      'deal_description' => string 'рпррпрпр'
      'amount' => float 4500
      'delivery_period' => int 9
      'fee_payer_option_id' => null
      'token_key' => string '5ba110d627fde'
      'beneficiar_user' => null
      'beneficiar_civil_law_subject' => null
      'counteragent_user' =>
          'id' => int 48
          'login' => string 'test'
      'counteragent_civil_law_subject' =>
          'type' => string 'legal_entity'
          'id' => int 623
          'name' => string 'ООО Колумбийский сахар'
      'counteragent_payment_method' =>
          'type' =>
              'id' => int 19
              'name' => string 'bank_transfer'
              'output_name' => string 'Банковский перевод'
              'description' => string 'Банковский перевод'
              'is_active' => boolean true
          'id' => int 532
          'bank_transfer' =>
              'id' => int 532
              'name' => string 'Супер Юридический Банк'
              'bik' => string '045555213' (length=9)
              'account_number' => string '40702810090030005555'
              'corr_account_number' => string '30101810900000005555'
              'bank_name' => string 'Супер Юридический Банк'
      'deals' =>
        array (size=0)
      ]
#}

{% block content %}
    {% do headTitle('Редактирование партнерской кнопки') %}
    {#{{ dump(token) }}#}
    <section class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm">
        <div class="PageForm-Container page-form-deal-container" id="form-button-edit">
             <form method="post" name="deal-token" class="FormLabelTop form-default" id="deal-token-edit-form">
                    {{ form().openTag(dealTokenForm)|raw }}
                    {{ formElement(dealTokenForm.get('csrf'))|raw }}
                     <div class="head-of-element">Редактирование кнопки-приглашения к сделке</div>
                     <div class="header">
                         <div class="row">
                             <div class="col-xl-9 col-sm-4">
                                 <div class="Logo">
                                     <div class="Logo-Img">
                                         <img src="{{ basePath('/img/logo.svg') }}" alt="Логотип">
                                     </div>
                                     <p class="Logo-Text"></p>
                                 </div>
                             </div>
                         </div>
                     </div>
                    <div class="form-content-wrap">
                     <div class="row">
                         <div class="col-xl-12">
                             <h3 class="TitleBlue">Редактирование кнопки-приглашения к сделке</h3>
                         </div>
                     </div>

                     <div class="row">
                         <div class="col-xl-9 col-md-6 col-sm-4">
                             <div class="Input-Wrapper">
                                 {{ formLabel(dealTokenForm.get('name'))|raw }}
                                 {{ formElement(dealTokenForm.get('name'))|raw }}
                                 <div class="FormError">{{ formElementErrors(dealTokenForm.get('name'))|raw }}</div>
                             </div>
                         </div>
                     </div>

                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-sm-4">
                                <div class="Input-Wrapper">
                                    {{ formLabel(dealTokenForm.get('deal_type'))|raw }}
                                    {{ formElement(dealTokenForm.get('deal_type'))|raw }}
                                    <div class="FormError">{{ formElementErrors(dealTokenForm.get('deal_type'))|raw }}</div>
                                </div>
                            </div>
                        </div>

                     {% if is_operator %}
                         <div class="row">
                             <div class="col-xl-6 col-md-6 col-sm-4">
                                 <div class="Input-Wrapper">
                                     {{ formLabel(dealTokenForm.get('partner_ident'))|raw }}
                                     {{ formElement(dealTokenForm.get('partner_ident'))|raw }}
                                     <div class="FormError">{{ formElementErrors(dealTokenForm.get('partner_ident'))|raw }}</div>
                                 </div>
                             </div>
                         </div>
                     {% endif %}

                     <div class="row">
                         <div class="col-xl-6 col-md-6 col-sm-4">
                             <div class="Input-Wrapper">
                                 {{ formLabel(dealTokenForm.get('is_active'))|raw }}
                                 {{ formElement(dealTokenForm.get('is_active'))|raw }}
                                 <div class="FormError">{{ formElementErrors(dealTokenForm.get('is_active'))|raw }}</div>
                             </div>
                         </div>
                     </div>

                     <div class="row">
                         <div class="col-xl-6 col-md-6 col-sm-4">
                             <div class="Input-Wrapper">
                                 {{ formLabel(dealTokenForm.get('counteragent_civil_law_subject'))|raw }}
                                 {{ formElement(dealTokenForm.get('counteragent_civil_law_subject'))|raw }}
                                 <div class="FormError">{{ formElementErrors(dealTokenForm.get('counteragent_civil_law_subject'))|raw }}</div>
                             </div>
                         </div>
                         <div class="col-xl-6 col-md-6 col-sm-4">
                             <div class="Input-Wrapper">
                                 {{ formLabel(dealTokenForm.get('counteragent_payment_method'))|raw }}
                                 {{ formElement(dealTokenForm.get('counteragent_payment_method'))|raw }}
                                 <div class="FormError">{{ formElementErrors(dealTokenForm.get('counteragent_payment_method'))|raw }}</div>
                             </div>
                         </div>
                     </div>

                     <div class="row">
                         <div class="col-xl-12">
                             <div class="Input-Wrapper">
                                 {{ formLabel(dealTokenForm.get('deal_name'))|raw }}
                                 {{ formElement(dealTokenForm.get('deal_name'))|raw }}
                                 <div class="FormError">{{ formElementErrors(dealTokenForm.get('deal_name'))|raw }}</div>
                             </div>
                         </div>
                     </div>

                     <div class="row">
                         <div class="col-xl-12">
                             <div class="Input-Wrapper">
                                 {{ formLabel(dealTokenForm.get('deal_description'))|raw }}
                                 {{ formElement(dealTokenForm.get('deal_description'))|raw }}
                                 <div class="FormError">{{ formElementErrors(dealTokenForm.get('deal_description'))|raw }}</div>
                             </div>
                         </div>
                     </div>

                     <div class="row">
                         <div class="col-xl-6 col-md-6 col-sm-4">
                             <div class="Input-Wrapper">
                                 {{ formLabel(dealTokenForm.get('amount'))|raw }}
                                 {{ formElement(dealTokenForm.get('amount'))|raw }}
                                 <div class="FormError">{{ formElementErrors(dealTokenForm.get('amount'))|raw }}</div>
                             </div>
                         </div>
                         <div class="col-xl-6 col-md-6 col-sm-4">
                             <div class="Input-Wrapper">
                                 <label for="delivery_period">Срок доставки и проверки (дней):</label>
                                 {{ formElement(dealTokenForm.get('delivery_period'))|raw }}
                                 <div class="FormError">{{ formElementErrors(dealTokenForm.get('delivery_period'))|raw }}</div>
                             </div>
                         </div>

                     </div>


                     <div class="row ButtonsRow">
                         <div class="col-xl-6 col-sm-4">
                             <button type="submit" value="" class="ButtonApply">Сохранить</button>
                         </div>
                         <div class="col-xl-6 col-sm-2 col-xs-4">
                             <a href="{{ '/profile' }}" class="ButtonRefuse" data-ripple-button=""><span class="ripple-text">Отмена</span></a>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-xl-12">
                             <div class="FormError">{{ formElementErrors(dealTokenForm.get('csrf'))|raw }}</div>
                         </div>
                     </div>
                 </div>

             </form>
        </div>
    </section>
{% endblock content %}