{% extends 'twig/layout/application' %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
1. Массив (показаны значения из тестового объекта):
    token [
      'id' => int 37
      'name' => string 'Токен для сделок с субъектом пользователя test'
      'partner_ident' => string 'lst_arenda'
      'created' => string '03.09.2018'
      'is_active' => boolean true
      'deal_type' => string 'Услуга'
      'deal_name' => string 'Сделка с субъектом пользователя test'
      'deal_description' => null
      'amount' => null
      'delivery_period' => null
      'fee_payer_option_id' => null
      'token_key' => string 'arenda_specztechniki'
      'beneficiar_user' => null
      'beneficiar_civil_law_subject' => null
      'counteragent_user' =>
          'id' => int 48
          'login' => string 'test'
      'counteragent_civil_law_subject' =>
          'type' => string 'sole_proprietor'
          'id' => int 626
          'name' => string 'ИП Месси Леонель Аргентинович'
      'deals' =>
          0 =>
              'id' => int 380
              'number' => string '#GP380U'
              'name' => string 'Покупаю телефон'
    ]

2. Булевая переменная
    is_operator - по ее значению показываем что-то оператору или скрываем
#}

{% block content %}
    <div class="row nested-row">
        <div class="col-lg-7 col-lg-offset-1 col-lt-6 col-lt-offset-0 col-xl-10 col-xl-offset-2">
            <section class="CivilLawSubjectPage" id="CardPartnerButton">
                <section class="PartnerButtonPage-Header">
                    <div class="TitleWithEditIcon">
                        <h1 class="TitleBlue">Партнерская кнопка</h1>
                        <a class="IconEdit" href="{{ url('user-profile/deal-token-form-edit', {'idToken' : token['id']}) }}"></a>
                    </div>
                    <div class="CivilLawSubjectDataOverview">
                        <div class="CivilLawSubjectDataOverview-Column">
                            <div class="InfoField">
                                <div class="InfoField-Label">Название:</div>
                                <div class="InfoField-Text">{{ token['name'] }}</div>
                            </div>
                        </div>
                        <div class="CivilLawSubjectDataOverview-Column">
                            <div class="InfoField">
                                <div class="InfoField-Label">Дата создания:</div>
                                <div class="InfoField-Text">{{ token['created'] }}</div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>

{% endblock content %}