{% extends 'twig/layout/application' %}

{#
1. Массив массивов
    naturalPersons [
        0 =>
          'id' => int 3
          'first_name' => string 'Рифат'
          'secondary_name' => string 'Радиевич'
          'last_name' => string 'Ахметов'
          'birth_date' => string '2012-02-01'
          'civil_law_subject_id' => int 35
          'documents' => [
              0 => [
                  'id' => int 1
                  'type_name' => 'passport'
                  'date_issued' => '01-02-2018'
                  'files' => [
                      0 => [
                          'civilId' => '1'
                          'id' => '1'
                          'name' => 'Image.jpg'
                          'type' => 'jpg'
                      ]
                  ]
              ],
              1 => ... и т.д.
          ],
        1 => ... и т.д.
    ]

2. Объект
    paginator {
      'pageCount' => int 1
      'itemCountPerPage' => int 20
      'first' => int 1
      'current' => int 1
      'last' => int 1
      'pagesInRange' =>
          1 => int 1
      'firstPageInRange' => int 1
      'lastPageInRange' => int 1
      'currentItemCount' => int 2
      'totalItemCount' => int 2
      'firstItemNumber' => int 1
      'lastItemNumber' => int 2
    }

3. Булевая переменная
    is_operator - по ее значению показываем что-то оператору или скрываем
#}
{% do headTitle('Физические лица') %}
{% block content %}
<section class="col-xl-10 col-lg-7  col-lt-6 col-xl-offset-2 col-lg-offset-1 col-lt-offset-0 PageTable PageTableCivilLawSubject" id="TableNaturalPerson">
    <form method="get" class="TableWrapper" id="natural-person-filter-form">
        <table class="TableDefault TableNaturalPersons js-table-rows-are-link">

            <tr class="FilterRowButtonMobile">
                <td class="FilterColButton">
                    {% if is_operator != true %}
                    <a class="ButtonApply FilterButton" href="{{ url('user-profile/natural-person-form-create') }}" title="Добавить физическое лицо">Добавить</a>
                    {% endif %}
                </td>
            </tr>

            <tr class="FilterTableRow">
                <td>
                    {% if is_operator != true %}
                        <a class="ButtonApply"
                           href="{{ url('user-profile/natural-person-form-create') }}"
                           title="Добавить физическое лицо">
                            Добавить
                        </a>
                    {% endif %}
                </td>
                <td class="col__size-30">
                    <input class="InputSearch" type="text" placeholder="Поиск по ФИО">
                </td>

                <td class="col__size-15">
                    <input type="text" class="InputDate2 datepicker-here" placeholder="">
                </td>
                <td>
                </td>
            </tr>
            <tr class="Head">
                <td>
                    <a href="{{ sortHelper().getSortLink('id') }}" class="LinkSort">
                        <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('id')) ?' active':'' }}"></i>
                        №
                    </a>
                </td>
                <td class="col__size-30">
                    <a href="{{ sortHelper().getSortLink('lastName') }}" class="LinkSort">
                        <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('lastName')) ?' active':'' }}"></i>
                        ФИО
                    </a>
                </td>
                <td class="col__size-15">
                    <a href="{{ sortHelper().getSortLink('birthDate') }}" class="LinkSort">
                        <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('birthDate')) ?' active':'' }}"></i>
                        Дата
                    </a>
                </td>
                <td>Документ</td>
            </tr>
            {% if naturalPersons |length > 0 %}
                {% for naturalPerson in naturalPersons %}
                    <tr data-path="{{ url('user-profile/natural-person-single', {'id' : naturalPerson['id']}) }}">
                        <td class="col col-number">
                            {{ loop.index }}
                        </td>
                        <td class="col">
                            <div class="col_mobile-title">
                                ФИО
                            </div>
                            <div class="col_mobile-content">
                                <a href="{{ url('user-profile/natural-person-single', {'id' : naturalPerson['id']}) }}">
                                    {{ naturalPerson['last_name'] }} {{ naturalPerson['first_name'] }} {{ naturalPerson['secondary_name'] }}
                                </a>
                            </div>
                        </td>
                        <td class="col">
                            <div class="col_mobile-title">
                                Дата
                            </div>
                            <div class="col_mobile-content">
                                {{ naturalPerson['birth_date'] }}
                            </div>
                        </td>
                        <td class="col">
                            <div class="col_mobile-title">
                                Документ
                            </div>
                            <div class="col_mobile-content">
                                {% if naturalPerson['documents'] |length > 0 %}
                                    {% set lastDocument = naturalPerson['documents'] |last %}
                                    {{ translate.documentsType(lastDocument['type_name']) }}
                                {% else %}
                                    &#8212;
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="EmptyRow">
                    <td colspan="4">
                        Физические лица не найдены.
                    </td>
                </tr>
            {% endif %}
        </table>
    </form>
</section>
{% endblock content %}