{% extends 'twig/layout/application' %}

{#
1. Объект
    naturalPersonForm => {
        'first_name'
        'secondary_name'
        'last_name'
        'birth_date'
        'csrf'
        'submit'
    }
#}

{% block content %}
    {% do headTitle('Добавление физического лица') %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm" id="CreateNaturalPerson">
        <div class="PageForm-Container">
            <form method="post" name="natural-person" class="FormLabelTop form-default" id="natural-person-create-form">
                    {{ form().openTag(naturalPersonForm)|raw }}
                    {{ formElement(naturalPersonForm.get('csrf'))|raw }}
                        {#<div class="header">#}
                            {#<div class="Logo">#}
                                {#<div class="Logo-Img">#}
                                    {#<img src="{{ basePath('/img/logo.svg') }}" alt="Логотип">#}
                                {#</div>#}
                                {#<p class="Logo-Text"></p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="head-of-element">#}
                            {#Добавление физического лица#}
                        {#</div>#}
                        {#<div class="form-content-wrap">#}
                            <div class="row nested-row">
                                <div class="col-xl-12">
                                    <h3 class="TitleBlue">Добавление физического лица</h3>
                                </div>
                            </div>

                            <div class="row nested-row">
                                <div class="col-xl-6 col-sm-4">
                                    <div class="Input-Wrapper">
                                        {{ formLabel(naturalPersonForm.get('last_name'))|raw }}
                                        {{ formElement(naturalPersonForm.get('last_name'))|raw }}
                                        <div class="FormError">{{ formElementErrors(naturalPersonForm.get('last_name'))|raw }}</div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-sm-4">
                                    <div class="Input-Wrapper">
                                        {{ formLabel(naturalPersonForm.get('first_name'))|raw }}
                                        {{ formElement(naturalPersonForm.get('first_name'))|raw }}
                                        <div class="FormError">{{ formElementErrors(naturalPersonForm.get('first_name'))|raw }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row nested-row">
                                <div class="col-xl-6 col-sm-4">
                                    <div class="Input-Wrapper">
                                        {{ formLabel(naturalPersonForm.get('secondary_name'))|raw }}
                                        {{ formElement(naturalPersonForm.get('secondary_name'))|raw }}
                                        <div class="FormError">{{ formElementErrors(naturalPersonForm.get('secondary_name'))|raw }}</div>
                                    </div>
                                </div>

                                <div class="col-xl-6 col-sm-4">
                                    <div class="Input-Wrapper">
                                        <label for="birthday">Дата рождения</label>
                                        <input name="birth_date" id="birthday" class="InputDate datepicker-here"
                                               placeholder="Выберите дату рождения" value="" type="text">
                                        <div class="FormError">{{ formElementErrors(naturalPersonForm.get('birth_date'))|raw }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row nested-row ButtonsRow">
                                <div class="col-xl-6 col-sm-4">
                                    <button type="submit" value="" class="button-grey">Сохранить</button>
                                </div>
                            </div>
                            <div class="row nested-row">
                                <div class="col-xl-12">
                                    <div class="FormError">{{ formElementErrors(naturalPersonForm.get('csrf'))|raw }}</div>
                                </div>
                            </div>
                        {#</div>#}
                </form>
        </div>
    </section>
{% endblock content %}