{% extends 'twig/layout/application' %}

{#
1. Массив (показаны значения из тестового объекта):
    naturalPerson [
      'id' => int 1
      'first_name' => string 'Тест'
      'secondary_name' => string 'Тестович'
      'last_name' => string 'Тестов'
      'birth_date' => string '1980-12-31'
    ]
#}

{% block content %}
    {% do headTitle('Удаление физического лица') %}
    <section class="PageForm">
        <div class="PageForm-Container">
            <form method="POST" action="{{ url('user-profile/natural-person-single', {'id': naturalPerson['id']}) }}"
                  class="FormView" role="form" id="natural-person-delete-form">
                <input type="hidden" name="_method" value="delete">

                <h3 class="TitleBlue">Вы уверены, что хотите удалить?</h3>
                <div class="InfoField">
                    <p class="InfoField-Label">Фамилия:</p>
                    <p class="InfoField-Text">{{ naturalPerson['last_name'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">Имя:</p>
                    <p class="InfoField-Text">{{ naturalPerson['first_name'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">Отчество:</p>
                    <p class="InfoField-Text">{{ naturalPerson['secondary_name'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">Дата рождения:</p>
                    <p class="InfoField-Text">{{ naturalPerson['birth_date'] }}</p>
                </div>
                <div class="ButtonsRow">
                    <button class="ButtonDelete margin-right" type="submit" value="" data-ripple-button="">
                        <span class="ripple-text">Удалить</span>
                    </button>
                    <a href="{{ url('user-profile/natural-person-single', {'id' : naturalPerson['id']}) }}" class="ButtonRefuse" data-ripple-button="">
                        <span class="ripple-text">Отменить</span>
                    </a>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}