{% extends 'twig/layout/application' %}

{#
1. Объект
    naturalPersonForm => {
        'first_name'
        'secondary_name'
        'last_name'
        'birth_date'
        'csrf'
        'submit'
    }

2. Массив (показаны значения из тестового объекта):
    naturalPerson [
      'id' => int 1
      'first_name' => string 'Тест'
      'secondary_name' => string 'Тестович'
      'last_name' => string 'Тестов'
      'birth_date' => string '1980-12-31'
    ]
#}

{% block content %}
    {% do headTitle('Редактирование физического лица') %}
    <section class="PageForm">
        <div class="PageForm-Container">
            <div class="PageForm-Container_new-design">
                <form class="FormLabelTop" method="POST" id="natural-person-edit-form">

                    {{ formElement(naturalPersonForm.get('csrf'))|raw }}

                    <h3 class="TitleBlue">Редактирование физического лица</h3>
                    <div class="Input-Wrapper">
                        <label for="person-surname">Фамилия:</label>
                        {{ formElement(naturalPersonForm.get('last_name')) |raw }}
                        <div class="FormError">{{ formElementErrors(naturalPersonForm.get('last_name'))|raw }}</div>
                    </div>


                    <div class="Input-Wrapper">
                        <label for="person-name">Имя:</label>
                        {{ formElement(naturalPersonForm.get('first_name')) |raw }}
                        <div class="FormError">{{ formElementErrors(naturalPersonForm.get('first_name'))|raw }}</div>
                    </div>

                    <div class="Input-Wrapper">
                        <label for="person-name-two">Отчество:</label>
                        {{ formElement(naturalPersonForm.get('secondary_name')) |raw }}
                        <div class="FormError">{{ formElementErrors(naturalPersonForm.get('secondary_name'))|raw }}</div>
                    </div>

                    <div class="Input-Wrapper">
                        <label for="birthday">Дата рождения:</label>
                        {{ formElement(naturalPersonForm.get('birth_date')) |raw }}
                        <div class="FormError">{{ formElementErrors(naturalPersonForm.get('birth_date'))|raw }}</div>
                    </div>

                    <div class="FormError">{{ formElementErrors(naturalPersonForm.get('csrf'))|raw }}</div>

                    <div class="ButtonsRow">
                        {% if is_operator == false %}
                            <a href="{{ url('user-profile/natural-person-form-delete', {'idNaturalPerson' : naturalPerson['id']}) }}"
                               class="ButtonDelete margin-right" data-ripple-button=""><span class="ripple-text">Удалить</span></a>
                        {% endif %}
                        <button class="ButtonApply" value="" data-ripple-button=""><span class="ripple-text">Сохранить</span></button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}