{% extends 'twig/layout/application' %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
1. Массив (показаны значения из тестового объекта):
    naturalPerson [
      'id' => int 1
      'first_name' => string 'Тест'
      'secondary_name' => string 'Тестович'
      'last_name' => string 'Тестов'
      'birth_date' => string '1980-12-31'
    ]

2. Массив (показаны значения из тестового объекта):
    documents [
      0 => [
          'id' => int 1
          'type_name' => 'passport'
          'date_issued' => '01-02-2018'
          'files' => [
              0 => [
                  'civilId' => '1'
                  'id' => '1'
                  'name' => 'Image.jpg'
                  'type' => 'jpg'
              ]
          ]
      ],
      1 =>
    ]

3. Булевая переменная
    is_operator - по ее значению показываем что-то оператору или скрываем

4. Массив (показаны значения из тестового объекта):
    paymentMethods[
       '0 => [
              'id' => int 1
              'name' => string 'bank_transfer' (length=13)
              'output_name' => string 'Банковский перевод' (length=35)
              'description' => string 'Банковский перевод' (length=35)
              'is_active' => boolean true
              'bank_transfer' [
                  'id' => int 4
                  'name' => string 'Банковский перевод для izubarev' (length=51)
                  'bik' => string '123456789' (length=9)
                  'account_number' => string '123456789012345' (length=15)
                  'payment_recipient_name' => string 'Зубарев Игорь Анатольевич' (length=48)
                  'inn' => string '4217030520' (length=10)
                  'kpp' => string '123456789' (length=9)
                  'corr_account_number' => string '123456789012345' (length=15)
                  'bank_name' => string 'Сбербанк' (length=16)
              ]
         ],
         1 => []
     ]
#}

{% block content %}
    {#<h1>Физическое лицо {{ naturalPerson['first_name'] }} {{ naturalPerson['last_name'] }}</h1>#}
    <div class="row nested-row">
        <div class="col-lg-7 col-lg-offset-1 col-lt-6 col-lt-offset-0 col-xl-10 col-xl-offset-2">
            <section class="CivilLawSubjectPage" id="CardNaturalPerson">
                <section class="CivilLawSubjectPage-Header">
                    <div class="TitleWithEditIcon">
                        <h1 class="TitleBlue">Физическое лицо</h1>
                        <a class="IconEdit" href="{{ url('user-profile/natural-person-form-edit', {'idNaturalPerson' : naturalPerson['id']}) }}"></a>
                    </div>
                    <div class="CivilLawSubjectDataOverview">
                        <div class="CivilLawSubjectDataOverview-Column">
                            <div class="InfoField">
                                <div class="InfoField-Label">Фамилия:</div>
                                <div class="InfoField-Text">{{ naturalPerson['last_name'] }}</div>
                            </div>
                            <div class="InfoField">
                                <div class="InfoField-Label">Имя:</div>
                                <div class="InfoField-Text">{{ naturalPerson['first_name'] }}</div>
                            </div>
                        </div>
                        <div class="CivilLawSubjectDataOverview-Column">
                            <div class="InfoField">
                                <div class="InfoField-Label">Отчество:</div>
                                <div class="InfoField-Text">{{ naturalPerson['secondary_name'] }}</div>
                            </div>
                            <div class="InfoField">
                                <div class="InfoField-Label">Дата рождения:</div>
                                <div class="InfoField-Text">{{ naturalPerson['birth_date'] }}</div>
                                {#{{ dateHelper().formatToString(naturalPerson['birth_date'],'d.m.Y') }}#}
                            </div>
                        </div>
                    </div>
                </section>
                <section class="CivilLawSubjectPage-Section Document">
                    <h1 class="TitleBlue">Документы</h1>
                    <form method="get" class="TableWrapper">
                        <table class="TableDefault TableDocuments js-table-rows-are-link" data-start="1" data-length="3">
                            <tr class="FilterTableRow">
                                <td>
                                    <button type="button" class="ButtonApply js-popup-open" data-popup="#add-document-popup">
                                        Добавить
                                    </button>
                                </td>
                                <td>
                                    <input class="InputSearch" type="text" placeholder="Документ">
                                </td>

                                <td class="DoubleInputDate">
                                        <input class="InputDate2 datepicker-here" type="text">
                                        <input class="InputDate2 datepicker-here" type="text">
                                </td>
                                <td>
                                    <select class="chosen-select" name="file" id="" data-placeholder="Файл">
                                        <option value=""></option>
                                        <option value="">Паспорт</option>
                                        <option value="">Водительское удостоверение</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="ButtonSearch" type="submit"><span>&nbsp;</span></button>
                                </td>
                            </tr>
                            <tr class="Head">
                                <td>
                                    <a href="#" class="LinkSort">
                                        <i class="LinkSort-Icon"></i>
                                        №
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="LinkSort">
                                        <i class="LinkSort-Icon"></i>
                                        Тип
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="LinkSort">
                                        <i class="LinkSort-Icon"></i>
                                        Дата выдачи
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="LinkSort">
                                        <i class="LinkSort-Icon"></i>
                                        Файлы
                                    </a>
                                </td>
                                <td></td>
                            </tr>
                            {% if documents |length > 0 %}
                                {% for document in documents %}
                                    <tr data-path="{{ routes.documentSingle(document['type_name'], document['id']) }}">
                                        <td>
                                            {{ loop.index }}
                                        </td>
                                        <td data-label="Тип:">
                                            <a href="{{ routes.documentSingle(document['type_name'], document['id']) }}">
                                                {{ translate.documentsType(document['type_name']) }}
                                            </a>
                                        </td>
                                        <td data-label="Дата выдачи:">
                                            {{ document['date_issued'] }}
                                        </td>
                                        <td data-label="Файлы:">
                                            {% if document['files'] |length > 0 %}
                                                {% for file in document['files'] %}
                                                    <a href="{{ routes.showFile(file) |trim }}" target="_blank">
                                                        <i class="{{ 'Icon'~file['type'] | upper }}"></i>
                                                    </a>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr class="EmptyRow">
                                    <td colspan="5">
                                        У данного лица нет прикрепленных документов.
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                    </form>
                </section>
                <section class="CivilLawSubjectPage-Section">
                    <h1 class="TitleBlue">Метод оплаты</h1>
                    <form method="get" class="TableWrapper">
                        <table class="TableDefault TableDocuments js-table-rows-are-link" id="table-payment-methods">
                            <tr class="FilterTableRow">
                                <td>
                                    <button class="ButtonApply js-popup-open" data-popup="#payment-method-popup" type="button" data-ripple-button="">
                                        <span class="ripple-text">Добавить</span>
                                    </button>
                                </td>
                                <td>
                                    <input class="InputSearch" type="text" placeholder="Метод оплаты">
                                </td>
                                <td>
                                    <input class="InputSearch" type="text" placeholder="Тип">
                                </td>
                                <td>
                                    <select class="chosen-select" name="status" id="" data-placeholder="Статус">
                                        <option value=""></option>
                                        <option value="">активен</option>

                                    </select>
                                </td>
                                <td>
                                    <button class="ButtonSearch" type="submit"><span>&nbsp;</span></button>
                                </td>
                            </tr>
                            <tr class="Head">
                                <td>
                                    <a href="#" class="LinkSort">
                                        <i class="LinkSort-Icon"></i>
                                        №
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="LinkSort">
                                        <i class="LinkSort-Icon"></i>
                                        Метод оплаты
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="LinkSort">
                                        <i class="LinkSort-Icon"></i>
                                        Тип
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="LinkSort">
                                        <i class="LinkSort-Icon"></i>
                                        Статус
                                    </a>
                                </td>
                                <td></td>
                            </tr>
                            {% if paymentMethods |length > 0 %}
                                {% for paymentMethod in paymentMethods %}
                                    <tr data-path="">
                                        <td>
                                            {{ loop.index }}
                                        </td>
                                        <td  data-label="Метод оплаты:">
                                            {% if paymentMethod['type']['name'] == 'bank_transfer' %}
                                                {{ paymentMethod['bank_transfer']['name'] }}
                                            {% endif %}
                                        </td>
                                        <td  data-label="Тип:">
                                            {{ translate.paymentMethodType(paymentMethod['type']['name']) }}
                                        </td>
                                        <td data-label="Статус:">
                                            {{ (paymentMethod['type']['is_active']) ? 'активен' : 'неактивен' }}
                                        </td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr class="EmptyRow">
                                    <td colspan="5">
                                        У данного лица еще не добавлены методы оплаты.
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                    </form>
                </section>
                <div class="Popup-Container js-popup" id="add-document-popup">
                    <div class="Popup-Bg"></div>
                    <div class="Popup">
                        <div class="ButtonClose js-popup-close"></div>
                        <div class="Popup-Content">
                            <div class="FormPopupRouter js-route-popup">
                                <h3 class="TitleBlue">Выберите тип документа</h3>
                                <p class="InfoField js-item" data-path="{{ url('user-profile/natural-person-passport-form-create',
                                        {'idNaturalPerson': naturalPerson['id']}) }}">Паспорт</p>
                                <p class="InfoField js-item" data-path="{{ url('user-profile/natural-person-driver-license-form-create',
                                {'idNaturalPerson': naturalPerson['id']}) }}">Водительское удостоверение</p>
                                <div class="ButtonsRow">
                                    <button class="ButtonRefuse margin-right js-reset" type="button" data-ripple-button="">
                                        <span class="ripple-text">Отменить</span>
                                    </button>
                                    <button class="ButtonAccept js-confirm" type="button" data-ripple-button="">
                                        <span class="ripple-text">Подтвердить</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Popup-Container js-popup" id="payment-method-popup">
                    <div class="Popup-Bg"></div>
                    <div class="Popup">
                        <div class="ButtonClose js-popup-close"></div>
                        <div class="Popup-Content">
                            <div class="FormPopupRouter js-route-popup">
                                <h3 class="TitleBlue">Выберите метод оплаты</h3>
                                <p class="InfoField js-item" data-path="{{ url('user-profile/payment-method-form-create',
                                {'civil_law_subject_id': naturalPerson['civil_law_subject_id'], 'payment_method_type': 'bank_transfer'}) }}">Банковский перевод</p>
                                <p class="InfoField js-item disabled">Наличные</p>
                                <p class="InfoField js-item disabled">Банковская карта</p>
                                <p class="InfoField js-item disabled">Электронный кошелек</p>
                                <div class="ButtonsRow">
                                    <button class="ButtonRefuse margin-right js-reset" type="button" data-ripple-button="">
                                        <span class="ripple-text">Отменить</span>
                                    </button>
                                    <button class="ButtonAccept js-confirm" type="button" data-ripple-button="">
                                        <span class="ripple-text">Подтвердить</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock content %}