.form-field{
  margin-bottom: 17px;

  &.form-field_checkbox-field{
    //margin-bottom: 20px;
  }

  @import (multiple) '../atoms/form-label';
  @import (multiple) '../atoms/form-input';
  @import (multiple) '../atoms/form-checkbox';
  @import (multiple) '../atoms/forgot-password-link';
  @import (multiple) '../atoms/another-form-link';
  @import (multiple) '../../landing/atoms/button-action';
  @import (multiple) '../atoms/form-hint';
  @import (multiple) '../atoms/form-alert';

  .right-link-wrapper{
    text-align: right;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .center-link-wrapper{
    text-align: center;
  }

}