section.CivilLawSubjectPage {
  height: 100%;
  padding: @indent 0;

  @import (multiple) "../atoms/TitleBlue";
  @import (multiple) "../components/TitleWithEditIcon";

  .TitleWithEditIcon {
    .IconEdit {
      @media (max-width: @grid-breakpoint-md) {
        right: 0;
      }
    }
  }

  @import (multiple) "../components/CivilLawSubjectDataOverview";
  .CivilLawSubjectPage-Header {
    padding-right: 16px;
    @media (max-width: @grid-breakpoint-lt) {
      padding: 0 16px;
    }
    @media (max-width: @grid-breakpoint-md) {
      padding: 0 12px;
    }
    @media (max-width: @grid-breakpoint-sm) {
      padding: 0 8px;
    }

  }
  .CivilLawSubjectPage-Section {
    padding: @indent 0;
    height: auto;

    .TitleBlue {

      margin-bottom: 48px;
      @media (max-width: @grid-breakpoint-lt) {
       padding: 0 16px;
      }
      @media (max-width: @grid-breakpoint-md) {
        margin-bottom: 30px;
        padding: 0 12px;
      }
      @media (max-width: @grid-breakpoint-sm) {
        margin-bottom: 16px;
        padding: 0 8px;
      }
    }

    .TableWrapper {
      table.TableDefault {
        & > tbody > tr.FilterTableRow {
          td {
            text-align: left;
          }
        }
      }
    }

    .TableWrapper {
      margin-left: -1.35%;
      overflow: visible;
      @media (max-width: @grid-breakpoint-lg) {
        margin-left: -1.65%;
      }
      @media (max-width: @grid-breakpoint-md) {
        margin-left: 0;
      }
      table.TableDefault {
        tr.FilterRowButtonMobile {
          @media (max-width: @grid-breakpoint-md) {
           padding: 0 38px;
          }
          @media (max-width: @grid-breakpoint-sm) {
            padding: 0 16px;
          }
        }
      }

    }


    @import (multiple) "../components/TableDocuments";
    @import (multiple) "../components/TablePaymentMethods";
  }
  .CivilLawSubjectPage-Section.Document {
    display: none;
  }
  @import (multiple) "../components/Popup";
  .Popup-Container {
    .TitleBlue {
      padding-left: 0;
    }
  }
  @import (multiple) "../components/FormPopupRouter";
  @import (multiple) "../components/FormPopup";
}
section#CardNaturalPerson {
  visibility: hidden;
}
section#CardLegalEntity {
  visibility: hidden;
}
section#CardSoleProprietor {
  visibility: hidden;
}