.ContactsPage {
  //padding: @indent @indent @indentBig;
  padding-top: @grid-vertical-gutter*2;
  padding-bottom: @grid-vertical-gutter*2;
  @import (multiple) "../atoms/TitleBlue";

  p {
    margin-bottom: @indent;
    margin-top: @indent;
  }
  .ContactsPage-Group {
    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .ContactSection-Group{
    .ContactMap{
      display: flex;
      flex-direction: row;
      justify-content: center;
      @media (max-width: @grid-breakpoint-md) {
        flex-direction: column;
      }
      .ContactMap-Box{
        width: 50%;
        //margin: 0 1% 0 1%;
        @media (max-width: @grid-breakpoint-md) {
          width: 100%;
          margin-bottom: 20px;
        }
        &:nth-child(1){
          //margin-left: 0;
          padding-right: 16px;
          @media (max-width: @grid-breakpoint-md) {
            padding-right: 0;
          }
        }
        h2{
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }


}