section.DealShowPage {
  height: 100%;
  font-size: 14px;
  line-height: 1.285;
  padding: 0 0 @grid-vertical-gutter * 3 0;

  @media (max-width: @grid-breakpoint-xs) {
    padding: 0 0 @grid-vertical-gutter * 2 0;
  }

  @import (multiple) "../components/Popup";
  @import (multiple) "../atoms/AccentLink";
  @import (multiple) "../atoms/TitleBlue";
  @import (multiple) "../components/Conditions";
  @import (multiple) "../components/FormLabelTop";
  @import (multiple) "../components/DeliveryInfo";
  @import (multiple) "../atoms/Note";
  @import (multiple) "../molecules/date-picker";

  .Note {
    font-size: 12px;
  }

  .map-popup{
    .Popup-Container.open .Popup{
      max-width: 928px;

      .Popup-Content{
        padding: 0;
      }
    }
  }

  .DealShowPage-Additional, .DealShowPage-Description, .DealShowPage-Footer {
    padding: @indent;
  }

  @import (multiple) "../atoms/ButtonApply";
  @import (multiple) "../atoms/ButtonRefuse";
  @import (multiple) "../atoms/ButtonDelete";
  @import (multiple) "../atoms/ButtonAccept";

  .DealShowPage-Header {
    position: relative;
    //overflow: hidden;
    @media (max-width: 908px){
      overflow-x: scroll;
      overflow-y: visible;
      margin-left: (-@grid-gutter-width-md / 2 - @grid-container-padding-md);
      margin-right: (-@grid-gutter-width-md / 2 - @grid-container-padding-md);
      width: auto;
    }
    @media (max-width: @grid-breakpoint-sm) {
      margin-left: (-@grid-gutter-width-sm / 2 - @grid-container-padding-sm);
      margin-right: (-@grid-gutter-width-sm / 2 - @grid-container-padding-sm);
    }
    
    @import (multiple) "../components/TimelineRectangle";
    @import (multiple) "../components/Conditions";
  }
  .DealShowPage-Details {
    .DealShowPage-Main {
      padding-top: @grid-vertical-gutter * 2;
      @media (max-width: @grid-breakpoint-md) {
        border-right: none;
      }

      .DealShowPage-DealControl {

        @import (multiple) "../components/DealControl";
        @import (multiple) "../molecules/payment-info-header";

        .ButtonApply {
          color: #ffffff;
          white-space: nowrap;
        }

        .DealControl {
           .DealControl-Body {
             .ButtonsRow {
               display: flex;
               align-items: center;
               @media (max-width: @tablet) {
                 flex-direction: column;
                 align-items: flex-start;
               }
               [class*="Button"],
               .tracking-number {
                 margin-top: @grid-vertical-gutter * 2;
               }
               [class*="Button"] {
                 //margin-right: 32px;
               }
               .tracking-number {
                 @media (max-width: @tablet) {
                   margin-top: @grid-vertical-gutter;
                 }
               }
             }

             .date-picker-col{
               .ButtonsRow {
                 [class*="Button"] {
                   margin-top: 0;
                 }
               }
             }

             .DealControl-Info {
               p {
                 &.Note,
                 &.Note-Success,
                 &.note-green,
                 &.note-red,
                 &.note-tiny{
                   font-size: 12px;
                 }
               }
               .delivery-column {
                 .InfoField {
                   padding: 0;
                 }
               }
             }
           }
        }
      }

      .Comment-Wrap {
        .Comment {
          margin-top: @grid-vertical-gutter * 2;
          @media (max-width: @grid-breakpoint-sm){
            margin-top: @grid-vertical-gutter;
          }
        }
      }

    }

    .DealShowPage-Description-Wrapper{
      @media (max-width: @grid-breakpoint-sm){
        order: -1;
      }
    }

    .DealShowPage-Description {
      margin-top: -60px;
      padding: 0;

      @import (multiple) "../atoms/input-type-checkbox";
      .ShowPaymentOrders {
        display: flex;
        align-items: center;
        margin-top: 23px;
        color: inherit;
      }
      .ShowPaymentOrders-label {
        margin-left: 8px;
      }
      @media (max-width: @grid-breakpoint-lg){
        padding: @grid-vertical-gutter * 2 0 0;
        margin-top: 0;
      }
      @media (max-width: @grid-breakpoint-md) {
        width: 100%;
        min-width: 0;
        order: 1;
        padding-bottom: 0;
      }

      .DealShowPage-AddonTerms {
        .TitleBlue {
          font-weight: 400;
          font-size: 18px;
          margin-bottom: 23px;
          letter-spacing: normal;
        }
      }
      @import (multiple) "../components/Conditions";
      @import (multiple) "../components/DealAgentsDataPlate";
    }
  }

  .delivery-column {
    padding: 0;
    margin-top: @grid-vertical-gutter * 2;
  }

  @import (multiple) "../components/FormInline";

  .FormInline {
    //margin-bottom: @indent;
    //max-width: 777px;
    @import (multiple) "../atoms/InputFile";

    .Input-Wrapper {
      @media (max-width: @grid-breakpoint-md) {
        margin-bottom: @grid-vertical-gutter;
      }
      @media (max-width: @grid-breakpoint-sm) {
        margin-bottom: 0;
      }
      @media (max-width: @grid-breakpoint-xs) {
        margin-bottom: @grid-vertical-gutter;
      }
      textarea, input {
        //flex-basis: 80%;
        max-width: none;
        padding: 10px 12px;
        line-height: 17px;
        //height: 50px;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 0;
        margin-right: 0;
        @media (max-width: @small) {
          //margin-right: 0;
          //margin-bottom: 20px;
        }
      }
      textarea {
        height: 36px;
        line-height: 20px;
        padding: 7px 12px;
      }
      textarea::placeholder {
        font-size: 14px;
        line-height: 21px;
      }

    }

    .ButtonApply {
      margin-bottom: 0;
      width: 100%;
      max-width: none;
    }

  }

  .DealControl {

    h3.TitleBlue {
      margin-bottom: 30px;
      font-size: 18px;
      @media (max-width: @tablet) {
        font-size: 16px;
      }
    }

    @import (multiple) "../components/TableDefault";

    table.TableDefault {
      & > tbody > tr:nth-child(1) {
        display: none;
      }
      & > tbody > tr > td > span {
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
      & > tbody > tr > td:nth-child(1) {
        @media (max-width: 992px) {
          display: table-cell;
        }
        @media (max-width: 767px) {
          display: block;
        }
      }
    }

    .FormLabelTop {
      .ButtonsRow {
        margin-top: 0;
      }
    }
    .InfoField {
      padding: 0;
    }
  }

  @import (multiple) "../components/Comment";

  .DealShowPage-Footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 102px;
    border-top: 1px solid @border-color-deal-card;
    @media (max-width: @large) {
      padding-right: 19px;
    }
    @media (max-width: @mobile) {
      flex-direction: column-reverse;
    }
  }
  @import (multiple) "../atoms/Preloader";

  @import (multiple) '../atoms/deal-name-mobile';
  .Preloader {
    display: inline-block;
    vertical-align: text-top;
  }
  @import (multiple) '../components/DatePicker';
}