.DisputeShowPage.DealShowPage {
  .DealShowPage-Details {
    .DealShowPage-Main {
      .DealShowPage-DealControl {
        .DealControl {
          padding-bottom: 0;
          .DealControl-Body {
            padding-bottom: 0;
            .DealControl-Body-SolutionBlock {
              .SolutionRequests {
                @import (multiple) "../atoms/InfoField";
                .InfoField {
                  padding: 6.5px 12px;
                  min-height: 36px;
                  margin-bottom: 10px;
                  border-radius: @border-radius;
                  border: 1px solid @border-color;
                }
              }
            }
            @import (multiple) "../atoms/SubTitle";

            .Dispute-Description {

              p + p {
                margin-top: 18px;
              }

              .Dispute-Info {
                margin-bottom: @grid-vertical-gutter * 4;
                @media (max-width: @grid-breakpoint-sm) {
                  margin-bottom: @grid-vertical-gutter * 2;
                }
                > div {
                  margin-bottom: @grid-vertical-gutter * 4;
                  @media (max-width: @grid-breakpoint-sm) {
                    margin-bottom: @grid-vertical-gutter * 2;
                  }
                  &:last-child {
                    margin-bottom: 0;
                  }
                }
                .Dispute-Text {

                }
                .Dispute-Status {
                  margin-bottom: @grid-vertical-gutter * 2;
                  & .InfoField {
                    display: block;
                    background-color: @bg-gray-color;
                    border-radius: @border-radius;
                    padding: 8.5px 13px;
                    font-size: 14px;
                    border: 1px solid @border-color;
                    width: 100%;
                    .InfoField-Text {
                      vertical-align: top;
                      display: inline-block;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    }
                  }
                  .Status-Info {

                    .InfoField {
                      @media (max-width: @grid-breakpoint-lt) {
                        margin-bottom: @grid-vertical-gutter;
                      }
                    }
                  }
                  .ButtonChangeStatus {
                    font-weight: 500;
                    padding: 8px 10px;
                    height: 36px;
                  }
                  .TitleDisputeStatus {
                    font-size: 18px;
                    margin-bottom: 8px;
                  }
                }

                .Dispute-Problem {
                  margin-bottom: @grid-vertical-gutter * 4;
                  @media (max-width: @grid-breakpoint-sm) {
                    margin-bottom: @grid-vertical-gutter;
                  }
                }

                .Problem-Descriptions {
                  @media (max-width: @grid-breakpoint-lg) {
                    margin-bottom: @grid-vertical-gutter * 2;
                  }

                }

                .Dispute-Info-FormInlineBlock {
                  > div {
                    margin-bottom: @grid-vertical-gutter * 2;
                    &:last-child {
                      margin-bottom: 0;
                    }
                  }

                }
              }

              .TitleDisputeHistory {
                font-size: 24px;
              }
              .Comment {
                .Reason {
                  max-width: 700px;
                  @media (max-width: @mobile) {
                    max-width: none;
                  }
                }
              }
              //.DealControl-Bottom.Comment-Wrap {
              //  .FormInline {
              //    .Input-Wrapper {
              //      textarea {
              //        margin-bottom: 0;
              //        @media (max-width: @small) {
              //          margin-bottom: @indent;
              //        }
              //      }
              //    }
              //  }
              //  .Comment {
              //    //margin-top: @indent;
              //  }
              //}
              //.TrackNumber {
              //  padding: 7px 12px;
              //  background: @bg-gray-color;
              //  border: 1px solid @border-color;
              //  border-radius: @border-radius;
              //  max-width: 245px;
              //}
              @import (multiple) "../components/FormInline";

              .FormInline {
                .ButtonApply {
                  max-width: 250px;
                  width: 100%;
                  margin-top: 0;
                  @media (max-width: 480px) {
                    width: 100%;
                    max-width: none;
                  }
                }
                .Input-Wrapper {
                  @media (max-width: @grid-breakpoint-lt) {
                    margin-bottom: 0;
                  }
                  @media (max-width: @grid-breakpoint-md) {
                    margin-bottom: @grid-vertical-gutter;
                  }
                  @media (max-width: @grid-breakpoint-sm) {
                    margin-bottom: 0;
                  }
                  @media (max-width: @grid-breakpoint-xs) {
                    margin-bottom: @grid-vertical-gutter;
                  }
                  .InputFile {
                    line-height: 24px;
                  }
                }
              }
              form + p {
                margin-top: 8px;
              }

              @import (multiple) "../components/TableDefault";
              table.TableDefault {
                & > tbody > tr:nth-child(1) {
                  display: none;
                }
                & > tbody > tr > td > span {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: block;
                }
                & > tbody > tr > td:nth-child(1) {
                  @media (max-width: 992px) {
                    display: table-cell;
                  }
                  @media (max-width: 767px) {
                    display: block;
                  }
                }
              }
            }
            .Dispute-Solve {

              .Dispute-History {
                margin-bottom: @indent;

                @import (multiple) "../atoms/TextMarked";
                p + p {
                  margin-top: 10px;
                }
              }
              .Dispute-Solve_content {
                max-width: 288px;
                @media (max-width: @grid-breakpoint-lt) {
                  max-width: none;
                }
              }
              select {
               width: 100%;
              }
              .chosen-container-single {
                font-size: 14px;
                width: 100% !important;
                .chosen-single {
                  height: 36px;
                  display: block;
                  position: relative;
                  padding: 8px 15px;
                  font-size: 14px;
                  color: #425160;
                  border-radius: 4px;
                  border: 1px solid #DFE3E9;
                  background: @light-grey-gradient;
                  span {
                    line-height: 18px;
                  }
                }
              }
              .chosen-container {
                .chosen-drop {
                  border-color: @border-color;
                }
              }
              .Dispute-Switcher + .chosen-container {
                margin-bottom: @grid-vertical-gutter * 2;
              }
              @import (multiple) "../components/DisputeMethod";
            }

            .DealControl-Body_text {
              @media (max-width: @grid-breakpoint-lg) {
                order: 2;
              }
            }
            .DealControl-Body_button {
              @media (max-width: @grid-breakpoint-lg) {
                margin-bottom: @grid-vertical-gutter * 2;
              }

              .ButtonBackToDeal {
                @media (max-width: @grid-breakpoint-lg) {
                  max-width: 288px;
                }
                @media (max-width: @grid-breakpoint-sm) {
                  max-width: none;
                }
              }
            }

          }
        }
      }
      //.DealShowPage-Additional {
      //  .DealAgentsDataPlate-Agent {
      //    .InfoField {
      //      @media (max-width: @tablet) {
      //        max-width: 490px;
      //      }
      //    }
      //  }
      //}
    }
    .DealShowPage-Description {
      margin-top: 0;
      padding: @grid-vertical-gutter * 2 0 0;
    }
  }
}