.DisputeCreatePage.DealShowPage {
  .DealShowPage-Header {
    @media (max-width: @tablet) {
      display: none;
    }
  }
  .DealShowPage-Details {
    .DealShowPage-Main {
      .DealShowPage-DealControl {
        .DealControl {
          .DealControl-Body {
            padding-bottom: 0;
            @media (max-width: @grid-breakpoint-sm) {
              display: none;
            }
            .DealControl-Info {
              label {
                font-size: 16px;
                font-weight: 500;
                //display: block;
                margin-bottom: @indent;
              }
              textarea {
                font-size: 14px;
                padding: 12px;
                display: block;
                width: 100%;
                min-height: 120px;
                border: 1px solid @border-color;
                border-radius: @border-radius;
                background-color: #F2F4F7;
              }
              .FormError {
                color: @red-color;
              }
            }
          }
        }
      }



      .DealShowPage-Additional {
        @media (max-width: @mobile) {
          display: flex;
          justify-content: space-between;
        }
        @import (multiple) "../atoms/ButtonRefuse";
        @import (multiple) "../atoms/ButtonApply";

        .ButtonApply, .ButtonRefuse {
          margin-right: @indent;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}