.MessagePage{
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  pre{
    white-space: pre-line;
  }
  .MessagePage-Wrapper{
    position: relative;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff;
    .MessagePage-Img{
      img {
        display: inline-block;
        max-width:  calc(~"100% + 20px");
        max-height: 100%;
        width: calc(~"100% + 20px");
        margin-left: -10px;
        @media (max-width: @mobile) {
          max-width:  calc(~"100% + 520px");
          width:  calc(~"100% + 520px");
          margin-left: -260px;
        }
      }
    }
    .MessagePage-Content{
      padding: 0 40px 60px;
      margin-top: 40px;
      @media (max-width: @mobile) {
        padding-left: 15px;
        padding-right: 15px;
      }
      .MessagePage-Title{
        font-weight: 500;
        margin-bottom: 30px;
      }
      .MessagePage-SecondTitle {
        font-size: 22px;
      }
      .MessagePage-SubTitle {
        margin-bottom: 30px;
        font-size: 25px;
        text-align: left;
      }
      .MessagePage-Text{
        font-size: 16px;
        color: #2c3f51;
      }
    }
  }
}

