.OverpayPage {
  padding: @indent @indent @indentBig;

  @import (multiple) "../atoms/TitleBlue";
  @import (multiple) "../atoms/InfoField";
  .InfoField {
    max-width: 540px;
    .InfoField-Label {
      max-width: 300px;
    }
  }
  @import (multiple) "../components/TableDefault";
  table.TableDefault {
    margin: @indent 0 @indentBig;
  }
  @import (multiple) "../atoms/ButtonApply";
  .ButtonApply {
    width: auto;
    max-width: 100%;
    @media (max-width: @grid-breakpoint-sm) {
      width: 100%;
    }
  }
  @import (multiple) "../atoms/TextImportant";
  .TextImportant {
    font-size: 16px;
  }
  .FormError {
    margin: @indent 0;
    color: @red-color;
  }
}