section.PageTable {
  height: 100%;
  padding: 24px 0;
  @media (max-width: @grid-breakpoint-md) {
    padding-top: 0;
  }
  .Control {
    min-height: 12%;

    .ButtonsRow{
      padding: 0;
      margin: 14px 0;
    }

  }

  @import (multiple) "../atoms/head-of-element";

  @import (multiple) "../components/TableNaturalPersons";
  @import (multiple) "../components/TableLegalEntities";
  @import (multiple) "../components/TableSoleProprietors";
  @import (multiple) "../components/TableDeals";
  @import (multiple) "../components/TableDealsExpired";
  @import (multiple) "../components/TableDealsUbnormal";
  @import (multiple) "../components/TablePaymentList";
  @import (multiple) "../components/TableUsers";
  @import (multiple) "../components/TableDealsDispute";
  @import (multiple) "../components/TableDocuments";
  @import (multiple) "../components/TableDealsDeadline";
  @import (multiple) "../components/TablePartnerButtons";

  .TableWithPagination{
    margin-left: -1.1%;

    @media (max-width: @grid-breakpoint-lt){
      margin-left: 0;
    }

  }

}
#TableDeals {
  visibility: hidden;
}
#TableDealsDispute {
  visibility: hidden;
}
#TableDealsDisputeOpen {
  visibility: hidden;
}
#TableDealsTrouble {
  visibility: hidden;
}
#TableDealsExpired {
  visibility: hidden;
  overflow: visible;
}
#TablePaymentOrdersTrouble {
  visibility: hidden;
}
#TableDealsDeadline {
  visibility: hidden;
}
#React-TableUsers {
  visibility: hidden;
}

@import (multiple) "../pages/PageTableCivilLawSubject";


//Строка с кнопкой создания сделки (временно решение, почистить после переделки таблиц)
.button-row-create-deal {
  @media (max-width: @grid-breakpoint-lt) {
    display: none;
  }
}

.Control-ActionBlock {
  @media (max-width: @grid-breakpoint-lt) {
    padding: 0 16px;
  }
  @media (max-width: @grid-breakpoint-sm) {
    padding: 0 8px;
  }
}