.Page404{
  height: 100%;
  position: relative;
  padding: @indent;
}
.Page404-Wrapper{
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: 535px;
  height: 520px;
  left: 0;
  right: 0;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.Page404-Img{
  background: transparent url(../../../img/page-404.png) scroll no-repeat 50% 50% /contain;
  width: 327px;
  height: 327px;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.Page404-Content{
  display: inline-block;
  vertical-align: middle;
}
.Page404-Message{
  display: inline-block;
  vertical-align: middle;
}
.Page404 h1{
  margin-bottom: 30px;
}