section.PageTableCivilLawSubject {
  table.TableLegalEntities.TableDefault,
  table.TableNaturalPersons.TableDefault,
  table.TableSoleProprietors.TableDefault{
    > tbody > tr.FilterRowButtonMobile {
      @media (max-width: 992px) {
        display: table-row;
      }
      @media (max-width: @grid-breakpoint-sm) {
        display: block;
        padding: @grid-vertical-gutter 16px;
      }
      > td.FilterColButton {
        .ButtonApply {
          margin: 0;
        }
      }
    }
  }
}