section.PageForm {
  padding-top: @grid-vertical-gutter * 3;
  padding-bottom: @grid-vertical-gutter * 3;
  &.MandarinPayPage {
    padding: 0;
  }

  &.form-centered{
    .PageForm-Container{
      margin: 0 auto;
    }
  }

  &.form-unregistered{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media (max-width: @grid-breakpoint-md){
      display: block;
    }

    @import (multiple) '../molecules/form-side-menu';

    .PageForm-Container{
      margin: 0;
    }

  }

  @media (max-width: @grid-breakpoint-sm) {
    padding: 0;
  }


  @import (multiple) '../components/FormInline';
  .FormInline{
    display: block;
    
    .Input-Wrapper{
      display: block;

      .form-control{
        margin-bottom: 40px;
      }

    }
  }

  .ButtonsRow_outside {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 480px) {
      padding-top: 20px;
    }
  }
  .Border-Wrapper {
    border: 1px solid #d8d8d8;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    max-width: 700px;
  }
  @import (multiple) "../atoms/ButtonApply";
  @import (multiple) "../atoms/ButtonRefuse";
  @import (multiple) "../atoms/FormError";
  @import (multiple) "../atoms/TextAccent";
  @import (multiple) "../atoms/TextImportant";


  #FormDeal, #FormPartnerDeal, #FormDealEdit, #CreateDealToken, #form-button-edit {
    visibility: hidden;
  }
  #FormDealUnauthorized {
    .col-email {
      margin-bottom: @grid-vertical-gutter*2;
      @media (max-width: @grid-breakpoint-md) {
        margin-bottom: @grid-vertical-gutter;
      }
    }
  }
  .TextImportant {
    font-size: 14px;
  }

  .FormErrors,
  .FormMessages {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    font-weight: 500;
    padding: 20px;
    margin-top: 30px;
    background-color: rgb(245, 245, 245);

    p {
      position: relative;
      float: left;
      width: calc(~"100% - 3em");
    }

    .IconClose {
      position: relative;
      float: right;
      clear: none;
      // padding: 1em;
      font-weight: 600;
      color: black;
      cursor: pointer;
    }
  }

  .FormErrors {
    color: red;
  }

  .FormMessage {
    color: green;
  }

  @import (multiple) "../atoms/Alert";

  > .PageForm-Container {
    box-shadow: 0 0 10px rgba(32, 73, 146, 0.2);
    padding: @grid-vertical-gutter*3 16px;
    @media (max-width: @grid-breakpoint-sm) {
      padding: @grid-vertical-gutter*2;
      box-shadow: none;
    }

    &.page-form-deal-container {
      padding: 0;

      @import (multiple) '../atoms/delivery-column';

      .FormLabelTop .Input-Wrapper .InputFile .InputFile-Container mark{
        font-size: 14px;
        color: #444444;
        font-weight: 400;
      }

    }
  }
}

.PageForm-Container {
  background-color: #fff;
  border-radius: 10px;
  max-width: 670px;
  @media (max-width: (@grid-breakpoint-md + 1)) {
    max-width: none;
  }

  @import (multiple) "../atoms/form-info-message";
  @import (multiple) "../molecules/delivery-payer-hint";

  @import (multiple) "../components/FormLabelLeft";
  .FormLabelLeft .Input-Wrapper .InputFile {
    margin-right: 0;
    .InputFile-Container {
      line-height: 10px;
      height: initial;
      min-height: initial;
    }
  }

  &.isNested {
    // padding-bottom: 30px;

    .FormLabelTop {
      .TitleBlue {
        font-size: 18px;
      }
    }
  }

  @import (multiple) "../components/FormLabelTop";
  @import (multiple) "../components/FormView";
  @import (multiple) "../organisms/dpd-delivery-order-form";

  &.PageForm-Container_large {
    .Input-Wrapper .InputFile .InputFile-Container mark {
      background-color: #FAFBFC;
    }
  }

  .InputFile {
    .InputFile-Label {
      padding-left: 0;
    }
  }

  .LinkAdd {
    text-align: left;
    display: block;
    margin-bottom: 20px;
  }

  .PageForm-Notification {
    font-size: 14px;
    margin-bottom: @indent;
  }

  @import (multiple) "../atoms/ButtonApply";
  .ButtonApply {
    display: block;
  }
  .FormMessages {
    margin: 30px 0;
    text-align: left;
    color: #23e474;
  }

  .js-form-timer-message {
    font-size: 14px;
  }
}

//Новые стили
#FormDeal,
#FormAddPaymentMethodToDeal {

  @import (multiple) "../components/flex";

  .FormLabelTop {
    .header.flex {
      @media (max-width: @mobile) {
        display: none;
      }
    }
    //Мини-сетка
    .grid-row {
      width: 100%;
      //margin-bottom: @vertical-indent;
    }
    .grid-col-4 {
      width: 100%;
    }
    .grid-col-2 {
      width: 50%;
      max-width: 288px;
      @media (max-width: @mobile) {
        width: 100%;
        max-width: none;
      }
    }
    .grid-col-1 {
      width: 25%;
      @media (max-width: @mobile) {
        width: 50%;
      }
    }
    .rules-agree {
      .flex {
        justify-content: flex-start;
        flex-direction: row;
      }
    }
  }
}

