section.PaymentListPage {
  height: 100%;
  display: flex;
  flex-direction: column;

  @import (multiple) "../components/TablePaymentList";
  @import (multiple) "../atoms/TextAccent";
  @import (multiple) "../atoms/head-of-element";

  .SectionButtons {
    display: flex;
    padding-top: @grid-vertical-gutter*2;
    padding-bottom: @grid-vertical-gutter*2;
    @media (max-width: @grid-breakpoint-md) {
      padding-top: 0;
      padding-bottom: @grid-vertical-gutter;
    }
    @media (max-width: @grid-breakpoint-sm) {
      flex-direction: column;
    }
    .SectionButtons-InnerBlock {
      margin-right: 16px;
      display: flex;
      &:last-child {
        margin-right: 0;
      }
      @media (max-width: @grid-breakpoint-md) {
        flex-direction: column;
        width: 100%;
      }
      @media (max-width: @grid-breakpoint-sm) {
        margin-right: 0;
        margin-bottom: @grid-vertical-gutter;
      }

      @import (multiple) "../atoms/ButtonApply";
      .ButtonApply {
        margin-right: 16px;
        display: block;
        white-space: nowrap;
        &:last-child {
          margin-right: 0;
        }
        @media (max-width: @grid-breakpoint-md) {
          max-width: 100%;
          width: auto;
          margin-right: 0;
          margin-bottom: @grid-vertical-gutter;
          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
  .PageTable {
    width: 100%;
    @media (max-width: @grid-breakpoint-md) {
      padding-top: 0;
    }
    .TablePaymentList {
      table-layout: fixed;
      & > tbody > tr {
        > td {

          &:nth-child(2) {
            word-wrap: break-word;
          }
          &:nth-child(3) {
            width: 30%;
            word-wrap: break-word;
            @media (max-width: @grid-breakpoint-md) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}





