section.ProfilePage {
  height: 100%;
  display: flex;

  @import (multiple) "../atoms/TitleBlue";
  .TitleBlue {
    margin-bottom: @grid-vertical-gutter * 2;
    font-size: 21px;
    @media (max-width: @grid-breakpoint-md) {
      font-size: 18px;
    }
    @media (max-width: @grid-breakpoint-xs) {
      margin-bottom: @grid-vertical-gutter;

    }
  }

  .ProfilePage-Main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: calc(~"100% - 334px");
    background-color: #ffffff;
    @media (max-width: @large) {
      width: calc(~"100% - 250px");
    }
    @media (max-width: @tablet) {
      width: 100%;
    }


    @import (multiple) "../components/Warning";
    .Warning {
      max-width: 500px;
      margin-bottom: @grid-vertical-gutter*2;
      padding-right: 46px;

      @media (max-width: @grid-breakpoint-sm) {
        padding-right: 0;
        max-width: 100%;
        margin-bottom: 16px;
      }
    }

    .ProfilePage-Top {
      border-bottom: 1px solid #F0F0F0;
      @media (max-width: @mobile) {
        flex-direction: column-reverse;
        border: none;
      }

      .ProfilePage-Top-Wrap {
        display: flex;
        @media (max-width: @grid-breakpoint-sm) {
          flex-direction: column-reverse;
        }
      }
      @import (multiple) "../components/FormVerification";
      .FormVerification {
        display: none;
      }

      .Popup-Container {
        .ButtonClose {
          top: 30px;
          right: 30px;
        }
        .FormVerification {
          display: block!important;
          transform: none;
          padding: 0;
          border-left: 0;
          max-width: none;
        }
      }

      .ProfilePage-Header {
        display: flex;
        padding: @grid-vertical-gutter * 3 @grid-vertical-gutter * 3 @grid-vertical-gutter * 3 0;

        @media (max-width: @grid-breakpoint-sm){
          display: block;
          margin: 0 auto;
          padding-right: 0;
        }

        @media (max-width: @grid-breakpoint-sm) {
          padding: @grid-vertical-gutter * 3 0;
          width: 100%;
        }

        .profile-header-top{
          display: flex;
          align-items: center;
          margin-bottom: 24px;

          @media (max-width: @grid-breakpoint-sm){
            display: block;
          }

        }

        .Profile-Avatar {
          max-width: 174px;
          margin-right: @indent;
          text-align: center;
          @media (max-width: @grid-breakpoint-md) {
            margin: 0 16px @grid-vertical-gutter*2 0;
            text-align: left;
          }

          @media (max-width: @grid-breakpoint-sm){
            margin: 0 auto;
            margin-bottom: 20px;
            text-align: center;
          }

          @import (multiple) "../atoms/AvatarWithBorder";

          .AvatarWithBorder {
            width: 102px;
            height: 102px;
            position: relative;
            display: inline-flex;
            @media (max-width: @desk) {
              width: 130px;
              height: 130px;
            }
            @media (max-width: @tablet) {
              width: 100px;
              height: 100px;
              margin: 0;
            }
            .FormAvaChange {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              background-color: rgba(0, 0, 0, 0.4);
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
              opacity: 0;
              transition: opacity .3s;
              label {
                display: block;
                cursor: pointer;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                &:before, &:after {
                  content: '';
                  display: block;
                  background-color: #ffffff;
                  position: absolute;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  margin: auto;
                }
                &:before {
                  height: 2px;
                  width: 20px;
                }
                &:after {
                  height: 20px;
                  width: 2px;
                }
                input {
                  display: none;
                  max-width: 150px;
                  max-height: 150px;
                  margin-top: 40%;
                  padding: 0;
                  opacity: 0;
                  cursor: pointer;
                }
              }
              .FormAvaChange-Submit {
                display: none;
              }
            }
            &:hover {
              .FormAvaChange {
                opacity: 1;
              }
            }
          }
          .Profile-UserName {
            line-height: 32px;
            text-align: center;
            color: #3C4457;
            max-width: inherit;
            word-wrap: break-word;
          }
        }

        @import (multiple) "../components/UserDataPlate";

        .UserDataPlate {
          flex-grow: 1;
          .ButtonApply {
            max-width: none;

            &.create-deal-button{
              max-width: none;
            }

            @media (max-width: @grid-breakpoint-sm) {
              max-width: none;
            }

          }
        }
      }

    }

    .ProfilePage-Content {
      padding: @grid-vertical-gutter * 3 0;
      text-align: center;
      @media (max-width: @grid-breakpoint-sm) {
        padding: @grid-vertical-gutter * 2 0;
      }
    }
    @import (multiple) "../components/tabs";
    #profile-page-content {
      visibility: hidden;
    }
    .tab-container {

      #tab1:checked ~ #natural-person {
        display: block;
      }
      #tab2:checked ~ #legal-entity {
        display: block;
      }
      #tab3:checked ~ #sole-proprietor {
        display: block;
      }
      #tab4:checked ~ #partner-button {
        display: block;
      }
      #natural-person {
        //visibility: hidden;
      }

    }


    .ProfilePage-Section {
      display: none;
      flex-direction: column;
      flex-grow: 1;
      padding: @indent 0;
      &.active {
        display: flex;
      }

      @import (multiple) "../components/TableLegalEntities";
      @import (multiple) "../components/TableNaturalPersons";
      @import (multiple) "../components/TableSoleProprietors";
      @import (multiple) "../components/TableButtons";
      @import "../components/FormPopup";

      .TableWrapper {
        margin-left: -1.35%;
        overflow: visible;
        @media (max-width: @grid-breakpoint-lg) {
          margin-left: -1.65%;
        }
        @media (max-width: @grid-breakpoint-sm) {
          margin-left: 0;
        }
      }

      table.TableDefault{
        .FilterRowButtonMobile{
          @media (max-width: @grid-breakpoint-md){
            display: table-row;
          }
          @media (max-width: @grid-breakpoint-sm){
            display: flex;
          }

          .FilterButton{
            @media (max-width: @grid-breakpoint-md){
              margin-bottom: 24px;
            }
          }

        }

        tr.FilterTableRow{
          @media (max-width: @grid-breakpoint-md){
            display: none;
          }
        }

      }

    }
  }
}