section.ResponsePage {
  height: 100%;
  padding: @grid-vertical-gutter*3 0;
  //@media (max-width: @grid-breakpoint-lt) {
  //  padding: @grid-vertical-gutter*3 48px;
  //}
  @media (max-width: @grid-breakpoint-sm) {
    padding: @grid-vertical-gutter*2 0;
  }

  @import (multiple) "../atoms/ButtonApply";
  .ButtonApply {
    margin-top: @grid-vertical-gutter;
  }

  @import (multiple) "../atoms/InfoField";
  .InfoField {
    padding: 15px;
    padding-left: 24px;
    font-size: 16px;;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
    .InfoField-Icon {
      height: 30px;
      display: inline-block;
      @media (max-width: @small) {
        display: none;
      }
    }
    .InfoField-Text {
      display: inline-block;
      font-weight: 400;
      @media (max-width: @small) {
        padding-left: 0;
      }
    }
  }

  @import (multiple) "../atoms/Alert";
  @import (multiple) "../components/TableDefault";
  table.TableDefault > tbody > tr {
    td:first-child {
      text-align: left;
      padding-left: 24px;
    }
  }

  .note-green,
  .note-red,
  .Note {
    font-size: 14px!important;
    &:before {
      top: 50%!important;
      transform: translateY(-50%)!important;
    }
  }
}