{% if is_last == true %}
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked TextMarked_info" id="automatic-deal-close-warning-last">Если до истечения гарантийного периода со стороны покупателя не будет произведено никаких действий, сделка будет закрыта, и продавцу будут переведены деньги за товар.</p>
    {% else %}
        <p class="TextMarked TextMarked_info" id="automatic-deal-close-warning-last">Если до истечения гарантийного периода со стороны заказчика не будет произведено никаких действий, сделка будет закрыта, и исполнителю будут переведены деньги за услугу.</p>
    {% endif %}
{% endif %}