{% if is_last == true %}
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked" id="contractor-and-customer-confirmed-conditions-last">Покупатель и продавец подтвердили согласие с условиями сделки. Сделка заключена!</p>
    {% else %}
        <p class="TextMarked" id="contractor-and-customer-confirmed-conditions-last">Заказчик и исполнитель подтвердили согласие с условиями сделки. Сделка заключена!</p>
    {% endif %}
{% endif %}