{% if is_last == true %}
    <p class="TextMarked" id="contact-hotline-last">В случае возникновения вопросов по платежу,
        {% if deal['type_ident'] == 'T' %}
            покупателю
        {% else %}
            заказчику
        {% endif %}
        следует обратиться на горячую линию банка, выдавшего ему карту.</p>
{% endif %}