{% if is_last == true and not data['is_owner'] %}
    {% if deal['owner_role'] == 'contractor' and deal['customer']['civil_law_subject_id'] == null %}
        {% if deal['type_ident'] == 'T' %}
            <p class="TextMarked" id="counteragent-created-deal-last">Продавец создал сделку. Покупателю ({{ customer['email'] }}) отправлено приглашение присоединиться к сделке.</p>
        {% else %}
            <p class="TextMarked" id="counteragent-created-deal-last">Исполнитель создал сделку. Заказчику ({{ customer['email'] }}) отправлено приглашение присоединиться к сделке.</p>
        {% endif %}
    {% elseif deal['owner_role'] == 'customer' and deal['contractor']['civil_law_subject_id'] == null %}
        {% if deal['type_ident'] == 'T' %}
            <p class="TextMarked" id="counteragent-created-deal-last">Покупатель создал сделку. Продавцу ({{ contractor['email'] }}) отправлено приглашение присоединиться к сделке.</p>
        {% else %}
            <p class="TextMarked" id="counteragent-created-deal-last">Заказчик создал сделку. Исполнителю ({{ customer['email'] }}) отправлено приглашение присоединиться к сделке.</p>
        {% endif %}
    {% endif %}
{% endif %}