{% if is_last == true %}
    {% if deal['contractor']['is_confirmed'] == true %}
        <p class="TextMarked" id="counteragent-confirmed-deal-conditions-last">
            {% if deal['type_ident'] == 'T' %}
                Продавец
            {% else %}
                Исполнитель
            {% endif %}
            подтвердил согласие с условиями сделки.</p>
    {% else %}
        <p class="TextMarked" id="counteragent-confirmed-deal-conditions-last">
            {% if deal['type_ident'] == 'T' %}
                Покупатель
            {% else %}
                Заказчик
            {% endif %}
            подтвердил согласие с условиями сделки.</p>
    {% endif %}
{% endif %}


