{% if deal['customer']['civil_law_subject_id'] == null and is_last == true %}
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked TextMarked_info" id="counteragent-has-to-login-last">Чтобы присоединиться к сделке Покупатель должен войти на сервис Guarant Pay и указать лицо, от имени которого будет проведена сделка и способ получения оплаты за товар.</p>
    {% else %}
        <p class="TextMarked TextMarked_info" id="counteragent-has-to-login-last">Чтобы присоединиться к сделке Заказчик должен войти на сервис Guarant Pay и указать лицо, от имени которого будет проведена сделка и способ получения оплаты за услугу.</p>
    {% endif %}
{% elseif deal['contractor']['civil_law_subject_id'] == null and is_last == true %}
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked TextMarked_info" id="counteragent-has-to-login-last">Чтобы присоединиться к сделке Продавец должен войти на сервис Guarant Pay и указать лицо, от имени которого будет проведена сделка и способ получения оплаты за товар.</p>
    {% else %}
        <p class="TextMarked TextMarked_info" id="counteragent-has-to-login-last">Чтобы присоединиться к сделке Исполнитель должен войти на сервис Guarant Pay и указать лицо, от имени которого будет проведена сделка и способ получения оплаты за услугу.</p>
    {% endif %}
{% endif %}


