{% if is_last == true %}
    <p class="TextMarked" id="if-conditions-change-counteragent-reconsider-last">При изменении условий сделки {{ counter_agent_role_dp }} будет необходимо заново рассмотреть ее.</p>
{% endif %}