{% if is_last == true %}
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked" id="info-msg-money-transfer-last">Деньги за товар будут переведены на счет продавца, как только покупатель подтвердит факт выполнения договора.</p>
    {% else %}
        <p class="TextMarked" id="info-msg-money-transfer-last">Деньги за услугу будут переведены на счет исполнителя, как только заказчик подтвердит факт выполнения договора.</p>
    {% endif %}
{% endif %}