{% import 'macro/translate.twig' as translate %}

{% if is_last == true %}
    <p class="TextMarked TextMarked_info" id="info-msg-contractor-must-fulfill-obligations-last">
        {% if deal['type_ident'] == 'T' %}
            Продавцу
        {% else %}
            Исполнителю
        {% endif %}
        необходимо исполнить обязательства по договору до <strong>{{ data['date_of_deadline'] }}</strong> (осталось {{ translate.dateWaiting(deal['date_of_deadline_params']) | trim }}).</p>
{% endif %}