{% if is_last == true %}
    {% if deal['customer']['is_confirmed'] == true %}
        {% if deal['type_ident'] == 'T' %}
            <p class="TextMarked TextMarked_info" id="is-need-to-confirm-deal-last">Для согласования сделки продавцу необходимо подтвердить ее.</p>
        {% else %}
            <p class="TextMarked TextMarked_info" id="is-need-to-confirm-deal-last">Для согласования сделки исполнителю необходимо подтвердить ее.</p>
        {% endif %}
    {% else %}
        {% if deal['type_ident'] == 'T' %}
            <p class="TextMarked TextMarked_info" id="is-need-to-confirm-deal-last">Для согласования сделки покупателю необходимо подтвердить ее.</p>
        {% else %}
            <p class="TextMarked TextMarked_info" id="is-need-to-confirm-deal-last">Для согласования сделки заказчику необходимо подтвердить ее.</p>
        {% endif %}
    {% endif %}
{% endif %}


