{% if is_last %}
    <p class="TextMarked" id="mandarin-acquiring-processing-last">Платеж покупателя обрабатывается. Пожалуйста подождите...</p>
    <p class="TextMarked">Если платеж не будет обработан в течение часа, проверьте возможные причины возникновения ошибки.</p>
{% endif %}