{% if is_last %}
        <div class="DealControl-Hints" id="mandarin-acquiring-success-last">
                <div class="payment-info">
                        <div class="payment-info-header">
                                <div class="icon-ok-large"></div>
                                <p class="TextMarked payment-status">
                                        Оплата по карте прошла успешно.  <br />
                                        Платеж по сделке зачислен на гарантийный счет.</p>
                        </div>
                        <div class="payment-details">
                                <h4 class="payment-details-title">Детали платежа</h4>
                                <table>
                                        <tr>
                                                <td class="title">Дата:</td>
                                                <td class="value">{{ mandarin_acquiring['created'] }}</td>
                                        </tr>
                                        <tr>
                                                <td class="title">N транзакции:</td>
                                                <td class="value">{{ mandarin_acquiring['transaction'] }}</td>
                                        </tr>
                                        <tr class="sum">
                                                <td class="title">Сумма:</td>
                                                <td class="value">{{ mandarin_acquiring['amount'] }} Р.</td>
                                        </tr>
                                </table>
                        </div>
                </div>
        </div>
{% endif %}