{% if is_last == true %}
    <p class="TextMarked" id="msg-payment-status-success-last">
        {% if deal['type_ident'] == 'T' %}
            Покупатель
        {% else %}
            Заказчик
        {% endif %}
        перевел оговоренную по сделке сумму на гарантийный счет.</p>
{% endif %}