{% if is_last == true %}
    <p class="TextMarked TextMarked_info" id="need-to-prepare-payment-last">Создана платежка на выплату денег за
        {% if deal['type_ident'] == 'T' %}
            товар.
        {% else %}
            услугу.
        {% endif %}
        Необходимо сгенерировать файл с неоплаченными платежками.
    </p>
{% endif %}