{% if is_last == true %}
    <p class="TextMarked TextMarked_info" id="payment-sent-last">Отправлен платеж на выплату денег за
        {% if deal['type_ident'] == 'T' %}
            товар.
        {% else %}
            услугу.
        {% endif %}
    </p>
{% endif %}