{% if is_last == true %}
        <p class="TextMarked TextMarked_info" id="pending-credit-payment">Ожидается выплата денег
            {% if deal['type_ident'] == 'T' %}
                продавцу
            {% else %}
                исполнителю
            {% endif %}. Затем сделка будет закрыта.</p>
{% endif %}
