{% if is_last == true %}
    <p class="TextMarked" id="trouble-last">По сделке произошла ошибка, она не может быть завершена в атоматическом режиме.</p>
    <p class="TextMarked TextMarked_info">Необходимо провести сделку в ручном режиме.</p>
{% endif %}