{% if is_last == true %}
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked TextMarked_info" id="wait-for-payment-mandarin-from-customer-last">От покупателя ожидается оплата оговоренной в сделке суммы. Он может оплатить товар с помощью банковской карты, либо через расчетный счет в банке.</p>
    {% else %}
        <p class="TextMarked TextMarked_info" id="wait-for-payment-mandarin-from-customer-last">От заказчика ожидается оплата оговоренной в сделке суммы. Он может оплатить услугу с помощью банковской карты, либо через расчетный счет в банке.</p>
    {% endif %}
{% endif %}