{% if is_last == true %}
    <p class="TextMarked TextMarked_info" id="wait-for-payment-from-customer-last">Ожидается оплата оговоренной в сделке суммы со стороны
        {% if deal['type_ident'] == 'T' %}
            покупателя
        {% else %}
            заказчика
        {% endif %}.</p>
{% endif %}