{% if is_last == true and deal['contractor']['civil_law_subject_id'] != null %}
    {% if deal['owner_role'] == 'contractor' %}
        {% if deal['type_ident'] == 'T' %}
            <p class="TextMarked TextMarked_info" id="wait-for-counteragent-confirmation-last">Для согласования сделки покупателю необходимо подтвердить ее.</p>
        {% else %}
            <p class="TextMarked TextMarked_info" id="wait-for-counteragent-confirmation-last">Для согласования сделки заказчику необходимо подтвердить ее.</p>
        {% endif %}
    {% else %}
        {% if deal['type_ident'] == 'T' %}
            <p class="TextMarked TextMarked_info" id="wait-for-counteragent-confirmation-last">Для согласования сделки продавцу необходимо подтвердить ее.</p>
        {% else %}
            <p class="TextMarked TextMarked_info" id="wait-for-counteragent-confirmation-last">Для согласования сделки исполнителю необходимо подтвердить ее.</p>
        {% endif %}
    {% endif %}
{% endif %}


