{% if is_last == true %}
    {#<p class="TextMarked TextMarked_info" id="wait-for-full-payment-of-customer-last">Ожидается полная оплата оговоренной в сделке суммы со стороны покупателя.</p>#}
{% endif %}