{% if is_last == true and data['confirm_reset_by'] == 'contractor' %}
    <p class="TextMarked" id="you-edited-deal-last">Продавец изменил условия сделки, покупателю отправлено уведомление.</p>
{% endif %}

{% if is_last == true and data['confirm_reset_by'] == 'customer' %}
    <p class="TextMarked" id="you-edited-deal-last">Покупатель изменил условия сделки, продавцу отправлено уведомление.</p>
{% endif %}