{% if not data['is_need_to_fill_civil_law_subject'] and not data['is_need_to_fill_payment_method'] and is_last == true and deal['contractor']['civil_law_subject_id'] %}
    {% if deal['owner_role'] == 'customer' and deal['contractor']['fio'] %}
        <p class="TextMarked" id="your-civil-law-subject-and-payment-method-last">
            {% if deal['type_ident'] == 'T' %}
                Продавец
            {% else %}
                Исполнитель
            {% endif %}
            будет участвовать в сделке как <strong>{{ deal['contractor']['fio'] }}</strong>, способ получения оплаты <strong>{{ deal['payment_method_requisites']['name'] }}</strong>.</p>
    {% elseif deal['owner_role'] == 'customer' and deal['contractor']['name'] %}
        <p class="TextMarked" id="your-civil-law-subject-and-payment-method-last">
            {% if deal['type_ident'] == 'T' %}
                Продавец
            {% else %}
                Исполнитель
            {% endif %}
            будет участвовать в сделке как <strong>{{ deal['contractor']['name'] }}</strong>, способ получения оплаты {{ deal['payment_method_requisites']['name'] }}.</p>
    {% else %}
        <p class="TextMarked" id="your-civil-law-subject-and-payment-method-last">
            {% if deal['type_ident'] == 'T' %}
                Покупатель
            {% else %}
                Заказчик
            {% endif %}
            будет участвовать в сделке как <strong>{{ deal['customer']['fio'] }}</strong>.</p>
    {% endif %}
{% endif %}

