@font-face {
  font-family: "MyriadPro";
  src: url("../../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
  url("../../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
