{% if is_last %}
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked TextMarked_info" id="after-delivering-actions-last"> 1. Если Вы получили товар и удовлетворены его состоянием, нажмите кнопку «Подтвердить доставку», тем самым соглашаясь с выполнением условий договора. <br/>
            2. Если Вы не уверены в выполнении продавцом своих обязательств или недовольны состоянием товара — откройте спор.
        </p>
    {% else %}
        <p class="TextMarked TextMarked_info" id="after-delivering-actions-last">
            1. Если Вы получили услугу и у Вас нет претензий к качеству оказанной услуги, нажмите кнопку «Подтвердить приемку», тем самым соглашаясь с выполнением условий договора.
            2. Если Вы не уверены в выполнении продавцом своих обязательств или недовольны качеством оказанной услуги — откройте спор.
        </p>
    {% endif %}
{% endif %}