{% if is_last %}
    <p class="TextMarked" id="automatic-close-warning-last">До истечения гарантийного периода с Вашей стороны не было произведено никаких действий. Сделка будет закрыта автоматически.</p>
{% endif %}