{#{% if is_last %}#}
    <p class="TextMarked" id="bank-payment-success-last">При оплате через банк статус сделки автоматически изменится на «Доставка», как только будет получено подтверждение полной оплаты товара.</p>
{#{% endif %}#}