{% if is_last %}
    <p class="TextMarked TextMarked_info" id="contact-support">Вы можете обратиться в службу поддержки, написав письмо на <a href="mailto:support@guarantpay.com">support@guarantpay.com</a>.</p>
{% endif %}