{% import 'macro/translate.twig' as translate %}

{% if deal['mandarin_acquiring'] and deal['delivery']['service_type_name'] != 'DPD' %}
    <p class="TextMarked TextMarked_info" id="contractor-must-fulfill-obligations-mandarin-last">
        {% if deal['type_ident'] == 'T' %}
            Продавцу
        {% else %}
            Исполнителю
        {% endif %}
        необходимо исполнить обязательства по договору до
        <strong>{{ data['date_of_deadline'] }}</strong> (осталось {{ translate.dateWaiting(deal['date_of_deadline_params']) | trim }}).
        {% if data['type_ident'] == 'T' %}
           После получения и проверки товара, пожалуйста, подтвердите доставку, тем самым соглашаясь с выполнением условий договора.
        {% else %}
            После получения услуги, пожалуйста, подтвердите приемку, тем самым соглашаясь с выполнением условий договора.
        {% endif %}
    </p>
{% endif %}