{% import 'macro/translate.twig' as translate %}

{% if not deal['mandarin_acquiring'] and is_last and deal['delivery']['service_type_name'] != 'DPD' %}
    <p class="TextMarked TextMarked_info" id="contractor-must-fulfill-obligations-debit-matched-last">
        {% if deal['type_ident'] == 'T' %}
            Продавцу
        {% else %}
            Исполнителю
        {% endif %}
        необходимо исполнить обязательства по договору до
        <strong>{{ deal['date_of_deadline'] }}</strong> (осталось {{ translate.dateWaiting(deal['date_of_deadline_params']) | trim }}).</p>
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked TextMarked_info" id="contractor-must-fulfill-obligations-debit-matched-last-after-check">После получения и проверки товара, пожалуйста, подтвердите доставку, тем самым соглашаясь с выполнением условий договора.</p>
    {% else %}
        <p class="TextMarked TextMarked_info" id="contractor-must-fulfill-obligations-debit-matched-last-after-check">После получения услуги, пожалуйста, подтвердите
            приемку, тем самым соглашаясь с выполнением условий договора.</p>
    {% endif %}
{% endif %}