{% if is_last %}
    {% if data['is_owner'] and deal['contractor']['civil_law_subject_id'] == null %}
        <p class="TextMarked TextMarked_info" id="counteragent-has-to-login">
            {% if deal['type_ident'] == 'T' %}
                Продавец
            {% else %}
                Исполнитель
            {% endif %}
            должен войти на сервис Guarant Pay, чтобы рассмотреть сделку и согласиться с условиями. Для ускорения подтверждения сделки Вы можете связаться с ним по email или телефону.</p>
    {% endif %}
{% endif %}