{% if is_last %}
    {#{% if deal['status']['status'] == 'confirmed' %}#}
        <p class="TextMarked" id="deal-confirmed-last">Вы и
            {% if deal['type_ident'] == 'T' %}
                продавец
            {% else %}
                исполнитель
            {% endif %}
                подтвердили согласие с условиями сделки. Сделка заключена!</p>
    {#{% endif %}#}
{% endif %}