{% if is_last %}
    <p class="TextMarked" id="deal-deadline-expired-in-one-day-last">Гарантийный период по сделке истекает <strong>{{ data['date_of_deadline'] }}</strong>. (остался 1 день).</p>
{% endif %}