{% import 'macro/pageHelper.twig' as pageHelper %}

{% set delivery_order = deal['delivery'] is not null and deal['delivery']['dpd_order'] is not null ? deal['delivery']['dpd_order'] : null %}
{% set is_contractor_and_service_dpd = deal['is_contractor'] == true and delivery_order is not null %}
{% set is_allowed = delivery_order is not null and delivery_order['is_status_ok'] == false and delivery_order['is_status_pending'] == true and delivery_order['is_status_duplicate'] == false %}

{% if is_last == true and deal['delivery']['service'] and is_allowed %}
    <p class="TextMarked" id="delivery-dpd-order-pending-last" data-created="{{ deal['delivery']['created'] }}">Ваш платеж через банк (<strong>{{ deal['customer_amount'] |number_format(2, '.', ' ') }} рублей</strong>) зачислен на гарантийный счет.</p>
    <p class="TextMarked TextMarked_info">Ожидайте, продавец должен выполнить обязательства по договору и отправить посылку с товаром {{ pageHelper.dateFormat(deal['delivery']['service']['date_pickup'], 'd.m.Y')|trim }}.</p>

    {# скрипт для вычисления даты, до которой необходимо отправить посылку #}
    {#<script>#}
        {#(function() {#}
            {#const element = document.getElementById('delivery-dpd-order-pending-last');#}
            {#let date_created = element.dataset.created.split(".").reverse().join(",");#}
            {#const date_to_send = document.getElementsByClassName('date-to-send');#}
            {#let date = new Date(date_created);#}
            {#let newDate = new Date(date);#}
            {#const days = 5;#}
            {#newDate.setDate(newDate.getDate() + days);#}

            {#let dd = newDate.getDate();#}
            {#let mm = newDate.getMonth() + 1;#}
            {#let y = newDate.getFullYear();#}

            {#let formattedDate = dd + '.' + mm + '.' + y;#}
            {#for (let i = 0; i < date_to_send.length; i++) {#}
                {#date_to_send[i].innerHTML = formattedDate;#}
            {#}#}
        {#})()#}
    {#</script>#}
{% endif %}