{% set delivery_order = deal['delivery'] is not null and deal['delivery']['dpd_order'] is not null ? deal['delivery']['dpd_order'] : null %}
{% set is_customer_and_service_dpd = deal['is_customer'] == true and delivery_order is not null %}
{% set is_allowed = delivery_order is not null and delivery_order['is_status_ok'] == true and delivery_order['is_status_pending'] == false and delivery_order['is_status_duplicate'] == false and delivery_order['is_status_error'] == false %}

{% if is_last == true and deal['delivery']['service']  and is_allowed == true %}
    <p class="TextMarked" id="delivery-package-accepted-last" data-created="{{ deal['delivery']['created'] }}">Заказ на доставку успешно сформирован.
        {% if deal['delivery']['service']['order_number'] %}
            Ему присвоен <strong>№{{ deal['delivery']['service']['order_number'] }}</strong>.
        {% elseif deal['delivery']['service']['order_number'] == null %}
            Заказ нуждается в корректировке.
        {% endif %}
    </p>
    <p class="TextMarked TextMarked_info">Ожидайте, продавец должен выполнить обязательства по договору и отправить посылку с товаром до <span class="date-to-send"></span>.
        Когда посылка будет доставлена в пункт назначения, с вами свяжется курьер. После получения посылку пожалуйста, подтвердите доставку, тем самым соглашаясь с выполнением условий договора.
        Доставка может быть подтверждена автоматически, как только сервис GuarantPay получит информацию от DPD о том, что посылка доставлена.</p>
    <div class="ButtonsRow">
        {% if deal['delivery']['dpd_order']['trace_page_url_full'] %}
            <a href="{{ deal['delivery']['dpd_order']['trace_page_url_full'] }}" class="ButtonEdit DealControl-Button" target="_blank">Отследить посылку</a>
            <div class="tracking-number">Трек-номер: <strong>{{ deal['delivery']['service']['order_number'] }}</strong></div>
        {% endif %}
    </div>
    {#<div class="package-status">#}
        {#<div class="package-status-row">#}
            {#<p class="TextMarked">#}
                {#<span>06.09.2018 8:40</span>#}
                {#<span>{{ deal['delivery']['dpd_order']['status'] }}</span>#}
            {#</p>#}
        {#</div>#}
    {#</div>#}
    <p class="TextMarked">Претензии после подтверждения получения товара не принимаются. В случае, когда вы получили товар несоответствующий условиям сделки, откажитесь от него в присутствии курьера.</p>
{% endif %}

{# скрипт для вычисления даты, до которой необходимо отправить посылку #}
<script>
    (function() {
        const element = document.getElementById('delivery-package-accepted-last');
        let date_created = element.dataset.created.split(".").reverse().join(",");
        const date_to_send = document.getElementsByClassName('date-to-send');
        let date = new Date(date_created);
        let newDate = new Date(date);
        const days = 5;
        newDate.setDate(newDate.getDate() + days);

        let dd = newDate.getDate();
        let mm = newDate.getMonth() + 1;
        let y = newDate.getFullYear();

        let formattedDate = dd + '.' + mm + '.' + y;
        for (let i = 0; i < date_to_send.length; i++) {
            date_to_send[i].innerHTML = formattedDate;
        }
    })()
</script>