{% import 'macro/pageHelper.twig' as pageHelper %}

{% set delivery_order = deal['delivery'] is not null and deal['delivery']['dpd_order'] is not null ? deal['delivery']['dpd_order'] : null %}
{% set is_contractor_and_service_dpd = deal['is_contractor'] == true and delivery_order is not null %}
{% set is_allowed_pickup_date_form = delivery_order is not null and delivery_order['is_status_ok'] == false and delivery_order['is_status_pending'] == false and delivery_order['is_status_duplicate'] == false and delivery_order['is_status_error'] == false %}

{% if is_last == true and is_allowed_pickup_date_form == true %}
    <p class="TextMarked" id="delivery-dpd-pickup-last" data-created="{{ deal['delivery']['created'] }}">Ваш платеж через банк (<strong>{{ deal['customer_amount'] |number_format(2, '.', ' ') }} рублей</strong>) зачислен на гарантийный счет.</p>
    {% if deal['delivery']['service']['date_pickup'] %}
        <p class="TextMarked TextMarked_info">Ожидайте, продавец должен выполнить обязательства по договору и отправить посылку с товаром {{ pageHelper.dateFormat(deal['delivery']['service']['date_pickup'], 'd.m.Y')|trim }}.</p>
    {% else %}
        <p class="TextMarked TextMarked_info">Ожидайте, продавец должен выбрать дату отправки товара.</p>
    {% endif %}

    {# скрипт для вычисления даты, до которой необходимо отправить посылку #}
    <script>
        (function() {
            const element = document.getElementById('delivery-dpd-pickup-last');
            let date_created = element.dataset.created.split(".").reverse().join(",");
            const date_to_send = document.getElementsByClassName('date-to-send');
            let date = new Date(date_created);
            let newDate = new Date(date);
            const days = 5;
            newDate.setDate(newDate.getDate() + days);

            let dd = newDate.getDate();
            let mm = newDate.getMonth() + 1;
            let y = newDate.getFullYear();

            let formattedDate = dd + '.' + mm + '.' + y;
            for (let i = 0; i < date_to_send.length; i++) {
                date_to_send[i].innerHTML = formattedDate;
            }
        })()
    </script>
{% endif %}
