{#частичные платежи пока не обрабатываются бэком, поэтому display="none"#}
{% if is_last %}
    <div class="DealControl-Hints" style="display: none" id="full-payment-required">
        <p class="TextMarked TextMarked_info">От Вас ожидается полная оплата
            оговоренной в сделке суммы — [61 500] рублей. Необходимо доплатить [31 500] рублей.
        </p>
    </div>
{% endif %}