{#частичные платежи пока не обрабатываются бэком, поэтому display="none"#}
{% if is_last %}
    <div class="DealControl-Hints" style="display: none" id="get-bill-and-support">
        <p class="TextMarked">Для получения счета на оплату оставшейся суммы или если произошла ошибка, напишите пожалуйста на support@guarantpay.com.</p>
    </div>
{% endif %}