{#{% if is_last %}#}
    <p class="TextMarked" id="guarant-pay-security">Сервис Guarant Pay обеспечит сохранность средств на гарантийном счете, до полного исполнения обязательства по договору.</p>
{#{% endif %}#}