{% if is_last %}
    {% if (not data['is_need_to_fill_civil_law_subject'] and not data['is_need_to_fill_payment_method'] and not data['is_need_to_fill_delivery']) and not data['is_owner']%}
        <p id="if-conditions-change-counteragent-reconsider">При изменении условий сделки,
            {% if deal['type_ident'] == 'T' %}
                продавцу
            {% else %}
                исполнителю
            {% endif %}
            будет необходимо заново рассмотреть ее.</p>
    {% endif %}
{% endif %}