{% if deal['mandarin_acquiring'] and is_last and deal['delivery']['service_type_name'] != 'DPD' %}
    <p class="TextMarked" id="info_msg-automatic-timeout-close-mandarin-last">Обратите внимание, по истечению гарантийного периода сделка будет закрыта автоматически и деньги переведены
        {% if deal['type_ident'] == 'T' %}
            продавцу.
        {% else %}
            исполнителю.
        {% endif %}
    </p>
{% endif %}