{% if is_last %}
    <div class="DealControl-Hints" id="mandarin-acquiring-failed-last">
        <div class="payment-info">
            <div class="payment-info-header">
                <div class="icon-warning"></div>
                <p class="TextMarked payment-status">
                    Оплата по карте не прошла. <br />
                    Не удалось выполнить транзакцию.</p>
            </div>
            <div class="payment-details">
                <h4 class="payment-details-title">Детали платежа</h4>
                <table>
                    <tr>
                        <td class="title">Дата:</td>
                        <td class="value">{{ mandarin_acquiring['created'] }}</td>
                    </tr>
                    <tr>
                        <td class="title">N транзакции:</td>
                        <td class="value">{{ mandarin_acquiring['transaction'] }}</td>
                    </tr>
                    <tr class="sum">
                        <td class="title">Сумма:</td>
                        <td class="value">{{ mandarin_acquiring['amount'] }} Р.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endif %}