{% if not deal['mandarin_acquiring'] and is_last and deal['delivery']['service_type_name'] != 'DPD' %}
    <p class="TextMarked" id="msg_payment-status-success-last">Ваш платеж через банк (<strong>{{ deal['customer_amount'] |number_format(2, '.', ' ') }} рублей</strong>) зачислен на гарантийный счет.</p>
{% endif %}