{% if is_last == true and deal['delivery']['service'] %}
    <p class="TextMarked" id="parcel-delivered-last">Сервис GuarantPay получил информацию от службы DPD о том, что посылка доставлена получателю. Выполнение условий договора подтверждено.</p>
    {#<div class="package-status">#}
        {#<div class="package-status-row">#}
            {#<p class="TextMarked">#}
                {#<span>06.09.2018 8:40</span>#}
                {#<span>Доставлено получателю.</span>#}
            {#</p>#}
        {#</div>#}
    {#</div>#}
    <p class="TextMarked TextMarked_info">В течение 3-x рабочих дней, будет произведена проверка корректности реквизитов и отправлена платежка на выплату денег за товар.</p>
{% endif %}