{#частичные платежи пока не обрабатываются бэком, поэтому display="none"#}
{% if is_last %}
    <div class="DealControl-Hints" style="display: none" id="partial-bank-transfer-success">
        <p class="TextMarked">Ваш частичный платеж через банк — [30 000] рублей, зачислен на гарантийный счет.</p>
    </div>
{% endif %}