{% if is_last %}
        <p class="TextMarked TextMarked_info" id="payment-sent-last">Отправлен платеж на выплату денег за {% if data['type_ident'] == 'T' %} товар{% else %} услугу{% endif %}.</p>
{% endif %}