{% import 'macro/translate.twig' as translate %}

{#<div class="DealControl-Hints" id="deal-pending-credit-payment">#}
    {% if is_last == true %}
        <p class="TextMarked">Ожидается выплата денег
            {% if deal['type_ident'] == 'T' %}
                продавцу.
            {% else %}
                исполнителю.
            {% endif %}
            Затем сделка будет закрыта.</p>
    {% endif %}
{#</div>#}
{#<br/>#}
