{% import 'macro/routes.twig' as routes %}

{% if is_last and deal['delivery']['service_type_name'] != 'DPD' %}
    {% if deal['tracking_numbers'] |length > 0 %}
        <div id="track-number-list" class="track-number-list">
            <h2 class="track-number-list__title">Список трек-номеров</h2>
            {% for trackingNumber in deal['tracking_numbers'] %}
                <div class="InfoField">
                    {#<a href="{{ routes.showDealFile(file, deal['id']) |trim }}" target="_blank">{{ file['origin_name'] }}</a>#}
                    <p class="track-info">
                        <span class="track-info_date">{{ trackingNumber['date'] }}</span>&nbsp;<span class="track-info_number">{{ trackingNumber['tracking_number'] }}</span>
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}