{% if is_last %}
    {% if deal['timeline']['trouble'] %}
        {% set trouble_description = deal['timeline']['trouble']['troubles']|replace({'Проблемная: ': '', ';': ''})|lower|trim %}
    {% endif %}
    <p class="TextMarked" id="trouble-last">По сделке произошла ошибка ({{ trouble_description }}), она не может быть завершена в автоматическом режиме. К сделке присоединится оператор для решения проблемы.</p>
{% endif %}