{% if is_last %}
    {% if not deal['is_counteragent_confirmed'] and deal['contractor']['civil_law_subject_id'] != null and (not data['is_need_to_fill_civil_law_subject'] and not data['is_need_to_fill_payment_method'] and not data['is_need_to_fill_delivery']) %}
        <p class="TextMarked TextMarked_info" id="wait-for-counteragent-confirmation">Ожидайте подтверждение условий сделки
            {% if deal['type_ident'] == 'T' %}
                продавцом.
            {% else %}
                исполнителем.
            {% endif %}
        </p>
    {% endif %}
{% endif %}