{% if is_last %}
    {% if data['is_owner'] %}
        {% if deal['contractor']['civil_law_subject_id'] == null %}
            <div class="DealControl-Hints" id="deal-created">
                <p class="TextMarked">Поздравляем, Вы создали сделку.
                    {% if deal['type_ident'] == 'T' %}
                        Продавцу
                    {% else %}
                        Исполнителю
                    {% endif %}
                    ({{ contractor['email'] }}) отправлено приглашение присоединиться к сделке.</p>
            </div>
        {% endif %}
    {% else %}
        <div class="DealControl-Hints" id="deal-created">
        {% if deal['contractor']['name'] and deal['owner_role'] == 'customer' %}
            <p class="TextMarked">{{ deal['contractor']['name'] }} пригласил Вас как покупателя для проведения безопасной сделки.</p>
        {% elseif deal['contractor']['fio'] and deal['owner_role'] == 'customer' %}
            <p class="TextMarked">{{ deal['contractor']['fio'] }} пригласил Вас как покупателя для проведения безопасной сделки.</p>
        {% endif %}
        </div>
    {% endif %}
{% endif %}