{% if is_last and data['is_owner'] and (not data['is_need_to_fill_civil_law_subject'] and not data['is_need_to_fill_payment_method'] and not data['is_need_to_fill_delivery']) %}
    <p class="TextMarked" id="you-can-change-conditions-last">Вы можете изменить условия сделки, тогда
        {% if deal['type_ident'] == 'T' %}
            продавцу
        {% else %}
            исполнителю
        {% endif %}
        будет выслано новое приглашение.</p>
{% endif %}