{% if is_last %}
    {% if deal['is_current_user_confirmed'] %}
        <p class="TextMarked TextMarked_info" id="you-confirmed">Вы подтвердили согласие с условиями сделки.</p>
    {% endif %}
{% endif %}