{% if is_last and deal['delivery']['service_type_name'] != 'DPD' %}
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked" id="you-can-open-dispute-customer-last">Если время исполнения заказа подходит к концу, а Вы не получили товар, или
            полученный товар не соответствует условиям договора, Вы можете открыть спор.</p>
    {% else %}
        <p class="TextMarked" id="you-can-open-dispute-customer-last">Если время исполнения заказа подходит к концу, а Вы не получили услугу, или
            полученная услуга не соответствует условиям договора, Вы можете открыть спор.</p>
    {% endif %}
{% endif %}