{% if is_last and data['confirm_reset_by'] == 'customer' %}
    <p class="TextMarked" id="you-edited-deal-last">Вы изменили условия сделки.
        {% if deal['type_ident'] == 'T' %}
            Продавцу
        {% else %}
            Исполнителю
        {% endif %}
        ({{ contractor['email'] }}) отправлено уведомление.</p>
{% elseif is_last and data['confirm_reset_by'] == 'contractor' %}
    <p class="TextMarked" id="you-edited-deal-last">
        {% if deal['type_ident'] == 'T' %}
            Продавец
        {% else %}
            Исполнитель
        {% endif %}
        изменил условия сделки. Вам необходимо заново рассмотреть условия и подтвердить сделку.</p>
{% endif %}