{% if is_last %}
    {% if data['is_need_to_fill_civil_law_subject'] %}
            <p class="TextMarked TextMarked_info" id="your-civil-law-subject">Чтобы присоединиться к сделке укажите лицо, от имени которого будет проведена сделка.
            </p>
        {% if deal['deal_role'] == 'contractor' %}
            <p class="TextMarked TextMarked_info" id="your-civil-law-subject">Чтобы присоединиться к сделке укажите лицо, от имени которого будет проведена сделка и способ получения оплаты за
                {% if deal['type_ident'] == 'T' %}
                    товар.
                {% else %}
                    услугу.
                {% endif %}
            </p>
        {% endif %}
        <div id="FormAddCivilLawSubjectToDeal" class="dealFillDataForm"></div>
    {% else %}
        {% if not data['is_owner'] %}
            {% if deal['customer']['name'] %}
                <p class="TextMarked">Вы участвуете в сделке как {{ deal['customer']['name'] }}.</p>
            {% else %}
                <p class="TextMarked">Вы участвуете в сделке как {{ deal['customer']['fio'] }}.</p>
            {% endif %}
            {% if not deal['is_current_user_confirmed'] and not data['is_need_to_fill_delivery'] %}
                <p class="TextMarked TextMarked_info">Для согласования сделки Вам необходимо подтвердить ее.</p>
            {% endif %}
        {% endif %}
        {% if deal['contractor']['fio'] and deal['contractor']['civil_law_subject_id'] != null and deal['owner_role'] == 'customer' %}
            <p class="TextMarked" id="your-civil-law-subject-and-payment-method-last">
                {% if deal['type_ident'] == 'T' %}
                    Продавец
                {% else %}
                    Исполнитель
                {% endif %}
                будет участвовать в сделке как <strong>{{ deal['contractor']['fio'] }}</strong>.</p>
        {% elseif deal['contractor']['name'] and deal['contractor']['civil_law_subject_id'] != null and deal['owner_role'] == 'customer' %}
            <p class="TextMarked" id="your-civil-law-subject-and-payment-method-last">
                {% if deal['type_ident'] == 'T' %}
                    Продавец
                {% else %}
                    Исполнитель
                {% endif %}
                будет участвовать в сделке как <strong>{{ deal['contractor']['name'] }}</strong>.</p>
        {% endif %}
        {% if data['is_need_to_fill_delivery'] %}
            {% if data['is_owner'] %}
                <p class="TextMarked TextMarked_info" id="your-civil-law-subject">Заполните данные о доставке</p>
            {% endif %}
            <div id="FormAddDeliveryToDeal" class="dealFillDataForm"></div>
        {% endif %}
    {% endif %}
{% endif %}