{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}

<p class="TextMarked_grey" id='history-arbitrage-request-rejected'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    <span>Запрос
        {% if deal['type_ident'] == 'T' %}
            покупателя
        {% else %}
            заказчика
        {% endif %}
        на согласительную комиссию отклонен.</span>
</p>
