{% import 'macro/pageHelper.twig' as pageHelper %}

<p class="TextMarked_grey" id='history-arbitrage-request'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    <span>
        {% if deal['type_ident'] == 'T' %}
            Покупатель
        {% else %}
            Заказчик
        {% endif %}
        предложил решение спора: согласительная комиссия.</span>
</p>