{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}

<p class="TextMarked_grey" id='history-discount-request-accepted'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    <span>Вы подтвердили вариант решения спора: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей.</span>
</p>
