{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}

<p class="TextMarked_grey" id='history-discount-request'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    <span>
        {% if deal['type_ident'] == 'T' %}
            Покупатель
        {% else %}
            Заказчик
        {% endif %}
        предложил решение спора: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей.</span>
</p>
