{% import 'macro/pageHelper.twig' as pageHelper %}

<p class="TextMarked_grey" id='history-refund'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    <span>Было принято решение о полном возврате средств.</span>
</p>