{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}


{% if deal_type_ident == 'T' %}
    <p class="TextMarked_grey" id='history-refund-request-accepted'>
        <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
        <span>Вы подтвердили вариант решения спора: возврат товара.</span>
    </p>
{% else %}
    <p class="TextMarked_grey" id='history-refund-request-accepted'>
        <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
        <span>Вы подтвердили вариант решения спора: отказ от услуги.</span>
    </p>
{% endif %}
