{% import 'macro/pageHelper.twig' as pageHelper %}

<p class="TextMarked_grey" id='history-warranty-extensions'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    <span>Сделка продлена на {{ data['warranty_day'] }} дн.</span>
</p>