.CivilLawSubjectDataOverview {
  padding-bottom: 50px;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  justify-content: space-between;
  @media (max-width: @tablet) {
    flex-direction: column;
    padding-bottom: 30px;
  }

  .CivilLawSubjectDataOverview-Column {
    flex-basis: calc(585 / 1310 * 100%);
  }
  .CivilLawSubjectDataOverview-Column + .CivilLawSubjectDataOverview-Column {
    @media (max-width: 1300px) {
      flex-basis: 49%;
    }
    @media(max-width: @tablet) {
      margin-top: 16px;
    }
  }

  @import (multiple) "../atoms/InfoField";
  .InfoField {
    width: 100%;
    line-height: 1.2;
    .InfoField-Label {
      max-width: 156px;
      @media (max-width: @mobile) {
        max-width: 100%;
      }
    }
  }
}