  .Comment {
    line-height: 21px;
    color: @_New_text-color;

    .comment-view-block {
      display: flex;
      align-items: flex-start;
    }

    @import (multiple) "../atoms/Avatar";
    .Comment-Avatar {
      width: 80px;
      min-width: 80px;
      height: 80px;
      margin-right: 20px;
      @media (max-width: @tablet) {
        display: none;
      }
        .Avatar {
          width: 100%;
        }
    }

    .Comment-Field {
      border-radius: @border-radius;
      border: 1px solid @border-color;
      flex: 1;
      background-color: @bg-gray-color;
      padding: 10px 12px 21px 12px;
      @media (max-width: @tablet) {
        flex-grow: 1;
      }
      .Head {
        font-weight: bold;
        margin-bottom: 5px;
        min-height: 21px;
        span {
          display: inline-block;
        }
        span:nth-child(1) {
          float: left;
        }
        span:nth-child(2) {
          float: right;
        }
      }
      .Text {

      }
    }
    .Comment-ActionButton {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      @media (max-width: @tablet) {
        padding: 10px;
        margin: 0;
      }
      a.RightText {
        position: relative;
        padding-left: 27px;
        color: @_New_text-color;
        display: block;
        &:before {
          content: '';
          position: absolute;
          display: block;
          height: 16px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background-size: contain;
        }
      }
      a.RightText:hover {
        color: rgba(66, 81, 96, .8);
      }
      .RightText:first-child {
        margin-bottom: 10px;
      }
      .EditIcon {
        &:before {
          width: 18px;
          background: url(../../../img/edit-icon-grey.svg) no-repeat center;

        }
      }
      .DeleteIcon {
        &:before {
          width: 18px;
          background: url(../../../img/delete-basket.svg) no-repeat center;
        }
      }
    }
  }
  .Comment + .Comment {
    margin-top: 30px;
  }
