
@import (multiple) "../components/Spoiler";
.Conditions {
  max-width: 800px;
  background-color: #fff;
  border: 1px solid @border-color-deal-card;
  border-radius: 3px;
  @media (max-width: @grid-breakpoint-sm) {
    max-width: none;
  }
  .Conditions-Head {
    position: relative;
    background-color: #333F52;
    //text-transform: uppercase;
    line-height: 16px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    width: 100%;
    padding: 10px 12px;
    border-radius: 3px 3px 0 0;
    @import (multiple) "../atoms/ButtonAdd";
    @media (max-width: @grid-breakpoint-lg){
      padding: 6px 12px;
      line-height: 24px;
      font-size: 18px;
    }
    //@media (max-width: @grid-breakpoint-md) {
    //  padding: 17px 25px 17px 10px;
    //}
    @media (max-width: @grid-breakpoint-sm) {
      //padding: 7px 10px 5px 10px;
      font-size: 14px;
      font-weight: normal;
    }
    .ButtonAdd {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      background-color: transparent;
      &:before, &:after {
        width: 10px;
        height: 10px;
        background: url('../../../img/SelectArrowWhite.svg') no-repeat;
        background-size: cover;

      }
      @media (max-width: @grid-breakpoint-sm) {
        display: block;
        cursor: pointer;
      }
    }
  }
  .Conditions-Content {
    width: 100%;
    //padding: @indent;
    //padding-bottom: 70px;
    padding: 21px 16px 70px;
    table {
      width: 100%;
      margin-bottom: @grid-vertical-gutter * 2;
      color: @_New_text-color;
      display: block;
      @media (max-width: 1700px) {
        margin-bottom: 20px;
      }
      tbody {
        display: block;
      }
      tr {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        @media (max-width: @small) {
          display: block;
        }

        &.full-width{
          td {
            width: 100%;
          }
        }

        > td {
          display: inline-block;
          @media (max-width: 1700px) {
            padding-bottom: 0;
            line-height: 22px;
          }
          @media (max-width: @small) {
            display: block;
          }

          &:first-child {
            flex-grow: 1;
          }

        }
        > .Label {
          font-weight: 500;
        }
        > .Value {
          font-weight: 300;
        }
      }
    }
    table:last-child {
      margin-bottom: 0;
    }
    @media (max-width: 1700px) {
      padding: 25px 10px;
    }
    @media (max-width: @grid-breakpoint-lg){
      padding: 20px 14px;
    }
    .Conditions_important {
      @media (max-width: 1700px) {
        tr {
          padding-bottom: 10px;
          td {
            padding-bottom: 0;
          }
          td.Label {
            margin-right: 10px;
          }
        }
      }

    }
    .ConditionsDescriptions {
      tr {
        td {
          line-height: 18px;
        }
      }
    }
    .DealSum {
      tr {
        @media (max-width: 1700px) {
          padding-bottom: 10px;
        }
        td.Label {
          @media (max-width: 1700px) {
            padding-bottom: 0;
          }
        }
      }

    }
  }
  .ConditionSumTable {
    table:not(:last-child) {
        margin-bottom: 6px;
    }
  }
  table.ConditionsSumFinished {
    width: 100%;
    display: block;
    tbody {
      display: block;
    }
    tr {
      display: flex;
      flex-wrap: wrap;
      line-height: 21px;
      font-size: 14px;
      background-color: #F1F4F8;
      > td {
        padding: 8px 16px;
        font-weight: 600;
        @media (max-width: 1700px) {
          padding: 8px 10px;
        }
        @media (max-width: @grid-breakpoint-lg) {
          padding: 12px 14px;
        }
        &:first-child {
          flex-grow: 1;
        }
      }
    }
  }
}
.Conditions.Spoiler {
  .Spoiler-Hidden {
    max-height: none;
    @media(max-width: @grid-breakpoint-sm) {
      max-height: 0;
    }
  }
}
