.date_picker_before {
  cursor: pointer;
  padding-left: 3em;
  background-image: url(../../../../img/calendar-icon.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 5% 50%;
  position: absolute;
  top: 31px;
  left: 10px;
  width: 20px;
  height: 20px;
}

.date_picker {
  cursor: pointer;
  background: linear-gradient(#F2F4F7, #FFFFFF);
  padding-left: 3em !important;
  color: transparent;
  text-shadow: 0 0 0 @text-color;

  &:focus {
    outline: none;
  }
}

.date_picker_after {
  pointer-events: none;
  cursor: pointer;
  background-image: url(../../../../img/SelectArrowGrey.svg);
  top: 37px;
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 50% 50%;
  position: absolute;
  right: 10px;
}