.DateStampPlate {
  .DateStampPlate-Row {
    @media (max-width: @tablet) {
      display: flex;
    }
    @media (max-width: @mobile) {
      flex-direction: column;
    }

    @import (multiple) "DateStamp";

    .DateStamp {
      width: 204px;
      @media (max-width: @large) {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
      }
      @media (max-width: @tablet) {
        padding: @indent;
        font-size: 16px;
      }
      @media (max-width: @mobile) {
        font-size: 14px;
        padding: 18px 64px 18px 10px;
      }
    }
    .DateStamp + .DateStamp {
      margin-left: 46px;
      @media (max-width: @large) {
        margin-left: auto;
        margin-top: 26px;
      }
      @media (max-width: @tablet) {
        margin-top: 0;
        margin-left: 46px;
      }
      @media (max-width: @mobile) {
        margin-top: 26px;
        margin-left: 0;
      }
    }
  }
  .DateStampPlate-Row  + .DateStampPlate-Row {
    margin-top: 46px;
    @media (max-width: @large) {
      margin-top: 26px;
    }
  }
}