.DateStamp {
  position: relative;
  display: inline-block;
  padding: 18px 64px 18px 10px;
  background-color: @bg-gray-color;
  border-radius: @border-radius;
  font-size: 14px;
  color: #c7c7c9;
  width: 204px;

  @import (multiple) "../atoms/IconCalendar";
  .IconCalendar {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
  }
  .DateStamp-Date {
    margin-bottom: 12px;
    font-weight: 400;
    min-height: 19px;
  }
  &.active {
    background-color: @accent-color;
    color: #ffffff;
    .IconCalendar {
      background-image: url(../../../img/calendar-icon-active.png);
    }
  }
}