.DealAgentsDataPlate {
  padding: 0;
  @media (max-width: @grid-breakpoint-sm) {
    padding-top: @grid-vertical-gutter;
  }

  .DealAgentsDataPlate-Agent {
    padding-top: @grid-vertical-gutter * 4;
    @media (max-width: @grid-breakpoint-xs) {
      padding-top: @grid-vertical-gutter * 3;
    }

    @import (multiple) "../components/TableDefault";

    @import (multiple) "../atoms/TitleBlue";
    .TitleBlue {
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      > span {
        display: inline-block;
        &:last-child {
          font-size: 14px;
          font-weight: 400;
          color: @text-light-grey-color;
          white-space: nowrap;
        }
      }
    }

    @import (multiple) "../atoms/InfoField";
    .InfoField-Label {
      margin-bottom: @grid-vertical-gutter;
      font-weight: 500;
    }
    .InfoField {
      display: flex;
      flex-direction: column;
      padding: 6.5px 12px;
      min-height: 36px;
      line-height: 20px;
      border-radius: @border-radius;
      border: 1px solid @border-color;
      margin-bottom: @grid-vertical-gutter;
      &:last-child {
        margin-bottom: 0;
      }
      .InfoField-Text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: none;
        @media (max-width: @large) {
          display: block;
          max-width: 100%;
        }
        @media (max-width: @mobile) {
          white-space: normal;
          text-overflow: clip;
        }
        a {
          font-weight: 500;
        }
      }
    }

  }

  .DealAgentsDataPlate-Agent:first-child {
    @media (max-width: @grid-breakpoint-xs) {
      padding-top: @grid-vertical-gutter *2;
    }
  }

  .Conditions-Head {
    display: none;

    @media (max-width: @grid-breakpoint-sm) {
      display: block;
    }

  }

  .Conditions {
    border-width: 0;
  }

  .Conditions-Content {
    padding: 0;
  }

}

//Table for operator
.payment-orders-table {
  .DealAgentsDataPlate-Agent {
    .TitleBlue {
      @media (max-width: @grid-breakpoint-lg) {
        flex-direction: column;
        align-items: flex-start;
        > span:first-child {
          margin-bottom: @grid-vertical-gutter;
        }
      }
    }

    .TablePaymentOrders {
      width: 100%;

      tr:first-child {
        background: linear-gradient(to top, #f7f8f9, #fff);
        td {
          text-align: left;
          font-weight: 500;
        }
      }

      tr {
        border-bottom: 1px solid #C5D0DE;
        td {
          padding: 23px 4px;
          text-align: center;
          vertical-align: middle;
          @media (max-width: @grid-breakpoint-sm) {
            text-align: left;
          }
        }
        &:not(:first-child) {
          color: @text-light-grey-color;
        }
      }

      @import (multiple) "../atoms/LinkSort";
    }
  }
}
