.DealControl {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  @import (multiple) "../atoms/TitleBlue";
  @import (multiple) "../atoms/TextMarked";
  @import (multiple) "../atoms/dpd-delivery-order-info";
  @import (multiple) "../components/LinkWithIcon";
  @import (multiple) "../atoms/ButtonApply";
  @import (multiple) "../atoms/ButtonEdit";
  @import (multiple) "../atoms/ButtonRefuse";
  @import (multiple) "../organisms/FormAcquiringMandarinPay";

  .ButtonApply{
    max-width: none;
  }

  @import (multiple) "../organisms/payment-info";
  .TextMarked {
    padding-left: 0;
    line-height: 24px;
    margin-top: 12px;
    @import (multiple) "../atoms/info-link";
    &:before {
      display: none;
    }
  }

  @import (multiple) "../atoms/InfoField";
  .InfoField {
    margin-top: 0;
    padding: 0 10px;
    margin-bottom: 12px;
    line-height: 16px;
    background: transparent;
    .track-info {
      overflow: hidden;
      text-overflow: ellipsis;
      .track-info_date {
      }
      .track-info_number {
        margin-left: 16px;
        color: #09C199;
      }
    }
  }
  .track-number-list {
    .track-number-list__title {
      margin-bottom: 12px;
    }
    .InfoField {
      padding: 0;
    }
  }

  .DealControl-Body {
    margin-bottom: @grid-vertical-gutter;
    .DealControl-Info {
      margin-bottom: @grid-vertical-gutter * 2;

      .TitleBlue {
        margin-bottom: @grid-vertical-gutter * 2;
        @media (max-width: @grid-breakpoint-lt){
          display: none;
        }
      }

      .dealFillDataForm{
        .civil-law-subject{
          margin-bottom: 0;
        }

        .ButtonsRow [class*="Button"] {
          margin-top: 0;
        }

        .delivery-column{
          & > .Input-Group-Wrapper {
            margin-bottom: 0;
          }
        }

      }
      .FormLabelTop {

        margin: 0;
        //Убрать после переноса всех элементов на сетку
        .ButtonApply,
        .button-grey,
        .ButtonDelete,
        .ButtonAccept,
        .ButtonRefuse {
          width: 100%;
        }

        .Input-Wrapper{
          .Preloader{
            display: block;
          }
        }

      }
      .dealFillDataForm {
        margin-top: @grid-vertical-gutter * 2;

        @import (multiple) "../components/flex";
        
        .grid-row {
          width: 100%;
          //margin-bottom: @vertical-indent;
        }
        .grid-col-4 {
          width: 100%;
        }
        .grid-col-2 {
          width: 50%;
          max-width: 288px;
          @media (max-width: @mobile) {
            width: 100%;
            max-width: none;
          }
        }
        .grid-col-1 {
          width: 25%;
          @media (max-width: @mobile) {
            width: 50%;
          }
        }
        .grid-col-4:first-child .grid-col-2 {
          margin-bottom: 5px;
        }
      }

      p {
        font-size: 14px;
      }
      strong {
        font-weight: 500;
      }

      p + p {
        margin-top: 12px;
      }

      .InfoField {
        strong {
          font-weight: bold;
        }
      }

      .DealControl-Hints {
      }
      .TextMarked_info + .TextMarked:not(.TextMarked_info) {
        //margin-top: 24px;
      }

      .FormTrackNumber {
        margin-top: 20px;
        margin-bottom: 24px;
        .FormTrackNumber__title {
          margin-bottom: 8px;
        }
        form {
          margin-bottom: 0;
        }
      }
      .track-number-list {
        margin-top: 20px;
        margin-bottom: 24px;
      }
    }
    .DealControl-Buttons {
      display: flex;
      flex-direction: column;
      //Убираем отступ между инлайн-блоками
      font-size: 0;
      @import (multiple) "../atoms/icon-info-blue";


      #dealFillDataButton {
        display: none;
      }
      .DealControl-Button {
        display: inline-block;
        margin-bottom: @grid-vertical-gutter;
        padding: 7px 5px;
        line-height: 20px;
        font-size: 14px;
        max-width: 288px;
        &:last-child {
          margin-bottom: 0;
        }
        @media (max-width: @grid-breakpoint-md) {
          white-space: normal;
          max-width: none;
        }

      }
      .DealControl-Link {
        display: inline-block;
        font-size: 14px;
        position: relative;
        text-align: center;
        &:last-child {
          margin-bottom: 0;
        }
        @media (max-width: @grid-breakpoint-lg) {
          text-align: left;
          &:last-child {
            margin-right: 0;
          }
        }
        @media (max-width: @desk) {
          margin-bottom: 0;
        }
        @media (max-width: @tablet) {
          white-space: normal;
          //bottom: 0;
        }
        @media (max-width: @mobile) {
          margin-bottom: @indent;
          bottom: 0;
        }
        @media (max-width: @grid-breakpoint-xs) {
          max-width: none;
          width: 100%;
          //bottom: 0;
        }
      }
      form:first-child {
        @media (max-width: @tablet) {
          margin-top: @indent;
        }
        .DealControl-Button {
          margin-top: 0;
        }
      }
    }
  }

  .DealControl-Hints {
    @import (multiple) "../atoms/icon-info-blue";
  }

  .DealControlDispute {
    padding: 0 0 @grid-vertical-gutter*2 0;
    @import (multiple) "../atoms/SubTitle";
    .DealControlDispute-Descriptions {

      .TitleBlue {
        @media (max-width: @grid-breakpoint-sm) {
          margin-bottom: @grid-vertical-gutter;
        }
      }

      .Problem-Descriptions {

        textarea, .Problem-Descriptions_view {
          width: 100%;
          min-height: 177px;
          white-space: pre-line;
          padding: 10px;
          line-height: 24px;
          border-radius: @border-radius;
          border: 1px solid @border-color;
        }
        textarea {
          resize: vertical;
        }
        .Problem-Descriptions_view {
          background-color: #FAFBFC;
        }
      }
      .DealControlDispute-Buttons {
        display: flex;
        justify-content: flex-start;
        @media (max-width: @grid-breakpoint-sm) {
          flex-direction: column;
          max-width: none;
          width: 100%;
        }
        button, a {
          margin: @grid-vertical-gutter*2 16px 0 0;
          padding: 7px 5px;
          &:last-child {
            margin-right: 0;
          }
          @media (max-width: @grid-breakpoint-sm) {
            margin: @grid-vertical-gutter 16px 0 0;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .SolutionRequests {
      max-width: 320px;
      @media (max-width: @grid-breakpoint-lg) {
        margin-top: 12px;
      }
      @media (max-width: @grid-breakpoint-sm) {
        max-width: none;
      }
      @import (multiple) "../components/SelectImitation";
      .SelectImitation {
        .SelectImitation-Container {
          .SelectImitation-Menu {
            top: 97%;
          }
        }
      }

      @import (multiple) "../components/FormLabelTop";
      .FormLabelTop {
        .Input-Wrapper {
          margin-bottom: @grid-vertical-gutter*2;
          label {
            font-size: 14px;
            margin-bottom: 6px;
            font-weight: 400;
            text-transform: none;
            color: #354052;
          }
          select, input {
            border-color: @border-color;
          }
        }
        .ButtonsRow {
          padding: 0;
        }
        .ButtonApply, .ButtonRefuse {
          margin-top: 0;
          padding: 8px 5px;
          text-transform: none;
          font-weight: 500;
        }
        .FormErrors {
          margin-top: @indentSmall;
        }
      }

      .SolutionRequests-Status {
        padding-top: @grid-vertical-gutter*2;
        @import (multiple) "../atoms/InfoField";
        .InfoField {
          padding: 6.5px 12px;
          min-height: 36px;
          margin-bottom: 10px;
          border-radius: @border-radius;
          border: 1px solid @border-color;
        }
        .SolutionRequests-StatusInfo {
          margin-bottom: @grid-vertical-gutter;
        }
        .ButtonsRow {
          [class*="col-"] {
            @media (max-width: @grid-breakpoint-sm) {
              margin-bottom: @grid-vertical-gutter;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
  #DisputeRequests {
    visibility: hidden;
  }
  .DealControl-Bottom {

    > div {
      margin-bottom: @grid-vertical-gutter;
    }

    @import (multiple) "../components/Spoiler";
    @import (multiple) "../components/FormInline";
    @import (multiple) "../molecules/payment-warning";

    .deal-pay-form {
      display: inline-block;
    }

    .AccentLink {
      display: inline-block;
    }
    .FormInline {
      .Input-Wrapper {
        .Input-Container {
          input {
            height: auto;
            line-height: 20px;
            padding: 7px 13px;
          }
        }
        .InputFile {
          .InputFile-Container {
            mark {
              height: auto;
              line-height: 20px;
              padding: 7px 13px;
            }
          }
        }
      }
      .ButtonApply {
        margin-top: 0;
        padding-top: 7px;
        padding-bottom: 7px;
        line-height: 20px;
        font-size: 12px;
        text-transform: none;
      }
    }
    .Spoiler {
      .Spoiler-Hidden {
        .Spoiler-Body {
          padding-bottom: 0;
          .InfoField {
            padding: 0;
            max-width: 577px;
            overflow: hidden;
            text-overflow: ellipsis;
            a {
              max-width: 100%;
            }
          }
          .ButtonApply {
            padding: 7px 5px;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
    .Spoiler + .Spoiler {
      @media (max-width: @mobile) {
        margin-top: @indent;
      }
    }
    .Spoiler + .LinkWithIcon {
      margin-top: 30px;
    }

    #deal-pay-by-card-form {
      display: none;
    }
  }
  #MandarinPaymentStatusProcessing {
    visibility: hidden;
  }
}
