.delivery-info-wrapper {
  display: flex;
  margin-top: 12px;
  max-width: 608px;
  justify-content: space-between;
  @media (max-width: @desk) {
    flex-direction: column;
  }

  .delivery-info {
    max-width: 288px;
    background-color: #F2F4F7;
    border: 1px solid #C5D0DE;
    border-radius: 4px;
    color: #4F4F4F;
    padding: 0 16px 0 12px;
    &:last-child {
      @media (max-width: @desk) {
        margin-top: 20px;
      }
    }
    &:first-child {
      margin-right: 32px;
    }

    .delivery-info-row {
      padding: 12px 0 8px 0;
      &:not(:last-child) {
        border-bottom: 1px solid #C5D0DE;
      }
    }
    .delivery-info-row-title {
      font-weight: 700;
    }
  }

  .Title {
    font-size: 18px;
  }
}

.Title-block {
  display: flex;
  justify-content: space-between;
  max-width: 450px;
}

.show-map {
  color: #1991EB;
  cursor: pointer;
}

.delivery-info-header {
  display: flex;
  margin-top: 12px;
  max-width: 450px;
  justify-content: space-between;

  @import (multiple) "../organisms/dpd-postamats";
}

.reception-point {
  margin: 8px 0 11px 0;
  padding: 12px;
  border: 1px solid #C5D0DE;
  border-radius: 4px;
  max-width: 450px;
}

.package-status {
  background-color: #F2F4F7;
  padding: 0 11px 11px 11px;
  border: 1px solid #C5D0DE;
  border-radius: 4px;
  max-width: 607px;
  margin-top: 13px;
}

.tracking-number {
  margin-left: 30px;
}