.DisputeMethod {
  display: none;
  max-width: 490px;
  width: 100%;

  @import (multiple) "../atoms/TitleBlue";

  p {
    margin-bottom: @indent;
  }

  @import (multiple) "../atoms/ButtonApply";
  .ButtonApply {
    width: 100%;
    max-width: 100%;
    white-space: normal;
    margin-top: 45px;
    @media (max-width: @mobile) {
      margin-top: @indentBig;
    }
  }

  .MarginTop0 {
    margin-top: 0;
  };

  @import (multiple) "../atoms/InfoField";

  .FormAdd {
    margin-bottom: @indent;
    label {
      display: inline-block;
      font-weight: 500;
      margin-right: 10px;
    }
    input {
      display: inline-block;
      max-width: 78px;
      line-height: 14px;
      padding: 10px;
      border-radius: @border-radius;
      border: 1px solid @border-color;
      -moz-appearance:textfield;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button{
        -webkit-appearance: none;
      }
    }
    .FormError {
      color: @red-color;
      font-size: 14px;
    }
  }
  .DisputeMethod-Payments {
    margin-top: @indent;
  }
  @import (multiple) "../components/Spoiler";
  @import (multiple) "../components/FormNew";
  @import (multiple) "../atoms/TextImportant";
}
.DisputeMethod.active {
  display: block;
}