.DoubleInputDate {
  display: flex;
  width: 100%;
  //width: 245px;
  @import (multiple) "../atoms/InputDate2";
  .InputDate2 {
    width: 50%;
    display: inline-block;
    padding-left: 10px;
    @media (max-width: 1600px) {
      max-width: 150px;
    }
  }
  .InputDate2:first-child {
    border-radius: @border-radius 0 0 @border-radius;
  }
  .InputDate2:last-child {
    border-radius: 0 @border-radius @border-radius 0;
  }
}