.FieldEditable {
  position: relative;
  max-width: 546px;
  display: flex;
  margin-bottom: 24px;
  padding-right: 46px;
  @media (max-width: @mobile) {
    padding-right: 0;
    margin-bottom: 16px;
  }

  @import (multiple) "InfoFieldStatus";

  .FieldEditable-Button {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: transparent;
    border-radius: @border-radius;
    padding: 7px 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    @media (max-width: @mobile) {
      height: auto;
      top: 0;
      padding: 10px 10px 10px 0;
    }

    @import (multiple) "../atoms/IconEdit2";
    .IconEdit2 {
      width: 20px;
      height: 20px;
    }
  }
}

.FieldEditable:last-child {
  margin-bottom: 0;
}