
.filter-tab-input {
  display: none;
  position: absolute;
}

.filter-mobile-date-window {
  display: none;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
}
#filter-tab-date:checked ~ .DoubleInputDate-Wrap {
  display: flex;
}

