tr.FilterRowButtonMobile {

  @import (multiple) "../atoms/ButtonEdit";
  @import (multiple) "../atoms/ButtonApply";
  display: none;
  border: none;

  &:nth-child(even) {
    background-color: #ffffff;
  }
  @media (max-width: @grid-breakpoint-md) {;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: @grid-vertical-gutter 16px;
  }

  > td {
    padding-top: 0;
    padding-bottom: 0;
    @media (max-width: @grid-breakpoint-md) {
      display: block;
    }
  }
  > td:first-child {
    @media (max-width: @grid-breakpoint-md) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .FilterColButton {
    @media (max-width: @grid-breakpoint-md) {
      width: auto;
      padding: 0;
    }
    .FilterButton {
      @media (max-width: @grid-breakpoint-md) {
        width:48%;
        max-width: none;
      }
    }
  }
  .wrap {
    position: relative;
    display: flex;
    width: 100%;
    @media (max-width: @grid-breakpoint-md) {
      width: 48%;
    }

    .FilterButton {
      @media (max-width: @grid-breakpoint-md) {
        width: 100%;
      }
    }
    button {
      min-height: 36px;
      min-width: 36px;
      background-image: url("../../../img/filter-clear-button.svg");
      background-size: cover;
    }
  }
  .ButtonApply, .FilterButton {
    //padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
  }
  .ButtonApply {
    @media (max-width: @grid-breakpoint-md) {
      //margin-right: @indent;
      width: 100%;
      max-width: none;
      margin-bottom: @grid-vertical-gutter;
    }
  }
  //.FilterButton {
  //  @media (max-width: @grid-breakpoint-sm) {
  //    width: 48%;
  //  }
  //}
  .SortButton {
    display: none;
    @media (max-width: @grid-breakpoint-md) {
      display: block;
    }
  }

  .FilterColButton {
    display: flex;
    justify-content: space-between;
  }
  .button-with-clear.clear {
    text-align: left;
  }
}
.FilterRowButtonMobile:hover {
  background-color: transparent;
  box-shadow: none;
}
