//@import (multiple) "../atoms/ButtonEdit";

& > tbody > tr.Head {

  //@import (multiple) "../atoms/head-of-element";
  //& > td.head-of-element {
  //  display: none;
  //  border-bottom: none;
  //  @media (max-width: 767px) {
  //    display: block;
  //    &:before {
  //      display: none;
  //    }
  //  }
  //}

  @media (max-width: 767px) {
    //display: none;
    //position: fixed;
    //z-index: 1000;
    //left: 0;
    //top: 40px;
    //bottom: 0;
    //overflow-y: scroll;
    //padding-left: 0;
    //width: 100%;
    //background-color: transparent;
    //max-width: none;
    td {
      //min-height: 36px;
      //padding: @padding-inside-element_y @padding-inside-element_x;
      //padding-left: 30px;
      //background-color: transparent;
      //color: @table-text-color;
      //border-bottom: 1px solid @border-color;
      //a.LinkSort {
      //  display: block;
      //  padding-left: 4px;
      //  .LinkSort-Icon {
      //    padding: 0;
      //    height: 12px;
      //    width: 12px;
      //    background-position: center;
      //  }
      //}
      //&:before {
      //  content: "";
      //  display: block;
      //  width: 12px;
      //  height: 12px;
      //  position: absolute;
      //  right: 8px;
      //  top: 50%;
      //  transform: translateY(-50%);
      //  background: url(../../../img/sort-not-check.svg) no-repeat;
      //}
    }






  }

//  .ButtonApply.button-for-filter,
//  .ButtonEdit.button-for-filter {
//    display: none;
//    padding: @padding-inside-element_y @padding-inside-element_x;
//    height: auto;
//    width: 48%;
//    @media (max-width: 767px) {
//      display: inline-block;
//    }
//  }
//
//}
//& > tbody > tr.Head.active {
//  @media (max-width: 767px) {
//    display: block;
//  }
//}
//
//& > tbody > tr.Head.close {
//  @media (max-width: 767px) {
//    display: none;
//  }
}

