& > tbody > tr.FilterTableRow {

  @import (multiple) "../atoms/InputSearch";
  @import (multiple) "../atoms/InputDate2";
  @import (multiple) "DoubleInputDate";
  @import (multiple) "../atoms/ButtonApply";
  @import (multiple) "../atoms/ButtonEdit";

  background-color: transparent;
  border-top: none;
  border-bottom: none;
  //Переопределяем hover для строки фильтров
  &:hover {
    background-color: #fff;
    box-shadow: none;
    border-top: none;
  }

  @media (max-width: @grid-breakpoint-md) {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    padding: 0 0 @grid-vertical-gutter*2 0;
    width: 100%;
    max-width: none;
    background-color: #ffffff;
  }
  @media (max-width: @grid-breakpoint-sm) {
    top: 65px;
  }

  a {
    color: @table-text-color;
  }

  & > td {
    padding-top: 0;
    padding-left: 4px;
    padding-right: 4px;
    @media (max-width: @grid-breakpoint-md) {
      display: block;
      width: 100%;
      padding: 0;
    }

    &:first-child {
      width: 164px;
      @media (max-width: @grid-breakpoint-lt) {
        width: 181px;
      }
      @media (max-width: @grid-breakpoint-md) {
        display: none;
      }
      //Кнопка добавления
      .ButtonApply {
        padding: 10px 10px;
        text-transform: capitalize;
        text-align: center;
        min-width: 128px;
        width: 128px;
        margin-bottom: 0;
      }
    }
    //&:last-child {
    //  padding-right: @indent;
    //  text-align: left;
    //}

    &.col-name {
      width: 35%;
      @media (max-width: @grid-breakpoint-md) {
        width: 100%;
      }
    }


    input, select, textarea {
      width: 100%;
      color: @table-text-color;
      border: 1px solid @border-color;
      height: 40px;
      margin-top: 0;
      margin-bottom: 0;
      background-color: @_New_most-light-grey-color;
      &::placeholder {
        font-style: italic;
        font-weight: 300;
        color: @placeholder-color;
        font-size: 14px;
      }
      @media (max-width: @grid-breakpoint-md) {
        width: 100%;
        height: auto;
        min-height: 36px;
        padding: @padding-inside-element_y @padding-inside-element_x;
        background-color: #ffffff;
        color: @table-text-color;
        border: 0;
        border-bottom: 1px solid @border-color;
        border-radius: 0;
        &::placeholder {
          font-style: italic;
          font-weight: 300;
          color: @placeholder-color;
          font-size: 14px;
        }
      }
    }

    input.InputSearch {
      @media (max-width: @grid-breakpoint-md) {
        background: none;
      }

    }
      label.filter-tab {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    .DoubleInputDate {
      @media (max-width: @grid-breakpoint-md) {
        //display: none;
        width: auto;
        flex-direction: column;
        padding: @padding-inside-element_y @padding-inside-element_x;
        border-bottom: 1px solid @border-color;
      }
      .Head {
        display: none;
        //Это стили от placeholder
        font-style: italic;
        font-weight: 300;
        color: #C5D0DE;
        font-size: 14px;
        @media (max-width: @grid-breakpoint-md) {
          display: block;
        }
      }
      .test-modal-wrap {
        display: none;
        @media (max-width: @grid-breakpoint-md) {

        }
      }
      .DoubleInputDate-Wrap {
        display: flex;
        position: relative;
        width: 245px;
        @media (max-width: @grid-breakpoint-md) {
          display: none;
          position: fixed;
          z-index: 10001;
          overflow-y: scroll;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          flex-direction: column;
          justify-content: flex-start;
          background-color: #ffffff;
        }
        @media (max-width: @grid-breakpoint-sm) {
          top: 65px;
        }
        .head-of-element {
          display: none;
          @media (max-width: @grid-breakpoint-md) {
            display: block;
          }
        }
        .wrap-for-padding {
          display: flex;
          @media (max-width: @grid-breakpoint-md) {
            display: block;
            padding: 0 @indent;
          }
        }
        .ButtonsRow {
          display: none;
          @media (max-width: @grid-breakpoint-md) {
            display: flex;
            justify-content: space-between;
            padding: @grid-vertical-gutter*2 0;
          }
        }
        .datepicker-inline {
          padding: @indent 0;
          .datepicker {
            @media (max-width: @grid-breakpoint-md) {
              width: 100%;
            }
          }
        }
        .InputDate2 {
          @media (max-width: @grid-breakpoint-md) {
            max-width: none;
            width: 100%;
            padding: 8px;
            background-color: #ffffff;
            border: 1px solid @border-color;
            border-radius: 0;
          }
        }
        .InputDate2:nth-child(2) {
          border-radius: @border-radius 0 0 @border-radius;
          @media (max-width: @grid-breakpoint-md) {
            border-radius: 0;
          }
        }
      }

      .DoubleInputDate-Wrap.active {
        display: block;
      }
      .DoubleInputDate-Wrap.close {
        display: none;
      }
    }
  }

  // Chosen
  .chosen-container {
    font-size: inherit;
    min-width: 100%;
    .chosen-drop {
      border: 1px solid #cfcfcf;
    }
  }
  .chosen-container-single {
    .chosen-single {
      line-height: 38px;
      height: 40px;
      padding-left: 15px;
      border: 1px solid #cfcfcf;
      background-color: @_New_most-light-grey-color;
    }
    .chosen-default {
      color: #d7d7d8;
    }
  }
  .chosen-with-drop {
    .chosen-single {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

    }
    .chosen-drop {
      overflow: hidden;
      .chosen-results {
        margin: 0;
        padding: 0;
      }
    }
  }

  //Только для мобильной версии:

  //Заголовок
  @import (multiple) "../atoms/head-of-element";
  & > td.head-of-element {
    display: none;
    @media (max-width: @grid-breakpoint-md) {
      display: block;
    }
  }

  //Фильтр по дате
  @import (multiple) "../components/filter-mobile-date-window";

  //Кнопки:
  .ButtonApply.button-for-filter,
  .ButtonEdit.button-for-filter {
    display: none;
    @media (max-width: @grid-breakpoint-md) {
      display: inline-block;
      max-width: none;
    }
  }

  //Кнопка очистки (полей)
  & > td.buttons-wrap_filter-clear {
    display: none;
    border-bottom: 1px solid @border-color;
    padding: @grid-vertical-gutter*1 0;
    @media (max-width: @grid-breakpoint-md) {
      display: block;
    }
    .ButtonEdit.button-for-filter {
      width: 100%;
      max-width: none;
    }
  }

  //Кнопки запуска/сброса фильтра
  & > td.ButtonsRow {
    display: none;
    @media (max-width: @grid-breakpoint-md) {
      margin-top: @grid-vertical-gutter*3;
      display: block;
    }
  }

  //Стилизуем плагин Chosen для мобильного фильтра
  @media (max-width: @grid-breakpoint-md) {
    & > td.SelectChosen {
      border-bottom: 1px solid @border-color;
      .chosen-container {
        min-width: 100%;
        .chosen-single {
          border: none;
          padding: 0;
          background-color: #ffffff;
          span {
            margin-right: 0;
            padding: 0 35px 0 5px;
            font-style: italic;
            font-weight: 300;
            color: @placeholder-color;
            font-size: 14px;
          }
        }
        .chosen-drop {
          margin: 0;
        }
      }
    }
  }
}

//Отступ для выравнивания кнопки поиска относительно шапки
& > tbody > tr.FilterTableRow {
  & > td {
    &.button-search-wrap {
      padding-right: 16px;
      width: 56px;
      @media (max-width: @grid-breakpoint-lt) {
        padding-right: 48px;
        width: 88px;
      }
      @media (max-width: @grid-breakpoint-md) {
        padding-left: 0;
        display: none;
      }
    }
  }
}

& > tbody > tr.FilterTableRow.active {
  @media (max-width: @grid-breakpoint-md) {
    display: flex;
    flex-direction: column;
  }
}

& > tbody > tr.FilterTableRow.close {
  @media (max-width: @grid-breakpoint-md) {
    display: none;
  }
}

