.flex {
  display: flex;
  justify-content: space-between;
  //align-items: center;
  @media (max-width: @mobile) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.flex-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media (max-width: @mobile) {
    flex-direction: column;
  }
}
.flex-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @media (max-width: @mobile) {
    flex-direction: column;
  }
}