.FormLabelLeft {
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  background-color: #fff;
  font-size: 12px;
  color: #002b68;
  margin: 0 auto;

  @import "../atoms/ButtonApply";
  @import "../atoms/ButtonDelete";
  @import "../atoms/ButtonAccept";
  @import "../atoms/ButtonRefuse";
  @import "../atoms/InputDate";

  @import (multiple) "../atoms/TitleBlue";
  .TitleBlue {
    margin-bottom: 30px;
    @media (max-width: 480px) {
      margin-bottom: 10px;
    }
  }
  .Border-Wrapper{
    border: 1px solid #d8d8d8;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    max-width: 700px;
  }
  .Input-Wrapper {
    position: relative;
    margin-bottom: 25px;
    display: flex;
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
    @media (max-width: 480px) {
      margin-bottom: 5px;
    }
    label {
      flex-basis: 250px;
      color: @text-color;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: inherit;
      @media (max-width: 767px) {
        flex-basis: 100%;
      }
    }
    .LineHeightNormal {
      line-height: normal;
      @media (max-width: 767px) {
        margin-bottom: 5px;
        padding-top: 5px;
      }
    }

    input, select, textarea {
      flex-basis: 450px;
      border: 1px solid @border-color;
      background-color: #fff;
      max-width: 510px;
      line-height: 30px;
      padding: 0 13px;
      font-size: 12px;
      min-height: 32px;
      @media (max-width: 767px) {
        flex-basis: 100%;
        max-width: 750px;
      }
      @media (max-width: 480px) {
        flex-basis: 100%;
      }
      &::placeholder {
        color: #445155;
        opacity: 1;
      }
    }

    textarea {

    }

    @import "../atoms/InputFile";
    .InputFile {
      width: 100%;
      .InputFile-Container {
        flex-basis: 395px;
        border: none;
        background-color: #f7f7fa;
        position: relative;
        height: 30px;
        border-radius: 5px;
        max-width: 395px;
        line-height: 30px;
        font-size: 12px;
        min-height: 32px;
        @media (max-width: 767px) {
          flex-basis: 100%;
          max-width: 750px;
        }
        @media (max-width: 480px) {
          flex-basis: 100%;
        }
      }
      .InputFile-Delete {
      }
    }

    @import "../atoms/FormError";
    .FormError {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: right;
      @media (max-width: 767px) {
        text-align: left;
      }
      @media (max-width: 480px) {
        bottom: -4px;
        height: 7px;
      }
    }
  }

  .Input-Wrapper.hasHint {
    .Input-Hint {
      display: block;
      position: absolute;
      bottom: calc(~"100% + 2px");
      right: 0;
      color: @red-color;
      text-transform: lowercase;
      @media (max-width: 767px) {
        bottom: calc(~"100% - 30px");
        left: 0;
        right: auto;
      }
    }
    label {
      @media (max-width: 767px) {
        opacity: 0;
        visibility: hidden;
      }
    }
    input, select, textarea {
      border: 1px solid @red-color;
    }
  }
  .Input-Wrapper.valid {
    input, select, textarea {
      border: 1px solid @green-color;
    }
  }

  .LinkForm {
    display: block;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .LinksRow {
    margin-bottom: 30px;
    text-transform: uppercase;
    a:first-child {
      margin: 0 12px 8px 0;
      display: inline-block;
    }
    a {
      display: inline-block;
      font-style: italic;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .ButtonsRow {
    padding-top: 75px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 767px) {
      padding-top: 10px;
    }
    .margin-right {
      margin-right: 5px;
    }
  }
}