.FormPopupRouter {
  max-width: 780px;
  color: #2c3f51;
  box-sizing: border-box;
  text-align: left;
  background-color: #fff;
  font-size: 12px;
  margin: 0 auto;

  @import "../atoms/ButtonApply";
  @import "../atoms/ButtonDelete";
  @import "../atoms/ButtonAccept";
  @import "../atoms/ButtonRefuse";
  @import "../atoms/InputDate";

  @import (multiple) "../atoms/TitleBlue";
  .TitleBlue {
    margin-bottom: 50px;
    @media (max-width: @tablet) {
      margin-bottom: 30px;
    }
    @media (max-width: @small) {
      margin-bottom: 15px;
    }
  }

  @import (multiple) "../atoms/InfoField";
  .InfoField {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 28px 0;
    color: #2c3f51;
    font-weight: bold;
    @media (max-width: 768px) {
      padding: 14px 0;
    }
  }
  .ButtonsRow {
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 480px) {
      padding-top: 20px;
    }
    .margin-right {
      margin-right: 5px;
    }
  }

  @import "../atoms/InputFile";
  .InputFile-Container {
    border: none;
    mark {
      padding-left: 150px;
      padding-top: 1px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      text-transform: lowercase;
      color: #445155;
      font-size: 14px;
      font-weight: 300;
      position: relative;
      background-color: #f7f8f9;
    }
    input {
      position: absolute;
      top: 4px;
      opacity: 0;
      cursor: pointer;
      left: 2px;
      width: 100%;
    }
  }
  label {
    padding: 0;
    font-size: 14px;
  }
}
.js-item {
  cursor: pointer;
  user-select: none;
}
.js-item.active {
  color: #ffffff;
  background-color: @green-color;
}
.js-item.disabled {
  cursor: default;
  background-color: #f6f6f6;
  color: #e4e4e4;
}
.js-confirm.active {
  background-color: @red-color;
}