.FormPopup {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   z-index: 3;

   @import "../atoms/LinkAdd";
   @import "../atoms/ButtonApply";
   @import "../atoms/ButtonClose";
   @import "../components/FormLabelTop";
   
   .ButtonClose {
      // position: absolute;
      float: right;
      // top: 15px;
      // right: 15px;
   }

   .ButtonApply {
      position: relative;
      float: left;
      clear: both;
      margin-top: 30px;
   }
   
   .FormErrors,
   .FormMessages {
      position: relative;
      float: left;
      width: 100%;
      height: auto;
      font-weight: 500;
      padding: 20px;
      background-color: rgb(245,245,245);
      margin-top: 30px;
 
      p {
         position: relative;
         float: left;
         width: calc(~"100% - 3em");
      }
   }
   
   .FormErrors {
      color: red;
   }
   
   .FormMessage {
      color: green;
   }
 
}

.FormPopup-Container {
   position: absolute;
   padding: 3em;
   top: 6em;
   right: 6em;
   width: 640px;
   background-color: rgb(255,255,255);
   z-index: 1;
   -webkit-box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25);
           box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25);
}

.FormPopup-Bg {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(250,250,250, 0.85);
   z-index: 0;
}