.FormLabelTop.form-default {
  .Input-Wrapper {
    margin-bottom: @grid-vertical-gutter * 2;
    @media (max-width: @grid-breakpoint-sm) {
      margin-bottom: @grid-vertical-gutter;
    }
  }
}
.FormLabelTop {
  box-sizing: border-box;
  //margin: 0 auto;
  max-width: 670px;
  text-align: left;
  background-color: #fff;
  font-size: 12px;
  color: @text-dark-grey-color;
  @media (max-width: (@grid-breakpoint-md + 1)) {
    max-width: none;
  }

  @import (multiple) "../atoms/ButtonApply";
  @import (multiple) "../atoms/button-grey";
  @import (multiple) "../atoms/ButtonDelete";
  @import (multiple) "../atoms/ButtonAccept";
  @import (multiple) "../atoms/ButtonRefuse";
  @import (multiple) "../atoms/ButtonClose";
  @import (multiple) "../atoms/Preloader";
  @import (multiple) "../atoms/text-with-icon";
  @import (multiple) "../atoms/files-list";
  @import (multiple) "../atoms/control-enable-control";
  @import (multiple) "../atoms/form_string_label";
  @import (multiple) "../atoms/integration_request_link";
  @import (multiple) "../atoms/integration_icon";

  //.controllerSubjectAndMethod {
  //  display: flex;
  //  width: 100%;
  //  @media (max-width: @grid-breakpoint-sm) {
  //    display: block;
  //  }
  //}

  .ButtonApply,
  .button-grey,
  .ButtonDelete,
  .ButtonAccept,
  .ButtonRefuse {
    width: 100%;
  }

  .header {
    padding: 23px @grid-gutter-width-sm;
    background: @fill-grey-light;

    &:not(.header_partners) {
      @media (max-width: @grid-breakpoint-sm) {
        display: none;
      }
    }

    @media (max-width: @grid-breakpoint-sm) {
      padding-left: 8px;
      padding-right: 8px;
    }

    @import (multiple) "../atoms/Logo";

    .Logo {
      flex-direction: column;
      .Logo-Img {
        width: 39px;
        height: 25px;
        margin: 0 0 @grid-step 0;
        @media (max-width: @grid-breakpoint-sm) {
          margin: 0;
        }
      }
      .Logo-Text {
        width: 88px;
        height: 8px;
        margin-left: 0;
        background: url("../../../img/GUARANTPAY_small.svg");
        background-size: contain;
        @media (max-width: @tablet) {
          display: inline-block;
        }
      }

      .Logo__main {
        display: flex;
        width: 100%;
        align-items: center;

        .Logo-Img {
          width: auto;
          height: auto;
          margin-right: 16px;
        }

        .Logo__company-name {
          color: @text-color;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          font-size: 18px;
        }

      }

    }

    .Logo__company-requisites {
      color: @text-light-grey-color;
      font-style: normal;
      font-weight: normal;
      line-height: 24px;
      font-size: 12px;
      width: 100%;
      white-space: nowrap;

      @media (max-width: @grid-breakpoint-sm) {
        white-space: normal;
      }

    }

    .date-create {
      color: @text-light-grey-color;
      font-size: 14px;
      text-align: right;
      h3 {
        font-weight: 500;
      }
      p {
        font-weight: 300;
      }

      @media (max-width: @grid-breakpoint-sm) {
        display: none;
      }
    }
  }

  @import (multiple) "../atoms/head-of-element";
  .head-of-element {
    display: none;
    @media (max-width: @grid-breakpoint-sm) {
      display: block;
      margin-bottom: @vertical-indent;
    }

    &.head-of-element_partners {
      @media (max-width: @grid-breakpoint-sm) {
        margin-bottom: 0;
      }
    }

  }

  @import (multiple) "SelectImitation";
  .SelectImitation {
    margin-bottom: 0;
    label {
      margin-bottom: 12px;
    }
    .SelectImitation-Container {
      .SelectImitation-Text {
        border-radius: @border-radius;
        padding: 7px 12px;
        margin-bottom: 0;
        line-height: 20px;
        font-weight: 400;
      }
      .SelectImitation-Menu {
        position: static;
      }

    }
  }

  @import (multiple) "../atoms/TitleBlue";
  .TitleBlue {
    margin-bottom: @grid-vertical-gutter * 2;
    //padding-right: 2em;
  }

  .slug-input {
    margin-bottom: @grid-vertical-gutter * 4;
  }

  .deal-name-input {
    margin-bottom: @grid-vertical-gutter * 3;
  }

  .partner-button-form__delivery-period {
    margin-bottom: @grid-vertical-gutter * 4;

    @media (max-width: @grid-breakpoint-sm) {
      margin-bottom: @grid-vertical-gutter * 3;
    }

  }

  .Input-Group-Wrapper {
    margin-bottom: @grid-vertical-gutter * 4;
    @media (max-width: @grid-breakpoint-sm) {
      margin-bottom: @grid-vertical-gutter * 3;
    }
    .Input-Wrapper {
      margin-bottom: @grid-vertical-gutter;
    }

    @import (multiple) "../organisms/dpd-postamats";

    .form-info-message {
      margin-bottom: 0;
    }

  }

  .Input-Wrapper {
    position: relative;
    margin-bottom: @grid-vertical-gutter * 2;
    @media (max-width: @grid-breakpoint-sm) {
      margin-bottom: @grid-vertical-gutter;
    }

    @import (multiple) '../molecules/delivery-point';

    label {
      display: inline-block;
      margin: 0 0 8px 0;
      line-height: 16px;
      font-size: 14px;
      font-weight: 700;
      color: @text-dark-grey-color;
      &.label-double-indent {
        margin-bottom: 20px;
        @media (max-width: @grid-breakpoint-sm) {
          margin-bottom: @grid-vertical-gutter;
        }
      }
    }
    input, select, textarea {
      width: 100%;
      padding: 7px 12px;
      font-size: 14px;
      line-height: 20px;
      border: 1px solid @border-color;
      &::placeholder {
        color: @text-light-grey-color;
      }
      &:focus {
        border: 1px solid @accent-color;
      }
    }
    input {
      padding-right: 16px;
      &:disabled {
        //Чтобы перебить браузерные стили
        background-color: @New_fill-form-element !important;
        border-color: @border-color;
      }
    }
    select {
      background: @light-grey-gradient;
      min-height: 36px;
    }
    textarea {
      min-height: 133px;
      overflow-y: hidden;
      word-wrap: break-word;
      &:disabled {
        background-color: @New_fill-form-element !important;
        border-color: @border-color;
      }
    }

    @import (multiple) "../atoms/InputRadio";
    .row.InputRadio {
      align-items: center;
    }

    @import (multiple) "../atoms/InputDate";

    @import (multiple) "../atoms/InputFile";
    .InputFile {
      flex-wrap: wrap;
      .InputFile-Container {
        flex-basis: 100%;
      }
      .InputFile-Label {
        flex-basis: 100%;
      }
    }

    @import (multiple) "../components/SearchHints";
    .SearchHints {
      top: 64px;
    }

    @import (multiple) "../atoms/stroke-green";

    .hint {
      border: 1px solid @border-color;
      background-color: @bg-gray-color;
      padding: 5px;
      max-width: 100%;
      left: 0;
      margin-top: 10px;
      border-radius: @border-radius;
      .hint_header {
        font-weight: 500;
        margin-bottom: 4px;
        color: @accent-color;
      }
    }

    .hint.bs-callout-danger {
      .hint_header {
        color: @red-color;
      }
    }

    .form-group {
      &.has-success {
        input {
          border-color: @green-color;
        }
      }
      &.success {
        input {
          border-color: @green-color;
        }
      }
      &.has-error {
        input {
          border-color: @red-color;
        }
      }
      &.error {
        input {
          border-color: @red-color;
        }
      }
    }

    .FormLabelTop_textarea {
      textarea {
        background-color: #ffffff;
        height: 200px;
      }
    }
    .Input-Hint {
      display: none;
    }
  }

  .date-picker {
    margin-bottom: @grid-vertical-gutter * 2;

    &.Input-Wrapper.success, &.Input-Wrapper.error {
      input {
        background: none;
      }
    }

  }

  .captcha-unregistered-wrapper {
    overflow: hidden;
    margin: @grid-vertical-gutter*2 (@grid-gutter-width-lg / 2) 0;

    @media (max-width: @grid-breakpoint-md) {
      margin: @grid-vertical-gutter (@grid-gutter-width-md / 2) 0;
    }

    @media (max-width: @grid-breakpoint-sm) {
      margin: 0 (@grid-gutter-width-sm / 2);
    }

    .captcha-wrapper {
      max-width: 300px;
    }

  }

  .ButtonsRow {
    position: relative;
    margin-top: @grid-vertical-gutter * 2;

    &.ButtonsRow_form_deal {
      padding: 0 (@grid-gutter-width-lg / 2);

      @media (max-width: @grid-breakpoint-md) {
        padding: 0 (@grid-gutter-width-md / 2);
      }

      @media (max-width: @grid-breakpoint-sm) {
        padding: 0 (@grid-gutter-width-sm / 2);
      }

      .ButtonApply {
        max-width: 300px;
      }

    }

    @media (max-width: @grid-breakpoint-sm) {
      margin-top: 0;
    }
    [class*="col-"]:first-child {
      button,
      a {
        @media (max-width: @grid-breakpoint-sm) {
          margin-bottom: @grid-vertical-gutter;
        }
      }
    }
  }

  //Индивидуальные стили для строк согласно макета

  div:not(.Input-Group-Wrapper) .role-in-deal {
    .Input-Wrapper {
      margin-bottom: @grid-vertical-gutter*3;
      @media (max-width: @grid-breakpoint-sm) {
        margin-bottom: @grid-vertical-gutter;
      }
    }
  }

  @import (multiple) "../molecules/rules-agree";
  @import (multiple) "../molecules/i-know-receiver-address";
  .rules-agree {
    .Input-Wrapper {
      margin-bottom: 0;
      @media (max-width: @grid-breakpoint-sm) {
        margin-bottom: @grid-vertical-gutter * 3;
      }
    }
  }

  .messages {
    > div {
      @media (max-width: @grid-breakpoint-sm) {
        margin-bottom: @grid-vertical-gutter;
      }
    }
  }
  .row-fee-payer {
    .Input-Wrapper {
      margin-bottom: @grid-vertical-gutter;
      > label {
        margin-bottom: 20px;
      }
    }
  }

  .row-civil-law-subject-payment-method {
    margin-bottom: @grid-vertical-gutter * 2;

    .civil-law-subject.row, .payment-method {
      margin-bottom: 0;
    }

  }

  .civil-law-subject {

    &.row {
      margin-bottom: @grid-vertical-gutter * 2;
    }

    .button-container {
      display: flex;
      align-items: center;
    }

    .button-add-payment-method {
      margin-top: 24px;
    }
    .button-add-civil-law-subject, .button-add-payment-method {

      @media (max-width: @grid-breakpoint-md) {
        margin: 0 0 24px;
      }

      @media (max-width: @grid-breakpoint-sm) {
        margin-top: 0;
        margin-bottom: @grid-vertical-gutter * 2;
      }
      .text-with-icon {
        &:before {
          content: '';
          display: inline-block;
          background: url(../../../img/adduser_white.svg) no-repeat;
        }
      }
    }

    .button-add-payment-method {
      margin-top: 28px;
    }

    .Input-Wrapper {
      margin-bottom: @grid-vertical-gutter * 2;

      label {
        @media (min-width: (@grid-breakpoint-md + 1)) {
          white-space: nowrap;
        }
      }

    }

    .row-new-civil-law-subject {
      label {
        margin-bottom: @grid-vertical-gutter * 2;
      }
      .Input-Wrapper {
        @media (max-width: @grid-breakpoint-sm) {
          margin-bottom: @grid-vertical-gutter;
        }
      }
    }

    .form-add-civil-law-subject {
      .FormLabelTop {
        margin-bottom: @grid-vertical-gutter * 2;
        @media (max-width: @grid-breakpoint-sm) {
          margin-bottom: @grid-vertical-gutter ;
        }
        .Input-Wrapper {
          margin-bottom: @grid-vertical-gutter * 2;
          @media (max-width: @grid-breakpoint-sm) {
            margin-bottom: @grid-vertical-gutter;
          }
        }

        .ButtonClose,
        .TitleBlue {
          display: none;
        }
      }
    }

    .button_no_label {
      margin-top: @grid-vertical-gutter*2;

      .ButtonsRow .button-add-payment-method {
        margin-top: 0;
      }

      @media (max-width: @grid-breakpoint-md) {
        margin-top: 0;
      }

    }
  }
  .payment-method {
    margin-bottom: @grid-vertical-gutter*2;
    label.payment-method-label {
      display: inline-block;
      margin: 0 0 12px 0;
      line-height: 16px;
      font-size: 14px;
      font-weight: 700;
    }
    .ButtonsRow {
      margin: 0;
      .button-add-payment-method {
        text-decoration: none;
        margin-top: 24px;
        @media (max-width: @grid-breakpoint-md) {
          margin-top: 0;
          margin-bottom: @grid-vertical-gutter * 2;
        }
        &:before {
          display: none;
        }
      }
    }

    .form-add-payment-method {
      .FormLabelTop {
        margin-bottom: @grid-vertical-gutter * 2;
        @media (max-width: @grid-breakpoint-sm) {
          margin-top: @grid-vertical-gutter;
        }
        .TitleBlue {
          display: none;
        }
        .Input-Wrapper {
          margin-bottom: @grid-vertical-gutter * 2;
          @media (max-width: @grid-breakpoint-sm) {
            margin-bottom: @grid-vertical-gutter;
          }
          .note-red {
            position: relative;
          }

          label {
            @media (min-width: (@grid-breakpoint-sm + 1)) and (max-width: @grid-breakpoint-md) {
              white-space: nowrap;
            }
          }

        }
      }

    }
  }

  .col-email {
    .Input-Wrapper {
      margin-bottom: 0;
      label {
        display: block;
      }
      input {
        max-width: 448px;
        @media (max-width: @grid-breakpoint-sm) {
          width: 100%;
          max-width: none;
        }
      }
    }
  }

  //Wrap for form of deal create
  .form-content-wrap {
    padding: @grid-vertical-gutter*3 @grid-gutter-width-sm;
    @media (max-width: @grid-breakpoint-sm) {
      padding: 0 @grid-gutter-width-sm / 2 @grid-vertical-gutter*2 @grid-gutter-width-sm / 2;
    }
    .TitleBlue {
      @media (max-width: @grid-breakpoint-sm) {
        display: none;
      }
    }
    .Input-Wrapper {
      textarea {
        min-height: 132px;
      }
    }
  }

  //Классы для инпутов при их проверке
  .Input-Wrapper.error, .error {
    input,
    select,
    textarea,
    .InputFile .InputFile-Container mark {
      border: 1px solid @red-color;
    }
    input {
      background: url(../../../img/icon-cross-error.svg) no-repeat 97% 50%;
    }
    textarea {
      background: url(../../../img/icon-cross-error.svg) no-repeat 97% 7%;
    }

    .SelectImitation {
      .SelectImitation-Container {
        .SelectImitation-Text {
          border: 1px solid @red-color;
        }
      }
    }
  }

  input.error {
    border: 1px solid @red-color !important;
    background: url(../../../img/icon-cross-error.svg) no-repeat 97% 50%;
    box-shadow: none;
  }

  .Input-Wrapper.success, .success {
    input,
    select,
    textarea,
    .InputFile .InputFile-Container mark {
      border: 1px solid @green-color;
    }
    input {
      background: url(../../../img/icon-cross-success.svg) no-repeat 97% 50%;
    }
    textarea {
      background: url(../../../img/icon-cross-success.svg) no-repeat 97% 10px;
    }
    .SelectImitation {
      .SelectImitation-Container {
        .SelectImitation-Text {
          border: 1px solid @green-color;
        }
        input:checked + .SelectImitation-Menu {
          @media (max-width: @grid-breakpoint-sm) {
            position: static;
          }
        }
      }
    }
  }
  input.success {
    border: 1px solid @green-color !important;
    background: url(../../../img/icon-cross-success.svg) no-repeat 97% 50%;
  }
  textarea.success {
    border: 1px solid @green-color !important;
    background: url(../../../img/icon-cross-success.svg) no-repeat 97% 7%;
  }

  .Input-Wrapper.hasSearchHint {
    input, textarea {
      border-radius: @border-radius @border-radius 0 0;
    }
  }

  .Input-Wrapper.hasHint {
    .Input-Hint {
      display: block;
      position: absolute;
      bottom: calc(~"100% - 20px");
      left: 0;
      color: @red-color;
      text-transform: lowercase;
    }
    label {
      color: @red-color;
    }
    input, select, textarea {
      border: 1px solid @red-color;
    }
  }

  .Input-Wrapper.valid {
    input, select, textarea {
      border: 1px solid @green-color;
    }
  }

  @import (multiple) "../atoms/LinksRow";
  .LinksRow {
    a:first-child {
      //margin-right: @indent;
    }
  }

  @import (multiple) "../atoms/Note";

  @import "../atoms/FormError";
  .FormError {
    height: auto;
    margin-top: 5px;
    text-align: left;
  }

  .FormErrors {
    color: @red-color;
    margin-top: 16px;
  }

  .IconClose {
    position: relative;
    float: right;
    font-weight: 600;
    font-size: 2em;
    padding: 1em;
    cursor: pointer;
  }

  .ButtonClose {
    float: right;
  }

  .Preloader {
    &:before {
      display: none;
    }
    &:after {
      right: 0;
      left: auto;
    }
  }

  .Preloader.Preloader-delivery-cost {
    &:after {
      right: 50%;
    }
    &:before {
      display: block;
    }

    .Preloader_center {
      &:before {
        display: block;
      }
      &:after {
        right: 0;
        left: 0;
      }
    }
  }
  .invitation-title {
    margin-bottom: 24px;
    font-size: 16px;
    .invitation-title__name {
      font-weight: 500;
      color: @green-color;
    }
  }
  .date-picker-col {
    padding-left: 0;
    margin-top: @grid-vertical-gutter*2;

    .ButtonsRow [class*="Button"] {
      margin: 0;
    }

  }
  .integration_request_form_title {
    text-align: center;
  }
  .integration_request_popup {
    max-width: 500px;
  }
  .integration_popup_button {
    text-align: center;
  }
  .integration_popup_subtitle {
    display: flex;
    justify-content: center;
  }
  .integration_popup_subtitle_text {
    margin-bottom: 24px;
    display: flex;
    line-height: 24px;
    &.no_margin {
      margin-bottom: 0;
    }
  }
}

.FormLabelTop.form-unauthorized {

}

@import (multiple) "form-bank-transfer";
@import (multiple) "../molecules/delivery-payer-hint";



