.FormAvaChange {
  @import (multiple) "../components/InputIconTouch";

  .InputIconTouch {
    display: block;
  }
  .FormAvaChange-Submit {
    display: none;
    border: none;
    text-decoration: none;
    background-color: @accent-color;
    color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    padding: 0;
    @media (max-width: @tablet) {
      width: 30px;
      height: 30px;
      font-size: 16px;
    }
  }
  &.active {
    .InputIconTouch {
      display: none;
    }
    .FormAvaChange-Submit {
      display: block;
    }
  }
}