.FormInline {
  box-sizing: border-box;
  //max-width: 700px;
  text-align: left;
  background-color: #fff;
  font-size: 12px;
  color: #002b68;
  padding: 0;
  display: flex;
  align-items: center;

  @media (max-width: 1300px) {
    //max-width: 700px;
  }
  @media (max-width: 480px) {
    //max-width: 100%;
  }

  @import (multiple) "../atoms/ButtonApply";
  @import (multiple) "../atoms/ButtonDelete";
  @import (multiple) "../atoms/ButtonAccept";
  @import (multiple) "../atoms/ButtonRefuse";

  @import (multiple) "../atoms/TitleBlue";
  .TitleBlue {
    //margin-bottom: @indent;
  }

  .Input-Wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    .Input-Container {
      flex-basis: initial;
      width: 100%;
      overflow: hidden;
      //margin-right: @indent;
      //@media (max-width: 768px) {
      //  margin-bottom: @indent;
      //}
      input {
        margin: 0;
        //padding: 11.5px 13px;
        text-overflow: ellipsis;
        background-color: #ffffff;

        height: auto;
        line-height: 20px;
        padding: 7px 13px;
      }
    }
    textarea, input {
      margin-bottom: 0;
    }
    //@media (max-width: @small) {
    //  flex-direction: column;
    //  align-items: flex-start;
    //}
    label {
      font-size: 14px;
      margin-bottom: 10px;
      display: inline-block;
      //max-width: 700px;
      font-weight: 700;
      @media (max-width: 480px) {
        font-size: 12px;
      }
    }
    input, select, textarea {
      flex-basis: initial;
      max-width: 700px;
      width: 100%;
      padding: 11.5px 13px;
      border: 1px solid @border-color;
      @media (max-width: 480px) {
        padding: 8px 10px;
      }
      &::placeholder {
        color: #445155;
        opacity: 0.9;
        @media (max-width: 992px) {
          font-size: 12px;
        }
      }
      &:focus {
        background-color: #ffffff;
      }
    }
    textarea {
      height: auto;
      min-height: 36px;
      line-height: 20px;
      padding: 7px 13px;
    }
    .FormLabelTop_textarea {
      textarea {
        background-color: #ffffff;
        height: 200px;
      }
    }
    button {
      padding: 7px 5px;
      font-size: 14px;
      font-weight: 500;
    }

    @import (multiple) "../atoms/InputDate";
    .InputDate {
      background-color: #f7f7fa;
    }

    @import (multiple) "../atoms/InputFile";

    .InputFile {
      @media (max-width: @small) {
        //margin-right: 0;
        //margin-bottom: @indent;
      }
      .InputFile-Container {
        flex-basis: initial;
        width: 100%;
        //Убрать после внедрения и проверки отображения новых стилей для всех инпутов такого типа в общих формах
        mark {
          height: auto;
          line-height: 20px;
          padding: 7px 13px;
        }
      }
    }

    .Input-Hint {
      display: none;
    }
  }

  .Input-Wrapper.hasHint {
    .Input-Hint {
      display: block;
      position: absolute;
      bottom: calc(~"100% - 20px");
      left: 0;
      color: @red-color;
      text-transform: lowercase;
    }
    label {
      opacity: 0;
      visibility: hidden;
    }
    input, select, textarea {
      border: 1px solid @red-color;
    }
  }

  .Input-Wrapper.valid {
    input, select, textarea {
      border: 1px solid @green-color;
    }
  }

  .ButtonsRow {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1300px) {
      padding-top: 50px;
    }
    @media (max-width: 767px) {
      padding-top: 15px;
    }
  }
  .LinksRow {
    margin-bottom: @indent;
    a:first-child {
      margin: 0 12px 8px 0;
      display: inline-block;
    }
    a {
      display: inline-block;
      font-style: italic;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .Note {
    padding-left: 15px;
    margin-bottom: 15px;
    text-transform: none;
    font-size: 14px;
  }
  .InputRadio {
    margin-bottom: 25px;
    label {
      display: inline-block;
      max-width: 235px;
      text-transform: capitalize;
      margin-right: 10px;
    }
    input[type=radio] {
      margin-bottom: 0;
      margin-right: 10px;
      width: auto;
    }
  }

  @import "../atoms/FormError";
  .FormError {
    top: -27px;
    text-align: left;
    @media (max-width: 767px) {
      top: -10px;
    }
    @media (max-width: 480px) {
      top: -9px;
      height: 10px;
    }
  }

  .IconClose {
    position: relative;
    float: right;
    font-weight: 600;
    font-size: 2em;
    padding: 1em;
    cursor: pointer;
  }
}