@import (multiple) "../atoms/icon-shield-gp";
@import (multiple) "../atoms/icon-settings-gear";
@import (multiple) "../atoms/grey-field";
@import (multiple) "../atoms/toggled-checkbox-field";
.form-frame {
  color: #354052;
  border: #C5D0DE solid 1px;
  border-radius: 4px;
  padding: 38px 32px 38px 32px;

  @media (max-width: @grid-breakpoint-sm) {
    border: none;
    padding: 0;
  }

  h1 {
    margin-bottom: 12px;
  }

  .button-title{
    line-height: 36px;
    font-size: 24px;
  }

  .popup-row {
    width: 606px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: @grid-breakpoint-md) {
      width: 100%;
      //flex-direction: column;
    }

    .button-column {
      width: 288px;
    }

    &.button-info {
      @media (max-width: @grid-breakpoint-md) {
        flex-direction: column;
      }
    }

    .button-view {
      width: 288px;
      height: 60px;
      border-radius: 2px;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family: Montserrat;
      color: white;
      font-weight: 600;
      font-size: 18px;
      background-image: linear-gradient(#2F80ED, #0066B2);
      @media (max-width: @grid-breakpoint-md) {
        width: 100%;
        margin-bottom: @grid-vertical-gutter;
      }
    }

    .button-statistics {
      width: 288px;
      height: 60px;
      background-color: #F2F4F7;
      border-color: #C5D0DE;
      border-radius: 4px;
      padding: 11px 17px;
      line-height: 22px;
      font-size: 14px;
      @media (max-width: @grid-breakpoint-md) {
        width: 100%;
      }
    }

    .button-settings-block {
      font-family: Roboto;
      font-size: 12px;
      line-height: 24px;
      margin-top: 10px;
    }

    .button-settings-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }


  .button-settings-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .copy-link {
    cursor: pointer;
    position: relative;
    color: rgb(47, 128, 237);
    border-bottom: 1px dotted;
  }
  .copy-link-wrapper{
    position: relative;

    .copy-success{
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 224px;
      height: 24px;
      line-height: 24px;
      background-color: rgba(0, 0, 0, .7);
      font-size: 12px;
      text-align: center;
      color: #fff;
      font-family: Roboto, Arial, sans-serif;
      margin-top: 4px;
      animation: fadeInUp .2s ease-out 0s 1;
      border-radius: @border-radius;
      z-index: 2;
    }

  }

  .copy-link-container {
    display: block;
    margin: 16px 0 10px;
  }

  .code {
    //height: 204px;
    background-color: #F2F4F7;
    border-color: #C5D0DE;
    border-radius: 4px;
    width: 100%;
    line-height: 24px;
    padding: 6px 12px;
    padding-left: 47px;
    @media (max-width: @grid-breakpoint-sm) {
      padding-left: 12px;
    }

    p {
      word-break: break-all;
    }

  }

  .button-code {
    justify-content: left;
    margin-bottom: @grid-vertical-gutter*2;
    position: relative;
    overflow: hidden;
  }
  .grey-field {
    &.button-active {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 16px;
      font-size: 14px;
    }
  }

  .string-numbers {
    background-color: #C4C4C4;
    line-height: 24px;
    padding: 6px 12px;
    border-radius: 4px 0px 0px 4px;
    position: absolute;
    left: 0;
    top: 0;
    @media(max-width: @mobile) {
      display: none;
    }
  }

  .button-data {
    flex-direction: column;
    margin-top: 24px;
    line-height: 24px;
    font-size: 14px;
    h2 {
      margin-top: 20px;
      font-size: 18px;
      line-height: 24px;
    }
  }

  .button_settings {
    position: absolute;
    top: 228px;
    left: 242px;
    width: 128px;
    background-color: #FFFFFF;
    border: #C5D0DE solid 1px;
    border-radius: 4px;
    padding: 12px 10px;
    z-index: 1;
    > div {
      > p {
        color: @text-dark-grey-color;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 5px;
      }
      &:first-child {
        margin-bottom: 19px;
      }
    }

    .current-button-color {
      width: 52px;
      height: 18px;
      border: 1px solid @border-color;
      pointer-events: none;
    }}
}

&.button-details {
  max-width: 768px;
}

@keyframes fadeInUp {
  from{ transform: translate(-50%, 15px); opacity: 0 }
  to{ transform: translate(-50%); opacity: 1 }
}