.FormNew {
  .Input-Wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: @bg-gray-color;
    border-radius: @border-radius;
    padding: 5px 13px 2px;
    font-size: 14px;
    @media (max-width: @small) {
      width: auto;
    }
    label {
      vertical-align: top;
      display: inline-block;
      max-width: 190px;
      width: 100%;
      font-weight: 500;
      color: @text-color;
      margin-bottom: 3px;
      margin-right: 5px;
      @media (max-width: @small) {
        max-width: 100%;
      }
    }
    input {
      vertical-align: top;
      display: inline-block;
      padding: 2px 7px;
      line-height: 1;
      margin-bottom: 3px;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 233px;
      width: 100%;
      border: 1px solid @border-color;
    }
    .FormError {
      position: absolute;
      right: 0;
      top: 100%;
      @media (max-width: @mobile) {
        left: 0;
        right: auto;
      }
    }
  }
  .FormError {
    color: @red-color;
    font-size: 10px;
    line-height: 10px;
  }
  .Input-Wrapper + .Input-Wrapper {
    margin-top: 10px;
  }
  .FormLabelTop {
    .Input-Wrapper {
      margin-bottom: 20px;
      & div {
        width: 100%;
      }
      & input {
        max-width: initial;
        padding: 7px 12px;
      }

    }
  }
}
