

@import (multiple) "../components/FormLabelTop";
.FormLabelTop {
  max-width: none;

  .note-red, .note-green, .Note {
    position: relative;
  }
}
.FormVerification {
  @import (multiple) "../atoms/Preloader";
  position: relative;
  display: block;
  font-size: 14px;
  transform: translateX(100%);
  justify-content: flex-start;
  padding: @grid-vertical-gutter * 3 0 @grid-vertical-gutter * 3 @grid-vertical-gutter * 3;
  width: 368px;
  border-left: 1px solid #F0F0F0;
  max-width: 100%;
  @media (max-width: @mobile) {
    transform: none;
    border: none;
  }
  @media (max-width: @grid-breakpoint-sm) {
    padding: @grid-vertical-gutter * 3 0;
  }
  @media (max-width: @grid-breakpoint-sm) {
    width: 100%;
  }

  & + & {
    margin-top: 50px;
  }
  .text-green {
    font-size: 14px;
    margin-bottom: 16px;
    max-width: 245px;
    @media (max-width: @small) {
      max-width: 100%;
    }
  }

  .FormVerification-TimerText {
    margin-top: 20px;
    & + & {
      margin-top: 0;
    }
  }

  &.appear {
    animation: slideInLeft;
    animation-duration: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(0);
    @media (max-width: @mobile) {
      animation: none;
    }
    @keyframes slideInLeft {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0);
      }
    }
  }

  .js-form-timer-message {
    margin-top: @indent;
  }

  @import (multiple) "../atoms/TextAccent";
  @import (multiple) "../atoms/TextImportant";
  @import (multiple) "../atoms/ButtonClose";
  .no-mt {
    margin-top: 0;
  }
  .ButtonClose {
    position: absolute;
    padding: 0;
    width: 15px;
    height: 15px;
    right: 0;
    top: @grid-vertical-gutter*3;
  }

  input, select, textarea {
    max-width: 245px;
    @media (max-width: @small) {
      max-width: 100%;
    }
  }
  .Input-Wrapper {
    margin-bottom: 20px;
    input, select, textarea {
      max-width: 245px;
      @media (max-width: @grid-breakpoint-sm) {
        max-width: 100%;
      }
    }
    label {
      display: block;
      font-size: 14px;
    }
  }
  .ButtonApply {
    max-width: 245px;
    line-height: 16px;
    margin-top: 10px;
    @media (max-width: @grid-breakpoint-sm) {
      max-width: 100%;
    }
  }
}

.FormVerification-Title {
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 25px;
  font-size: 21px;
  letter-spacing: 0.14px;
  color: #3C4457;
  @media (max-width: @large) {
    margin-bottom: 30px;
  }
  @media (max-width: @desk) {
    margin-bottom: 20px;
  }
  @media (max-width: @tablet) {
    font-size: 18px;
  }

}

@import (multiple) "../atoms/InputSubmit";
.FormVerification-Input {
  display: block;
  width: 100%;
  max-width: 245px;
  padding: 9px 15px;
  border-radius: @border-radius;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.1);
  @media (max-width: @desk) {
    padding: 10px 11px;
  }
  @media (max-width: @small) {
    max-width: 100%;
  }
}

.FormVerification-Text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.09625px;
  color: #354052;
  margin-bottom: 29px;
  @media (max-width: @desk) {
    margin-bottom: 20px;
  }
}

.FormVerification-Button, .FormVerification-Timer {
  margin-top: 30px;
  padding: 15px 5px;
  font-size: 14px;
  border: none;
  color: #ffffff;
  background-color: @accent-color;
  border-radius: @border-radius;
  @media (max-width: @desk) {
    padding: 11px 44px;
  }
  @media (max-width: @small) {
    width: 100%;
  }
}

.FormVerification-Timer {
  display: inline-block;
}

@import (multiple) "../atoms/ButtonApply";

.FormVerification-Resend {
  margin-top: 12px;
}

.FormInvitation-Resend {
  margin-bottom: 12px;
}

