.FormView {
  max-width: 780px;
  color: #2c3f51;
  box-sizing: border-box;
  text-align: left;
  background-color: #fff;
  font-size: 12px;
  margin: 0 auto;
  @media (max-width: 480px) {
    max-width: 100%;
    margin-top: 0;
  }

  .form-content-wrap {
    //
    //padding: @grid-vertical-gutter*3 @grid-gutter-width-sm;
    //@media (max-width: @grid-breakpoint-sm) {
    //  padding: @grid-vertical-gutter * 2 @grid-gutter-width-sm / 2;
    //}

    > .row {
      margin-bottom: @grid-vertical-gutter;
      &:first-child {
        margin-bottom: 0;
      }
    }
  }


  @import "../atoms/ButtonApply";
  @import "../atoms/ButtonDelete";
  @import "../atoms/ButtonAccept";
  @import "../atoms/ButtonRefuse";
  @import "../atoms/InputDate";

 // Удалить после выката 1782
  .ButtonApply,
  .ButtonDelete,
  .ButtonAccept,
  .ButtonRefuse {
    width: 100%;
    max-width: none;
  }
  //

  @import (multiple) "../atoms/TitleBlue";

  @import (multiple) "../atoms/InfoField";
  .InfoField {
    background-color: @bg-dark-gray-color;
    padding: 16px 19px 12px;
    @media (max-width: 480px) {
      padding: 10px 5px;
    }
    .InfoField-Label {
      max-width: 270px;
      font-weight: 700;
      letter-spacing: 1px;
      @media (max-width: 480px) {
        width: 100%;
      }
    }
    .InfoField-Text {
      @media (max-width: 480px) {
        width: 100%;
      }
    }
  }
  .ButtonsRow {
    position: relative;
    padding-top: 90px;
    @media (max-width: @grid-breakpoint-sm) {
      padding-top: 20px;
    }
    [class*="col-"]:first-child {
      button {
        @media (max-width: @grid-breakpoint-sm) {
          margin-bottom: @grid-vertical-gutter;
        }
      }
      a {
        @media (max-width: @grid-breakpoint-sm) {
          margin-bottom: @grid-vertical-gutter;
        }
      }
    }
  }
  //.ButtonsRow {
  //  padding-top: 90px;
  //  @media (max-width: 480px) {
  //    padding-top: 20px;
  //  }
  //  > div {
  //    @media (max-width: @grid-breakpoint-sm) {
  //      margin: 0 0 @grid-vertical-gutter 0;
  //      &:last-child {
  //        margin: 0;
  //      }
  //    }
  //  }
  //}

  @import "../atoms/InputFile";
  .InputFile-Container {
    border: none;
    mark {
      padding-left: 150px;
      padding-top: 1px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      text-transform: lowercase;
      color: #445155;
      font-size: 14px;
      font-weight: 300;
      position: relative;
      background-color: #f7f8f9;
    }
    input {
      position: absolute;
      top: 4px;
      opacity: 0;
      cursor: pointer;
      left: 2px;
      width: 100%;
    }
  }
  label {
    padding: 0;
    font-size: 14px;
  }
}