@import "../variables";

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  box-shadow: 3px 0 7px rgba(36, 36, 36, 0.10);
  z-index: 10000;
  height: 100px;
  @media (max-width: @grid-breakpoint-lg) {
    height: 65px;
  }

  .Header-Container {
    @media (max-width: @tablet) {
      height: 100%;
      flex: none;
      margin: 0;
    }

    > .row {
      align-items: center;
    }

    @import (multiple) "../atoms/IconBurgerMenu";
    @import (multiple) "../atoms/menu-burger";
    .IconBurgerMenuWrapper {
      display: none;
      @media (max-width: @grid-breakpoint-lt) {
        display: block;
      }
    }

    @import (multiple) "../atoms/Logo";

    .Logo-wrapper {

      @media (max-width: @grid-breakpoint-lt){
        display: flex;
        align-items: center;
        height: 100%;
      }
      @media (max-width: @grid-breakpoint-md){
        margin-top: 3px;
      }

      &:not(.Logo-wrapper_unauth){
        @media (max-width: @grid-breakpoint-lt){
          justify-content: center;
        }
      }

    }
    .Logo {
      width: 297px;
      height: 45px;

      @media (max-width: @grid-breakpoint-lg){
        width: 186px;
      }

    }

    nav {
      @media (max-width: @tablet) {
        display: none;
      }
      ul {
        margin-bottom: 0;
        li {
          display: inline-block;
          cursor: default;
          a {
            display: inline-block;
            position: relative;
            padding: 22px 0;
            line-height: 3;
            color: #393939;
            font-size: 12px;
            font-weight: 400;
            &:hover {
              text-decoration: none;
              &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -1px;
                display: block;
                width: 100%;
                height: 2px;
                background-color: @accent-color;
              }
            }
          }
        }
        li + li {
          margin-left: 60px;
          @media (max-width: @tablet) {
            margin-left: 0;
          }
        }
      }
    }

    @import (multiple) "UserBar";
    .UserBar {
      height: 100px;
      display: flex;
      justify-content: flex-end;

      @media (max-width: @grid-breakpoint-lg) {
        height: 65px;
      }

      .UserBar-Container {
        @import (multiple) "../atoms/Avatar";
        .UserBar-NoticeIcon {
          @media (max-width: @grid-breakpoint-lt) {
            display: none;
          }
        }

        .UserBar-Text{
          @media (max-width: @grid-breakpoint-sm) {
            display: none;
          }
        }

        .Avatar-Wrapp {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            display: block;
            width: 8px;
            height: 8px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: url(../../../img/SelectArrowDarkGrey.svg);
            @media (max-width: @grid-breakpoint-lt) {
              display: none;
            }
          }

          .Avatar {
            margin-right: 23px;
            width: 42px;
            height: 42px;
            @media (max-width: @grid-breakpoint-lt) {
              width: 24px;
              height: 24px;
              margin-right: 0;
            }
          }
        }

        .DropDown-Menu {
          width: 200px;
          @media (max-width: @tablet) {
            right: calc(@indent ~"* -1");
          }
          li {
            a {
              border-bottom: 1px solid #E2E7EE;
              &:hover {
                color: #2EA2F8;
                svg {
                  fill: #2EA2F8;
                }
              }
            }
          }
        }
      }
    }
  }
}