.InfoFieldStatus {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 6.5px 44px 6.5px 44px;
  background-color: @_New_most-light-grey-color;
  border-radius: @border-radius;
  border: 1px solid @border-color;
  font-size: 14px;
  color: #354052;
  width: 100%;
  max-width: 500px;
  @media (max-width: @mobile) {
    padding-right: 15px;
    padding-left: 40px;
    flex-direction: column;
    align-items: flex-start;
    max-width: none;
  }
  .InfoFieldStatus-Label {
    display: inline-block;
    width: 100%;
    font-weight: 500;
    max-width: 140px;
    margin-right: 12px;
    line-height: 21px;
    @media (max-width: @mobile) {
      font-size: 13px;
      margin-bottom: 15px;
      max-width: 100%;
      padding-right: 0;
    }
    @import (multiple) "../atoms/IconEmail";
    @import (multiple) "../atoms/icon-user-login";
    @import (multiple) "../atoms/IconPhone";
    .InfoFieldStatus-Icon {
      position: absolute;
      left: 16px;
      width: 16px;
      height: 16px;
      top: 50%;
      transform: translateY(-50%);
      @media (max-width: @mobile) {
        transform: none;
        top: 9.5px;
        left: 10px;
      }
    }
  }
  .InfoFieldStatus-Text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-weight: 400;
    @media (max-width: @mobile) {
      max-width: 100%;
      margin-bottom: 3px;
    }
  }

  @import (multiple) "../atoms/IconOk";
  @import (multiple) "../atoms/IconNo";
  .InfoFieldStatus-Status {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: @mobile) {
      transform: none;
      top: auto;
      bottom: 10px;
      right: auto;
      left: 10px;
    }
  }
  .InfoFieldStatus-Status.active {
    cursor: pointer;
  }
  &.unconfirmed-profile-field {
    border: 1px solid @red-color;
    border-radius: 4px;
    cursor: pointer;
  }
}