.InputIconTouch {
  position: relative;
  input {
    display: none;
  }

  @import (multiple) "../atoms/IconEdit";
  .InputIconTouch-Overlay {
    width: 35px;
    height: 35px;
    cursor: pointer;
    @media (max-width: @large) {
      width: 30px;
      height: 30px;
    }
  }
}