.LeftNav {
  //padding: @indent 0;
  padding: 23px 0;
  border-top: 1px solid #393A43;
  border-bottom: 1px solid #22262C;
  .LeftNav-Item {
    padding: @padding-link_y @grid-gutter-width-sm;
    min-height: 36px;
    position: relative;
    //margin-bottom: 10px;
    @media (max-width: 1200px) {
      padding-left: 27px;
    }
    @media (max-width: @mobile) {
      padding-left: 22px;
    }

    @import (multiple) "../atoms/LeftNavLink";

    &.active {
      background-color: @apply-color;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 3px;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #ffffff;
        @media (max-width: 1200px) {
          width: 3px;
        }
      }
      .LeftNavLink {
        color: #ffffff;
        .LeftNavLink-Img {
          background-position: left top;
          svg {
            fill: #ffffff;
          }
        }
        .LeftNavLink-Img_document {
          background-position: 4px top;
        }
      }
    }
    &:hover {
      .LeftNavLink-Img {
        background-position: left top;
      }
    }
  }
  .LeftNav-Item_toggle {
    display: none;
    cursor: pointer;
    margin-bottom: 0;
    padding: 0 0 0 27px;
    @media (max-width: 1200px) {
      display: block;

    }
    @media (max-width: @mobile) {
      padding-left: 22px;
    }
    @import (multiple) "../atoms/IconBurgerMenu";
    .IconBurgerMenu {
      transform: rotate(180deg);
      transition: transform .3s ease;
    }
  }
}

ul.LeftNav.nth-child {
  @media (max-width: 1200px) {
    border-top: none;
  }
  &:before {
    content: '';
    position: absolute;
    display: none;
    width: 100%;
    height: 1px;
    left: 0;
    top: 29px;
    background-color: #22262C;
    @media (max-width: 1200px) {
      display: none;
    }
  }
}
.LeftNav:last-child {
  border-bottom: none;
}
.LeftNav.mobile-burger {
  display: none;
  padding: @indent 0 0 0;
  border: none;
  @media (max-width: 1200px) {
    display: block;
  }
}
ul.LeftNav > .LeftNav-Item:last-child {
  margin-bottom: 0;
}




