.LeftMenu {
  display: block;
  position: fixed;
  z-index: 999;
  height: 100%;
  transition-timing-function: cubic-bezier(0.42, 0, 0, 1.07);
  transition-property: width;
  transition-duration: .3s;
  padding-left: 0;
  @media (max-width: @grid-breakpoint-lt) {
    top: 0;
    z-index: 10001;
    width: 0;
    min-width: 0;
    overflow: auto;
    max-height: 100%;
  }

  .LeftMenu__inner{
    background-color: @_New_menu-color;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    min-height: 100%;
    padding-bottom: 73px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    @media (max-width: @grid-breakpoint-lt) {
      box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
    }
  }

  @import (multiple) "UserNotifications";

  nav {
    .LeftMenu-Title {
      display: none;
      background-color: #4e5d6e;
      height: 50px;
      text-transform: uppercase;
      padding-left: 50px;
      line-height: 3em;
      color: #c7d8e4;
      font-weight: 700;
      @media (max-width: 1200px) {
        display: none;
      }
    }
    @import (multiple) "LeftNav";
  }
}
.js-left-menu{
  @media (max-width: @grid-breakpoint-lt) {
    //&:after{
    //  content: '';
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  background: #333;
    //  opacity: 0;
    //  transition: opacity .3s linear .3s;
    //  height: 100%;
    //  width: 100vw;
    //}
  }
}
.js-left-menu.active {
  @media (max-width: @grid-breakpoint-lt) {
    width: 275px;
    overflow: visible;
    //
    //&:after{
    //  opacity: .3;
    //  transition: opacity .3s linear .1s;
    //}

  }

  @media (max-width: @mobile) {
    width: 250px;
    z-index: 100004;
  }
  .LeftNav_profile {
    background-color: transparent;
  }
  nav > .LeftNav > .LeftNav-Item > .LeftNavLink > .LeftNavLink-Text {
    visibility: visible;
    left: inherit;
    opacity: 1;

    transition-delay: 200ms;
    transition-property: opacity;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.42, 0, 0, 1.07);
  }
  nav > .LeftNav > .LeftNav-Item_toggle > .IconBurgerMenu {
    transform: rotate3d(1, 0, 0, 180deg);
  }

}
