@import (multiple) "../atoms/IconPDF";
@import (multiple) "../atoms/IconDownload";

.LinkWithIcon {
  display: block;
  position: relative;
  padding-left: 32px;
  //margin-top: 22px;
  .LinkWithIcon-Icon {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .LinkWithIcon-Text {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
  }
}

.LinkWithIcon + .LinkWithIcon {
  margin-top: 10px;
}

.deal-pay-download-bill {
  display: inline-block;
  &:nth-child(2) {
    //margin-left: 32px;
    @media (max-width: @mobile) {
      //margin-left: 0;
      margin-top: 0;
      margin-bottom: 22px;
    }
  }
}
