.Pagination {
  text-align: center;
  padding: 20px 0;
  box-shadow: 3px 0 14px rgba(36, 36, 36, 0.1);
  //position: absolute;
  //bottom: 0;
  //width: 100%;
  //width: inherit;
  z-index: 2;
  background: #fff;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  right: 0;
  left: 0;
  @media (max-width: @mobile) {
    padding-right: 15px;
    padding-left: 15px;
  }
  .Pagination-Wrap{
    //margin: 0 auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: @mobile){
      justify-content: inherit;
    }
  }
  .Pagination-Item {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 43px;
    line-height: 43px;
    margin-bottom: 3px;
    color: @text-color;
    cursor: pointer;
    @media (max-width: @desk) {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
    @media (max-width: @mobile) {
      width: 43px;
      height: 43px;
      line-height: 43px;
      display: none;
    }
    &.disable{
      cursor: default;
    }
    &.invisible{
      visibility: hidden;
    }
    &.active{
      background-color: @accent-color;
      color: #ffffff;
      cursor: default;
      @media (max-width: @mobile) {
        display: inline-block;
      }
    }
    &:not(.Pagination-Next):not(.Pagination-Prev):not(.active):hover{
      //background-color: fadeout(@accent-color, 30%);
      //color: #fff;
      background-color: #dedede;
      color: #000;
    }
  }
  .Pagination-Next img{
    transform: rotate(180deg);
  }
  .Pagination-Next, .Pagination-Prev {
    & img{
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    @media (max-width: @mobile) {
      display: inline-block;
    }
  }
  //&__label {
  //  @media (max-width: @small) {
  //    display: block;
  //    margin-top: 7px;
  //  }
  //}
  .Pagination-ControlPanel{
    //margin-top: 10px;
    //margin: 0 auto;
  }
  .Pagination-Button{
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 18px;
    background: none;
    padding: 0;
  }

  .Pagination-Input {
    border-bottom: 2px solid @border-color;
    padding: 5px;
    max-width: 30px;
    font-size: 16px;
    border-radius: 0;
    text-align: center;
    @media (max-width: @desk) {
      padding: 3px;
    }
    &:focus {
      outline: none;
    }
  }
  .Pagination-Input[type="number"]{
    -moz-appearance:textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button{
      -webkit-appearance: none;
    }
  }
  .Pagination-PerPager {
    font-size: 14px;
    margin-left: @indentBig;
  }
}