.Popup-Container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10010;
  overflow-y: auto;
  width: 100%;
  padding: @grid-vertical-gutter*3 @grid-gutter-width-sm;
  background: rgba(182, 218, 255, .6);
  @media (max-width: @tablet) {
    top: 0;
  }
  &.open {
    display: block;
    overflow-y: scroll;
    .Popup-bg {
      position: fixed;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
    .Popup {
      @import (multiple) "../components/form-button";
      display: block;
      position: relative;
      margin: auto auto @indent auto;
      margin-top: 64px;
      width: 100%;
      max-width: 700px;
      border-radius: @border-radius;
      box-shadow: 0 20px 50px 0 rgba(24, 24, 24, 0.3);
      background-color: #ffffff;
      z-index: 80000;

      &.verify-popup{
        max-width: 370px;

        .Popup-Content{
          padding: 52px 30px;
        }

      }

      @media (max-width: @grid-breakpoint-lg) {
        margin-top: 29px;
      }
      .Popup-Content {
        padding: @grid-vertical-gutter*4;
        @media (max-width: @mobile) {
          padding: @grid-vertical-gutter*2;
        }
        @import (multiple) "../atoms/TextImportant";
        @import (multiple) "../atoms/TitleBlue";

        @import (multiple) '../molecules/verify-message';

        .dispute-resolution-methods-popup-title {
          color: @text-color;
          font-weight: 500;
          text-align: center;
          margin-bottom: 23px;
        }

        @import (multiple) "../components/FormLabelTop";
        .FormLabelTop {
          .ButtonsRow {
            @media (max-width: @grid-breakpoint-sm) {
              margin-top: @grid-vertical-gutter;
            }
          }
        }
      }

      .dispute-resolution-methods-popup-content {
        padding-top: @grid-vertical-gutter * 3;
        @media (max-width: @grid-breakpoint-sm) {
          padding-top: @indent;
        }
      }

      @import (multiple) "../atoms/ButtonClose";
      @import (multiple) "../atoms/button-popup-close";

      .dispute-resolution-method {
        text-align: left;
        line-height: 24px;
        margin-bottom: 12px;
      }

      .ButtonClose {
        position: absolute;
        right: @indentBig;
        top: calc(~"(100vw * 0.009375 + 12px) * 2 + 10px");//Добавляем 10px для выравнивания с заголовком
        width: 15px;
        height: 15px;
        @media (max-width: @small) {
          right: @indent;
          top: 20px;
        }
      }
    }

  }
}
