.Profile-Nav {
  margin-top: 34px;
  .Profile-NavLink {
    border-left: 4px solid transparent;
    display: block;
    padding: 13px 33px;
    color: #cbd7e3;
    font-weight: 400;
    @media (max-width: @desk) {
      padding: 11px 33px;
    }
  }
  .Profile-Nav.active {
    color: @text-color;
    border-left: 4px solid @accent-color;
  }
}