.SearchHints {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 9;
  ul {
    cursor: default;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    border: 1px solid @border-color;
    border-top: none;
    border-radius: 0 0 @border-radius @border-radius;
    overflow: hidden;
  }
  li {
    padding: 5px 12px;
    cursor: pointer;
  }
  li.active, li:hover {
    background-color: #f2f2f2;
  }
}