.SecondLeftMenuMobile {
  display: none;
  border-bottom: 1px solid @border-color;
  @media (max-width: @tablet) {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (max-width: @mobile) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .SecondLeftMenuMobile-User {
    @media (max-width: @tablet) {
      padding-left: 20px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    @media (max-width: @mobile) {
      border-bottom: 1px solid @border-color;
      padding-bottom: 20px;
      padding-top: 20px;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
    }
    @media (max-width: @small) {
      padding-bottom: 15px;
      padding-top: 15px;
    }

    .SecondLeftMenuMobile-UserInfo {
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      @media (max-width: @tablet) {
        padding: 20px;
        display: inline-block;
      }
      @media (max-width: @mobile) {
        padding-left: 0;
      }
    }
    @import (multiple) "../atoms/AvatarWithBorder";
    .AvatarWithBorder {
      position: relative;
      @media (max-width: @tablet) {
        display: inline-flex;
        position: relative;
        width: 55px;
        height: 55px;
        margin-right: 40px;
      }
      @media (max-width: @mobile) {
        width: 100px;
        height: 100px;
      }
      @import (multiple) "../components/FormAvaChange";
      .FormAvaChange {
        @media (max-width: @tablet) {
          position: absolute;
          right: -38px;
          top: 50%;
          transform: translateY(-50%);
        }
        @media (max-width: @mobile) {
          top: auto;
          transform: none;
          bottom: 0;
          right: -30px;
        }
      }
    }
  }
  .SecondLeftMenuMobile-Nav {
    @media (max-width: @tablet) {
      display: flex;
      align-items: flex-end;
    }
    @media (max-width: @mobile) {
      flex-direction: column;
      align-items: flex-start;
    }
    .SecondLeftMenuMobile-NavLink {
      @media (max-width: @tablet) {
        border-bottom: 4px solid transparent;
        padding: 25px;
        color: #cbd7e3;
        font-weight: 700;
        &.active {
          color: @text-color;
          border-bottom: 4px solid @accent-color;
        }
      }
      @media (max-width: @mobile) {
        border-bottom: none;
        border-left: 4px solid transparent;
        width: 100%;
        &.active {
          border-bottom: none;
          border-left: 4px solid @accent-color;
        }
      }
    }
  }
}