.SecondLeftMenu {
  display: none!important;
  padding: 34px 0;
  border-right: 1px solid @border-color;
  background-color: #f7f8f9;

  .SecondLeftMenu-User {
    padding: 0 37px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    @import (multiple) "../atoms/AvatarWithBorder";
    .AvatarWithBorder {
      position: relative;
      width: 200px;
      height: 200px;
      margin: 0 auto;
      box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.21);
      @media (max-width: @large) {
        width: 150px;
        height: 150px;
      }

      @import (multiple) "../components/FormAvaChange";
      .FormAvaChange {
        position: absolute;
        right: -15px;
        bottom: 0;
      }
    }
  }
  .SecondLeftMenu-Name {
    margin-top: 33px;
    margin-bottom: 14px;
    font-weight: 400;
    @media (max-width: @large) {
      margin-top: 20px;
      margin-bottom: 7px;
    }
  }
  .SecondLeftMenu-Email {
    color: @accent-color;
    font-size: 14px;
  }
  .SecondLeftMenu-Nav {
    margin-top: 34px;
    .SecondLeftMenu-NavLink {
      border-left: 4px solid transparent;
      display: block;
      padding: 13px 33px;
      color: #cbd7e3;
      font-weight: 400;
      @media (max-width: @desk) {
        padding: 11px 33px;
      }
    }
    .SecondLeftMenu-NavLink.active {
      color: @text-color;
      border-left: 4px solid @accent-color;
    }
  }
}