.SelectImitation {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
  label {
    margin-bottom: 0;
    cursor: pointer;
  }
  .SelectImitation-Container {
    width: 100%;
    .SelectImitation-Checkbox {
      display: none;
    }
    .SelectImitation-Text {
      display: block;
      position: relative;
      padding: 8px 15px;
      line-height: 21px;
      font-size: 14px;
      color: @_New_text-color;
      border-radius: 4px 4px 0 0;
      border: 1px solid #DFE3E9;
      background: @light-grey-gradient;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background: url(../../../img/SelectArrowGrey.svg) no-repeat;
        background-size: contain;
      }
      &.active:before {
        background: url(../../../img/SelectArrowGreyActive.svg) no-repeat;
        background-size: contain;
      }
    }

    .SelectImitation-Menu {
      display: none;
      z-index: 1000;
      width: 100%;
      box-shadow: none;
      border-radius: @border-radius;
      border-bottom: 1px solid #DFE3E9;
      max-height: 150px;
      overflow: auto;
      @media (max-width: @mobile) {
        height: auto;
        overflow: visible;
      }
      li {
        display: block;
        padding: 7.5px @padding-link_x;
        line-height: 21px;
        font-size: 14px;
        font-weight: 300;
        cursor: pointer;
        color: @_New_text-color;
        border: 1px solid #DFE3E9;
        border-bottom: none;
        background-color: #ffffff;
        &:hover {
          color: #2EA2F8;
          background-color: #F1F4F8;
        }
      }
      li:last-child {
        border-bottom: 1px solid #DFE3E9;
      }
      li.SelectImitation-SubsectionItem {
        padding-left: 30px;
        color: @text-light-grey-color;
        &:hover {
          color: #2EA2F8;
          background-color: #F1F4F8;
        }
      }
      li.SelectImitation-SubsectionTitle {
        cursor: default;
        background-color: @background-fill;
        &:hover {
          color: @_New_text-color;
          background-color: @background-fill;
        }
      }
    }

    input:checked + .SelectImitation-Menu {
      display: block;
      position: absolute;
      left: 0;
      top: 100%;
      @media (max-width: @mobile) {
        top: 0;
        position: relative;
      }
    }
  }
}
.SelectImitation.disabled {
  .SelectImitation-Container {
    .SelectImitation-Text {
      &:before {
        display: none;
      }
    }
  }
}


