.Spoiler {
  .Spoiler-Checkbox {
    display: none;
  }
  .Spoiler-Toggle {
    display: inline-block;
    position: relative;
    padding-right: 15px;
    color: @accent-color;
    text-decoration: underline;
    text-decoration-style: solid;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      right: 0;
      top: 5px;
      background: url(../../../img/SelectArrowGrey.svg) no-repeat;
      background-size: contain;
    }
  }
  .Spoiler-Toggle-active {
    &:before {
      transform: rotate(180deg);
    }
  }
  .Spoiler-History {
    margin-bottom: 10px;
    text-decoration: underline dashed rgba(127, 143, 164, 0.6);
    color: #354052;
    font-weight: 500;
  }
  .Spoiler-History.Spoiler-Toggle-active {
    //margin-bottom: 0;
  }
  .Spoiler-Hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
  }
  .Spoiler-Body {
    padding: 10px 0 20px;
  }
  input:checked + .Spoiler-Hidden {
    max-height: 850px;
  }
  .Spoiler-Hidden.active {
    max-height: 100%;
  }
}
.Spoiler + .Spoiler {
  margin-top: 10px;
}

.Spoiler.isJs {
  .Spoiler-Hidden {
    max-height: 100%;
    display: none;
    transition: none;
  }
}
