@import "TableDefault";
@import (multiple) "../atoms/ButtonApply";

.col-action-all {
  @import (multiple) "../atoms/ButtonActionAll";
  padding: 0;
  .ButtonsRow {
    text-align: left;
    padding: 0 0 @grid-vertical-gutter*2 0;
    @media (max-width: @grid-breakpoint-sm) {
      padding: @grid-vertical-gutter 0;
    }
    .ButtonApply {
      @media (max-width: @grid-breakpoint-md) {
        max-width: none;
      }
    }
  }
}

table.TableDefault.TableDealsExpired {
  //& > tbody > tr > td:first-child {
  //  text-align: center;
  //}
  & > tbody > tr.FilterTableRow {
    > td {
      //&:first-child {
      //  padding-left: 32px;
      //  @media (max-width: @grid-breakpoint-lt) {
      //    padding-left: 48px;
      //  }
      //  @media (max-width: @grid-breakpoint-md) {
      //    padding-left: 36px;
      //  }
      //}
      &.InputDate {
        .InputDate2 {
          min-width: 130px;
        }
      }
      &:nth-child(8) {
        .table.TableDefault > tbody > tr > td a {
          color: #4185f4;
        }
      }
    }
  }
}



//Удалить после выката 1782
//table.TableDefault.TableDealsExpired > tbody > tr.FilterTableRow > td:first-child {
//  padding-left: 16px;
//  width: 10%;
//  @media (max-width: @grid-breakpoint-lt) {
//    padding-left: 32px;
//  }
//  @media (max-width: @grid-breakpoint-md) {
//    padding-left: 22px;
//  }
//}
