@import (multiple) "Pagination";
@import (multiple) "../atoms/IconJPG";
@import (multiple) "../atoms/IconPDF";
@import (multiple) "../atoms/IconPNG";
@import (multiple) "../atoms/ButtonSearch";
@import (multiple) "../atoms/Note";

.TableWithPagination {
  display: flex;
  flex-direction: column;
  height: 100%;
  .TableWrapper {
    flex-grow: 1;
    position: relative;
  }
}

.TableWrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

table.TableDefault {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  color: @table-text-color;
  font-size: 15px;
  letter-spacing: 0.1px;
  & > tbody > tr {
    border-bottom: 1px solid #F0F0F0;
    transition: .2s background ease;
    &:nth-child(even) {
      background-color: @bg-gray-color;
    }
    &:nth-child(odd) {
      background-color: #ffffff;
    }
    &:hover {
      background-color: @table-hover-background;
      box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
    }
    &.highlighted {
      box-shadow: 0 0 0 2px @accent-color inset;
    }
    & > td {
      padding: @indent @indentSmall;
      vertical-align: middle;
      position: relative;
      line-height: 20px;
      font-size: 14px;
      font-weight: 300;
      text-align: left;
      //Отступ для стрелок сортировки
      @media (max-width: @tablet) {
        padding-left: 25px;
      }
      @media (max-width: @mobile) {
        &:nth-child(2) {
          font-weight: 500;
        }

        &:before {
          content: attr(data-label) " ";
          font-weight: 300;
          //margin-right: 4px;
        }
      }

      & {
        @media (max-width: @mobile) {
          padding: @indentSmall;
        }
      }
      a {
        color: inherit;
        text-decoration: underline;
      }
      //Фиксируем ширину первой колонки с кнопкой, чтобы она не растягивалась на широкоформате
      &:nth-child(1) {
        width: 5%;
        text-align: center;
        @media (max-width: 768px) {
          width: 100%;
          text-align: left;
        }
      }
      &:nth-child(2) {
        //Задаем ширину для самой содержательной по контенту колонки, чтобы он не сжимался
        @media (max-width: 992px) {
          width: 100%;
        }
      }
    }
  }

  @import "../atoms/IconEdit.less";

  & > thead, & > tbody > .Head {
    background: #f9f9fa;
    background: linear-gradient(to top, #f7f8f9, #fff);
    font-weight: 500;
    font-size: 14px;
    color: @text-color-head-tables;
    border-bottom: none;

    @media (max-width: 767px) {
      display: none;
    }
    @import (multiple) "../atoms/LinkSort";

    & > td {
      font-weight: 400;
      a {
        text-decoration: none;
      }
    }
    &:hover {
      box-shadow: none;
    }
  }
  & > tbody > tr > td.TableDefault-MainCell, & > thead > tr > td.TableDefault-MainCell {
    width: 100%;
  }

  @import (multiple) "FilterTableRow";
  & > tbody > tr.FilterTableRow {
    border-bottom: none;
    @media (max-width: 992px) {
      //display: none;
    }
    & > td {
      padding-top: 0;
      padding-left: 4px;
      padding-right: 4px;
      .ButtonApply {
        margin-left: @indent;
        @media (max-width: @mobile) {
          margin: 0;
        }
      }
    }
    & > td:first-child {
      padding-left: 0;
      input {
        margin: 0 @indent;
        @media (max-width: 767px) {
          margin: 0;
        }
      }
    }
    & > td:last-child {
      padding-right: @indent;
    }
    //Выравниваем кнопку поиска всегда по правому краю
    & > td:last-child {
      text-align: right;
    }
    //Переопределяем hover для строки фильтров
    &:hover {
      background-color: #fff;
      box-shadow: none;
    }
    //Прячем фильтр на маленьких экранах, кроме первой колонки с кнопкой
    & > td:not(:first-child) {
      @media (max-width: 992px) {
        display: none;
      }
    }
    //Отменяем отступ у колонки с кнопкой
    //& > td:first-child {
    //  @media (max-width: 992px) {
    //    display: table-cell;
    //    text-align: left;
    //    padding: 0 0 @indentSmall 0;
    //  }
    //}
  }
  & > tbody > tr.EmptyRow {
    border-bottom: none;
    & > td, & > td:nth-child(n) {
      text-align: center;
      @media (max-width: 992px) {
        display: table-cell;
      }
      @media (max-width: 767px) {
        display: block;
        width: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .TableDefault,
  table.TableDefault > tbody,
  table.TableDefault > thead,
  table.TableDefault > tbody > tr,
  table.TableDefault > thead > tr,
  table.TableDefault > tr,
  table.TableDefault > tbody > tr > td,
  table.TableDefault > thead > tr > td,
  table.TableDefault > tr > td,
  table.TableDefault > tbody > tr > th,
  table.TableDefault > thead > tr > th,
  table.TableDefault > tr > th {
    display: block;
  }
}

table.js-table-rows-are-link {
  & > tbody > tr.active {
    cursor: pointer;
  }
  & > tbody > tr > td.active {
    cursor: pointer;
  }
}


//Фильтр для мобильной версии

div.FilterTableRow-Mobile {
  display: none;
  background-color: #ffffff;
  position: fixed;
  z-index: 1000;
  left: 75px;
  top: 0;
  overflow-y: scroll;
  padding:@indent;
  padding-left: 0;
  width: 100%;
  //@media (max-width: 992px) {
  //  display: block;
  //}
  @media (max-width: 768px) {
    left: 65px;
  }
  div.FilterTableRow-MobileContainer {
    display: none;
    width: 100%;
    margin: 0 auto;
    margin-top: @indentSmall;
    div {
      margin-bottom: @indent;
      input, select, textarea {
        width: 100%;
        color: @table-text-color;
        border: 1px solid @border-color;
        height: 40px;
        margin-top: 0;
        margin-bottom: 0;
        background-color: #ffffff;
        &::placeholder {
          font-style: italic;
          font-weight: 300;
          color: @placeholder-color;
          font-size: 14px;
        }
      }
      .ButtonSearch.ButtonApply {
        width: 100%;
        max-width: none;
        height: auto;
        margin: 0;
        border: 1px solid #1880CF;
      }
    }
    .test-wrap {
      padding: @indent;
      padding-right: calc(~"100vw * 0.009375 + 65px");
    }
    div.DoubleInputDate {
      input {
        width: 50%;
      }
      input:first-child {
        border-radius: @border-radius 0 0 @border-radius;
      }
      input:last-child {
        border-radius: 0 @border-radius @border-radius 0;
      }
    }
  }
    .ButtonsRow {
      display: flex;
      justify-content: flex-start;
      padding-left: calc(~"100vw * 0.009375 + 12px");
      padding-right: calc(~"100vw * 0.009375 + 65px");
      @media (max-width: @small) {
        flex-direction: column-reverse;
      }
    }
    .ButtonApply {
      width: 118px;
      padding: 10px;
      @media (max-width: @small) {
       width: 100%;
      }
      &:first-child {
        margin-right: 10px;
        @media (max-width: @small) {
          margin-right: 0;
        }
      }
      &:last-child {
        @media (max-width: @small) {
          margin-bottom: 10px;
        }
      }
    }
    //Кнопка для показа фильтров на мобильных экранах
    .ButtonApply.FilterButton {
      @media (max-width: @mobile) {
        display: inline-block;
      }
    }
  .Filter-Checkbox {
    display: none;
  }
  input:checked + .FilterTableRow-MobileContainer {
    display: block;
  }
}

div.FilterTableRow-Mobile.active {
  bottom: 0;
}
