@import "TableDefault";

table.TablePartnerButtons,
table.TableDefault.TablePartnerButtons {

  @import (multiple) "../atoms/filter-button";

  & > tbody > tr.FilterRowButtonMobile {
      @media (max-width: @grid-breakpoint-md) {
        display: block;
      }
    & > td {
      @media (max-width: @grid-breakpoint-md) {
        display: block;
      }
      .TableDeals-OperatorCol {
        @media (max-width: @grid-breakpoint-md) {
          display: block;
        }
          input {
            padding: @padding-inside-element_y @padding-inside-element_x;
            min-height: 36px;
            border: 1px solid @border-color;
            width: 112px;
            min-width: 112px;
            @media (max-width: @grid-breakpoint-md) {
              width: 100%;
              margin-bottom: @indent;
            }
          }
        }
    }

    & > td:first-child {
      @media (max-width: @grid-breakpoint-md) {
        width: 100%;
        .ButtonApply {
          width: 100%;
        }
      }
    }
    & > td:nth-child(2) {
      @media (max-width: @grid-breakpoint-md) {
        width: 100%;
        .FilterColButton {
          width: 100%;
        }
      }
    }
  }
}
