@import "TableDefault";

table.TableUsers {
  & > tbody > .FilterTableRow > td:first-child > input {
    //max-width: 80px;
  }
  & > tbody > tr > td:first-child {
    width: 5%;
    @media all and (max-width: 1400px) {
      width: 10%;
    }
  }
  & > tbody > tr > td:nth-child(2) {
    width: 30%;
  }
  & > tbody > tr > td:nth-child(3) {
    width: 20%;
  }
  & > tbody > tr > td:last-child {
    width: 5%;
  }
  & > tbody > tr > td {
    &:nth-child(n) {
      @media all and (max-width: @grid-breakpoint-md) {
        width: 100%;
      }
    }
  }
  .col_mobile-content{
    text-overflow: ellipsis;
    overflow: hidden;
  }

}

