@import (multiple) "TableDefault";

table.TableDefault.TableLegalEntities {

  //Адптируем таблицу с учетом контента страницы

  & > tbody > tr.FilterRowButtonMobile {
    @media (max-width: @grid-breakpoint-md) {
      padding: 12px 36px 12px 48px;
      margin: 0;
    }
    @media (max-width: @grid-breakpoint-sm) {
      padding: 12px 16px;
    }
    & > td:nth-child(n) {
      @media (max-width: @grid-breakpoint-md) {
        padding-left: 0;
        width: 100%;
      }
      .FilterButton {
        @media (max-width: @grid-breakpoint-md) {
          width: 100%;
          margin: 0 0 @grid-vertical-gutter * 2 0;
        }
      }
    }
  }

  //Костыли
  & > tbody > tr.FilterTableRow {
    & > td {
      &:first-child {
        padding-left: @grid-gutter-width-lg;
        text-align: center;
        width: 164px;
        @media (max-width: @grid-breakpoint-lt) {
          width: 204px;
          padding-left: 71px;
        }
        @media (max-width: @grid-breakpoint-md) {
          padding-left: @grid-gutter-width-md;
        }
        @media (max-width: @grid-breakpoint-sm) {
          padding: 0 @grid-gutter-width-sm;
        }
      }
    }
  }
  & > tbody > tr {
    & > td {
      &:first-child {
        padding-left: 48px;
        @media (max-width: @grid-breakpoint-lt) {
          padding-left: 86px;
        }
        @media (max-width: @grid-breakpoint-md) {
          padding-left: @grid-gutter-width-md;
        }
      }
      .FilterColButton {
        @media (max-width: @grid-breakpoint-sm) {
          padding: 0 @grid-gutter-width-sm;
        }
      }
    }
  }

}


