@import (multiple) "TableDefault";

table.TableDocuments {
  .DoubleInputDate {
    .InputDate2 {
      background-position: 80%;
    }
  }
  & > tbody > tr {
    & > td {
      //Формируем самую содержательную по контенту колонку, чтобы он не сжимался из-за других фиксированных колонок
      &:nth-child(2) {
        width: 50%;
        //Отменяем фиксированную ширину, чтобы не появился скролл на мобильном экране
        @media (max-width: 992px) {
          width: 100%;
        }
      }
      //Фиксируем колонку с датой, чтобы поле с датой не растягивалось и не становилось слишком малым при уменьшении окна
      &:nth-child(3) {
        width: 245px;
        @media (max-width: 992px) {
          width: 100%;
        }
      }
    }
  }
}