@import (multiple) "TableDefault";

table.TablePaymentList {
  table-layout: fixed;
  & > tbody > tr:first-child {
    background-color: #ffffff !important;
  }
  & > tbody > tr > td {
    &:first-child {
      text-align: center;
      width: 164px;
      @media all and (max-width: @grid-breakpoint-md) {
        width: 100%;
      }
    }
    &:nth-child(2) {
      width: 30%;
    }
    &:nth-child(3) {
      width: 10%;
    }
    &:nth-child(4) {
      width: 15%;
    }
    &:nth-child(5) {
      width: 10%;
    }
    &:nth-child(6) {
      width: 15%;
    }
    &:nth-child(7) {
      width: 10%;
    }
    &:nth-child(8) {
      width: 5%;
    }
  }
  & > tbody > tr:nth-child(n):hover {
    background-color: @table-hover-background;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
  }
  & > tbody > tr:nth-child(even) {
    background-color: #fff;
  }
  & > tbody > tr:nth-child(odd) {
    background-color: @bg-gray-color;
  }
  & > tbody > tr > td > a {
    color: #4185f4;
  }
  & > tbody > tr > td:nth-child(n) {
    @media all and (max-width: @grid-breakpoint-md) {
      width: 100%;
    }
  }
  & > tbody > tr.Head:hover {
    box-shadow: none;
  }
}
