@import (multiple) "Pagination";
@import (multiple) "../atoms/IconJPG";
@import (multiple) "../atoms/IconPDF";
@import (multiple) "../atoms/IconPNG";
@import (multiple) "../atoms/ButtonSearch";
@import (multiple) "../atoms/Note";
@import (multiple) "../atoms/ButtonEdit";


.TableWrapper {
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 100%;
  height: 100%;
  //@media (max-width: 992px) {
  //  padding: @indent @indentSmall;
  //}
  &#TableDealsDeadline {
    height: 88%;
    overflow: visible;
  }
}

.TableWithPagination {
  display: block;
 height: calc(~"100% - 78px");
  flex: 1;
  @media (max-width: @grid-breakpoint-md) {
    display: block;
    height: calc(~"100% - 128px");
  }
  .TableWrapper {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: calc(~"100% - 78px");
    @media (max-width: @grid-breakpoint-md) {
      min-height: calc(~"100% - 128px");
    }
  }

}

.TableWrapper {
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 100%;

  //Title for smaller screens
  .table-head {
    display: none;
    border-bottom: none;
    @media (max-width: @grid-breakpoint-md) {
      display: block;
    }

    @import (multiple) "../atoms/head-of-element";
    .head-of-element {
      border-bottom: none;
      background-color: @background-dark-fill;
      @media (max-width: @grid-breakpoint-md) {
        &:before {
          display: none;
        }
      }

      //Show on desktop
      @import (multiple) "../atoms/filter-button";
      .filter-button {
        width: 24px;
        height: 24px;
        background: @light-grey-gradient;
        @media (max-width: @grid-breakpoint-md) {
          display: none;
        }
      }
    }
  }

  @import (multiple) '../molecules/deal-filters-wrapper';
  .deals-cell{
    width: 80%;
  }

  .filter-cell{
    width: 20%;
  }

  &#TableDealsDeadline {
    height: 88%;
  }
}


table.TableDefault {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  color: @table-text-color;
  font-size: 15px;
  letter-spacing: 0.1px;
  table-layout: fixed;
  //min-height: 900px;

  @import (multiple) '../atoms/col-mobile-title';

  //Заголовки для мобильной версии(проверить, нужны ли стили)
  & > tbody > tr.table-head {
    display: none;
    @media (max-width: @grid-breakpoint-md) {
      display: block;
    }
    @import (multiple) "../atoms/head-of-element";
    & > td.head-of-element {
      border-bottom: none;
      background-color: @background-dark-fill;
      display: none;
      @media (max-width: @grid-breakpoint-md) {
        display: block;
        &:before {
          display: none;
        }
      }
    }
  }

  //Кнопки запуска создания сделки, сортировки и фильтра
  @import (multiple) "FilterRowButtonMobile";

  & > tbody > tr {
    border-bottom: 1px solid #F0F0F0;
    transition: .2s background ease;
    &:nth-child(even) {
      background-color: @bg-gray-color;

      @media (max-width: @mobile){
        background-color: #ffffff;
      }
    }
    &:nth-child(odd) {
      background-color: #ffffff;
    }
    &:hover {
      @media (min-width: (@mobile + 1)){
        background-color: @table-hover-background;
        box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
      }
    }
    &.highlighted {
      box-shadow: 0 0 0 2px @accent-color inset;
    }
    & > td {
      padding: 17.5px 16px;
      vertical-align: middle;
      position: relative;
      line-height: 24px;
      font-size: 14px;
      font-weight: 500;
      text-align: left;
      transition: width .4s;
      //Отступ для стрелок сортировки
      @media (max-width: @tablet) {
        padding-left: 25px;
      }
      @media (max-width: @grid-breakpoint-md) {
        padding: 6px @grid-gutter-width-md;
      }
      a {
        color: inherit;
        text-decoration: underline;
      }
    }
    & > td:first-child {
      //text-align: center;
    }

    & > td.col-number {
      &:first-child {
        text-align: left;
      }
      padding-left: 30px;
      @media (max-width: @grid-breakpoint-lt) {
        padding-left: 64px;
      }
      @media (max-width: @grid-breakpoint-md) {
        padding-left: 16px;
      }
    }

    & > td.col__size-5{
      width: 5%;
    }
    & > td.col__size-10{
      width: 10%;
    }
    & > td.col__size-15{
      width: 15%;
    }
    & > td.col__size-20{
      width: 20%;
    }
    & > td.col__size-25{
      width: 25%;
    }
    & > td.col__size-30{
      width: 30%;
    }
    & > td.col__size-5,
    & > td.col__size-10,
    & > td.col__size-15,
    & > td.col__size-20,
    & > td.col__size-25,
    & > td.col__size-30 {
      @media (max-width: @grid-breakpoint-md) {
        width: 100%;
      }
    }

    & > td.col {
      transition: width .4s;
      @media (max-width: @grid-breakpoint-md) {
        display: flex;
      }
      .col_mobile-title {
        display: none;
        width: 50%;
        font-weight: 700;
        @media (max-width: @grid-breakpoint-md) {
          display: block;
        }
      }
      .col_mobile-content {
        @media (max-width: @grid-breakpoint-md) {
          width: 50%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
      .col_mobile-content{
        @media (min-width: (@grid-breakpoint-md + 1)) {
          text-overflow: ellipsis;
          overflow: hidden;

          &:hover{
            //overflow: visible;
          }

        }
      }
      &.col-number {
        //padding-right: 4px;
        @media (max-width: @grid-breakpoint-md) {
          width: 100%;
          background-color: @background-fill;
          justify-content: center;
          padding-left: @grid-gutter-width-md;
          .col_mobile-title {
            width: auto;
            margin-right: 4px;
          }
          .col_mobile-content {
            width: auto;
          }
        }
        @media (max-width: 320px) {
          padding-left: @grid-gutter-width-md;
        }
      }
      &.col-amount {
        text-align: right;
        @media (max-width: @grid-breakpoint-md) {
          text-align: left;
        }
      }
    }
    //Для пустых колонок
    & > td.col-empty {
      @media (max-width: @grid-breakpoint-md) {
        display: none;
      }
    }
  }


  @import "../atoms/IconEdit.less";

  & > thead, & > tbody > .Head {
    background: #f9f9fa;
    background: linear-gradient(to top, #f7f8f9, #fff);
    color: @text-color-head-tables;
    border-bottom: 1px solid #F0F0F0;
    @media (max-width: @grid-breakpoint-md) {
      display: none;
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 65px;
      bottom: 0;
      overflow-y: scroll;
      padding-left: 0;
      width: 100%;
      background-color: transparent;
      max-width: none;
    }
    @import (multiple) "../atoms/LinkSort";

    & > td {
      font-weight: 500;
      font-size: 14px;
      &:first-child {
      }
      @media (max-width: @grid-breakpoint-md) {
        padding: @padding-inside-element_y @padding-inside-element_x;
        padding-left: 30px;
        background-color: transparent;
        color: @table-text-color;
        border-bottom: 1px solid @border-color;
        //&:hover {
        //  &:before {
        //    background: url(../../../img/sort-check.svg) no-repeat;
        //  }
        //}
      }
      //&:before {
      //  @media (max-width: 767px) {
      //    content: "";
      //    display: block;
      //    width: 12px;
      //    height: 12px;
      //    position: absolute;
      //    right: 8px;
      //    top: 50%;
      //    transform: translateY(-50%);
      //    background: url(../../../img/sort-not-check.svg) no-repeat;
      //  }
      //}
      a {
        text-decoration: none;
      }
      a.LinkSort {
        @media (max-width: @grid-breakpoint-md) {
          width: 100%;
          padding-left: 4px;
          .LinkSort-Icon {
            padding: 0;
            height: 12px;
            width: 12px;
            background-position: center;
          }
        }
      }
      &.col-number {
        @media (max-width: @grid-breakpoint-md) {
          display: none;
        }
      }
      &.ButtonsRow {
        display: none;
          @media (max-width: @grid-breakpoint-md) {
            position: absolute;
            bottom: @indent;
            padding: 0 @indent;
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-bottom: none;
            &:before {
              display: none;
            }
          }
      }
      &.col__clicked {
        @media (max-width: @mobile) {
          background-color: #1991EB;
          color: #fff;
        }
      }
   }
    & > td.no-sort {
      @media (max-width: @grid-breakpoint-md) {
        display: none;
      }
    }
    &:hover {
      box-shadow: none;
    }

    .ButtonApply.button-for-filter,
    .ButtonEdit.button-for-filter {
      display: none;
      padding: @padding-inside-element_y @padding-inside-element_x;
      height: auto;
      width: 48%;
      @media (max-width: @grid-breakpoint-md) {
        display: inline-block;
        max-width: none;
      }
    }

    @import (multiple) "../atoms/head-of-element";
    & > td.head-of-element {
      display: none;
      border-bottom: none;
      @media (max-width: @grid-breakpoint-md) {
        display: block;
        &:before {
          display: none;
        }
      }
    }

  }

  & > tbody > tr.Head.active {
    @media (max-width: @grid-breakpoint-md) {
      display: block;
    }
  }

  & > tbody > tr.Head.close {
    @media (max-width: @grid-breakpoint-md) {
      display: none;
    }
  }

  & > tbody > tr > td.TableDefault-MainCell, & > thead > tr > td.TableDefault-MainCell {
    width: 100%;
  }

  @import (multiple) "FilterTableRow";
  & > tbody > tr.FilterTableRow {
    border-bottom: none;
    & > td {
      .ButtonApply {
        @media (max-width: @mobile) {
          margin: 0;
        }
      }
    }
  }


  //Из ветки 1782
  & > tbody > tr.FilterTableRow {
    border-bottom: none;
    & > td {
      &:first-child,
      &.first-child {
        padding-left: 16px;
        @media (max-width: @grid-breakpoint-lt) {
          padding-left: 48px;
        }
        @media (max-width: @grid-breakpoint-md) {
          padding-left: 0;
        }
      }
      .ButtonApply {
        @media (max-width: @grid-breakpoint-md) {
          margin: 0;
        }
      }
    }
  }

  & > tbody > tr.EmptyRow {
    border-bottom: none;
    & > td, & > td:nth-child(n) {
      text-align: center;
      @media (max-width: 992px) {
        display: table-cell;
      }
      @media (max-width:@grid-breakpoint-md) {
        display: block;
        width: 100%;
      }
    }
  }

  .to-deal-link-cell{
    padding-bottom: 12px;
    border-bottom: 1px solid #E2E7EE;
    margin-bottom: 23px;
    text-align: center;

    .ButtonApply{
      width: 100%;
      max-width: none;
      color: #fff;
      text-decoration: none;
    }

  }

  //Стили для фильтров на мобильном экране
  @import (multiple) "FilterTableMobile";

}

@media (max-width:  @grid-breakpoint-md) {
  .TableDefault,
  table.TableDefault > tbody,
  table.TableDefault > thead,
  table.TableDefault > tbody > tr,
  table.TableDefault > thead > tr,
  table.TableDefault > tr,
  table.TableDefault > tbody > tr > td,
  table.TableDefault > thead > tr > td,
  table.TableDefault > tr > td,
  table.TableDefault > tbody > tr > th,
  table.TableDefault > thead > tr > th,
  table.TableDefault > tr > th {
    display: block;
  }
}

table.js-table-rows-are-link {
  & > tbody > tr.active {
    cursor: pointer;

    @media (max-width: @grid-breakpoint-md){
      cursor: default;
    }

  }
  & > tbody > tr > td.active {
    cursor: pointer;

    @media (max-width: @grid-breakpoint-md){
      cursor: default;
    }

  }
}


