@import "TableDefault";

table.TableDealsUbnormal {
  & > tbody > tr > td {
    &:first-child {
      //text-align: center;
    }
    &:nth-child(2) {
      width: 25%;
    }
    &:nth-child(n) {
      @media (max-width: @grid-breakpoint-md) {
        width: 100%;
      }
    }
  }
  & > tbody > .Head > td {
    padding-top: 0;
  }
  //& > tbody > tr > td:first-child {
  //  width: 5%;
  //}
  //& > tbody > tr > td:nth-child(2) {
  //  width: 30%;
  //  @media (max-width: @grid-breakpoint-md) {
  //    width: 100%;
  //  }
  //}
  //& > tbody > tr > td:nth-child(8) {
  //  width: 30%;
  //  @media (max-width: @desk) {
  //    width: 50%;
  //  }
  //  @media (max-width: @grid-breakpoint-md) {
  //    width: 100%;
  //  }
  //}
}

table.TablePaymentOrdersTrouble {
  table-layout: fixed;
  @media (max-width: @grid-breakpoint-md) {
    table-layout: auto;
  }
  & > tbody > .Head > td {
    padding-top: 0;
  }
  & > tbody > tr > td:first-child {
    width: 5%;
    text-align: center;
    @media (max-width: @grid-breakpoint-md) {
      width: 100%;
    }
  }
  & > tbody > tr > td:nth-child(2) {
    width: 11%;
    @media (max-width: @grid-breakpoint-md) {
      width: 100%;
    }
  }
  & > tbody > tr > td:nth-child(3) {
    width: 11%;
    @media (max-width: @grid-breakpoint-md) {
      width: 100%;
    }
  }
  & > tbody > tr > td:nth-child(4) {
    width: 15%;
    @media (max-width: @grid-breakpoint-md) {
      width: 100%;
    }
  }
  & > tbody > tr > td:nth-child(5) {
    width: 16%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    @media (max-width: @grid-breakpoint-md) {
      width: 100%;
    }
  }
  & > tbody > tr > td:nth-child(6) {
    width: 11%;
    @media (max-width: @grid-breakpoint-md) {
      width: 100%;
    }
  }
  & > tbody > tr > td:nth-child(7) {
    width: 16%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    @media (max-width: @grid-breakpoint-md) {
      width: 100%;
    }
  }
  & > tbody > tr > td:nth-child(8) {
    width: 9%;
    @media (max-width: @grid-breakpoint-md) {
      width: 100%;
    }
  }
  & > tbody > tr > td:nth-child(9) {
    width: 6%;
    @media (max-width: @grid-breakpoint-md) {
      width: 100%;
    }
  }
}