@import (multiple) "TableDefault";

table.TableDefault.TableDealsDispute,
table.TableDealsDispute {
  table-layout: fixed;
  @media (max-width: 992px) {
    table-layout: auto;
  }

  & > tbody > tr.FilterTableRow {

    & > td:nth-child(2) {
      width: 30%;
    }
    & > td:nth-child(5) {
      width: 10%;
    }
    //& > td:nth-child(6) {
    //  width: 10%;
    //}
  }
}
