@import (multiple) "TableDefault";

table.TablePaymentMethods{
  & > tbody > tr {
    & > td {
    }
  }
  .FilterTableRow {
    @media (max-width: @grid-breakpoint-md) {
      display: none;
    }
  }

  //.FilterRowButtonMobile {
  //  @media (max-width: @grid-breakpoint-md) {
  //    display: table-row;
  //  }
  //  @media (max-width: @grid-breakpoint-sm) {
  //    padding: 0;
  //    display: block;
  //  }
  //  td {
  //    @media (max-width: @grid-breakpoint-sm) {
  //      display: block;
  //    }
  //  }
  //  td.col-button {
  //    padding: 0;
  //    padding-bottom: 10px;
  //    @media (max-width: @grid-breakpoint-sm) {
  //      padding-bottom: 0;
  //    }
  //  }
  //}

  //Костыли
  & > tbody > tr.FilterTableRow {
    & > td {
      &:first-child {
        padding-left: @grid-gutter-width-lg;
        text-align: left;
        width: 164px;
        @media (max-width: @grid-breakpoint-lt) {
          width: 204px;
          padding-left: 71px;
        }
        @media (max-width: @grid-breakpoint-md) {
          padding-left: @grid-gutter-width-md;
        }
        @media (max-width: @grid-breakpoint-sm) {
          padding: 0 @grid-gutter-width-sm;
        }
      }
    }
  }
  & > tbody > tr {
    & > td {
      //&:first-child {
      //  padding-left: @grid-gutter-width-lg / 2;
      //  @media (max-width: @grid-breakpoint-lt) {
      //    padding-left: 71px;
      //  }
      //  @media (max-width: @grid-breakpoint-md) {
      //    padding-left: @grid-gutter-width-md;
      //  }
      //  @media (max-width: @grid-breakpoint-sm) {
      //    padding: 0 @grid-gutter-width-sm;
      //  }
      //}
    }
  }

  .DoubleInputDate {
    .InputDate2 {
      background-position: 80%;
    }
  }
  & > tbody > tr.FilterTableRow {
    & > td {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}