@import "TableDefault";

table.TableDealsDeadline > tbody {
  & > tr.FilterTableRow > td:first-child {
    & > td:first-child {
      padding-left: 25px;
    }
    & > input {
      margin: 0;
      width: 80px;
    }
  }
  & > tr > td:first-child {
    padding-left: 25px;
  }
}

.ButtonsRow {
  text-align: right;
  padding: 0 @indent @indentSmall @indentSmall;
  @media (max-width: 767px) {
    text-align: left;
  }
}

