@import "TableDefault";

table.TableDeals,
table.TableDefault.TableDeals {
  table-layout: fixed;
  @media (max-width: @grid-breakpoint-sm) {
    table-layout: auto;
  }

  & > tbody > tr {
    & > td.col-status {
      padding-right: @grid-gutter-width-lg;
      @media (max-width: @grid-breakpoint-lt) {
        padding-right: @grid-gutter-width-lg + 16px;
      }
      @media (max-width: @grid-breakpoint-md) {
        padding-right: 36px;
      }
      @media (max-width: @grid-breakpoint-sm) {
        padding-right: @indentSmall;
      }
    }

  }
  @import (multiple) "../atoms/filter-button";

  & > tbody > tr.FilterRowButtonMobile {
      @media (max-width: @grid-breakpoint-md) {
        display: block;
      }
    & > td {
      @media (max-width: @grid-breakpoint-md) {
        display: block;
      }
      .TableDeals-OperatorCol {
        @media (max-width: @grid-breakpoint-md) {
          display: block;
        }
          input {
            padding: @padding-inside-element_y @padding-inside-element_x;
            min-height: 36px;
            border: 1px solid @border-color;
            width: 112px;
            min-width: 112px;
            @media (max-width: @grid-breakpoint-md) {
              width: 100%;
              margin-bottom: @indent;
            }
          }
        }
    }

    & > td:first-child {
      @media (max-width: @grid-breakpoint-md) {
        width: 100%;
        .ButtonApply {
          width: 100%;
        }
      }
    }
    & > td:nth-child(2) {
      @media (max-width: @grid-breakpoint-md) {
        width: 100%;
        .FilterColButton {
          width: 100%;
        }
      }
    }
  }


  & > tbody > tr.FilterTableRow {

    @media (max-width: @grid-breakpoint-md){
      display: none;
      top: 65px;
    }

    > td:first-child {
      .ButtonApply {
        width: 100%;
      }
      //width: 164px;
    }
    & > td:nth-child(1),
    > td:nth-child(4),
    > td:nth-child(5),
    > td:nth-child(6),
    > td:nth-child(7),
    > td:nth-child(8) {
      @media (max-width: @grid-breakpoint-md) {
        width: 100%;
      }
    }

    & > td.col-number {
      .TableDeals-OperatorCol {
        input {
          min-width: 112px;
        }
      }
    }
    & > td.col-name {
      width: 25%;
      @media (max-width: @grid-breakpoint-md) {
        width: 100%;
      }
    }
    .ButtonSearch {
      @media (max-width: @grid-breakpoint-md) {
        display: none;
      }
    }
    //> td:last-child {
    //  width: 5%;
    //}

    td.head-of-element{
      @media (max-width: @grid-breakpoint-md){
        display: block;
      }
    }
  }

  //Кнопки на мобильном экране для фильтра и сортировки
  & > tbody > tr.FilterRowButtonMobile {
    td {
      @media (max-width: @grid-breakpoint-md) {
        padding: 0;
      }
    }
  }

  .no-input {
    pointer-events: none;
  }
}
