.tab-container {
  .tab-input {
    display: none;
    position: absolute;
  }

  .tab-point {
    user-select: none;

    & + .tab-point {
      margin: 0 0 0 16px;
    }

    @media (max-width: @grid-breakpoint-xs) {
      display: block;
      margin: 0 0 @grid-vertical-gutter 0;

      & + .tab-point {
        margin: 16px 0 0 0;
      }
    }

    @import (multiple) "../atoms/link-with-dotted-line";

    .link-with-dotted-line {
      color: @text-color;
      border-color: @text-color;
      opacity: 0.8;
    }

    &.active {
      .link-with-dotted-line {
        color: @accent-color;
        border-bottom: none;
        opacity: 1;
      }
    }

    &:hover {
      .link-with-dotted-line {
        opacity: 0.6;
      }
    }

  }
}