.TimelineRectangle {
  width: 100%;
  max-height: 300px;
  margin-top: 24px;
  font-size: 12px;
  line-height: 16px;

  @media (max-width: 908px) {
    position: relative;
    width: 908px;
  }

  div.TimelineRectangle-Wrap {
    position: relative;
    height: 100%;
  }
  div.TimelineRectangle-Wrap.active {
    @media (max-width: @small) {
      display: block;
    }
  }
  div.TimelineRectangle-Wrap.complete {
    @media (max-width: @small) {
      display: block;
    }
  }
  div.TimelineRectangle-Wrap.fail {
    @media (max-width: @small) {
      display: block;
    }
  }
  .TimelineRectangle-ItemContainer {
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100%;
    text-align: center;
    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 28px;
      left: 50%;
      width: 100%;
      height: 4px;
      background-color: @_New_light-grey-color;
    }

  }

  .TimelineRectangle-Wrap:nth-child(4) {
    .TimelineRectangle-ItemContainer {
      &:before {
      }
    }
  }
  .TimelineRectangle-Item {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 0 8px;
    min-height: 60px;
    //padding: 0 4px;
    width: calc(~"1920px / 27 * 2.7");
    height: 100%;
    background-color: @_New_light-grey-color;
    //background-color: @dark-grey-color;
    color: @black;
    border-radius: 3px;
    @media (max-width: @grid-breakpoint-lg) {
      max-width: 170px;
    }

    @media (min-width: (@grid-breakpoint-lg + 1)) and (max-width: (@grid-breakpoint-lg + 201)){
      justify-content: center;
    }

    @media (max-width: @grid-breakpoint-lt) {
      max-width: none;
    }

    @media (max-width: 908px) {
      max-width: none;
      width: 100%;
      //padding: 0 4px;
    }


    .tooltip_message{
      z-index: 9999;
      position: absolute;
      display: none;
      top: 0px;
      right: 0px;
      background-color: transparent;
      padding: 3px 10px 5px 10px;
      color: white;
      font-size: 12px;
      border-radius-top: 5px;
      -moz-box-shadow: inset 0px 0px 0px 10px #f00;
      box-shadow: inset 0px 0px 2px #fff;
      border: 1px solid #fff;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top: none;
      border-right: none;
    }
    .tooltip_description {
      z-index: 9999;
      display: none;
      position: absolute;
      border-radius: 3px;
      width: 100%;
      height: auto;
      top: 70%;
      left: 10%;
      color: black;
      background-color: @placeholder-color;
      text-align: center;
      padding: 5%;
    }

    @import (multiple) "../atoms/PointRounded";
    .PointRounded {
      width: 24px;
      min-width: 24px;
      height: 24px;
      background-color: #ffffff;
      color: @grey-button-color;
      line-height: 16px;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      @media (min-width: (@grid-breakpoint-lg + 1)) and (max-width: (@grid-breakpoint-lg + 201)){
        display: none;
      }
    }

    .Timeline-Label {
      margin-left: 8px;
      color: @_New_dark-grey-color;
      font-weight: 700;
      text-align: left;
      font-size: 12px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @media (min-width: (@grid-breakpoint-lg + 1)) and (max-width: (@grid-breakpoint-lg + 201)){
        margin-left: 0;
        text-align: center;
      }

      p {
        width: 100%;
        font-size: 12px;
        line-height: 16px;

        &:empty{
          display: none;
        }

      }
      .Text {
        display: block;
      }
    }
  }

  .TimelineRectangle-Label {
    //margin-bottom: 5px;
    max-width: 130px;
    font-size: 14px;
  }

  .active.TimelineRectangle-ItemContainer {
    &:before {
      background-color: @accent-color;
    }
    .TimelineRectangle-Item {
      background-color: @accent-color;
      .Timeline-Label {
        color: #ffffff;
      }
    }
    .PointRounded {
      background-color: #ffffff;
      color: @accent-color;
    }
  }

  .completed.TimelineRectangle-ItemContainer {
    &:before {
      background-color: @_New_dark-grey-color;
    }
    .TimelineRectangle-Item {
      background-color: @_New_dark-grey-color;
      .Timeline-Label {
        color: #ffffff;
      }
    }
    .PointRounded {
      background-color: #ffffff;
      color: @_New_dark-grey-color;
    }
  }

  .fail.TimelineRectangle-ItemContainer {
    &:before {
      background-color: @red-color;
    }
    .TimelineRectangle-Item {
      background-color: @red-color;
      .Timeline-Label {
        color: #ffffff;
      }
    }
    .PointRounded {
      background-color: #ffffff;
      color: @red-color;
    }
  }

  .hide.TimelineRectangle-ItemContainer {
    visibility: hidden;
    @media (max-width: @small) {
      display: none;
    }
  }

  .col-xl-2:nth-last-child(2) .TimelineRectangle-ItemContainer:before{
    display: none;
  }


}
.timeline-last-column{
  display: none;

  @media (max-width: @grid-breakpoint-lg){
    display: block;
  }

  @media (max-width: @grid-breakpoint-lt){
    display: none;
  }

  .timeline-last-column__inner{
    background: #FFFFFF;
    //background: linear-gradient(to right, rgba(102,60,172,1) 0%,rgba(98,58,155,1) 100%);
    border-radius: 3px;
    height: 100%;
    width: 100%;

    .timeline-last-column__cap{
      display: block;
      background-image: url('/img/timeline-louna.svg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }

}