.Timeline {
  display: flex;
  width: 100%;
  @media (max-width: @mobile) {
    flex-direction: column;
  }
  .Timeline-Item {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    position: relative;
    @media (max-width: @mobile) {
      flex-basis: auto;
      justify-content: flex-start;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 32px; //Половина высоты блока числа
      right: 50%;
      width: 100%;
      height: 4px;
      background-color: #c7c7c9;
      @media (max-width: @mobile) {
        width: 4px;
        height: 100%;
        right: auto;
        left: 18px; // половина длины кружка с цифрой минус половина длины линии
        bottom: 50%;
      }
    }
    &:first-child {
      &:before {
        display: none;
      }
    }
  }
  .Timeline-Item + .Timeline-Item {
    @media (max-width: @mobile) {
      margin-top: 20px;
    }
  }
  .Timeline-Point {
    @media (max-width: @mobile) {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  @import (multiple) "../atoms/PointRounded";
  .PointRounded {
    margin: 0 auto;
  }
  .Timeline-Label {
    font-size: 14px;
    margin-bottom: 5px;
    max-width: 130px;
    @media (max-width: @mobile) {
      max-width: 100%;
      display: inline-flex;
      align-items: center;
      margin-bottom: 0;
      margin-left: 20px;
    }
  }
  &.active-1 {
    .Timeline-Item:first-child {
      &:before {
        background-color: @accent-color;
      }
      .PointRounded {
        background-color: @accent-color;
      }
    }
  }
  &.active-2 {
    .Timeline-Item:nth-child(-n+2) {
      &:before {
        background-color: @accent-color;
      }
      .PointRounded {
        background-color: @accent-color;
      }
    }
  }
  &.active-3 {
    .Timeline-Item:nth-child(-n+3) {
      &:before {
        background-color: @accent-color;
      }
      .PointRounded {
        background-color: @accent-color;
      }
    }
  }
  &.active-4 {
    .Timeline-Item:nth-child(-n+4) {
      &:before {
        background-color: @accent-color;
      }
      .PointRounded {
        background-color: @accent-color;
      }
    }
  }
  &.active-5 {
    .Timeline-Item:nth-child(-n+5) {
      &:before {
        background-color: @accent-color;
      }
      .PointRounded {
        background-color: @accent-color;
      }
    }
  }
  &.active-6 {
    .Timeline-Item:nth-child(-n+6) {
      &:before {
        background-color: @accent-color;
      }
      .PointRounded {
        background-color: @accent-color;
      }
    }
  }
}