.TitleWithEditIcon {
  position: relative;
  padding-right: 40px;
  margin-bottom: 48px;
  @media (max-width: @tablet) {
    margin-bottom: 30px;
  }
  @media (max-width: @mobile) {
    margin-bottom: 16px;
  }

  @import (multiple) "../atoms/TitleBlue";
  .TitleBlue {
    margin-bottom: 0;
  }

  @import (multiple) "../atoms/IconEdit";
  .IconEdit {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: @mobile) {
      right: 10px;
    }
  }
}