.UserDataPlate {
  @import (multiple) "./../molecules/profile-deal-buttons";
  max-width: 410px;
  @media (max-width: @grid-breakpoint-md) {
    padding-right: 0;
  }
  @media (max-width: @grid-breakpoint-sm) {
    max-width: none;
    border-bottom: none;
  }

  .UserDataPlate-Title {
    margin-bottom: 36px;
    font-size: 21px;
    letter-spacing: 0.14px;
    line-height: 25px;
    @media (max-width: @desk) {
      margin-bottom: 20px;
    }

    @media (max-width: @grid-breakpoint-md) {
      font-size: 18px;
    }
    @media (max-width: @grid-breakpoint-sm) {
      display: none;
    }
  }

  .UserDataPlate-Field {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (max-width: @large) {
      align-items: flex-start;
    }
    @media (max-width: @grid-breakpoint-sm) {
      margin-bottom: 16px;
    }

    @import (multiple) "../components/FieldEditable";
    .FieldEditable {
      display: inline-flex;
      width: 100%;
      margin-bottom: 0;
      @media (max-width: @grid-breakpoint-md) {
        min-width: 100%;
      }
      @media (max-width: @grid-breakpoint-sm) {
        max-width: none;
      }
      .InfoFieldStatus {
        .InfoFieldStatus-Label {
          max-width: none;
        }
      }
    }
    .FieldEditable + .FieldEditable {
      margin-top: @grid-vertical-gutter;
    }
    .ButtonApply {
      margin-top: 0;
      padding: 8.5px 5px;
      font-size: 12px;
      @media (max-width: @grid-breakpoint-sm) {
        max-width: none;
      }
    }
  }
  .UserDataPlate-Field:last-child {
    margin-bottom: 0;
  }

  .invitation-to-deal-message{
    margin-bottom: 12px;
  }

}