.UserNotifications {
  position: relative;
  height: auto;
  display: none;
  @media (max-width: 992px) {
    height: 70px;
  }

  .UserName {
    text-align: center;
    padding-bottom: 30px;
  }

  .UserNotifications-Label {
    display: none;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    @media (max-width: 1300px) {
      width: 13px;
      height: 13px;
    }
  }

  .UserNotifications-Label_newDeal {
    background-color: @accent-color;
  }
  .UserNotifications-Label_message {
    background-color: @red-color;
  }
  .UserNotifications-Label_completedDeal {
    background-color: @green-color;
  }

  @import (multiple) "../../application/atoms/AvatarWithBorder";
  .AvatarWithBorder {
    position: relative;
    border: none;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 20px auto;
    @media (max-width: 1200px) {
      height: 50px;
      width: 50px;
    }
    .UserNotifications-Label {
      position: absolute;
      text-align: center;
      color: #ffffff;
      font-size: 10px;

      span {
        line-height: 18px;
        @media (max-width: 1300px) {
          line-height: 11px;
        }
      }
    }
    .UserNotifications-Label_newDeal {
      right: 13px;
      top: -3px;
      @media (max-width: 1300px) {
        left: 30px;
        top: 0;
      }
    }
    .UserNotifications-Label_message {
      right: -4px;
      top: 32px;
      @media (max-width: 1300px) {
        left: 43px;
        top: 18px;
      }
    }

    .UserNotifications-Label_completedDeal {
      right: 13px;
      top: 69px;
      @media (max-width: 1300px) {
        right: 8px;
        top: 40px;
      }
    }
  }
  .UserNotifications-HintsToggle{
    position: absolute;
    left: 10px;
    top: -10px;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    @media (max-width: 1300px) {
      display: none;
    }
    &:hover {
      z-index: 35;
      transform: scale(1.1);
      transition-property: transform;
      transition-duration: .4s;
    }
  }
  .UserNotifications-HintsContainer {
    height: 58px;
    display: none;
    align-items: center;
    justify-content: space-around;
    margin-left: 23px;
    overflow: hidden;
    box-sizing: content-box;
    padding-top: 4px;
    @media (max-width: 1300px) {
      display: none;
    }
    .UserNotifications-Hint {
      position: relative;
      .UserNotifications-Label {
        height: 15px;
        width: 15px;
        margin: 20px auto;
        display: inline-block;
        float: left;
      }
    }
    .UserNotifications-HintText {
      display: inline-block;
      float: left;
      font-size: 10px;
      vertical-align: middle;
      white-space: normal;
      max-width: 60px;
      margin-left: 6px;
      color: #fff;
      padding-top: 18px;
    }
  }
}