.UserBar {
  position: relative;
  display: inline-flex;
  align-items: center;
  @media (max-width: @tablet) {
    display: none;
  }

  label {
    margin-bottom: 0;
    cursor: pointer;
  }

  .UserBar-Container {
    display: flex;
    align-items: center;

    .UserBar-Checkbox {
      display: none;
    }

    .UserBar-NoticeIcon {
      margin-right: 15px;
      width: 13.36px;
      height: 16.26px;
    }

    .UserBar-Text {
      display: inline-block;
      margin-right: 15px;
      font-size: 16px;
      font-weight: 400;
      color: #251900;
    }

    @import (multiple) "../../landing/atoms/DropDown-Menu";
    .DropDown-Menu {
      max-height: 0;
      transition: max-height 0s ease;
    }

    input:checked + .DropDown-Menu {
      max-height: 500px;
    }
  }
}


