.Warning {
  max-width: 275px;
  display: block;
  font-size: 14px;
  line-height: 18px;
  .Warning-Title {
    position: relative;
    font-size: 21px;
    line-height: 25px;
    font-weight: 500;
    padding-left: 30px;
    margin-bottom: @indent;

    @import (multiple) "../atoms/IconClose";
    @import (multiple) "../atoms/IconOk";
    .Warning-Icon {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
  .Warning-Message {
    border: 1px solid @red-color;
    border-radius: @border-radius;
    padding: 7px 8px 9px 12px;
  }
  .Warning-Message-Green {
    border: 1px solid @green-color;
    border-radius: @border-radius;
    padding: 7px 8px 9px 12px;
    margin-bottom: 24px;
  }
}