<?php
$this->headTitle('Reset Password');
$form->get('email')->setAttributes([
    'class'=>'form-control'
]);
$form->get('email')->setOptions([
    'label'=>'Ваш e-mail',
]);
$form->get('submit')->setAttributes([
    'class'=>'btn btn-blue',
    'value'=>'Восстановить пароль'
]);
$form->prepare();
?>

<div class="row">
    <div class="col-md-6">
        <?= $this->form()->openTag($form); ?>

        <h2>Восстановить пароль</h2>

        <p>Введите ваш e-mail для восстановления пароля</p>
        <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-envelope"></span>
            </div>
        <?= $this->formElement($form->get('email')); ?>
        </div>
        </div>
        <?= $this->formElementErrors($form->get('email')); ?>

        <?= $this->formElement($form->get('csrf')); ?>

        <?= $this->formElement($form->get('submit')); ?>

        <?= $this->form()->closeTag(); ?>
    </div>
</div>