{% extends 'twig/layout/authentication' %}
{#
    confirmForm - form
#}
{% do headTitle('Подтверждение Email') %}
{% block content %}
<div class="col-md-6 fadeInUp">
    <h1>Подтверждение Email</h1>
    <div class="registration__small_text">
        <p>Для полноценного использования системы просим вас подтвердить ваш адрес электронной почты. Все необходимые инструкции отправлены на указанный вами email</p>
        <p>На Ваш почтовый ящик отправлено сообщение, содержащее ссылку для подтверждения правильности e-mail адреса. Пожалуйста, перейдите по ссылке для завершения подписки.</p>

        <p>Если письмо не пришло в течение 15 минут, проверьте папку «Спам». Если письмо вдруг попало в эту папку, откройте письмо, нажмите кнопку «Не спам» и перейдите по ссылке подтверждения. Если же письма нет и в папке «Спам», попробуйте подписаться ещё раз. Возможно, вы ошиблись при вводе адреса.</p>
    </div>
    {#<form id="email-confirm-form" action="{{ url('email/confirm') | trim}}" method="post" class="confirm-form">#}
        {#<div class="form-group">#}
            {#<label for="inputLogin">код</label>#}
            {#<div class="input-group">#}
                {#<div class="input-group-addon">#}
                    {#<span class="glyphicon glyphicon-check"></span>#}
                {#</div>#}
                {#{{ formElement(confirmForm.get('csrf'))|raw }}#}
                {#<input type="text" size="100" name="confirmation_token" class="form-control" id="inputLogin" placeholder="Введите код">#}
            {#</div>#}
        {#</div>#}
        {#<input type="submit" class="btn btn-blue btn-confirm" value="Подтвердить" />#}
        {#<a href="{{ url('email/resend') | trim}}" class="btn btn-blue glyphicon glyphicon-retweet btn-resend" style="margin-top: 15px"></a>#}
    {#</form>#}
</div>
{% endblock content %}