{% extends 'twig/layout/application' %}

{% do headTitle('Редактирование e-mail') %}
{% block content %}
    <section class="PageForm">
        <div class="PageForm-Container">
            <form class="FormLabelLeft js-form-timer" method="POST" enctype="multipart/form-data" id="email-edit-form" data-start="{{ token_created_date }}" data-period="{{ email_confirmation_token_request_period }}">
                <h3 class="TitleBlue">Редактирование e-mail</h3>
                <div class="Input-Wrapper" style="margin-bottom: 0">
                    {{ formElement(formEmail.get('current_email'))|raw }}
                    {{ formElementErrors(formEmail.get('current_email'))|raw }}
                </div>
                <div class="Input-Wrapper js-form-timer-hide" style="flex-wrap: wrap;">
                    <p style="min-width: 130px;flex-grow: 1;width: 100%;margin-bottom: 10px;">
                        {{ formLabel(formEmail.get('new_email'))|raw }}:
                    </p>
                    <input name="new_email" id="email" class="form-control form-input-element-email-js" placeholder=""
                           value="{{ formEmail.get('new_email').getValue()}}" type="text">
                    <div class="FormError" style="text-align: left">
                        {{ formElementErrors(formEmail.get('new_email'))|raw }}
                    </div>
                </div>
                {{ formElement(formEmail.get('csrf'))|raw }}
                <div class="ButtonsRow" style="padding-top: 0;">
                    <button class="ButtonApply js-form-timer-button" type="submit">Изменить</button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}