{% extends 'twig/layout/authentication' %}
{#
    unconfirmedEmail - string
#}
{% do headTitle('Повторное отправление письма') %}
{% block content %}
<div class="jumbotron">
    <div class="success">
        <div><strong>Повторное</strong> письмо отправлено. Следуйте инструкции, указанной в письме.</div>
        <div>
            Снова не получили? Возможно, проблемы на вашем почтовом сервере. Подождите несколько минут или попробуете зарегистрироватся снова, используя другой email.
        </div>
    </div>
</div>
{% endblock content %}