{% if comments|length > 0 %}
    {% for comment in comments %}
        <div class="row nested-row Comment">
            <div class="col-xl-6 col-lg-5 col-lt-4 col-md-6 col-sm-3 col-xs-4 comment-view-block">
                <div class="Comment-Avatar">
                    <div class="Avatar" style="background-image: url({{ (userProfile['avatar_id']) ? url('profile/avatar', {'fileId' : userProfile['avatar_id']}) : '/img/no-avatar.png' }})"></div>
                </div>
                <div class="Comment-Field">
                    <div class="Head">
                        <span>{{ comment['author'] }}</span>
                        <span>{{ comment['created_full_time'] }}</span>
                    </div>
                    <div class="Text">{{ comment['text'] }}</div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-2 col-lt-2 col-md-3 col-sm-1 col-xs-4 Comment-ActionButton">
                {% if comment['current_user_is_author'] %}
                    <a href="{{ url(urlComment ~ '-edit', {'idComment': comment['id']}) }}" class="RightText EditIcon">Редактировать</a>
                {% endif %}
                <a href="{{ url(urlComment ~ '-delete', {'idComment': comment['id']}) }}" class="RightText DeleteIcon">Удалить</a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p class="note-green">Комментариев нет</p>
{% endif %}
