{% set delivery = deal['delivery'] %}
{% set sender_full_city_name = delivery['service']['sender_address']['full_city_name'] %}
{% set sender_city_name = sender_full_city_name|split(',')[0] %}
{% set receiver_full_city_name = delivery['service']['receiver_address']['full_city_name'] %}
{% set receiver_city_name = receiver_full_city_name|split(',')[0] %}

{% set sender_address = delivery['service']['sender_address']['flat'] ?
    sender_city_name~', ул. '~delivery['service']['sender_address']['street']~', д. '~delivery['service']['sender_address']['house']~', кв. '~delivery['service']['sender_address']['flat']
    :
    sender_city_name~', ул. '~delivery['service']['sender_address']['street']~', д. '~delivery['service']['sender_address']['house']
%}
{% set receiver_address = delivery['service']['receiver_address']['flat'] ?
    receiver_city_name~', ул. '~delivery['service']['receiver_address']['street']~', д. '~delivery['service']['receiver_address']['house']~', кв. '~delivery['service']['receiver_address']['flat']
    :
    receiver_city_name~', ул. '~delivery['service']['receiver_address']['street']~', д. '~delivery['service']['receiver_address']['house']
%}

<div class="Conditions Spoiler js-Description">
    <div class="Conditions-Head">
        Условия
        <label for='spoiler-conditions' class="ButtonAdd Spoiler-Toggle js-ButtonAddConditions"></label>
    </div>
    <input class="Spoiler-Checkbox" type="checkbox" id="spoiler-conditions">
    <div class="Conditions-Wrap Spoiler-Hidden js-conditions-wrap">
        <div class="Conditions-Content js-conditions-content" id="deal-conditions">

            <table class="Conditions_important">
                {#<tr>#}
                {#<td class="Label">Название сделки:</td>#}
                {#<td class="Value">{{ deal['name'] }}</td>#}

                {#</tr>#}
                {#<tr class="Conditions-ContentFullRow">#}
                {#<td colspan="4" class="Value">{{ deal['name'] }}</td>#}
                {#</tr>#}
                <tr>
                    <td class="Label">Номер сделки:</td>
                    <td class="Value">{{ deal['number'] }}</td>
                </tr>
                <tr>
                    <td class="Label">Время исполнения:</td>
                    {% if deal['dispute'] is not null %}
                        {% set delivery_period = deal['delivery_period'] + deal['dispute']['warranty_extension_days'] %}
                    {% else %}
                        {% set delivery_period = deal['delivery_period'] %}
                    {% endif %}
                    <td class="Value">{{ delivery_period }} дней</td>
                </tr>
            </table>

            <table class="ConditionsDescriptions">
                <tr class="full-width">
                    <td colspan="4" class="Label">Описание:</td>
                    <td colspan="4" class="Value">
                        <pre class="pre-ordinary-page-view">{{ deal['addon_terms'] }}</pre>
                    </td>
                </tr>
                {#<tr class="Conditions-ContentFullRow">#}
                    {#<td colspan="4" class="Value">#}
                        {#<pre class="pre-ordinary-page-view">{{ deal['addon_terms'] }}</pre>#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td colspan="2">{{ deal['addon_terms'] }}</td>#}
                {#<td></td>#}
                {#</tr>#}
            </table>
            {% if delivery['service'] %}
                <table class="Delivery">
                    <tr>
                        <td class="Label">Доставка (оплачивает продавец):</td>
                        <td class="Value">{{ delivery['service_type_name'] }} курьерская</td>
                    </tr>
                    {% if delivery['service']['sender_address'] %}
                        <tr class="full-width">
                            <td class="Label">Адрес отправки:</td>
                            <td class="Value">{{ sender_address }}</td>
                        </tr>
                    {% endif %}
                    {% if delivery['service']['receiver_address'] %}
                        <tr class="full-width">
                            <td class="Label">Адрес получения:</td>
                            <td class="Value">{{ receiver_address }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="Label">Предварительная стоимость доставки:</td>
                        <td class="Value pre-shipping-cost">-</td>
                    </tr>
                    <tr>
                        <td class="Label">Срок доставки:</td>
                        <td class="Value delivery-time-period">-</td>
                    </tr>
                </table>
            {% endif %}
            {% if delivery['service_type_name'] == 'NO_SERVICE' %}
            <table class="SelfDelivery">
                <tr>
                    <td class="Label">Описание доставки:</td>
                    <td class="Value">{{ delivery['terms_of_delivery'] }}</td>
                </tr>
            </table>
            {% endif %}
            <table class="DealSum">
                <tr>
                    <td class="Label">Цена:</td>
                    <td class="Value">{{ deal['amount_without_fee'] }} р.</td>
                </tr>
                <tr>
                    {% set fee_payer_option_text = deal['fee_payer_option_name'] %}

                    {% if deal['type_ident'] == 'U' %}
                        {% if deal['fee_payer_option_name'] == 'Покупатель' %}
                            {% set fee_payer_option_text = 'Заказчик' %}
                        {% elseif deal['fee_payer_option_name'] == 'Продавец' %}
                            {% set fee_payer_option_text = 'Исполнитель' %}
                        {% endif %}
                    {% endif %}

                    <td class="Label">Кто платит комиссию:</td>
                    <td class="Value">{{ fee_payer_option_text }}</td>
                </tr>
                <tr>
                    <td class="Label">Комиссия сервиса:</td>
                    {% if is_operator %}
                        <td class="Value">{{ deal['fee_amount'] }} р.</td>
                    {% elseif deal['is_customer'] %}
                        <td class="Value">{{ deal['fee_amount'] }} р.</td>
                    {% else %}
                        <td class="Value">{{ deal['fee_amount'] }} р.</td>
                    {% endif %}
                </tr>
            </table>

        </div>
        <div class="ConditionSumTable">
            <table class="ConditionsSumFinished">
                <tr>
                    {% set fee_payer_option_customer = deal['type_ident'] == 'U' ? 'Заказчик' : 'Покупатель' %}
                    <td class="Label">{{ is_operator ? fee_payer_option_customer~' заплатит' : 'Итого' }}:</td>
                    {% if deal['is_customer'] or is_operator %}
                        <td class="Value">{{ deal['customer_amount'] }} р.</td>
                    {% else %}
                        <td class="Value">{{ deal['contractor_amount'] }} р.</td>
                    {% endif %}
                </tr>
            </table>
            {% if is_operator %}
                <table class="ConditionsSumFinished">
                    <tr>
                        {% set fee_payer_option_customer = deal['type_ident'] == 'U' ? 'Исполнитель' : 'Продавец' %}
                        <td class="Label">{{ fee_payer_option_customer }} получит:</td>
                        <td class="Value">{{ deal['contractor_amount'] }} р.</td>
                    </tr>
                </table>
            {% endif %}
        </div>

    </div>
</div>