{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/component.twig' as component %}

{% set customer_invitation = deal['customer']['invitation'] %}
{% set customer = deal['customer'] %}
{% set contractor_invitation = deal['contractor']['invitation'] %}
{% set contractor = deal['contractor'] %}

<div class="row nested-row">
    <div class="col-xl-6 col-lg-8">
        <div class="DealAgentsDataPlate-Agent">

            {% if customer['is_natural_person'] %}
                {% set customer_name = 'Физ. лицо' %}
            {% elseif customer['is_legal_entity'] %}
                {% set customer_name = 'Юр. лицо' %}
            {% elseif customer['is_sole_proprietor'] %}
                {% set customer_name = 'ИП' %}
            {% endif %}

            {# Префикс являетесь ли вы покупателем #}
            {% set is_you = '' %}
            {% if not is_operator %}
                {% if deal['deal_role'] == 'customer' %}
                    {% set is_you = ' (Вы)' %}
                {% endif %}
            {% endif %}

            {% set deal_agent_customer = deal['type_ident'] == 'U' ? 'Заказчик' : 'Покупатель' %}
            <h2 class="TitleBlue">{{ deal_agent_customer ~ is_you }}
                {% if customer_name %}
                    <span class="CivilLawSubject">({{ customer_name }})</span>
                {% endif %}
            </h2>
            {{ component.infoField('Электронная почта:', customer['email'], true, 'mailto:'~customer["email"] |trim) }}

            {% if customer_invitation and is_operator == false %}
                {% include 'application/deal/partial/form-deal-invitation-resend.twig' with {'deal':  deal, 'invitation': customer_invitation} %}
            {% endif %}

            {% if customer['is_natural_person'] %}
                {% set customer_name = customer['last_name']~" "~customer['first_name']~" "~customer['secondary_name'] %}
                {{ component.infoField('ФИО:', customer_name) }}
                {{ component.infoField('Дата рождения:', customer['birth_date']) }}

            {% endif %}

            {% if customer['is_legal_entity'] or customer['is_sole_proprietor'] %}
                {{ component.infoField('Наименование:', customer['name']) }}
            {% endif %}

            {% if customer['is_sole_proprietor'] %}
                {{ component.infoField('ФИО:', customer['fio']) }}
            {% endif %}

            {% if customer['is_legal_entity'] %}
                {{ component.infoField('Юридический адрес:', customer['address']) }}
            {% endif %}

            {% if customer['phone'] %}
                {{ component.infoField('Номер телефона:', pageHelper.phoneFormat(customer['phone']), true, 'tel:'~customer['phone'] |trim) }}
            {% endif %}
            {% if customer['is_legal_entity'] %}
                {{ component.infoField('ИНН:', customer['inn']) }}
                {{ component.infoField('КПП:', customer['kpp']) }}
            {% endif %}
            {% if customer['is_sole_proprietor'] %}
                {{ component.infoField('ИНН:', customer['inn']) }}
            {% endif %}
        </div>
    </div>

    {#!!!!!! Продавец !!!!!!!!#}
    <div class="col-xl-6 col-lg-8">
        <div class="DealAgentsDataPlate-Agent">
            {% if contractor['is_natural_person'] %}
                {% set contractor_name = 'Физ. лицо' %}
            {% elseif contractor['is_legal_entity'] %}
                {% set contractor_name = 'Юр. лицо' %}
            {% elseif contractor['is_sole_proprietor'] %}
                {% set contractor_name = 'ИП' %}
            {% endif %}

            {# Префикс являетесь ли вы продавцом #}
            {% set is_you = '' %}
            {% if not is_operator %}
                {% if deal['deal_role'] == 'contractor' %}
                    {% set is_you = ' (Вы)' %}
                {% endif %}
            {% endif %}

            {% set deal_agent_contractor = deal['type_ident'] == 'U' ? 'Исполнитель' : 'Продавец' %}
            <h2 class="TitleBlue">{{ deal_agent_contractor ~ is_you }}
                {% if contractor_name %}
                    <span class="CivilLawSubject">({{ contractor_name }})</span>
                {% endif %}
            </h2>

            {{ component.infoField('Электронная почта:', contractor['email'], true, 'mailto:'~contractor["email"] |trim) }}

            {% if contractor_invitation and is_operator == false %}
                {% include 'application/deal/partial/form-deal-invitation-resend.twig' with {'deal':  deal, 'invitation': contractor_invitation} %}
            {% endif %}

            {% if contractor['is_natural_person'] %}
                {% set contractor_name = contractor['last_name']~" "~contractor['first_name']~" "~contractor['secondary_name'] %}
                {{ component.infoField('ФИО:', contractor_name) }}
                {{ component.infoField('Дата рождения:', contractor['birth_date']) }}
            {% endif %}

            {% if contractor['is_legal_entity'] or contractor['is_sole_proprietor'] %}
                {{ component.infoField('Наименование:', contractor['name']) }}
            {% endif %}

            {% if contractor['is_sole_proprietor'] %}
                {{ component.infoField('ФИО:', contractor['fio']) }}
            {% endif %}

            {% if contractor['phone'] %}
                {{ component.infoField('Номер телефона:', pageHelper.phoneFormat(contractor['phone']), true, 'tel:'~contractor['phone'] |trim) }}
            {% endif %}

            {% if contractor['is_legal_entity'] %}
                {{ component.infoField('Юридический адрес:', contractor['address']) }}
            {% endif %}

            {% if contractor['is_legal_entity'] %}
                {{ component.infoField('ИНН:', contractor['inn']) }}
                {{ component.infoField('КПП:', contractor['kpp']) }}
            {% endif %}

            {% if contractor['is_sole_proprietor'] %}
                {{ component.infoField('ИНН:', contractor['inn']) }}
            {% endif %}

            {# Реквизиты метода оплаты (контрактора) #}
            {% if is_operator and payment_method_requisites %}
                {{ component.infoField('БИК:', payment_method_requisites['bik']) }}
                {{ component.infoField('Наименование банка:', payment_method_requisites['bank_name']) }}
                {{ component.infoField('Корр. счет', payment_method_requisites['corr_account_number']) }}
                {{ component.infoField('Лицевой счет:', payment_method_requisites['account_number']) }}

                {#    {% if contractor['is_legal_entity'] %}
                        {{ component.infoField('Получатель:', contractor['name']) }}
                    {% elseif contractor['is_natural_person'] %}
                        {% set contractor_name = contractor['last_name']~" "~contractor['first_name']~" "~contractor['secondary_name'] %}

                        {{ component.infoField('Получатель:', contractor_name) }}
                    {% endif %}#}
            {% endif %}
        </div>
    </div>
</div>


