{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/component.twig' as component %}

{% set customer = deal['customer'] %}
{% set contractor = deal['contractor'] %}

<div class="DealAgentsDataPlate-Agent col-xl-6 col-sm-4">
    {#Входящие платежки#}
    <h2 class="TitleBlue">
        <span>Входящие</span>
        <span class="CivilLawSubject">Платежные поручения</span>
    </h2>
    <table class="TablePaymentOrders">

        <tr class="Head js-sort-table-mobile">
            <td class="col col-number">
                <a href="{{ sortHelper().getSortLink('number') }}" class="LinkSort">
                    <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('number')) ?' active':'' }}">

                    </i>
                    Дата
                </a>
            </td>
            <td class="col col-name">
                <a href="{{ sortHelper().getSortLink('name') }}" class="LinkSort">
                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('name')) ?' active':'' }}">

                    </i>
                    Сумма
                </a>
            </td>
            <td class="col col-amount">
                <a href="{{ sortHelper().getSortLink('amount') }}" class="LinkSort">
                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('amount')) ?' active':'' }}">

                    </i>
                    Назнач
                </a>
            </td>
        </tr>
        <tr>
            <td class="col col-number">
                {#<div class="col_mobile-title">Дата</div>#}
                <div class="col_mobile-content">08.04.18 09:45</div>
            </td>
            <td class="col col-name">
                {#<div class="col_mobile-title">Сумма</div>#}
                <div class="col_mobile-content">39 380 Р.</div>
            </td>
            <td class="col col-amount Nowrap">
                {#<div class="col_mobile-title">Назначение</div>#}
                <div class="col_mobile-content">
                    Оплат
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="DealAgentsDataPlate-Agent col-xl-6 col-sm-4">
    {#Исходящие платежки#}
    <h2 class="TitleBlue">
        <span>Исходящие</span>
        <span> Платежные поручения</span></h2>
    <table class="TablePaymentOrders">

        <tr class="Head js-sort-table-mobile">
            <td class="col col-number">
                <a href="{{ sortHelper().getSortLink('number') }}" class="LinkSort">
                    <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('number')) ?' active':'' }}">

                    </i>
                    Дата
                </a>
            </td>
            <td class="col col-name">
                <a href="{{ sortHelper().getSortLink('name') }}" class="LinkSort">
                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('name')) ?' active':'' }}">

                    </i>
                    Сумма
                </a>
            </td>
            <td class="col col-amount">
                <a href="{{ sortHelper().getSortLink('amount') }}" class="LinkSort">
                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('amount')) ?' active':'' }}">

                    </i>
                    Назнач
                </a>
            </td>
        </tr>
        <tr>
            <td class="col col-number">
                {#<div class="col_mobile-title">Дата</div>#}
                <div class="col_mobile-content">12.04.18 09:45</div>
            </td>
            <td class="col col-name">
                {#<div class="col_mobile-title">Сумма</div>#}
                <div class="col_mobile-content">7900 Р.</div>
            </td>
            <td class="col col-amount Nowrap">
                {#<div class="col_mobile-title">Назначение</div>#}
                <div class="col_mobile-content">
                    Скидк
                </div>
            </td>
        </tr>
    </table>
</div>