{% extends 'twig/layout/application' %}

{% do headTitle('Закрытие спора') %}
{% block content %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm">
        <div class="PageForm-Container">
            <form method="post" name="dispute-close-form" class="FormLabelTop" id="dispute-close-form">
                {{ formElement(disputeCloseForm.get('csrf'))|raw }}

                <h3 class="TitleBlue">Вы уверены, что хотите закрыть данный спор?</h3>

                {% if is_operator %}
                    <div class="Input-Wrapper">
                        {{ formLabel(disputeCloseForm.get('days'))|raw }}
                        {{ formElement(disputeCloseForm.get('days'))|raw }}
                        <div class="FormError">{{ formElementErrors(disputeCloseForm.get('days'))|raw }}</div>
                        рекомендуемое кол-во дней: {{ recommended_number_of_days }}
                    </div>
                {% endif %}

                <div class="row nested-row ButtonsRow">
                    <div class="col-xl-6 col-sm-2 col-xs-4">
                        <button type="submit" value="" class="ButtonApply" data-ripple-button=""><span class="ripple-text">Закрыть спор</span></button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}