{% extends 'twig/layout/application' %}
{% import 'macro/pagination.twig' as pagination %}
{#
1 disputeFilterForm
2 disputes
3 paginator
#}

{% block content %}
    {% do headTitle('Споры') %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-7 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageTable TableDispute" id="TableDealsDispute">
            <div class="TableWithPagination">
                <form method="get" class="TableWrapper" id="dispute-filter-form">
                    <table class="TableDispute TableDefault js-table-rows-are-link">
                        <tr class="FilterTableRow">
                            <td>
                                <span class="TableDisputes-OperatorCol">
                                    {{ formElement(disputeFilterForm.get('filter[deal_id]')) |raw }}
                                </span>
                            </td>
                            <td>
                                <span class="TableDisputes-OperatorCol">
                                    {{ formElement(disputeFilterForm.get('filter[deal_name]')) |raw }}
                                </span>
                            </td>
                            <td>
                                <input class="InputSearch" name="filter[dispute_author]" type="text" placeholder="Поиск по автору">
                            </td>
                            <td>
                                <div class="DoubleInputDate">
                                    <input class="InputDate2 datepicker-here" name="filter[dispute_created_from]"
                                           type="text">
                                    <input class="InputDate2 datepicker-here" name="filter[dispute_created_till]"
                                           type="text">
                                </div>
                            </td>
                            <td>
                                {{ formElement(disputeFilterForm.get('filter[dispute_closed]')) |raw }}
                                {{ formElement(disputeFilterForm.get('csrf')) |raw }}
                            </td>
                            <td>
                                <button class="ButtonSearch" type="submit"><span>&nbsp;</span></button>
                            </td>
                        </tr>
                        <tr class="Head">
                            <td>
                                <a href="{{ sortHelper().getSortLink('id') }}" class="LinkSort">
                                    <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('id')) ?' active':'' }}">
                                    </i>
                                    ID
                                </a>
                            </td>
                            <td>
                                <a href="{{ sortHelper().getSortLink('name') }}" class="LinkSort">
                                    <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('name')) ?' active':'' }}">
                                    </i>
                                    Название сделки
                                </a>
                            </td>
                            <td>
                                <a href="{{ sortHelper().getSortLink('author') }}" class="LinkSort">
                                    <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('author')) ?' active':'' }}">
                                    </i>
                                    Инициатор спора
                                </a>
                            </td>
                            <td>
                                <a href="{{ sortHelper().getSortLink('created') }}" class="LinkSort">
                                    <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('created')) ?' active':'' }}">
                                    </i>
                                    Дата открытия спора
                                </a>
                            </td>
                            <td>
                                <a href="{{ sortHelper().getSortLink('closed') }}" class="LinkSort">
                                    <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('closed')) ?' active':'' }}">
                                    </i>
                                    Статус спора
                                </a>
                            </td>
                            <td></td>
                        </tr>
                        {% if disputes |length > 0 %}
                            {% for key,dispute in disputes %}
                                <tr data-path="{{ url('dispute-single', {'id': dispute['id']}) |trim }}">
                                    <td>
                                        {{ dispute['id'] }}
                                    </td>
                                    <td data-label="Название сделки">
                                        {{ dispute['deal_name'] }}
                                    </td>
                                    <td data-label="Автор">
                                        {{ dispute['author'] }}
                                    </td>
                                    <td data-label="Дата создания:">
                                        {{ dispute['created'] }}
                                    </td>
                                    <td data-label="Статус:">
                                        {{ dispute['status']['name'] }}
                                    </td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr class="EmptyRow">
                                <td colspan="7">
                                    Список споров пуст.
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </form>
                {{ pagination.paginate(paginator) }}
            </div>
        </section>
{% endblock content %}

