{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{% import 'macro/translate.twig' as translate %}

{#
1  deal - array
2. is_operator - boolean
#}

{% block content %}

    {# Собираем все запросы в один массив #}
    {% set requests = [] %}
    {% set arbitrage_requests = dispute['arbitrage_requests'] %}
    {% set tribunal_requests = dispute['tribunal_requests'] %}
    {% set discount_requests = dispute['discount_requests'] %}
    {% set refund_requests = dispute['refund_requests'] %}

    <section class="DealShowPage DisputeCreatePage">
        <h2 class="deal-name-mobile">
            <div class="row">
                <div class="col-lt-6">
                    Сделка «{{ deal['name'] }}» {{ deal['number'] }}
                </div>
            </div>
        </h2>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-lt-6 col-sm-4 col-xl-offset-2 col-lg-offset-0 DealShowPage-Header">
                    {% include 'application/deal/partial/timeline.twig'
                    with {
                    'deal':  deal,
                    'status': deal['status']['status'],
                    'dispute': dispute
                    } %}
                </div>
            </div>
        </div>
        <section class="container DealShowPage-Content">
            <div class="row DealShowPage-Details">
                <div class="col-xl-6 col-xl-offset-2 col-lg-4 col-lt-3 col-sm-4 col-lg-offset-1 col-lt-offset-0 DealShowPage-Main">
                    <form method="post" name="dispute" id="dispute-create-form"
                      action="{{ url('dispute-form-create') }}">
                    <section class="DealShowPage-DealControl">
                        <div class="DealControl">

                            <div class="DealControl-Body">
                                <div class="DealControl-Info">
                                    <h1 class="TitleBlue">Сделка {{ deal['name'] }}» {{ deal['number'] }}</h1>
                                    {% include 'application/deal/partial/confirmation-block.twig' with {
                                    'deal': deal,
                                    'is_operator': is_operator,
                                    'requests' : requests,
                                    'arbitrage_requests' : arbitrage_requests,
                                    'tribunal_requests' : tribunal_requests,
                                    'discount_requests' : discount_requests,
                                    'refund_requests' : refund_requests,

                                    } %}
                                </div>
                            </div>

                            <div class="DealControlDispute">
                                <div class="row nested-row">
                                    <div class="col-xl-8 col-lg-8">
                                        <div class="DealControlDispute-Descriptions">
                                            <h1 class="TitleBlue">Открыть спор</h1>
                                            {# form().openTag(naturalPersonForm)|raw #}
                                            {{ formElement(disputeForm.get('csrf'))|raw }}
                                            {{ formElement(disputeForm.get('deal_id'))|raw }}
                                            <p class="TextMarked">
                                                Качество и скорость рассмотрения спора напрямую зависят от полноты
                                                предоставленной Вами информации.
                                            </p>
                                            <div class="Problem-Descriptions">
                                                <h2 class="SubTitle">{{ formLabel(disputeForm.get('reason'))|raw }}</h2>
                                                {{ formElement(disputeForm.get('reason'))|raw }}
                                                <div class="FormError">{{ formElementErrors(disputeForm.get('reason'))|raw }}</div>
                                            </div>
                                            <div class="DealControlDispute-Buttons">
                                                <button class="ButtonApply" type="submit" data-ripple-button="">
                                                    <span class="ripple-text">Открыть спор</span>
                                                </button>
                                                <a href="{{ url('deal/show', {'id' : deal['id']}) }}" class="ButtonRefuse" data-ripple-button="">
                                                    <span class="ripple-text">Отменить</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                </form>
                </div>
                <div class="col-xl-4 col-lg-3 col-lt-3 col-sm-4 DealShowPage-Description-Wrapper ">
                    <div class="DealShowPage-Description">
                        {% include 'application/partial/deal-conditions.twig'
                        with {
                        'deal': deal,
                        'is_operator': is_operator
                        } %}
                    </div>
                </div>
            </div>
        </section>
    </section>

{% endblock content %}