{% extends 'twig/layout/application' %}

{% block content %}
    {% do headTitle('Возобновление спора') %}
    <style>
        .Main .Content section.PageForm .PageForm-Container .FormLabelTop .Input-Wrapper .InputFile .InputFile-Container {
            min-height: 0;
        }
        .Main .Content section.PageForm .PageForm-Container .FormLabelTop .Input-Wrapper .InputFile .InputFile-Container input {
            top: 0;
        }
        .Main .Content section.PageForm .PageForm-Container .FormLabelTop .FormError {
            top: 0;
        }
        .Main .Content section.PageForm .PageForm-Container .FormLabelTop .Input-Wrapper .InputFile .InputFile-Delete {
            top: 0;
        }
    </style>
    <section class="PageForm" id="CreateDispute">
        <div class="PageForm-Container">
            <form class="FormLabelTop" method="post" id="dispute-file-upload-form"
                  action="{{ url('dispute-file-upload') }}"
                  enctype="multipart/form-data">
                <div class="Input-Wrapper">
                    <div class="InputFile js-download-file">
                        <span class="InputFile-Container">
                            <mark data-text-default="Выберите файл..." class="notChange">Выберите файл...</mark>
                            <input name="file" id="file" type="file">
                            <span class="InputFile-Delete js-clear-download-file"></span>
                        </span>
                    </div>
                    {{ formElement(fileUploadForm.get('dispute_id'))|raw }}
                    {{ formElement(fileUploadForm.get('csrf'))|raw }}
                    <div class="FormError">{{ formElementErrors(fileUploadForm.get('file'))|raw }}</div>
                </div>
                <div class="ButtonsRow">
                    <button type="submit" class="ButtonApply" value="">Добавить</button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}