{% extends 'twig/layout/application' %}
{% import 'macro/pagination.twig' as pagination %}
{#
1 disputeFilterForm
2 disputes
3 paginator
#}

{% block content %}
    {% do headTitle('Споры') %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-7 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageTable TableDispute" id="TableDealsDisputeOpen">
            <div class="TableWithPagination">
                <form method="get" class="TableWrapper" id="dispute-filter-form">
                    <table class="TableDealsDispute TableDefault js-table-rows-are-link">
                        <tr class="FilterTableRow">
                            <td>
                                {{ formElement(disputeFilterForm.get('csrf'))|raw }}
                                <span class="TableDisputes-OperatorCol">
                                    {{ formElement(disputeFilterForm.get('filter[deal_number]')) |raw }}
                                </span>
                            </td>
                            <td>
                                <span class="TableDisputes-OperatorCol">
                                    {{ formElement(disputeFilterForm.get('filter[deal_name]')) |raw }}
                                </span>
                            </td>
                            <td>
                                <div class="DoubleInputDate">
                                    {{ formElement(disputeFilterForm.get('filter[dispute_created_from]')) |raw }}
                                    {{ formElement(disputeFilterForm.get('filter[dispute_created_till]')) |raw }}
                                </div>
                            </td>
                            <td class="InputDate">
                                <div class="DoubleInputDate">
                                    {{ formElement(disputeFilterForm.get('filter[deadline_date_from]')) |raw }}
                                    {{ formElement(disputeFilterForm.get('filter[deadline_date_till]')) |raw }}
                                </div>
                            </td>
                            <td>
                                <button class="ButtonSearch" type="submit"><span>&nbsp;</span></button>
                            </td>
                        </tr>
                        <tr class="Head">
                            <td>
                                <a href="{{ sortHelper().getSortLink('deal_number') }}" class="LinkSort">
                                    <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('deal_number')) ?' active':'' }}">
                                    </i>
                                    Номер
                                </a>
                            </td>
                            <td>
                                <a href="{{ sortHelper().getSortLink('deal_name') }}" class="LinkSort">
                                    <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('deal_name')) ?' active':'' }}">
                                    </i>
                                    Название сделки
                                </a>
                            </td>
                            <td>
                                <a href="{{ sortHelper().getSortLink('dispute_created') }}" class="LinkSort">
                                    <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('dispute_created')) ?' active':'' }}">
                                    </i>
                                    Дата открытия спора
                                </a>
                            </td>
                            <td>
                                <a href="{{ sortHelper().getSortLink('deadline_date') }}" class="LinkSort">
                                    <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('deadline_date')) ?' active':'' }}">
                                    </i>
                                    Дата окончания сделки
                                </a>
                            </td>
                            <td>
                                <a href="{{ sortHelper().getSortLink('closed') }}" class="LinkSort">
                                    <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('closed')) ?' active':'' }}">
                                    </i>
                                    Статус спора
                                </a>
                            </td>
                            <td></td>
                        </tr>
                        {% if disputes |length > 0 %}
                            {% for key,dispute in disputes %}
                                <tr data-path="{{ url('dispute-single', {'id': dispute['id']}) |trim }}">
                                    <td>
                                        {{ dispute['deal_number'] }}
                                    </td>
                                    <td data-label="Автор">
                                        {{ dispute['deal_name'] }}
                                    </td>
                                    <td data-label="Дата создания:">
                                        {{ dispute['created'] }}
                                    </td>
                                    <td data-label="Дата окончания сделки:">
                                        По контракту: {{ dispute['deal_closed_date_by_contract'] }}
                                        {% if dispute['warranty_extension_days']|length > 0 %}
                                            <br/>Продление: {{ dispute['deal_closed_date_by_warranty'] }}
                                        {% endif %}
                                    </td>
                                    <td data-label="Статус:">
                                        {{ dispute['status']['name'] }}
                                    </td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr class="EmptyRow">
                                <td colspan="7">
                                    Список споров пуст.
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </form>
                <div id="paginator-dispute-open">
                {{ pagination.paginate(paginator) }}
                </div>
            </div>
        </section>
{% endblock content %}

