{% extends 'twig/layout/application' %}

{% block content %}
    {% do headTitle('Возобновление спора') %}
    <section class="PageForm col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0" id="CreateDispute">
        <div class="PageForm-Container PageForm-Container_large">
            <form method="post" name="dispute" class="FormLabelTop" id="dispute-open-form">
                {{ formElement(disputeOpenForm.get('csrf'))|raw }}
                <h3 class="TitleBlue">Вы уверены, что хотите возобновить спор?</h3>
                <div class="ButtonsRow">
                    <button type="submit" value="" class="ButtonApply" data-ripple-button=""><span class="ripple-text">ВОЗОБНОВИТЬ</span></button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}