{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/getTemplatePath.twig' as templatePath %}
{#
1 refundForm - form
2 discountForm - form
3 tribunalForm - form
4 bankTransferForm - form
5 payment_method_bank_transfer - array
6 debitPaymentOrders - array
7 refund_amount - string
8 dispute - array (full Dispute output)
9 deal - array (full Deal output)
#}
{% do headTitle('Спор') %}
{% block content %}
    {% set is_dispute_closed = dispute['is_close'] %}
    {% set discount = dispute['discount'] %}
    {% set refund = dispute['refund'] %}
    {% set tribunal = dispute['tribunal'] %}
    {% set warranty_extensions = dispute['warranty_extensions'] %}
    {% set is_show_decisions = (tribunal|length > 0 or refund|length > 0 or is_dispute_closed) ? 'no' : 'yes' %}
    {% set is_show_refund = (discount|length > 0 or refund|length > 0) ? 'no' : 'yes' %}
    {% set is_show_discount = (discount|length > 0 or is_dispute_closed) ? 'no' : 'yes' %}
    {% set is_history = (discount|length > 0 or refund|length > 0 or tribunal|length > 0 or warranty_extensions|length > 0) ? 'yes' : 'no' %}
    {% set deal_dispute = deal['dispute'] %}

    {# Собираем все запросы в один массив #}
    {% set requests = [] %}
    {% set arbitrage_requests = dispute['arbitrage_requests'] %}
    {% set tribunal_requests = dispute['tribunal_requests'] %}
    {% set discount_requests = dispute['discount_requests'] %}
    {% set refund_requests = dispute['refund_requests'] %}

    {% if arbitrage_requests|length > 0 %}
        {% for request in arbitrage_requests %}
            {% set request = request|merge({'title': 'Согласительная комиссия', 'type': 'arbitrage'}) %}
            {% set requests = requests|merge([request]) %}
        {% endfor %}
    {% endif %}

    {% if refund_requests|length > 0 %}
        {% for request in refund_requests %}
            {% set request = request|merge({'type': 'refund'}) %} {# 'title' перенес в RefundManager #}
            {% set requests = requests|merge([request]) %}
        {% endfor %}
    {% endif %}

    {% if tribunal_requests|length > 0 %}
        {% for request in tribunal_requests %}
            {% set request = request|merge({'title': 'Суд', 'type': 'tribunal'}) %}
            {% set requests = requests|merge([request]) %}
        {% endfor %}
    {% endif %}

    {% if discount_requests|length > 0 %}
        {% for request in discount_requests %}
            {% set request = request|merge({'title': 'Скидка', 'type': 'discount'}) %}
            {% set requests = requests|merge([request]) %}
        {% endfor %}
    {% endif %}
    {#{{ dump(dispute) }}#}
    <section class="DealShowPage DisputeShowPage" id="section-dispute-single">
        <section class="container DealShowPage-Content">
            <div class="row DealShowPage-Details">
                <div class="col-xl-6 col-xl-offset-2 col-lg-4 col-lt-3 col-sm-4 col-lg-offset-1 col-lt-offset-0 DealShowPage-Main">
                    <section class="DealShowPage-DealControl">
                        <div class="DealControl">
                            <div class="DealControl-Body">
                                <div class="Dispute-Description">
                                    <div class="Dispute-Info">
                                        <div class="row nested-row">
                                            <div class="col-xl-8 col-lg-8 DealControl-Body_text">
                                                <h1 class="TitleBlue Dispute-Title">Спор по сделке «{{ deal['name'] }}» {{ deal['number'] }}</h1>
                                                {% set last_element = dispute_history|last %}
                                                {% for history in dispute_history %}

                                                    {% set code = history['code'] %}
                                                    {% set data = history['data'] %}
                                                    {% set deal_type_ident = history['data']['deal_type_ident'] %}
                                                    {% set is_last = loop.index == dispute_history|length %}
                                                    {% set created = history['created'] %}

                                                    {{ templatePath.getTemplatePath(code, data, deal_type_ident, is_last, created) }}

                                                {% endfor %}
                                            </div>
                                            <div class="col-xl-4 col-lg-8 DealControl-Body_button">
                                                <a class="ButtonEdit ButtonBackToDeal" href="{{ url('deal/show', {'id': deal['id']}) }}" data-ripple-button="">
                                                    <span class="ripple-text">Перейти к сделке</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row nested-row">
                                            <div class="col-xl-8 col-lg-8 Dispute-Status">
                                                <h2 class="TitleDisputeStatus">Статус спора</h2>
                                                <div class="row nested-row Status-Info">
                                                    <div class="col-xl-9 col-lg-5 col-lt-6 col-md-6 col-sm-4">
                                                        <div class="InfoField">
                                                            <div class="InfoField-Text">{{ deal['dispute']['status']['name'] }}</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-2 col-lt-2 col-md-3 col-sm-4">
                                                        <button type="submit" class="ButtonEdit ButtonChangeStatus" value="" data-ripple-button="">
                                                            <span class="ripple-text">Изменить</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xl-12 Dispute-Problem">
                                                <div class="row nested-row">
                                                    <div class="col-xl-8 col-lg-8 Problem-Descriptions">
                                                        <h2 class="TitleBlue SubTitle">Описание проблемы</h2>
                                                        <div class="Comment">
                                                            <div class="Comment-Field Reason">
                                                                <div class="Text">{{ dispute['reason'] }}</div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-4 col-lg-4 col-lt-4 col-sm-4 DealControl-Body-SolutionBlock">
                                                        <div class="SolutionRequests">
                                                            {% for request in requests %}
                                                                {#info#}
                                                                {% if dispute['status']['status'] != 'discount_request_rejected' and dispute['status']['status'] != 'refund_request_rejected' and dispute['status']['status'] != 'arbitrage_request_rejected' and dispute['status']['status'] != 'tribunal_request_rejected' %}
                                                                    {% if request['type'] == 'discount' %}
                                                                        {% include 'application/deal/dispute/solution_requests/info/discount-request-info.twig' with {'deal': deal, 'request': request} %}
                                                                    {% endif %}
                                                                    {% if request['type'] == 'refund' %}
                                                                        {% include 'application/deal/dispute/solution_requests/info/refund-request-info.twig' with {'deal': deal, 'request': request} %}
                                                                    {% endif %}
                                                                    {% if request['type'] == 'arbitrage' %}
                                                                        {% include 'application/deal/dispute/solution_requests/info/arbitrage-request-info.twig' with {'deal': deal, 'request': request} %}
                                                                    {% endif %}
                                                                    {% if request['type'] == 'tribunal' %}
                                                                        {% include 'application/deal/dispute/solution_requests/info/tribunal-request-info.twig' with {'deal': deal, 'request': request} %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-xl-12 col-lg-12 Dispute-Info-Wrap">
                                                <div class="Dispute-Info-FormInlineBlock">
                                                    <div class="row nested-row">
                                                        <div class="col-xl-12 col-lg-12 DealControl-Bottom Comment-Wrap">
                                                            <h2 class="TitleBlue SubTitle">Комментарии</h2>
                                                            {% if disputeCommentForm %}
                                                                <form class="row nested-row FormInline CommentForm" method="post" id="dispute-comment-create-form"
                                                                      action="{{ url('dispute-operator-comment-form-create', {'idDispute': dispute['id']}) }}">
                                                                    <div class="col-xl-6 col-lg-5 col-lt-4 col-md-6 col-sm-3 col-xs-4">
                                                                        <div class="Input-Wrapper">
                                                                            {#{{ formElement(disputeCommentForm.get('text'))|raw }}#}
                                                                            <textarea rows="1" name="text" id="text" placeholder="Введите комментарий"></textarea>
                                                                            {{ formElement(disputeCommentForm.get('dispute_id'))|raw }}
                                                                            {{ formElement(disputeCommentForm.get('csrf'))|raw }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xl-2 col-lg-2 col-lt-2 col-md-3 col-sm-1 col-xs-4">
                                                                        <button type="submit" class="ButtonApply" value="" data-ripple-button="">
                                                                            <span class="ripple-text">Добавить</span>
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            {% endif %}
                                                            {% include 'application/partial/comments.twig'
                                                            with {
                                                            'urlComment': 'dispute-operator-comment-form',
                                                            'comments' : dispute_operators_comments
                                                            }
                                                            %}
                                                        </div>
                                                    </div>
                                                    <div class="row nested-row">
                                                        <div class="col-xl-12 col-lg-12 DealControl-Bottom">
                                                            <h2 class="TitleBlue SubTitle">Файлы</h2>
                                                            <form class="row nested-row FormInline" method="post" id="dispute-file-upload-form"
                                                                  action="/dispute/file-upload"
                                                                  enctype="multipart/form-data">
                                                                <div class="col-xl-6 col-lg-5 col-lt-4 col-md-6 col-sm-3 col-xs-4">
                                                                    <div class="Input-Wrapper">
                                                                        <div class="InputFile js-download-file">
                                                                                        <span class="InputFile-Container">
                                                                                            <mark data-text-default="Выберите файл..." class="notChange">Выберите файл...</mark>
                                                                                            <input name="file" id="file" type="file">
                                                                                            <span class="InputFile-Delete js-clear-download-file"></span>
                                                                                        </span>
                                                                        </div>
                                                                        {{ formElement(disputeFileUploadForm.get('dispute_id'))|raw }}
                                                                        {{ formElement(disputeFileUploadForm.get('csrf'))|raw }}
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-2 col-lg-2 col-lt-2 col-md-3 col-sm-1 col-xs-4">
                                                                    <button type="submit" class="ButtonApply" value="" data-ripple-button="">
                                                                        <span class="ripple-text">Прикрепить</span>
                                                                    </button>
                                                                </div>
                                                            </form>
                                                            {% if dispute['files'] |length > 0 %}
                                                                <div class="TableWrapper">
                                                                    <table class="TableDefault js-table-rows-are-link">
                                                                        <tr></tr>
                                                                        <tr class="Head">
                                                                            <td>Файл</td>
                                                                            <td>Оригинальное название</td>
                                                                            <td>Тип</td>
                                                                            <td>Размер</td>
                                                                        </tr>
                                                                        {% for file in dispute['files'] %}
                                                                            <tr data-path="{{ routes.showDisputeFile(file, dispute['id']) |trim }}">
                                                                                <td>{{ file['name'] }}</td>
                                                                                <td>{{ file['origin_name'] }}</td>
                                                                                <td>{{ file['type'] }}</td>
                                                                                <td>{{ file['size'] }}</td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    </table>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="row nested-row">
                                                        <div class="col-xl-12 col-lg-12 DealControl-Bottom">
                                                            <h2 class="TitleBlue SubTitle">Трек номер</h2>
                                                            {% if deal['tracking_numbers'] |length > 0 %}
                                                                {% for trackingNumber in deal['tracking_numbers'] %}
                                                                    <div class="InfoField">
                                                                        <p class="track-info">
                                                                            <span class="track-info_date">{{ trackingNumber['date'] }}</span>
                                                                            <span class="track-info_number">{{ trackingNumber['tracking_number'] }}</span>
                                                                            {#{{ trackingNumber['tracking_number'] }}#}
                                                                        </p>
                                                                    </div>

                                                                {% endfor %}
                                                            {% else %}
                                                                <p class="note-green">Не прикреплен.</p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="Dispute-Solve js-TabContainer">
                                        {% if is_history == 'yes' %}
                                            <div class="row nested-row">
                                                <div class="col-xl-12">
                                                    <h2 class="TitleBlue">История рассмотрения</h2>
                                                    <div class="Dispute-History">
                                                        {% set history = [] %}
                                                        {% if tribunal|length > 0 %}
                                                            {% set tribunal_history = tribunal|merge({'type': 'tribunal'}) %}
                                                            {% set history = history|merge([tribunal_history]) %}
                                                        {% endif %}
                                                        {% if refund|length > 0 %}
                                                            {% set refund_history = refund|merge({'type': 'refund'}) %}
                                                            {% set history = history|merge([refund_history]) %}
                                                        {% endif %}
                                                        {% if discount|length > 0 %}
                                                            {% set discount_history = discount|merge({'type': 'discount'}) %}
                                                            {% set history = history|merge([discount_history]) %}
                                                        {% endif %}
                                                        {% if warranty_extensions|length > 0 %}
                                                            {% for warranty_extension in warranty_extensions %}
                                                                {% set warranty_extension_history = warranty_extension|merge({'type': 'warranty_extension'}) %}
                                                                {% set history = history|merge([warranty_extension_history]) %}
                                                            {% endfor %}
                                                        {% endif %}
                                                        {% set history = dateHelper().sortArrayByDate(history) %}

                                                        {% for key in history %}
                                                            {% if key['type'] == 'warranty_extension' %}
                                                                <p class="TextMarked">{{ key['created'] }} сделка продлена на {{ key['days'] }}дн.</p>
                                                            {% elseif key['type'] == 'tribunal' %}
                                                                <p class="TextMarked">{{ key['created'] }} спор передан в суд.</p>
                                                            {% elseif key['type'] == 'refund' %}
                                                                <p class="TextMarked">{{ key['created'] }} подготовлены платежки на возврат средств {{ key['amount'] }}р.</p>
                                                            {% elseif key['type'] == 'discount' %}
                                                                <p class="TextMarked">{{ key['created'] }} подготовлены платежки на скидку {{ key['amount'] }}р.</p>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if is_show_decisions == 'yes' %}
                                            <div class="row nested-row">
                                                <div class="col-xl-8 col-lg-8 col-lt-8">
                                                    <h2 class="TitleBlue">Принять решение по спору</h2>
                                                    {#
                                                        1. Если спор закрыт то не можем принимать решения по нему.
                                                        2. Если есть дискаунт и спор открыт, то принимаем любое решение кроме скидки.
                                                        3. Если есть полный возврат, то не можем принимать никаких решений даже если спор открыт (он пока любом случае останется открытым).
                                                        4. Третейский суд см. пункт 3.
                                                        5. Если есть продление спора и он открыт, то принимаем любое решения.+
                                                     #}

                                                    <div class="Dispute-Solve_content">
                                                        <select name="" id="" class="Dispute-Switcher chosen-select js-SelectTabSwitcher">
                                                            <option value="#extend" selected>Добавить дни</option>
                                                            {% if is_show_refund == 'yes' %}
                                                                <option value="#refund">Полный возврат средств</option>
                                                            {% endif %}
                                                            {% if is_show_discount == 'yes' %}
                                                                <option value="#discount">Скидка покупателю</option>
                                                            {% endif %}
                                                            <option value="#tribunal">Передать в третейский суд</option>
                                                        </select>

                                                        {% if is_show_refund == 'yes' %}
                                                            <div class="DisputeMethod js-tab" id="refund">
                                                                {% if payment_method_bank_transfer|length > 0 %}
                                                                    <p>Покупателю вернется <strong>{{ refund_amount~'р' }}</strong>.</p>
                                                                    {% include 'application/dispute/partial/payer-info.twig'
                                                                    with {
                                                                    'payment_method_bank_transfer':  payment_method_bank_transfer
                                                                    }
                                                                    %}
                                                                    {% include 'application/dispute/partial/debit-payment-orders.twig'
                                                                    with {
                                                                    'debitPaymentOrders': debitPaymentOrders
                                                                    }
                                                                    %}
                                                                    <form method="post"
                                                                          action="{{ routes.disputeRefund(dispute['id'])|trim }}"
                                                                          name="refund_form"
                                                                          id="refund_form">
                                                                        {{ formElement(refundForm.get('csrf'))|raw }}
                                                                        {{ formElement(refundForm.get('bank_transfer_id'))|raw }}
                                                                        {{ formElement(refundForm.get('dispute_id'))|raw }}
                                                                        {{ formElement(refundForm.get('type_form'))|raw }}
                                                                        {{ formElementErrors(refundForm.get('csrf'))|raw }}
                                                                        {{ formElementErrors(refundForm.get('bank_transfer_id'))|raw }}
                                                                        {{ formElementErrors(refundForm.get('dispute_id'))|raw }}
                                                                        {{ formElementErrors(refundForm.get('type_form'))|raw }}
                                                                        <button class="ButtonApply" type="submit" data-ripple-button="">
                                                                            <span class="ripple-text">Подготовить платежку на возврат</span>
                                                                        </button>
                                                                    </form>
                                                                {% else %}
                                                                    <form action="{{ routes.disputeRefund(dispute['id'])|trim }}" method="post"
                                                                          class="FormNew">
                                                                        {% include 'application/dispute/partial/create-payment-method-refund.twig'
                                                                        with {
                                                                        'bankTransferForm': bankTransferForm
                                                                        } %}
                                                                        <p class="TextImportant">Метод оплаты неопределен, деньги не могут быть
                                                                            возвращены на счет покупателя. Заполните реквизиты вручную.</p>
                                                                        {% include 'application/dispute/partial/debit-payment-orders.twig'
                                                                        with {
                                                                        'debitPaymentOrders': debitPaymentOrders
                                                                        } %}
                                                                        <button class="ButtonApply" type="submit" data-ripple-button="">
                                                                            <span class="ripple-text">Сохранить реквизиты</span>
                                                                        </button>
                                                                    </form>
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}

                                                        {% if is_show_discount == 'yes' %}
                                                            <div class="DisputeMethod js-tab" id="discount">
                                                                {% if payment_method_bank_transfer|length > 0 %}
                                                                    <form method="post"
                                                                            {#action="{{ routes.disputeDiscount(dispute['id'])|trim }}"#}
                                                                          action="{{ routes.disputeDiscount(dispute['id'])|trim }}"
                                                                          name="discount-form"
                                                                          id="discount-form">
                                                                        <div class="FormAdd">
                                                                            {{ formElement(discountForm.get('csrf'))|raw }}
                                                                            {{ formElement(discountForm.get('bank_transfer_id'))|raw }}
                                                                            {{ formElement(discountForm.get('dispute_id'))|raw }}
                                                                            {{ formElement(discountForm.get('type_form'))|raw }}

                                                                            {{ formLabel(discountForm.get('amount_discount'))|raw }}
                                                                            {{ formElement(discountForm.get('amount_discount'))|raw }}
                                                                            {{ formElementErrors(discountForm.get('amount_discount'))|raw }}

                                                                            {{ formElementErrors(discountForm.get('csrf'))|raw }}
                                                                            {{ formElementErrors(discountForm.get('bank_transfer_id'))|raw }}
                                                                            {{ formElementErrors(discountForm.get('dispute_id'))|raw }}
                                                                            {{ formElementErrors(discountForm.get('type_form'))|raw }}
                                                                        </div>
                                                                        {% include 'application/dispute/partial/payer-info.twig'
                                                                        with {
                                                                        'payment_method_bank_transfer':  payment_method_bank_transfer
                                                                        }
                                                                        %}
                                                                        {% include 'application/dispute/partial/debit-payment-orders.twig'
                                                                        with {
                                                                        'debitPaymentOrders': debitPaymentOrders
                                                                        }
                                                                        %}
                                                                        <button class="ButtonApply" type="submit">Подготовить платежку на
                                                                            скидку
                                                                        </button>
                                                                    </form>
                                                                {% else %}
                                                                    {#<div id="ControlPaymentMethod">#}
                                                                    <form action="{{ routes.disputeDiscount(dispute['id'])|trim }}"
                                                                          method="post" class="FormNew" id="FormDiscount">
                                                                        {% include 'application/dispute/partial/create-payment-method-discount.twig'
                                                                        with {
                                                                        'bankTransferForm': bankTransferForm
                                                                        }
                                                                        %}
                                                                        <p class="TextImportant">Метод оплаты неопределен, деньги не могут
                                                                            быть возвращены на счет покупателя. Заполните реквизиты
                                                                            вручную.</p>
                                                                        {% include 'application/dispute/partial/debit-payment-orders.twig'
                                                                        with {
                                                                        'debitPaymentOrders': debitPaymentOrders
                                                                        }
                                                                        %}

                                                                    </form>
                                                                    <button class="ButtonApply" form="FormDiscount" type="submit" data-ripple-button="">
                                                                        <span class="ripple-text">Сохранить реквизиты</span>
                                                                    </button>
                                                                    {#</div>#}
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}

                                                        <div class="DisputeMethod active js-tab" id="extend">
                                                            <a href="{{ url('dispute-form-close', {'idDispute': dispute['id']}) }}" class="ButtonApply MarginTop0" data-ripple-button="">
                                                                <span class="ripple-text">Закрыть спор и добавить дни</span>
                                                            </a>
                                                        </div>

                                                        <div class="DisputeMethod js-tab" id="tribunal">
                                                            <form method="post" action="{{ routes.disputeTribunal(dispute['id']) |trim }}">
                                                                {{ formElement(tribunalForm.get('csrf'))|raw }}
                                                                {{ formElement(tribunalForm.get('dispute_id'))|raw }}
                                                                {{ formElement(tribunalForm.get('type_form'))|raw }}

                                                                <div>
                                                                    {{ formElementErrors(tribunalForm.get('csrf'))|raw }}
                                                                    {{ formElementErrors(tribunalForm.get('dispute_id'))|raw }}
                                                                    {{ formElementErrors(tribunalForm.get('type_form'))|raw }}
                                                                </div>
                                                                <button class="ButtonApply MarginTop0" type="submit" data-ripple-button="">
                                                                    <span class="ripple-text">Передать в суд</span>
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                {#End DealControlBody#}
                            </div>
                        </div>
                    </section>

                </div>
                <div class="col-xl-4 col-lg-3 col-lt-3 col-sm-4 DealShowPage-Description-Wrapper">
                    <div class="DealShowPage-Description">
                        {% include 'application/partial/deal-conditions.twig'
                        with {
                        'deal': deal,
                        'is_operator': 'true'
                        }
                        %}
                        <section class="DealShowPage-Additional DealAgentsDataPlate">
                            <div class="Conditions Spoiler">
                                <div class="Conditions-Head">
                                    Участники
                                    <label for="spoiler-deal-agents-info"
                                           class="ButtonAdd Spoiler-Toggle js-ButtonAddConditions"></label>
                                </div>
                                <input class="Spoiler-Checkbox" type="checkbox" id="spoiler-deal-agents-info">
                                <div class="Spoiler-Hidden">
                                    <div class="Conditions-Content">
                                        {% include 'application/partial/deal-agents-info.twig'
                                        with {
                                        'deal': deal,
                                        'is_operator': 'true',
                                        'payment_method_requisites': []
                                        }
                                        %}
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="row nested-row DealShowPage-Additional DealAgentsDataPlate payment-orders-table">
                            {% include 'application/partial/deal-agents-payment-orders.twig' %}
                        </section>
                        <input class="" id="show-payment-orders" type="checkbox"/>
                        <label for="show-payment-orders" class="ShowPaymentOrders">
                            <span class="ShowPaymentOrders-label">Показать подтверждающие платежки</span>
                        </label>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock content %}