@import (multiple) '../atoms/popup';
.auth-popup{
  .popup;

  .popup-body__image{
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 48%;
  }

  .popup-content{
    padding: 0 30px;
    display: flex;
    align-items: center;
    width: 52%;

    form{
      width: 100%;
    }

  }

  @import (multiple) '../atoms/popup-body';
  .popup-body{
    height: 620px;
  }
  @import (multiple) '../atoms/popup-title';
  @import (multiple) '../molecules/form-input-field';

}