.deal-protection{
  padding-top: 62px;
  padding-bottom: 164px;

  @media (max-width: @grid-breakpoint-md){
    padding-top: 67px;
    padding-bottom: 152px;
  }

  @media (max-width: @grid-breakpoint-sm){
    padding-top: 17px;
    padding-bottom: 40px;
  }

  @import (multiple) '../atoms/section-main-content';
  @import (multiple) '../atoms/section-title';

  .section-title_with-icon:before{
    background-image: url('/img/deal-protection-title-icon.svg');
    width: 66px;
    height: 58px;

    @media (max-width: @grid-breakpoint-md){
      width: 48px;
      height: 46px;
    }

  }

  .deal-protection__image{
    margin-left: 9px;
    position: relative;
    z-index: 1;

    @media (max-width: @grid-breakpoint-md){
      margin-top: 2px;
      text-align: center;
    }

    @media (max-width: @grid-breakpoint-sm){
      padding-bottom: 20px;
      direction: rtl;
    }

    .deal-protection__image-wrapper{
      display: inline-block;
      position: relative;
      box-shadow: -2px 2px 4px rgba(197, 207, 222, 0.6);

      @media (max-width: @grid-breakpoint-sm){
        width: 200px;
      }

      img{
        position: relative;
        z-index: 1;
        width: 210px;
      }

      &:after{
        content: '';
        box-shadow: -2px 2px 4px rgba(197, 207, 222, 0.6);
        position: absolute;
        width: 100%;
        height: 100%;
        left: -10px;
        top: 10px;
      }

    }

  }

}