.deal-control{
  padding-top: 62px;
  padding-bottom: 68px;


  @media (max-width: @grid-breakpoint-md){
    padding-top: 72px;
    padding-bottom: 67px;
  }

  @media (max-width: @grid-breakpoint-sm){
    padding: 16px 0 23px;
  }

  @import (multiple) '../atoms/section-main-content';
  @import (multiple) '../atoms/section-title';

  .section-title_with-icon:before{
    background-image: url('/img/deal-control-title-icon.svg');
    width: 58px;
    height: 60px;

    @media (max-width: @grid-breakpoint-md){
      background-size: cover;
      width: 49px;
      height: 51px;
    }

  }

  .deal-control__image-wrapper{
    position: relative;
    display: inline-block;
  }

  .deal-control__image{
    width: 158px;
    max-width: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;

    @media (max-width: @grid-breakpoint-sm){
      height: 310px;
      left: 0;
      transform: none;
      transition: transform .6s;
      z-index: 1;

      &.is-visible-on-mobile{
        transform: translateX(100%) scale(1.1);
      }

    }

  }

  .deal-control__screen{
    position: absolute;
    left: 5%;
    top: 13%;
    width: 90%;
    height: 75.2%;
  }

  .section-image{
    @media (max-width: @grid-breakpoint-sm){
      text-align: right;
      direction: rtl;
    }
  }

}