.deal-payment{
  padding-top: 62px;
  padding-bottom: 81px;

  @media (max-width: @grid-breakpoint-md){
    padding-top: 66px;
    padding-bottom: 131px;
  }

  @media (max-width: @grid-breakpoint-sm){
    padding: 16px 0 23px;
  }

  @import (multiple) '../atoms/section-main-content';
  @import (multiple) '../atoms/section-title';

  .section-title_with-icon:before{
    background-image: url('/img/deal-payment-title-icon.svg');
    width: 73px;
    height: 78px;

    @media (max-width: @grid-breakpoint-md){
      width: 48px;
      height: 55px;
    }

  }

  .deal-payment__content{
    @media (max-width: @grid-breakpoint-md){
      padding-right: 80px;
    }

    @media (max-width: @grid-breakpoint-sm){
      padding-right: 0;
    }

  }

  .deal-payment__ipad{
    max-width: 353px;
    margin-left: -15px;
    margin-top: 3px;
    position: relative;

    @media (max-width: @grid-breakpoint-md){
      margin: 0 auto 40px -80px;
      width: 250px;
    }

    @media (max-width: @grid-breakpoint-sm){
      margin-left: 0;
    }

  }

  .deal-payment__image-ipad{
    @media (max-width: @grid-breakpoint-md){
      transform: rotateZ(90deg);
      max-width: none;
      max-height: none;
      width: 349px;
      height: 253px;
      position: relative;
      left: -43px;
      top: 53px;
    }

    @media (max-width: @grid-breakpoint-sm){
      transform: none;
      left: 0;
      top: 20px;
      width: 100%;
      height: auto;
    }

  }

  .deal-payment__ipad-screen{
    position: absolute;
    top: 3.5%;
    left: 9%;
    width: 83%;
    height: 93%;

    @media (max-width: @grid-breakpoint-md){
      display: none;
    }

    @media (max-width: @grid-breakpoint-sm){
      display: block;
      top: 15.5%;
      left: 9%;
      width: 83%;
      height: 93%;
    }

  }

  .deal-payment__ipad-screen_mobile{
    display: none;
    position: absolute;
    right: 8px;
    top: 33px;
    width: 220px;
    height: 294px;
    max-width: none;
    max-height: none;

    @media (max-width: @grid-breakpoint-md){
      display: block;
    }
    @media (max-width: @grid-breakpoint-sm){
      display: none;
    }

  }

  .deal-payment__card{
    position: absolute;
    left: 162px;
    bottom: -48px;
    width: 233px;
    height: 164px;

    @media (max-width: @grid-breakpoint-md){
      left: -2px;
      bottom: -150px;
    }

    @media (max-width: @grid-breakpoint-sm){
      left: 50%;
      bottom: -10%;
      width: 50%;
    }

  }

}