.gp-demo {
  @mobile: 766px;
  @small: 374px;
  color: #3C4458;
  display: flex;
  justify-content: space-between;
  min-height: 506px; // .phone__case - height, чтобы не было прыжков при рендере компонента телефона
  margin-top: 80px;
  @media (max-width: @tablet) {
    flex-direction: column-reverse;
  }
  @media (max-width: @mobile) {
    margin-top: 50px;
  }
  .gp-demo__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 370px;
    margin-right: 55px;
    font-size: 18px;
    line-height: 1.51;
    @media (max-width: @tablet) {
      max-width: 100%;
      margin-right: 0;
      font-size: 14px;
    }
    .gp-demo__info-description {
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-image: linear-gradient(
                to right,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0) 40%,
                rgba(255, 255, 255, 0.01) 40%,
                rgba(255, 255, 255, 0.99) 60%,
                rgba(255, 255, 255, 1) 60%,
                rgba(255, 255, 255, 1) 100%
        );
        background-size: 300% 100%;
        background-position: 100% top;
        width: 100%;
        height: 100%;
      }
      &.active {
        &:before {
          background-position: 0 top;
        }
      }
      &.animate {
        &:before {
          transition: background-position 1s ease-out;
        }
      }
      .gp-demo__stage-title {
        font-size: 24px;
        line-height: 1.41;
        margin-bottom: 52px;
        text-transform: none;
        position: relative;
        letter-spacing: -0.6px;

        span{
          position: relative;

          &:after{
            content: '';
            position: absolute;
            left: 0;
            bottom: -18px;
            width: 100%;
            background-color: @active-color;
            height: 3px;
          }

        }

        @media (max-width: @tablet) {
          font-size: 20px;
        }

      }

      .gp-demo__stage-text{
        line-height: 29px;
      }
    }
    .gp-demo__calc-link {
      color: #1863A4;
      text-decoration: underline;
      cursor: pointer;
      transition: color .5s ease;
      &:hover {
        text-decoration: none;
      }
      @media (max-width: @tablet) {
        display: none;
      }
    }
    .gp-demo__info-content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @import (multiple) "../components/OurPartners";
    .OurPartners {
      margin-top: 36px;
      margin-bottom: 18px;
      @media (max-width: @mobile) {
        margin-top: 18px;
      }
      .PartnersIcon {
        display: inline-block;
        box-shadow: 0 0 13px 1px rgba(0,0,0,0.1);
      }
      .PartnersIcon + .PartnersIcon {
        margin-left: 30px;
        @media (max-width: @mobile) {
          margin-left: 10px;
        }
      }
    }
    .gp-demo__payment-info {
      color: #86909B;
      font-size: 12px;
      line-height: 20px;
      font-weight: 500;
    }
  }
  .gp-demo__gallery {
    @timeline-width: 50px;
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
    @media (max-width: @tablet) {
      margin-bottom: 36px;
    }
    @media (max-width: @mobile) {
      max-width: calc(~"100% - @{timeline-width}");
      justify-content: center;
      display: block;
    }
    @media (max-width: @small) {
      max-width: 100%;
    }

    .gp-demo__phones {
      position: relative;
      flex-grow: 1;
      margin-top: 8px;
      margin-right: 57px;
      width: 630px;
      min-width: 630px;
      min-height: 497px;
      @media (max-width: @tablet) {
        width: 577px;
        min-width: 577px;
        margin-right: 63px;
      }
      @media (max-width: 850px) {
        width: 534px;
        min-width: 534px;
        margin-right: 50px;
      }
      @media (max-width: @mobile) {
        overflow: hidden;
        width: 100%;
        min-width: auto;
        margin-right: 0;
      }

      @import (multiple) './phones';
      .phones {
        position: absolute;
        right: 0;
        top: 0;
        @media (max-width: @tablet) {
          right: auto;
          left: 50%;
          transform: translateX(-50%);
        }
        @media (max-width: @mobile) {
          left: auto;
          transform: none;
        }
      }
    }

    @import (multiple) '../molecules/timeline';
    .timeline {
      flex-direction: column;
      @media (max-width: @mobile) {
        position: absolute;
        left: 100%;
        top: 0;
      }
      @media (max-width: @small) {
        display: none;
      }
    }

    @import (multiple) '../components/Calculation';
    .Calculation {
      margin-right: 55px;
      @media (max-width: @mobile) {
        padding-bottom: 20px;
        margin-right: 80px;
      }
      @media (max-width: @small) {
        margin-right: 0;
      }
    }
  }
}