.guarant-premier{
  padding-top: 136px;
  padding-bottom: 30px;
  background-color: #1F242B;
  background: url("/img/landing/guarant-premier-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  @media (max-width: @grid-breakpoint-md){
    padding-bottom: 14px;
    background-attachment: scroll;
  }

  @media (max-width: @grid-breakpoint-sm){
    padding-top: 76px;
    padding-bottom: 43px;
  }

  .row{
    position: relative;
    z-index: 1;
  }

  @import (multiple) '../molecules/guarant-premier-form';
  @import (multiple) '../atoms/section-main-content';
  @import (multiple) '../atoms/section-title';
  @import (multiple) '../atoms/footer-note';

  .section-title{
    text-shadow: 0 0.5px 1px rgba(53, 64, 82, 0.2);
    letter-spacing: -.6px;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 48px;

    @media (max-width: @grid-breakpoint-sm){
      line-height: 40px;
      font-size: 24px;
      letter-spacing: 0.5px;
      margin-bottom: 11px;
    }

  }

  .section-main-content{
    color: #fff;
    text-shadow: 0px 0.5px 1px rgba(53, 64, 82, 0.2);
    font-size: 18px;

    @media (max-width: @grid-breakpoint-md){
      font-size: 16px;
      letter-spacing: -0.025em;
    }

    @media (max-width: @grid-breakpoint-sm){
      line-height: 14px;
      font-size: 12px;
      letter-spacing: 0.5px;
    }

    ul{

      li{
        margin-bottom: 40px;

        @media (max-width: @grid-breakpoint-md){
          margin-bottom: 30px;
        }

        @media (max-width: @grid-breakpoint-sm){
          margin-bottom: 20px;
        }

        &:before{
          width: 3px;
          height: 3px;
          background: #20B8EF;
          border-radius: 100%;

          @media (max-width: @grid-breakpoint-sm){
            margin-right: 4px;
          }

        }

      }

    }

  }

  .guarant-premier__note{
    text-shadow: 0 0.5px 1px rgba(53, 64, 82, 0.2);
    color: @offer-note-color;
    font-size: 36px;
    letter-spacing: -0.6px;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 25px;
    position: relative;


    @media (max-width: @grid-breakpoint-sm){
      line-height: 40px;
      font-size: 20px;
      letter-spacing: 0.5px;
    }

    @media (max-width: @grid-breakpoint-xs){
      letter-spacing: 0;
    }

    &:before{
      content: '';
      position: absolute;
      width: 85%;
      left: 0;
      top: -26px;
      background: #1EADFF;
      background: linear-gradient(to right, rgba(30,173,255,1) 0%,rgba(30,173,255,0) 100%);
      height: 1px;

      @media (max-width: @grid-breakpoint-sm){
        top: -5px;
      }

    }

  }

  .footer-note{
    text-shadow: 0 0.5px 1px rgba(53, 64, 82, 0.2);
    margin-top: 130px;

    @media (max-width: @grid-breakpoint-md){
      margin-top: 53px;
      line-height: 20px;
      font-size: 12px;
    }

    @media (max-width: @grid-breakpoint-sm){
      margin-top: 34px;
      line-height: 20px;
      font-size: 10px;
      text-align: center;
      letter-spacing: 0.5px;
    }

    a{
      color: #2F80ED;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }

    }

  }

  .guarant-premier__girl{
    position: absolute;
    right: 15px;
    bottom: -30px;
    z-index: -1;
    width: 480px;

    img{
      width: 100%;
    }

    @media (max-width: @grid-breakpoint-md){
      display: none;
    }

  }

}