#how-it-works-react{
  //overflow: hidden;
}
.how-it-works--new {
  font-family: Lato, Arial, sans-serif;
  font-weight: 400;
  overflow: hidden;
  padding-top: 134px;
  padding-bottom: 141px;

  @media (max-width: @grid-breakpoint-md) {
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  @import (multiple) '../atoms/section-title';
  .section-title {
    @media (max-width: @grid-breakpoint-md){
      font-size: 36px;
    }
    @media (max-width: @grid-breakpoint-sm){
      font-size: 24px;
    }
  }
  @import (multiple) "./gp-demo";

  &.how-it-works--video {
    padding: 0;
  }
}