.information{
  display: block;

  @media (max-width: @grid-breakpoint-md){
    padding-bottom: 39px;
    border-bottom: 1px solid rgb(239,244,251, .5);
  }

  @import (multiple) '../molecules/screen-slider';
  @import (multiple) '../molecules/about-block';
}