.integration{
  padding-top: 136px;
  padding-bottom: 115px;

  @media (max-width: @grid-breakpoint-sm){
    padding-top: 80px;
  }

  @import (multiple) '../atoms/section-main-content';
  @import (multiple) '../atoms/section-title';
  @import (multiple) '../atoms/gp-foundation';
  @import (multiple) '../molecules/integration-form';
  @import (multiple) '../molecules/integration-main';

  .section-title{
    margin-bottom: 44px;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.6px;

    @media (max-width: @grid-breakpoint-sm){
      text-align: center;
      justify-content: center;
      line-height: 40px;
      font-size: 28px;
      letter-spacing: -0.6px;
      margin-bottom: 16px;
    }

  }

  .integration-main-column{

    @media (max-width: @grid-breakpoint-md){
      display: none;
    }

  }

  .section-main-content{
    font-size: 18px;
    line-height: 30px;

    @media (max-width: @grid-breakpoint-sm){
      line-height: 20px;
      font-size: 12px;
      text-align: center;
      letter-spacing: 0.5px;
    }

  }

  .integration__texts-column{
    @media (max-width: @grid-breakpoint-md){
      display: none;
    }
  }

}