.page-header{
  position: absolute;
  left: 0;
  top: 0;
  padding: 42px 0;
  width: 100%;
  z-index: 4;

  @media (max-width: @grid-breakpoint-md){
    padding: 39px 0;
  }
  @media (max-width: @grid-breakpoint-sm){
    padding: 19px 0;
  }

  .container{
    position: relative;
  }

  .main-logo{
    display: inline-block;
    padding-top: 2px;
    position: relative;
    z-index: 4;

    @media (max-width: @grid-breakpoint-md){
      padding-top: 0;
      width: 215px;
    }

    @media (max-width: @grid-breakpoint-sm){
      width: 162px;
    }

  }

  @import (multiple) '../molecules/main-nav';
  @import (multiple) '../atoms/button-action';
  @import (multiple) '../atoms/menu-burger';
  @import (multiple) '../molecules/user-bar';

  .reg-button{
    @media (max-width: @grid-breakpoint-md){
      display: none;
    }
  }

}