.page-footer{
  background-color: #1F242B;
  background: url("/img/landing/footer-bg.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 18px;

  @media (max-width: @grid-breakpoint-md){
    padding-top: 40px;
    background-attachment: scroll;
  }

  @import (multiple) '../atoms/footer-title';
  @import (multiple) '../atoms/footer-note';
  @import (multiple) '../atoms/phone-group';
  @import (multiple) '../atoms/footer-links-group';
  @import (multiple) '../atoms/footer-text';
  @import (multiple) '../atoms/payment-variants';
  @import (multiple) '../atoms/link-with-underline';

  a:not(.social-link):not(.main-logo) {
    .link-with-underline(#fff, true);
  }

  .footer-head{
    @media (max-width: @grid-breakpoint-md){
      text-align: center;
    }

    .main-logo img{
      @media (max-width: @grid-breakpoint-md){
        max-width: 200px;
      }

      @media (max-width: @grid-gutter-width-sm){
        max-width: 166px;
      }

    }

  }

  .footer-body{
    margin-top: 56px;

    @media (max-width: @grid-breakpoint-sm){
      text-align: center;
    }

    .footer-body__contacts{
      @media (max-width: @grid-breakpoint-md){
        order: 3;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .footer-title{
          display: none;
        }

      }

      @media (max-width: @grid-breakpoint-md){
        display: block;
      }

    }

    .footer-body__socials{
      @media (max-width: @grid-breakpoint-md){
        order: 5;
        margin-top: 20px;
      }

      .footer-title{
        @media (max-width: @grid-breakpoint-md){
          .footer-text;

          & > span:after{
            display: none;
          }

        }
      }

      .footer-links-group{
        @media (max-width: @grid-breakpoint-md){
          display: flex;
        }

        @media (max-width: @grid-breakpoint-sm){
          justify-content: center;
        }

        .footer-link{
          @media (max-width: @grid-breakpoint-md){
            margin-right: 20px;
          }
          @media (max-width: @grid-breakpoint-sm){
            margin-right: 10px;
          }

        }

      }

    }

  }

  .footer__address{
    margin-top: 60px;

    @media (max-width: @grid-breakpoint-md){
      margin-top: 20px;
      order: 5;
    }

    @media (max-width: @grid-breakpoint-sm){
      order: -1;
      margin-top: 0;
    }

    .footer-title{
      display: none;

      @media (max-width: @grid-breakpoint-sm){
        display: block;
      }

    }

  }

  .footer__address-content{
    @media (max-width: @grid-breakpoint-sm){
      max-height: 0;
      overflow: hidden;
      transition: max-height .6s;
    }
  }

  .footer__developer{
    @media (max-width: @grid-breakpoint-md){
      order: 5;
    }
  }

  .footer__email{
    margin-top: 60px;

    @media (max-width: @grid-breakpoint-md){
      display: none;
    }
  }

  .footer__payment-methods{
    margin-top: 60px;

    @media (max-width: @grid-breakpoint-md){
      margin-top: 20px;
      order: 4;
    }
  }

  .page-footer__email-link{
    position: relative;
    font-family: Lato, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: -0.375px;
    color: #fff;
    text-decoration: none;
    &:after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      right: 0;
      transition: height .4s;
      height: 1px;
      background-color: #fff;
      opacity: .6;
    }
    &:hover {
      &:after {
        height: 2px;
      }
    }
  }

  .footer-note{
    margin-top: 16px;

    a{
      font: inherit;
      color: inherit;
      text-decoration: none;
      margin-left: 3px;
      
      img{
        vertical-align: middle;
        margin-right: 3px;
      }

    }
  }

  .footer-dropdown-checkbox{
    display: none;

    &:checked{
      & ~ .footer-links-group{
        @media (max-width: @grid-breakpoint-md){
            max-height: 600px;
        }
      }

      & ~ .footer__address-content{
        @media (max-width: @grid-breakpoint-sm){
          max-height: 600px;
        }
      }

      & ~ .mobile-dropdown .dropdown__arrow{
        transform: rotateZ(-180deg) translateY(-50%);

        &:before, &:after{
          background-color: #fff;
        }

      }

    }

  }

  #drop-rules ~ .footer-links-group{
    @media (max-width: @grid-breakpoint-md){
      border-bottom: 1px solid #c5c5c5;
    }
  }

}