@phone-dark-color: #28313B;
@phone-gray-color: #D3D5DF;

.phone {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation-fill-mode: forwards;

  @import (multiple) '../molecules/phone-header';


  &.phone-appear{
    animation-name: phoneAppear;
    animation-iteration-count: 1;
  }
  &.phone-disappear{
    animation-name: phoneDisappear;
    animation-iteration-count: 1;
  }

  .phone__button {
    z-index: 1;
    background-color: @phone-gray-color;
    display: block;
    height: 35px;
    width: 6px;
    border-radius: 2px;
    overflow: hidden;
  }
  .phone__button-block {
    position: absolute;
    right: -1.5px;
    top: 20%;
    width: 2px;
    height: 34px;
  }
  .phone__loudspeaker {
    z-index: 3;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20.5px;
    &:before, &:after {
      content: '';
      display: inline-block;
      background-color: @phone-gray-color;
    }
    &:after{
      width: 49px;
      height: 3.5px;
      border-radius: 7px;
    }
    &:before{
      width: 6px;
      height: 6px;
      border-radius: 50%;
      margin-right: 5px;
    }
  }
  .phone__side-buttons {
    display: block;
    position: absolute;
    right: calc(~"100% - 3px");
    top: 48.5px;
    .phone__button-sound {
      margin-bottom: 14px;
      height: 26px;
    }
    .phone__button-volume + .phone__button-volume {
      margin-top: 7px;
    }
  }
  .phone__button-home {
    z-index: 3;
    position: absolute;
    display: block;
    width: 35px;
    height: 35px;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(197, 207, 222, 0.01) 100%);
    border: 2px solid #C5CFDE;
    border-radius: 50%;
  }
  .phone__case {
    z-index: 2;
    position: relative;
    display: block;
    width: 242px;
    height: 496.5px;
    background: #fff; //linear-gradient(154.08deg, rgba(255, 255, 255, 0.15) 2%, rgba(255, 255, 255, 0) 91.51%);
    border: 2px solid #C9CBD5;
    border-radius: 40px;
    padding: 50px 5px 57px 6px;
    text-align: left;

    @import (multiple) '../atoms/fade';
    @import (multiple) '../molecules/deal-create-prototype';
    @import (multiple) '../atoms/phone-message-app';
    @import (multiple) '../molecules/deal-conditions';
    @import (multiple) '../molecules/deal-payment';
    @import (multiple) '../molecules/deal-track-number';
    @import (multiple) '../molecules/deal-confirm';

    .phone__screen {
      position: relative;
      height: 100%;
      background-color: #fff;
      overflow-y: hidden;
      border: 0.5px solid @phone-gray-color;
      border-radius: 2px;
    }

    .phone__body{
      padding: 0 6px;
    }
  }
}
.phone--dark {
  .phone__case {
    background: #1F242B;
    border: 3px solid @phone-dark-color;
    .phone__screen {
      border: none;
    }
  }
  .phone__loudspeaker {
    &:before, &:after {
      background-color: @phone-dark-color;
    }
  }
  .phone__button-home {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0.02%, rgba(197, 207, 222, 0) 94.4%);
    border: 2px solid @phone-dark-color;
  }
  .phone__button {
    background-color: @phone-dark-color;
  }
}


@keyframes phoneAppear {
  0%{
    transform: translateY(1000px);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes phoneDisappear {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(1000px);
  }
}
