.phones {
  display: flex;
  /*overflow: hidden;*/
  position: relative;

  @media (max-width: @mobile) {
    min-width: 200%;
    justify-content: space-around;
    transform: translateX(0);
    position: relative;
    right: 0;
  }
  &.smooth {
    transition: transform 1s cubic-bezier(0.2,0.5,0.3,1);
  }
  &.active {
    transform: translateX(-50%);
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url("/img/landing/phone-divider.jpg") repeat-y 0 0;
    transform: translate(-50%, -50%);
    height: calc(~"100% - 56px");
    width: 2px;
    @media (max-width: @tablet) {
      display: none;
    }
  }
  @import (multiple) './phone';
  .phone + .phone {
    margin-left: 146px;
    @media (max-width: @tablet) {
      margin-left: 93px;
    }
    @media (max-width: 850px) {
      margin-left: 50px;
    }
    @media (max-width: @mobile) {
      margin-left: 0;
    }
  }
}