{% extends 'twig/layout/application' %}

{% do headTitle('Проблемные платёжные поручения (всего ' ~ paginator.totalItemCount ~ ')') %}
{% block content %}
    <section class="col-xl-10 col-lg-7  col-lt-6 col-xl-offset-2 col-lg-offset-1 col-lt-offset-0 PageTable" id="TablePaymentOrdersTrouble">
        <form class="FormTableWrapper" method="GET" id="trouble-bank-clietn-payment-orders">
            <table class="TableDefault TablePaymentOrdersTrouble js-table-rows-are-link">
                <tr class="FilterTableRow">
                    <td></td>
                    <td>
                        <input class="InputSearch" name="filter[payment_purpose]" type="text" placeholder="Назначение платежа">
                    </td>
                    <td>
                        <input class="InputSearch" name="filter[payment_amount]" type="text" placeholder="Сумма">
                    </td>
                    <td>
                        <div class="DoubleInputDate">
                            <input class="InputDate2 datepicker-here" name="filter[payment_created_from]"
                                   type="text">
                            <input class="InputDate2 datepicker-here" name="filter[payment_created_till]"
                                   type="text">
                        </div>
                    </td>
                    <td>
                        <input class="InputSearch" name="filter[payment_recipient_account]" type="text" placeholder="Счет получателя">
                    </td>
                    <td>
                        <input class="InputSearch" name="filter[payment_payer]" type="text" placeholder="Плательщик">
                    </td>
                    <td>
                        <input class="InputSearch" name="filter[payment_payer_account]" type="text" placeholder="Счет плетельщика">
                    </td>
                    <td>
                        {{ formElement(paymentOrderSearchForm.get('filter[trouble_type]')) |raw }}
                    </td>
                    <td>
                        {{ formElement(paymentOrderSearchForm.get('csrf')) |raw }}
                        <button class="ButtonSearch" type="submit"><span>&nbsp;</span></button>
                    </td>
                </tr>
                <tr class="Head">
                    <td>
                        <a href="{{ sortHelper().getSortLink('id') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('id')) ?' active':'' }}"></i>
                            ID
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('payment_purpose') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('payment_purpose')) ?' active':'' }}"></i>
                            Назначение платежа
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('amount') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('amount')) ?' active':'' }}"></i>
                            Сумма
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('created') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('created')) ?' active':'' }}"></i>
                            Создан
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('recipient_account') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('recipient_account')) ?' active':'' }}"></i>
                            Счет получателя
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('payer') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('payer')) ?' active':'' }}"></i>
                            Плательщик
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('payer_account') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('payer_account')) ?' active':'' }}"></i>
                            Счет плательщика
                        </a>
                    </td>
                    <td>
                        Причина
                    </td>
                    <td></td>
                </tr>
                {% if payments|length > 0 %}
                    {% for payment in payments %}
                        <tr>
                            <td>
                                {{ payment['id'] }}
                            </td>
                            <td data-label="Назначение платежа:">
                                {{ payment['payment_purpose'] }}
                            </td>
                            <td data-label="Сумма:">
                                {{ payment['amount'] }}
                            </td>
                            <td data-label="Дата создания:">
                                {{ payment['created'] }}
                            </td>
                            <td data-label="Счет получателя:">
                                {{ payment['recipient_account'] }}
                            </td>
                            <td data-label="Плательщик:">
                                {{ payment['payer'] }}
                            </td>
                            <td data-label="Счет плетельщика:">
                                {{ payment['payer_account'] }}
                            </td>
                            <td data-label="Причина:">
                                {% for reason in payment['trouble_reasons'] %}
                                    {{ reason }}<br />
                                {% endfor %}
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="EmptyRow">
                        <td colspan="8">
                            В системе нет плтёжных поручений, соотвествующих критериям проблемных.
                        </td>
                    </tr>
                {% endif %}
            </table>
        </form>
    </section>
{% endblock content %}
