{% extends 'twig/layout/application' %}
{% import 'macro/pagination.twig' as pagination %}

{#user['id', 'login', 'register_date']#}

{% block content %}
    {% do headTitle('Пользователи') %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-7 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageTable" id="React-TableUsers">
            <form method="get" class="TableWrapper" id="TableUsers">
                <table class="TableDefault TableUsers js-table-rows-are-link">
                    <tr class="FilterTableRow">
                        <td>
                            <input class="InputSearch" name="filter[user_id]" type="text" placeholder="Id">
                        </td>
                        <td>
                            <input class="InputSearch" name="filter[user_login]" type="text" placeholder="Поиск по логину">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="DoubleInputDate">
                                <input class="InputDate2 datepicker-here" name="filter[user_created_from]"
                                       type="text">
                                <input class="InputDate2 datepicker-here" name="filter[user_created_till]"
                                       type="text">
                            </div>
                        </td>
                        <td>
                            {{ formElement(userFilterForm.get('csrf'))|raw }}
                            <button class="ButtonSearch" type="submit"><span>&nbsp;</span></button>
                        </td>
                    </tr>

                    <tr class="Head">
                        <td>
                            <a href="{{ sortHelper().getSortLink('id') }}" class="LinkSort">
                                <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('id')) ?' active':'' }}">

                                </i>
                                ID
                            </a>
                        </td>
                        <td>
                            <a href="{{ sortHelper().getSortLink('login') }}" class="LinkSort">
                                <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('login')) ?' active':'' }}">

                                </i>
                                Логин
                            </a>
                        </td>
                        <td>
                            Email
                        </td>
                        <td>
                            Phone
                        </td>
                        <td>
                            <a href="{{ sortHelper().getSortLink('created') }}" class="LinkSort">
                                <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('created')) ?' active':'' }}">

                                </i>
                                Роли
                            </a>
                        </td>
                        <td>
                            <a href="{{ sortHelper().getSortLink('created') }}" class="LinkSort">
                                <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('created')) ?' active':'' }}">

                                </i>
                                Дата регистрации
                            </a>
                        </td>
                        <td></td>
                    </tr>

                    {% if users |length > 0 %}
                        {% for user in users %}
                            <tr data-path="{{ url('profile/login', {'login' : user['login']}) }}">
                                <td>
                                    {{ user['id'] }}
                                </td>
                                <td data-label="Логин" class="Nowrap">
                                    {{ user['login'] }}
                                </td>
                                <td data-label="Email" class="Nowrap">
                                    {{ user['email'] }}
                                </td>
                                <td data-label="Телефон" class="Nowrap">
                                    {{ user['phone'] }}
                                </td>

                                <td data-label="Роли" class="Nowrap">
                                    {% for role in roles %}
                                        <div>{{ role['name'] }}</div>
                                    {% endfor %}
                                </td>
                                <td data-label="Дата регистрации:">
                                    {{ user['created'] }}
                                </td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="EmptyRow">
                            <td colspan="7">
                                Список пользователей пуст.
                            </td>
                        </tr>
                    {% endif %}

                </table>
            </form>
            <div id="paginator-user">
            {{ pagination.paginate(paginator) }}
            </div>

        </section>
{% endblock content %}