.form-auth {
  @import (multiple) '../atoms/form-title';
  @import (multiple) '../molecules/form-title-group';
  @import (multiple) '../molecules/form-field';
  @import (multiple) '../../application/atoms/Preloader';

  .form-auth__inner{
    background: #FFFFFF;
    box-shadow: 0 6px 9px rgba(144, 164, 183, 0.22);
    border-radius: 4px;
    padding: 26px 30px;

    @media (max-width: @grid-breakpoint-sm){
      padding: 16px 16px;
    }

  }

  .register-invitation{
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: @text-color;
    font-family: 'Lato';
    margin-bottom: 17px;
  }

}