<?php
$this->headTitle('Confirm');

$form->get('code')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Code',
    'required' => true,
    'autofocus' => true
    ])
    ->setLabelAttributes([
        'class' => 'sr-only'
    ]);
?>

<div class="row">
    <div class="col-md-offset-4 col-md-3">
        <?= $this->form()->openTag($form); ?>
            <h2 class="form-signin-heading">Please, confirm the code</h2>
            <div class="form-group">
                <?= $this->formLabel($form->get('code')); ?>
                <?= $this->formElement($form->get('code')); ?>
                <?= $this->formElementErrors($form->get('code')); ?>
            </div>

            <?= $this->formElement($form->get('phone')) ?>
        
            <?= $this->formElement($form->get('csrf')) ?>

            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm code</button>
            </div>
        <?= $this->form()->closeTag(); ?>

        <div>
            <a href="<?= $this->url('phone/resending', [], ['query' => array('phone' => $this->phone_number)]) ?>">
                <span class="glyphicon glyphicon-refresh"></span> Отправить код повторно
            </a>
        </div>
    </div>
</div>