<?php
$this->headTitle('Confirm');

if($this->server_error_messages){
    echo '<div class="error-50"><div class="alert alert-danger">';

    if(is_array($this->server_error_messages)){
        echo '<ul>';
        foreach($this->server_error_messages as $msg){
            echo '<li>'.$msg.'</li>';
        }
        echo '</ul>';
    }else{
        echo $this->server_error_messages;
    }
    echo '</div></div>';
}
?>

<div class="row">
    <div class="col-md-offset-4 col-md-3">
        <?= $this->form()->openTag($form); ?>
        <h2 class="form-signin-heading">Edit phone</h2>
        <div class="form-group">
            <?= $this->formElement($form->get('current_phone')); ?>
            <?= $this->formElementErrors($form->get('current_phone')); ?>
        </div>
        <div class="form-group">
            <?= $this->formLabel($form->get('new_phone')); ?>
            <?= $this->formElement($form->get('new_phone')); ?>
            <?= $this->formElementErrors($form->get('new_phone')); ?>
        </div>

        <?= $this->formElement($form->get('csrf')) ?>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Edit phone</button>
        </div>
        <?= $this->form()->closeTag(); ?>
    </div>
</div>