<div class="jumbotron">
    <?php

    if($this->all_users){
        $all_users = $this->all_users;
        echo '<div>'.$this->accepted_param.'</div>';

        function MakeUsersList(\Application\Entity\User $user){
            return(
                '
        <div class=\"user\">
            <div>
                <span class=\"label\">Login</span>
                <span class=\"value\">'. $user->getLogin().'</span>
            </div>
            <div>
                <span class=\"label\">Phone</span>
                <span class=\"value\">'. $user->getPhone()->getUserEnter() .'</span>
            </div>
            <div>
                <span class=\"label\">Email</span>
                <span class=\"value\">'. $user->getEmail()->getEmail() .'</span>
            </div>
            <div>
                <span class=\"label\">Password</span>
                <span class=\"value\">'. $user->getPassword() .'</span>
            </div>
            <form action="/register/delete/id/'.$user->getId().'">
                <button>Delete</button>
            </form>
        </div>
'
            );
        }

        foreach($all_users as  $user){
            echo MakeUsersList($user);
        }
    }else{
        echo $this->accepted_id;
    }

    ?>
</div>


