@keyframes fadeInUp{
  from{
    transform: translateY(100px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeOutUp{
  from{
    transform: translateY(0);
    opacity: 1;
  }
  to{
    transform: translateY(-100px);
    opacity: 0;
  }
}