html {
  height: 100%;
}
body, html {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  background-color: #ffffff;
  z-index: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}
.TextMedium {
  font-weight: 500;
}
.datepicker {
  z-index: 10000;
}