.make-row(@gutter: @grid-gutter-width-lg) {
  margin-left:  (@gutter / -2);
  margin-right: (@gutter / -2);
}
.make-column-padding(@gutter: @grid-gutter-width-lg){
  @padding: (@gutter / 2);
  padding: 0 @padding;
}
.make-columns-offsets(@columnsCount, @columnSuffix, @gridBreakpoint, @i: 0){
  .col-@{columnSuffix}-offset-@{i}{
    @media (max-width: @gridBreakpoint){
      margin-left: (@i * 100% / @columnsCount);
    }
  }
}
.make-columns(@columnsCount, @columnSuffix, @gridBreakpoint, @i: 1) when (@i =< @columnsCount){
  .col-@{columnSuffix}-@{i} {
    @media (max-width: @gridBreakpoint){
      width: (@i * 100% / @columnsCount);
    }
  }
  .make-columns-offsets(@columnsCount, @columnSuffix, @gridBreakpoint, (@i - 1));
  .make-columns(@columnsCount, @columnSuffix, @gridBreakpoint, (@i + 1));
}

.make-columns(@grid-columns-count-xl, ~'xl', @grid-breakpoint-xl);
.make-columns(@grid-columns-count-md, ~'md', @grid-breakpoint-md);
.make-columns(@grid-columns-count-sm, ~'sm', @grid-breakpoint-sm);
.make-columns(@grid-columns-count-xs, ~'xs', @grid-breakpoint-xs);

.w100{
  width: 100%;
}

.row {
  display: flex;
  flex-flow: row wrap;
  zoom: 1;
  .make-row(@grid-gutter-width-xl);

  @media (max-width: @grid-breakpoint-md){
    .make-row(@grid-gutter-width-md);
  }

  @media (max-width: @grid-breakpoint-sm){
    .make-row(@grid-gutter-width-sm);
  }

  [class*="col-"] {
    flex: 0 1 auto;
    .make-column-padding(@grid-gutter-width-xl);

    @media (max-width: @grid-breakpoint-md){
      .make-column-padding(@grid-gutter-width-md);
    }
    @media (max-width: @grid-breakpoint-sm){
      .make-column-padding(@grid-gutter-width-sm);
    }

  }

}

.xl-hide{
  @media (min-width: (@grid-breakpoint-md + 1)){
    display: none !important;
  }
}
.md-hide{
  @media (max-width: @grid-breakpoint-md) and (min-width: (@grid-breakpoint-sm + 1)){
    display: none !important;
  }
}
.sm-hide{
  @media (max-width: @grid-breakpoint-sm){
    display: none !important;
  }
}

.container{
  margin: 0 auto;
  width: 100%;
  max-width: @container-max-width;

  @media (max-width: (@container-max-width + 20)){
    padding: 0 10px;
  }

  @media (max-width: @grid-breakpoint-md){
    padding: 0 99px;
  }

  @media (max-width: @grid-breakpoint-sm){
    padding: 0 18px;
  }

}