body {
  font-family: Lato, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: @section-content-color;
  @media (max-width: @desk) {
    font-size: 15px;
  }
}
h1 {
  font-size: 48px;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 38px;
  @media (max-width: @desk) {
    font-size: 42px;
  }
  @media (max-width: @mobile) {
    font-size: 25px;
  }
}
h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1.333;
  font-weight: 400;
  margin-bottom: 45px;
  @media (max-width: @desk) {
    font-size: 28px;
    margin-bottom: 35px;
  }
  @media (max-width: @tablet) {
    font-size: 25px;
    margin-bottom: 30px;
  }
}
h3 {
  color: @main-dark-color;
  font-size: 14px;
  line-height: 1.4285;
  font-weight: 400;
  text-transform: uppercase;
}
a {
  color: @links-color;
  transition: color .3s ease;
  text-decoration: none;
  &:hover {
    color: darken(@links-color, 10%);
    text-decoration: underline;
  }

  &.is-disabled{
    color: @secondary-links-color !important;
    pointer-events: none;
    cursor: default;
    text-decoration: none;

    &:after{
      display: none;
    }

  }

}
