{% if not data['is_owner'] %}
    {% if deal['owner_role'] == 'contractor' %}
        <p class="TextMarked_grey" id="counteragent-created-deal">
            <span class="TextMarked_date">{{ date_of_event }}</span>
            <span>
                {% if deal['type_ident'] == 'T' %}
                    Продавец
                {% else %}
                    Исполнитель
                {% endif %}
                создал сделку.</span>
        </p>
    {% else %}
        <p class="TextMarked_grey" id="counteragent-created-deal">
            <span class="TextMarked_date">{{ date_of_event }}</span>
            <span>
                {% if deal['type_ident'] == 'T' %}
                    Покупатель
                {% else %}
                    Заказчик
                {% endif %}
                создал сделку.</span>
        </p>
    {% endif %}
{% endif %}