{% if deal['contractor']['is_confirmed'] %}
    <p class="TextMarked_grey" id="counteragent-confirmed">
        <span class="TextMarked_date">{{ date_of_event }}</span>
        <span>
            {% if deal['type_ident'] == 'T' %}
                Продавец
            {% else %}
                Исполнитель
            {% endif %}
            подтвердил согласие с условиями сделки.</span>
    </p>
 {% endif %}