<p class="TextMarked_grey" id="customer-confirmed-obligations-fulfillment">
    <span class="TextMarked_date">{{ date_of_event }}</span>
    <span>
        {% if deal['type_ident'] == 'T' %}
            Покупатель
        {% else %}
            Заказчик
        {% endif %}
        подтвердил выполнение условий договора.</span>
</p>
