<p class="TextMarked_grey" id="payment-sent">
    <span class="TextMarked_date">{{ date_of_event }}</span>
    {% if deal['type_ident'] == 'T' %}
        <span>Отправлен платеж на выплату денег за товар.</span>
    {% else %}
        <span>Отправлен платеж на выплату денег за услугу.</span>
    {% endif %}
</p>