<p class="TextMarked_grey" id="deal-pending-credit-payment">
    <span class="TextMarked_date">{{ date_of_event }}</span>
    <span>Ожидается выплата денег
        {% if deal['type_ident'] == 'T' %}
            продавцу.
        {% else %}
            исполнителю.
        {% endif %}
        </span>
</p>


