{% if data['is_customer_once_confirmed'] == true %}
     <p class="TextMarked_grey" id="you-edited-deal">{{ date_of_event }} Продавец изменил условия сделки.</p>
{% else %}
    <p class="TextMarked_grey" id="you-edited-deal">{{ date_of_event }} Покупатель изменил условия сделки.</p>
{% endif %}