{% extends 'twig/layout/application' %}
{% import 'macro/pagination.twig' as pagination %}
{#
1 discount_requests
2 paginator
#}

{% block content %}
    {% do headTitle('Скидки') %}
    <section class="PageTable" id="TableDiscountRequests">
        <div class="TableWithPagination">

            <table class="TableDeals TableDefault js-table-rows-are-link">
                <tr class="Head">
                    <td>
                        Id
                    </td>
                    <td>
                        Сумма запроса
                    </td>
                    <td>
                        Автор запроса
                    </td>
                    <td>
                        Дата запроса
                    </td>
                    <td>
                        Сделка
                    </td>
                    <td>
                        Сумма
                    </td>
                    <td>
                        Спор
                    </td>
                    <td></td>
                </tr>
                {% if discount_requests|length > 0 %}
                    {% for key,discount_request in discount_requests %}
                        <tr data-path="{{ url('deal-discount-request-single', {'id' : discount_request['id']}) }}">
                            <td>
                                {{ discount_request['id'] }}
                            </td>
                            <td data-label="Сумма скидки:" class="Nowrap">
                                {{ discount_request['amount'] }}
                            </td>
                            <td>
                                {{ discount_request['author']['name'] }}
                            </td>
                            <td>
                                {{ discount_request['created_full']['date'] }}
                            </td>
                            <td>
                                <a href="{{ url('deal/show', {'id' : discount_request['deal']['id']}) }}">{{ discount_request['deal']['name'] }} ({{ discount_request['deal']['number'] }})</a>
                            </td>
                            <td>
                                {{ discount_request['deal']['amount_without_fee'] }}
                            </td>
                            <td data-label="Статус:">
                                {{ discount_request['dispute']['reason'] }}
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="EmptyRow">
                        <td colspan=6>
                            Список скидок пуст.
                        </td>
                    </tr>
                {% endif %}
            </table>

            {{ pagination.paginate(paginator) }}
        </div>
    </section>
{% endblock content %}

