{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{#
 1 discountRequestForm - form
#}
{% do headTitle('Запрос скидки') %}
{% block content %}
    <section class="PageForm DisputeClosePage">
        <p>
            <strong>Доп. информация:</strong><br>
            Причина спора: {{ dispute['reason'] }}<br>
            Дата спора: {{ dispute['created'] }}<br>
            Сделка: {{ deal['name']~' '~deal['number'] }}<br>
            Сумма сделки: {{ deal['amount_without_fee'] }}<br>
        </p>
        <br><br>
        {{ form().openTag(discountRequestForm)|raw }}
            <div class="FormAdd">
                {{ formElement(discountRequestForm.get('csrf'))|raw }}
                {{ formElement(discountRequestForm.get('deal'))|raw }}
                {{ formElement(discountRequestForm.get('type_form'))|raw }}

                {{ formLabel(discountRequestForm.get('amount_discount'))|raw }}
                {{ formElement(discountRequestForm.get('amount_discount'))|raw }}
                <div class="FormError">
                    {{ formElementErrors(discountRequestForm.get('amount_discount'))|raw }}
                </div>
                <div class="FormError">
                    {{ formElementErrors(discountRequestForm.get('csrf'))|raw }}
                    {{ formElementErrors(discountRequestForm.get('deal'))|raw }}
                    {{ formElementErrors(discountRequestForm.get('type_form'))|raw }}
                </div>
                {{ formElement(discountRequestForm.get('submit'))|raw }}
            </div>
        {{ form().closeTag()|raw }}
    </section>
{% endblock content %}