{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{#
  1 discountRefuseForm - form
  2 discountRequest - array
  3 dispute - array
  4 deal - array
#}
{% do headTitle('Отказ на запрос скидки') %}
{% block content %}
    <section class="PageForm DisputeClosePage" id="DisputeRequestRefusePage">
        <p>
            <strong>Информация о запросе скидки:</strong><br>
            Имя автора: {{ discountRequest['author']['name'] }}<br>
            Email автора: {{ discountRequest['author']['email'] }}<br>
            Телефон автора: {{ discountRequest['author']['phone'] }}<br>
            Сумма скидки: {{ discountRequest['amount'] }}<br>
            Дата запроса: {{ discountRequest['created'] }}<br>
        </p>
        <br><br>
        <p>
            <strong>Доп. информация:</strong><br>
            Причина спора: {{ dispute['reason'] }}<br>
            Дата спора: {{ dispute['created'] }}<br>
            Сделка: {{ deal['name']~' '~deal['number'] }}<br>
            Сумма сделки: {{ deal['amount_without_fee'] }}<br>
        </p>
        <br><br>
        {{ form().openTag(discountRefuseForm)|raw }}
        <div class="FormAdd">
            {{ formElement(discountRefuseForm.get('csrf'))|raw }}
            {{ formElement(discountRefuseForm.get('type_form'))|raw }}

            <div class="FormError">
                {{ formElementErrors(discountRefuseForm.get('csrf'))|raw }}
                {{ formElementErrors(discountRefuseForm.get('type_form'))|raw }}
            </div>
            {{ formElement(discountRefuseForm.get('submit'))|raw }}
        </div>
        {{ form().closeTag()|raw }}
    </section>
{% endblock content %}