{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{#
 1 discountRequest - array (DiscountRequest output)
 2 discountConfirmForm - form
 3 discountRefuseForm - form
#}
{% do headTitle('Запрос на скидку') %}
{% block content %}
    <section class="PageForm DisputeRequestPage" id="DisputeRequestPage">
        <h1>Запрос на скидку</h1>
        <br><br>
        <p>
            <strong>Информация о запросе скидки:</strong><br>
            Имя автора: {{ discountRequest['author']['name'] }}<br>
            Email автора: {{ discountRequest['author']['email'] }}<br>
            Телефон автора: {{ discountRequest['author']['phone'] }}<br>
            Сумма скидки: <b>{{ discountRequest['amount'] }} руб.</b><br>
            Дата запроса: {{ discountRequest['created'] }}<br>
        </p>
        <br><br>
        <p>
            <strong>Доп. информация:</strong><br>
            Причина спора: {{ dispute['reason'] }}<br>
            Дата спора: {{ dispute['created'] }}<br>
            Сделка: {{ deal['name']~' '~deal['number'] }}<br>
            Сумма сделки: {{ deal['amount_without_fee'] }}<br>
        </p>
        <br><br>
        <div class="FormAdd" style="display: inline-block">
            {{ form().openTag(discountConfirmForm)|raw }}
            {{ formElement(discountConfirmForm.get('csrf'))|raw }}
            {{ formElement(discountConfirmForm.get('type_form'))|raw }}

            <div class="FormError">
                {{ formElementErrors(discountConfirmForm.get('csrf'))|raw }}
                {{ formElementErrors(discountConfirmForm.get('type_form'))|raw }}
            </div>
            {{ formElement(discountConfirmForm.get('submit'))|raw }}
            {{ form().closeTag()|raw }}
        </div>
        <div class="FormAdd" style="display: inline-block">
            {{ form().openTag(discountRefuseForm)|raw }}
            {{ formElement(discountRefuseForm.get('csrf'))|raw }}
            {{ formElement(discountRefuseForm.get('type_form'))|raw }}

            <div class="FormError">
                {{ formElementErrors(discountRefuseForm.get('csrf'))|raw }}
                {{ formElementErrors(discountRefuseForm.get('type_form'))|raw }}
            </div>
            {{ formElement(discountRefuseForm.get('submit'))|raw }}
            {{ form().closeTag()|raw }}
        </div>
    </section>
{% endblock content %}