{{ form().openTag(errorReportForm) | raw }}
<div class="form-field">
    <div class="form-title">
        Пожалуйста опишите ваши действия предшествовавшие появлению этого экрана. Мы постараемся как можно скорее разобраться
    </div>
</div>
<div class="form-field">
    <div>{{ formLabel(errorReportForm.get('email')) | raw }}</div>
    <div class="form-input">{{ formElement(errorReportForm.get('email')) | raw }}</div>
    {% if formElementErrors(errorReportForm.get('email')) | length  %}
        <div class="form-field">
            <div class="form-alert bs-callout-danger center-align">
                <div class="form-alert__text">
                    {{ formElementErrors(errorReportForm.get('email')) | raw }}
                </div>
            </div>
        </div>
    {% endif %}
</div>
<div class="form-field">
    <div>{{ formLabel(errorReportForm.get('error_report')) | raw }}</div>
    <div class="form-input">{{ formElement(errorReportForm.get('error_report')) | raw }}</div>
    {% if formElementErrors(errorReportForm.get('error_report')) | length  %}
    <div class="form-field">
        <div class="form-alert bs-callout-danger center-align">
            <div class="form-alert__text">
                {{ formElementErrors(errorReportForm.get('error_report')) | raw }}
            </div>
        </div>
    </div>
    {% endif %}
</div>
<div class="form-field">
    <div>
        {{ formElement(errorReportForm.get('error_message')) | raw }}
        {{ formElement(errorReportForm.get('error_tracing')) | raw }}
        {{ formElement(errorReportForm.get('csrf')) | raw }}
    </div>
    <div>{{ formElementErrors(errorReportForm.get('csrf')) | raw }}</div>
</div>
<div>
    <button type="submit" class="button-action button-action_type-filed_color-blue button-action_type-filed">Отправить</button>
</div>
{{ form().closeTag() | raw }}