<footer class="SectionDark">
    <div class="Container">
        <div class="ContactLinks" id="contacts">
            <nav class="Item">
                <h3 class="Title">Документация</h3>
                <ul>
                    <li class="Link"><a href="{{ url('home') }}#trust">Доверие</a></li>
                    <li class="Link"><a href="{{ url('connection-contract') }}">Договор присоединения</a></li>
                    <li class="Link"><a href="{{ url('policy') }}">Политика <br/>конфиденциальности</a></li>
                    <li class="Link"><a href="{{ url('terms-of-use') }}">Регламент пользования</a></li>
                    <li class="Link"><a href="{{ url('dispute-consideration-rules') }}">Регламент <br/>«Разрешение спора»</a></li>
                </ul>
            </nav>
            <nav class="Item">
                <h3 class="Title">Поддержка</h3>
                <ul class="Link-Container">
                    <li class="Link"><a href="tel:+78005057535">+7 (800) 505 75 35</a></li>
                    <li class="Link"><a href="tel:+74951189065">+7 (495) 118 90 65</a></li>
                    <li class="Link"><a href="mailto:sale@guarantpay.com">sale@guarantpay.com</a></li>
                </ul>
                <ul class="Link-Container">
                    <li class="Link">ООО "Гарант Пэй", ОГРН 1177847065098, ИНН 7813271867, КПП 781301001</li>
                    <li class="Link">197101, г. Санкт-Петербург, ул. Чапаева, д. 15, лит. Ж, пом. 2-Н
                    </li>
                    <li class="Link">125040, г. Москва, 3-я ул. Ямского Поля, д. 2, к. 26, оф. 306
                    </li>
                </ul>
            </nav>
            <div class="Item">
                <a href="/" class="Logo">
                </a>
                <div class="OurPartners">
                    <span class="PartnersIcon PartnersIcon_mir"></span>
                    <span class="PartnersIcon PartnersIcon_visa"></span>
                    <span class="PartnersIcon PartnersIcon_mastercard"></span>
                </div>
            </div>
        </div>
        <p class="Copyrights">
            Copyright © 2017 All rights reserved
        </p>
        <div class="smm">
            <a href="https://www.instagram.com/guarantpay/" target="_blank" title="instagram" class="IconSocial IconInstagram"></a>
            <a href="https://www.facebook.com/GuarantPay" target="_blank" title="facebook" class="IconSocial IconFacebook"></a>
            <a href="https://vk.com/guarant_pay" target="_blank" title="вконтакте" class="IconSocial IconVk"></a>
        </div>
    </div>
</footer>