<header class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-3 col-sm-2">
                <a href="{{ url('home') }}" class="main-logo">
                    <img src="/img/landing/guarantpay-logo.svg" alt="Guarant Pay">
                </a>
            </div>
            {% set coll_class = "col-xl-7 col-md-1 col-sm-1" %}
            {% if is_auth or identity == null %}
                {% set coll_class = "col-xl-8 col-md-1 col-sm-1" %}
            {% endif %}
            <div class="{{ coll_class }}">
                <div class="main-nav-wrapper">
                    <nav class="main-nav">
                        <ul class="nav-list">
                            {% if identity != null %}
                                <li class="nav-item nav-item_identity">
                                    <div class="nav-item nav-item_desktop-hidden"><a href="{{ url('profile') | trim }}" class="nav-link">ПРОФИЛЬ</a></div>
                                    <div class="nav-item nav-item_desktop-hidden"><a href="{{ deal_create_url | trim }}" class="nav-link nav-link_create-deal">СОЗДАТЬ СДЕЛКУ</a></div>
                                </li>
                            {% endif %}
                            <li class="nav-item nav-item_desktop-hidden"><a href="{{ url('policy') | trim }}" class="nav-link">конфиденциальность</a></li>
                            <li class="nav-item nav-item_desktop-hidden"><a href="{{ url('connection-contract') | trim }}" class="nav-link">Договор присоединения</a></li>
                            <li class="nav-item"><a href="{{ url('terms-of-use') | trim }}" class="nav-link">РЕГЛАМЕНТ ПОЛЬЗОВАНИЯ</a></li>
                            <li class="nav-item"><a href="#footer-contacts" class="nav-link" data-scroll-to=".page-footer">КОНТАКТЫ</a></li>
                            {% if identity == null and not is_auth %}
                                <li class="nav-item nav-item_sign-in"><a href="{{ url('register') | trim }}" class="nav-link" id="landing_sing-in_button_header">РЕГИСТРАЦИЯ</a></li>
                                <li class="nav-item nav-item_tablet-hidden nav-item_with-dropdown">
                                    <input type="checkbox" class="dropdown-checkbox" id="dropdown-login">
                                    <label class="nav-link" for="dropdown-login">ВХОД<span class="dropdown__arrow"></span></label>
                                    <div class="login-popup">
                                        <form action="{{ url('login') | trim }}" method="post">
                                            <div class="login-popup__field"><input type="text" name="login" placeholder="E-mail / Телефон"></div>
                                            <div class="login-popup__field"><input type="password" name="password" placeholder="Пароль"></div>
                                            <input type="hidden" name="csrf" value="{{ generateCsrf() }}">

                                            {#<input name="captcha" id="captcha_landing_auth" type="hidden">
                                            <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?render={{ getReCaptchaV2SiteKey()|trim }}"></script>
                                            <script type="text/javascript">#}
                                                    {#grecaptcha.ready(function() {#}
                                                        {#grecaptcha.execute("{{ getReCaptchaV2SiteKey()|trim }}").then(function(token) {#}
                                                            {#if (document.getElementById("captcha_landing_auth")) {#}
                                                                {#document.getElementById("captcha_landing_auth").value = token;#}
                                                            {#}#}
                                                        {#});#}
                                                    {#});#}
                                                {#</script>#}


                                            <button type="submit" class="button-action">ВОЙТИ</button>
                                            <div class="remember-password-link">
                                                <a href="{{ url('forgot/password-reset') | trim }}">Забыли пароль?</a>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% if identity == null %}
                        <a href="{{ url('register') | trim }}" class="button-action reg-button">регистрация</a>
                        <a href="{{ url('login') | trim }}" class="button-action">ВОЙТИ</a>
                    {% else %}
                        <a href="{{ url('logout') | trim }}" class="button-action">ВЫЙТИ</a>
                    {% endif %}
                </div>
            </div>

            {% if not is_auth and identity != null %}
                <div class="col-xl-1 col-md-2 col-sm-1">
                {% if identity != null %}
                    {#{{ userHelper().getAvatar() }}#}
                    {#{{ userHelper().getLogin() }}#}
                    {#{{ url('profile') }}#}
                    {% set avatarSrc = "/img/no-avatar.png" %}
                    {% set user = userHelper().getCurrentUser() %}
                    {% if user.getAvatar() %}
                        {% set avatarSrc = url('profile/avatar', {'fileId' : user.getAvatar().getId()}) %}
                    {% endif %}
                    <div class="user-bar">
                        <div class="user-bar__inner">
                            <div class="user-avatar">
                                <div class="user-avatar__image" style="background-image: url({{ avatarSrc }})"></div>
                            </div>
                            {#<div href="{{ url('profile') | trim  }}" class="user-bar__login">{{ userHelper().getLogin() }}</div>#}
                            <ul class="user-menu">
                                <li class="user-menu__item"><a href="{{ url('profile') | trim  }}" class="user-menu__link">Профиль</a></li>
                                <li class="user-menu__item"><a href="{{ deal_create_url | trim }}" class="user-menu__link user-menu__link_create-deal">Создать сделку</a></li>
                                <li class="user-menu__item"><a href="{{ url('logout') | trim  }}" class="user-menu__link">Выход</a></li>
                            </ul>
                            <span class="dropdown__arrow"></span>
                        </div>
                    </div>
                {% endif %}
                <div class="menu-burger"><span></span><span></span><span></span></div>
            </div>
            {% else %}
                <div class="col-xl-0 col-md-2 col-sm-1">
                    <div class="menu-burger"><span></span><span></span><span></span></div>
                </div>
            {% endif %}
        </div>
    </div>
</header>