<footer class="page-footer" id="footer-contacts">
    <div class="container">
        <div class="footer-head">
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <a href="{{ url('home') | trim  }}" class="main-logo">
                        <img src="/img/landing/guarantpay-logo.svg" alt="Guarant Pay">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-body">
            <div class="row">
                <div class="col-xl-3 col-md-6 footer-body__contacts">
                    <div class="row">
                        <div class="col-xl-12">
                            <h5 class="footer-title"><span>Контакты</span></h5>
                        </div>
                        <div class="col-xl-12 col-md-3 col-sm-4">
                            <div class="phone-group">
                                <div class="phone-group__title">Бесплатно по всей России</div>
                                <div class="phone-group__value">
                                    <a href="tel:+78005057535">+7 (800) 505 - 75 - 35</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-3 col-sm-4">
                            <div class="phone-group">
                                <div class="phone-group__title">Москва</div>
                                <div class="phone-group__value">
                                    <a href="tel:+74951189065">+7 (495) 118 - 90 - 65</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-xl-offset-1 col-md-6 col-md-offset-0">
                    <input type="checkbox" class="footer-dropdown-checkbox" id="drop-clients">
                    <h5 class="footer-title mobile-dropdown">
                        <span><label for="drop-clients">Клиентам <span class="dropdown__arrow"></span></label></span>
                    </h5>
                    <div class="footer-links-group">
                        <div class="footer-link"><a href="{{ url('for-customers') | trim }}">Покупателям</a></div>
                        <div class="footer-link"><a href="{{ url('for-contractors') | trim }}">Продавцам</a></div>
                        <div class="footer-link"><a href="{{ url('for-business') | trim }}">Бизнесу</a></div>
                        <div class="footer-link"><a href="{{ url('e-commerce') | trim }}">E-commerce</a></div>
                        <div class="footer-link"><a href="{{ url('for-partners') | trim }}">Партнёрам</a></div>
                        <div class="footer-link"><a href="{{ url('information') | trim }}">Информация</a></div>
                    </div>
                </div>
                <div class="col-xl-3 1 col-md-6">
                    <input type="checkbox" class="footer-dropdown-checkbox" id="drop-rules">
                    <h5 class="footer-title mobile-dropdown">
                        <span><label for="drop-rules">Правила <span class="dropdown__arrow"></span></label></span>
                    </h5>
                    <div class="footer-links-group">
                        <div class="footer-link"><a href="{{ url('connection-contract') | trim }}">Договор присоединения</a></div>
                        <div class="footer-link"><a href="{{ url('policy') | trim }}">Политика конфиденциальности</a></div>
                        <div class="footer-link"><a href="{{ url('terms-of-use') | trim }}">Регламент пользования</a></div>
                        <div class="footer-link"><a href="{{ url('dispute-consideration-rules') | trim }}">Регламент «Разрешение спора»</a></div>
                    </div>
                </div>
                <div class="col-xl-2 1 col-md-3 col-sm-4 footer-body__socials">
                    <h5 class="footer-title"><span>Социальные сети</span></h5>
                    <div class="footer-links-group">
                        <div class="footer-link"><a href="https://www.instagram.com/guarantpay/" target="_blank" class="social-link social-link_type_insta">Instagram</a></div>
                        <div class="footer-link"><a href="https://www.facebook.com/GuarantPay" target="_blank" class="social-link social-link_type_fb">Facebook</a></div>
                        <div class="footer-link"><a href="#" class="social-link social-link_type_yt">Youtube</a></div>
                        <div class="footer-link"><a href="https://vk.com/guarant_pay" target="_blank" class="social-link social-link_type_vk">Вконтакте</a></div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-4 footer__email">
                    <div class="footer-text">
                        Хотите задать нам вопрос?
                    </div>
                    <div>
                        <a href="mailto:sale@guarantpay.com" class="page-footer__email-link">sale@guarantpay.com</a>
                    </div>
                </div>
                <div class="col-xl-5 col-xl-offset-1 col-md-6 col-md-offset-0 footer__address">
                    <input type="checkbox" class="footer-dropdown-checkbox" id="drop-address-content">
                    <h5 class="footer-title mobile-dropdown">
                        <span><label for="drop-address-content">Реквизиты <span class="dropdown__arrow"></span></label></span>
                    </h5>
                    <div class="footer__address-content">
                        <div class="footer-text">
                            ООО "Гарант Пэй", ОГРН 1177847065098, ИНН 7813271867, КПП 781301001
                        </div>
                        <div class="footer-text">
                            125040, г. Москва, 3-я ул. Ямского Поля, д. 2, к. 26, оф. 306
                        </div>
                        <div class="footer-text">
                            197101, г. Санкт-Петербург, ул. Чапаева, д. 15, лит. Ж, пом. 2-Н
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-4 footer__payment-methods">
                    <div class="footer-text">
                        Вы можете оплатить сделку с помощью:
                    </div>
                    <div class="payment-variants">
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="payment-variant">
                                    <img src="/img/visa.svg" alt="Visa">
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="payment-variant">
                                    <img src="/img/mastercard.svg" alt="Mastercard">
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="payment-variant">
                                    <img src="/img/mir.svg" alt="Мир">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 footer__developer">
                </div>
            </div>
        </div>
    </div>
</footer>