<?php
$this->headTitle('Abnormal deals');
$form = $this->form;
$form->prepare();
?>

<div class="col-md-9">
    <div class="block_s-profile-content-wrapper" id="deal-block">


        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Все сделки с проблемами <?php if($this->payments->getPages()->totalItemCount > 0): ?>(всего <?= $this->payments->getPages()->totalItemCount ?>)<?php endif; ?>
            </span>
        </div>

        <div class="block_s-profile-content-desc">

            <?= $this->form()->openTag($form); ?>
            <div class="form-group row block_s-profile-search">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="input-group col-xs-12">
                            <?= $this->formLabel($form->get('abnormal_type')); ?>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group col-xs-3">
                            <?= $this->formElement($form->get('abnormal_type')); ?>
                            <?= '<div class="form-error">'.$this->formElementErrors($form->get('abnormal_type')).'</div>'; ?>
                        </div>
                        <div class="input-group col-xs-3">
                            <?= $this->formElement($form->get('csrf')); ?>
                            <?= $this->formElement($form->get('submit')); ?>
                        </div>
                    </div>
                </div>
            </div>
            <?= $this->form()->closeTag(); ?>

            <?php if (count($this->payments)): ?>
                <table class="table table-striped block_s-profile-table">
                    <thead>
                    <tr>
                        <th><a href="">№</a></th>
                        <th <?php if($this->sortHelper()->isActive('name')):?>class="block_s-profile-table-th-active"<?php endif;?>>
                            <a href="<?= $this->sortHelper()->getSortLink('name'); ?>">
                                Название
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?php if($this->sortHelper()->isActive('created')):?>class="block_s-profile-table-th-active"<?php endif;?>>
                            <a href="<?= $this->sortHelper()->getSortLink('created'); ?>">
                                Дата
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?php if($this->sortHelper()->isActive('expired')):?>class="block_s-profile-table-th-active"<?php endif;?>>
                            <a href="<?= $this->sortHelper()->getSortLink('expired'); ?>">
                                Дата доставки
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?php if($this->sortHelper()->isActive('customer')):?>class="block_s-profile-table-th-active"<?php endif;?>>
                            <a href="<?= $this->sortHelper()->getSortLink('customer'); ?>">
                                Кастомер
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?php if($this->sortHelper()->isActive('contractor')):?>class="block_s-profile-table-th-active"<?php endif;?>>
                            <a href="<?= $this->sortHelper()->getSortLink('contractor'); ?>">
                                Контрактор
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th>проблема</th>
                    </tr>
                    </thead>
                    <tbody>

                    <?php foreach ($this->payments as $payment): ?>
                        <tr>
                            <td class="text-center">#<?= $payment->getDeal()->getId() ?></td>
                            <!-- после объединения экшенов исправить роут на deal/show -->
                            <td><a href="<?= $this->url('deal/show', ['id' => $payment->getDeal()->getId()]) ?>"><?= $payment->getDeal()->getName() ?></a></td>
                            <td class="text-center"><?=$payment->getDeal()->getCreated()->format('d.m.Y')?></td>
                            <td class="text-center">
                                <?php if ($payment->getDeFactoDate()): ?>
                                <?= ($payment->getDeFactoDate()->modify('+'.$payment->getDeal()->getDeliveryPeriod().' days'))->format('d.m.Y')?>
                                <?php else: ?>
                                    -
                                <?php endif ?>
                            </td>
                            <td class="text-left">
                                <?php if($payment->getDeal()->getCustomer()->getUser() != null): ?>
                                    <a href="<?= $this->url('profile/login', ['login' => $payment->getDeal()->getCustomer()->getUser()->getLogin()]) ?>"><?= $payment->getDeal()->getCustomer()->getUser()->getLogin() ?></a>
                                <?php else: ?>
                                    <?= $payment->getDeal()->getCustomer()->getEmail() ?>
                                <?php endif ?>
                            </td>
                            <td class="text-left">
                                <?php if($payment->getDeal()->getContractor()->getUser() != null): ?>
                                    <a href="<?= $this->url('profile/login', ['login' => $payment->getDeal()->getContractor()->getUser()->getLogin()]) ?>"><?= $payment->getDeal()->getContractor()->getUser()->getLogin() ?></a>
                                <?php else: ?>
                                    <?= $payment->getDeal()->getContractor()->getEmail() ?>
                                <?php endif ?>
                            </td>
                            <td class="text-center">
                                <?php $abnormals = $this->paymentAbnormal()->getAbnormalByPaymentToArray($payment); ?>
                                <?php foreach($abnormals as $abnormal): ?>
                                    <div class="text-danger"><?=$abnormal?></div>
                                <?php endforeach; ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>

                <div class="text-center">
                    <?= $this->paginationControl($this->payments,
                        'Sliding',
                        'application/partial/paginator',
                        ['route' => 'deal/list']); ?>
                </div>
            <?php else: ?>
                <p>
                    В системе нет сделок, соотвествующих критериям проблемной.
                </p>
            <?php endif; ?>

            <!-- /content  -->
        </div>
    </div>
</div>
