<?php
$form = $this->form;
$form->prepare();

if($this->server_error_messages){
    echo '<div class="error-50"><div class="alert alert-danger">';

    //var_dump($this->messages);
    if(is_array($this->server_error_messages)){
        echo '<ul>';
        foreach($this->server_error_messages as $msg){
            echo '<li>'.$msg.'</li>';
        }
        echo '</ul>';
    }else{
        echo $this->server_error_messages;
    }
    echo '</div></div>';
}

?>

<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Новая сделка
            </span>
        </div>
        <div class="block_s-profile-content-desc" id="create-deal">
            <!--  content  -->
<div style="display: block">
        <?= $this->form()->openTag($form); ?>
        <div class="form-group">
            <?= $this->formLabel($form->get('name')); ?>
            <?= $this->formElement($form->get('name')); ?>
            <?= $this->formElementErrors($form->get('name')); ?>
        </div>
        <div class="form-group">
            <?= $this->formLabel($form->get('amount')); ?>
            <?= $this->formElement($form->get('amount')); ?>
            <?= $this->formElementErrors($form->get('amount')); ?>
        </div>
        <div class="form-group">
            <?= $this->formLabel($form->get('deal_role')); ?>
            <?= $this->formElement($form->get('deal_role')); ?>
            <?= $this->formElementErrors($form->get('deal_role')); ?>
        </div>
        <div class="form-group">
            <?= $this->formLabel($form->get('deal_civil_law_subject')); ?>
            <?= $this->formElement($form->get('deal_civil_law_subject')); ?>
            <?= $this->formElementErrors($form->get('deal_civil_law_subject')); ?>
            <a href="<?= $this->url('user-profile/natural-person-form-create') ?>">Добавить CivilLawSubject</a>
        </div>
        <div class="form-group">
            Укажите email контрагента (Вторая сторона сделки). Ему будет отправлено приглашение.
            <?= $this->formLabel($form->get('counteragent_email')); ?>
            <?= $this->formElement($form->get('counteragent_email')); ?>
            <?= $this->formElementErrors($form->get('counteragent_email')); ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($form->get('deal_type')); ?>
            <?= $this->formElement($form->get('deal_type')); ?>
            <?= $this->formElementErrors($form->get('deal_type')); ?>
        </div>
        <div class="form-group">
            <?= $this->formLabel($form->get('fee_payer_option')); ?>
            <?= $this->formElement($form->get('fee_payer_option')); ?>
            <?= $this->formElementErrors($form->get('fee_payer_option')); ?>
        </div>
        <div class="form-group">
            <?= $this->formLabel($form->get('delivery_period')); ?>
            <?= $this->formElement($form->get('delivery_period')); ?>
            <?= $this->formElementErrors($form->get('delivery_period')); ?>
        </div>
        <div class="form-group">
            <?= $this->formLabel($form->get('addon_terms')); ?>
            <?= $this->formElement($form->get('addon_terms')); ?>
            <?= $this->formElementErrors($form->get('addon_terms')); ?>
        </div>

        <?= $this->formElement($form->get('csrf')) ?>
        <div class="form-group">
            <button class="btn btn-blue" type="submit">Create</button>
        </div>
        <?= $this->form()->closeTag(); ?>
</div>
        </div>
    </div>
</div>

