<div style="font-family:'Tahoma','Arial';">

    <table width="100%">
        <tr>
            <td align="left" width="13%" height="" valign="top">
            </td>
            <td align="left" width="87%" height="" valign="top">
                <h2>Договор по сделке <?= $this->deal->getNumber() ?> (<?= $this->deal->getName() ?>)</h2>
                <p>Сумма сделки: <?= $this->payment->getReleasedValue(); ?> (<?= $this->numberToStringHelper()->transform($this->payment->getReleasedValue()) ?>)</p>
            </td>
        </tr>
    </table>

    <div style="margin-top: 200px;">
        <h3>Стороны</h3>
        <table width="100%">
            <tr>
                <td width="50%" style="text-align: left; padding: 10px; font-size: 0;">
                    <?php if($this->customerCivilLowSubject instanceof Application\Entity\NaturalPerson): ?>Фамилия: <?= $this->customerCivilLowSubject->getLastName() ?><br />
                        <div style="font-size: 14px;">Имя: <?= $this->customerCivilLowSubject->getFirstName() ?><br />
                            Отчество: <?= $this->customerCivilLowSubject->getSecondaryName() ?><br />
                            Дата рождения: <?= $this->customerCivilLowSubject->getBirthDate()->format('d-m-Y') ?>
                        </div>
                    <?php elseif($this->customerCivilLowSubject instanceof Application\Entity\LegalEntity): ?>
                        <div style="font-size: 14px;">Название: <?= $this->customerCivilLowSubject->getName() ?><br />
                            Юридический адрес: <?= $this->customerCivilLowSubject->getLegalAddress() ?><br />
                            ИНН: <?= $this->customerCivilLowSubject->getInn() ?><br />
                            КПП: <?= $this->customerCivilLowSubject->getKpp() ?><br />
                            ОГРН: <?= $this->customerCivilLowSubject->getOgrn() ?>
                        </div>
                    <?php endif ?>
                </td>
                <td width="50%" style="text-align: left; padding: 10px; font-size: 0;">
                    <?php if($this->contractorCivilLowSubject instanceof Application\Entity\NaturalPerson): ?>
                        <div style="font-size: 14px;">Фамилия: <?= $this->contractorCivilLowSubject->getLastName() ?><br />
                            Имя: <?= $this->contractorCivilLowSubject->getFirstName() ?><br />
                            Отчество: <?= $this->contractorCivilLowSubject->getSecondaryName() ?><br />
                            Дата рождения: <?= $this->contractorCivilLowSubject->getBirthDate()->format('d-m-Y') ?>
                        </div>
                    <?php elseif($this->contractorCivilLowSubject instanceof Application\Entity\LegalEntity): ?>
                        <div style="font-size: 14px;">Название: <?= $this->contractorCivilLowSubject->getName() ?><br />
                            Юридический адрес: <?= $this->contractorCivilLowSubject->getLegalAddress() ?><br />
                            ИНН: <?= $this->contractorCivilLowSubject->getInn() ?><br />
                            КПП: <?= $this->contractorCivilLowSubject->getKpp() ?><br />
                            ОГРН: <?= $this->contractorCivilLowSubject->getOgrn() ?>
                        </div>
                    <?php endif ?>
                </td>
            </tr>
        </table>
    </div>

    <p>&nbsp;</p>

    <h3>Реквизиты сторон</h3>
    <table width="100%">
        <tr>
            <td width="50%" style="text-align: left; padding: 10px; font-size: 0;">
                <div style="font-size: 14px; padding-right: 10px"><?= $this->systemPaymentDetail->getName() ?><br />
                    Банк: <?= $this->systemPaymentDetail->getBank() ?><br />
                    Счет: <?= $this->systemPaymentDetail->getAccountNumber() ?><br />
                    Корр. счёт: <?= $this->systemPaymentDetail->getCorrAccountNumber() ?><br />
                    БИК: <?= $this->systemPaymentDetail->getBik() ?><br />
                    ИНН: <?= $this->systemPaymentDetail->getInn() ?><br />
                    КПП: <?= $this->systemPaymentDetail->getKpp() ?>
                </div>
            </td>
            <td width="50%" style="text-align: left; padding: 10px; font-size: 0;">
                <?php if($this->contractorPaymentMethod->getPaymentMethodType()->getName() == ModulePaymentOrder\Entity\PaymentMethodType::BANK_TRANSFER): ?>
                    <div style="font-size: 14px;"> ?><br />
                        Банк: <?= $this->contractorPaymentMethod->getPaymentMethodBankTransfer()->getBankName() ?><br />
                        Счет: <?= $this->contractorPaymentMethod->getPaymentMethodBankTransfer()->getAccountNumber() ?><br />
                        Корр. счёт: <?= $this->contractorPaymentMethod->getPaymentMethodBankTransfer()->getCorrAccountNumber() ?><br />
                        БИК: <?= $this->contractorPaymentMethod->getPaymentMethodBankTransfer()->getBik() ?><br />
                    </div>
                <?php endif; ?>
            </td>
        </tr>
    </table>

</div>