<?php
$this->headTitle('Remove deal');
?>

<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">
            <!--  content  -->

            <?php if ($this->deal): ?>

                <p>
                <h2>Сделка "<?= $this->deal['name'] ?>"</h2>
                </p>

                <p>
                    Cтатус - <?= $this->deal['deal_status'] ?>
                </p>

                <p>
                    Тип - <?= $this->deal['type'] ?>
                </p>

                <p>
                    Покупатель -
                    <?php if (isset($this->deal['customer'])): ?>
                        <?= $this->deal['customer'] ?>
                    <?php else: ?>
                        <?= $this->deal['customer_deal_agent_email'] ?>
                    <?php endif ?>
                </p>

                <p>
                    Продавец -
                    <?php if ($this->deal['contractor']): ?>
                        <?= $this->deal['contractor'] ?>
                    <?php else: ?>
                        <?= $this->deal['contractor_deal_agent_email'] ?>
                    <?php endif ?>
                </p>

                <p>
                    Кем оплачивается комиссия - <?= $this->deal['fee_payer_option'] ?>
                </p>

                <p>
                    Время исполнения - <?= $this->deal['delivery_period'] ?>
                </p>

                <p>
                    Сумма сделки - <?= $this->deal['payment_amount'] ?>
                </p>
                <p>
                    Сумма сделки без комиссии - <?= $this->deal['payment_amount_without_fee'] ?>
                </p>

                <p>
                    Дополнительные условия - <?= $this->deal['addon_terms'] ?>
                </p>

            <?php endif ?>

            <div class="row">
                <div class="col-md-6 text-center">
                    <?php if($this->deal['agent_confirm']): ?>
                    <span class="label label-success">Вы приняли условия<span>
                    <?php else: ?>
                            <span class="label label-default">Вы не приняли условия<span>
                    <?php endif; ?>
                </div>
                <div class="col-md-6 text-center">
                    <?php if($this->deal['counteragent_confirm']): ?>
                    <span class="label label-success">Контрагент принял условия<span>
                    <?php else: ?>
                            <span class="label label-default">Контрагент не принял условия<span>
                    <?php endif; ?>
                </div>
            </div>

            <div class="text-center">
                <form method="POST" action="<?= $this->url('deal-single',
                    ['id' => $this->deal['id']]) ?>"
                      class="btn-profile-remove-form" role="form">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-blue" >Да, удалить эту сделку</button>
                </form>
            </div>

        <!-- /content  -->

        </div>
    </div>
</div>