<?php
$form = $this->form;
$form->prepare();

if($this->server_error_messages){
    echo '<div class="error-50"><div class="alert alert-danger">';

    //var_dump($this->messages);
    if(is_array($this->server_error_messages)){
        echo '<ul>';
        foreach($this->server_error_messages as $msg){
            echo '<li>'.$msg.'</li>';
        }
        echo '</ul>';
    }else{
        echo $this->server_error_messages;
    }
    echo '</div></div>';
}
?>

<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Редактирование сделки
            </span>
        </div>
        <div>
            <div class="col-md-6 block_s-profile-content-header-span">
                <?php
                /*
                ?>
                Вы выступаете в качестве <strong><?= $this->deal_role ?></strong>
            </div>
            <div class="col-md-6 block_s-profile-content-header-span">
                Контрагент -
                    <?php if($this->counterAgent->getUser() != null): ?>
                        <a href="<?= $this->url('profile/login', ['login' => $this->counterAgent->getUser()->getLogin()]) ?>">
                            <?= $this->counterAgent->getUser()->getLogin() ?>
                        </a>
                    <?php else: ?>
                        <?= $this->counterAgent->getEmail() ?>
                    <?php endif ?>
                <?php
                */
                ?>
            </div>
        </div>
        <div class="block_s-profile-content-desc">
            <!--  content  -->

            <?= $this->form()->openTag($form); ?>
            <div class="form-group">
                <?= $this->formLabel($form->get('name')); ?>
                <?= $this->formElement($form->get('name')); ?>
                <?= $this->formElementErrors($form->get('name')); ?>
            </div>
            <div class="form-group">
                <?= $this->formLabel($form->get('amount')); ?>
                <?= $this->formElement($form->get('amount')); ?>
                Cумма сделки c комиссией: <?= $this->amount ?>
                <?= $this->formElementErrors($form->get('amount')); ?>
            </div>
            <?php
            /*
            ?>
            <?php if ($this->isOwner): ?>
                <div class="form-group">
                    <?= $this->formLabel($form->get('deal_role')); ?>
                    <?= $this->formElement($form->get('deal_role')); ?>
                    <?= $this->formElementErrors($form->get('deal_role')); ?>
                </div>
            <?php endif; ?>
            <?php
            */
            ?>

            <div class="form-group">
                <?= $this->formLabel($form->get('deal_civil_law_subject')); ?>
                <?= $this->formElement($form->get('deal_civil_law_subject')); ?>
                <?= $this->formElementErrors($form->get('deal_civil_law_subject')); ?>
            </div>

            <?php if($this->deal['is_contractor']): ?>
                <div class="form-group">
                    <?= $this->formLabel($form->get('payment_method')); ?>
                    <?= $this->formElement($form->get('payment_method')); ?>
                    <?= $this->formElementErrors($form->get('payment_method')); ?>
                </div>
            <?php endif; ?>

            <?php if ($this->deal['is_owner']): ?>
                <div class="form-group">
                    <?= $this->formLabel($form->get('counteragent_email')); ?>
                    <?= $this->formElement($form->get('counteragent_email')); ?>
                    Вторая сторона сделки
                    <?= $this->formElementErrors($form->get('counteragent_email')); ?>
                </div>
            <?php endif; ?>

            <div class="form-group">
                <?= $this->formLabel($form->get('deal_type')); ?>
                <?= $this->formElement($form->get('deal_type')); ?>
                <?= $this->formElementErrors($form->get('deal_type')); ?>
            </div>
            <div class="form-group">
                <?= $this->formLabel($form->get('fee_payer_option')); ?>
                <?= $this->formElement($form->get('fee_payer_option')); ?>
                <?= $this->formElementErrors($form->get('fee_payer_option')); ?>
            </div>
            <div class="form-group">
                <?= $this->formLabel($form->get('delivery_period')); ?>
                <?= $this->formElement($form->get('delivery_period')); ?>
                <?= $this->formElementErrors($form->get('delivery_period')); ?>
            </div>
            <div class="form-group">
                <?= $this->formLabel($form->get('addon_terms')); ?>
                <?= $this->formElement($form->get('addon_terms')); ?>
                <?= $this->formElementErrors($form->get('addon_terms')); ?>
            </div>

            <div class="form-group">
                <?= $this->formLabel($form->get('deal_agent_confirm')); ?>
                <?= $this->formElement($form->get('deal_agent_confirm')); ?>
                <?= $this->formElementErrors($form->get('deal_agent_confirm')); ?>
            </div>

            <?= $this->formElement($form->get('csrf')) ?>

            <div class="form-group">
                <button class="button s-deal-card__button" type="submit">Сохранить</button>
            </div>
            <?= $this->form()->closeTag(); ?>

            <br><br>

            <?php if ($this->deal['is_owner'] && $this->deal['removable']): ?>
                <div class="button s-deal-card__button">
                    <a href="<?= $this->url('deal-form-delete', ['idDeal' => $this->deal['id']])?>">Удалить</a>
                </div>
            <?php endif; ?>

        </div>
    </div>
</div>