<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">

            <div class="jumbotron">
                Сожалеем, но операция не может быть выполнена.
            </div>

        </div>
    </div>
</div>