<?php
$this->headTitle('Expired deals');
$form = $this->form;
$form->prepare();
?>

<div class="col-md-9">
    <div class="block_s-profile-content-wrapper" id="deal-block">


        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Все сделки <?php if($this->payments->getPages()->totalItemCount > 0): ?>(всего <?= $this->payments->getPages()->totalItemCount ?>)<?php endif; ?>
            </span>
        </div>

        <div class="block_s-profile-content-desc">

            <?= $this->form()->openTag($form); ?>
            <div class="form-group row block_s-profile-search">
                <div class="input-group col-xs-3">
                    <?= $this->formLabel($form->get('name')); ?>
                    <?= $this->formElement($form->get('name')); ?>
                    <?= '<div class="form-error">'.$this->formElementErrors($form->get('name')).'</div>'; ?>
                </div>
                <div class="input-group col-xs-3">
                    <div class="form-group">
                        <?= $this->formLabel($form->get('created')); ?>
                        <?= $this->formElement($form->get('created')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('created')).'</div>'; ?>
                    </div>
                </div>
                <div class="input-group col-xs-3">
                    <?= $this->formLabel($form->get('deal_type')); ?>
                    <select class="form-control" name="deal_type">
                        <option value="" selected>тип сделки</option>
                        <?php foreach ($this->dealTypes as $dealType): ?>
                            <option value="<?= $dealType->getId() ?>"><?= $dealType->getName() ?></option>
                        <?php endforeach; ?>
                    </select>
                    <?= '<div class="form-error">'.$this->formElementErrors($form->get('deal_type')).'</div>'; ?>
                </div>
                <div class="input-group col-xs-3">
                    <?= $this->formLabel($form->get('user_login')); ?>
                    <?= $this->formElement($form->get('user_login')); ?>
                    <?= '<div class="form-error">'.$this->formElementErrors($form->get('user_login')).'</div>'; ?>
                </div>
                <div class="input-group col-xs-3">
                    <?= $this->formLabel($form->get('customer_login')); ?>
                    <?= $this->formElement($form->get('customer_login')); ?>
                    <?= '<div class="form-error">'.$this->formElementErrors($form->get('customer_login')).'</div>'; ?>
                </div>
                <div class="input-group col-xs-3">
                    <?= $this->formLabel($form->get('contractor_login')); ?>
                    <?= $this->formElement($form->get('contractor_login')); ?>
                    <?= '<div class="form-error">'.$this->formElementErrors($form->get('contractor_login')).'</div>'; ?>
                </div>

                <div class="input-group col-xs-3">
                    <?= $this->formElement($form->get('csrf')); ?>
                    <?= $this->formElement($form->get('submit')); ?>
                </div>
            </div>
            <?= $this->form()->closeTag(); ?>

            <?php if (count($this->payments)): ?>
                <table class="table table-striped block_s-profile-table">
                    <thead>
                    <tr>
                        <th><a href="">№</a></th>
                        <th <?php if($this->sortHelper()->isActive('name')):?>class="block_s-profile-table-th-active"<?php endif;?>>
                            <a href="<?= $this->sortHelper()->getSortLink('name'); ?>">
                                Название
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?php if($this->sortHelper()->isActive('created')):?>class="block_s-profile-table-th-active"<?php endif;?>>
                            <a href="<?= $this->sortHelper()->getSortLink('created'); ?>">
                                Дата
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?php if($this->sortHelper()->isActive('expired')):?>class="block_s-profile-table-th-active"<?php endif;?>>
                            <a href="<?= $this->sortHelper()->getSortLink('expired'); ?>">
                                Дата доставки
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?php if($this->sortHelper()->isActive('customer')):?>class="block_s-profile-table-th-active"<?php endif;?>>
                            <a href="<?= $this->sortHelper()->getSortLink('customer'); ?>">
                                Кастомер
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?php if($this->sortHelper()->isActive('contractor')):?>class="block_s-profile-table-th-active"<?php endif;?>>
                            <a href="<?= $this->sortHelper()->getSortLink('contractor'); ?>">
                                Контрактор
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th>-</th>
                    </tr>
                    </thead>
                    <tbody>

                    <?php foreach ($this->payments as $payment): ?>
                        <tr>
                            <td class="text-center">#<?= $payment->getDeal()->getId() ?></td>
                            <!-- после объединения экшенов исправить роут на deal/show -->
                            <td><a href="<?= $this->url('deal/show', ['id' => $payment->getDeal()->getId()]) ?>"><?= $payment->getDeal()->getName() ?></a></td>
                            <td class="text-center"><?=$payment->getDeal()->getCreated()->format('d.m.Y')?></td>
                            <td class="text-center"><?= ($payment->getDeFactoDate()->modify('+'.$payment->getDeal()->getDeliveryPeriod().' days'))->format('d.m.Y')?></td>
                            <td class="text-left">
                                <?php if($payment->getDeal()->getCustomer()->getUser() != null): ?>
                                    <a href="<?= $this->url('profile/login', ['login' => $payment->getDeal()->getCustomer()->getUser()->getLogin()]) ?>"><?= $payment->getDeal()->getCustomer()->getUser()->getLogin() ?></a>
                                <?php else: ?>
                                    <?= $payment->getDeal()->getCustomer()->getEmail() ?>
                                <?php endif ?>
                            </td>
                            <td class="text-left">
                                <?php if($payment->getDeal()->getContractor()->getUser() != null): ?>
                                    <a href="<?= $this->url('profile/login', ['login' => $payment->getDeal()->getContractor()->getUser()->getLogin()]) ?>"><?= $payment->getDeal()->getContractor()->getUser()->getLogin() ?></a>
                                <?php else: ?>
                                    <?= $payment->getDeal()->getContractor()->getEmail() ?>
                                <?php endif ?>
                            </td>
                            <td class="text-center"><a href="<?= $this->url('deal/expired', ['id' => $payment->getDeal()->getId()]) ?>" class="btn btn-default btn-sm active" role="button">обработать</a></td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>

                <p class="text-right">
                    <a href="<?= $this->url('deal/expired', ['id' => 'all']) ?>" class="btn btn-primary btn-sm active" role="button">Обработать все</a>
                </p>

                <div class="text-center">
                    <?= $this->paginationControl($this->payments,
                        'Sliding',
                        'application/partial/paginator',
                        ['route' => 'deal/list']); ?>
                </div>
            <?php else: ?>
                <p>
                    В системе нет сделок, соотвествующих критериям готовности для создания credit платёжного поручения.
                </p>
            <?php endif; ?>

            <!-- /content  -->
        </div>
    </div>
</div>
