<?php
$this->headTitle('User deals');
$form = $this->form;
$form->prepare();
?>
<div class="table-site table-site--deal">
    <!--form class="table-site__row filter-full"-->
        <?= $this->form()->openTag($form); ?>
        <div class="table-site__col">
            <a class="button-add" href="<?= $this->url('deal/create') ?>"><span>+</span></a>
        </div>
        <div class="table-site__col">
            <?= $this->formElement($form->get('filter[name]')); ?>
        </div>
        <div class="table-site__col">
            <?= $this->formElement($form->get('filter[deal_amount]')); ?>
        </div>
        <div class="table-site__col">
            <?= $this->formElement($form->get('filter[deal_role]')); ?>
        </div>
        <div class="table-site__col">
            <div class="filter-date">
                <?= $this->formElement($form->get('filter[deal_created_from]')); ?>
                <?= $this->formElement($form->get('filter[deal_created_till]')); ?>
            </div>
        </div>
        <div class="table-site__col">
            <div class="filter-select-status">
                <?= $this->formElement($form->get('filter[deal_status]')); ?>
                <?= $this->formElement($form->get('csrf')); ?>
            </div>
        </div>
        <div class="table-site__col">
            <button class="button-search" type="submit"><span>&nbsp;</span></button>
        </div>
        <?= $this->form()->closeTag(); ?>
    <!--/form-->

    <?php if (count($this->deals)): ?>
        <div class="table-site__row table-site__head">
            <div class="table-site__col">
                №
            </div>
            <div class="table-site__col">
                <a href="<?= $this->sortHelper()->getSortLink('name'); ?>" class="sort-link">
                    <i class="sort-link__icon
                    <?php if ($this->sortHelper()->getSort() === 'DESC'): ?> sort-link__icon-down<?php else: ?> sort-link__icon-up<?php endif; ?>
                    <?php if ($this->sortHelper()->isActive('name')): ?> active<?php endif; ?>"></i>
                    Название
                </a>
            </div>
            <div class="table-site__col">
                <a href="<?= $this->sortHelper()->getSortLink('amount'); ?>" class="sort-link">
                    <i class="sort-link__icon
                    <?php if ($this->sortHelper()->getSort() === 'DESC'): ?> sort-link__icon-down<?php else: ?> sort-link__icon-up<?php endif; ?>
                    <?php if ($this->sortHelper()->isActive('amount')): ?> active<?php endif; ?>"></i>
                    Сумма
                </a>
            </div>
            <div class="table-site__col">
                <a href="<?= $this->sortHelper()->getSortLink('role'); ?>" class="sort-link">
                    <i class="sort-link__icon
                    <?php if ($this->sortHelper()->getSort() === 'DESC'): ?> sort-link__icon-down<?php else: ?> sort-link__icon-up<?php endif; ?>
                    <?php if ($this->sortHelper()->isActive('role')): ?> active<?php endif; ?>"></i>
                    Роль
                </a>
            </div>
            <div class="table-site__col">
                <a href="<?= $this->sortHelper()->getSortLink('created'); ?>"  class="sort-link">
                    <i class="sort-link__icon
                    <?php if ($this->sortHelper()->getSort() === 'DESC'): ?> sort-link__icon-down<?php else: ?> sort-link__icon-up<?php endif; ?>
                    <?php if ($this->sortHelper()->isActive('created')): ?> active<?php endif; ?>"></i>
                    Дата
                </a>
            </div>
            <div class="table-site__col">
                Статус
            </div>
            <div class="table-site__col"></div>
        </div>
        <?php foreach ($this->deals as $key=>$deal): ?>
            <div class="table-site__row">
                <div class="table-site__col">
                    <?= ($this->paginator_data['current']*$this->paginator_data['itemCountPerPage']
                        - $this->paginator_data['itemCountPerPage']) + $key+1 ?>
                </div>
                <div class="table-site__col" data-label="Название">
                    <a href="<?= $this->url('deal/show', ['id' => $deal['id']]) ?>"><?= $deal['name'] ?></a>
                </div>
                <div class="table-site__col" data-label="Сумма:">
                    <?= $deal['payment_amount'] ?> руб.
                </div>
                <div class="table-site__col" data-label="Роль:">
                    <?php if($deal['user_role'] == 'customer'): ?>
                        Покупатель
                    <?php else: ?>
                        Продавец
                    <?php endif; ?>
                </div>
                <div class="table-site__col" data-label="Дата:">
                    <?=$deal['created']?>
                </div>
                <div class="table-site__col" data-label="Статус:">
                    <?= $deal['deal_status'] ?>
                </div>
                <div class="table-site__col"></div>
            </div>
        <?php endforeach; ?>
    <?php endif; ?>
</div>


<?php
/*
  if (count($this->deals)): ?>
    <div class="text-center">
        <?= $this->paginationControl($this->deals,
            'Sliding',
            'application/partial/paginator',
            ['route' => 'deal/list']); ?>
    </div>
<?php endif;
*/
?>
