<div style="font-family:'Tahoma','Arial';">
    <table width="100%">
        <tr>
            <td align="left" width="13%" height="" valign="top">
            </td>
            <td align="left" width="87%" height="" valign="top" style="font-size: 1;">
                <h2 style="font-size: 20px;">Guarant Pay</h2><br>
            </td>
        </tr>
    </table>
    <br><br>
    <table width="100%" cellpadding="3">
        <tr>
            <td colspan="2" style="border-left:1px solid #000;border-top:1px solid #000; border-right:1px solid #000; font-size: 0;" width="40%" valign="top">
                <?php//Наименование и местонахождение банка получателя?>
                <?php if($this->systemPaymentDetail): ?>
                <div style="font-size: 10px;"><?= $this->systemPaymentDetail->getBank(); ?></div>
                <?php endif; ?>
            </td>
            <td style="border:1px solid #000;font-size: 0;" width="10%">
                <div style="font-size: 10px;">БИК</div>
            </td>
            <td style="border:1px solid #000;font-size: 0;" width="50%">
                <?php//БИК банка получателя?>
                <?php if($this->systemPaymentDetail): ?>
                    <div style="font-size: 10px;"><?= $this->systemPaymentDetail->getBik(); ?></div>
                <?php endif; ?>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-left:1px solid #000;border-right:1px solid #000" width="40%">&nbsp;</td>
            <td rowspan="2" style="border:1px solid #000;font-size: 0;" width="10%">
                <div style="font-size: 10px;">Сч.№</div>
            </td>
            <td rowspan="2" style="border:1px solid #000;font-size: 0;" width="50%">
                <?php//Номер корреспондентского счета банка получателя?>
                <?php if($this->systemPaymentDetail): ?>
                    <div style="font-size: 10px;"><?= $this->systemPaymentDetail->getCorrAccountNumber(); ?></div>
                <?php endif; ?>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-left:1px solid #000;border-right:1px solid #000;font-size: 0;" width="40%">
                <div style="font-size: 10px;">Банк получателя</div>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid #000;font-size: 0;" width="20%">
                <div style="font-size: 10px;">ИНН
                <?php if($this->systemPaymentDetail): ?>
                    <?= $this->systemPaymentDetail->getInn(); ?>
                <?php endif; ?>
                </div>
            </td>
            <td style="border:1px solid #000;font-size: 0;" width="20%">
                <div style="font-size: 10px;">КПП
                <?php if($this->systemPaymentDetail): ?>
                    <?= $this->systemPaymentDetail->getKpp(); ?>
                <?php endif; ?>
                </div>
            </td>
            <td rowspan="4" style="border:1px solid #000;font-size: 0;" width="10%">
                <div style="font-size: 10px;">Сч.№</div>
            </td>
            <td rowspan="4" style="border:1px solid #000;font-size: 0;" width="50%">
                <?php//Номер лицевого счета получателя?>
                <?php if($this->systemPaymentDetail): ?>
                    <div style="font-size: 10px;"><?= $this->systemPaymentDetail->getAccountNumber(); ?></div>
                <?php endif; ?>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-left:1px solid #000;border-top:1px solid #000; border-right:1px solid #000; padding: 10px;font-size: 0;" width="40%">
                <?php//Получатель?>
                <?php if($this->systemPaymentDetail): ?>
                    <div style="font-size: 10px;"><?= $this->systemPaymentDetail->getPaymentRecipientName(); ?></div>
                <?php endif; ?>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-left:1px solid #000;border-right:1px solid #000" width="40%">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" style="border-left:1px solid #000;border-bottom:1px solid #000;font-size: 0;" width="40%">
                <div style="font-size: 10px;">Получатель</div>
            </td>
        </tr>
    </table>
    <br/>
    <table width="100%" cellpadding="3">
        <tr>
            <td width="100%" align="left" style="font-size: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td width="100%" align="left" style="font-weight: bold;font-size: 0;">
                <div style="font-size: 16px;">Счет на оплату № <?= $this->deal->getId() ?> от <?=date("d.m.Y")?></div>
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" style="font-size: 0;">
                <div style="background-color:#000000; width:100%; font-size:1px; height:2px;">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" style="font-size: 0;">&nbsp;</td>
        </tr>
    </table>
    <table width="100%" cellpadding="3" cellspacing="0">
        <tr>
            <td width="12%" style="font-size: 0;">
                <div style="font-size: 10px;">Поставщик<br>(Исполнитель):</div>
            </td>
            <td width="88%" style="font-size: 0;">
                <div style="font-size: 10px;font-weight: bold;">
                <?php if($this->systemPaymentDetail): ?>
                    <?= $this->invoiceHelper()->fullInformationSystemPaymentDetail($this->systemPaymentDetail);?>
                <?php endif; ?>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" height="5px" style="padding: 0;font-size:1px;">&nbsp;</td>
        </tr>
        <tr>
            <td width="12%" style="font-size: 0;">
                <div style="font-size: 10px;">Покупатель<br>(Заказчик):</div>
            </td>
            <td width="88%" style="font-size: 0;">
                <div style="font-size: 10px;font-weight: bold;">
                    <?php if($this->deal): ?>
                        <?= $this->invoiceHelper()->fullInformationAboutPayer($this->deal, $this->isNaturalPerson);?>
                    <?php endif; ?>
                </div>
            </td>
        </tr>
    </table>
    <br><br>
    <table width="100%" cellpadding="3" style="border: 1px solid #000; border-collapse: collapse;">
        <thead>
            <tr>
                <th align="center" width="5%" style="border: 1px solid #000;font-size: 0;font-weight: bold;">
                    <div style="font-size: 10px;">№</div>
                </th>
                <th align="center" width="50%" style="border: 1px solid #000;font-size: 0;font-weight: bold;">
                    <div style="font-size: 10px;"><?=$this->deal->getDealType()->getName();?></div>
                </th>
                <th align="center" width="10%" style="border: 1px solid #000;font-size: 0;font-weight: bold;">
                    <div style="font-size: 10px;">Кол-во</div>
                </th>
                <th align="center" width="5%" style="border: 1px solid #000;font-size: 0;font-weight: bold;">
                    <div style="font-size: 10px;">Ед.</div>
                </th>
                <th align="center" width="15%" style="border: 1px solid #000;font-size: 0;font-weight: bold;">
                    <div style="font-size: 10px;">Цена</div>
                </th>
                <th align="center" width="15%" style="border: 1px solid #000;font-size: 0;font-weight: bold;">
                    <div style="font-size: 10px;">Сумма</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="5%" align="center" style="border: 1px solid #000;font-size: 0;">
                    <div style="font-size: 10px;">1</div>
                </td>
                <td width="50%" align="left" style="border: 1px solid #000;font-size: 0;">
                    <div style="font-size: 10px;"><?=$this->deal->getName();?></div>
                </td>
                <td width="10%" align="right" style="border: 1px solid #000;font-size: 0;">
                    <div style="font-size: 10px;">1</div>
                </td>
                <td width="5%" align="center" style="border: 1px solid #000;font-size: 0;">
                    <div style="font-size: 10px;">шт</div>
                </td>
                <td width="15%" align="right" style="border: 1px solid #000;font-size: 0;">
                    <div style="font-size: 10px;">
                        <?php if($this->payment): ?>
                            <?= $this->payment->getExpectedValue() ?>
                        <?php endif; ?>
                    </div>
                </td>
                <td width="15%" align="right" style="border: 1px solid #000;font-size: 0;">
                    <div style="font-size: 10px;">
                        <?php if($this->payment): ?>
                            <?= $this->payment->getExpectedValue() ?>
                        <?php endif; ?>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <table width="100%" cellpadding="3" style="border-collapse: collapse;">
        <tbody>
            <tr>
                <td align="left" width="60%"></td>
                <td align="right" width="25%" style="font-weight:bold;font-size: 0;">
                    <div style="font-size: 10px;">Итого:</div>
                </td>
                <td width="15%" align="right" style="font-size: 0;">
                    <div style="font-size: 10px;font-weight:bold;">
                        <?php if($this->payment){echo $this->payment->getExpectedValue();}?></div>
                </td>
            </tr>
            <tr>
                <td align="left" width="60%"></td>
                <td align="right" width="25%" style="font-weight:bold;font-size: 0;">
                    <div style="font-size: 10px;">Без налога (НДС)</div>
                </td>
                <td width="15%" align="right" style="font-size: 0;">
                    <div style="font-size: 10px;font-weight:bold;"> &ndash; </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table width="100%" cellpadding="3">
        <tr>
            <td width="100%" align="left" style="font-size: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td width="100%" align="left" style="font-size: 0;">
                <div style="font-size: 10px;">Всего наименований 1 на сумму <?php if($this->payment){echo $this->invoiceHelper()->numberWithCurrencyUnit($this->payment->getExpectedValue());}?></div>
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" style="font-size: 0;">
                <div style="font-size: 10px; font-weight: bold;"><?php if($this->payment){echo $this->invoiceHelper()->numberToString($this->payment->getExpectedValue(), true);}?></div>
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" style="font-size: 0;">
                <div style="background-color:#000000; width:100%; font-size:1px; height:2px;">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" style="font-size: 0;">&nbsp;</td>
        </tr>
    </table>
    <br>
    <br>
    <table border="0" width="100%" cellpadding="1" cellspacing="1">
        <tr>
            <td align="left" width="100%">В назначении платежа укажите
                <strong>Оплата по сделке #<?=$this->deal->getId()?></strong></td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <br>
    <table border="0" width="100%" cellpadding="1" cellspacing="1">
        <tr>
            <td align="left" width="50%">Руководитель ____________________ (Фамилия И.О.)</td>
            <td align="right" width="50%">Бухгалтер ____________________ (Фамилия И.О.)</td>
        </tr>
    </table>
</div>


