<?php
$this->headTitle('Show deal');
?>

<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">
            <!--  content  -->

            <?php if ($this->deal): ?>

                <p><h2>Сделка "<?= $this->deal->getName() ?>"</h2></p>
                <p>
                    Deal type - <?= $this->deal->getDealType()->getName() ?>
                </p>
                <p>
                    Customer -
                    <?php if ($this->deal->getCustomer()->getUser()): ?>
                        <?= $this->deal->getCustomer()->getUser()->getLogin() ?>
                    <?php else: ?>
                        <?= $this->deal->getCustomer()->getEmail() ?>
                    <?php endif ?>
                </p>
                <p>
                    Contractor -
                    <?php if ($this->deal->getContractor()->getUser()): ?>
                        <?= $this->deal->getContractor()->getUser()->getLogin() ?>
                    <?php else: ?>
                        <?= $this->deal->getContractor()->getEmail() ?>
                    <?php endif ?>
                </p>

                <p>
                    Fee payer option - <?= $this->deal->getFeePayerOption()->getName() ?>
                </p>

                <p>
                    Delivery period - <?= $this->deal->getDeliveryPeriod() ?> days
                </p>

                <p>
                    Addon Terms - <?= $this->deal->getAddonTerms() ?>
                </p>

                <p>
                    Payment Amount - <?= $this->payment->getExpectedValue() ?>
                </p>
                <p>
                    Payment Amount Without Fee - <?= $this->payment->getDealValue() ?>
                </p>

            <?php endif ?>

            <div class="row">
                <div class="col-md-6 text-center">
                    <?php if($this->deal->getCustomer()->getDealAgentConfirm()): ?>
                        <span class="label label-success">Customer приняли условия<span>
                    <?php else: ?>
                        <span class="label label-default">Customer не приняли условия<span>
                    <?php endif; ?>
                </div>
                <div class="col-md-6 text-center">
                    <?php if($this->deal->getContractor()->getDealAgentConfirm()): ?>
                        <span class="label label-success">Contractor принял условия<span>
                    <?php else: ?>
                         <span class="label label-default">Contractor не принял условия<span>
                    <?php endif; ?>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12 text-center">
                    <?php if(!$this->payment->getDebitPaymentOrder()): // if no getDebitPaymentOrder ?>
                        Счет по сделке не оплачен
                    <?php else: ?>
                        <strong>Счет по сделке оплачен</strong>
                    <?php endif ?>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12 text-center">
                    <?php if(!$this->isDeliveryConfirmed): // if isDeliveryConfirmed = false ?>
                        Получение не подтверждено
                    <?php else: ?>
                        <strong>Получение подтверждено</strong>
                    <?php endif ?>
                </div>
            </div>

            <br />

            <?php if($this->deal->getDealContractFile() && $this->deal->getDealContractFile()->getFile()): ?>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="<?= $this->url('deal/contract', ['id' => $this->deal->getId()]) ?>">Скачать договор по сделке</a>
                    </div>
                </div>
            <?php endif; ?>

            <!-- /content  -->
        </div>
    </div>
</div>