<?php
$this->headTitle('All deals');
$form = $this->form;
$form->prepare();
?>

<div class="col-md-9">
    <div class="block_s-profile-content-wrapper" id="deal-block">


        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Все сделки <?php if($this->deals->getPages()->totalItemCount > 0): ?>(всего <?= $this->deals->getPages()->totalItemCount ?>)<?php endif; ?>
            </span>
        </div>

        <div class="block_s-profile-content-desc">

            <?= $this->form()->openTag($form); ?>
            <div class="form-group row block_s-profile-search">
                <div class="input-group col-xs-3">
                    <?= $this->formLabel($form->get('filter[name]')); ?>
                    <?= $this->formElement($form->get('filter[name]')); ?>
                    <?= '<div class="form-error">'.$this->formElementErrors($form->get('filter[name]')).'</div>'; ?>
                </div>
                <div class="input-group col-xs-3">
                    <div class="form-group">
                        <?= $this->formLabel($form->get('created')); ?>
                        <?= $this->formElement($form->get('created')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('created')).'</div>'; ?>
                    </div>
                </div>
                <div class="input-group col-xs-3">
                    <?= $this->formLabel($form->get('deal_type')); ?>
                    <select class="form-control" name="deal_type">
                        <option value="" selected>тип сделки</option>
                        <?php foreach ($this->dealTypes as $dealType): ?>
                            <option value="<?= $dealType->getId() ?>"><?= $dealType->getName() ?></option>
                        <?php endforeach; ?>
                    </select>
                    <?= '<div class="form-error">'.$this->formElementErrors($form->get('deal_type')).'</div>'; ?>
                </div>
                <div class="input-group col-xs-3">
                    <?= $this->formLabel($form->get('user_login')); ?>
                    <?= $this->formElement($form->get('user_login')); ?>
                    <?= '<div class="form-error">'.$this->formElementErrors($form->get('user_login')).'</div>'; ?>
                </div>
                <div class="input-group col-xs-3">
                    <?= $this->formLabel($form->get('customer_login')); ?>
                    <?= $this->formElement($form->get('customer_login')); ?>
                    <?= '<div class="form-error">'.$this->formElementErrors($form->get('customer_login')).'</div>'; ?>
                </div>
                <div class="input-group col-xs-3">
                    <?= $this->formLabel($form->get('contractor_login')); ?>
                    <?= $this->formElement($form->get('contractor_login')); ?>
                    <?= '<div class="form-error">'.$this->formElementErrors($form->get('contractor_login')).'</div>'; ?>
                </div>

                <div class="input-group col-xs-3">
                    <?= $this->formElement($form->get('csrf')); ?>
                    <?= $this->formElement($form->get('submit')); ?>
                </div>
            </div>
            <?= $this->form()->closeTag(); ?>

            <?php if (count($this->deals)): ?>
                <table class="table table-striped block_s-profile-table">
                    <thead>
                    <tr>
                        <th><a href="">№</a></th>
                        <th <?php if($this->sortHelper()->isActive('name')):?>class="block_s-profile-table-th-active"<?php endif;?>>
                            <a href="<?= $this->sortHelper()->getSortLink('name'); ?>">
                                Название
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?php if($this->sortHelper()->isActive('created')):?>class="block_s-profile-table-th-active"<?php endif;?>>
                            <a href="<?= $this->sortHelper()->getSortLink('created'); ?>">
                                Дата

                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?php if($this->sortHelper()->isActive('customer')):?>class="block_s-profile-table-th-active"<?php endif;?>>
                            <a href="<?= $this->sortHelper()->getSortLink('customer'); ?>">
                                Кастомер
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?php if($this->sortHelper()->isActive('contractor')):?>class="block_s-profile-table-th-active"<?php endif;?>>
                            <a href="<?= $this->sortHelper()->getSortLink('contractor'); ?>">
                                Контрактор
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <?php foreach ($this->deals as $deal): ?>
                        <tr>
                            <td class="text-center">#<?= $deal->getId() ?></td>
                            <td><a href="<?= $this->url('deal/show', ['id' => $deal->getId()]) ?>"><?= $deal->getName() ?></a></td>
                            <td class="text-center"><?=$deal->getCreated()->format('d.m.Y')?></td>
                            <td class="text-left">
                                <?php if($deal->getCustomer()->getUser() != null): ?>
                                    <a href="<?= $this->url('profile/login', ['login' => $deal->getCustomer()->getUser()->getLogin()]) ?>"><?= $deal->getCustomer()->getUser()->getLogin() ?></a>
                                <?php else: ?>
                                    <?= $deal->getCustomer()->getEmail() ?>
                                <?php endif ?>
                            </td>
                            <td class="text-left">
                                <?php if($deal->getContractor()->getUser() != null): ?>
                                    <a href="<?= $this->url('profile/login', ['login' => $deal->getContractor()->getUser()->getLogin()]) ?>"><?= $deal->getContractor()->getUser()->getLogin() ?></a>
                                <?php else: ?>
                                    <?= $deal->getContractor()->getEmail() ?>
                                <?php endif ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>

                <div class="text-center">
                    <?= $this->paginationControl($this->deals,
                        'Sliding',
                        'application/partial/paginator',
                        ['route' => 'deal/list']); ?>
                </div>
            <?php endif; ?>

            <p class="text-center">
                <a href="<?= $this->url('deal/abnormal') ?>">Проблемные сделки</a>
            </p>

            <!-- /content  -->
        </div>
    </div>
</div>
