<?php
$this->headTitle('Show deal');
?>
<?php
/*
?>

<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">
            <!--  content  -->

            <?php if ($this->deal): ?>

                <p>
                    <h2>Сделка "<?= $this->deal['name'] ?>"</h2>
                </p>

                <p>
                    Cтатус - <?= $this->deal['deal_status'] ?>
                </p>

                <p>
                    Тип - <?= $this->deal['type'] ?>
                </p>

                <p>
                    Покупатель -
                    <?php if (isset($this->deal['customer'])): ?>
                        <?= $this->deal['customer'] ?>
                    <?php else: ?>
                        <?= $this->deal['customer_deal_agent_email'] ?>
                    <?php endif ?>
                </p>

                <p>
                    Продавец -
                    <?php if ($this->deal['contractor']): ?>
                        <?= $this->deal['contractor'] ?>
                    <?php else: ?>
                        <?= $this->deal['contractor_deal_agent_email'] ?>
                    <?php endif ?>
                </p>

                <p>
                    Кем оплачивается комиссия - <?= $this->deal['fee_payer_option'] ?>
                </p>

                <p>
                    Время исполнения - <?= $this->deal['delivery_period'] ?>
                </p>

                <p>
                    Сумма сделки - <?= $this->deal['payment_amount'] ?>
                </p>
                <p>
                    Сумма сделки без комиссии - <?= $this->deal['payment_amount_without_fee'] ?>
                </p>

                <p>
                    Дополнительные условия - <?= $this->deal['addon_terms'] ?>
                </p>

            <?php endif ?>

            <div class="row">
                <div class="col-md-6 text-center">
                    <?php if($this->deal['agent_confirm']): ?>
                        <span class="label label-success">Вы приняли условия<span>
                    <?php else: ?>
                        <span class="label label-default">Вы не приняли условия<span>
                    <?php endif; ?>
                </div>
                <div class="col-md-6 text-center">
                    <?php if($this->deal['counteragent_confirm']): ?>
                        <span class="label label-success">Контрагент принял условия<span>
                    <?php else: ?>
                        <span class="label label-default">Контрагент не принял условия<span>
                    <?php endif; ?>
                </div>
            </div>

            <?php if(!$this->deal['counteragent_confirm'] || !$this->deal['agent_confirm']): ?>

                <div class="text-right">
                    <a href="<?= $this->url('deal/edit', ['id' => $this->deal['id']]) ?>">Редактировать</a>
                </div>

            <?php else: ?>

                <?php if($this->deal['deal_status'] == 'Оплачена'): ?>
                    <br/>
                    <p class="text-center">
                        <strong><?= $this->deal['deal_status'] ?></strong>
                    </p>

                    <?php if($this->identity() == $this->deal['customer']): // if current user is Customer ?>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <?php if(!$this->isDeliveryConfirmed): // and isDeliveryConfirmed = false ?>
                                <form action="<?=$this->url('deal/delivery/confirm');?>" method="post">
                                    <input type="hidden" name="deal_id" value="<?=$this->deal['id'];?>">
                                    <button class="btn btn-lg btn-success">подтвердить получение</button>
                                </form>
                                <?php else: ?>
                                    <strong>Получение подтверждено</strong><br />
                                <?php endif ?>
                            </div>
                        </div>
                    <?php endif; ?>

                    <br />

                <?php elseif($this->identity() == $this->deal['customer']): // if current user is Customer ?>

                    <br/><br/>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <a href="<?= $this->url('deal/invoice', ['id' => $this->deal['id']]) ?>">Посмотреть счет #<?= $this->deal['id'] ?></a>
                        </div>
                        <div class="col-md-6 text-center">
                            <a href="<?= $this->url('deal/invoice', ['id' => $this->deal['id'], 'work' => 'download']) ?>">Скачать счет #<?= $this->deal['id'] ?></a>
                        </div>
                    </div>
                </div>

                <?php endif?>

            <?php endif; ?>

            <?php if($this->deal['contract']): ?>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="<?= $this->url('deal/contract', ['id' => $this->deal['id']]) ?>"><?= $this->deal['contract']['name'] ?></a>
                    </div>
                </div>
            <?php endif; ?>

        <?php # Показывать только владельцу. Дописать, когда появится соответсвующее свойство в dealOutput ?>
        <div class="form-group">
            <a href="<?= $this->url('deal-form-delete',
                ['idDeal' => $this->deal['id']]
            )?>" class="btn btn-blue">УДАЛИТЬ</a>
        </div>

            <!-- /content  -->
        </div>
    </div>
</div>
<?php
*/
?>
<div class="s-deal-card">
    <div class="s-deal-card__header">
        <h1 class="s-deal-card__title"><?=$this->deal['full_name']?></h1>
    </div>
    <div class="s-deal-card__content">
        <div class="s-deal-card__main">
            <div class="s-deal-card__progress">
                <div class="progress-panel">
                    <div class="progress-panel__item">
                        <div class="progress-panel__point">
                            <div class="progress-panel__title">
                                Ожидает согласование
                            </div>
                            <div class="progress-panel__number">
                                            <span>
                                                1
                                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-panel__item">
                        <div class="progress-panel__point">
                            <div class="progress-panel__title">
                                Согласование
                            </div>
                            <div class="progress-panel__number">
                                            <span>
                                                2
                                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-panel__item">
                        <div class="progress-panel__point">
                            <div class="progress-panel__title">
                                Оплачено
                            </div>
                            <div class="progress-panel__number">
                                            <span>
                                                3
                                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-panel__item">
                        <div class="progress-panel__point">
                            <div class="progress-panel__title">
                                Товар доставлен
                            </div>
                            <div class="progress-panel__number">
                                            <span>
                                                4
                                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-panel__item">
                        <div class="progress-panel__point">
                            <div class="progress-panel__title">
                                Ожидает выплаты
                            </div>
                            <div class="progress-panel__number">
                                            <span>
                                                5
                                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-panel__item disabled">
                        <div class="progress-panel__point">
                            <div class="progress-panel__title">
                                Закрыто
                            </div>
                            <div class="progress-panel__number">
                                            <span>
                                                6
                                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="s-deal-card__members">
                <div class="s-deal-card__member">
                    <!-- customer -->
                    <h2 class="s-deal-card__title s-deal-card__member-title">Заказчик сделки</h2>
                    <?php if($this->deal['customer']['is_natural_person']): ?>
                        <div class="info-field">
                            <div class="info-field__title">
                                Фамилия:
                            </div>
                            <div class="info-field__text" title="<?=$this->deal['customer']['last_name']?>">
                                <?=$this->deal['customer']['last_name'];?>
                            </div>
                        </div>
                        <div class="info-field">
                            <div class="info-field__title">
                                Имя:
                            </div>
                            <div class="info-field__text" title="<?=$this->deal['customer']['first_name']?>">
                                <?=$this->deal['customer']['first_name'];?>
                            </div>
                        </div>
                        <div class="info-field">
                            <div class="info-field__title">
                                Отчество:
                            </div>
                            <div class="info-field__text" title="<?=$this->deal['customer']['secondary_name']?>">
                                <?=$this->deal['customer']['secondary_name'];?>
                            </div>
                        </div>
                    <?php endif; ?>
                    <?php if($this->deal['customer']['is_legal_entity']): ?>
                        <div class="info-field">
                            <div class="info-field__title">
                                Наименование:
                            </div>
                            <div class="info-field__text" title="<?=$this->deal['customer']['name']?>">
                                <?=$this->deal['customer']['name'];?>
                            </div>
                        </div>
                        <div class="info-field">
                            <div class="info-field__title">
                                Юридический адрес:
                            </div>
                            <div class="info-field__text" title="<?=$this->deal['customer']['address']?>">
                                <?=$this->deal['customer']['address'];?>
                            </div>
                        </div>
                    <?php endif; ?>

                    <div class="info-field">
                        <div class="info-field__title">
                            Электронная почта:
                        </div>
                        <div class="info-field__text" title="<?=$this->deal['customer']['email']?>">
                            <a href="mailto:<?=$this->deal['customer']['email']?>" class="accent-link"><?=$this->deal['customer']['email']?></a>
                        </div>
                    </div>
                    <div class="info-field">
                        <div class="info-field__title">
                            Номер телефона:
                        </div>
                        <div class="info-field__text" title="<?=$this->phoneHelper()->formatPhone($this->deal['customer']['phone']);?>">
                            <a href="tel:<?=$this->deal['customer']['phone']?>" class="accent-link"><?=$this->phoneHelper()->formatPhone($this->deal['customer']['phone']);?></a>
                        </div>
                    </div>

                    <?php if($this->deal['customer']['is_natural_person']): ?>
                        <div class="info-field">
                            <div class="info-field__title">
                                Дата рождения:
                            </div>
                            <div class="info-field__text" title="<?=$this->deal['customer']['birth_date']?>">
                                <?=$this->deal['customer']['birth_date']?>
                            </div>
                        </div>
                    <?php endif; ?>

                    <?php if($this->deal['customer']['is_legal_entity']): ?>
                        <div class="info-field">
                            <div class="info-field__title">
                                ИНН:
                            </div>
                            <div class="info-field__text" title="<?=$this->deal['customer']['inn']?>">
                                <?=$this->deal['customer']['inn']?>
                            </div>
                        </div>
                        <div class="info-field">
                            <div class="info-field__title">
                                КПП:
                            </div>
                            <div class="info-field__text" title="<?=$this->deal['customer']['kpp']?>">
                                <?=$this->deal['customer']['kpp']?>
                            </div>
                        </div>
                        <div class="info-field">
                            <div class="info-field__title">
                                ОГРН:
                            </div>
                            <div class="info-field__text" title="<?=$this->deal['customer']['ogrn']?>">
                                <?=$this->deal['customer']['ogrn']?>
                            </div>
                        </div>
                    <?php endif; ?>
                    <!-- end customer -->
                </div>
                <div class="s-deal-card__member">
                    <!-- contractor -->
                    <h2 class="s-deal-card__title s-deal-card__member-title">Исполнитель сделки</h2>
                    <?php if($this->deal['contractor']['is_natural_person']): ?>
                        <div class="info-field">
                            <div class="info-field__title">
                                Фамилия:
                            </div>
                            <div class="info-field__text" title="<?=$this->deal['contractor']['last_name'];?>">
                                <?=$this->deal['contractor']['last_name'];?>
                            </div>
                        </div>
                        <div class="info-field">
                            <div class="info-field__title">
                                Имя:
                            </div>
                            <div class="info-field__text" title="<?=$this->deal['contractor']['first_name'];?>">
                                <?=$this->deal['contractor']['first_name'];?>
                            </div>
                        </div>
                        <div class="info-field">
                            <div class="info-field__title">
                                Отчество:
                            </div>
                            <div class="info-field__text" title="<?=$this->deal['contractor']['secondary_name'];?>">
                                <?=$this->deal['contractor']['secondary_name'];?>
                            </div>
                        </div>
                    <?php endif; ?>
                    <?php if($this->deal['contractor']['is_legal_entity']): ?>
                        <div class="info-field">
                            <div class="info-field__title">
                                Наименование:
                            </div>
                            <div class="info-field__text" title="<?=$this->deal['contractor']['name'];?>">
                                <?=$this->deal['contractor']['name'];?>
                            </div>
                        </div>
                        <div class="info-field">
                            <div class="info-field__title">
                                Юридический адрес:
                            </div>
                            <div class="info-field__text" title="<?=$this->deal['contractor']['address'];?>">
                                <?=$this->deal['contractor']['address'];?>
                            </div>
                        </div>
                    <?php endif; ?>

                    <div class="info-field">
                        <div class="info-field__title">
                            Электронная почта:
                        </div>
                        <div class="info-field__text" title="<?=$this->deal['contractor']['email']?>">
                            <a href="mailto:<?=$this->deal['contractor']['email']?>" class="accent-link"><?=$this->deal['contractor']['email']?></a>
                        </div>
                    </div>
                    <div class="info-field">
                        <div class="info-field__title">
                            Номер телефона:
                        </div>
                        <div class="info-field__text" title="<?=$this->phoneHelper()->formatPhone($this->deal['contractor']['phone']);?>">
                            <a href="tel:<?=$this->deal['contractor']['phone']?>" class="accent-link"><?=$this->phoneHelper()->formatPhone($this->deal['contractor']['phone']);?></a>
                        </div>
                    </div>

                    <?php if($this->deal['contractor']['is_natural_person']): ?>
                        <div class="info-field">
                            <div class="info-field__title">
                                Дата рождения:
                            </div>
                            <div class="info-field__text" title="<?=$this->deal['contractor']['birth_date']?>">
                                <?=$this->deal['contractor']['birth_date']?>
                            </div>
                        </div>
                    <?php endif; ?>

                    <?php if($this->deal['contractor']['is_legal_entity']): ?>
                        <div class="info-field">
                            <div class="info-field__title">
                                ИНН:
                            </div>
                            <div class="info-field__text" title="<?=$this->deal['contractor']['inn']?>">
                                <?=$this->deal['contractor']['inn']?>
                            </div>
                        </div>
                        <div class="info-field">
                            <div class="info-field__title">
                                КПП:
                            </div>
                            <div class="info-field__text" title="<?=$this->deal['contractor']['kpp']?>">
                                <?=$this->deal['contractor']['kpp']?>
                            </div>
                        </div>
                        <div class="info-field">
                            <div class="info-field__title">
                                ОГРН:
                            </div>
                            <div class="info-field__text" title="<?=$this->deal['contractor']['ogrn']?>">
                                <?=$this->deal['contractor']['ogrn']?>
                            </div>
                        </div>
                    <?php endif; ?>
                    <!-- end contractor -->
                </div>
            </div>
        </div>
        <div class="s-deal-card__description">

            <div class="s-deal-card__dates">
                <div class="s-deal-card__dates-row">
                    <div class="image-date s-deal-card__date">
                        <div class="image-date__date">
                            26.11.2017
                        </div>
                        <div class="image-date__text">
                            Создание сделки
                        </div>
                        <div class="image-date__img"></div>
                    </div>
                    <div class="image-date image-date--active s-deal-card__date">
                        <div class="image-date__date">
                            30.11.2017
                        </div>
                        <div class="image-date__text">
                            Дата оплаты
                        </div>
                        <div class="image-date__img"></div>
                    </div>
                </div>
                <div class="s-deal-card__dates-row">
                    <div class="image-date s-deal-card__date">
                        <div class="image-date__date">
                            28.11.2017
                        </div>
                        <div class="image-date__text">
                            Согласование
                        </div>
                        <div class="image-date__img"></div>
                    </div>
                    <div class="image-date s-deal-card__date">
                        <div class="image-date__date">
                            02.12.2017
                        </div>
                        <div class="image-date__text">
                            Крайний срок
                        </div>
                        <div class="image-date__img"></div>
                    </div>
                </div>
            </div>
            <?php if($this->deal['addon_terms']): ?>
                <div class="s-deal-card__addon-terms">
                    <h2 class="s-deal-card__subtitle">
                        Описание
                    </h2>
                    <p><?=$this->deal['addon_terms']?></p>
                </div>
            <?php endif; ?>
            <div class="s-deal-card__score deal-score">
                <div class="deal-score__top">
                    СУММА НА ОПЛАТУ
                </div>
                <div class="deal-score__info">
                    <div class="deal-score__field">
                        <div class="deal-score__title">Дата:</div>
                        <div class="deal-score__text">$this->dateHelper()->dateHelper</div>
                    </div>
                    <div class="deal-score__field">
                        <div class="deal-score__title">Номер сделки:</div>
                        <div class="deal-score__text">№<?=$this->deal['id']?></div>
                    </div>
                    <div class="deal-score__field">
                        <div class="deal-score__title">Комиссия:</div>
                        <div class="deal-score__text">4.900р.</div>
                    </div>
                    <div class="deal-score__field">
                        <div class="deal-score__title">Тип комиссии:</div>
                        <div class="deal-score__text"><?=$this->deal['fee_payer_option']?></div>
                    </div>
                    <div class="deal-score__total">
                        <div class="deal-score__title">ИТОГ:</div>
                        <div class="deal-score__count">5.000р.</div>
                    </div>
                </div>
                <div class="deal-score__bottom">
                    СУММА СДЕЛКИ
                </div>
            </div>
        </div>
    </div>
    <div class="s-deal-card__footer">
        <div class="s-deal-card__links">
            <div class="img-block">
                <img src="/img/download-file-icon.png" alt="Скачать">
                <a href="" class="img-block__text">Скачать договор по сделки</a>
            </div>
            <div class="img-block">
                <img src="/img/download-file-icon.png" alt="Скачать">
                <a href="" class="img-block__text">Скачать договор на оплату сделки</a>
            </div>
            <div class="img-block">
                <img src="/img/print-file-icon.png" alt="Скачать">
                <a href="" class="img-block__text">Напечатать договор сделки</a>
            </div>
        </div>

        <?php if(!$this->deal['is_delivery_confirmed']): // and isDeliveryConfirmed = false ?>
            <form action="<?=$this->url('deal/delivery/confirm');?>" method="post">
                <input type="hidden" name="deal_id" value="<?=$this->deal['id'];?>">
                <button class="button s-deal-card__button">Подтвердить получение</button>
            </form>
        <?php else: ?>
            <strong>Получение подтверждено</strong><br />
        <?php endif ?>

        <?php if ($this->deal['is_owner'] && $this->deal['removable']): ?>
            <div class="button s-deal-card__button">
                <a href="<?= $this->url('deal-form-delete', ['idDeal' => $this->deal['id']])?>">УДАЛИТЬ</a>
            </div>
        <?php endif; ?>
    </div>
</div>
