<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">
            <!--  content  -->

            <div class="jumbotron">
                <div class="success">Сделка успешно создана.</div>
            </div>

            <!-- /content  -->
        </div>
    </div>
</div>