<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Документы
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <!--  content  -->
            <?php if(count($this->documents)):?>
                <table class="table table-striped block_s-profile-table">
                    <thead>
                    <tr>
                        <th <?=($this->sortHelper()->isActive('id')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('id', []);?>">
                                №
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('typeDocument')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('typeDocument', []);?>">
                                Тип документа

                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th>Описание</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->documents as $document): ?>
                        <?php
                            $bankDetail = $document->getLegalEntityBankDetail();
                            $taxInspection = $document->getLegalEntityTaxInspection();
                        ?>
                        <!-- Bank Detail -->
                        <?php if ($bankDetail !== null): ?>
                            <tr>
                                <td class="text-center"><?=$document->getId()?></td>
                                <td>
                                    <a href="<?= $this->url('legal-entity-bank-detail-single', [
                                        'id' => $bankDetail->getId()
                                    ]) ?>" class="block_s-profile-table-link">
                                        Реквизиты</a>
                                </td>
                                <td class="text-left">
                                    Расчетный счет:<br>
                                    <?=$bankDetail->getCheckingAccount();?><br>
                                    Наименование банка:<br>
                                    <?=$bankDetail->getName();?><br>
                                    Корресподентский счет:<br>
                                    <?=$bankDetail->getCorrespondentAccount();?><br>
                                    БИК:<br>
                                    <?=$bankDetail->getBic();?><br>
                                </td>
                            </tr>
                        <?php endif; ?>
                        <!-- Tax inspection -->
                        <?php if ($taxInspection !== null): ?>
                            <tr>
                                <td class="text-center"><?=$document->getId()?></td>
                                <td>
                                    <a href="<?= $this->url('legal-entity-tax-inspection-single', [
                                        'id' => $taxInspection->getId()
                                    ]) ?>" class="block_s-profile-table-link">
                                        Свидетельство о постановке на учет в налоговой инспекции</a>
                                </td>
                                <td class="text-left">
                                    Серия и номер:<br>
                                    <?=$taxInspection->getSerialNumber();?><br>
                                    Дата выдачи:<br>
                                    <?=$taxInspection->getDateIssued()->format('Y-m-d');?><br>
                                    Кем выдан:<br>
                                    <?=$taxInspection->getIssueOrganisation();?><br>
                                    Кем зарегистрирован:<br>
                                    <?=$taxInspection->getIssueRegistrar();?><br>
                                    Дата регистрации:<br>
                                    <?=$taxInspection->getDateRegistered()->format('Y-m-d');?><br>
                                    Файлы:<br>
                                    <?php if (count($taxInspection->getFiles()) > 0): ?>
                                        <?php foreach ($taxInspection->getFiles() as $file): ?>
                                            <a href="<?= $this->url('profile/file', [
                                                'civilId' => $document->getLegalEntity()->getCivilLawSubject()->getId(),
                                                'fileId' => $file->getId(),
                                            ]) ?>">
                                                <?= $file->getName() ?>
                                            </a>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </td>
                            </tr>
                        <?php endif; ?>

                    <?php endforeach; ?>
                    </tbody>
                </table>
                <?= $this->paginationControl($this->documents,
                    'Sliding',
                    'application/partial/paginator',
                    [
                        'route' => $this->route,
                    ]
                );
                ?>
            <?php else: ?>
                <br>
                <br>
                <h4>Документы отсутствуют</h4>
                <br>
                <br>
            <?php endif; ?>
            <!-- /content  -->
        </div>
    </div>
</div>
