{% extends 'twig/layout/application' %}
{% import 'macro/pagination.twig' as pagination %}
{#
    deals = array
    is_operator = bool
    paginator = array
#}
{% do headTitle('Счет-фактуры') %}
{% block content %}
    <section class="PageTable" id="invoice-collection">
        <form method="get" class="TableWrapper" id="deal-invoice-filter-form">
            <table class="TableDefault js-table-rows-are-link">
                <tr class="FilterTableRow">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
                <tr class="Head">
                    <td>
                        <a href="{{ sortHelper().getSortLink('number') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('number')) ?' active':'' }}">

                            </i>
                            Номер
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('name') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('name')) ?' active':'' }}">

                            </i>
                            Название
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('amount') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('amount')) ?' active':'' }}">

                            </i>
                            Сумма
                        </a>
                    </td>
                    <td colspan="2">
                        Действие
                    </td>
                </tr>
                {% if deals |length > 0 %}
                    {% for deal in deals %}
                        <tr data-path="{{ url('deal-invoice-single', {'id' : deal['id']}) | trim }}">
                            <td>
                                {{ deal['number'] }}
                            </td>
                            <td data-label="Название:">
                                {{ deal['name'] }}
                            </td>
                            <td data-label="Сумма:" class="Nowrap">
                                {{ deal['payment_amount_without_fee'] }} руб.
                            </td>
                            <td>
                                <a href="{{ url('deal-invoice-single', {'id' : deal['id']}) | trim }}">Посмотреть счет</a>
                            </td>
                            <td>
                                <a href="{{ url('deal-invoice-single', {'id' : deal['id'], 'work': 'download'}) | trim }}">Скачать счет</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="EmptyRow">
                        <td colspan="5">
                            Счета на оплату не найдены
                        </td>
                    </tr>
                {% endif %}
            </table>
        </form>
        <div id="paginator-invoice">
            {{ pagination.paginate(paginator) }}
        </div>
    </section>
{% endblock content %}