<?php
$this->headTitle('File upload');
?>

<?php
if($this->server_error_messages){
    echo '<div class="error-50"><div class="alert alert-danger">';

    //var_dump($this->messages);
    if(is_array($this->server_error_messages)){
        echo '<ul>';
        foreach($this->server_error_messages as $msg){
            echo '<li>'.$msg.'</li>';
        }
        echo '</ul>';
    }else{
        echo $this->server_error_messages;
    }
    echo '</div></div>';
}
?>

<h1>Загрузка файлов объекта <?= $this->owner->getName() ?></h1>

<div class="row">
    <div class="col-md-offset-4 col-md-3">
        <?php $form->prepare() ?>
        <?= $this->form()->openTag($form); ?>

        <?= $this->formElement($form->get('file')) ?>
        <?= $this->formElement($form->get('csrf')) ?>

        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">submit</button>
        </div>
        <?= $this->form()->closeTag(); ?>
    </div>
</div>