<?php
$this->headTitle('File upload Ajax test');
?>

<div class="jumbotron">
   Тестирование ajax запроса
</div>

<div class="row">
    <div class="col-md-offset-4 col-md-3">
        <?php $form->prepare() ?>
        <?= $this->form()->openTag($form); ?>

        <?= $this->formElement($form->get('file')) ?>
        <?= $this->formElement($form->get('csrf')) ?>

        <div class="form-group">
            <button id="upload" class="btn btn-lg btn-primary btn-block" type="submit">Загрузить</button>
        </div>
        <?= $this->form()->closeTag(); ?>
    </div>
</div>

<script>
    $('#upload').on('click', function(event) {
        event.preventDefault()
        var file_data = $('#file').prop('files')[0];
        var csrf_data = $('#csrf').prop('value');
        var form_data = new FormData();
        form_data.append('file', file_data);
        form_data.append('csrf', csrf_data);
        //alert(form_data);
        $.ajax({
            url: 'http://dev/test/file-upload/1',
            dataType: 'text',  // what to expect back from the PHP script, if anything
            cache: false,
            contentType: false,
            processData: false,
            data: form_data,
            type: 'post',
            enctype: 'multipart/form-data',
            success: function(php_script_response){
                alert(php_script_response); // display response from the PHP script, if any
                document.getElementById("file-upload-form").reset();
            }
        });
    });
</script>
