<?php
$this->headTitle('Files');
?>

<div class="jumbotron">

    <h1>Файлы объекта <?= $this->owner->getName() ?></h1>

    <?php if (count($this->owner->getFiles()) > 0): ?>

        <?php foreach ($this->owner->getFiles() as $file): ?>
        <p>
            <h3><a href="/test/file-show/<?= $file->getId() ?>"><?= $file->getName() ?></a></h3>
            <div>Оригинальное название: <?= $file->getOriginName() ?> | Тип: <?= $file->getType() ?>
                | Вес:  <?= $file->getSize() ?> | Дата загрузки: <?= $file->getCreated()->format('d-m-Y') ?> |
                <form action="/test/file-delete/owner/<?= $this->owner->getId()?>/file/<?=$file->getId()?>">
                    <button>Delete</button>
                </form>
            </div>
        </p>
        <?php endforeach; ?>

    <?php else: ?>

        <h5>У объекта еще нет файлов</h5>

    <?php endif; ?>

    <div class="text-center">
        <h3><a href="/test/file-upload/<?= $this->owner->getId() ?>">Загрузить файл</a></h3>
    </div>

</div>