.another-form-link{
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  text-align: right;
  color: @main-dark-color;
  display: inline-block;

  @media (max-width: @grid-breakpoint-sm){
    margin-top: 36px;
  }

}