.error-message{
  color: @error-hint-color;
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  letter-spacing: -0.2px;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 1px;
}