.forgot-password-link{
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  text-align: right;
  letter-spacing: -0.2px;
  color: @main-dark-color;

  @media (max-width: @grid-breakpoint-sm){
    font-size: 12px;
  }

  @media (max-width: @grid-breakpoint-xs){
    font-size: 11px;
  }

}