.form-checkbox{
  display: inline-block;
  font-size: 0;
  margin: 0;

  input[type="checkbox"]{
    opacity: 0;
    position: absolute;
    &:focus {
      & ~ .form-checkbox__label{
       border: 2px solid @outline-color;
       border-radius: 4px;
        padding-left: 0;
      }
    }

    &:checked{
      & ~ .form-checkbox__field{
        &:after{
          opacity: 1;
        }
      }
    }


  }

  .form-checkbox__field{
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid @main-dark-color;
    box-sizing: border-box;
    border-radius: 3px;
    vertical-align: top;
    margin-top: -3px;
    position: relative;

    &:after{
      content: '';
      left: 2px;
      right: 2px;
      top: 2px;
      bottom: 2px;
      opacity: 0;
      transition: opacity .3s;
      position: absolute;
      border-radius: 3px;
      background-color: @active-color;
    }

  }

  .form-checkbox__label{
    font-family: Lato, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    letter-spacing: -0.2px;
    color:@main-dark-color;
    text-transform: none;
    padding-left: 2px;

    @media (max-width: @grid-breakpoint-sm){
      font-size: 12px;
    }

    @media (max-width: @grid-breakpoint-xs){
      font-size: 11px;
    }

  }

}