.form-hint{
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 1;
  margin-left: 38px;
  min-width: 222px;
  width: 120%;

  @media (max-width: @grid-breakpoint-md){
    position: static;
    width: 100%;
    margin-left: 0;
    margin-top: 4px;
  }

  &:before{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #C4C4C4;
    transform: rotateZ(-45deg);
    left: -4px;
    top: 18px;
    z-index: -1;

    @media (max-width: @grid-breakpoint-md){
      display: none;
    }

  }

  &:after{
    content: '';
    position: absolute;
    left: -3px;
    top: 19px;
    background-color: #fff;
    width: 18px;
    height: 17px;
    transform: rotateZ(-45deg);
    z-index: 1;

    @media (max-width: @grid-breakpoint-md){
      display: none;
    }

  }

  .form-hint__inner{
    border-radius: 3px;
    border: 1px solid #C4C4C4;
    padding: 8px 16px 8px;
    background-color: #fff;
    color: #7E8FA4;
    font-family: Lato, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: -0.5px;
    position: relative;
    z-index: 1;

    @media (max-width: @grid-breakpoint-md){
      border: none;
      padding: 0;
    }

    @media (max-width: @grid-breakpoint-sm){
      font-size: 13px;
      line-height: 18px;
    }

  }

  .form-hint__title{
    font-weight: bold;
    color: @offer-note-color;
  }
  
  &.error{
    .form-hint__title{
      color: #FF4C4C;
    }
  }

}