.form-input{
  display: block;
  width: 100%;
  position: relative;

  input, textarea{
    width: 100%;
    height: 50px;
    border: 1px solid #D3D5DF;
    padding: 0 9px;
    transition: border-color .5s;
    background-color: transparent;
    outline: none;
    color: @main-dark-color;
    border-radius: 3px;

    @media (max-width: @grid-breakpoint-sm){
      font-size: 16px;
    }

    &:focus{
      border-color: @offer-note-color;
    }

    &.is-valid, &.success{
      border-color: @valid-success-color;
    }

    &.is-not-valid, &.error{
      border-color: @error-hint-color;
      box-shadow: none;
    }
  }

  textarea{
    min-height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    resize: none;
  }

  input[name="password"], input[name="confirm_password"]{
    padding-right: 40px;
  }

  @import (multiple) 'toggle-password-field-type-button';
  @import (multiple) 'error-message';
  @import (multiple) 'hint-message';
  @import (multiple) 'form-message';
}