.form-title{
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  font-size: 36px;
  letter-spacing: -0.47px;
  color: #FFFFFF;
  margin-bottom: 23px;
  text-shadow: 0 0.5px 1px rgba(53, 64, 82, 0.2);
  opacity: .5;
  text-decoration: none;

  &.is-active{
    opacity: 1;
  }

  &.is-uppercase{
    text-transform: uppercase;
  }

  &:not(.is-active) {
    &:hover {
      @import (multiple) './link-with-underline';
      .link-with-underline(#fff);
    }
  }

  @media (max-width: @grid-breakpoint-sm){
    line-height: 36px;
    font-size: 32px;
  }

}