.form-message {
  font-family: Lato, Arial, sans-serif;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  letter-spacing: -0.2px;
  .form-message__body {
    margin-top: 0;
    display: block;
    position: absolute;
    left: calc(~"100% + 40px");
    top: 0;
    padding: 5px;
    padding-left: 15px;
    border: 1px solid rgba(256, 256, 256, .3);
    border-radius: 3px;
    color: rgba(256, 256, 256, .5);
    width: 100%;
    min-height: 100%;
    overflow: hidden;
  }
  // Здесь начинается дичь, так как нам нужно поддерживать два вида подсказок, то мы полностью снимаем стили с form-message__body и перевешиваем их на form-message
  &.hint {
    margin-top: 0;
    display: block;
    position: absolute;
    left: calc(~"100% + 40px");
    top: 0;
    padding: 5px;
    padding-left: 15px;
    border: 1px solid rgba(256, 256, 256, .3);
    border-radius: 3px;
    color: rgba(256, 256, 256, .5);
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    box-shadow: inset 3px 0 0 0 @offer-note-color;
    .form-message__header {
      position: relative;
      left: 0;
      top: 0;
      margin-top: 0;
    }
    .form-message__body {
      position: relative;
      width: 100%;
      height: auto;
      overflow: visible;
      border: none;
      left: 0;
      top: 0;
      padding: 0;
      margin: 0;
    }
  }
  &.error {
    .form-message__body {
      box-shadow: inset 3px 0 0 0 @error-hint-color;
    }
  }
}