.form-alert{
  background-color: #FF4C4C;
  border-radius: 2px;
  margin: 0;
  padding: 6px 3px;
  color: #ffffff;
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: -0.5px;
  text-align: center;

  .form-alert__header{

  }

  .form-alert__text{

  }

}