.link-with-underline(@underLineColor){
  position: relative;

  &:hover{
    &:after{
      height: 2px;
    }
  }

  &:after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    transition: height .4s;
    height: 1px;
    background-color: @underLineColor;
    opacity: .6;
  }

}