.toggle-password-field-type-button-wrap {
  display: inline-block;
  width: 30px;
  height: 20px;
}
.toggle-password-field-type-button{
  position: absolute;
  right: 12px;
  top: 10px;
  font-size: 0;
  background: url(/img/eye-grey.svg) no-repeat center;
  cursor: pointer;
  background-size: 15px 10px;
  width: 30px;
  height: 30px;

  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 37%;
    width: 2px;
    height: 18px;
    transform: rotate(30deg) translate(-50%, -50%);
    background-color: #DADADA;
  }

}

input[type="password"] ~ .toggle-password-field-type-button{
  &:before{
    display: none;
  }
}