{% extends 'twig/layout/application' %}

{% do headTitle('Нет прав доступа') %}
{% block content %}
    <div class="MessagePage">
        <div class="MessagePage-Wrapper">
            <div class="MessagePage-Img">
                <img src="{{ basePath('img/MessageError.svg') }}" alt="Ошибка">
            </div>
            <div class="MessagePage-Content">
                <h1 class="MessagePage-Title">Доступ запрещен</h1>
            </div>
        </div>
    </div>
{% endblock content %}