{% extends 'twig/layout/authentication' %}

{% do headTitle('Пользователь зарегистрирован') %}
{% block content %}
<div class="col-md-9">
    <style>
        .block-s__registration-login .btn-blue {
            margin-top: 12px;
            margin-bottom: 30px;
        }
    </style>
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">
            <!--  content  -->

            <div class="jumbotron">
                Вы авторизованы, как <strong>{{ identity() }}</strong>.

                <div class="text-right">
                    <a href="{{ url('logout')|trim }}" class="btn btn-blue">сменить пользователя</a>
                </div>
            </div>

            <!-- /content  -->
        </div>
    </div>
</div>
{% endblock content %}