{% extends 'twig/layout/authentication' %}

{% do headTitle('Авторизация') %}
{% block content %}
{#<div id="login-block">
    <div class="row">
        <div class="col-md-6">
            <h1>Вход</h1>
            <form method="post" name="login-form" id="login-form">
                <div class="form-group">
                    <label for="login">логин</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon glyphicon-user"></span>
                        </div>
                        <input type="text" name="login" id="login" class="form-control" placeholder="" value="">
                    </div>
                </div>
                <div class="form-error">{{ formElementErrors(loginForm.get('login'))|raw }}</div>
                <div class="form-group">
                    <label for="password">пароль</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon glyphicon glyphicon-lock"></span>
                        </div>
                        <input type="password" name="password" id="password" class="form-control" placeholder="" value="">
                    </div>
                </div>
                <div class="form-error">{{ formElementErrors(loginForm.get('password'))|raw }}</div>
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="remember_me" value="0">
                        <input type="checkbox" name="remember_me" value="1"> Запомнить меня
                    </label>
                </div>
                <div class="row">
                    {{ formElement(loginForm.get('csrf'))|raw }}
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <input type="submit" name="submit" id="submitbutton" class="btn btn-blue" value="Войти">
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12 text-center">
                        <a href="{{ url('forgot/password-reset') | trim }}" class="block-s__registration-login__link">Забыли пароль?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>#}
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-xl-offset-4 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-0">
                <div id="login-block">
                    <div class="form-auth">
                        {{ formElement(loginForm.get('csrf'))|raw }}
                        <div class="form-title-group">
                            <h1 class="form-title is-active">Вход</h1>
                            <a href="{{ url('register') | trim }}" class="form-title">Регистрация</a>
                        </div>
                        <div class="form-auth__inner Preloader Preloader_solid">
                            <form action="" method="post" name="login-form" id="login-form">
                                <div class="form-field">
                                    <label class="form-label" for="login">Логин</label>
                                    <div class="form-input">
                                        <input type="text" name="login" id="login">
                                        <div class="error-message">{{ formElementErrors(loginForm.get('login'))|raw }}</div>
                                    </div>
                                </div>
                                <div class="form-field">
                                    <label class="form-label" for="password">Пароль</label>
                                    <div class="form-input">
                                        <input type="password" name="password" id="password">
                                        <span class="toggle-password-field-type-button"></span>
                                        <div class="error-message">{{ formElementErrors(loginForm.get('password'))|raw }}</div>
                                    </div>
                                </div>
                                <div class="form-field form-field_checkbox-field">
                                    <div class="row">
                                        <div class="col-xl-7">
                                            <label class="form-checkbox">
                                                <input type="hidden" name="remember_me" value="0">
                                                <input type="checkbox" name="remember_me" value="1">
                                                <span class="form-checkbox__field"></span>
                                                <span class="form-checkbox__label">Запомнить пароль</span>
                                            </label>
                                        </div>
                                        <div class="col-xl-5">
                                            <div class="right-link-wrapper">
                                                <a href="{{ url('forgot/password-reset') | trim }}" class="forgot-password-link">Забыли пароль?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-field">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <button class="button-action button-action_type-filed_color-blue button-action_type-filed" type="submit" name="submit">Войти</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

