{% extends 'twig/layout/application' %}

{% do headTitle('Нет прав доступа') %}
{% block content %}
    <div class="MessagePage">
        <div class="MessagePage-Wrapper">
            <div class="MessagePage-Img">
                <img src="{{ basePath('img/MessageError.svg') }}" alt="Ошибка">
            </div>
            <div class="MessagePage-Content">
                <h1 class="MessagePage-Title">Ошибка</h1>
                <p class="MessagePage-Text">
                    {% if identity() != null and (is_unconfirmed_email or is_unconfirmed_phone) %}
                        {% if is_unconfirmed_email %}
                            Извините, Вам необходимо подтвердить свой email на странице "<a href="{{ url('profile') }}">Профиль</a>".
                        {% elseif is_unconfirmed_phone %}
                            Извините, Вам необходимо подтвердить свой телефон на странице "<a href="{{ url('profile') }}">Профиль</a>".
                        {% endif %}
                    {% else %}
                        Извините, у вас нет прав для просмотра этой страницы.
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
