.about-category{
  position: absolute;
  left: -10000px;
  top: 0;
  width: 100%;
  opacity: 0;
  transform: translateY(100px);
  transition: left 0s linear .3s, opacity .3s, transform linear .3s;

  &:not(:empty){
    padding-top: 43px;
    padding-bottom: 39px;
    border-bottom: 1px solid rgb(239,244,251, .5);

    @media (max-width: @grid-breakpoint-md) {
      padding-bottom: 0;
      border-bottom: 0;
    }

  }

  &.active{
    position: relative;
    left: 0;
    transform: none;
    opacity: 1;
    transition: opacity .6s, transform .6s;
  }

  @import (multiple) '../atoms/category-links';
}
.about-categories{
  position: relative;

  @media (max-width: @grid-breakpoint-md){
    padding-top: 30px;
  }

  @media (max-width: @grid-breakpoint-sm){
    padding: 21px 18px;
  }

}
.about-categories-wrapper{
  @import (multiple) '../atoms/slider-menu-header';

  @media (max-width: @grid-breakpoint-sm){
    position: fixed;
    left: -100000px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: left 0s linear .5s, opacity .5s;
    opacity: 0;
    background-color: #fff;
    z-index: 4;

    &.is-open{
      left: 0;
      opacity: 1;
      transition: opacity .5s;
    }

  }
}