.move-left{
  transform: translateX(-15px);
  transition: transform 1s;
}
.move-right{
  transform: translateX(15px);
  transition: transform 1s;
}
.js-animated{

  &.move-left{
    transform: translateX(0);
  }
  &.move-right{
    transform: translateX(0);
  }

}
