.deal-track-number{
  padding: 17px 16px;

  @import (multiple) '../atoms/phone-text-field';
  @import (multiple) '../atoms/phone-file-field';
  @import (multiple) '../atoms/phone-button-apply';

  .phone-button-apply{
    margin-top: 17px;
  }
  .phone-file-field{
    margin-top: 47px;
  }

}