.deal-conditions{
  padding: 19px 15px;

  &__header{
    height: 30px;
    line-height: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px 4px 0 0;
    background: #333F52 url('../../../img/landing/deal-condition-arrow.svg') no-repeat 90% center;
  }

  &__footer{
    border-radius: 0 0 4px 4px;
    height: 30px;
    line-height: 30px;
    padding: 0 9px;
    overflow: hidden;
    background-color: #D5DCE6;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    color: #3C4458;

    div:nth-child(1){
      float: left;
    }
    div:nth-child(2){
      float: right;
    }

  }

  .deal-conditions-list{
    border: 1px solid #DFE3E9;
    box-sizing: border-box;
    padding: 7px 9px;

    @import (multiple) '../atoms/phone-deal-condition';
    .phone-deal-condition {
      margin-bottom: 13px;
    }

  }

  @import (multiple) '../atoms/phone-button-apply';

  .phone-button-apply{
    margin-top: 14px;
  }

}