.deal-confirm{
  @import (multiple) '../atoms/phone-button-apply';
  @import (multiple) '../atoms/phone-header';

  &__body{
    padding: 17px 16px;
  }

  .phone-button-apply{
    margin-top: 24px;
  }

  .phone-button-apply_type_default{
    margin-bottom: 17px;
  }

  .payment-success{
    font-family: Roboto;
    margin-top: 0;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    color: #354052;

    &:before{
      content: '';
      display: inline-block;
      margin-right: 5px;
      width: 16px;
      height: 16px;
      background: url('../../../img/landing/success-icon.svg') no-repeat center center;
      vertical-align: middle;
    }

  }

  .track-numbers-list{
    margin-top: 21px;
  }

  .track-numbers-list__link{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 14px;
    text-decoration-line: underline;
    color: #1991EB;
  }

  .track-numbers-list__item{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    color: #3C4458;
    margin-top: 4px;
  }

  .track-numbers-list__provider{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    color: #86909B;
    margin-top: 4px;
  }

  .delivery-receipt{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 14px;
    color: #1991EB;

    &:before{
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-right: 3px;
    }

  }
  .delivery-receipt-file:before{
    background: url('../../../img/landing/file-input-logo.svg') no-repeat 90% center;
    width: 19px;
    height: 20px;
  }
  .delivery-receipt-info:before{
    background: url('../../../img/landing/info-icon-blue.svg') no-repeat 90% center;
    width: 10px;
    height: 10px;
  }

  .delivery-receipt__text{
    text-decoration-line: underline;
  }

}