.deal-create-prototype{
  @import (multiple) '../atoms/phone-header';
  @import (multiple) '../atoms/phone-radio-button';
  @import (multiple) '../atoms/phone-select-field';
  @import (multiple) '../atoms/phone-text-field';
  @import (multiple) '../atoms/phone-button-apply';

  .phone-button-apply{
    margin-top: 16px;
  }

}