.deal-payment{
  padding: 17px 16px;

  @import (multiple) '../atoms/phone-text-field';
  @import (multiple) '../atoms/phone-button-apply';

  .phone-text-field{
    margin-bottom: 13px;
  }

  .phone-text-fields-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .phone-text-fields-wrapper__divider{
      color: #354052;
      margin: 0 4px;
      line-height: 20px;
      font-size: 14px;
    }

    .phone-text-field__input, .deal-payment__methods{
      width: 50%;
    }

  }

  .deal-payment__methods{
    display: flex;
    justify-content: space-between;
  }
  @import (multiple) '../atoms/PartnersIcon';
  .PartnersIcon_mastercard{
    width: 43px;
    height: 28px;
  }
  .PartnersIcon_visa{
    width: 42px;
    height: 28px;
  }


}