.form-input-field{

  @import (multiple) '../atoms/input-placeholder';

  .input-wrapper{
    display: block;
    border: 1px solid #7E8FA4;
    border-radius: 3px;
    height: 50px;

    input[type="text"]{
      display: block;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background-color: transparent;
    }

  }

}