.form-wrapper{
  position: relative;
  margin-top: 46px;

  @media (max-width: @grid-breakpoint-md){
    margin-top: 45px;
  }

  @media (max-width: @grid-breakpoint-sm){
    margin-top: 36px;
  }

  @import (multiple) '../atoms/form-message';
}
.guarant-premier-form{
  width: 100%;

  &.animation-leave{
    position: absolute;
    left: 0;
    top: 0;
    animation: fadeOutUp 1s ease 0s 1 both;
  }

  @import (multiple) '../atoms/big-input';
  @import (multiple) '../atoms/button-action';
  @import (multiple) '../atoms/input-with-placeholder';

  .input-with-placeholder__text{
    font-size: 18px;
    color: #fff;
    padding: 0 20px;
    line-height: 50px;
  }

  .big-input{
    line-height: 20px;
    font-size: 18px;
    color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition: transform .4s, box-shadow .4s;

    &:focus, &:active{
      @media (min-width: (@grid-breakpoint-sm + 1)){
        transform: scale(1.1);
      }
      box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    }

    @media (max-width: @grid-breakpoint-sm){
      font-size: 18px;
      height: 50px;
    }

    &::-webkit-input-placeholder{
      color: #fff;
    }

    &::-moz-placeholder{
      color: #fff;
    }

    &:-ms-input-placeholder{
      color: #fff;
    }

    &:-moz-placeholder{
      color: #fff;
    }

  }

  .button-action{
    border-color: @offer-note-color;
    padding: 16px 15px 14px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition: transform .4s, box-shadow .4s, color .4s;

    @media (max-width: @grid-breakpoint-md){
      line-height: 18px;
      font-size: 16px;
      margin-top: 44px;
      padding: 20px 15px 18px;
    }

    @media (max-width: @grid-breakpoint-sm){
      margin-top: 45px;
    }

    &:hover{
      color: #fff;
      transform: scale(1.1);
      box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);

      @media (max-width: @grid-breakpoint-sm){
        transform: scale(1.04);
      }

    }

    &:before{
      background-color: @offer-note-color;
    }

  }

}