.form-wrapper{
  position: relative;
  margin-top: 31px;

  @media (max-width: @grid-breakpoint-md){
    margin-top: 91px;
  }

  @media (max-width: @grid-breakpoint-sm){
    margin-top: 16px;
  }

  @import (multiple) '../atoms/form-message';
  .form-message{
    color: @active-color;
    margin-top: -30px;

    @media (max-width: @grid-breakpoint-sm){
      text-align: center;
      margin-top: 0;
    }

  }
}
.integration-form{
  width: 100%;

  &.animation-leave{
    position: absolute;
    left: 0;
    top: 0;
    animation: fadeOutUp 1s ease 0s 1 both;
  }

  @import (multiple) '../atoms/big-input';
  @import (multiple) '../atoms/button-action';

  .big-input{
    border: none;
    padding: 0 10px;
    color: #7E8FA4;
    background-color: #F6F7F9;
  }

  .button-action.button-action_type-filed{
    @media (max-width: @grid-breakpoint-sm){
      margin-top: 33px;
    }
  }

  .integration-form__title{
    color: @links-color;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    font-size: 36px;
    letter-spacing: -0.6px;
    margin: 0 0 28px;

    @media (max-width: @grid-breakpoint-sm){
      line-height: 40px;
      font-size: 24px;
      text-align: center;
      margin-bottom: 19px;
    }

  }

}