.integration-main{
  position: relative;
  margin-top: -19px;
  margin-left: 17px;

  .integration__factory{

  }

  .broken-foundation{
    background: url("/img/landing/foundation.svg") no-repeat center;
    background-size: 100%;
    width: 67.3%;
    height: 55px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .integration__truck{
    position: absolute;
    bottom: 0;
    right: 9px;
  }

  .integration__box{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 187px;
    bottom: 64px;
    opacity: 0;
    z-index: -1;

    &:before{
      content: '';
      transform: rotateZ(12deg);
      display: block;
      width: 100%;
      height: 100%;
      background-color: #C5C5C5;
      border: 2px solid #3C4458;
    }

  }

  .integration__stage-number{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 2px solid #2F80ED;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3C4458;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    position: absolute;
    opacity: 0;
    background-color: #fff;
    z-index: 1;

    &.integration__stage-number-1{
      left: 0;
      bottom: 15px;

      &:before{
        content: '1';
      }
    }
    &.integration__stage-number-2{
      left: 90px;
      bottom: 27px;
      &:before {
        content: '2';
      }
    }
    &.integration__stage-number-3{
      left: 178px;
      bottom: 2px;
      &:before {
        content: '3';
      }
    }
    &.integration__stage-number-4{
      left: 239px;
      bottom: 30px;

      &:before {
        content: '4';
      }
    }
    &.integration__stage-number-5{
      right: 233px;
      bottom: 30px;
      &:before {
        content: '5';
      }
    }
    &.integration__stage-number-6{
      right: 183px;
      bottom: 15px;
      &:before {
        content: '6';
      }
    }

  }

  .integration__break{
    position: absolute;
    overflow: hidden;
    z-index: 1;
    background-repeat: no-repeat;

    &.integration__break-1{
      left: 13px;
      bottom: 22px;
      width: 60px;
      height: 8px;
      max-width: 0;
      background-size: auto 100%;
      background-image: url('/img/landing/integration__break-1.svg');
    }
    &.integration__break-2{
      left: 101px;
      top: 170px;
      width: 11px;
      height: 47px;
      max-height: 0;
      background-size: 100% auto;
      background-image: url('/img/landing/integration__break-2.svg');
    }
    &.integration__break-3{
      left: 164px;
      bottom: 1px;
      width: 42px;
      height: 44px;
      max-width: 0;
      background-size: auto 100%;
      background-image: url('/img/landing/integration__break-3.svg');
    }
    &.integration__break-4{
      left: 245px;
      top: 169px;
      width: 7px;
      height: 47px;
      max-height: 0;
      background-size: 100% auto;
      background-image: url('/img/landing/integration__break-4.svg');
    }
    &.integration__break-5{
      left: 303px;
      top: 180px;
      height: 39px;
      width: 39px;
      max-height: 0;
      background-size: auto 100%;
      background-image: url('/img/landing/integration__break-2.svg');
    }
    &.integration__break-6{
      left: 323px;
      bottom: 16px;
      width: 48px;
      height: 19px;
      max-width: 0;
      background-size: auto 100%;
      background-image: url('/img/landing/integration__break-5.svg');
    }

  }

  .integration__road-line{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 1px;
    z-index: -1;
    background: url("/img/landing/road-line.svg") repeat-x 100% 0;
  }

}

.integration__texts{
  height: 110px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 44px;
}

.integration__text{
  width: 50%;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 14px;
  letter-spacing: -0.5px;
  color: #3c4458;
  opacity: 0;
  margin-bottom: 10px;

  &:before{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin-right: 6px;
    vertical-align: middle;
    background-color: #2F80ED;
  }

  &.integration__text-1{
    &:before{
      content: '1';
    }
  }
  &.integration__text-2{
    &:before{
      content: '2';
    }
  }
  &.integration__text-3{
    &:before{
      content: '3';
    }
  }
  &.integration__text-4{
    &:before{
      content: '4';
    }
  }
  &.integration__text-5{
    &:before{
      content: '5';
    }
  }
  &.integration__text-6{
    &:before{
      content: '6';
    }
  }

}

@keyframes truckAnimation {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(500px);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes boxAnimation {
  0%, 12%, 28%, 44%, 60%, 76%, 92%{
    opacity: 0;
    transform: translate(0, 0);
  }
  2%, 14%, 30%, 62%, 78%{
    opacity: 1;
    transform: translate(0, 0);
  }
  10%, 26%, 42%, 74%, 90%{
    transform: translate(90px, 18px);
    opacity: 1;
  }
  11%, 27%, 43%, 75%, 91%{
    transform: translate(90px, 18px);
    opacity: 0;
  }
}

@keyframes breakFromLeft {
  0%, 68%, 100%{
    max-width: 0;
  }
  7%, 67%{
    max-width: 60px;
  }
}
@keyframes breakFromTop {
  0%, 68%, 100%{
    max-height: 0;
  }
  7%, 67%{
    max-height: 60px;
  }
}

@keyframes fadeInAppear {
  0%, 68%, 100%{
    opacity: 0;
    transform: scale(1.3);
  }
  7%, 67%{
    opacity: 1;
    transform: none;
  }
}
@keyframes zoomIn {
  0%, 60%, 100%{
    opacity: 0;
    transform: scale(1.3);
  }
  0.01%{
    opacity: 1;
  }
  7%, 56%{
    opacity: 1;
    transform: none;
  }
}
@keyframes gpFoundation {
  0%, 56.99%, 100%{
    opacity: 0;
    transform: scale(1.2);
  }
  57%{
    opacity: 1;
  }
  58%, 99%{
    opacity: 1;
    transform: none;
  }
  99.5%{
    opacity: 0;
    transform: none;
  }
}
@keyframes shake {
  .shakeMixin(@i: 0, @translate: -1px, @to: 32) when (@i <= @to){
    @class: ~'@{i}%';
    @{class}{
      transform: translate3d(@translate, 0, 0);
    }
    .shakeMixin((@i + 2), @translate, @to);
  }
  .shakeMixin();
  .shakeMixin(1, 0);
}

@keyframes truckMove {
  0%, 44%, 66%, 100%{
    transform: none;
    opacity: 1;
  }
  50%, 60%{
    opacity: 0;
    transform: translateX(200px);
  }
}
@keyframes roadAnimation {
  0%, 44%, 56%, 100%{
    background-position: 0 0;
  }
  50%{
    background-position: 120px 0;
  }
}

@keyframes fadeOut {
  0%, 56%{
    opacity: 1;
  }
  60%, 100%{
    opacity: 0;
  }
}

.container.js-animated{
  .broken-foundation{
    animation: shake 15s ease 0s infinite;
  }

  .gp-foundation{
    animation: gpFoundation 15s ease 0s infinite;
    animation-fill-mode: both;
  }

    .integration__truck{
      animation: truckMove 15s ease 0s infinite;
    }
    .integration__road-line{
      animation: truckMove 15s ease 0s infinite;
    }

    .integration__box{
      animation: boxAnimation 15s ease 0s infinite;
      animation-fill-mode: forwards;
    }

  .integration__stage-number-1{
    animation: zoomIn 15s ease 0s infinite;
    animation-fill-mode: forwards;
  }
  .integration__stage-number-2{
    animation: zoomIn 15s ease .8s infinite;
    animation-fill-mode: forwards;
  }
  .integration__stage-number-3{
    animation: zoomIn 15s ease 1.6s infinite;
    animation-fill-mode: forwards;
  }
  .integration__stage-number-4{
    animation: zoomIn 15s ease 2.4s infinite;
    animation-fill-mode: forwards;
  }
  .integration__stage-number-5{
    animation: zoomIn 15s ease 3.2s infinite;
    animation-fill-mode: forwards;
  }
  .integration__stage-number-6{
    animation: zoomIn 15s ease 4s infinite;
    animation-fill-mode: forwards;
  }

  .integration__break-1{
    animation: breakFromLeft 15s ease 0s infinite;
    animation-fill-mode: both;
  }
  .integration__break-2{
    animation: breakFromTop 15s ease .8s infinite;
    animation-fill-mode: both;
  }
  .integration__break-3{
    animation: breakFromLeft 15s ease 1.6s infinite;
    animation-fill-mode: both;
  }
  .integration__break-4{
    animation: breakFromTop 15s ease 2.4s infinite;
    animation-fill-mode: both;
  }
  .integration__break-5{
    animation: breakFromTop 15s ease 3.2s infinite;
    animation-fill-mode: both;
  }
  .integration__break-6{
    animation: breakFromLeft 15s ease 4s infinite;
    animation-fill-mode: both;
  }

  .integration__texts{
    animation: fadeOut 15s ease 0s infinite;
    animation-fill-mode: both;
  }
  .integration__text-1{
    animation: fadeInAppear 15s ease 0s infinite;
    animation-fill-mode: both;
  }
  .integration__text-2{
    animation: fadeInAppear 15s ease .8s infinite;
    animation-fill-mode: both;
  }
  .integration__text-3{
    animation: fadeInAppear 15s ease 1.6s infinite;
    animation-fill-mode: both;
  }
  .integration__text-4{
    animation: fadeInAppear 15s ease 2.4s infinite;
    animation-fill-mode: both;
  }
  .integration__text-5{
    animation: fadeInAppear 15s ease 3.2s infinite;
    animation-fill-mode: both;
  }
  .integration__text-6{
    animation: fadeInAppear 15s ease 4s infinite;
    animation-fill-mode: both;
  }

}