@import "../atoms/link-with-underline";
.login-popup{
  background-color: #fff;
  position: absolute;
  top: 100%;
  margin-top: 18px;
  width: 170px;
  border-radius: 3px;
  opacity: 0;
  right: -10000px;
  transition: opacity .3s, right 0s linear .3s;
  box-shadow: 0 5px 10px rgba(53, 64, 82, 0.2);

  @import (multiple) '../atoms/login-popup__field';
  @import (multiple) '../../landing/atoms/button-action';
  .button-action, .button-action:hover{
    color: #fff;
    background-color: @active-color;
    border-color: @active-color;
    padding: 11px 15px 10px;
    font-size: 14px;
  }

  .remember-password-link{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    text-align: center;
    margin-top: 11px;

    a {
      font-family: Lato, Arial, sans-serif;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      font-size: 14px;
      letter-spacing: -0.2px;
      color: #F6F7F9;
      text-shadow: 0 0.5px 1px rgba(53, 64, 82, 0.2);
      text-decoration: none;
      .link-with-underline(#fff, true);
    }

  }

}