.main-nav{
  padding-top: 15px;

  @media (max-width: @grid-breakpoint-md){
    position: relative;
    width: 100%;
    text-align: center;
    padding: 35px 0 5px;
    margin-bottom: 6px;
  }

  .nav-list{
    display: flex;
    justify-content: flex-end;
    @media (max-width: @grid-breakpoint-md){
      display: block;
    }

    @import (multiple) '../atoms/nav-item';
  }
  @import (multiple) '../atoms/nav-link';
  @import (multiple) 'login-popup';

  .nav-item_sign-in{
    @media (max-width: @grid-breakpoint-md){
      display: none;
    }
  }

  .nav-item_identity{
    display: none;
    padding: 20px 0;
    border-top: 1px solid #3C4458;
    border-bottom: 1px solid #3C4458;
    overflow: hidden;

    @media (max-width: @grid-breakpoint-md){
      display: block;
    }

    .nav-item:last-child{
      margin-bottom: 0;
    }

    .nav-link{
      color: #fff;

      &.nav-link_create-deal{
        color: #20B8EF;
      }

    }

    .user-bar{
      display: block;
    }

  }

}
.main-nav-wrapper{
  @media (max-width: @grid-breakpoint-md){
    position: fixed;
    background-color: #000;
    left: -10000px;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: block;
    text-align: center;
    opacity: 0;
    transition: opacity .4s, left 0s linear .4s;
    padding: 90px 16px 60px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  @media (max-width: @grid-breakpoint-sm){
    padding-top: 66px;
  }

  .button-action {
    display: none;
    padding: 20px 0;
    font-size: 18px;

    & + .button-action{
      margin-top: 35px;

      @media (max-width: @grid-breakpoint-xs){
        margin-top: 20px;
      }

    }

    &:last-child{
      margin-bottom: 60px;
    }

    &:hover{
      color: #fff;
    }

    &:before{
      display: none;
    }

    &.reg-button{
      background-color: rgb(32, 184, 239);
      border-color: rgb(32, 184, 239);
    }

    @media (max-width: @grid-breakpoint-md){
      display: block;
    }

    @media (max-width: @grid-breakpoint-sm){
      font-size: 16px;
      padding: 16px 0;
    }

  }

}