.partners{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F6F7F9;

  @media (max-width: @grid-breakpoint-sm){
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @import (multiple) '../atoms/partners-list';
}