.phone-header{
  display: flex;
  justify-content: space-between;

  .phone-network{
    display: flex;
    align-items: center;
  }

  .phone-network__gsm{
    overflow: hidden;
    margin-right: 1px;

    span{
      width: 4px;
      height: 4px;
      margin-right: 1px;
      border-radius: 100%;
      border: 1px solid #fff;
      display: inline-block;

      &:not(:last-child){
        background-color: #fff;
      }

    }

  }

  .phone-network__type{
    color: #fff;
    font-family: Helvetica;
    font-size: 8.4px;
    line-height: 6px;
    letter-spacing: 0.3px;
  }

  .phone-battery{
    display: flex;
  }

  .phone-battery__value{
    font-family: Helvetica;
    font-size: 9px;
    text-align: right;
    color: #FFFFFF;
    margin-right: 1px;
    line-height: 7px;
  }

  .phone-battery__volume{
    width: 16px;
    height: 6px;
    border-radius: 1px;
    position: relative;
    border: 1px solid #969A9E;

    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: #fff;
      display: block;
      right: 6px;
    }

    &:after{
      content: '';
      position: absolute;
      right: -2px;
      top: 1px;
      display: block;
      border: 1px solid #fff;
      border-left: none;
      border-radius: 50%;
    }

  }

}