.screen-slider{
  height: 570px;
  width: 100%;
  position: relative;

  @media (max-width: @grid-breakpoint-md){
    height: 400px;
  }

  @media (max-width: @grid-breakpoint-sm){
    height: 330px;
  }

  @import (multiple) '../atoms/slide-title';
  @import (multiple) '../atoms/slide-description';
  @import (multiple) '../atoms/slide-image';
  @import (multiple) '../atoms/button-action';

  .container{
    position: relative;
    z-index: 3;
    padding-top: 116px;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: @grid-breakpoint-md){
      padding-top: 90px;
    }

    @media (max-width: @grid-breakpoint-sm){
      top: auto;
      transform: none;
      padding-top: 77px;
    }

  }

  &.is-loaded{
    .slide-image{
      filter: none;
    }

    .screen-slide.active{
        transition: transform .8s cubic-bezier(.57,.04,.71,.98) .2s;
        .slide-image{
          transform: scale(1.2);
          transition: transform 18s ease 1.9s, filter 1.2s;
        }

        .button-wrapper,
        .slide-description,
        .slide-title{
          transform: none;
          opacity: 1;
          transition: opacity .4s ease-out, transform .4s ease-out;

          &.slide-title{
            transition-delay: 1.1s;
          }

          &.slide-description{
            transition-delay: 1.3s;
          }

          &.button-wrapper{
            transition-delay: 1.5s;
          }

        }

        &.leave{
          animation: slideLeave .8s cubic-bezier(.57,.04,.71,.98) .6s 1 normal forwards;

          .button-wrapper,
          .slide-description,
          .slide-title{
            opacity: 0;
            transform: translateY(80px);
            transition: opacity .2s ease-in, transform .2s ease-in;

            &.slide-description{
              transition-delay: .2s;
            }
            &.slide-title{
              transition-delay: .4s;
            }

          }
        }

    }

  }

  .screen-slide{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #7E8FA4;
    z-index: 1;
    transform: translateX(100%);

    &.active{
      z-index: 2;
      transform: translateX(0);
      transition: none;
    }


    .smile{
      vertical-align: middle;
      width: 29px;
    }

    .button-action{
      padding: 20px;

      @media (max-width: @grid-breakpoint-md){
        padding: 16px 0;
        line-height: 14px;
        font-size: 14px;
        font-weight: 600;
      }

    }

    .slide-description{
      margin-bottom: 32px;

      @media (max-width: @grid-breakpoint-md){
        margin-bottom: 26px;
      }

    }

    .slide-title{
      margin-bottom: 14px;

      @media (max-width: @grid-breakpoint-md){
        margin-bottom: 22px;
      }

      @media (max-width: @grid-breakpoint-sm){
        margin-bottom: 10px;
      }

    }

    .button-wrapper,
    .slide-description,
    .slide-title{
      opacity: 0;
      transform: translateY(80px);
      transition: opacity .2s ease-in, transform .2s ease-in;

      &.slide-description{
        transition-delay: .2s;
      }
      &.slide-title{
        transition-delay: .4s;
      }

    }

  }

}

@keyframes slideEnter {
  0%{
    transform: translateX(100%);
  }
  20%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes slideLeave {
  from{
    margin-left: 0;
  }
  to{
    margin-left: -100%;
    //transform: translateX(-100%);
  }
}