.slide-controls{
  position: relative;

  @media (max-width: @grid-breakpoint-sm){
    margin-bottom: 0;
  }

  &:after{
    content: '';
    position: absolute;
    background-color: @light-grey-color;
    height: 1px;
    left: (@grid-gutter-width-xl / 2);
    right: (@grid-gutter-width-xl / 2);
    bottom: 0;

    @media (max-width: @grid-breakpoint-md){
      left: (@grid-gutter-width-md / 2);
      right: auto;
      top: 0;
      width: 1px;
      height: auto;
    }

    @media (max-width: @grid-breakpoint-sm){
      display: none;
    }

  }

  @import (multiple) '../atoms/slider-control-item';
  @import (multiple) '../atoms/smart-line';

  .slide-controls__smartline{
    position: absolute;
    height: 5px;
    left: 0;
    //right: 15px;
    bottom: -3px;
    background-color: @active-color;
    z-index: 2;

    @media (max-width: @grid-breakpoint-md){
      bottom: auto;
      height: auto;
      left: (@grid-gutter-width-md / 2 - 1);
      width: 3px;
    }

    @media (max-width: @grid-breakpoint-sm){
      display: none;
    }

  }

}