.timeline {
  position: relative;
  display: flex;
  color: @main-dark-color;
  margin-right: 13px;
  margin-top: 34px;

  @media (@grid-breakpoint-md){
    margin-right: 0;
  }

  svg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
    circle {
      max-width: 100%;
      height: 50px;
    }
  }
  .timeline__item {
    z-index: 2;
    position: relative;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 3px solid #C5CFDE;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    .icon-pause__container {
      @import (multiple) "../atoms/icon-pause";
      @import (multiple) "../atoms/icon-play";
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
    .timeline__stage, .timeline__textHidden {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity .1s ease;
    }
    .timeline__stage {
      opacity: 1;
    }
    .timeline__textHidden {
      opacity: 0;
    }
    &:hover {
      .timeline__stage {
        opacity: 0;
      }
      .timeline__textHidden {
        opacity: 1;
      }
    }

    &:last-child{
      @media (max-width: @grid-breakpoint-md){
        font-size: 0;
        background: #fff url("/img/landing/calculator.svg") no-repeat center;
      }
    }

  }
  .timeline__item + .timeline__item {
    margin-top: 30px;
  }
  .timeline__item.active {
    border: none;
    line-height: 50px;
  }
}
.timeline.active {
  .timeline__item {
    opacity: 0;
    animation-name: timiline_item_appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: .3s;
  }
  .generate-animation-delay(@counter) when (@counter > 0) {
    .timeline__item:nth-child(@{counter}) {
      animation-delay: 500ms + @counter * 75; // code for each iteration
    }
    .generate-animation-delay((@counter - 1));    // next iteration
  }
  .generate-animation-delay(6);
}
@keyframes timiline_item_appear {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}