.user-bar{
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
  //padding-left: 20px;
  height: 100%;

  @media (max-width: @grid-breakpoint-md){
    display: none;
  }

  @import (multiple) '../atoms/user-avatar';
  @import (multiple) '../atoms/user-menu';

  .user-bar__inner{
    align-items: center;
    display: flex;
    width: 100%;
    padding-left: 11px;

    @media (max-width: @grid-breakpoint-md){
      justify-content: center;
      flex-direction: column;
    }

    &:hover{

      .user-menu{
        right: 0;
        transform: none;
        opacity: 1;
        transition: opacity .4s, transform .4s;
      }

      .dropdown__arrow{
        transform: rotateZ(-180deg);
      }

    }
  }

  .user-bar__login{
    display: inline-block;
    font-family: Lato, Arial, sans-serif;
    line-height: 18px;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 10px;

    @media (max-width: @grid-breakpoint-md){
      font-size: 30px;
      text-align: center;
    }

  }

  @import (multiple) '../atoms/dropdown-arrow';
  .dropdown__arrow{
    height: 0;
    width: 8px;
    top: 0;
    position: relative;
    transform: none;
    vertical-align: middle;
    margin-left: 10px;

    &:before, &:after{
      background-color: #fff;
      width: 6px;
    }

  }


}