{% if deal['is_contractor'] == true %}
    {# если сделка оплачена (статус 'debit_matched') #}
    {% if not deal['is_delivery_confirmed'] and deal['status']['status'] == 'debit_matched'%}
        <form method="post" action="{{ url('deal-create-dpd-order', {'idDeal' : deal['id']}) | trim }}">
            <div class="Input-Wrapper">
                {{ formElement(datePickupForm.get('csrf'))|raw }}
                {{ formLabel(datePickupForm.get('date_pickup'))|raw }}
                {{ formElement(datePickupForm.get('date_pickup'))|raw }}
            </div>
            <div class="FormError">
                {{ formElementErrors(datePickupForm.get('csrf'))|raw }}
                {{ formElementErrors(datePickupForm.get('date_pickup'))|raw }}
            </div>
            {{ formElement(datePickupForm.get('submit'))|raw }}
        </form>
    {% endif %}
{% endif %}

