html {
  height: 100%;
}

html.overflow-y-hidden {
  overflow-y: hidden;
}

body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  color: @text-color;
  font-family: Lato, 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  @media (max-width: @large) {
    font-size: 16px;
  }
}
body.overflow-y-hidden {
  overflow-y: hidden;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.Nowrap {
  white-space: nowrap;
}
.text-bold{
  font-weight: bold;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.TextLeft {
  text-align: left;
}
.text-green {
  color: @green-color;
}
.text-red {
  color: @red-color;
}
.text-accent {
  color: @accent-color
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}
pre {
  background-color: #f7f7f7;
  border: 1px solid #e1e1e8;
  font-family: 'Consolas', 'Courier New', monospace;
  border-radius: 3px;
  padding: 10px;
  color: #4b4b4b;
  font-size: 12px;
  line-height: 16px;
  word-spacing: -1px;
  margin: 10px 0;
  white-space: pre;
}
pre.pre-ordinary-page-view {
  background-color: transparent;
  border: none;
  font-family: Lato, 'Arial', sans-serif;
  border-radius: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  word-spacing: 0;
  margin: 0;
  white-space: pre-wrap;
}