input, select, button, textarea {
  border: none;
  padding: 10px 12px;
  border-radius: @border-radius;
  &:focus {
    outline: none;
  }
}

select {
  padding: 10px 0px 10px 12px;
}
textarea {
  resize: vertical;
}

::placeholder {
  color: @placeholder-color;
  font-weight: 300;
  font-size: 14px;
}

// Chosen
.chosen-container {
  .chosen-drop {
    border: 1px solid #002b68;
  }
  .chosen-results {
    max-height: 140px;
    margin: 0;
    padding: 0;
    li {
      line-height: inherit;
      padding: 7px 15px;
    }
    li.highlighted {
      background-color: @accent-color;
      background-image: none;
    }
  }
}

.chosen-container-single {
  .chosen-single {
    background: none;
    box-shadow: none;
    border-radius: @border-radius;
    input[type="text"] {
      display: none;
      background: none;
    }
    span {
      margin-right: 35px;
    }
    div {
      right: 15px;
      width: 13px;
      b {
        background: url("../../../img/SelectArrow.svg") no-repeat center;
        background-size: contain;
      }
    }
  }
  .chosen-drop {
    border-radius: 0 0 @border-radius @border-radius;
    .chosen-search {
      padding: 0;
    }
  }
  .chosen-default {
    color: #445155;
  }
}
.chosen-container-active .chosen-single {
  box-shadow: none;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  background-image: none;
  box-shadow: none;
  div b {
    transform: rotate(180deg);
    background-position: center;
  }
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  transform: rotate(180deg);
  background-position: center;
}

// Datepicker
.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
  background: @accent-color;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: @accent-color;
}
.datepicker--cell.-selected- {
  background: @accent-color;
}
.datepicker--cell.-selected-.-current- {
  background: @accent-color;
}
.datepicker--cell.-selected-.-focus-{
  background: @accent-color;
}
.datepicker--day-name {
  color: @accent-color;
}
.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
  background: @accent-color;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: @accent-color;
}
.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
  background: @accent-color;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: @accent-color;
}
.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
  background: @accent-color;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: @accent-color;
}
.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
  background: @accent-color;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: @accent-color;
}
.datepicker--cell.-current- {
  color: @accent-color;
}