.make-row(@gutter: @grid-gutter-width-lg) {
  margin-left: (@gutter / -2);
  margin-right: (@gutter / -2);
}

.make-column-padding(@gutter: @grid-gutter-width-lg) {
  @padding: (@gutter / 2);
  padding: 0 @padding;
}

.make-columns-offsets(@columnsCount, @columnSuffix, @gridBreakpoint, @i: 0) {
  .col-@{columnSuffix}-offset-@{i} {
    @media (max-width: @gridBreakpoint) {
      margin-left: (@i * 100% / @columnsCount);
    }
  }
}

.make-columns(@columnsCount, @columnSuffix, @gridBreakpoint, @i: 1) when (@i =< @columnsCount) {
  .col-@{columnSuffix}-@{i} {
    @media (max-width: @gridBreakpoint) {
      width: (@i * 100% / @columnsCount);
    }
  }
  .make-columns-offsets(@columnsCount, @columnSuffix, @gridBreakpoint, (@i - 1));
  .make-columns(@columnsCount, @columnSuffix, @gridBreakpoint, (@i + 1));
}

/*making columns*/
.make-columns(@grid-columns-count-xl, ~'xl', @grid-breakpoint-xl);
.make-columns(@grid-columns-count-lg, ~'lg', @grid-breakpoint-lg);
.make-columns(@grid-columns-count-lt, ~'lt', @grid-breakpoint-lt);
.make-columns(@grid-columns-count-md, ~'md', @grid-breakpoint-md);
.make-columns(@grid-columns-count-sm, ~'sm', @grid-breakpoint-sm);
.make-columns(@grid-columns-count-xs, ~'xs', @grid-breakpoint-xs);

.row {
  display: flex;
  flex-flow: row wrap;
  zoom: 1;
  //Для вложенных строк убираем отступы по карям
  &.nested-row {
    .make-row(@grid-gutter-width-lg);

    @media (max-width: @grid-breakpoint-md) {
      .make-row(@grid-gutter-width-md);
    }
    @media (max-width: @grid-breakpoint-sm) {
      .make-row(@grid-gutter-width-sm);
    }
  }

  [class*="col-"] {
    flex: 0 1 auto;
    .make-column-padding(@grid-gutter-width-lg);

    @media (max-width: @grid-breakpoint-md) {
      .make-column-padding(@grid-gutter-width-md);
    }

    @media (max-width: @grid-breakpoint-sm) {
      .make-column-padding(@grid-gutter-width-sm);
    }
    &.offset-table {
      margin-left: 15.7%;
      padding: 0;
      @media (max-width: @grid-breakpoint-lg) {
        margin-left: 11.15%;
      }
      @media (max-width: @grid-breakpoint-lt) {
        margin-left: 0;
      }
    }
  }
}

.container {
  width: 100%;

  @media (max-width: @grid-breakpoint-lt) {
    padding: 0 @grid-container-padding-lt;
  }

  @media (max-width: @grid-breakpoint-md) {
    padding: 0 @grid-container-padding-md;
  }

  @media (max-width: @grid-breakpoint-sm) {
    padding: 0 @grid-container-padding-sm;
  }

}

/*
.generate-columns (@n, @i: 1) when (@i =< @n) {
  // Обычные колонки без привязки к префиксу
  .col-@{i} {
    width: (@i * 100% / @n);
    @media (max-width: @small) {
      width: 100%;
    }
  }
  .generate-columns(@n, (@i + 1));
}
.generate-columns(12);

//Для внутренней сетки
.generate-columns-inner (@n, @i: 1) when (@i =< @n) {
  .col-inner-@{i} {
    width: (@i * 100% / @n);
    @media (max-width: @small) {
      width: 100%;
    }
  }
  .generate-columns-inner(@n, (@i + 1));
}
.generate-columns-inner(10);

// Desktop sizes
.generate-columns-desktop(@n, @i: 1) when (@i =< @n) {
  .col-desk-@{i} {
    @media (max-width: @desktop) {
      width: (@i * 100% / @n);
    }
  }
  .generate-columns-desktop(@n, (@i + 1));
}

@media (max-width: @desktop) {
  .generate-columns-desktop(8);
}

// Tablet sizes
.generate-columns-tablet(@n, @i: 1) when (@i =< @n) {
  .col-tablet-@{i} {
    @media (max-width: @tablet) {
      width: (@i * 100% / @n);
    }
  }
  .generate-columns-tablet(@n, (@i + 1));
}

@media (max-width: @tablet) {
  .generate-columns-tablet(6);
}

// Mobile sizes
.generate-columns-mobile(@n, @i: 1) when (@i =< @n) {
  .col-mobile-@{i} {
    @media (max-width: @mobile) {
      width: (@i * 100% / @n);
    }
  }
  .generate-columns-mobile(@n, (@i + 1));
}

@media (max-width: @mobile) {
  .generate-columns-mobile(5);
}

// Extra small sizes
.generate-columns-small(@n, @i: 1) when (@i =< @n) {
  .col-small-@{i} {
    @media (max-width: @small) {
      width: (@i * 100% / @n);
    }
  }
  .generate-columns-small(@n, (@i + 1));
}

@media (max-width: @extra-small) {
  .generate-columns-small(4);
}
*/



