h1 {
  font-size: 30px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: @accent-color;
  cursor: pointer;
  &:hover {
    color: fade(@accent-color, 80%);
  }
  &:active, &:visited {
    background-color: transparent;
    color: @accent-color;
  }
}

p, h1, h2, h3, h4, h5, h6, span, div {
  @media (max-width: @grid-breakpoint-md) {
    letter-spacing: 0.5px;
  }
}

input, textarea, select, button {
  font: inherit;
}

