{% extends 'twig/layout/application' %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{% import 'macro/routes.twig' as routes %}
{% import 'application/partner-button/collection.twig' as collection %}
{#
1. Объект
    userForm {
        'avatar' (file)
        'csrf'   (hidden)
        'submit' (submit)
    }

2. Массив
    user [
          'id' => int 1
          'login' => string 'test'
          'email' => string 'test@simple-technology.ru'
          'phone' => string '79033463906'
          'avatar_id' => int 10
          'created' => 10-10-2018
          'isBanned' => boolean false
          'roles' =>
              0 => string 'Verified'
        ]

3. Массив массивов (двумерный массив)
    naturalPersons [
        0 =>
          'id' => int 1
          'first_name' => string 'Тест'
          'secondary_name' => string 'Тестович'
          'last_name' => string 'Тестов'
          'birth_date' => string '1980-12-31
          documents [
              0 => [
                  'id' => int 1
                  'type_name' => 'passport'
                  'date_issued' => '01-02-2018'
                  'files' => [
                      0 => [
                          'civilId' => '1'
                          'id' => '1'
                          'name' => 'Image.jpg'
                          'type' => 'jpg'
                      ]
                  ]
              ]
          ]
        1 =>
            ....
        и т.д.
    ]
4. Массив массивов (двумерный массив)
    $soleProprietors [
        0 =>
          'id' => int 9
          'name' => string 'ИП Васильков'
          'first_name' => string 'Петр'
          'secondary_name' => string 'Петрович'
          'last_name' => string 'Васильков'
          'birth_date' => string '05.02.1982'
          'inn' => string '683103646744'
          'civil_law_subject_id' => int 283
          'nds' =>
              'type' => int 4
              'name' => string '18%'
          'payment_methods' =>

        1 =>
            ....
        и т.д.
    ]

5. Массив массивов (двумерный массив)
    tokens: [
        "37": {
            "id": 37,
            "name": "Токен для сделок с субъектом пользователя test",
            "partner_ident": "lst_arenda",
            "created": "03.09.2018",
            "is_active": true,
            "deal_type": "Услуга",
            "deal_name": "Сделка с субъектом пользователя test",
            "deal_description": null,
            "amount": null,
            "delivery_period": null,
            "fee_payer_option_id": null,
            "token_key": "arenda_specztechniki",
            "beneficiar_user": null,
            "beneficiar_civil_law_subject": null,
            "counteragent_user": {
                "id": 48,
                "login": "test"
            },
            "counteragent_civil_law_subject": {
                "type": "sole_proprietor",
                "id": 626,
                "name": "ИП Месси Леонель Аргентинович"
            },
            "deals": [
                {
                    "id": 380,
                    "number": "#GP380U",
                    "name": "Покупаю телефон"
                }
            ]
        }
     ],

6. Объект
    phoneConfirmForm {
        'code',
        'csrf'
    }
7. Массив двумерный
    payment_methods
#}
{% set identity = identity() %}
{% set unhandled_invitations_length = dealHelper().getUnansweredDealsNumber(identity) %}
{% set user_has_deals = dealHelper().isUserHasDeals(identity) %}
{#{% set deals_count =  %}#}
{% block content %}
    <div class="mobile-profile-title">
        <h1>Профиль</h1>
    </div>
    <section class="ProfilePage">
        <section class="ProfilePage-Main js-tab-container">
            {% if userHelper().isUnconfirmedPhone() or userHelper().isUnconfirmedEmail() %}
                {% set confirmation = 'no' %}
            {% else %}
                {% set confirmation = 'yes' %}
            {% endif %}

            {% if userHelper().isUnconfirmedPhone() and userHelper().isUnconfirmedEmail() %}
                {% if userHelper().isPhoneExists() %}
                    {% set confirmMessage = 'подтвердите номер телефона и адрес электронной почты' %}
                {% else %}
                    {% set confirmMessage = 'добавьте номер телефона и подтвердите адрес электронной почты' %}
                {% endif %}
            {% elseif userHelper().isUnconfirmedPhone() %}
                {% if userHelper().isPhoneExists() %}
                    {% set confirmMessage = 'подтвердите номер телефона' %}
                {% else %}
                    {% set confirmMessage = 'добавьте и подтвердите номер телефона' %}
                {% endif %}
            {% elseif userHelper().isUnconfirmedEmail() %}
                {% set confirmMessage = 'подтвердите адрес электронной почты' %}
            {% endif %}

            {# Переменные для статуса подтверждения телефона #}
            {% set phone_code_confirm_error_type = user_allowed_request_phone_confirmation_code_status['violation_type'] %}
            {% set phone_code_change_error_type = user_allowed_request_phone_change_code_status['violation_type'] %}

            {% if phone_code_confirm_error_type == 'min_interval' %}
                {% set start_phone_code_confirm = user_allowed_request_phone_confirmation_code_status['last_code_created_at'] %}
                {% set period_phone_code_confirm = user_allowed_request_phone_confirmation_code_status['request_period'] %}
            {% elseif phone_code_confirm_error_type == 'limit_by_code_type' %}
                {% set is_limit_phone_code_confirm = 'true' %}
            {% endif %}

            {% if phone_code_change_error_type == 'min_interval' %}
                {% set start_phone_code_change = user_allowed_request_phone_change_code_status['last_code_created_at'] %}
                {% set period_phone_code_change = user_allowed_request_phone_change_code_status['request_period'] %}
            {% elseif phone_code_change_error_type == 'limit_by_code_type' %}
                {% set is_limit_phone_code_change = 'true' %}
            {% endif %}
            {# - - - - #}

            <section class="container row ProfilePage-Top">
                <div class="col-xl-10 col-lg-8 col-lt-6 col-sm-4 col-xl-offset-2 col-lg-offset-1 col-lt-offset-0 ProfilePage-Top-Wrap">
                    <section class="ProfilePage-Header">
                        <div class="Profile-Avatar">
                            <div class="AvatarWithBorder">
                                <div class="AvatarWithBorder-Container"
                                     style="background-image: url({{ (userProfile['avatar_id']) ? url('profile/avatar', {'fileId' : userProfile['avatar_id']}) : '/img/no-avatar.png' }})">
                                    <div class="FormAvaChange-Container">
                                        <form method="post" name="user" class="FormAvaChange js-input-file__container"
                                              enctype="multipart/form-data" id="user">
                                            {{ formElement(userForm.get('csrf')) |raw }}
                                            <label class="InputIconTouch">
                                                <input type="file" accept="image/*" class="js-input-file" name="avatar">
                                                <span class="InputIconTouch-Overlay IconEdit"></span>
                                            </label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {#<h2 class="Profile-UserName" id="user-login">{{ userProfile['login'] }}</h2>#}
                        </div>

                        <div class="UserDataPlate">
                            {% if confirmation == 'no' %}
                                <div class="Warning">
                                    <div class="Warning-Title">
                                        <span class="Warning-Icon IconClose"></span>
                                        Подтверждение аккаунта
                                    </div>
                                    <div class="Warning-Message">
                                        Для проведения безопасной сделки через сервис пожалуйста {{ confirmMessage }}.
                                    </div>
                                </div>
                            {% else %}
                                <div class="Warning">
                                    <div class="Warning-Title">
                                        <span class="Warning-Icon IconOk confirmed-profile"></span>
                                        Аккаунт подтвержден
                                    </div>
                                    {% if is_operator == false %}

                                    {% endif %}
                                    {% if is_operator == false %}
                                        {% if user_has_deals == false %}
                                            <div class="Warning-Message-Green">
                                                Проведите первую сделку через сервис гарантированных расчетов!
                                            </div>
                                        {% endif %}
                                        {% if unhandled_invitations_length != 0 %}
                                            {% set unhandled_inv_counter_words = '' %}
                                            {% if unhandled_invitations_length <= 20%}
                                                {% if unhandled_invitations_length == 1 %}
                                                    {% set unhandled_inv_counter_words = 'непринятое приглашение' %}
                                                {% elseif unhandled_invitations_length >= 2 and unhandled_invitations_length <= 4 %}
                                                    {% set unhandled_inv_counter_words = 'непринятых приглашения' %}
                                                {% else %}
                                                    {% set unhandled_inv_counter_words = 'непринятых приглашений' %}
                                                {% endif %}
                                            {% else %}
                                                {% if unhandled_invitations_length % 10 == 1 %}
                                                    {% set unhandled_inv_counter_words = 'непринятое приглашение' %}
                                                {% elseif unhandled_invitations_length % 10 >= 2 and unhandled_invitations_length % 10 <= 4 %}
                                                    {% set unhandled_inv_counter_words = 'непринятых приглашения' %}
                                                {% else %}
                                                    {% set unhandled_inv_counter_words = 'непринятых приглашений' %}
                                                {% endif %}
                                            {% endif %}
                                            <div class="Warning-Message-Green invitation-to-deal-message" id="unhandled-invitations-message">
                                                У вас есть <strong>{{unhandled_invitations_length}}</strong> {{unhandled_inv_counter_words}}!
                                            </div>
                                            <div class="profile-deal-buttons">
                                                <a href="{{ '/deal?unanswered=1' }}" class="ButtonApply" title="Перейти к приглашениям" id="redirect-to-invitations-button" data-ripple-button="">
                                                    <span class="ripple-text">Перейти к приглашениям</span>
                                                </a>
                                                <a href="{{ url('deal/create') }}" class="ButtonApply profile-create-deal" title="Создать сделку" id="create-deal-button" data-ripple-button="">
                                                    <span class="ripple-text">Создать сделку</span>
                                                </a>
                                            </div>
                                        {% else %}
                                            <a href="{{ url('deal/create') }}" class="ButtonApply" title="Создать сделку" data-ripple-button="">
                                                <span class="ripple-text">Создать сделку</span>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}
                            <div class="UserDataPlate-Field">
                                <div class="FieldEditable">
                                    <div class="InfoFieldStatus">
                                        <p class="InfoFieldStatus-Label">
                                            <span class="InfoFieldStatus-Icon icon-user-login"></span>
                                            Логин:
                                        </p>
                                        <p class="InfoFieldStatus-Text">{{ userProfile['login'] }}</p>
                                    </div>
                                    <button class="FieldEditable-Button js-data-changer" data-target="#FormLoginEdit" title="Изменить логин">
                                        <span class="IconEdit2"></span>
                                    </button>
                                </div>
                            </div>

                            {% set breakpoint = 750 %}

                            <div class="UserDataPlate-Field">
                                <div class="FieldEditable">
                                    <div class="InfoFieldStatus
                                        {{ (userHelper().isUnconfirmedPhone() or not userHelper().isPhoneExists()) ?' js-data-changer unconfirmed-profile-field':' ' }}"
                                         data-target="{% if not userHelper().isPhoneExists() %}#FormPhoneAdd{% elseif userHelper().isUnconfirmedPhone() %}#FormPhoneConfirm{% endif %}">
                                        <p class="InfoFieldStatus-Label">
                                            <span class="InfoFieldStatus-Icon IconPhone"></span>
                                            Номер телефона:
                                        </p>
                                        <p class="InfoFieldStatus-Text">{{ phoneHelper().formatPhone(userProfile['phone']) | trim }}</p>
                                        {% if userHelper().isPhoneExists() %}
                                            <span class="InfoFieldStatus-Status{{ (userHelper().isUnconfirmedPhone()) ?' js-data-changer IconNo active':' IconOk' }}"
                                                  data-target="#FormPhoneConfirm"></span>
                                        {% endif %}
                                    </div>

                                    {% if userHelper().isPhoneExists() %}
                                        <button class="FieldEditable-Button js-data-changer" data-target="#FormPhoneEdit" title="Изменить номер телефона">
                                            <span class="IconEdit2"></span>
                                        </button>
                                    {% endif %}

                                </div>
                                {% if userHelper().isUnconfirmedPhone() %}
                                    {% if userHelper().isPhoneExists() %}
                                        {% if not user_has_active_confirmation_code %}
                                            <div class="FieldEditable">
                                                <a href="{{ url('phone/code-resend') }}" class="ButtonApply FormVerification-Resend js-data-changer" data-target="#FormPhoneConfirm" id="send-phone-confirm-code">Подтвердить</a>
                                            </div>
                                        {% else %}
                                            <div class="FieldEditable">
                                                <button class="ButtonApply js-data-changer" data-target="#FormPhoneConfirm" type="button">Подтвердить</button>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="FieldEditable">
                                            <button class="ButtonApply js-data-changer" data-target="#FormPhoneAdd" type="button">Добавить</button>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>

                            <div class="UserDataPlate-Field">
                                <div class="FieldEditable">
                                    <div class="email-resend-confirmation-buttons InfoFieldStatus {{ (userHelper().isUnconfirmedEmail()) ?' js-data-changer unconfirmed-profile-field':'' }}"
                                         data-target="#FormEmailConfirm">
                                        <p class="InfoFieldStatus-Label">
                                            <span class="IconEmail InfoFieldStatus-Icon"></span>
                                            Электронная почта:
                                        </p>
                                        <p class="InfoFieldStatus-Text">{{ userProfile['email'] }}</p>
                                        <span class="InfoFieldStatus-Status{{ (userHelper().isUnconfirmedEmail()) ?' IconNo active':' IconOk' }}">
                                    </span>
                                    </div>
                                    <button class="FieldEditable-Button js-data-changer" data-target="#FormEmailEdit" title="Изменить адрес эл.почты">
                                        <span class="IconEdit2"></span>
                                    </button>
                                </div>
                                {% if userHelper().isUnconfirmedEmail() %}
                                    <div class="FieldEditable">
                                        <button class="unconfirmed-profile-field email-resend-confirmation-buttons ButtonApply js-data-changer" data-target="#FormEmailConfirm" type="button">Подтвердить</button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </section>

                    {% include 'application/profile/partial/form-login-change.twig' %}

                    {% include 'application/profile/partial/form-email-change.twig' %}

                    {% include 'application/profile/partial/form-phone-add.twig' %}

                    {% include 'application/profile/partial/form-phone-change.twig' %}

                    {% include 'application/profile/partial/form-email-confirm.twig' %}

                    {% include 'application/profile/partial/form-phone-confirm.twig' %}

                </div>

            </section>

            {% if is_operator == false %}
                {% if not userHelper().isUnconfirmedPhone() and not userHelper().isUnconfirmedEmail() %}
                    <section class="row nested-row ProfilePage-Content tab-container" id="profile-page-content">
                        <div class="col-xl-10 col-lg-8 col-lt-6 col-sm-4 col-xl-offset-2 col-lg-offset-1 col-lt-offset-0">
                            <div class="row">
                                <div class="col-xl-12">
                                    <h2 class="TitleBlue">Ваши сохранённые правовые формы</h2>
                                </div>
                            </div>
                            <label for="tab1" class="tab-point active js-tab-btn" title="Физические лица">
                                <span class="tab-point_text link-with-dotted-line">Физические лица</span>
                            </label>
                            <label for="tab2" class="tab-point js-tab-btn" title="Юридические лица">
                                <span class="tab-point_text link-with-dotted-line">Юридические лица</span>
                            </label>
                            <label for="tab3" class="tab-point js-tab-btn" title="Индивидуальные предприниматели"><span class="tab-point_text link-with-dotted-line">ИП</span></label>
                            <label for="tab4" class="tab-point js-tab-btn" title="Мои кнопки"><span class="tab-point_text link-with-dotted-line">Мои кнопки</span></label>
                            <input class="tab-input js-tab-input js-civil-law-subject" id="tab1" type="radio" name="tabs" checked>
                            <input class="tab-input js-tab-input js-civil-law-subject" id="tab2" type="radio" name="tabs">
                            <input class="tab-input js-tab-input js-civil-law-subject" id="tab3" type="radio" name="tabs">
                            <input class="tab-input js-tab-input js-civil-law-subject" id="tab4" type="radio" name="tabs">

                            <!-- физические лица -->

                            <div class="ProfilePage-Section" id="natural-person">
                                {#id="TableNaturalPerson"#}
                                <form method="get" class="TableWrapper">
                                    <table class="TableDefault TableNaturalPersons js-table-rows-are-link">
                                        <tr class="FilterTableRow">
                                            <td class="col__size-10">
                                                {% if isMyProfile %}
                                                    <a class="ButtonApply"
                                                       href="{{ url('user-profile/natural-person-form-create') }}"
                                                       title="Добавить физическое лицо">Добавить
                                                    </a>
                                                {% endif %}
                                            </td>
                                            <td class="col__size-30">
                                                <input class="InputSearch" type="text" placeholder="Поиск по ФИО">
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr class="Head">
                                            <td class="col__size-10">
                                                <a href="{{ sortHelper().getSortLink('id') }}" class="LinkSort">
                                                    <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('id')) ?' active':'' }}"></i>
                                                    №
                                                </a>
                                            </td>
                                            <td class="col__size-30">
                                                <a href="{{ sortHelper().getSortLink('lastName') }}" class="LinkSort">
                                                    <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('lastName')) ?' active':'' }}"></i>
                                                    ФИО
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ sortHelper().getSortLink('birthDate') }}" class="LinkSort">
                                                    <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('birthDate')) ?' active':'' }}"></i>
                                                    Дата
                                                </a>
                                            </td>
                                        </tr>
                                        {% if naturalPersons |length > 0 %}
                                            {% for naturalPerson in naturalPersons %}
                                                <tr data-path="{{ url('user-profile/natural-person-single', {'id' : naturalPerson['id']}) }}">
                                                    <td>
                                                        {{ loop.index }}
                                                    </td>
                                                    <td data-label="ФИО:">
                                                        <a href="{{ url('user-profile/natural-person-single', {'id' : naturalPerson['id']}) }}">
                                                            {{ naturalPerson['last_name'] }} {{ naturalPerson['first_name'] }} {{ naturalPerson['secondary_name'] }}
                                                        </a>
                                                    </td>
                                                    <td data-label="Дата:">
                                                        {{ naturalPerson['birth_date'] }}
                                                    </td>
                                                    {#<td data-label="Документ:">#}
                                                    {#{% if naturalPerson['documents'] |length > 0 %}#}
                                                    {#{% set lastDocument = naturalPerson['documents'] |last %}#}
                                                    {#{{ translate.documentsType(lastDocument['type_name']) }}#}
                                                    {#{% else %}#}
                                                    {#&#8212;#}
                                                    {#{% endif %}#}
                                                    {#</td>#}
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr class="EmptyRow">
                                                <td colspan="4">
                                                    Физические лица не найдены
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </table>
                                </form>
                            </div>

                            <!-- end физические лица -->

                            <!-- юридические лица -->
                            <div class="ProfilePage-Section" id="legal-entity">
                                <form method="get" class="TableWrapper">
                                    <table class="TableDefault TableLegalEntities js-table-rows-are-link">
                                        <tr class="FilterTableRow">
                                            <td class="col__size-10">
                                                {% if isMyProfile %}
                                                    <a class="ButtonApply"
                                                       href="{{ url('user-profile/legal-entity-form-create') }}"
                                                       title="Добавить юридическое лицо">Добавить</a>
                                                {% endif %}
                                            </td>
                                            <td class="col__size-30">
                                                <input class="InputSearch" type="text" placeholder="Поиск по названию">
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="Head">
                                            <td class="col__size-10">
                                                <a href="{{ sortHelper().getSortLink('id') }}" class="LinkSort">
                                                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('id')) ?' active':'' }}"></i>
                                                    №
                                                </a>
                                            </td>
                                            <td class="col__size-30">
                                                <a href="{{ sortHelper().getSortLink('name') }}" class="LinkSort">
                                                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('name')) ?' active':'' }}"></i>
                                                    Наименование
                                                </a>
                                            </td>
                                            <td class="col__size-20">
                                                <a href="{{ sortHelper().getSortLink('legalAddress') }}" class="LinkSort">
                                                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('legalAddress')) ?' active':'' }}"></i>
                                                    Адрес
                                                </a>
                                            </td>
                                            {#<td>#}
                                            {#<a href="{{ sortHelper().getSortLink('phone') }}" class="LinkSort">#}
                                            {#<i class="LinkSort-Icon#}
                                            {#{{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}#}
                                            {#{{ (sortHelper().isActive('phone')) ?' active':'' }}"></i>#}
                                            {# Телефон#}
                                            {# </a>#}
                                            {#</td>#}<td></td>
                                            <td>
                                                <a href="{{ sortHelper().getSortLink('inn') }}" class="LinkSort">
                                                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('inn')) ?' active':'' }}"></i>
                                                    ИНН
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ sortHelper().getSortLink('kpp') }}" class="LinkSort">
                                                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('kpp')) ?' active':'' }}"></i>
                                                    КПП
                                                </a>
                                            </td>
                                            {#<td>#}
                                            {#<a href="{{ sortHelper().getSortLink('kpp') }}" class="LinkSort">#}
                                            {#<i class="LinkSort-Icon#}
                                            {#{{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}#}
                                            {#{{ (sortHelper().isActive('ogrn')) ?' active':'' }}"></i>#}
                                            {#ОГРН#}
                                            {#</a>#}
                                            {#</td>#}<td></td>
                                        </tr>
                                        {% if legalEntities |length > 0 %}
                                            {% for legalEntity in legalEntities %}
                                                <tr data-path="{{ url('user-profile/legal-entity-single', {'id' : legalEntity['id']}) }}">
                                                    <td>
                                                        {{ loop.index }}
                                                    </td>
                                                    <td data-label="Наименование:">
                                                        <a href="{{ url('user-profile/legal-entity-single', {'id' : legalEntity['id']}) }}">
                                                            {{ legalEntity['name'] }}
                                                        </a>
                                                    </td>
                                                    <td data-label="Адрес:">
                                                        {{ legalEntity['legal_address'] }}
                                                    </td>
                                                    {#<td data-label="Телефон:">#}
                                                    {#{{ phoneHelper().formatPhone(legalEntity['phone']) | trim }}#}
                                                    {#</td>#}<td></td>
                                                    <td data-label="ИНН:">
                                                        {{ legalEntity['inn'] }}
                                                    </td>
                                                    <td data-label="КПП:">
                                                        {{ legalEntity['kpp'] }}
                                                    </td>
                                                    {#<td data-label="ОГРН:">#}
                                                    {#{{ legalEntity['ogrn'] }}#}
                                                    {#</td>#}<td></td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr class="EmptyRow">
                                                <td colspan="7">
                                                    Юридические лица не найдены
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </table>
                                </form>
                            </div>
                            <!-- end юридические лица -->

                            <!-- индивидуальные предприниматели -->
                            <div class="ProfilePage-Section" id="sole-proprietor">
                                <form method="get" class="TableWrapper">
                                    <table class="TableDefault TableSoleProprietors js-table-rows-are-link">
                                        <tr class="FilterTableRow">
                                            <td>
                                                {% if isMyProfile %}
                                                    <a class="ButtonApply"
                                                       href="{{ url('user-profile/sole-proprietor-form-create') }}"
                                                       title="Добавить ИП">Добавить</a>
                                                {% endif %}
                                            </td>
                                            <td class="col__size-30">
                                                <input class="InputSearch" type="text" placeholder="Поиск по названию">
                                            </td>
                                            <td class="col__size-10"></td>
                                            <td class="col__size-25"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="Head">
                                            <td>
                                                <a href="{{ sortHelper().getSortLink('id') }}" class="LinkSort">
                                                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('id')) ?' active':'' }}"></i>
                                                    №
                                                </a>
                                            </td>
                                            <td class="col__size-20">
                                                <a href="{{ sortHelper().getSortLink('lastName') }}" class="LinkSort">
                                                    <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('lastName')) ?' active':'' }}"></i>
                                                    ФИО
                                                </a>
                                            </td>
                                            <td class="col__size-20">
                                                <a href="{{ sortHelper().getSortLink('birthDate') }}" class="LinkSort">
                                                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('birthDate')) ?' active':'' }}"></i>
                                                    Дата рождения
                                                </a>
                                            </td>
                                            <td class="col__size-25">
                                                <a href="{{ sortHelper().getSortLink('name') }}" class="LinkSort">
                                                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('name')) ?' active':'' }}"></i>
                                                    Название ИП
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ sortHelper().getSortLink('inn') }}" class="LinkSort">
                                                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('inn')) ?' active':'' }}"></i>
                                                    ИНН
                                                </a>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        {% if soleProprietors |length > 0 %}
                                            {% for soleProprietor in soleProprietors %}
                                                <tr data-path="{{ url('user-profile/sole-proprietor-single', {'id' : soleProprietor['id']}) }}">
                                                    <td>
                                                        {{ loop.index }}
                                                    </td>
                                                    <td data-label="ФИО:">
                                                        <a href="{{ url('user-profile/sole-proprietor-single', {'id' : soleProprietor['id']}) }}">
                                                            {{ soleProprietor['last_name'] ~ ' ' ~ soleProprietor['first_name'] ~ ' ' ~ soleProprietor['secondary_name'] }}
                                                        </a>
                                                    </td>
                                                    <td data-label="Дата рождения:">
                                                        {{ soleProprietor['birth_date'] }}
                                                    </td>
                                                    <td data-label="Название ИП:">
                                                        {{ soleProprietor['name'] }}
                                                    </td>
                                                    <td data-label="ИНН:">
                                                        {{ soleProprietor['inn'] }}
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr class="EmptyRow">
                                                <td colspan="7">
                                                    Юридические лица не найдены
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </table>
                                </form>
                            </div>
                            <!-- end индивидуальные предприниматели -->

                            <!-- партнерские кнопки -->
                            <div class="ProfilePage-Section" id="partner-button">
                                <form method="get" class="TableWrapper">
                                    <table class="TableDefault TableButtons js-table-rows-are-link">
                                        <tr class="FilterTableRow">
                                            <td>
                                                {% if isMyProfile %}
                                                    <a class="ButtonApply"
                                                       href="{{ '/profile/partner-button/create' }}"
                                                       title="Добавить кнопку">Добавить</a>
                                                {% endif %}
                                            </td>
                                            <td class="col__size-30">
                                                <input class="InputSearch" type="text" placeholder="Поиск по названию">
                                            </td>
                                            <td class="col__size-10"></td>
                                            <td class="col__size-25"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="Head">
                                            <td>
                                                <a href="{{ sortHelper().getSortLink('id') }}" class="LinkSort">
                                                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('id')) ?' active':'' }}"></i>
                                                    ID
                                                </a>
                                            </td>
                                            <td class="col__size-20">
                                                <a href="{{ sortHelper().getSortLink('buttonName') }}" class="LinkSort">
                                                    <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('buttonName')) ?' active':'' }}"></i>
                                                    Название кнопки
                                                </a>
                                            </td>
                                            <td class="col__size-20">
                                                <a href="{{ sortHelper().getSortLink('dealRole') }}" class="LinkSort">
                                                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('dealRole')) ?' active':'' }}"></i>
                                                   Роль в сделке
                                                </a>
                                            </td>
                                            <td class="col__size-25">
                                                <a href="{{ sortHelper().getSortLink('dateOfCreation') }}" class="LinkSort">
                                                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('dateOfCreation')) ?' active':'' }}"></i>
                                                   Дата создания
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ sortHelper().getSortLink('dealsCount') }}" class="LinkSort">
                                                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('dealsCount')) ?' active':'' }}"></i>
                                                    Проведено сделок
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ sortHelper().getSortLink('dealSum') }}" class="LinkSort">
                                                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('dealSum')) ?' active':'' }}"></i>
                                                   На сумму, руб.
                                                </a>
                                            </td>
                                            <td></td>
                                        </tr>

                                        {#<tr class="FilterTableRow">#}
                                        {#<td>#}
                                        {#{% if is_operator != true %}#}
                                        {#<a class="ButtonApply"#}
                                        {#href="{{ url('user-profile/deal-token-form-create') }}"#}
                                        {#title="Добавить кнопку">#}
                                        {#Добавить#}
                                        {#</a>#}
                                        {#{% endif %}#}
                                        {#</td>#}
                                        {#<td class="col__size-30">#}
                                        {#<input class="InputSearch" type="text" placeholder="Поиск по ФИО">#}
                                        {#</td>#}

                                        {#<td class="col__size-15">#}
                                        {#<input type="text" class="InputDate2 datepicker-here" placeholder="">#}
                                        {#</td>#}
                                        {#<td>#}
                                        {#</td>#}
                                        {#</tr>#}
                                        {#<tr class="Head">#}
                                        {#<td>#}
                                        {#<a href="{{ sortHelper().getSortLink('id') }}" class="LinkSort">#}
                                        {#<i class="LinkSort-Icon#}
                                        {#{{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}#}
                                        {#{{ (sortHelper().isActive('id')) ?' active':'' }}"></i>#}
                                        {#№#}
                                        {#</a>#}
                                        {#</td>#}
                                        {#<td class="col__size-30">#}
                                        {#<a href="{{ sortHelper().getSortLink('lastName') }}" class="LinkSort">#}
                                        {#<i class="LinkSort-Icon#}
                                        {#{{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}#}
                                        {#{{ (sortHelper().isActive('lastName')) ?' active':'' }}"></i>#}
                                        {#ФИО#}
                                        {#</a>#}
                                        {#</td>#}
                                        {#<td class="col__size-15">#}
                                        {#<a href="{{ sortHelper().getSortLink('birthDate') }}" class="LinkSort">#}
                                        {#<i class="LinkSort-Icon#}
                                        {#{{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}#}
                                        {#{{ (sortHelper().isActive('birthDate')) ?' active':'' }}"></i>#}
                                        {#Дата#}
                                        {#</a>#}
                                        {#</td>#}
                                        {#<td>Документ</td>#}
                                        {#</tr>#}

                                        {% if tokens |length > 0 %}
                                            {% for token in tokens %}
                                                <tr data-path="{{ url('user-profile/deal-token-single', {'id' : token['id']}) }}">
                                                    <td class="col col-number">
                                                        {{ loop.index }}
                                                    </td>
                                                    <td class="col">
                                                        <div class="col_mobile-title">
                                                            Название
                                                        </div>
                                                        <div class="col_mobile-content">
                                                            <a href="{{ url('user-profile/deal-token-single', {'id' : token['id']}) }}">
                                                                {{ token['name'] }}
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td class="col">
                                                        <div class="col_mobile-title">
                                                            Дата создания
                                                        </div>
                                                        <div class="col_mobile-content">
                                                             {{ token['created'] }}
                                                        </div>
                                                    </td>
                                                    <td class="col">
                                                        <div class="col_mobile-title">
                                                            Проведено сделок
                                                        </div>
                                                        <div class="col_mobile-content">
                                                            {{ token['deals'] | length }}
                                                        </div>
                                                    </td>
                                                    <td class="col">
                                                        <div class="col_mobile-title">
                                                            На сумму, руб.
                                                        </div>
                                                        <div class="col_mobile-content">
                                                             {{ token['amount'] }}
                                                        </div>
                                                    </td>
                                                    <td></td>
                                                    {#<td class="col">#}
                                                    {#<div class="col_mobile-title">#}
                                                    {#Дата#}
                                                    {#</div>#}
                                                    {#<div class="col_mobile-content">#}
                                                    {#{{ naturalPerson['birth_date'] }}#}
                                                    {#</div>#}
                                                    {#</td>#}
                                                    {#<td class="col">#}
                                                    {#<div class="col_mobile-title">#}
                                                    {#Документ#}
                                                    {#</div>#}
                                                    {#<div class="col_mobile-content">#}
                                                    {#{% if naturalPerson['documents'] |length > 0 %}#}
                                                    {#{% set lastDocument = naturalPerson['documents'] |last %}#}
                                                    {#{{ translate.documentsType(lastDocument['type_name']) }}#}
                                                    {#{% else %}#}
                                                    {#&#8212;#}
                                                    {#{% endif %}#}
                                                    {#</div>#}
                                                    {#</td>#}
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr class="EmptyRow">
                                                <td colspan="7">
                                                    Партнерские кнопки не найдены.
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </table>
                                </form>
                            </div>
                            <!-- end партнерские кнопки -->

                        </div>
                    </section>
                {% endif %}
            {% endif %}
        </section>
    </section>
    {#Форма загрузки аватара:#}
    {#{{ form().openTag(userForm)|raw }}#}
    {#<div class="form-group">#}
    {#{{ formLabel(userForm.get('avatar'))|raw }}#}
    {#{{ formElement(userForm.get('avatar'))|raw }}#}
    {#{{ formElementErrors(userForm.get('avatar'))|raw }}#}
    {#</div>#}
    {#<div class="form-group">#}
    {#{{ formElement(userForm.get('csrf'))|raw }}#}
    {#</div>#}
    {#<div class="form-group">#}
    {#{{ formElement(userForm.get('submit'))|raw }}#}
    {#</div>#}
    {#{{ form().closeTag()|raw }}#}

{% endblock content %}