{% extends 'twig/layout/application' %}
{% import 'macro/routes.twig' as routes %}
{#
1 Массив массивов bankDetails, каждый элемент которого содержит ключи:
    bankDetails [
        0 => [
                ['id']
                ['name']
                ['checking_account']
                ['correspondent_account']
                ['bic']
            ],
        1 => [],
        ...
        и т.д.
    ]

2. Булевая переменная
    is_operator - по ее значению показываем что-то оператору или скрываем

3. Объект
    paginator {
      'pageCount' => int 1
      'itemCountPerPage' => int 20
      'first' => int 1
      'current' => int 1
      'last' => int 1
      'pagesInRange' =>
          1 => int 1
      'firstPageInRange' => int 1
      'lastPageInRange' => int 1
      'currentItemCount' => int 2
      'totalItemCount' => int 2
      'firstItemNumber' => int 1
      'lastItemNumber' => int 2
    }
#}
{% do  headTitle('Банковские реквизиты') %}
{% block content %}
    <section class="PageTable">
        <form method="get" class="TableWrapper" id="legal-entity-bank-detail-filter-form">
            <table class="TableDefault js-table-rows-are-link" data-start="1" data-length="6">
                <tr class="FilterTableRow">
                    <td>
                    </td>
                    <td>
                        <input class="InputSearch" type="text" placeholder="Наименование">
                    </td>
                    <td>
                        <input class="InputSearch" type="text" placeholder="Лицевой счёт">
                    </td>
                    <td>
                        <input class="InputSearch" type="text" placeholder="Корреспондентский счёт">
                    </td>
                    <td>
                        <input class="InputSearch" type="text" placeholder="БИК">
                    </td>
                    <td>
                        <button class="ButtonSearch" type="submit"><span>&nbsp;</span></button>
                    </td>
                </tr>
                <tr class="Head">
                    <td>
                        №
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('Name') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('name')) ?' active':'' }}"></i>
                            Наименование
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('checkingAccount') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('checking_account')) ?' active':'' }}"></i>
                            Лицевой счёт
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('correspondentAccount') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('correspondent_account')) ?' active':'' }}"></i>
                            Корреспондентский счёт
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('Bic') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('bic')) ?' active':'' }}"></i>
                            БИК
                        </a>
                    </td>
                    <td></td>
                </tr>
                {% if bankDetails |length > 0 %}
                    {% for bankDetail in bankDetails %}
                        <tr data-path="{{ routes.bankDetailSingle(bankDetail['id'])|trim  }}">
                            <td>
                                {{ loop.index }}
                            </td>
                            <td data-label="Наименование:">
                                {{ bankDetail['name'] }}
                            </td>
                            <td data-label="Лицевой счёт:">
                                {{ bankDetail['checking_account'] }}
                            </td>
                            <td data-label="Корреспондентский счёт:">
                                {{ bankDetail['correspondent_account'] }}
                            </td>
                            <td data-label="БИК:">
                                {{ bankDetail['bic'] }}
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="EmptyRow">
                        <td colspan="6">
                            Банковские реквизиты не найдены.
                        </td>
                    </tr>
                {% endif %}
            </table>
        </form>
    </section>
{% endblock content %}

