{% extends 'twig/layout/application' %}
{% import 'macro/routes.twig' as routes %}
{#
1. Объект
    bankDetailForm => {
        'checking_account'
        'name'
        'correspondent_account'
        'bic'
        'idLegalEntity'
        'csrf'
        'submit'
    }
#}
{% do headTitle('Добавление банковских реквизитов') %}
{% block content %}
    <section class="PageForm">
        <div class="PageForm-Container PageForm-Container_large">
            <form class="FormLabelTop" method="POST" id="legal-entity-bank-detail-crete-form">

                <h3 class="TitleBlue">Добавление банковских реквизитов</h3>

                <div class="Input-Wrapper">
                    {{ formLabel(bankDetailForm.get('name'))|raw }}
                    {{ formElement(bankDetailForm.get('name'))|raw }}
                    <div class="FormError">{{ formElementErrors(bankDetailForm.get('name'))|raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    {{ formLabel(bankDetailForm.get('checking_account'))|raw }}
                    {{ formElement(bankDetailForm.get('checking_account'))|raw }}
                    <div class="FormError">{{ formElementErrors(bankDetailForm.get('checking_account'))|raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    {{ formLabel(bankDetailForm.get('correspondent_account'))|raw }}
                    {{ formElement(bankDetailForm.get('correspondent_account'))|raw }}
                    <div class="FormError">{{ formElementErrors(bankDetailForm.get('correspondent_account'))|raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    {{ formLabel(bankDetailForm.get('bic'))|raw }}
                    {{ formElement(bankDetailForm.get('bic'))|raw }}
                    <div class="FormError">{{ formElementErrors(bankDetailForm.get('bic'))|raw }}</div>
                </div>

                <div class="FormError">{{ formElementErrors(bankDetailForm.get('csrf'))|raw }}</div>

                {{ formElement(bankDetailForm.get('csrf'))|raw }}
                {{ formElement(bankDetailForm.get('idLegalEntity'))|raw }}

                <div class="ButtonsRow">
                    <button class="ButtonApply">Сохранить</button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
