{% extends 'twig/layout/application' %}
{% import 'macro/routes.twig' as routes %}
{#
1. Массив (показаны значения из тестового объекта):
    bankDetail [
      'id' => int 1
      'name' => string 'Тест'
      'checking_account' => string '121212121212'
      'correspondent_account' => string '1212121212'
      'bic' => string '121221212'
    ]
#}
{% do headTitle('Удаление банковских реквизитов') %}
{% block content %}
    <section class="PageForm">
        <div class="PageForm-Container">
            <form class="FormView" method="POST" id="legal-entity-bank-detail-delete-form"
                  action="{{ routes.bankDetailSingle(bankDetail['id']) |trim }}">

                <input type="hidden" name="_method" value="delete">

                <h3 class="TitleBlue">Вы уверены, что хотите удалить?</h3>

                <div class="InfoField">
                    <p class="InfoField-Label">Наименование:</p>
                    <p class="InfoField-Text">{{ bankDetail ['name'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">Лицевой счёт:</p>
                    <p class="InfoField-Text">{{ bankDetail['checking_account'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">Корреспондентский счёт:</p>
                    <p class="InfoField-Text">{{ bankDetail['correspondent_account'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">БИК:</p>
                    <p class="InfoField-Text">{{ bankDetail['bic'] }}</p>
                </div>
                <div class="ButtonsRow">
                    <button class="ButtonDelete margin-right" type="submit" data-ripple-button="">
                        <span class="ripple-text">Удалить</span>
                    </button>
                    <a href="{{ routes.bankDetailSingle(bankDetail['id']) |trim }}"
                       class="ButtonRefuse" data-ripple-button="">
                        <span class="ripple-text">Отменить</span>
                    </a>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
