{% extends 'twig/layout/application' %}
{% import 'macro/routes.twig' as routes %}
{#
1. Объект
    bankDetailForm => {
        'checking_account'
        'name'
        'correspondent_account'
        'bic'
        'idLegalEntity'
        'csrf'
        'submit'
    }

2. Массив (показаны значения из тестового объекта):
    bankDetail [
      'id' => int 1
      'name' => string 'Тест'
      'checking_account' => string '121212121212'
      'correspondent_account' => string '1212121212'
      'bic' => string '121221212'
    ]
#}
{% do headTitle('Редактирование банковских реквизитов') %}
{% block content %}
    <section class="PageForm">
        <div class="PageForm-Container">
            <form class="FormLabelLeft" method="POST" enctype="multipart/form-data" id="legal-entity-bank-detail-edit-form">
                {{ formElement(bankDetailForm.get('csrf'))|raw }}
                {{ formElement(bankDetailForm.get('idLegalEntity'))|raw }}

                <h3 class="TitleBlue">Редактирование банковских реквизитов</h3>
                <div class="Input-Wrapper">
                    <label for="name">Наименование банка</label>
                    {{ formElement(bankDetailForm.get('name'))|raw }}
                    <div class="FormError">{{ formElementErrors(bankDetailForm.get('name'))|raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    <label for="checking_account">Расчетный счет</label>
                    {{ formElement(bankDetailForm.get('checking_account'))|raw }}
                    <div class="FormError">{{ formElementErrors(bankDetailForm.get('checking_account'))|raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    <label for="correspondent_account">Корресподентский счет</label>
                    {{ formElement(bankDetailForm.get('correspondent_account'))|raw }}
                    <div class="FormError">{{ formElementErrors(bankDetailForm.get('correspondent_account'))|raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    <label for="bic">БИК</label>
                    {{ formElement(bankDetailForm.get('bic'))|raw }}
                    <div class="FormError">{{ formElementErrors(bankDetailForm.get('bic'))|raw }}</div>
                </div>

                <div class="FormError">{{ formElementErrors(bankDetailForm.get('csrf'))|raw }}</div>

                <div class="ButtonsRow">
                    {% if is_operator == false %}
                        <a href="{{ routes.bankDetailDelete(bankDetail['id']) |trim }}"
                           class="ButtonDelete margin-right" data-ripple-button=""><span class="ripple-text">Удалить</span></a>
                    {% endif %}
                    <button class="ButtonApply" type="submit" value="" data-ripple-button=""><span class="ripple-text">Сохранить</span></button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
