{% extends 'twig/layout/application' %}
{% import 'macro/routes.twig' as routes %}
{#
1. Массив (показаны значения из тестового объекта):
    bankDetail [
      'id' => int 1
      'name' => string 'Тест'
      'checking_account' => string '121212121212'
      'correspondent_account' => string '1212121212'
      'bic' => string '121221212'
    ]

2. Булевая переменная
    is_operator - по ее значению показываем что-то оператору или скрываем
#}
{% do headTitle('Банковские реквизиты') %}
{% block content %}
    <section class="PageForm">
        <div class="PageForm-Container">
            <form class="FormView" method="POST" enctype="multipart/form-data" id="legal-entity-bank-detail-single">
                <h3 class="TitleBlue">Банковские реквизиты</h3>

                <div class="InfoField">
                    <p class="InfoField-Label">Наименование:</p>
                    <p class="InfoField-Text">{{ bankDetail ['name'] }}</p>
                </div>

                <div class="InfoField">
                    <p class="InfoField-Label">Лицевой счёт:</p>
                    <p class="InfoField-Text">{{ bankDetail['checking_account'] }}</p>
                </div>

                <div class="InfoField">
                    <p class="InfoField-Label">Корреспондентский счёт:</p>
                    <p class="InfoField-Text">{{ bankDetail['correspondent_account'] }}</p>
                </div>

                <div class="InfoField">
                    <p class="InfoField-Label">БИК:</p>
                    <p class="InfoField-Text">{{ bankDetail['bic'] }}</p>
                </div>

                <div class="ButtonsRow">
                    <a href="{{ routes.bankDetailDelete(bankDetail['id']) |trim }}"
                       class="ButtonDelete margin-right" data-ripple-button=""><span class="ripple-text">Удалить</span></a>
                    <a href="{{ routes.bankDetailEdit(bankDetail['id']) |trim }}"
                       class="ButtonApply" data-ripple-button=""><span class="ripple-text">Изменить</span></a>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
