.how-it-works-image{
  margin-right: 100px;
  position: relative;
  cursor: default;
  max-width: 200px;

  @media (max-width: @grid-breakpoint-md){
    margin-right: 0;
  }

  .how-it-works-image__screen{
    position: absolute;
    left: 5%;
    top: 11.33%;
    width: 90%;
    height: 76.6%;
  }

}