{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{#
1 cardPayForm - form
2 deal - output
#}
{% do headTitle('Информация по карте') %}
{% block content %}
    <section class="PageForm MandarinPayPage DealShowPage" id="CardMandarinPayPage">
        <div class="DealShowPage-Header">
            {% include 'application/deal/partial/timeline.twig'
                with {
                'deal':  deal,
                'status': deal['status']['status'],
                'dispute': dispute
            } %}
        </div>
        <section class="DealShowPage-Content">
            <div class="DealShowPage-Details">
                <div class="DealShowPage-Main">
                    <div class="DisputeMethod">
                        <h3 class="TitleBlue">Введите реквизиты банковской карты</h3>
                        <div class="title-block">
                            <div class="title">
                                <p class="payment-subtitle">
                                    Информация о карте передается в процессинговый центр в зашифрованном виде по защищенному протоколу HTTPS/SSL. Сервис «Гарант Пей» не имеет доступа к вводимой информации.
                                </p>
                            </div>
                            <div class="ssl-logo" tabindex="-1">
                                <object type="image/svg+xml" data="{{ basePath('img/acquiring-mandarin/SSL.svg') }}">Your browser does not support SVGs</object>
                            </div>
                        </div>
                        <div>
                            {% if hosted_fields %}
                                <form id="form-hosted-pay">
                                    <div class="card-container">
                                        <div class="card card-back-side">
                                            <div class="magnet-stripe"></div>
                                            <div class="back-card-line">
                                                <span class="field-label cvv-label">CVV2/CVC2</span>
                                                <div class="mandarinpay-field-card-cvv hosted-field" tabindex="-1"></div>
                                                <span class="cvv-tip">Последние 3 цифры на обратной стороне</span>
                                            </div>
                                        </div>
                                        <div class="card card-front-side">
                                            <div class="card-line">
                                                <span class="field-label">Номер карты</span>
                                                <div class="mandarinpay-field-card-number hosted-field" tabindex="-1"></div>
                                            </div>
                                            <div class="payment-systems-logo icon-payment-systems" tabindex="-1"></div>
                                            <div class="card-line">
                                                <span class="field-label">Дата окончания действия карты</span>
                                                <div class="mandarinpay-field-card-expiration hosted-field" tabindex="-1"></div>
                                            </div>
                                            <span class="field-label">Имя владельца карты</span>
                                            <div class="mandarinpay-field-card-holder hosted-field" tabindex="-1"></div>
                                        </div>
                                    </div>
                                    <div class="payment-info">
                                        <div class="payment-cancel">
                                            <p><b>Внимание!</b>
                                                Если ваша карта поддерживает технологию обеспечения безопасности интернет платежей 3D Secure, Вы будете отправлены на страницу банка, выпустившего Вам карту.</p>
                                            <a href="/deal/show/{{ deal['id'] }}"><button class="ButtonRefuse">Отменить оплату картой</button></a>
                                        </div>
                                        <div class="payment-submit">
                                            <table class="payment-statistics">
                                                <tr>
                                                    <td>Сумма по сделке: </td>
                                                    <td class="money">{{ deal['amount_without_fee'] }} Р.</td>
                                                </tr>
                                                <tr>
                                                    <td>Комиссия эквайринга: </td>
                                                    <td class="money">{{ deal['customer_fee'] }} Р.</td>
                                                </tr>
                                                <tr class="sum">
                                                    <td>Сумма к оплате:</td>
                                                    <td class="money">{{ deal['customer_amount'] }} Р.</td>
                                                </tr>
                                            </table>
                                            <button class="ButtonApply" onclick="return mandarinpay.hosted.process('#form-hosted-pay');">Оплатить</button>
                                        </div>
                                    </div>
                                </form>

                            {% else %}

                                {{ form().openTag(mandarinPayForm)|raw }}
                                <div class="FormAdd">
                                    {{ formElement(mandarinPayForm.get('merchantId'))|raw }}
                                    {{ formElement(mandarinPayForm.get('price'))|raw }}
                                    {{ formElement(mandarinPayForm.get('orderId'))|raw }}
                                    {{ formElement(mandarinPayForm.get('customer_email'))|raw }}
                                    {{ formElement(mandarinPayForm.get('customName1'))|raw }}
                                    {{ formElement(mandarinPayForm.get('customValue1'))|raw }}
                                    {{ formElement(mandarinPayForm.get('callbackUrl'))|raw }}
                                    {{ formElement(mandarinPayForm.get('returnUrl'))|raw }}
                                    {{ formElement(mandarinPayForm.get('orderActualTill'))|raw }}
                                    <div class="FormError">
                                        {{ formElementErrors(mandarinPayForm.get('merchantId'))|raw }}
                                        {{ formElementErrors(mandarinPayForm.get('price'))|raw }}
                                        {{ formElementErrors(mandarinPayForm.get('orderId'))|raw }}
                                        {{ formElementErrors(mandarinPayForm.get('customer_email'))|raw }}
                                        {{ formElementErrors(mandarinPayForm.get('customName1'))|raw }}
                                        {{ formElementErrors(mandarinPayForm.get('customValue1'))|raw }}
                                        {{ formElementErrors(mandarinPayForm.get('callbackUrl'))|raw }}
                                        {{ formElementErrors(mandarinPayForm.get('returnUrl'))|raw }}
                                        {{ formElementErrors(mandarinPayForm.get('orderActualTill'))|raw }}
                                    </div>
                                </div>

                                <button class="ButtonApply" type="submit">Добавить карту</button>
                                {{ form().closeTag()|raw }}

                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="DealShowPage-Description">
                    {% include 'application/partial/deal-conditions.twig'
                        with {
                        'deal': deal,
                        'is_operator': 'true'
                    }
                    %}
                    <section class="DealShowPage-Additional DealAgentsDataPlate">
                        {% include 'application/partial/deal-agents-info.twig'
                            with {
                            'deal': deal,
                            'is_operator': 'true',
                            'payment_method_requisites': []
                        }
                        %}
                    </section>
                </div>
            </div>
        </section>
    </section>

    {% if hosted_fields %}
        <script src="https://secure.mandarinpay.com/api/hosted.js"></script>
        <script>
            mandarinpay.hosted.setup("#form-hosted-pay", {
                operationId: "{{ jsOperationId }}",
                onsuccess: function(data) {
                    window.location = data.__private.returnUrl;
                    //alert("Success, id: " + data.transaction.id);
                },
                onerror: function(data) {
                    alert("Error: " + data.error);
                },
                fields:
                    {
                        "card-number": {
                            settings: {
                                placeholder: "Номер карты",
                                styles: {
                                    "font-size": "14px",
                                    "font-family": "Roboto",
                                    "color": "#354052",
                                },
                                placeholderStyles: {
                                    "font-size": "14px",
                                    "color": "#C5D0DE",
                                    "font-weight": "300",
                                    "font-style": "italic"
                                }
                            }
                        },
                        "card-expiration": {
                            settings: {
                                placeholder: "01/18",
                                styles: {
                                    "font-size": "14px",
                                    "font-family": "Roboto",
                                    "color": "#354052"
                                },
                                placeholderStyles: {
                                    "font-size": "14px",
                                    "color": "#C5D0DE",
                                    "font-weight": "300",
                                    "font-style": "italic"
                                }
                            }
                        },
                        "card-holder": {
                            settings: {
                                placeholder: "Card holder",
                                styles: {
                                    "font-size": "14px",
                                    "font-family": "Roboto",
                                    "color": "#354052"
                                },
                                placeholderStyles: {
                                    "font-size": "14px",
                                    "color": "#C5D0DE",
                                    "font-weight": "300",
                                    "font-style": "italic"
                                }
                            }
                        },
                        "card-cvv": {
                            settings: {
                                placeholder: "CVC/CVV",
                                styles: {
                                    "font-size": "14px",
                                    "font-family": "Roboto",
                                    "color": "#354052"
                                },
                                placeholderStyles: {
                                    "font-size": "14px",
                                    "color": "#C5D0DE",
                                    "font-weight": "300",
                                    "font-style": "italic"
                                }
                            }
                        }
                    }
            });
        </script>
    {% endif %}
{% endblock content %}