{% import 'macro/component.twig' as component %}
{% import 'macro/pageHelper.twig' as pageHelper %}

{% set front_version = versionHelper().getVersion() %}

{{ doctype() }}
<html lang="en" class="no-js">
<head>
    {% autoescape false %}
        <meta charset="utf-8">
        {{ headTitle('Guarant Pay - сервис безопасной сделки').setSeparator(' | ').setAutoEscape(false) }}

        {{ headMeta().
        appendName('viewport', 'width=device-width, initial-scale=1.0').
        appendName('theme-color', '#ffffff').
        appendName('msapplication-TileColor', '#ffffff').
        appendHttpEquiv('X-UA-Compatible', 'IE=edge') }}

        {{ headLink({'rel':'apple-touch-icon', 'size': '180x180', 'href':basePath('favicon/apple-touch-icon.png')}).
        headLink({'rel':'icon', 'type':'image/png' , 'size': '32x32', 'href':basePath('favicon/favicon-32x32.png')}).
        headLink({'rel':'icon', 'type':'image/png' , 'size': '16x16', 'href':basePath('favicon/favicon-16x16.png')}).
        headLink({'rel':'manifest', 'href':basePath('favicon//safari-pinned-tab.svg')}).
        headLink({'rel':'mask-icon', 'href':basePath('favicon/safari-pinned-tab.svg'), color: '#5bbad5'})}}
        {% if getApplicationEnv() == 'production' or getApplicationEnv() == 'testing' %}
            <link rel="stylesheet" type="text/css" href="{{ basePath('build/landing.min.css?ver=' ~ front_version) }}"/>
        {% else %}
            <link rel="stylesheet" type="text/css" href="{{ basePath('build/landing.css?ver=' ~ front_version) }}"/>
        {% endif %}

        {{ headScript().
        prependFile(basePath('js/libs/jquery-3.1.0.min.js')).
        prependFile(basePath('js/libs/float-panel.js')) }}

    {% endautoescape %}
    <script>
        document.documentElement.className =
            document.documentElement.className.replace("no-js","js");
    </script>
    {% if getApplicationEnv() == 'production' and remoteServerModeHelper().getRemoteServerMode() == 'server_prod' %}
        <script type="text/javascript">
            (function(){
                if (typeof carrotquest === 'undefined') {
                    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
                    s.src = '//cdn.carrotquest.io/api.min.js';
                    var x = document.getElementsByTagName('head')[0]; x.appendChild(s);

                    carrotquest = {}; window.carrotquestasync = []; carrotquest.settings = {};
                    m = ['connect', 'track', 'identify', 'auth', 'open', 'onReady', 'addCallback', 'removeCallback', 'trackMessageInteraction'];
                    function Build(name, args){return function(){window.carrotquestasync.push(name, arguments);} }
                    for (var i = 0; i < m.length; i++) carrotquest[m[i]] = Build(m[i]);
                }
            })();
            carrotquest.connect('17167-ea923a72b34ec193e353e2ca70');
        </script>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter48985514 = new Ya.Metrika({
                            id:48985514,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            webvisor:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/48985514" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    {% endif %}
</head>
<body>
<div class="authentication">

    {% include 'partial/header.twig' with {'is_auth': true} %}

    <div class="block-s  {% if identity != null %}block-s__profile{% else %}block-s__registration-login{% endif %} ">
        {#{{php // Invitations to confirm the phone and email
        echo $this->userHelper()->unconfirmedEmailIndicator($this->identity());
        echo $this->userHelper()->unconfirmedPhoneIndicator($this->identity());
        }}

        {{php // Flash messages
        echo $this->flashMessenger()->render(
        \Zend\Mvc\Plugin\FlashMessenger\FlashMessenger::NAMESPACE_ERROR, array('alert', 'alert-danger'));
        echo $this->flashMessenger()->render(
        \Zend\Mvc\Plugin\FlashMessenger\FlashMessenger::NAMESPACE_INFO, array('alert', 'alert-info'));
        echo $this->flashMessenger()->render(
        \Zend\Mvc\Plugin\FlashMessenger\FlashMessenger::NAMESPACE_SUCCESS, array('alert', 'alert-success'));
        echo $this->flashMessenger()->render(
        \Zend\Mvc\Plugin\FlashMessenger\FlashMessenger::NAMESPACE_WARNING, array('alert', 'alert-warning'));
        echo $this->flashMessenger()->render(
        \Zend\Mvc\Plugin\FlashMessenger\FlashMessenger::NAMESPACE_DEFAULT, array('alert', 'alert-info'));
        }}#}
        {# {% if identity != null %}
             <div class="col-md-3">
                 <ul class="block_s-profile-menu">
                     <li class="block_s-profile-menu-li">
                         <a href="/profile">
                             <span class="glyphicons glyphicons-user-vr"></span>
                             <span class="block_s-profile-menu-li-span"><span>Профиль</span></span>
                         </a>
                     </li>
                     <li class="block_s-profile-menu-li">
                         <a href="/deal">
                             <span class="glyphicons glyphicons-fees-payments"></span>
                             <span class="block_s-profile-menu-li-span"><span>Сделки</span></span>
                         </a>
                     </li>
                     {% if access('bank-client.view') %}
                         <li class="block_s-profile-menu-li">
                             <a href="/bank-client">
                                 <span class="glyphicons glyphicon-save-file"></span>
                                 <span class="block_s-profile-menu-li-span"><span>Банк-Клиент</span></span>
                             </a>
                         </li>
                         <li class="block_s-profile-menu-li">
                             <a href="/deal/show-all">
                                 <span class="glyphicons glyphicons-fees-payments"></span>
                                 <span class="block_s-profile-menu-li-span"><span>Все сделки</span></span>
                             </a>
                         </li>
                         <li class="block_s-profile-menu-li">
                             <a href="/deal/expired">
                                 <span class="glyphicons glyphicons-fees-payments"></span>
                                 <span class="block_s-profile-menu-li-span"><span>Сделки к оплате по сроку</span></span>
                             </a>
                         </li>
                         <li class="block_s-profile-menu-li">
                             <a href="/deal/abnormal">
                                 <span class="glyphicons glyphicons-fees-payments"></span>
                                 <span class="block_s-profile-menu-li-span"><span>Сделки с проблемами</span></span>
                             </a>
                         </li>
                     {% endif %}
                     <li class="block_s-profile-menu-li">
                         <a href="">
                             <span class="glyphicons glyphicons-message-empty"></span>
                             <span class="block_s-profile-menu-li-span"><span>Сообщения</span></span>
                         </a>
                     </li>
                     <li class="block_s-profile-menu-li">
                         <a href="">
                             <span class="glyphicons glyphicons-headset"></span>
                             <span class="block_s-profile-menu-li-span"><span>Техподдержка</span></span>
                         </a>
                     </li>
                     <li class="block_s-profile-menu-li">
                         <a href="/setting">
                             <span class="glyphicons glyphicons-cogwheel"></span>
                             <span class="block_s-profile-menu-li-span"><span>Настройки</span></span>
                         </a>
                     </li>
                     <li class="block_s-profile-menu-li">
                         <a href="">
                             <span class="glyphicons glyphicons-one-day"></span>
                             <span class="block_s-profile-menu-li-span"><span>Справочная информация</span></span>
                         </a>
                     </li>
                 </ul>
             </div>
         {% endif %}#}
        <!--Content -->
        {% block content %}{% endblock content %}
        <!--End Content-->
    </div>
    {% include 'partial/new_footer.twig' %}
    {{inlineScript() }}
    <!-- с front-end приложением debug-панель не запуститься -->
    {% if getApplicationEnv() == 'production' or getApplicationEnv() == 'testing' %}
        <script src="{{ basePath('build/landing.min.js?ver=' ~ front_version) }}"></script>
    {% else %}
        <script src="{{ basePath('build/landing.js?ver=' ~ front_version) }}"></script>
    {% endif %}
</div>
<!--noindex-->
<div id="recaptcha-site-key" data-site-key="{{ getReCaptchaV2SiteKey() }}"></div>
<!--/noindex-->

</body>
</html>