{#
Placeholders                Вспомогательные
------------------------------------------------------------------------
placeholder()               action()
doctype()                   declareVars()
headLink()                  json()
headMeta()                  layout()
headScript()                partial()
headStyle()                 partialLoop()
headTitle()                 translate()
inlineScript()              url()
#}

{% import 'macro/component.twig' as component %}

{% set identity = identity() %}
{% set front_version = versionHelper().getVersion() %}

{{ doctype() }}
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <script>
        document.documentElement.className =
            document.documentElement.className.replace("no-js","js");
    </script>
    {% autoescape false %}
        {{ headTitle('Guarant Pay - сервис безопасной сделки').setSeparator(' | ').setAutoEscape(false) }}
        {{ headMeta().
        appendName('viewport', 'width=device-width, initial-scale=1.0').
        appendName('theme-color', '#ffffff').
        appendName('msapplication-TileColor', '#ffffff').
        appendHttpEquiv('X-UA-Compatible', 'IE=edge') }}
        <meta name="description" content="Escrow (сервис-гарант) для проведения безопасных сделок любых типов: покупки в интернете, межрегиональные поставки, услуги интеграции безопасной сделки для интернет магазинов.">
        {{ headLink({'rel':'apple-touch-icon', 'size': '180x180', 'href':basePath('favicon/apple-touch-icon.png')}).
        headLink({'rel':'icon', 'type':'image/png' , 'size': '32x32', 'href':basePath('favicon/favicon-32x32.png')}).
        headLink({'rel':'icon', 'type':'image/png' , 'size': '16x16', 'href':basePath('favicon/favicon-16x16.png')}).
        headLink({'rel':'manifest', 'href':basePath('favicon//safari-pinned-tab.svg')}).
        headLink({'rel':'mask-icon', 'href':basePath('favicon/safari-pinned-tab.svg'), color: '#5bbad5'})}}
        {% if getApplicationEnv() == 'production' or getApplicationEnv() == 'testing' %}
            <link rel="stylesheet" type="text/css" href="{{ basePath('build/landing.min.css?ver=' ~ front_version) }}"/>
        {% else %}
            <link rel="stylesheet" type="text/css" href="{{ basePath('build/landing.css?ver=' ~ front_version) }}"/>
        {% endif %}
        {{ headScript() }}
    {% endautoescape %}
    {% if getApplicationEnv() == 'production' and remoteServerModeHelper().getRemoteServerMode() == 'server_prod' %}
        <script type="text/javascript">
            (function(){
                if (typeof carrotquest === 'undefined') {
                    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
                    s.src = '//cdn.carrotquest.io/api.min.js';
                    var x = document.getElementsByTagName('head')[0]; x.appendChild(s);

                    carrotquest = {}; window.carrotquestasync = []; carrotquest.settings = {};
                    m = ['connect', 'track', 'identify', 'auth', 'open', 'onReady', 'addCallback', 'removeCallback', 'trackMessageInteraction'];
                    function Build(name, args){return function(){window.carrotquestasync.push(name, arguments);} }
                    for (var i = 0; i < m.length; i++) carrotquest[m[i]] = Build(m[i]);
                }
            })();
            carrotquest.connect('17167-ea923a72b34ec193e353e2ca70');
        </script>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter48985514 = new Ya.Metrika({
                            id:48985514,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            webvisor:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/48985514" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    {% endif %}
</head>
<body>
<style>
    /* Ensure elements load hidden before ScrollReveal runs */
    .js-reveal-5 {
        visibility: hidden;
    }
</style>
{% if identity != null %}
    {% set deal_create_url = url('deal/create') %}
{% else %}
    {% set deal_create_url = '/deal/create/unregistered-form' %}
{% endif %}

{% set profile_url =  url('profile') %}

{% set partner_button_create_url =  url('user-profile/deal-token-form-create')%}

<div id="content-wrapper">

{% include 'partial/header.twig' %}

<div class="preloader">
    <div class="preloader__icon"></div>
</div>

<section class="information">
    <div class="screen-slider">
        <div class="screen-slide">
            <div class="slide-image" style="background-image: url('/img/landing/info-slider-image-1.jpg')"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-5 col-sm-4 col-xs-4">
                        <h2 class="slide-title">
                            Безопасные покупки в&nbsp;интернете!
                        </h2>
                        <div class="slide-description">
                            Никогда не покупайте в социальных сетях без Guarant&nbsp;Pay <img src="/img/landing/smile.svg" alt="" class="smile">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-4">
                        <div class="row">
                            <div class="col-xl-6 col-md-2 col-sm-4">
                                <div class="button-wrapper">
                                    <a href="{{ deal_create_url | trim }}#pokupatelyam" class="button-action button-action_type-filed">создать сделку</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="screen-slide">
            <div class="slide-image" style="background-image: url('/img/landing/info-slider-image-2.jpg')"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-md-5 col-sm-4 col-xs-4">
                        <h2 class="slide-title">
                            Продажи без головной боли
                        </h2>
                        <div class="slide-description">
                            <div>— Гарантия получение денег</div>
                            <div>— Повышение доверия покупателя</div>
                            <div>— Досудебное решение споров</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-4">
                        <div class="row">
                            <div class="col-xl-6 col-md-2 col-sm-4">
                                <div class="button-wrapper">
                                    <a href="{{ deal_create_url | trim }}#prodavczam" class="button-action button-action_type-filed">создать сделку</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="screen-slide">
            <div class="slide-image" style="background-image: url('/img/landing/info-slider-image-3.jpg')"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-5 col-sm-4 col-xs-4">
                        <h2 class="slide-title">
                            Бизнес без потерь
                        </h2>
                        <div class="slide-description">
                            Гарантии сроков исполнения, оплаты качества.
                            Юридическое,&nbsp;сопровождение Ваших сделок.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-4">
                        <div class="row">
                            <div class="col-xl-6 col-md-2 col-sm-4">
                                <div class="button-wrapper">
                                    <a href="{{ deal_create_url | trim }}" class="button-action button-action_type-filed">создать сделку</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="screen-slide">
            <div class="slide-image" style="background-image: url('/img/landing/info-slider-image-4.jpg')"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-md-5 col-sm-4 col-xs-4">
                        <h2 class="slide-title">
                            Защита всех участников сделки
                        </h2>
                        <div class="slide-description">
                            Предоставьте возможность своим клиентам совершать сделки электронной коммерции с более высоким уровнем доверия и безопасностью.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-4">
                        <div class="row">
                            <div class="col-xl-9 col-md-4 col-sm-4">
                                <div class="button-wrapper">
                                    <a href="{{ partner_button_create_url | trim }}" class="button-action button-action_type-filed">Подключить безопасную сделку</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="screen-slide">
            <div class="slide-image" style="background-image: url('/img/landing/info-slider-image-5.jpg')"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-md-5 col-sm-4 col-xs-4">
                        <h2 class="slide-title">
                            Увеличивайте конверсию
                        </h2>
                        <div class="slide-description">
                            Различные типы интеграции и индивидуальные условия сотрудничества.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-4">
                        <div class="row">
                            <div class="col-xl-9 col-md-4 col-sm-4">
                                <div class="button-wrapper">
                                    <a href="{{ partner_button_create_url | trim }}" class="button-action button-action_type-filed">Подключить безопасную сделку</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="screen-slide">
            <div class="slide-image" style="background-image: url('/img/landing/info-slider-image-6.jpg')"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-md-5 col-sm-4">
                        <h2 class="slide-title">
                            Помощь на каждом этапе сделки
                        </h2>
                        <div class="slide-description">
                            В случае возникновения вопросов вы можете обратиться к нашим <a href="#" class="open-chat-link">консультантам</a>.
                            <br>  Станьте клиентом
                            <a href="#guarant-pay-premier" data-scroll-to=".guarant-premier">GUARANT PAY PREMIER</a>, чтобы получить персонального ассистента.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-4">
                        <div class="row">
                            <div class="col-xl-6 col-md-2 col-sm-4">
                                <div class="button-wrapper">
                                    <a href="{{ deal_create_url | trim }}" class="button-action button-action_type-filed">создать сделку</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-block">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-md-2 col-sm-4">
                    <div class="row slide-controls">
                        <div class="col-xl-2 col-md-6 col-sm-2 slider-control-item">ПОКУПАТЕЛЯМ</div>
                        <div class="col-xl-2 col-md-6 col-sm-2 slider-control-item">ПРОДАВЦАМ</div>
                        <div class="col-xl-2 col-md-6 col-sm-2 slider-control-item">БИЗНЕСУ</div>
                        <div class="col-xl-2 col-md-6 col-sm-2 slider-control-item">E-COMMERCE</div>
                        <div class="col-xl-2 col-md-6 col-sm-2 slider-control-item">ПАРТНЁРАМ</div>
                        <div class="col-xl-2 col-md-6 col-sm-2 slider-control-item">ИНФОРМАЦИЯ</div>
                        <div class="slide-controls__smartline"></div>
                    </div>
                </div>
                <div class="col-xl-12 col-md-4 col-sm-4">
                    <div class="about-categories-wrapper">
                        <div class="slider-menu-header">
                            НАЗАД
                        </div>
                        <div class="about-categories">
                            <div class="about-category"></div>
                            <div class="about-category"></div>
                            <div class="about-category"></div>
                            <div class="about-category"></div>
                            <div class="about-category"></div>
                            <div class="about-category">
                                <div class="row">
                                    <div class="col-xl-4 col-md-3">
                                        <div class="category-links">
                                            <h6 class="category-links__title">Правовая информация</h6>
                                            <div><a href="{{ url('connection-contract') }}" class="category-links__link">Правовая информация</a></div>
                                            <div><a href="{{ url('policy') }}" class="category-links__link">Политика конфиденциальности</a></div>
                                            <div><a href="{{ url('terms-of-use') }}" class="category-links__link">Регламент пользования</a></div>
                                            <div><a href="{{ url('dispute-consideration-rules') }}" class="category-links__link">Регламент «Разрешение спора»</a></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-3">
                                        <div class="category-links">
                                            <h6 class="category-links__title">Инструкции</h6>
                                            <div><a href="{{ url('for-whom') }}" class="category-links__link">Для кого?</a></div>
                                            <div><a href="{{ url('what-can-buy') }}" class="category-links__link">Что можно покупать?</a></div>
                                            <div><a href="{{ url('how-it-works') }}" class="category-links__link">Как это работает?</a></div>
                                            <div><a href="{{ url('dispute-resolution') }}" class="category-links__link">Решение спора</a></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-3">
                                        <div class="category-links">
                                            <h6 class="category-links__title">О компании</h6>
                                            <div><a href="#footer-contacts" data-scroll-to="#footer-contacts" class="category-links__link">Контакы</a></div>
                                            <div><a href="#" class="category-links__link is-disabled">Согласительная комиссия</a></div>
                                            <div><a href="#" class="category-links__link is-disabled">Лицензии и сертификаты</a></div>
                                            <div><a href="#" class="category-links__link is-disabled">Социальная ответственность</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-it-works--new">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h2 class="section-title">Простая и понятная схема работы</h2>
                <div id="how-it-works-react"></div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <hr class="section-divider">
</div>

<section class="how-it-works--new how-it-works--video">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h2 class="section-title">Как это работает</h2>
                <div class="video-block">
                    <video width="100%" height="100%" controls="controls">
                        <source src="video/guarant_pay_info.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <hr class="section-divider">
</div>

<section class="deal-control section-with-image">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-2 col-sm-1 section-image section-with-image__image">
                <div class="deal-control__image-wrapper move-left js-animate">
                    <div class="section-image-wrapper">
                        <div class="deal-control__image-wrapper">
                            <img src="/img/landing/iphonewhite_new.svg" alt="Ваша сделка всегда под контролем" class="deal-control__image">
                            <img src="/img/landing/iphone-min.jpg" alt="Ваша сделка всегда под контролем" class="deal-control__screen">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-md-4 col-sm-4">
            <h3 class="section-title section-title_with-icon">
                    Ваша сделка <br> всегда под контролем
                </h3>
                <div class="section-main-content">
                    <ul>
                        <li>Получайте уведомления обо всех этапах сделки, включая согласование, оплату, отгрузку, получение</li>
                        <li>Отслеживайте движение товара прямо у нас на сайте</li>
                        <li>Прозрачный механизм разрешения споров онлайн</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <hr class="section-divider">
</div>

<section class="deal-payment section-with-image section-with-image_rtl">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-md-4 col-sm-4 deal-payment__content">
                <h3 class="section-title section-title_with-icon">Быстрая и безопасная оплата</h3>
                <div class="section-main-content">
                    <ul>
                        <li>Вам не нужно оплачивать услуги эквайринга все расходы мы берем на себя</li>
                        <li>Обработка платежа происходит через процессинговую систему, прошедшую международную сертификацию</li>
                        <li>Мы не храним ваши данные, их обработка полностью защищена</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-5 col-md-2 col-sm-1 section-with-image__image">
                <div class="js-animate move-right">
                    <div class="section-image-wrapper">
                        <div class="deal-payment__ipad">
                            <img src="/img/ipad-air.svg" alt="Быстрая и безопасная оплата" class="deal-payment__image-ipad">
                            <img src="/img/landing/deal-payment-screen.svg" alt="Быстрая и безопасная оплата" class="deal-payment__ipad-screen">
                            <img src="/img/landing/deal-payment__ipad-screen__mobile.svg" alt="Быстрая и безопасная оплата" class="deal-payment__ipad-screen_mobile">
                            <img src="/img/deal-payment-card.svg" alt="Быстрая и безопасная оплата" class="deal-payment__card">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <hr class="section-divider">
</div>

<section class="deal-protection section-with-image">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-2 col-sm-1 section-with-image__image">
                <div class="js-animate move-left">
                    <div class="section-image-wrapper">
                        <div class="deal-protection__image">
                            <div class="deal-protection__image-wrapper">
                                <img src="/img/landing/deal-contract.png" alt="Полная юридическая защита сделки">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-md-4 col-sm-4">
                <h3 class="section-title section-title_with-icon">Полная юридическая защита&nbsp;сделки</h3>
                <div class="section-main-content">
                    <ul>
                        <li>Вы получаете составленный профессиональными юристами договор купли-продажи</li>
                        <li>Эффективный механизм досудебного решения споров</li>
                        <li>Юридическая поддержка в суде при невозможности досудебного решения спора</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="guarant-premier" id="guarant-pay-premier">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-md-6">
                <h3 class="section-title">GUARANT PAY PREMIER</h3>
                <div class="guarant-premier__note">При сделках от 2 000 000 &#x20bd;</div>
                <div class="section-main-content">
                    <ul>
                        <li>Персональный ассистент на всех этапах сделки.</li>
                        <li>Индивидуальная форма договора с учётом спeцифики деятельности клиента.</li>
                        <li>Юридическое сопровождение сделки.</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="form-wrapper">
                    <form class="guarant-premier-form" action="/landing-feedback" method="post">
                        <div class="row">
                            <div class="col-xl-4 col-md-4 col-sm-4">
                                <input name="emailOrPhone" type="text" class="big-input" placeholder="Номер телефона или email">
                            </div>
                            <div class="col-xl-3 col-md-3 col-sm-4">
                                <button type="submit" class="button-action">СТАТЬ КЛИЕНТОМ</button>
                            </div>
                        </div>
                    </form>
                    <div class="col-xl-7 col-md-7 col-sm-4">
                        <div class="form-message">
                            Спасибо! Ваша заявка принята. В&nbsp;ближайшее время с&nbsp;Вами свяжутся наши менеджеры.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="footer-note">
                    Срок действия акции ограничен. Подробности акции уточняйте у наших менеджеров по телефону или через онлайн чат.
                </div>
            </div>
            <div class="guarant-premier__girl">
                <img src="/img/landing/girl_XX_shadow.png" alt="Мы предоставляем вам опытного индивидуального менеджера для проведения всех этапов безопасной сделки при сумме от 2х млн рублей">
            </div>
            <div class="guarant-premier__girl" style="opacity: .9;">
                <img src="/img/landing/girl_XX.png" alt="Мы предоставляем вам опытного индивидуального менеджера для проведения всех этапов безопасной сделки при сумме от 2х млн рублей">
            </div>
        </div>
    </div>
</section>

<section class="partners">
    <div class="container">
        <div class="partners-list">
            <div class="partner">
                <img src="/img/landing/partners/pilot.svg" alt="pilot">
            </div>
            <div class="partner">
                <img src="/img/landing/partners/acquiropay.svg" alt="acquiropay">
            </div>
            <div class="partner">
                <img src="/img/landing/partners/dpd.svg" alt="dpd">
            </div>
            <div class="partner">
                <img src="/img/landing/partners/cdek.svg" alt="cdek">
            </div>
            <div class="partner">
                <img src="/img/landing/partners/mandarin.svg" alt="mandarin">
            </div>
            <div class="partner">
                <img src="/img/landing/partners/bigservers.svg" alt="bigservers">
            </div>
            <div class="partner">
                <img src="/img/landing/partners/bank.svg" alt="bank">
            </div>
        </div>
    </div>
</section>

<section class="integration" id="integration">
    <div class="container js-animate">
        <div class="row">
            <div class="col-xl-6 col-md-6">
                <h3 class="section-title">Интеграция</h3>
                <div class="section-main-content">
                    Оставьте свой email и&nbsp;мы подготовим для&nbsp;Вас предложение по&nbsp;интеграции. Процесс интеграции занимает не&nbsp;более 2-3 часов. Для&nbsp;Вас он абсолютно бесплатен.
                </div>
            </div>
            <div class="col-xl-6 integration-main-column">
                <div class="integration-main js-animate">
                    <div class="broken-foundation"></div>
                    <div class="gp-foundation">
                        <div class="gp-foundation__nail gp-foundation__nail_pos_left-top"></div>
                        <div class="gp-foundation__nail gp-foundation__nail_pos_right-top"></div>
                        <div class="gp-foundation__nail gp-foundation__nail_pos_right-bottom"></div>
                        <div class="gp-foundation__nail gp-foundation__nail_pos_left-bottom"></div>
                        <div class="gp-foundation__content">
                            <div class="gp-foundation__company-logo">
                                <img src="/img/landing/gp-logo-dark.svg" alt="gp-logo">
                            </div>
                            <div class="gp-foundation__company-name">
                                ФУНДАМЕНТ <br>
                                ВАШЕГО БИЗНЕСА
                            </div>
                        </div>
                    </div>
                    <img src="/img/landing/integration__factory.svg" alt="Гарант Пей - занимайтесь развитием бизнеса. Безопасностью сделок займемся мы" class="integration__factory">
                    <div class="integration__box"></div>
                    <img src="/img/landing/integration__truck.svg" alt="" class="integration__truck">
                    <div class="integration__road-line"></div>

                    <div class="integration__break integration__break-1"></div>
                    <div class="integration__break integration__break-2"></div>
                    <div class="integration__break integration__break-3"></div>
                    <div class="integration__break integration__break-4"></div>
                    <div class="integration__break integration__break-5"></div>
                    <div class="integration__break integration__break-6"></div>

                    <div class="integration__stage-number integration__stage-number-1"></div>
                    <div class="integration__stage-number integration__stage-number-2"></div>
                    <div class="integration__stage-number integration__stage-number-3"></div>
                    <div class="integration__stage-number integration__stage-number-4"></div>
                    <div class="integration__stage-number integration__stage-number-5"></div>
                    <div class="integration__stage-number integration__stage-number-6"></div>

                </div>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="form-wrapper">
                    <form class="integration-form" action="/landing-feedback" method="post">
                        <h4 class="integration-form__title">Готовы начать? </h4>
                        <div class="row">
                            <div class="col-xl-6 col-md-3 col-sm-4">
                                <input type="text" class="big-input" placeholder="E-mail" name="emailOrPhone">
                            </div>
                            <div class="col-xl-4 col-md-3 col-sm-4">
                                <button type="submit" class="button-action button-action_type-filed button-action_type-filed_color-blue">ОТПРАВИТЬ</button>
                            </div>
                        </div>
                    </form>
                    <div class="form-message">
                        Спасибо! Ваша заявка принята. В&nbsp;ближайшее время с&nbsp;Вами свяжутся наши менеджеры.
                    </div>
                </div>
            </div>
            <div class="col-xl-6 integration__texts-column">
                <div class="integration__texts">
                    <div class="integration__text integration__text-1">Срыв сроков поставок</div>
                    <div class="integration__text integration__text-2">Проблемы доверия потребителя</div>
                    <div class="integration__text integration__text-3">Отсутствие юридической защиты</div>
                    <div class="integration__text integration__text-4">Проблемы с доставкой</div>
                    <div class="integration__text integration__text-5">Возможность афер в интернете</div>
                    <div class="integration__text integration__text-6">Ошибки интернет-платежей</div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'partial/new_footer.twig' %}
{{ inlineScript() }}
</div>
<!--noindex-->
<div id="phpunit-test-landing" style="display: none;">phpunit-test-landing</div>
<!--/noindex-->
{% if getApplicationEnv() == 'production' or getApplicationEnv() == 'testing' %}
    <script src="{{ basePath('build/landing.min.js?ver=' ~ front_version) }}"></script>
{% else %}
    <script src="{{ basePath('build/landing.js?ver=' ~ front_version) }}"></script>
{% endif %}
</body>
</html>