{% import 'macro/component.twig' as component %}
{% import 'macro/pageHelper.twig' as pageHelper %}

{% set identity = identity() %}
{% set front_version = versionHelper().getVersion() %}

{{ doctype() }}
<html lang="en">
<head>
    <meta charset="utf-8">
    {% autoescape false %}
        {{ headTitle('GuarantPay Beta').setSeparator(' | ').setAutoEscape(false)}}
        {{ headMeta().
        appendName('viewport', 'width=device-width, initial-scale=1.0').
        appendName('theme-color', '#ffffff').
        appendName('msapplication-TileColor', '#ffffff').
        appendHttpEquiv('X-UA-Compatible', 'IE=edge') }}
        {{ headLink({'rel':'apple-touch-icon', 'size': '180x180', 'href':basePath('favicon/apple-touch-icon.png')}).
        headLink({'rel':'icon', 'type':'image/png' , 'size': '32x32', 'href':basePath('favicon/favicon-32x32.png')}).
        headLink({'rel':'icon', 'type':'image/png' , 'size': '16x16', 'href':basePath('favicon/favicon-16x16.png')}).
        headLink({'rel':'manifest', 'href':basePath('favicon//safari-pinned-tab.svg')}).
        headLink({'rel':'mask-icon', 'href':basePath('favicon/safari-pinned-tab.svg'), color: '#5bbad5'}) }}
        {% if getApplicationEnv() == 'production' or getApplicationEnv() == 'testing' %}
            <link rel="stylesheet" type="text/css" href="{{ basePath('build/rules.min.css?ver=' ~ front_version) }}"/>
        {% else %}
            <link rel="stylesheet" type="text/css" href="{{ basePath('build/rules.css?ver=' ~ front_version) }}"/>
        {% endif %}
    {% endautoescape %}
    {% if getApplicationEnv() == 'production' and remoteServerModeHelper().getRemoteServerMode() == 'server_prod' %}
        <script type="text/javascript">
            (function(){
                if (typeof carrotquest === 'undefined') {
                    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
                    s.src = '//cdn.carrotquest.io/api.min.js';
                    var x = document.getElementsByTagName('head')[0]; x.appendChild(s);

                    carrotquest = {}; window.carrotquestasync = []; carrotquest.settings = {};
                    m = ['connect', 'track', 'identify', 'auth', 'open', 'onReady', 'addCallback', 'removeCallback', 'trackMessageInteraction'];
                    function Build(name, args){return function(){window.carrotquestasync.push(name, arguments);} }
                    for (var i = 0; i < m.length; i++) carrotquest[m[i]] = Build(m[i]);
                }
            })();
            carrotquest.connect('17167-ea923a72b34ec193e353e2ca70');
        </script>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter48985514 = new Ya.Metrika({
                            id:48985514,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            webvisor:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/48985514" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    {% endif %}
</head>
<body>
<div id="content-wrapper">
    {% include 'partial/header.twig' %}
    <div class="main">
        <section class="content">
            <div class="content__wrapper">
                <!--Content -->
                {% block content %}{% endblock content %}
                <!--End Content-->
            </div>
        </section>
    </div>
    {% include 'partial/new_footer.twig' %}
</div>
{% if getApplicationEnv() == 'production' or getApplicationEnv() == 'testing' %}
    <script src="{{ basePath('build/landing.min.js?ver=' ~ front_version) }}"></script>
{% else %}
    <script src="{{ basePath('build/landing.js?ver=' ~ front_version) }}"></script>
{% endif %}
{{ inlineScript() }}
</body>
</html>