{% import 'macro/pageHelper.twig' as pageHelper %}

<p class="TextMarked_grey" id='history-discount-request-rejected'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    <span>
        {% if deal['type_ident'] == 'T' %}
            Продавец
        {% else %}
            Исполнитель
        {% endif %}
        отклонил вариант решения спора: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей.</span>
</p>