{% import 'macro/pageHelper.twig' as pageHelper %}

<p class="TextMarked_grey" id='history-discount-request'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    <span>Вы предложили решение спора: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей.</span>
</p>
