{% import 'macro/pageHelper.twig' as pageHelper %}

<p class="TextMarked_grey" id='history-dispute-canceled'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    <span>Вы закрыли спор.</span>
</p>
