{% import 'macro/pageHelper.twig' as pageHelper %}

<p class="TextMarked_grey" id='history-closed-after-discount'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    <span>Спор по сделке закрыт. Согласовано решение: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей.</span>
</p>
