{% import 'macro/pageHelper.twig' as pageHelper %}

<p class="TextMarked_grey" id='dispute-open-for-customer'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    <span>Вы открыли спор.</span>
</p>

