{% import 'macro/pageHelper.twig' as pageHelper %}

<p class="TextMarked_grey" id='history-refund-request-rejected'>
    {% if deal_type_ident == 'T' %}
        <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
        <span>Продавец отклонил вариант решения спора: возврат товара.</span>
    {% else %}
        <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
        <span>Исполнитель отклонил вариант решения спора: отказ от услуги.</span>
    {% endif %}
</p>