{% import 'macro/pageHelper.twig' as pageHelper %}

<p class="TextMarked_grey" id='history-tribunal'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    <span>Спор передан в суд.</span>
</p>
