{% import 'macro/pageHelper.twig' as pageHelper %}

<p class="TextMarked_grey" id='history-tribunal-request-accepted'>
    <span class="TextMarked_date">{{ pageHelper.dateFormat(created, 'd.m.Y H:i')|trim }}</span>
    <span>Ваш запрос на суд принят.</span>
</p>
