{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{#
1 deal - array
2 status - success
#}
{% do headTitle('Результат операции') %}
{% block content %}
    <section class="MandarinOperationResultPage DealShowPage" id="MandarinOperationResultPage">
        {% if status == 'success' %}
            <div class="DealShowPage-Header">
                {% include 'application/deal/partial/timeline.twig'
                    with {
                    'deal':  deal,
                    'status': deal['status']['status'],
                    'dispute': dispute
                } %}
            </div>
            <section class="DealShowPage-Content">
                <div class="DealShowPage-Details">
                    <div class="DealShowPage-Main">
                        <div class="OperationResult" style="margin: 32px;">
                            <h3 class="TitleBlue">Операция обработана.</h3>
                            <a href="/deal/show/{{ deal['id'] }}">Вернуться к сделке</a>
                        </div>
                    </div>
                    <div class="DealShowPage-Description">
                        {% include 'application/partial/deal-conditions.twig'
                            with {
                            'deal': deal,
                            'is_operator': 'true'
                        }
                        %}
                        <section class="DealShowPage-Additional DealAgentsDataPlate">
                            {% include 'application/partial/deal-agents-info.twig'
                                with {
                                'deal': deal,
                                'is_operator': 'true',
                                'payment_method_requisites': []
                            }
                            %}
                        </section>
                    </div>
                </div>
            </section>
        {% else %}
            <div>
                Операция завершилась неудачей. Попробует еще раз позже.
            </div>
        {% endif %}
    </section>
{% endblock content %}