{% extends 'twig/layout/application' %}

{% block content %}
    {% do headTitle('Все сделки с проблемами (всего ' ~ paginator['totalItemCount'] ~ ')') %}
    <section class="col-xl-10 col-lg-7  col-lt-6 col-xl-offset-2 col-lg-offset-1 col-lt-offset-0 PageTable" id="TableDealsTrouble">
            <form class="FormTableWrapper" method="POST">

                <table class="TableDefault TableDealsUbnormal js-table-rows-are-link">
                    <tr class="FilterTableRow">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            {#{{ formElement(dealAbnormalForm.get('abnormal_type'))|raw }}#}
                            <select class="chosen-select" name="abnormal_type" id="abnormal_type" class="form-control" data-placeholder="Проблемы">
                                <option value=""></option>
                                <option value="">Все проблемы</option>
                                <option value="amount_not_matched">Дата истекла, оплата полностью не поступила</option>
                                <option value="amount_is_overpaid">Переплата</option>
                                <option value="date_debit_is_expired">Просрочена дата платежа</option>
                                <option value="contract_file_missing">Отсутствует файл контракта</option>
                                {{ formElement(dealAbnormalForm.get('csrf'))|raw }}
                            </select>
                        </td>
                        <td>
                            <button class="ButtonSearch" type="submit"><span>&nbsp;</span></button>
                        </td>
                    </tr>
                    <tr class="Head">
                        <td class="col__size-5">
                            №
                        <td class="col__size-20">
                            <a href="{{ sortHelper().getSortLink('name') }}" class="LinkSort">
                                <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('name')) ?' active':'' }}"></i>
                                Название
                            </a>
                        </td>
                        <td class="col__size-10">
                            <a href="{{ sortHelper().getSortLink('created') }}" class="LinkSort">
                                <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('created')) ?' active':'' }}"></i>
                                Дата создания
                            </a>
                        </td>
                        <td class="col__size-10">
                            <a href="{{ sortHelper().getSortLink('de_facto_date') }}" class="LinkSort">
                                <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('de_facto_date')) ?' active':'' }}"></i>
                                Дата оплаты
                            </a>
                        </td>
                        <td class="col__size-10">
                            <a href="{{ sortHelper().getSortLink('planned_date') }}" class="LinkSort">
                                <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('planned_date')) ?' active':'' }}"></i>
                                Срок оплаты
                            </a>
                        </td>
                        <td class="col__size-10">
                            <a href="{{ sortHelper().getSortLink('customer') }}" class="LinkSort">
                                <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('customer')) ?' active':'' }}"></i>
                                Покупатель/<br>Заказчик
                            </a>
                        </td>
                        <td class="col__size-10">
                            <a href="{{ sortHelper().getSortLink('contractor') }}" class="LinkSort">
                                <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('contractor')) ?' active':'' }}"></i>
                                Продавец/<br>Исполнитель
                            </a>
                        </td>
                        <td class="col__size-10">
                            Проблема
                        </td>
                        <td></td>
                    </tr>
                    {% if payments|length > 0 %}
                        {% for payment in payments %}
                            <tr data-path="{{ url('deal/show', {'id' : payment['deal']['id']}) }}">
                                <td>
                                    #{{ payment['deal']['id'] }}
                                </td>
                                <td class="Nowrap">
                                    {{ payment['deal']['name'] }}
                                </td>
                                <td data-label="Дата создания:">
                                    {{ payment['deal']['created'] }}
                                </td>
                                <td data-label="Дата оплаты:">
                                    {{ payment['de_facto_date'] }}
                                </td>
                                <td data-label="Срок оплаты:">
                                    {{ payment['planned_date'] }}
                                </td>
                                <td data-label="Покупатель:">
                                    {{ payment['deal']['customer'] }}
                                </td>
                                <td data-label="Продавец:">
                                    {{ payment['deal']['contractor'] }}
                                </td>
                                <td data-label="Причина:">
                                    {% for reason in payment['deal']['abnormality_reasons'] %}
                                        {{ reason }}<br/>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for key_reason,reason in payment['deal']['abnormality_reasons'] %}
                                        {% if key_reason == 'amount_is_overpaid' %}
                                            <a href="{{ url('deal/overpay', {'idDeal' : payment['deal']['id']}) }}">переплата</a>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="EmptyRow">
                            <td colspan="8">
                                В системе нет сделок, соотвествующих критериям проблемной.
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </form>
            <div id="paginator-deal-abnormal">
            {% if paginator %}
                {{ pagination.paginate(paginator) }}
            {% endif %}
            </div>
        </section>
{% endblock content %}
