{% extends 'twig/layout/application' %}

{#
1 deal
2 confirmConditionsForm
#}

{% block content %}
    {% set delivery = deal['delivery'] %}
    {% set sender_full_city_name = delivery['service']['sender_address']['full_city_name'] %}
    {% set sender_city_name = sender_full_city_name|split(',')[0] %}
    {% set receiver_full_city_name = delivery['service']['receiver_address']['full_city_name'] %}
    {% set receiver_city_name = receiver_full_city_name|split(',')[0] %}

    {% set sender_address = delivery['service']['sender_address']['flat'] ?
        sender_city_name~', ул. '~delivery['service']['sender_address']['street']~', д. '~delivery['service']['sender_address']['house']~', кв. '~delivery['service']['sender_address']['flat']
        :
        sender_city_name~', ул. '~delivery['service']['sender_address']['street']~', д. '~delivery['service']['sender_address']['house']
    %}
    {% set receiver_address = delivery['service']['receiver_address']['flat'] ?
        receiver_city_name~', ул. '~delivery['service']['receiver_address']['street']~', д. '~delivery['service']['receiver_address']['house']~', кв. '~delivery['service']['receiver_address']['flat']
        :
        receiver_city_name~', ул. '~delivery['service']['receiver_address']['street']~', д. '~delivery['service']['receiver_address']['house']
    %}

    <div class="container">
        <div class="row">
            <section class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm" id="deal_confirm_conditions">
                <div class="PageForm-Container PageForm-Container_new-design" id="deal-conditions">
                    <form class="FormView" method="POST">
                        <div class="form-content-wrap">
                            <div class="row">
                                <div class="col-xl-12">
                                    <h3 class="TitleBlue">Вы уверены, что хотите принять условия сделки?</h3>
                                </div>
                            </div>
                            <div class="row">
                                {% set is_you = '' %}
                                {% if deal['deal_role'] == 'customer' %}
                                    {% set is_you = ' (Вы)' %}
                                {% endif %}
                                <div class="col-xl-12">
                                    <div class="InfoField">
                                        <p class="InfoField-Label">
                                            {% if deal['type_ident'] == 'U' %}
                                                Заказчик {{ is_you }}:
                                            {% else %}
                                                Покупатель {{ is_you }}:
                                            {% endif %}
                                        </p>
                                        <p class="InfoField-Text">
                                            {% if deal['customer']['name'] %}
                                                {{ deal['customer']['name'] }}
                                            {% else %}
                                                {{ deal['customer']['last_name'] }}
                                                {{ deal['customer']['first_name'] }}
                                                {{ deal['customer']['secondary_name'] }}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {% set is_you = '' %}
                                {% if deal['deal_role'] == 'contractor' %}
                                    {% set is_you = ' (Вы)' %}
                                {% endif %}
                                <div class="col-xl-12">
                                    <div class="InfoField">
                                        <p class="InfoField-Label">
                                            {% if deal['type_ident'] == 'U' %}
                                                Исполнитель {{ is_you }}:
                                            {% else %}
                                                Продавец {{ is_you }}:
                                            {% endif %}
                                        </p>
                                        <p class="InfoField-Text">
                                            {% if deal['contractor']['name'] %}
                                                {{ deal['contractor']['name'] }}
                                            {% else %}
                                                {{ deal['contractor']['last_name'] }}
                                                {{ deal['contractor']['first_name'] }}
                                                {{ deal['contractor']['secondary_name'] }}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="InfoField">
                                        <p class="InfoField-Label">Название
                                            {% if deal['type_ident'] == 'U' %}
                                                услуги:
                                            {% else %}
                                                товара:
                                            {% endif %}
                                        </p>
                                        <p class="InfoField-Text">
                                            {{ deal['full_name'] }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="InfoField">
                                        <p class="InfoField-Label">Описание
                                            {% if deal['type_ident'] == 'U' %}
                                                услуги:
                                            {% else %}
                                                товара:
                                            {% endif %}
                                        </p>
                                        <p class="InfoField-Text">{{ deal['addon_terms'] }}</p>
                                    </div>
                                </div>
                            </div>
                            {% if deal['delivery']['service'] %}
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="InfoField">
                                            <p class="InfoField-Label">Доставка (оплачивает продавец):</p>
                                            <p class="InfoField-Text">
                                                {{ delivery['service_type_name'] }} курьерская
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="InfoField">
                                            <p class="InfoField-Label">Адрес отправки (пункт приема):</p>
                                            <p class="InfoField-Text">
                                                {{ sender_address }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="InfoField">
                                            <p class="InfoField-Label">Адрес получения:</p>
                                            <p class="InfoField-Text">
                                                {{ receiver_address }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="InfoField">
                                            <p class="InfoField-Label">Предварительная стоимость доставки:</p>
                                            <p class="InfoField-Text pre-shipping-cost">
                                                {#{{ delivery['amount'] }} Р.#}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="InfoField">
                                            <p class="InfoField-Label">Срок доставки:</p>
                                            <p class="InfoField-Text delivery-time-period">
                                                {#{{ delivery['term'] }}#}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="InfoField">
                                        <p class="InfoField-Label">
                                            {% if deal['type_ident'] == 'U' %}
                                                Цена услуги:
                                            {% else %}
                                                Цена товара:
                                            {% endif %}
                                        </p>
                                        <p class="InfoField-Text">
                                            {% if deal['is_customer'] or is_operator %}
                                                {{ deal['customer_amount'] }}&nbsp;р.
                                            {% else %}
                                                {{ deal['contractor_amount'] }}&nbsp;р.
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="InfoField">
                                        <p class="InfoField-Label">Комиссия сервиса:</p>
                                        <p class="InfoField-Text">
                                            {% if is_operator %}
                                                {{ deal['fee_amount'] }}&nbsp;р.
                                            {% elseif deal['is_customer'] %}
                                                {{ deal['fee_amount'] }}&nbsp;р.
                                            {% else %}
                                                {{ deal['fee_amount'] }}&nbsp;р.
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="InfoField">
                                        <p class="InfoField-Label">Кто оплачивает комиссию:</p>
                                        <p class="InfoField-Text">
                                            {% set fee_payer_option_text = deal['fee_payer_option_name'] %}

                                            {% if deal['type_ident'] == 'U' %}
                                                {% if deal['fee_payer_option_name'] == 'Покупатель' %}
                                                    {% set fee_payer_option_text = 'Заказчик' %}
                                                {% elseif deal['fee_payer_option_name'] == 'Продавец' %}
                                                    {% set fee_payer_option_text = 'Исполнитель' %}
                                                {% endif %}
                                            {% endif %}
                                            {{ fee_payer_option_text }}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            {#<div class="row">#}
                                {#<div class="col-xl-12">#}
                                    {#<div class="InfoField">#}
                                        {#<p class="InfoField-Label">Дата создания:</p>#}
                                        {#<p class="InfoField-Text">#}
                                            {#{{ deal['created'] }}#}
                                        {#</p>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            <div class="row ButtonsRow">
                                <div class="col-xl-6 col-sm-2 col-xs-4">
                                    {{ form().openTag(confirmConditionsForm)|raw }}
                                    {{ formElement(confirmConditionsForm.get('csrf'))|raw }}
                                    {{ formElement(confirmConditionsForm.get('confirm'))|raw }}
                                    <button type="submit" value="" class="ButtonApply margin-right" data-ripple-button="">
                                        <span class="ripple-text">Да, я принимаю условия</span>
                                    </button>
                                    {{ form().closeTag()|raw }}
                                </div>
                                <div class="col-xl-6 col-sm-2 col-xs-4">
                                    <a class="ButtonRefuse"
                                       href="{{ url('deal/edit', {'id' : deal['id']}) }}" data-ripple-button="">
                                        <span class="ripple-text">Нет, изменить условия</span>
                                    </a>
                                </div>
                            </div>

                        </div>

                        {{ formElement(confirmConditionsForm.get('csrf'))|raw }}
                        {{ formElement(confirmConditionsForm.get('confirm'))|raw }}
                    </form>
                </div>
            </section>
        </div>
    </div>
    <div id="dpd-delivery-data" data-sender_city_id="{{ delivery['service']['sender_address']['city_id'] }}" data-receiver_city_id="{{ delivery['service']['receiver_address']['city_id'] }}" data-weight="{{ delivery['service']['parcels'][0]['weight'] }}" data-terminal_code="{{ delivery['service']['sender_address']['terminal_code'] }}" data-csrf="{{ confirmConditionsForm.get('csrf').getValue() }}" data-date_pickup="{{ deal['delivery']['service']['date_pickup'] }}"></div>
{% endblock content %}