{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{#
1 deal
2 trackingNumberForm
#}
{% do headTitle('Добавление трек-номера') %}
{% block content %}
<section class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm" id="section_tracking_number">
    <div class="PageForm-Container PageForm-Container_large">
        <div class="FormInline">

            <h3 class="TitleBlue">Добавление трек-номера к сделке</h3>
            {{ form().openTag(trackingNumberForm)|raw }}

                {{ formElement(trackingNumberForm.get('csrf'))|raw }}

                <div class="Input-Wrapper">
                    {{ formLabel(trackingNumberForm.get('tracking_number'))|raw }}
                    {{ formElement(trackingNumberForm.get('tracking_number'))|raw }}
                    <div class="FormError">{{ formElementErrors(trackingNumberForm.get('tracking_number'))|raw }}</div>
                </div>

                <div class="FormError">{{ formElementErrors(trackingNumberForm.get('csrf'))|raw }}</div>

                <div class="ButtonsRow">
                    <button type="submit" class="ButtonApply">Добавить</button>
                </div>
            {{ form().closeTag()|raw }}
        </div>
    </div>
</section>
{% endblock content %}