{% extends 'twig/layout/application' %}
{#
  dealForm
  token_data = [
      'deal_role' => string 'customer'
      'deal_type' => int 23
      'amount' => float 10000
      'counteragent_email' => string 'r.akhmetov@simple-tech.org'
      'counteragent_civil_law_subject' => 34
      'counteragent_name' => ИП Роналду Криштиану Португалович
  ]
#}
{% do headTitle('Добавление сделки') %}
{% block content %}
    {% set sectionClasses = "col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0" %}
    {% if identity == null %}
        {% set sectionClasses = "form-centered" %}
    {% endif %}
    <section class="{{ sectionClasses }} PageForm" id="deal_create_section">
        <div class="PageForm-Container PageForm-Container_large page-form-deal-container" id="FormPartnerDeal">
            <div class="PageForm-Container_new-design">
                <form class="FormLabelTop form-deal" method="POST" enctype="multipart/form-data" id="deal-partner-create-form" action="{{ form_action }}">
                    {{ formElement(dealForm.get('csrf'))|raw }}
                    {#<h3 class="TitleBlue">Добавление сделки</h3>#}
                    <div class="header flex">
                        <div class="Logo">
                            <div class="Logo-Img">
                                <img src="{{ basePath('/img/logo.svg') }}" alt="Логотип">
                            </div>
                            <p class="Logo-Text"></p>
                        </div>
                        <div class="date-create">
                            <h3>Дата создания</h3>
                            <p>{{ "now"|date("d.m.Y")~'г.' }}</p>
                        </div>
                    </div>
                    <div class="head-of-element">
                        Создание сделки
                    </div>

                    <h2>
                        Вы создаете сделку с {{ token_data['counteragent_name'] }}
                    </h2>
                    <div class="form-content-wrap">

                        {% if token_data['deal_role'] is null %}
                        <div class="grid-row">
                            <div class="grid-col-4">
                                <div class="grid-col-2">
                                    <div class="Input-Wrapper">
                                        {{ formLabel(dealForm.get('deal_type'))|raw }}
                                        {{ formElement(dealForm.get('deal_type'))|raw }} {# значения и итрибуты устанавливаются на бэке #}

                                        <div class="FormError">{{ formElementErrors(dealForm.get('deal_type'))|raw }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if user is null %}
                        <div class="grid-row">
                            <div class="grid-col-4">
                                <div class="grid-col-2">
                                    <div class="Input-Wrapper">
                                        {{ formLabel(dealForm.get('agent_email'))|raw }}
                                        {{ formElement(dealForm.get('agent_email'))|raw }}

                                        <div class="FormError">{{ formElementErrors(dealForm.get('agent_email'))|raw }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        <div  class="grid-row">
                            <div class="grid-col-4">
                                <div class="Input-Wrapper">
                                    {{ formLabel(dealForm.get('name'))|raw }}
                                    {{ formElement(dealForm.get('name'))|raw }}
                                    {#{{ formElement(dealForm.get('name'))|raw }}#}
                                    {#<p class="note-red">Поле не может быть пустым!</p>#}
                                    <div class="FormError">{{ formElementErrors(dealForm.get('name'))|raw }}</div>
                                </div>
                            </div>
                        </div>

                        <div  class="grid-row">
                            <div class="grid-col-4">
                                <div class="Input-Wrapper">
                                    {#{{ formLabel(dealForm.get('addon_terms'))|raw }}#}
                                    <label for="addon_terms">Описание товара/услуги</label>
                                    {{ formElement(dealForm.get('addon_terms'))|raw }}
                                    {#<textarea name="addon_terms" id="addon_terms" class="form-control"#}
                                              {#placeholder="Введите описание"></textarea>#}
                                    <div class="FormError">{{ formElementErrors(dealForm.get('addon_terms'))|raw }}</div>
                                </div>
                            </div>
                        </div>

                        <div  class="grid-row">
                            <div class="grid-col-4 flex-start">
                                <div class="grid-col-2">
                                    <div class="Input-Wrapper">
                                        <label for="amount">Цена товара (в рублях):</label>
                                        {{ formElement(dealForm.get('amount'))|raw }} {# значения и атрибуты устанавливаются на бэке #}

                                        <div class="FormError">{{ formElementErrors(dealForm.get('amount'))|raw }}</div>
                                    </div>
                                </div>
                                <div class="grid-col-2">
                                    <div class="Input-Wrapper">
                                        {#{{ formLabel(dealForm.get('delivery_period'))|raw }}#}
                                        {#{{ formElement(dealForm.get('delivery_period'))|raw }}#}
                                        <label for="delivery_period">Срок доставки и проверки (дней):</label>
                                        <input type="number" name="delivery_period" id="delivery_period" class="form-control"
                                               placeholder="1 день" value="">
                                        <div class="FormError">{{ formElementErrors(dealForm.get('delivery_period'))|raw }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div  class="grid-row">
                            <div class="grid-col-4">
                                <div class="Input-Wrapper">
                                    <label for="file">Файл</label>
                                    <div class="InputFile js-download-file">
                                        <span class="InputFile-Container">
                                            <mark data-text-default="Выберите файл..." class="notChange">Выберите файл...</mark>
                                            <input name="files[]" id="file" type="file" multiple="multiple">
                                            <span class="InputFile-Delete js-clear-download-file"></span>
                                        </span>
                                    </div>
                                    <div class="FormError">{{ formElementErrors(dealForm.get('files'))|raw }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="grid-row row-fee-payer">
                            <div class="grid-col-4">
                                {% set feePayerOptions = dealForm.get('fee_payer_option').getOptions()['value_options'] %}
                                {% set feePayerOptionActive = dealForm.get('fee_payer_option').getValue() %}
                                {% set feePayerOptionRadioButtons = [] %}
                                {% for value, label  in feePayerOptions %}
                                    {% if feePayerOptionActive == value %}
                                        {% set checked = 'checked="checked"' %}
                                    {% else %}
                                        {% set checked = 'checked=""' %}
                                    {% endif %}
                                    {% set feePayerOptionRadioButtons = feePayerOptionRadioButtons|merge({(label):{'name':label, 'value':value, 'checked': checked}}) %}

                                {% endfor %}

                                <div class="Input-Wrapper">
                                    <label for="fee_payer_option">Кто оплачивает коммиссию:</label>
                                    <div class="InputRadio flex">
                                        <div class="grid-col-2">
                                            <input type="radio" name="fee_payer_option" id="fee_payer_option" value="{{ feePayerOptionRadioButtons['Покупатель']['value'] }}" {{ feePayerOptionRadioButtons['Покупатель']['checked'] }} >
                                            <label for="fee_payer_option" class="label-radiobutton">
                                                <span class="radiobutton"></span>
                                                <span>{{ feePayerOptionRadioButtons['Покупатель']['name'] }}</span>
                                            </label>
                                            <input type="radio" name="fee_payer_option" id="fee_payer_option_2" value="{{ feePayerOptionRadioButtons['Продавец']['value'] }}" {{ feePayerOptionRadioButtons['Продавец']['checked'] }}>
                                            <label for="fee_payer_option_2" class="label-radiobutton">
                                                <span class="radiobutton"></span>
                                                <span>{{ feePayerOptionRadioButtons['Продавец']['name'] }}</span>
                                            </label>
                                        </div>
                                        <div class="grid-col-2">
                                            <input type="radio" name="fee_payer_option" id="fee_payer_option_3" value="{{ feePayerOptionRadioButtons['50/50']['value'] }}" {{ feePayerOptionRadioButtons['50/50']['checked'] }}>
                                            <label for="fee_payer_option_3" class="label-radiobutton">
                                                <span class="radiobutton"></span>
                                                <span>{{ feePayerOptionRadioButtons['50/50']['name'] }}</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="FormError">{{ formElementErrors(dealForm.get('fee_payer_option'))|raw }}</div>
                                {#{{ formLabel(dealForm.get('fee_payer_option'))|raw }}#}
                                {#{{ formElement(dealForm.get('fee_payer_option'))|raw }}#}
                            </div>
                        </div>

                        {#<div class="grid-row">#}
                            {#<div class="grid-col-4 col-email">#}
                                {#<div class="Input-Wrapper">#}
                                    {#{{ formLabel(dealForm.get('counteragent_email'))|raw }}#}
                                    {#{{ formElement(dealForm.get('counteragent_email'))|raw }} #}{# значения и итрибуты устанавливаются на бэке #}

                                    {#<div class="FormError">{{ formElementErrors(dealForm.get('counteragent_email'))|raw }}</div>#}
                                    {#<p class="Note">На email контрагента будет отправлено приглашение присоединиться к сделке.</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}

                        <div class="grid-row rules-agree">
                            <div class="grid-col-4">
                                <div class="Input-Wrapper">
                                    <div class="flex">
                                        <input id="check-agree-rules" type="checkbox">
                                        <label for="check-agree-rules">Нажимая на кнопку “Создать сделку”, вы соглашаетесь с <a
                                                    href="{{ url('terms-of-use') }}" target="_blank" class="info-link">регламентом
                                                пользования сервиса.</a></label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="FormError">{{ formElementErrors(dealForm.get('csrf'))|raw }}</div>
                        <div class="ButtonsRow">
                            <button type="submit" value="" class="button-grey">Создать сделку</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}