{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{% if is_form_natural_person == true or is_form_legal_entity == true %}
    {% if is_form_legal_entity == true %}
        {% set blockLeglaEntityActiveClass = 'active' %}
        {% set radioLeglaEntityChecked = 'checked="checked"' %}
        {% set blockNaturalPersonActiveClass = '' %}
        {% set radioNaturalPersonChecked = '' %}
    {% else %}
        {% set blockLeglaEntityActiveClass = '' %}
        {% set radioLeglaEntityChecked = '' %}
        {% set blockNaturalPersonActiveClass = 'active' %}
        {% set radioNaturalPersonChecked = 'checked="checked"' %}
    {% endif %}
    {% set blockCivilTypeActiveClass = 'active' %}
    {% set blockCivilAllowedActiveClass = '' %}
{% else %}
    {% set blockCivilTypeActiveClass = '' %}
    {% set blockCivilAllowedActiveClass = 'active' %}
    {% set blockNaturalPersonActiveClass = 'active' %}
    {% set radioNaturalPersonChecked = 'checked="checked"' %}
{% endif %}
{#
1 deal
2 naturalPersonForm
3 legalEntityForm
4 allowedCivilLawSubjectForm
5 is_form_natural_person
6 is_form_legal_entity
#}
{% block content %}
    <style>
        .tab-block-button {
            text-decoration: none !important;
            border-bottom: 1px dashed #4185f4 !important;
        }

        .tab-block-button:hover {
            text-decoration: none !important;
            border-bottom: 1px dashed transparent !important;
        }

        .tab-block {
            display: none;
            animation: fadeEffect .5s; /* Fading effect takes 1 second */
        }

        .tab-block.active {
            display: block;
        }

        /* Go from zero to full opacity */
        @keyframes fadeEffect {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        #new_civil label {
            display: inline;
            width: auto;
            margin-bottom: 0;
            max-width: none;
            padding-left: 0;
        }

        #new_civil input[type="radio"] {
            display: inline;
            width: auto;
            margin: 0;
            padding: 0;
        }

        .civil-type-part {
            display: inline-block;
            padding-right: 10px;
        }

        .civil-type {
            padding-top: 20px;
            padding-bottom: 30px;
        }
    </style>
    <section class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm">
        <div class="PageForm-Container PageForm-Container_large">
            <div class="FormLabelTop">

                <h3 class="TitleBlue">Добавление субъекта права к сделке</h3>
                {# first block #}
                <div id="allowed_civil" class="js-tab-block tab-block {{ blockCivilAllowedActiveClass }}">
                    <form class="js-allowed-civils-form" name="allowed-civils-add-form" method="post">



                        <div class="Input-Wrapper">
                            <label for="list-civils">Вы будете участвовать в сделке как:</label>
                            {{ formElement(allowedCivilLawSubjectForm.get('civil_law_subject_id'))|raw }}
                            <div class="FormError">{{ formElementErrors(allowedCivilLawSubjectForm.get('civil_law_subject_id'))|raw }}</div>
                        </div>

                        <div class="LinksRow">
                            <a class="tab-block-button" href="javascript:void(0);"
                               onclick="openForm(event, 'new_civil')">
                                добавить нового
                            </a>
                        </div>

                        <div class="ButtonsRow">
                            <button class="ButtonApply">Сохранить</button>
                        </div>
                    </form>
                </div>
                {# second block #}
                <div id="new_civil" class="js-tab-block tab-block {{ blockCivilTypeActiveClass }}">
                    <div class="LinksRow">
                        <a class="tab-block-button" href="javascript:void(0);"
                           onclick="openForm(event, 'allowed_civil')">
                            выбрать сушествующего
                        </a>
                    </div>

                    <div class="civil-type">
                        <div class="civil-type-part">
                            <label for="civil-natural-person">Физическое лицо</label>
                            <input id="civil-natural-person" type="radio" name="civil_type"
                                   value="natural-person" {{ radioNaturalPersonChecked }}
                                   onchange="openFormType(event, 'type-natural-person')">
                        </div>
                        <div class="civil-type-part">
                            <label for="civil-legal-entity">Юридическое лицо</label>
                            <input id="civil-legal-entity" type="radio" name="civil_type"
                                   value="legal-entity" {{ radioLeglaEntityChecked }}
                                   onchange="openFormType(event, 'type-legal-entity')">
                        </div>
                    </div>
                    <div id="type-natural-person" class="js-tab-block2 tab-block {{ blockNaturalPersonActiveClass }}">
                        <form method="post" id="FormNaturalPersonSingle1" data-deal="true">
                            <input type="hidden" name="current_action" value="form-natural-person">
                            {{ formElement(naturalPersonForm.get('csrf'))|raw }}

                            <div class="Input-Wrapper">
                                {{ formLabel(naturalPersonForm.get('last_name'))|raw }}
                                {{ formElement(naturalPersonForm.get('last_name'))|raw }}
                                <div class="FormError">{{ formElementErrors(naturalPersonForm.get('last_name'))|raw }}</div>
                            </div>

                            <div class="Input-Wrapper">
                                {{ formLabel(naturalPersonForm.get('first_name'))|raw }}
                                {{ formElement(naturalPersonForm.get('first_name'))|raw }}
                                <div class="FormError">{{ formElementErrors(naturalPersonForm.get('first_name'))|raw }}</div>
                            </div>

                            <div class="Input-Wrapper">
                                {{ formLabel(naturalPersonForm.get('secondary_name'))|raw }}
                                {{ formElement(naturalPersonForm.get('secondary_name'))|raw }}
                                <div class="FormError">{{ formElementErrors(naturalPersonForm.get('secondary_name'))|raw }}</div>
                            </div>

                            <div class="Input-Wrapper">
                                {{ formLabel(naturalPersonForm.get('birth_date'))|raw }}
                                {{ formElement(naturalPersonForm.get('birth_date'))|raw }}
                                <div class="FormError">{{ formElementErrors(naturalPersonForm.get('birth_date'))|raw }}</div>
                            </div>

                            <div class="FormError">{{ formElementErrors(naturalPersonForm.get('csrf'))|raw }}</div>

                            <div class="ButtonsRow">
                                <button type="submit" class="ButtonApply">Сохранить</button>
                            </div>
                        </form>
                    </div>

                    <div id="type-legal-entity" class="js-tab-block2 tab-block {{ blockLeglaEntityActiveClass }}">
                        <form method="post" id="FormLegalEntity1" data-deal="true">
                            <input type="hidden" name="current_action" value="form-legal-entity">
                            {{ formElement(legalEntityForm.get('csrf'))|raw }}
                            <div class="Input-Wrapper">
                                {{ formLabel(legalEntityForm.get('name'))|raw }}
                                {{ formElement(legalEntityForm.get('name'))|raw }}
                                <div class="FormError">{{ formElementErrors(legalEntityForm.get('name'))|raw }}</div>
                            </div>

                            <div class="Input-Wrapper">
                                {{ formLabel(legalEntityForm.get('legal_address'))|raw }}
                                {{ formElement(legalEntityForm.get('legal_address'))|raw }}
                                <div class="FormError">{{ formElementErrors(legalEntityForm.get('legal_address'))|raw }}</div>
                            </div>

                            <div class="Input-Wrapper">
                                {{ formLabel(legalEntityForm.get('inn'))|raw }}
                                {{ formElement(legalEntityForm.get('inn'))|raw }}
                                <div class="FormError">{{ formElementErrors(legalEntityForm.get('inn'))|raw }}</div>
                            </div>

                            <div class="Input-Wrapper">
                                {{ formLabel(legalEntityForm.get('kpp'))|raw }}
                                {{ formElement(legalEntityForm.get('kpp'))|raw }}
                                <div class="FormError">{{ formElementErrors(legalEntityForm.get('kpp'))|raw }}</div>
                            </div>

                            <div class="Input-Wrapper">
                                {{ formLabel(legalEntityForm.get('nds_type'))|raw }}
                                {{ formElement(legalEntityForm.get('nds_type'))|raw }}
                                <div class="FormError">{{ formElementErrors(legalEntityForm.get('nds_type'))|raw }}</div>
                            </div>

                            <div class="ButtonsRow">
                                <button type="submit" class="ButtonApply">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function openForm(evt, blockName) {
            // Declare all variables
            var i, civilBlock;
            civilBlock = document.getElementsByClassName("js-tab-block");
            for (i = 0; i < civilBlock.length; i++) {
                civilBlock[i].style.display = "none";
                civilBlock[i].className = civilBlock[i].className.replace(" active", "");
            }
            document.getElementById(blockName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        function openFormType(evt, blockName) {
            // Declare all variables
            var i, civilTypeBlock;
            civilTypeBlock = document.getElementsByClassName("js-tab-block2");
            for (i = 0; i < civilTypeBlock.length; i++) {
                civilTypeBlock[i].style.display = "none";
                civilTypeBlock[i].className = civilTypeBlock[i].className.replace(" active", "");
            }
            document.getElementById(blockName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
{% endblock content %}