{% extends 'twig/layout/application' %}
{#
  dealForm,
  type_form - тип формы сделки (например, покупатель-услуга)
#}

{% do headTitle('Добавление сделки') %}
{% block content %}
    {# id форм сделки в зависимости от того на какой url мы пришли #}
    {%
        set ids = {
            'service_contractor': 'form-deal-service-contractor',
            'service_customer': 'form-deal-service-customer',
            'product_contractor': 'form-deal-product-contractor',
            'product_customer': 'form-deal-product-customer',
            'default': 'FormDeal'
        }
    %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm" id="deal_create_section">
        <div class="PageForm-Container page-form-deal-container" id="{{ ids[type_form] }}">
            <form class="FormLabelTop form-deal" method="POST" id="deal-create-form" enctype="multipart/form-data">
                    {{ formElement(dealForm.get('csrf'))|raw }}
                    {#<h3 class="TitleBlue">Добавление сделки</h3>#}
                    <div class="header flex">
                        <div class="Logo">
                            <div class="Logo-Img">
                                <img src="{{ basePath('/img/logo.svg') }}" alt="Логотип">
                            </div>
                            <p class="Logo-Text"></p>
                        </div>
                        <div class="date-create">
                            <h3>Дата создания</h3>
                            <p>{{ "now"|date("d.m.Y")~'г.' }}</p>
                        </div>
                    </div>
                    <div class="head-of-element">
                        Создание сделки
                    </div>
                    <div class="form-content-wrap">
                        <div class="row nested-row">
                            <div class="col-xl-6 col-sm-4">
                                <div class="Input-Wrapper">
                                    {{ formLabel(dealForm.get('deal_type'))|raw }}
                                    {#<select class="stroke-green" name="deal_type" id="deal_type">#}
                                        {#<option value="">Выберите тип сделки:</option>#}
                                        {#<option value="15">Услуга</option>#}
                                        {#<option value="16">Товар</option>#}
                                    {#</select>#}
                                    {{ formElement(dealForm.get('deal_type'))|raw }}

                                    <div class="FormError">{{ formElementErrors(dealForm.get('deal_type'))|raw }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="grid-row">
                            <div class="row nested-row">
                                <div class="col-xl-6 col-sm-4">
                                    <div class="Input-Wrapper">
                                        {{ formLabel(dealForm.get('deal_role'))|raw }}
                                        {#{{ formElement(dealForm.get('deal_role'))|rasw }}#}
                                        <div class="InputRadio">
                                            <input type="radio" name="deal_role" id="deal_role" placeholder="Ваша роль в сделке:" value="customer">
                                            <label class="label-radiobutton" for="deal_role">
                                    <span class="radiobutton">
                                    </span>
                                                <span>Покупатель</span>
                                            </label>
                                            <input id="deal_role_2" type="radio" name="deal_role" placeholder="Ваша роль в сделке:" value="contractor">
                                            <label class="label-radiobutton" for="deal_role_2">
                                    <span class="radiobutton">
                                    </span>
                                                <span>Продавец</span>
                                            </label>
                                        </div>
                                        <div class="FormError">{{ formElementErrors(dealForm.get('deal_role'))|raw }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div  class="grid-row">
                            <div class="Input-Wrapper">
                                {{ formLabel(dealForm.get('name'))|raw }}
                                <input type="text" name="name" id="name" placeholder="Введите название" value="">
                                {#{{ formElement(dealForm.get('name'))|raw }}#}
                                {#<p class="note-red">Поле не может быть пустым!</p>#}
                                <div class="FormError">{{ formElementErrors(dealForm.get('name'))|raw }}</div>
                            </div>
                        </div>

                        <div  class="grid-row">
                            <div class="Input-Wrapper">
                                {#{{ formLabel(dealForm.get('addon_terms'))|raw }}#}
                                {#{{ formElement(dealForm.get('addon_terms'))|raw }}#}
                                <label for="addon_terms">Описание товара/услуги</label>
                                <textarea name="addon_terms" id="addon_terms" class="form-control"
                                          placeholder="Введите описание"></textarea>
                                <div class="FormError">{{ formElementErrors(dealForm.get('addon_terms'))|raw }}</div>
                            </div>
                        </div>

                        <div  class="grid-row">
                            <div class="row nested-row">
                                <div class="col-xl-6 col-md-6">
                                    <div class="Input-Wrapper">
                                        <label for="amount">Цена товара (в рублях):</label>
                                        <input type="number" name="amount" id="amount" placeholder="Введите цену" value="">
                                        {#<p class="note-green">Цена товара указывается в рублях.</p>#}
                                        <div class="FormError">{{ formElementErrors(dealForm.get('amount'))|raw }}</div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6">
                                    <div class="Input-Wrapper">
                                        {#{{ formLabel(dealForm.get('delivery_period'))|raw }}#}
                                        {#{{ formElement(dealForm.get('delivery_period'))|raw }}#}
                                        <label for="delivery_period">Срок доставки и проверки (дней):</label>
                                        <input type="number" name="delivery_period" id="delivery_period" class="form-control"
                                               placeholder="1 день" value="">
                                        <div class="FormError">{{ formElementErrors(dealForm.get('delivery_period'))|raw }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div  class="grid-row">
                            <div class="grid-col-4">
                                <div class="Input-Wrapper">
                                    <label for="file">Файл</label>
                                    <div class="InputFile js-download-file">
                                        <span class="InputFile-Container">
                                            <mark data-text-default="Выберите файл..." class="notChange">Выберите файл...</mark>
                                            <input name="files[]" id="file" type="file" multiple="multiple">
                                            <span class="InputFile-Delete js-clear-download-file"></span>
                                        </span>
                                    </div>
                                    <div class="FormError">{{ formElementErrors(dealForm.get('files'))|raw }}</div>
                                </div>
                            </div>
                        </div>

                        <div class=" row-fee-payer">
                            {% set feePayerOptions = dealForm.get('fee_payer_option').getOptions()['value_options'] %}
                            {% set feePayerOptionActive = dealForm.get('fee_payer_option').getValue() %}
                            {% set feePayerOptionRadioButtons = [] %}
                            {% for value, label  in feePayerOptions %}
                                {% if feePayerOptionActive == value %}
                                    {% set checked = 'checked="checked"' %}
                                {% else %}
                                    {% set checked = 'checked=""' %}
                                {% endif %}
                               {% set feePayerOptionRadioButtons = feePayerOptionRadioButtons|merge({(label):{'name':label, 'value':value, 'checked': checked}}) %}

                            {% endfor %}

                            <div class="Input-Wrapper">
                                <label for="fee_payer_option">Кто оплачивает коммиссию:</label>
                                <div class="InputRadio flex">
                                    <div class="grid-col-2">
                                        <input type="radio" name="fee_payer_option" id="fee_payer_option" value="{{ feePayerOptionRadioButtons['Покупатель']['value'] }}" {{ feePayerOptionRadioButtons['Покупатель']['checked'] }} >
                                        <label for="fee_payer_option" class="label-radiobutton">
                                            <span class="radiobutton"></span>
                                            <span>{{ feePayerOptionRadioButtons['Покупатель']['name'] }}</span>
                                        </label>
                                        <input type="radio" name="fee_payer_option" id="fee_payer_option_2" value="{{ feePayerOptionRadioButtons['Продавец']['value'] }}" {{ feePayerOptionRadioButtons['Продавец']['checked'] }}>
                                        <label for="fee_payer_option_2" class="label-radiobutton">
                                            <span class="radiobutton"></span>
                                            <span>{{ feePayerOptionRadioButtons['Продавец']['name'] }}</span>
                                        </label>
                                    </div>
                                    <div class="grid-col-2">
                                        <input type="radio" name="fee_payer_option" id="fee_payer_option_3" value="{{ feePayerOptionRadioButtons['50/50']['value'] }}" {{ feePayerOptionRadioButtons['50/50']['checked'] }}>
                                        <label for="fee_payer_option_3" class="label-radiobutton">
                                            <span class="radiobutton"></span>
                                            <span>{{ feePayerOptionRadioButtons['50/50']['name'] }}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="FormError">{{ formElementErrors(dealForm.get('fee_payer_option'))|raw }}</div>
                            {#{{ formLabel(dealForm.get('fee_payer_option'))|raw }}#}
                            {#{{ formElement(dealForm.get('fee_payer_option'))|raw }}#}
                        </div>

                        <div class="grid-row">
                            <div class="row nested-row flex">
                                <div class="col-xl-6 col-sm-4">
                                    <div class="Input-Wrapper">
                                        {{ formLabel(dealForm.get('deal_civil_law_subject'))|raw }}
                                        {{ formElement(dealForm.get('deal_civil_law_subject'))|raw }}
                                        <div class="FormError">{{ formElementErrors(dealForm.get('deal_civil_law_subject'))|raw }}</div>
                                        {#<p class="Note">Лицо, представляющее вас в сделке.</p>#}
                                    </div>
                                </div>
                                <div class="col-xl-6 col-sm-4">
                                    {# ссылка на добавление civilLawSubject #}
                                    <div class="LinksRow">
                                        <a class="icon-add-users" href="{{ url('user-profile/natural-person-form-create') }}">Физ.лицо</a>
                                        <a class="icon-add-users" href="{{ url('user-profile/legal-entity-form-create') }}">Юр. лицо</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {#Если продавец, для реакта#}
                        {#<div class="Input-Wrapper" id="payment_method">#}
                                {#<label>Выберите метод оплаты:</label>#}
                                {#<div class="flex-start">#}
                                    {#<div class="col-form-2">#}
                                        {#<label for="payment_method">Метод получения оплаты:</label>#}
                                        {#{{ formElement(dealForm.get('payment_method'))|raw }}#}
                                        {#<div class="FormError">{{ formElementErrors(dealForm.get('payment_method'))|raw }}</div>#}

                                        {#<div class="SelectImitation">#}
                                            {#<div class="SelectImitation-Container">#}
                                                {#<label for="dropdown-input-type-of-payment-method"#}
                                                       {#class="SelectImitation-Text">Выберите метод оплаты</label>#}
                                                {#<input type="checkbox" id="dropdown-input-type-of-payment-method"#}
                                                       {#class="SelectImitation-Checkbox">#}
                                                {#<ul class="SelectImitation-Menu">#}
                                                    {#<li>Банковский перевод</li>#}
                                                    {#<li>Быстрый банковский перевод</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<p class="Note">Куда будут выплачены деньги за товар</p>#}
                                    {#</div>#}
                                    {#<div class="col-form-2">#}
                                        {# ссылка на добавление paymentMethod #}
                                        {#<a href="{{ url('payment-method-create-with-deal', {'idDeal': deal['id']}) }}"#}
                                           {#class="ButtonApply button-add-payment-method">#}
                                            {#<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">#}
                                                {#<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16">#}
                                                    {#<path fill-rule="evenodd" clip-rule="evenodd"#}
                                                          {#d="M10.2665 14.683C9.55453 14.925 8.79356 15.063 7.9996 15.063C4.1058 15.063 0.937954 11.895 0.937954 8C0.937954 4.106 4.1058 0.938 7.9996 0.938C11.8944 0.938 15.0623 4.106 15.0623 8C15.0623 8.794 14.9243 9.555 14.6823 10.267C14.9753 10.415 15.2452 10.598 15.4802 10.824C15.8162 9.932 15.9992 8.981 15.9992 8C15.9992 5.864 15.1672 3.854 13.6573 2.344C12.1454 0.832 10.1365 0 7.9996 0C5.86371 0 3.85381 0.832 2.34388 2.344C0.831959 3.854 0 5.864 0 8C0 10.137 0.831959 12.146 2.34388 13.658C3.85381 15.168 5.86371 16 7.9996 16C8.98055 16 9.93251 15.817 10.8235 15.481C10.5985 15.246 10.4145 14.976 10.2665 14.683"#}
                                                          {#fill="#A8AAB7"/>#}
                                                    {#<path fill-rule="evenodd" clip-rule="evenodd"#}
                                                          {#d="M11.3274 8.0249C9.50452 8.0249 8.02759 9.50195 8.02759 11.325C8.02759 11.5291 8.05261 11.7271 8.08765 11.9209C7.47058 12.1299 6.81165 12.25 6.12476 12.25C2.7478 12.25 0 9.50293 0 6.125C0 2.74805 2.7478 0 6.12476 0C9.50159 0 12.2494 2.74805 12.2494 6.125C12.2494 6.81104 12.1313 7.46802 11.9224 8.08496C11.7294 8.04907 11.5304 8.0249 11.3274 8.0249ZM6.59363 10.375V9.3999C7.01855 9.33203 7.41162 9.1709 7.73157 8.93091C8.19958 8.58105 8.46851 8.08203 8.46851 7.56201C8.46851 6.87402 8.03052 6.26611 7.37756 6.0481L5.1687 5.31201C4.89966 5.22192 4.71875 4.97095 4.71875 4.68701C4.71875 4.17896 5.36267 3.75 6.12463 3.75C6.8866 3.75 7.53052 4.17896 7.53052 4.68701H8.46851C8.46851 4.16797 8.19958 3.66895 7.73157 3.31812C7.41162 3.07788 7.01855 2.91797 6.59363 2.8501V1.875H5.65662V2.8501C5.23071 2.91797 4.83777 3.07788 4.5177 3.31812C4.0498 3.66895 3.78076 4.16797 3.78076 4.68701C3.78076 5.37598 4.21973 5.98389 4.87268 6.20093L7.08057 6.93799C7.34961 7.0271 7.53052 7.27808 7.53052 7.56201C7.53052 8.07007 6.8866 8.5 6.12463 8.5C5.36267 8.5 4.71875 8.07007 4.71875 7.56201H3.78076C3.78076 8.08203 4.0498 8.58105 4.5177 8.93091C4.83777 9.1709 5.23071 9.33203 5.65662 9.3999V10.375H6.59363Z"#}
                                                          {#transform="translate(1.87219 1.87573)" fill="#A8AAB7"/>#}
                                                    {#<path fill-rule="evenodd" clip-rule="evenodd"#}
                                                          {#d="M0 2.80005C0 1.25293 1.25293 0 2.7998 0C4.34583 0 5.59973 1.25293 5.59973 2.80005C5.59973 4.34497 4.34583 5.59912 2.7998 5.59912C1.25293 5.59912 0 4.34497 0 2.80005ZM3.19885 3.19922H3.99988V2.39917H3.19885V1.59912H2.39893V2.39917H1.59998V3.19922H2.39893V4H3.19885V3.19922Z"#}
                                                          {#transform="translate(10.4003 10.4009)" fill="#A8AAB7"/>#}
                                                {#</mask>#}
                                                {#<g mask="url(#mask0)">#}
                                                    {#<mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16">#}
                                                        {#<path fill-rule="evenodd" clip-rule="evenodd"#}
                                                              {#d="M10.2665 14.683C9.55453 14.925 8.79356 15.063 7.9996 15.063C4.1058 15.063 0.937954 11.895 0.937954 8C0.937954 4.106 4.1058 0.938 7.9996 0.938C11.8944 0.938 15.0623 4.106 15.0623 8C15.0623 8.794 14.9243 9.555 14.6823 10.267C14.9753 10.415 15.2452 10.598 15.4802 10.824C15.8162 9.932 15.9992 8.981 15.9992 8C15.9992 5.864 15.1672 3.854 13.6573 2.344C12.1454 0.832 10.1365 0 7.9996 0C5.86371 0 3.85381 0.832 2.34388 2.344C0.831959 3.854 0 5.864 0 8C0 10.137 0.831959 12.146 2.34388 13.658C3.85381 15.168 5.86371 16 7.9996 16C8.98055 16 9.93251 15.817 10.8235 15.481C10.5985 15.246 10.4145 14.976 10.2665 14.683"#}
                                                              {#fill="#A8AAB7"/>#}
                                                        {#<path fill-rule="evenodd" clip-rule="evenodd"#}
                                                              {#d="M11.3274 8.0249C9.50452 8.0249 8.02759 9.50195 8.02759 11.325C8.02759 11.5291 8.05261 11.7271 8.08765 11.9209C7.47058 12.1299 6.81165 12.25 6.12476 12.25C2.7478 12.25 0 9.50293 0 6.125C0 2.74805 2.7478 0 6.12476 0C9.50159 0 12.2494 2.74805 12.2494 6.125C12.2494 6.81104 12.1313 7.46802 11.9224 8.08496C11.7294 8.04907 11.5304 8.0249 11.3274 8.0249ZM6.59363 10.375V9.3999C7.01855 9.33203 7.41162 9.1709 7.73157 8.93091C8.19958 8.58105 8.46851 8.08203 8.46851 7.56201C8.46851 6.87402 8.03052 6.26611 7.37756 6.0481L5.1687 5.31201C4.89966 5.22192 4.71875 4.97095 4.71875 4.68701C4.71875 4.17896 5.36267 3.75 6.12463 3.75C6.8866 3.75 7.53052 4.17896 7.53052 4.68701H8.46851C8.46851 4.16797 8.19958 3.66895 7.73157 3.31812C7.41162 3.07788 7.01855 2.91797 6.59363 2.8501V1.875H5.65662V2.8501C5.23071 2.91797 4.83777 3.07788 4.5177 3.31812C4.0498 3.66895 3.78076 4.16797 3.78076 4.68701C3.78076 5.37598 4.21973 5.98389 4.87268 6.20093L7.08057 6.93799C7.34961 7.0271 7.53052 7.27808 7.53052 7.56201C7.53052 8.07007 6.8866 8.5 6.12463 8.5C5.36267 8.5 4.71875 8.07007 4.71875 7.56201H3.78076C3.78076 8.08203 4.0498 8.58105 4.5177 8.93091C4.83777 9.1709 5.23071 9.33203 5.65662 9.3999V10.375H6.59363Z"#}
                                                              {#transform="translate(1.87219 1.87573)" fill="#A8AAB7"/>#}
                                                        {#<path fill-rule="evenodd" clip-rule="evenodd"#}
                                                              {#d="M0 2.80005C0 1.25293 1.25293 0 2.7998 0C4.34583 0 5.59973 1.25293 5.59973 2.80005C5.59973 4.34497 4.34583 5.59912 2.7998 5.59912C1.25293 5.59912 0 4.34497 0 2.80005ZM3.19885 3.19922H3.99988V2.39917H3.19885V1.59912H2.39893V2.39917H1.59998V3.19922H2.39893V4H3.19885V3.19922Z"#}
                                                              {#transform="translate(10.4003 10.4009)" fill="#A8AAB7"/>#}
                                                    {#</mask>#}
                                                    {#<g mask="url(#mask1)">#}
                                                        {#<path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H16V16H0V0Z" fill="white"/>#}
                                                    {#</g>#}
                                                {#</g>#}
                                            {#</svg>#}
                                            {#<span>Добавить метод оплаты</span>#}
                                        {#</a>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        <div class="contractor-email">
                            <div class="Input-Wrapper">
                                <div class="row nested-row">
                                    <div class="col-xl-6 col-sm-4">
                                        {{ formLabel(dealForm.get('counteragent_email'))|raw }}
                                        {{ formElement(dealForm.get('counteragent_email'))|raw }}
                                        <div class="FormError">{{ formElementErrors(dealForm.get('counteragent_email'))|raw }}</div>
                                    </div>
                                        {#<p class="Note">На email контрагента будет отправлено приглашение присоединиться к сделке.</p>#}
                                </div>
                            </div>
                        </div>

                        <div class="grid-row rules-agree">
                            <div class="Input-Wrapper">
                                <div class="flex">
                                    <input id="check-agree-rules" type="checkbox">
                                    <label for="check-agree-rules">Нажимая на кнопку “Создать сделку”, вы соглашаетесь с <a
                                                href="{{ url('terms-of-use') }}" target="_blank" class="info-link">регламентом
                                            пользования сервиса.</a></label>
                                </div>
                            </div>
                        </div>


                        <div class="FormError">{{ formElementErrors(dealForm.get('csrf'))|raw }}</div>
                        <div class="ButtonsRow">
                            <button type="submit" value="" class="button-grey">Создать сделку</button>
                        </div>
                    </div>
                </form>
        </div>
    </section>
{% endblock content %}