{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{% set blockPaymentAllowedActiveClass = '' %}
    {% set blockPaymentTypeActiveClass = 'active' %}
    {% set formBankTransferSelected = 'selected="selected"' %}
    {% set blockBankTransferActiveClass = 'active' %}

    {% if is_form_bank_transfer == true %}
        {% set formBankTransferSelected = 'selected="selected"' %}
        {% set blockBankTransferActiveClass = 'active' %}
    {% else %}
        {% set blockPaymentAllowedActiveClass = 'active' %}
        {% set blockPaymentTypeActiveClass = '' %}
    {% endif %}
{#
1 deal
2 allowedPaymentMethodForm
3 bankTransferForm
4 cachForm //
5 creditCardForm//
6 emoneyForm//
7 is_form_bank_transfer
8 is_form_cach
9 is_form_credit_card
10 is_form_emoney
#}
{% block content %}
<style>
    h2{
        font-size: 18px;
        margin-bottom: 30px;
    }
    .tab-block-button{
        text-decoration: none !important;
        border-bottom: 1px dashed #4185f4 !important;
    }
    .tab-block-button:hover{
        text-decoration: none !important;
        border-bottom: 1px dashed transparent !important;
    }
    .tab-block{
        display: none;
        animation: fadeEffect .5s; /* Fading effect takes 1 second */
    }
    .tab-block.active{
        display: block;
    }
    /* Go from zero to full opacity */
    @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    .payment-type{
        padding-top: 20px;
        padding-bottom: 30px;
    }
</style>
<section class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm" id="section_payment_method">
    <div class="PageForm-Container PageForm-Container_large">
        <div class="FormLabelTop">

            <h3 class="TitleBlue">Добавление метода оплаты к сделке</h3>
            {# first block #}
            <div id="allowed_payment" class="js-tab-block tab-block {{ blockPaymentAllowedActiveClass }}">
                <form method="post" id="form_payment_method">
                    <div class="Input-Wrapper">
                        <label for="list-payments">Выберите способ получения денег</label>
                        {{ formElement(allowedPaymentMethodForm.get('payment_method_id'))|raw }}
                        <div class="FormError">{{ formElementErrors(allowedPaymentMethodForm.get('payment_method_id'))|raw }}</div>
                    </div>
                    <div class="LinksRow">
                        <a class="tab-block-button" href="javascript:void(0);" onclick="openForm(event, 'new_payment')">
                            добавить способ оплаты
                        </a>
                    </div>

                    <div class="ButtonsRow">
                        <button class="ButtonApply">Сохранить</button>
                    </div>
                </form>
            </div>
            {# second block #}
            <div id="new_payment" class="js-tab-block tab-block {{ blockPaymentTypeActiveClass }}">

                <div class="payment-type">
                    {#<div class="Input-Wrapper">
                        <label for="list-payments">Выберите тип способа получения денег</label>
                        <select name="payment_type_select" onchange="openFormType(event, this.value)">
                            <option value="form-bank-transfer" {{ formBankTransferSelected }}>Банковский перевод</option>
                            <option value="form-cach" {{ formCachSelected }} disabled="disabled">Наличные</option>
                            <option value="form-credit-card" {{ formCreditCardSelected }} disabled="disabled">Банковская карта</option>
                            <option value="form-emoney" {{ formEmoneySelected }} disabled="disabled">Электронный кошелек</option>
                        </select>
                    </div>#}

                    <div class="LinksRow">
                        <a class="tab-block-button" href="javascript:void(0);" onclick="openForm(event, 'allowed_payment')">
                            выбрать способ оплаты
                        </a>
                    </div>
                </div>
                <div id="form-bank-transfer" class="js-tab-block2 tab-block {{ blockBankTransferActiveClass }}">
                    <div id="FormBankTransfer1" data-deal="true">
                        <h2>Добавление банковского перевода</h2>
                        <form method="post">
                            <div class="Input-Wrapper">
                                {{ formLabel(bankTransferForm.get('name'))|raw }}
                                {{ formElement(bankTransferForm.get('name'))|raw }}
                                <div class="FormError">{{ formElementErrors(bankTransferForm.get('name'))|raw }}</div>
                            </div>

                            <div class="Input-Wrapper">
                                {{ formLabel(bankTransferForm.get('bank_name'))|raw }}
                                {{ formElement(bankTransferForm.get('bank_name'))|raw }}
                                <div class="FormError">{{ formElementErrors(bankTransferForm.get('bank_name'))|raw }}</div>
                            </div>

                            <div class="Input-Wrapper">
                                {{ formLabel(bankTransferForm.get('bik'))|raw }}
                                {{ formElement(bankTransferForm.get('bik'))|raw }}
                                <div class="FormError">{{ formElementErrors(bankTransferForm.get('bik'))|raw }}</div>
                            </div>

                            <div class="Input-Wrapper">
                                {{ formLabel(bankTransferForm.get('account_number'))|raw }}
                                {{ formElement(bankTransferForm.get('account_number'))|raw }}
                                <div class="FormError">{{ formElementErrors(bankTransferForm.get('account_number'))|raw }}</div>
                            </div>
                            <input name="payment_method_type" type="hidden" value="bank_transfer">
                            <div class="Input-Wrapper">
                                {{ formLabel(bankTransferForm.get('corr_account_number'))|raw }}
                                {{ formElement(bankTransferForm.get('corr_account_number'))|raw }}
                                <div class="FormError">{{ formElementErrors(bankTransferForm.get('corr_account_number'))|raw }}</div>
                            </div>

                            <div class="FormError">{{ formElementErrors(bankTransferForm.get('csrf'))|raw }}</div>

                            {{ formElement(bankTransferForm.get('civil_law_subject_id'))|raw }}

                            {{ formElement(bankTransferForm.get('csrf'))|raw }}

                            <div class="ButtonsRow">
                                <button type="submit" class="ButtonApply">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
                {#<div id="form-cach" class="js-tab-block2 tab-block {{ blockCachActiveClass }}">
                    <form method="post">
                        <input type="hidden" name="current_action" value="form-cach">
                        form-cach
                    </form>
                </div>
                <div id="form-credit-card" class="js-tab-block2 tab-block {{ blockCreditCardActiveClass }}">
                    <form method="post">
                        <input type="hidden" name="current_action" value="form-credit-card">
                        form-credit-card
                    </form>
                </div>
                <div id="form-emoney" class="js-tab-block2 tab-block {{ blockEmoneyActiveClass }}">
                    <form method="post">
                        <input type="hidden" name="current_action" value="form-emoney">
                        form-emoney
                    </form>
                </div>#}
            </div>
        </div>
    </div>
</section>
<script>
    function openForm(evt, blockName) {
        // Declare all variables
        var i, civilBlock;
        civilBlock = document.getElementsByClassName("js-tab-block");
        for (i = 0; i < civilBlock.length; i++) {
            civilBlock[i].style.display = "none";
            civilBlock[i].className = civilBlock[i].className.replace(" active", "");
        }
        document.getElementById(blockName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    function openFormType(evt, blockName) {
        // Declare all variables
        var i, civilTypeBlock;
        civilTypeBlock = document.getElementsByClassName("js-tab-block2");
        for (i = 0; i < civilTypeBlock.length; i++) {
            civilTypeBlock[i].style.display = "none";
            civilTypeBlock[i].className = civilTypeBlock[i].className.replace(" active", "");
        }
        document.getElementById(blockName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
{% endblock content %}