{% extends 'twig/layout/application' %}
{#
  dealForm,
  type_form - тип формы сделки (например, покупатель-услуга)
#}

{% do headTitle('Добавление сделки') %}
{% block content %}
    {%
        set ids = {
            'service_contractor': 'form-unauth-deal-service-contractor',
            'service_customer': 'form-unauth-deal-service-customer',
            'product_contractor': 'form-unauth-deal-product-contractor',
            'product_customer': 'form-unauth-deal-product-customer',
            'default': 'FormDealUnauthorized'
        }
    %}
    <section class="form-centered form-unregistered PageForm" id="deal_create_unreg_section">
        <div class="PageForm-Container page-form-deal-container" id="{{ ids[type_form] }}">
            <div class="PageForm-Container_new-design">
                <noscript>
                <form class="FormLabelTop form-deal" method="POST" id="deal-unregistered-create-form" enctype="multipart/form-data">
                    {{ formElement(dealForm.get('csrf'))|raw }}
                    {#<h3 class="TitleBlue">Добавление сделки</h3>#}
                    <div class="header flex">
                        <div class="Logo">
                            <div class="Logo-Img">
                                <img src="{{ basePath('/img/logo.svg') }}" alt="Логотип">
                            </div>
                            <p class="Logo-Text"></p>
                        </div>
                        <div class="date-create">
                            <h3>Дата создания</h3>
                            <p>{{ "now"|date("d.m.Y")~'г.' }}</p>
                        </div>
                    </div>
                    <div class="head-of-element">
                        Создание сделки
                    </div>
                    <div class="form-content-wrap">

                        <div class="grid-row">
                            <div class="grid-col-4">
                                <div class="grid-col-2">
                                    <div class="Input-Wrapper">
                                        {{ formLabel(dealForm.get('agent_email'))|raw }}
                                        {{ formElement(dealForm.get('agent_email'))|raw }}

                                        <div class="FormError">{{ formElementErrors(dealForm.get('agent_email'))|raw }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid-row">
                            <div class="grid-col-4">
                                <div class="grid-col-2">
                                    <div class="Input-Wrapper">
                                        {{ formLabel(dealForm.get('deal_type'))|raw }}
                                        {#<select class="stroke-green" name="deal_type" id="deal_type">#}
                                            {#<option value="">Выберите тип сделки:</option>#}
                                            {#<option value="15">Услуга</option>#}
                                            {#<option value="16">Товар</option>#}
                                        {#</select>#}
                                        {{ formElement(dealForm.get('deal_type'))|raw }}

                                        <div class="FormError">{{ formElementErrors(dealForm.get('deal_type'))|raw }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid-row">
                            <div class="grid-col-4">
                                <div class="grid-col-2">
                                    <div class="Input-Wrapper">
                                        {{ formLabel(dealForm.get('deal_role'))|raw }}
                                        {#{{ formElement(dealForm.get('deal_role'))|rasw }}#}
                                        <div class="InputRadio">
                                            <input type="radio" name="deal_role" id="deal_role" placeholder="Ваша роль в сделке:" value="customer">
                                            <label class="label-radiobutton" for="deal_role">
                                    <span class="radiobutton">
                                    </span>
                                                <span>Покупатель</span>
                                            </label>
                                            <input id="deal_role_2" type="radio" name="deal_role" placeholder="Ваша роль в сделке:" value="contractor">
                                            <label class="label-radiobutton" for="deal_role_2">
                                    <span class="radiobutton">
                                    </span>
                                                <span>Продавец</span>
                                            </label>
                                        </div>
                                        <div class="FormError">{{ formElementErrors(dealForm.get('deal_role'))|raw }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div  class="grid-row">
                            <div class="grid-col-4">
                                <div class="Input-Wrapper">
                                    {{ formLabel(dealForm.get('name'))|raw }}
                                    <input type="text" name="name" id="name" placeholder="Введите название" value="">
                                    {#{{ formElement(dealForm.get('name'))|raw }}#}
                                    {#<p class="note-red">Поле не может быть пустым!</p>#}
                                    <div class="FormError">{{ formElementErrors(dealForm.get('name'))|raw }}</div>
                                </div>
                            </div>
                        </div>

                        <div  class="grid-row">
                            <div class="grid-col-4">
                                <div class="Input-Wrapper">
                                    {#{{ formLabel(dealForm.get('addon_terms'))|raw }}#}
                                    {#{{ formElement(dealForm.get('addon_terms'))|raw }}#}
                                    <label for="addon_terms">Описание товара/услуги</label>
                                    <textarea name="addon_terms" id="addon_terms" class="form-control"
                                              placeholder="Введите описание"></textarea>
                                    <div class="FormError">{{ formElementErrors(dealForm.get('addon_terms'))|raw }}</div>
                                </div>
                            </div>
                        </div>

                        <div  class="grid-row">
                            <div class="grid-col-4 flex-start">
                                <div class="grid-col-2">
                                    <div class="Input-Wrapper">
                                        <label for="amount">Цена товара (в рублях):</label>
                                        <input type="number" name="amount" id="amount" placeholder="Введите цену" value="">
                                        {#<p class="note-green">Цена товара указывается в рублях.</p>#}
                                        <div class="FormError">{{ formElementErrors(dealForm.get('amount'))|raw }}</div>
                                    </div>
                                </div>
                                <div class="grid-col-2">
                                    <div class="Input-Wrapper">
                                        {#{{ formLabel(dealForm.get('delivery_period'))|raw }}#}
                                        {#{{ formElement(dealForm.get('delivery_period'))|raw }}#}
                                        <label for="delivery_period">Срок доставки и проверки (дней):</label>
                                        <input type="number" name="delivery_period" id="delivery_period" class="form-control"
                                               placeholder="1 день" value="">
                                        <div class="FormError">{{ formElementErrors(dealForm.get('delivery_period'))|raw }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div  class="grid-row">
                            <div class="grid-col-4">
                                <div class="Input-Wrapper">
                                    <label for="file">Файл</label>
                                    <div class="InputFile js-download-file">
                                        <span class="InputFile-Container">
                                            <mark data-text-default="Выберите файл..." class="notChange">Выберите файл...</mark>
                                            <input name="files[]" id="file" type="file" multiple="multiple">
                                            <span class="InputFile-Delete js-clear-download-file"></span>
                                        </span>
                                    </div>
                                    <div class="FormError">{{ formElementErrors(dealForm.get('files'))|raw }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="grid-row row-fee-payer">
                            <div class="grid-col-4">
                                {% set feePayerOptions = dealForm.get('fee_payer_option').getOptions()['value_options'] %}
                                {% set feePayerOptionActive = dealForm.get('fee_payer_option').getValue() %}
                                {% set feePayerOptionRadioButtons = [] %}
                                {% for value, label  in feePayerOptions %}
                                    {% if feePayerOptionActive == value %}
                                        {% set checked = 'checked="checked"' %}
                                    {% else %}
                                        {% set checked = 'checked=""' %}
                                    {% endif %}
                                   {% set feePayerOptionRadioButtons = feePayerOptionRadioButtons|merge({(label):{'name':label, 'value':value, 'checked': checked}}) %}

                                {% endfor %}

                                <div class="Input-Wrapper">
                                    <label for="fee_payer_option">Кто оплачивает коммиссию:</label>
                                    <div class="InputRadio flex">
                                        <div class="grid-col-2">
                                            <input type="radio" name="fee_payer_option" id="fee_payer_option" value="{{ feePayerOptionRadioButtons['Покупатель']['value'] }}" {{ feePayerOptionRadioButtons['Покупатель']['checked'] }} >
                                            <label for="fee_payer_option" class="label-radiobutton">
                                                <span class="radiobutton"></span>
                                                <span>{{ feePayerOptionRadioButtons['Покупатель']['name'] }}</span>
                                            </label>
                                            <input type="radio" name="fee_payer_option" id="fee_payer_option_2" value="{{ feePayerOptionRadioButtons['Продавец']['value'] }}" {{ feePayerOptionRadioButtons['Продавец']['checked'] }}>
                                            <label for="fee_payer_option_2" class="label-radiobutton">
                                                <span class="radiobutton"></span>
                                                <span>{{ feePayerOptionRadioButtons['Продавец']['name'] }}</span>
                                            </label>
                                        </div>
                                        <div class="grid-col-2">
                                            <input type="radio" name="fee_payer_option" id="fee_payer_option_3" value="{{ feePayerOptionRadioButtons['50/50']['value'] }}" {{ feePayerOptionRadioButtons['50/50']['checked'] }}>
                                            <label for="fee_payer_option_3" class="label-radiobutton">
                                                <span class="radiobutton"></span>
                                                <span>{{ feePayerOptionRadioButtons['50/50']['name'] }}</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="FormError">{{ formElementErrors(dealForm.get('fee_payer_option'))|raw }}</div>
                                {#{{ formLabel(dealForm.get('fee_payer_option'))|raw }}#}
                                {#{{ formElement(dealForm.get('fee_payer_option'))|raw }}#}
                            </div>
                        </div>

                        <div class="grid-row">
                            <div class="grid-col-4 col-email">
                                <div class="Input-Wrapper">
                                    {{ formLabel(dealForm.get('counteragent_email'))|raw }}
                                    {{ formElement(dealForm.get('counteragent_email'))|raw }}
                                    <div class="FormError">{{ formElementErrors(dealForm.get('counteragent_email'))|raw }}</div>
                                    {#<p class="Note">На email контрагента будет отправлено приглашение присоединиться к сделке.</p>#}
                                </div>
                            </div>
                        </div>
                        <div class="grid-row rules-agree">
                            <div class="grid-col-4">
                                <div class="Input-Wrapper">
                                    <div class="captcha-unregistered-wrapper">
                                        <div class="captcha-wrapper">
                                            {{ formElement(dealForm.get('captcha'))|raw }}
                                            <div class="captcha-overlay captcha-overlay_position-top"></div>
                                            <div class="captcha-overlay captcha-overlay_position-right"></div>
                                            <div class="captcha-overlay captcha-overlay_position-bottom"></div>
                                            <div class="captcha-overlay captcha-overlay_position-left"></div>
                                            <div class="captcha-image"></div>
                                            <div class="captcha-links">
                                                <a href="https://www.google.com/intl/ru/policies/privacy/"target="_blank">Конфиденциальность</a>
                                                <span aria-hidden="true" role="presentation"> - </span>
                                                <a href="https://www.google.com/intl/ru/policies/terms/" target="_blank">
                                                    Условия использования
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-row rules-agree">
                            <div class="grid-col-4">
                                <div class="Input-Wrapper">
                                    <div class="flex">
                                        <input id="check-agree-rules" type="checkbox">
                                        <label for="check-agree-rules">Нажимая на кнопку “Создать сделку”, вы соглашаетесь с <a
                                                    href="{{ url('terms-of-use') }}" target="_blank" class="info-link">регламентом
                                                пользования сервиса.</a></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if formElementErrors(dealForm.get('csrf')) | length > 0 %}
                            <div class="FormError">{{ formElementErrors(dealForm.get('csrf'))|raw }}</div>
                        {% elseif formElementErrors(dealForm.get('captcha')) | length > 0  %}
                            <div class="FormError">
                                <div class="form-alert bs-callout-danger center-align">
                                    <div class="form-alert__header">Ошибка регистрации</div>
                                    <div class="form-alert__text">Captcha не проходит валидацию</div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="ButtonsRow">
                            <button type="submit" value="" class="button-grey">Создать сделку</button>
                        </div>
                    </div>
                </form>
                </noscript>
            </div>
        </div>
        <div class="form-side-menu">
            <ul>
                <li><a target="_blank" class="form-side__link" href="{{ url('connection-contract') | trim }}">Договор присоединения</a></li>
                <li><a target="_blank" class="form-side__link" href="{{ url('policy') | trim }}">Политика конфиденциальности</a></li>
                <li><a target="_blank" class="form-side__link" href="{{ url('terms-of-use') | trim }}">Регламент пользования</a></li>
                <li><a target="_blank" class="form-side__link" href="{{ url('dispute-consideration-rules') | trim }}">Регламент «Разрешение спора»</a></li>
                <li><a target="_blank" class="form-side__link"  href="{{ url('for-whom') }}" >Для кого?</a></li>
                <li><a target="_blank" class="form-side__link"  href="{{ url('what-can-buy') }}" >Что можно покупать?</a></li>
                <li><a target="_blank" class="form-side__link"  href="{{ url('how-it-works') }}" >Как это работает?</a></li>
                <li><a target="_blank" class="form-side__link"  href="{{ url('dispute-resolution') }}" >Решение спора</a>
            </ul>
        </div>
    </section>
{% endblock content %}