{% extends 'twig/layout/application' %}

{#
1 deal
#}
 {% do headTitle('Удаление сделки') %}
{% block content %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm" id="section-deal-form-delete">
        <div class="PageForm-Container PageForm-Container_new-design">
            <form method="POST" action="{{ url('deal-single', {'id': deal['id']}) }}" class="FormView"
                  role="form" id="deal-delete-form">
                <input type="hidden" name="_method" value="delete">

                <div class="form-content-wrap">
                    <div class="row nested-row">
                        <div class="col-xl-12">
                            <h3 class="TitleBlue">Вы уверены, что хотите удалить сделку?</h3>
                        </div>
                    </div>
                    <div class="row nested-row">
                        <div class="col-xl-12">
                            <div class="InfoField">
                                <p class="InfoField-Label">Наименование:</p>
                                <p class="InfoField-Text">{{ deal['full_name'] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row nested-row">
                        <div class="col-xl-12">
                            <div class="InfoField">
                                <p class="InfoField-Label">Тип:</p>
                                <p class="InfoField-Text">{{ deal['type'] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row nested-row">
                        <div class="col-xl-12">
                            <div class="InfoField">
                                <p class="InfoField-Label">Дополнительные условия:</p>
                                <p class="InfoField-Text">{{ deal['addon_terms'] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row nested-row">
                        <div class="col-xl-12">
                            <div class="InfoField">
                                <p class="InfoField-Label">Сумма к оплате:</p>
                                <p class="InfoField-Text">{{ deal['customer_amount'] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row nested-row">
                        <div class="col-xl-12">
                            <div class=" row nested-row ButtonsRow">
                                <div class="col-xl-6 col-sm-2 col-xs-4">
                                    <button class="ButtonDelete margin-right" type="submit" value="" data-ripple-button="">
                                        <span class="ripple-text">Удалить</span>
                                    </button>
                                </div>
                                <div class="col-xl-6 col-sm-2 col-xs-4">
                                    <a href="{{ url('deal/show', {'id' : deal['id']}) }}" class="ButtonRefuse" data-ripple-button="">
                                        <span class="ripple-text">Отменить</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section>
{% endblock content %}