{% extends 'twig/layout/application' %}

{#
1 dealForm
2 deal
#}

{% block content %}
    {% do headTitle('Редактирование сделки') %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm" id="section-edit-dial">
        <div class="PageForm-Container page-form-deal-container" id="FormDealEdit" data-edit="true">
            <form class="FormLabelTop form-deal" method="POST" id="deal-edit-form">

                    {{ formElement(dealForm.get('csrf'))|raw }}

                    <div class="header flex">
                        <div class="Logo">
                            <div class="Logo-Img">
                                <img src="{{ basePath('/img/logo.svg') }}" alt="Логотип">
                            </div>
                            <p class="Logo-Text"></p>
                        </div>
                        <div class="date-create">
                            <h3>Дата создания</h3>
                            <p>{{ deal['created'] }}</p>
                        </div>
                    </div>
                    <div class="head-of-element">
                        Редактирование сделки {{ deal['number'] }}
                    </div>

                    {#<h3 class="TitleBlue">Редактирование сделки {{ deal['number'] }}</h3>#}
                    <div class="form-content-wrap">

                        <div class="Input-Wrapper col-form-2">
                            <label for="deal_type">Тип сделки:</label>
                            {{ formElement(dealForm.get('deal_type'))|raw }}
                            <div class="FormError">{{ formElementErrors(dealForm.get('deal_type'))|raw }}</div>
                        </div>

                        <div class="Input-Wrapper">
                            <label for="name">Название товара/услуги:</label>
                            {{ formElement(dealForm.get('name'))|raw }}
                            <div class="FormError">{{ formElementErrors(dealForm.get('name'))|raw }}</div>
                        </div>

                        <div class="Input-Wrapper">
                            <label for="addon_terms" class="LineHeightNormal">Описание товара/услуги:</label>
                            {{ formElement(dealForm.get('addon_terms'))|raw }}
                            <div class="FormError">{{ formElementErrors(dealForm.get('addon_terms'))|raw }}</div>
                        </div>

                        <div class="Input-Wrapper flex-start">
                            <div class="col-form-2">
                                <div class="Input-Wrapper">
                                    <label for="amount">Цена товара (в рублях):</label>
                                    <input type="number" name="amount" id="amount" placeholder="Введите цену"
                                           value="{{ dealForm.get('amount').getValue()|trim }}">
                                    <p class="note-green">Цена товара указывается в рублях.</p>
                                    <div class="FormError">{{ formElementErrors(dealForm.get('amount'))|raw }}</div>
                                    {#{{ formElement(dealForm.get('amount')) |raw }}#}
                                    <div class="FormError">{{ formElementErrors(dealForm.get('amount'))|raw }}</div>
                                </div>
                            </div>
                            <div class="col-form-2">
                                <div class="Input-Wrapper">
                                    <label for="delivery_period" class="LineHeightNormal">Срок доставки и проверки
                                        (дней):</label>
                                    {{ formElement(dealForm.get('delivery_period'))|raw }}
                                    <div class="FormError">{{ formElementErrors(dealForm.get('delivery_period'))|raw }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="Input-Wrapper">
                            <label for="fee_payer_option" class="LineHeightNormal">Кто оплачивает коммиссию:</label>
                            {#<div class="InputRadio">#}
                            {#<div class="flex">#}
                            {#<div class="col-form-2">#}

                            {#</div>#}
                            {#<div class="col-form-2">#}

                            {#</div>#}
                            {#</div>#}
                            {#</div>#}
                            {{ formElement(dealForm.get('fee_payer_option'))|raw }}
                            <div class="FormError">{{ formElementErrors(dealForm.get('fee_payer_option'))|raw }}</div>
                        </div>

                        <div class="Input-Wrapper">
                        {{ formElement(dealForm.get('deal_role'))|raw }}
                        <div class="FormError">{{ formElementErrors(dealForm.get('deal_role'))|raw }}</div>
                        </div>

                        <div class="Input-Wrapper flex">
                            <div class="col-form-2">
                                <label for="deal_civil_law_subject">Вы будете участвовать в сделке как:</label>
                                {{ formElement(dealForm.get('deal_civil_law_subject'))|raw }}
                                <div class="FormError">{{ formElementErrors(dealForm.get('deal_civil_law_subject'))|raw }}</div>
                                {# ссылка на добавление civilLawSubject #}
                            </div>
                            <div class="col-form-2">
                                <div class="LinksRow">
                                    <a class="icon-add-users" href="{{ url('user-profile/natural-person-form-create') }}">Физ. лицо</a>
                                    <a class="icon-add-users" href="{{ url('user-profile/legal-entity-form-create') }}">Юр. лицо</a>
                                </div>
                            </div>
                        </div>

                        {% if deal['is_contractor'] == true %}
                            <div class="Input-Wrapper" id="payment_method">
                                <label for="payment_method">Метод оплаты:</label>
                                {{ formElement(dealForm.get('payment_method'))|raw }}
                                <div class="FormError">{{ formElementErrors(dealForm.get('payment_method'))|raw }}</div>
                            </div>
                            {# ссылка на добавление paymentMethod #}
                            <a href="{{ url('payment-method-create-with-deal', {'idDeal': deal['id']}) }}"
                               class="LinkForm">Добавить
                                метод оплаты</a>
                        {% endif %}

                        <div class="Input-Wrapper">
                            <div class="col-form-2">
                                <label for="counteragent_email">Email контрагента:</label>
                                {{ formElement(dealForm.get('counteragent_email'))|raw }}
                                <div class="FormError">{{ formElementErrors(dealForm.get('counteragent_email'))|raw }}</div>
                            </div>
                            <p class="Note">На email контрагента будет отправлено приглашение присоединиться к сделке.</p>
                        </div>

                        <div class="FormError">{{ formElementErrors(dealForm.get('csrf'))|raw }}</div>

                        <div class="ButtonsRow">
                            {% if deal['status']['code'] == 3 and deal['is_customer'] == true %}
                                <a href="{{ url('deal-form-delete', {'idDeaL' : deal['id']}) }}"
                                   class="ButtonDelete margin-right" data-ripple-button=""><span class="ripple-text">Удалить</span></a>
                            {% endif %}
                            {% if deal['is_owner'] == true and deal['removable'] == true %}
                                <a class="ButtonDelete margin-right"
                                   href="{{ url('deal-form-delete', {'idDeal': deal['id']}) }}" data-ripple-button=""><span class="ripple-text">Удалить</span></a>
                            {% endif %}
                            <button class="ButtonApply" type="submit" value="" data-ripple-button=""><span class="ripple-text">Сохранить</span></button>
                        </div>
                    </div>

                </form>
        </div>
    </section>
{% endblock content %}