{% extends 'twig/layout/application' %}
{% import 'macro/pagination.twig' as pagination %}
{#
    expiredSearchForm - form
#}
{% do headTitle('Все сделки с истекшей датой (всего ' ~ paginator['total_item_count'] ~ ')') %}
{% block content %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-7 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageTable" id="section-deal-expried">
        <form method="get" class="TableWrapper" id="TableDealsExpired">
            <table class="TableDefault TableDealsExpired js-table-rows-are-link" data-start="1" data-length="6">
                <tr class="FilterTableRow">
                    <td>
                            <span class="TableDisputes-OperatorCol">
                                {{ formElement(expiredSearchForm.get('filter[deal_id]')) |raw }}
                            </span>
                    </td>
                    <td>
                            <span class="TableDisputes-OperatorCol">
                                 {{ formElement(expiredSearchForm.get('filter[deal_name]')) |raw }}
                            </span>
                    </td>
                    <td>
                        {{ formElement(expiredSearchForm.get('filter[deal_amount]')) |raw }}
                    </td>
                    <td>
                        {{ formElement(expiredSearchForm.get('filter[deal_owner]')) |raw }}
                    </td>
                    <td class="InputDate">
                        <div class="DoubleInputDate">
                            {{ formElement(expiredSearchForm.get('filter[deal_created_from]')) |raw }}
                            {{ formElement(expiredSearchForm.get('filter[deal_created_till]')) |raw }}
                        </div>
                    </td>
                    <td class="InputDate">
                        <div class="DoubleInputDate">
                            {{ formElement(expiredSearchForm.get('filter[deadline_date_from]')) |raw }}
                            {{ formElement(expiredSearchForm.get('filter[deadline_date_till]')) |raw }}
                        </div>
                    </td>
                    <td>
                    </td>
                    <td>
                        {{ formElement(expiredSearchForm.get('csrf')) |raw }}
                        <button class="ButtonSearch" type="submit"><span>&nbsp;</span></button>
                    </td>
                </tr>

                <tr class="Head">
                    <td class="col col-number">
                        №
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('name') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('name')) ?' active':'' }}"></i>
                            Название
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('amount') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('amount')) ?' active':'' }}"></i>
                            Сумма
                        </a>
                    </td>

                    <td>
                        <a href="{{ sortHelper().getSortLink('owner') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('owner')) ?' active':'' }}"></i>
                            Владелец
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('created') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('created')) ?' active':'' }}"></i>
                            Дата создания
                        </a>
                    </td>
                    <td>
                        Срок выполнения
                    </td>
                    <td>
                        Состояние
                    </td>
                    <td></td>
                </tr>
                {% if payments|length > 0 %}
                    {% for payment in payments %}
                        <tr data-path="{{ url('deal/show', {'id' : payment['deal']['id']}) }}">
                            <td>
                                {{ payment['deal']['id'] }}
                            </td>
                            <td>
                                <a href="">{{ payment['deal']['name'] }}</a>
                            </td>
                            <td class="Nowrap" data-label="Сумма:">
                                {{ payment['amount_without_fee'] }} руб.
                            </td>
                            <td data-label="Владелец:">
                                {{ payment['deal']['owner'] }}
                            </td>
                            <td data-label="Дата создания:">
                                {{ payment['deal']['created'] }}
                            </td>
                            <td data-label="Срок выполенения:">
                                {{ payment['date_of_deadline'] }}
                            </td>
                            <td>
                                <a href="{{ url('deal/expired', {'id' : payment['deal']['id']}) }}">обработать</a>
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    <p class="ButtonsRow">
                        <a class="ButtonActionAll" href="{{ url('deal/expired', {'id': 'all'}) }}">Обработать все</a>
                    </p>
                {% else %}
                    <tr class="EmptyRow">
                        <td colspan="8">
                            В системе нет сделок, соотвествующих критериям готовности для создания credit платёжного
                            поручения.
                        </td>
                    </tr>
                {% endif %}
            </table>
        </form>
        <div id="paginator-deal-expired">
            {% if paginator %}
                {{ pagination.paginate(paginator) }}
            {% endif %}
        </div>
    </section>
{% endblock content %}
