{% extends 'twig/layout/application' %}

{% do headTitle('Загрузка файла') %}
{% block content %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm" id="section-deal-file-upload">
        <div class="PageForm-Container">
            <form method="post" id="deal-file-upload" action="{{ url('deal/file-upload') }}" enctype="multipart/form-data" class="FormLabelTop">
                <h3 class="TitleBlue">Выберите файл для загрузки</h3>
                <div class="Input-Wrapper">
                    {{ formElement(fileUploadForm.get('file'))|raw }}
                    {{ formElement(fileUploadForm.get('deal_id'))|raw }}
                </div>
                {{ formElement(fileUploadForm.get('csrf'))|raw }}
                <button class="ButtonApply" type="submit" data-ripple-button=""><span class="ripple-text">Загрузить файл</span></button>
            </form>
        </div>
    </section>
{% endblock content %}