{% extends 'twig/layout/application' %}
{% import 'macro/pagination.twig' as pagination %}
{#
1 dealFilterForm
2 deals
3 paginator
#}

{% block content %}
    {% do headTitle('Сделки') %}
        {% if is_operator %}
            {% set is_verified = true %}
        {% endif %}
        <section
            class="col-xl-10 col-lg-7  col-lt-6 col-xl-offset-2 col-lg-offset-1 col-lt-offset-0 PageTable"
            id="TableDeals"
            data-verified="{{is_verified}}"
        >
            <div class="TableWithPagination">
                <form method="get" class="TableWrapper" id="deal-filter-form">
                    <div class="table-head">
                        <div class="head-of-element">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-2 col-lt-2 col-lt-offset-2">
                                        <h3>Мои сделки</h3>
                                    </div>
                                    <div class="col-xl-2 col-xl-offset-8 col-lt-1 col-lt-offset-1">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="TableDeals TableDefault js-table-rows-are-link">
                        <tr class="FilterRowButtonMobile">
                            <td>
                                {% if is_operator %}
                                    <span class="TableDeals-OperatorCol">{{ formElement(dealFilterForm.get('filter[deal_number]')) |raw }}</span>
                                {% else %}
                                    <a class="ButtonApply"
                                       href="{{ url('deal/create') }}"
                                       title="Добавить сделку">
                                        Создать
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                <div class="FilterColButton">
                                    <label class="ButtonEdit FilterButton SortButton js-button-sort-table-mobile" title="Сортировка">Сортировка</label>
                                    <div class="wrap">
                                        <label for="filter-input-hidden" class="ButtonEdit FilterButton button-with-clear js-button-filter-table-mobile" title="Фильтр для таблицы">Фильтр
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr class="FilterTableRow js-filter-table-mobile" id="filter-table-mobile">
                            <td class="col-number">
                                {% if is_operator %}
                                    <span class="TableDeals-OperatorCol">{{ formElement(dealFilterForm.get('filter[deal_number]')) |raw }}</span>
                                {% else %}
                                    <a class="ButtonApply"
                                       href="{{ url('deal/create') }}"
                                       title="Добавить сделку">
                                        Создать
                                    </a>
                                {% endif %}
                            </td>
                            <td class="head-of-element">
                                <h3>Фильтр</h3>
                            </td>
                            <td class="buttons-wrap_filter-clear">
                                <button class="ButtonEdit button-for-filter" type="reset" data-ripple-button="">
                                    <span class="ripple-text">Сбросить все</span>
                                </button>
                            </td>
                            <td class="col-name">
                                <input class="InputSearch" name="filter[deal_name]" type="text" placeholder="Поиск по названию">
                            </td>
                            <td class="col-amount">
                                <input class="InputSearch" name="filter[deal_amount]" type="text" placeholder="Поиск по сумме">
                            </td>
                            {% if is_operator %}
                                <td class="col-role">
                                    {{ formElement(dealFilterForm.get('filter[deal_owner]')) |raw }}
                                </td>
                            {% else %}
                                <td class="col-role SelectChosen">
                                    {{ formElement(dealFilterForm.get('filter[deal_role]')) |raw }}
                                </td>
                            {% endif %}
                            <td class="hide-for-merge">
                                <label for="filter-tab-date" class="filter-tab">  </label>
                                <div class="DoubleInputDate js-filter-date-open">
                                    <p class="Head">Создана</p>
                                    <input class="filter-tab-input" id="filter-tab-date" type="checkbox"/>
                                    <div class="DoubleInputDate-Wrap js-filter-date-block">
                                        <div class="head-of-element">
                                            <h3>Выбрать период</h3>
                                        </div>
                                        <div class="wrap-for-padding">
                                            <div class="ButtonsRow">
                                                <button class="ButtonEdit button-for-filter js-filter-date-close" type="submit" data-ripple-button="">
                                                    <span class="ripple-text">Назад</span>
                                                </button>
                                                <button class="ButtonApply button-for-filter js-filter-date-close" type="submit" data-ripple-button="">
                                                    <span class="ripple-text">Применить</span>
                                                </button>
                                            </div>
                                            <input class="InputDate2 datepicker-here" name="filter[deal_created_from]"
                                                   type="text">
                                            <input class="InputDate2 datepicker-here" name="filter[deal_created_till]"
                                                   type="text">
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td class="col-status SelectChosen">
                                {{ formElement(dealFilterForm.get('filter[deal_status]')) |raw }}
                                {{ formElement(dealFilterForm.get('csrf')) |raw }}
                            </td>
                            {% if is_operator %}
                                <td class="SelectChosen">
                                    {{ formElement(dealFilterForm.get('filter[deal_debit_status]')) |raw }}
                                </td>
                            {% endif %}
                            <td class="ButtonsRow">
                                <button class="ButtonEdit button-for-filter js-button-filter-close-2" type="reset" data-ripple-button="">
                                    <span class="ripple-text">Назад</span>
                                </button>
                                <button class="ButtonApply button-for-filter js-button-filter-close-2" type="submit" data-ripple-button="">
                                    <span class="ripple-text">Показать</span>
                                </button>
                            </td>
                            <td>
                                <button class="ButtonSearch" type="submit"><span>&nbsp;</span></button>
                            </td>
                        </tr>

                        <tr class="Head js-sort-table-mobile">
                            <td class="head-of-element">
                                <h3>Сортировка</h3>
                            </td>
                            <td class="col col-number">
                                <a href="{{ sortHelper().getSortLink('number') }}" class="LinkSort">
                                    <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('number')) ?' active':'' }}">

                                    </i>
                                    Номер
                                </a>
                            </td>
                            <td class="col col-name">
                                <a href="{{ sortHelper().getSortLink('name') }}" class="LinkSort">
                                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('name')) ?' active':'' }}">

                                    </i>
                                    Название
                                </a>
                            </td>
                            <td class="col col-amount">
                                <a href="{{ sortHelper().getSortLink('amount') }}" class="LinkSort">
                                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('amount')) ?' active':'' }}">

                                    </i>
                                    Сумма, Р.
                                </a>
                            </td>
                            <td class="col col-role">
                                {% if is_operator %}
                                    <a href="{{ sortHelper().getSortLink('owner') }}" class="LinkSort">
                                        <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('owner')) ?' active':'' }}">

                                        </i>
                                        Владелец
                                    </a>
                                {% else %}
                                    <a href="{{ sortHelper().getSortLink('role') }}" class="LinkSort">
                                        <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('role')) ?' active':'' }}">

                                        </i>
                                        Роль
                                    </a>
                                {% endif %}
                            </td>
                            <td class="col col-date">
                                <a href="{{ sortHelper().getSortLink('created') }}" class="LinkSort">
                                    <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('created')) ?' active':'' }}">

                                    </i>
                                    Дата
                                </a>
                            </td>
                            <td class="col col-status">
                                Статус
                            </td>
                            {% if is_operator %}
                                <td class="col">
                                    Дебeт
                                </td>
                            {% endif %}
                            <td class="ButtonsRow">
                                <button class="ButtonEdit button-for-filter js-close-sort" type="reset" data-ripple-button="">
                                    <span class="ripple-text">Назад</span>
                                </button>
                                {#<button class="ButtonApply button-for-filter js-close-sort" type="submit">Применить</button>#}
                            </td>
                            <td class="col-empty"></td>
                        </tr>
                        {% if deals |length > 0 %}
                            {% for key,deal in deals %}
                                <tr data-path="{{ url('deal/show', {'id' : deal['id']}) }}">
                                    <td class="col col-number">
                                        <div class="col_mobile-title">ID</div>
                                        <div class="col_mobile-content">{{ deal['number'] }}</div>
                                    </td>
                                    <td class="col col-name">
                                        <div class="col_mobile-title">Название</div>
                                        <div class="col_mobile-content" title="{{ deal['name'] }}">
                                            <a href="{{ url('deal/show', {'id' : deal['id']}) }}">
                                                {{ deal['name'] }}
                                            </a>
                                        </div>
                                    </td>
                                    <td class="col col-amount Nowrap">
                                        <div class="col_mobile-title">Сумма</div>
                                        <div class="col_mobile-content">
                                            {{ deal['payment_amount_without_fee'] }} руб.
                                        </div>
                                    </td>
                                    {% if not is_operator %}
                                        <td class="col col-role">
                                            <div class="col_mobile-title">Ваша роль</div>
                                            <div class="col_mobile-content">
                                                {{ (deal['user_role'] == 'customer') ? 'Покупатель': 'Продавец' }}
                                            </div>
                                        </td>
                                    {% else %}
                                        <td class="col col-role">
                                            <div class="col_mobile-title">Владелец</div>
                                            <div class="col_mobile-content" title="{{ deal['owner'] }}">
                                                {{ deal['owner'] }}
                                            </div>
                                        </td>
                                    {% endif %}
                                    <td class="col col-date">
                                        <div class="col_mobile-title">Создана</div>
                                        <div class="col_mobile-content">
                                            {{ deal['created'] }}
                                        </div>
                                    </td>
                                    <td class="col col-status">
                                        <div class="col_mobile-title">Статус</div>
                                        <div class="col_mobile-content" title="{{ deal['deal_status']['name'] }}">
                                            {{ deal['deal_status']['name'] }}
                                        </div>
                                    </td>

                                    {#
                                      'debit' =>
                                          'total_amount' => float 107280
                                          'matched' => boolean false
                                          'overpayment' => null
                                          'underpayment' => float 100720
                                          'number_of_payments' => int 2
                                    #}
                                    {% if is_operator %}
                                        {% if deal['deal_status']['code'] > 1 %}
                                            <td class="col"
                                                style="color: {% if deal['debit']['matched'] %}green{% elseif deal['debit']['overpayment'] %}red{% else %}blue{% endif %}">
                                                <div class="col_mobile-title">Оплата</div>
                                                <div class="col_mobile-content"> <strong>{{ deal['debit']['total_amount'] }}</strong></div>
                                                <span style="font-size: 11px">
                                            {% if deal['debit']['underpayment'] %}
                                                - {{ deal['debit']['underpayment'] }}
                                            {% elseif deal['debit']['overpayment'] %}
                                                + {{ deal['debit']['overpayment'] }}
                                            {% endif %}
                                        </span>
                                                <div style="width: 16px; height: 16px">
                                                    {% if deal['debit']['number_of_payments']> 0 %}
                                                        {% for i in 1..deal['debit']['number_of_payments'] %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div style="width: 16px; height: 16px">
                                                    {% if deal['debit']['number_of_payments']> 0 %}
                                                        {% for i in 1..deal['debit']['number_of_payments'] %}
                                                            &#8381;
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </td>
                                        {% else %}
                                            <td class="col-empty"></td>
                                        {% endif %}
                                    {% endif %}
                                    <td class="col-empty"></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr class="EmptyRow">
                                <td colspan="{{ is_operator ? 8 : 7 }}">
                                    Список сделок пуст.
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </form>
                {{ pagination.paginate(paginator) }}
            </div>
        </section>
{% endblock content %}

