{% extends 'twig/layout/application' %}
{% import 'macro/pagination.twig' as pagination %}
{#
  'deal'
  'overpaid_amount'
  'expected_amount'
  'incomingTransactions'
  'repaidOverpayForm'
#}
{% do headTitle('Переплата по сделке ' ~ deal['number']) %}
{% block content %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-7 col-lg-offset-1 col-lt-6 col-lt-offset-0 OverpayPage" id="OverpayPage">
        <h1 class="TitleBlue">
            Сделка {{ deal['name'] }}
        </h1>
        <div class="InfoField">
            <div class="InfoField-Label">Ожидаемая сумма по сделке:</div>
            <div class="InfoField-Text">{{ expected_amount }} руб.</div>

        </div>
        <div class="InfoField">
            <div class="InfoField-Label">Сумма переплаты</div>
            <div class="InfoField-Text">{{ overpaid_amount }} руб.</div>
        </div>

        <table class="TableDefault TableDealsExpired js-table-rows-are-link">
            <tr class="Head">
                <td>
                    ID
                </td>
                <td>
                    Дата поступления
                </td>
                <td>
                    Сумма
                </td>
                <td>
                    Назначение платежа
                </td>
            </tr>
            {% for incomingTransaction in incomingTransactions %}
                <tr>
                    <td class="col">
                        <div class="col_mobile-title">ID</div>
                        <div class="col_mobile-content">{{ incomingTransaction['id'] }}</div>
                    </td>
                    <td class="col">
                        <div class="col_mobile-title">Дата поступления</div>
                        <div class="col_mobile-content">{{ incomingTransaction['created'] }}</div>
                    </td>
                    <td class="Nowrap col">
                        <div class="col_mobile-title">Сумма</div>
                        <div class="col_mobile-content">{{ incomingTransaction['amount'] }} руб.</div>
                    </td>
                    <td class="col">
                        <div class="col_mobile-title">Назначение платежа</div>
                        <div class="col_mobile-content">{{ incomingTransaction['payment_purpose'] }}</div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <form method="post" name="repaid-overpay-form" id="repaid-overpay-form">
            {{ formElement(repaidOverpayForm.get('deal_id'))|raw }}
            {{ formElement(repaidOverpayForm.get('csrf'))|raw }}
            <div class="FormError">
                {{ formElementErrors(repaidOverpayForm.get('deal_id'))|raw }}
                {{ formElementErrors(repaidOverpayForm.get('csrf'))|raw }}
            </div>
            <button type="submit" name="submit" class="ButtonApply">Подготовить платежку для возврата</button>
        </form>

        <p class="TextImportant">
            После формирования платёжки для возврата необходимо <a href="{{ url('bank-client/credit-unpaid') }}">загрузить</a> файл на выплату (Банк-Клиент->Неоплаченные платёжки)
        </p>
    </section>
{% endblock content %}
