{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{% import 'macro/translate.twig' as translate %}
{#
 1 requestConfirmForm - form
 2 requestRefuseForm - form
 3 tribunalRequestForm - form
 4 refundRequestForm - form
 5 discountRequestForm - form
 6 arbitrageRequestForm - form
 7 deliveryConfirmForm - form
#}
{% do headTitle('Карточка сделки') %}
{% block content %}
    {#{{ dump(deal['delivery']['service']['sender_address']['terminal']) }}#}
    {#{{ dump(deal['delivery']) }}#}
    {#{{ dump(deal) }}#}
    {% set delivery = deal['delivery'] %}
    {% set status = deal['status']['status'] %}
    {% set discount = deal['dispute']['discount'] %}
    {% set dispute = deal['dispute'] %}
    {% set mandarin_acquiring = deal['mandarin_acquiring'] %}

    {# Собираем все запросы в один массив #}
    {% set requests = [] %}
    {% set arbitrage_requests = dispute['arbitrage_requests'] %}
    {% set tribunal_requests = dispute['tribunal_requests'] %}
    {% set discount_requests = dispute['discount_requests'] %}
    {% set refund_requests = dispute['refund_requests'] %}

    {% if arbitrage_requests|length > 0 %}
        {% for request in arbitrage_requests %}
            {% set request = request|merge({'title': 'Согласительная комиссия', 'type': 'arbitrage'}) %}
            {% set requests = requests|merge([request]) %}
        {% endfor %}
    {% endif %}

    {% if refund_requests|length > 0 %}
        {% for request in refund_requests %}
            {% if deal.type_ident == 'T' %}
                {% set request = request|merge({'title': 'Возврат товара', 'type': 'refund'}) %}
            {% elseif deal.type_ident == 'U' %}
                {% set request = request|merge({'title': 'Отказ от услуги', 'type': 'refund'}) %}
            {% endif %}
            {% set requests = requests|merge([request]) %}
        {% endfor %}
    {% endif %}

    {% if tribunal_requests|length > 0 %}
        {% for request in tribunal_requests %}
            {% set request = request|merge({'title': 'Суд', 'type': 'tribunal'}) %}
            {% set requests = requests|merge([request]) %}
        {% endfor %}
    {% endif %}

    {% if discount_requests|length > 0 %}
        {% for request in discount_requests %}
            {% set request = request|merge({'title': 'Скидка', 'type': 'discount'}) %}
            {% set requests = requests|merge([request]) %}
        {% endfor %}
    {% endif %}
    {% set requests = sort_by_field(requests, 'created', 'asc', 'date') %}

    <section class="DealShowPage" id="section-deal-show-page">
        <h2 class="deal-name-mobile">
            <div class="row">
                <div class="col-lt-6">
                    Сделка «{{ deal['name'] }}» {{ deal['number'] }}
                </div>
            </div>
        </h2>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-lt-6 col-sm-4 col-xl-offset-2 col-lg-offset-0 DealShowPage-Header">
                    {% include 'application/deal/partial/timeline.twig'
                    with {
                    'deal':  deal,
                    'status': status,
                    'dispute': dispute
                    } %}
                </div>
            </div>
        </div>
        <section class="container DealShowPage-Content">
            <div class="row DealShowPage-Details">
                <div class="col-xl-6 col-xl-offset-2 col-lg-4 col-lt-3 col-sm-4 col-lg-offset-1 col-lt-offset-0 DealShowPage-Main">
                    <section class="DealShowPage-DealControl">
                        <div class="DealControl">
                            <div class="row nested-row DealControl-Body ">
                                <div class="col-xl-8 col-lg-8 DealControl-Info ">
                                    <h1 class="TitleBlue">Сделка «{{ deal['name'] }}» {{ deal['number'] }}</h1>
                                    {% include 'application/deal/partial/confirmation-block.twig' with {
                                    'deal': deal,
                                    'is_operator': is_operator,
                                    'requests' : requests,
                                    'arbitrage_requests' : arbitrage_requests,
                                    'tribunal_requests' : tribunal_requests,
                                    'discount_requests' : discount_requests,
                                    'refund_requests' : refund_requests,
                                    'trackingNumberForm': trackingNumberForm,
                                    'datePickupForm': datePickupForm
                                    } %}
                                </div>
                                <div class="col-xl-4 col-lg-8 col-lt-6 col-sm-4 DealControl-Buttons">
                                    {% include 'application/deal/partial/deal-buttons.twig' with { 'deal': deal, 'is_operator': is_operator} %}
                                </div>
                            </div>
                            {# pickup_date #}
                            {#{% include 'application/deal/forms/date-pickup-form.twig' with {'deal' : deal, 'datePickupForm': datePickupForm} %}#}

                            {% if deal['dispute'] != null %}
                                <div class="row nested-row DealControlDispute">
                                    <div class="col-xl-12">
                                        <h2 class="TitleBlue">Спор по сделке</h2>
                                    </div>
                                    <div class="col-xl-8 col-lg-8 DealControlDispute-Descriptions">
                                        <div class="Problem-Descriptions">
                                            <h2 class="SubTitle">Описание проблемы</h2>
                                            <div class="Problem-Descriptions_view">
                                                <span>{{ dispute['reason'] }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-lt-4 col-sm-4 SolutionRequests" id="DisputeRequests">
                                        {% for request in requests %}
                                            {% if request['is_author'] == true or (request['is_author'] == false and request['confirm'] is not null) or (is_operator == false and (request['type'] == 'arbitrage' or request['type'] == 'tribunal')) or (is_operator == true and (request['type'] == 'discount' or request['type'] == 'refund')) %}
                                                {# info #}
                                                {% if request['type'] == 'discount' %}
                                                    {% include 'application/deal/dispute/solution_requests/info/discount-request-info.twig' with {'deal': deal, 'request': request} %}
                                                {% endif %}
                                                {% if request['type'] == 'refund' %}
                                                    {% include 'application/deal/dispute/solution_requests/info/refund-request-info.twig' with {'deal': deal, 'request': request} %}
                                                {% endif %}
                                                {% if request['type'] == 'arbitrage' %}
                                                    {% include 'application/deal/dispute/solution_requests/info/arbitrage-request-info.twig' with {'deal': deal, 'request': request} %}
                                                {% endif %}
                                                {% if request['type'] == 'tribunal' %}
                                                    {% include 'application/deal/dispute/solution_requests/info/tribunal-request-info.twig' with {'deal': deal, 'request': request} %}
                                                {% endif %}
                                                {# end info #}
                                            {% else %}
                                                <div class="SolutionRequests-Status FormLabelTop">
                                                    {% include 'application/deal/dispute/solution_requests/forms/confirm-form.twig' with {'request': request, 'requestRefuseForm': requestRefuseForm, 'requestConfirmForm': requestConfirmForm } %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}

                                        {% if dispute['is_allowed_refund_request'] or dispute['is_allowed_arbitrage_request'] or dispute['is_allowed_discount_request'] or dispute['is_allowed_tribunal_request'] %}
                                            {% if dispute['is_allowed_discount_request'] %}
                                                {% include 'application/deal/dispute/solution_requests/forms/discount-request-form.twig' with {'deal': deal} %}
                                            {% endif %}
                                            {% if dispute['is_allowed_refund_request'] %}
                                                {% include 'application/deal/dispute/solution_requests/forms/refund-request-form.twig' with {'deal': deal} %}
                                            {% endif %}
                                            {% if dispute['is_allowed_arbitrage_request'] %}
                                                {% include 'application/deal/dispute/solution_requests/forms/arbitrage-request-form.twig' with {'deal': deal} %}
                                            {% endif %}
                                            {% if dispute['is_allowed_tribunal_request'] %}
                                                {% include 'application/deal/dispute/solution_requests/forms/tribunal-request-form.twig' with {'deal': deal} %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row nested-row DealControl-Bottom">
                                {% if deal['tracking_numbers'] |length > 0 and deal['is_customer'] == true %}
                                    <div class="col-xl-12">
                                        {% include 'application/deal/partial/tracking-numbers.twig' with {'deal': deal, 'is_operator': is_operator} %}
                                    </div>
                                {% endif %}

                                {# если сделка согласована #}
                                {% if deal['status']['code'] >= 5 %}
                                    {# если пользователь - Покупатель #}
                                    {% if (deal['is_customer']) and status == 'confirmed' and is_operator == false %}
                                        {# Выбор варианта оплаты #}
                                        {% if payVariantForm %}
                                            {% if (status == 'confirmed' and mandarin_acquiring is null) or (mandarin_acquiring is not null and mandarin_acquiring['status'] != 'processing') %}
                                                <div class="col-xl-8 col-lg-8 col-lt-6">
                                                    <form action="{{ url('deal_pay_options_form', {'idDeal' : deal['id']}) | trim }}"
                                                          method="post"
                                                          class="FormLabelTop deal-pay-form"
                                                          id="deal-pay-by-card-form">
                                                        <div class="FormAdd">
                                                            <div>
                                                                {{ formElement(payVariantForm.get('csrf'))|raw }}
                                                                {{ formElement(payVariantForm.get('deal_id'))|raw }}
                                                                <input type="hidden" name="pay_variant"
                                                                       value="acquiring_mandarin">
                                                            </div>
                                                            <div class="FormError">
                                                                {{ formElementErrors(payVariantForm.get('csrf'))|raw }}
                                                                {{ formElementErrors(payVariantForm.get('deal_id'))|raw }}
                                                                {{ formElementErrors(payVariantForm.get('pay_variant'))|raw }}
                                                            </div>
                                                            <button class="ButtonApply" type="submit">
                                                                <img src="{{ basePath('img/icon-security-card.svg') }}"
                                                                     alt="">
                                                                Оплатить картой
                                                            </button>
                                                        </div>
                                                    </form>
                                                    <div id="ControllerPayMandarin"
                                                         class="controller-pay-mandarin Preloader"></div>
                                                    {% include 'application/deal/partial/deal-history-text/customer/last/bank-payment-success-last.twig' %}
                                                    {% include 'application/deal/partial/deal-history-text/customer/last/guarant-pay-security.twig' %}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    {#
                                    @TODO тест для данного блока закоментирован и находится в HTMLOutputDealSingleTest::testCheckAvailabilityContractFileDownloadLink если данный блок в дальнейшем не будет использоваться тест необходимо будет удалить!!!
                                #}
                                    {#<div class="col-xl-12">#}
                                    {#<div class="LinkWithIcon download-contract-link">#}
                                    {#<div class="IconDownload LinkWithIcon-Icon"></div>#}
                                    {#<a href="{{ url('deal/contract', {'id': deal['id']}) }}"#}
                                    {#class="LinkWithIcon-Text AccentLink">Скачать договор по сделке</a>#}
                                    {#</div>#}
                                    {#</div>#}
                                {% endif %}
                                <div class="col-xl-12">
                                    {% include 'application/deal/partial/attachment-files.twig'
                                    with {
                                    'deal':  deal
                                    } %}
                                </div>
                            </div>
                        </div>
                    </section>
                    {% if is_operator %}
                        {# Комментарии Операторов. Только для Операторов! #}
                        <section class="DealShowPage-ActionBlock Comment-Wrap">
                            <div class="Spoiler js-spoiler isJs">
                                <label for="comment-add-spoiler" class="Spoiler-Toggle">
                                    Комментарии операторов ({{ deal_operators_comments|length }})
                                </label>
                                <input class="Spoiler-Checkbox" type="checkbox" id="comment-add-spoiler">
                                <div class="Spoiler-Hidden">
                                    <div class="Spoiler-Body">
                                        <form class="row nested-row FormInline" method="post" id="deal-comment-form"
                                              action="{{ url('deal-comment-form-create') }}">
                                            <div class="col-xl-6 col-lg-5 col-lt-4 col-md-6 col-sm-3 col-xs-4">
                                                <div class="Input-Wrapper">
                                                    {{ formElement(dealCommentForm.get('text'))|raw }}
                                                    {{ formElement(dealCommentForm.get('deal_id'))|raw }}
                                                    {{ formElement(dealCommentForm.get('csrf'))|raw }}
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-lt-2 col-md-3 col-sm-1 col-xs-4">
                                                <button type="submit" class="ButtonApply" value="">Добавить</button>
                                            </div>
                                        </form>

                                        {% include 'application/partial/comments.twig'
                                        with {
                                        'urlComment': 'deal-comment-form',
                                        'comments' : deal_operators_comments
                                        } %}
                                    </div>
                                </div>
                            </div>
                        </section>
                    {% endif %}
                </div>
                <div class="col-xl-4 col-lg-3 col-lt-3 col-sm-4 DealShowPage-Description-Wrapper ">
                    <div class="DealShowPage-Description">
                        {% include 'application/partial/deal-conditions.twig'
                        with {
                        'deal': deal,
                        'is_operator': is_operator
                        } %}
                        <section class="DealShowPage-Additional DealAgentsDataPlate">

                            <div class="Conditions Spoiler">
                                <div class="Conditions-Head">
                                    Участники
                                    <label for="spoiler-deal-agents-info"
                                           class="ButtonAdd Spoiler-Toggle js-ButtonAddConditions"></label>
                                </div>
                                <input class="Spoiler-Checkbox" type="checkbox" id="spoiler-deal-agents-info">
                                <div class="Spoiler-Hidden">
                                    <div class="Conditions-Content">
                                        {% include 'application/partial/deal-agents-info.twig'
                                        with {
                                        'deal': deal,
                                        'payment_method_requisites': deal['payment_method_requisites'],
                                        'is_operator': is_operator
                                        } %}
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>

        <div class="Popup-Container js-popup" id="dispute-resolution-methods">
            <div class="Popup-Bg"></div>
            <div class="Popup">
                <div class="button-popup-close js-popup-close dispute-resolution-methods-close-button">
                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="18" cy="18" r="17.5" fill="white" stroke="#C5D0DE"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.61707 11.4113L6.00499 8.80093L3.38293 11.4193C2.61008 12.1936 1.35397 12.1936 0.581128 11.4193C-0.193709 10.6469 -0.193709 9.39365 0.581128 8.61932L3.2012 5.999L0.581128 3.38068C-0.193709 2.60635 -0.193709 1.35307 0.581128 0.580742C1.35397 -0.193581 2.61008 -0.193581 3.38293 0.580742L6.00499 3.19907L8.61707 0.588724C9.38992 -0.185598 10.644 -0.185598 11.4189 0.588724C12.1917 1.36305 12.1917 2.61633 11.4189 3.38866L8.80679 6.001L11.4189 8.61134C12.1937 9.38367 12.1937 10.6389 11.4189 11.4113C10.646 12.1836 9.38992 12.1836 8.61707 11.4113Z" transform="translate(12 12)" fill="#C5D0DE"/>
                    </svg>
                </div>
                <div class="Popup-Content dispute-resolution-methods-popup-content">
                    <h2 class="TitleBlue dispute-resolution-methods-popup-title">Варианты решения спора</h2>
                    <ol class="dispute-resolution-methods">
                        <li class="dispute-resolution-method">Предоставление скидки покупателю (продавец готов сделать
                            дополнительную скидку, чтобы урегулировать спор).
                        </li>
                        <li class="dispute-resolution-method">
                            Возврат товара с возвратом денежных средств (полученный товар отправляется обратно продавцу).
                        </li>
                        <li class="dispute-resolution-method">
                            Передача дела в третейский суд (если продавец и покупатель не смогли договориться и их не устроило решение, которое предложила администрация).
                        </li>
                        <li class="dispute-resolution-method">
                            Закрытие спора с дальнейшим выполнением первоначальных условий сделки (отмена спора).
                        </li>
                        <li class="dispute-resolution-method">
                            Передача спора на рассмотрение согласительной комиссии (если вы не знаете какой вариант решения спора вам подходит).
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="Popup-Container js-popup" id="confirm-delivery">
            <div class="Popup-Bg"></div>
            <div class="Popup">
                <div class="Popup-Content" style="max-width: 650px;">
                    {% if deal['is_customer'] == true %}
                        {# если сделка оплачена (статус 'debit_matched') или в споре (статус 'dispute') #}
                        {% if not deal['is_delivery_confirmed'] and status == 'debit_matched' and status != 'refund' and status != 'tribunal' %}
                            <div class="row nested-row">
                                <div class="col-xl-12">
                                        <h2 class="TitleBlue">Вы действительно подтверждаете выполнение обязательств
                                            {% if deal['type_ident'] == 'T'%}
                                            продавцом?
                                            {% else %}
                                            исполнителем?
                                            {% endif %}
                                        </h2>
                                </div>
                            </div>
                        <div class="row nested-row">
                            <div class="col-xl-12">
                                <p class="TextImportant">Обратите внимание, в случае подтверждения, деньги будут перечислены
                                    {% if deal['type_ident'] == 'T'%}
                                        продавцу,
                                    {% else %}
                                        исполнителю,
                                    {% endif %}
                                    и вы уже не сможете открыть спор по сделке.</p>
                            </div>
                        </div>

                            <form action="{{ url('delivery-form-confirm', {'idDeal' : deal['id']}) | trim }}" method="post" class="FormLabelTop">
                                {{ formElement(deliveryConfirmForm.get('csrf'))|raw }}
                                {{ formElement(deliveryConfirmForm.get('idDeal'))|raw }}
                                {{ formElement(deliveryConfirmForm.get('type_form'))|raw }}
                                <div class="row nested-row ButtonsRow">
                                    <div class="col-xl-6 col-sm-2 col-xs-4">
                                        <button class="ButtonAccept" type="submit" data-ripple-button="">
                                            <span class="ripple-text">Подтвердить</span>
                                        </button>
                                    </div>
                                    <div class="col-xl-6 col-sm-2 col-xs-4">
                                        <button class="ButtonRefuse js-popup-close" type="button" data-ripple-button="">
                                            <span class="ripple-text">Отменить</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <div id="dpd-delivery-data" data-sender_city_id="{{ delivery['service']['sender_address']['city_id'] }}" data-receiver_city_id="{{ delivery['service']['receiver_address']['city_id'] }}" data-weight="{{ delivery['service']['parcels'][0]['weight'] }}" data-terminal_code="{{ delivery['service']['sender_address']['terminal_code'] }}" data-csrf="{{ deliveryConfirmForm.get('csrf').getValue() }}" data-date_pickup="{{ deal['delivery']['service']['date_pickup'] }}"></div>
{% endblock content %}