{% extends 'twig/layout/authentication' %}

{% do headTitle('Сделка создана!') %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-xl-offset-4 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-0">
                <div class="form-auth">
                    <div class="form-title-group">
                        <h1 class="form-title is-active is-uppercase">Сделка создана!</h1>
                    </div>
                    <div class="form-auth__inner">
                        <div class="form-field">
                            <div class="register-invitation">
                                На Ваш Email отправлено письмо с подтверждением. Для проведения сделки, пожалуйста перейдите по ссылке в письме.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}