<?php if($paymentMethod): ?>
    <p>
        Тип: <strong><?=$paymentMethod->getPaymentMethodType()->getOutputName()?></strong><br>
        Название: <?=$paymentMethod->getPaymentMethodBankTransfer()->getName()?><br>
        Наименование банка: <?=$paymentMethod->getPaymentMethodBankTransfer()->getBankName()?><br>
        БИК: <?=$paymentMethod->getPaymentMethodBankTransfer()->getBik()?><br>
        Лицевой счет: <?=$paymentMethod->getPaymentMethodBankTransfer()->getAccountNumber()?><br>
        Корреспондентский счет: <?=$paymentMethod->getPaymentMethodBankTransfer()->getCorrAccountNumber()?><br>
    </p>
<?php endif; ?>