<?= $this->form()->openTag($form); ?>

<?= $this->formElement($form->get('civil_law_subject_id')); ?>
<?= $this->formElement($form->get('payment_method_type')); ?>

<div class="form-group">
    <?= $this->formLabel($form->get('name')); ?>
    <?= $this->formElement($form->get('name')); ?>
    <?= '<div class="form-error">'.$this->formElementErrors($form->get('name')).'</div>'; ?>
</div>

<div class="form-group">
    <?= $this->formLabel($form->get('bank_name')); ?>
    <?= $this->formElement($form->get('bank_name')); ?>
    <?= '<div class="form-error">'.$this->formElementErrors($form->get('bank_name')).'</div>'; ?>
</div>

<div class="form-group">
    <?= $this->formLabel($form->get('bik')); ?>
    <?= $this->formElement($form->get('bik')); ?>
    <?= '<div class="form-error">'.$this->formElementErrors($form->get('bik')).'</div>'; ?>
</div>

<div class="form-group">
    <?= $this->formLabel($form->get('account_number')); ?>
    <?= $this->formElement($form->get('account_number')); ?>
    <?= '<div class="form-error">'.$this->formElementErrors($form->get('account_number')).'</div>'; ?>
</div>

<div class="form-group">
    <?= $this->formLabel($form->get('corr_account_number')); ?>
    <?= $this->formElement($form->get('corr_account_number')); ?>
    <?= '<div class="form-error">'.$this->formElementErrors($form->get('corr_account_number')).'</div>'; ?>
</div>

<div class="form-group">
    <?= $this->formLabel($form->get('payment_recipient_name')); ?>
    <?= $this->formElement($form->get('payment_recipient_name')); ?>
    <?= '<div class="form-error">'.$this->formElementErrors($form->get('payment_recipient_name')).'</div>'; ?>
</div>

<div class="form-group">
    <?= $this->formLabel($form->get('inn')); ?>
    <?= $this->formElement($form->get('inn')); ?>
    <?= '<div class="form-error">'.$this->formElementErrors($form->get('inn')).'</div>'; ?>
</div>

<div class="form-group">
    <?= $this->formLabel($form->get('kpp')); ?>
    <?= $this->formElement($form->get('kpp')); ?>
    <?= '<div class="form-error">'.$this->formElementErrors($form->get('kpp')).'</div>'; ?>
</div>

<?= $this->formElement($form->get('csrf')); ?>
<?= $this->formElement($form->get('submit')); ?>

<?= $this->form()->closeTag(); ?>