<div class="FormVerification js-verification" id="FormPhoneConfirm" data-start="{{ start_phone_code_confirm }}" data-period="{{ period_phone_code_confirm }}">
    <button class="ButtonClose js-verification-close"></button>
    <h2 class="FormVerification-Title">Подтверждение</h2>
    <p class="FormVerification-Text">Введите код с телефона.</p>
    <form method="post" action="{{ url('phone/confirm') }}">
        <div class="InputSubmit">
            <input type="text" name="code" class="FormVerification-Input">
            {{ formElement(phoneConfirmForm.get('csrf')) }}
            <button type="submit" class="FormVerification-Button ButtonApply">Подтвердить</button>
        </div>
    </form>
    {% if is_limit_phone_code_confirm != 'true' %}
        <a href="{{ url('phone/code-resend') }}" class="ButtonApply FormVerification-Resend js-form-timer-button">Получить повторно</a>
    {% else %}
        <p class="TextImportant">Вам был отправлен код подтверждения. Следующий код можно будет запросить через 15 минут.</p>
    {% endif %}
</div>