<div class="FormVerification js-verification" id="FormEmailConfirm" data-start="{{ token_created_date }}" data-period="{{ email_confirmation_token_request_period }}">
    <button class="ButtonClose js-verification-close"></button>
    <h2 class="FormVerification-Title">Подтверждение</h2>
    {% if is_email_token_expired is same as(false) %}
        <p class="FormVerification-Text">Введите токен.</p>
        <form method="post" action="{{ url('email/confirm') }}">
            <div class="InputSubmit">
                <input type="text" name="confirmation_token"
                       class="FormVerification-Input">
                <button type="submit" class="FormVerification-Button ButtonApply">Подтвердить</button>
            </div>
        </form>
    {% elseif is_email_token_expired %}
        <p class="TextImportant no-mt">Код подтверждения устарел, его необходимо получить повторно.</p>
    {% else %}
        <p class="TextImportant no-mt">Код для подтверждения отсутствует. Нажмите получить повторно.</p>
    {% endif %}
    <a href="{{ url('email/resend') }}" class="ButtonApply FormVerification-Resend js-form-timer-button">Получить повторно</a>
</div>