<div class="FormVerification js-verification" id="{{ id ? id : 'FormPhoneAdd' }}">
    <button class="ButtonClose js-verification-close"></button>
    <h2 class="FormVerification-Title">Добавить номер телефона</h2>
    {% if is_limit_phone_code_change != 'true' %}
        <p class="FormVerification-Text">Введите номер телефона</p>
        <form method="post" action="{{ url('phone/create') }}" id="form-create-phone">
            <input type="text" name="phone" class="FormVerification-Input">
            <input type="hidden" name="csrf" value="{{ generateCsrf() }}">
            <button type="submit" class="FormVerification-Button ButtonApply js-form-timer-button">Добавить</button>
        </form>
    {% else %}
        <p class="TextImportant">Вам был отправлен код подтверждения. Следующий запрос на смену телефона можно будет сделать через 15 минут.</p>
    {% endif %}
</div>