<div class="FormVerification js-verification" id="FormEmailEdit" data-start="{{ token_created_date }}" data-period="{{ email_confirmation_token_request_period }}">
    <button class="ButtonClose js-verification-close"></button>
    <h2 class="FormVerification-Title">Изменить эл.почту</h2>
    <p class="FormVerification-Text js-form-timer-hide">Введите новый адрес</p>
    <form method="post" action="{{ url('email/edit') }}" id="form-edit-email">
        <input type="text" name="new_email" class="FormVerification-Input js-form-timer-hide">
        {{ formElement(emailEditForm.get('current_email')) }}
        {{ formElement(emailEditForm.get('csrf')) }}
        <button type="submit" class="FormVerification-Button ButtonApply js-form-timer-button">Изменить</button>
    </form>
</div>