<div class="FormVerification js-verification" id="{{ id ? id : 'FormPhoneEdit' }}" data-start="{{ start_phone_code_change }}" data-period="{{ period_phone_code_change }}">
    <button class="ButtonClose js-verification-close"></button>
    <h2 class="FormVerification-Title">Изменить номер телефона</h2>
    {% if is_limit_phone_code_change != 'true' %}
        <p class="FormVerification-Text">Введите номер телефона</p>
        <form method="post" action="{{ url('phone/edit') }}" id="form-edit-phone">
            <input type="text" name="new_phone" class="FormVerification-Input">
            {{ formElement(phoneEditForm.get('current_phone')) }}
            {{ formElement(phoneEditForm.get('csrf')) }}
            <button type="submit" class="FormVerification-Button ButtonApply js-form-timer-button">Изменить</button>
        </form>
    {% else %}
        <p class="TextImportant">Вам был отправлен код подтверждения. Следующий запрос на смену телефона можно будет сделать через 15 минут.</p>
    {% endif %}
</div>