{% extends 'twig/layout/application' %}
{#
    confirmForm - form
#}
{% do headTitle('Подтверждение Email') %}
{% block content %}
<section class="PageForm">
    <div class="PageForm-Container">
        <form id="email-confirm-form" action="{{ url('email/confirm') | trim}}" method="post"
              class="FormLabelLeft js-form-timer" data-start="{{ token_created_date }}" data-period="{{ email_confirmation_token_request_period }}">
            <h1 class="TitleBlue">Подтверждение Email</h1>
            {% if is_email_token_expired is same as(false) %}
                <p class="PageForm-Notification">На Ваш почтовый ящик отправлено сообщение, содержащее ссылку для подтверждения правильности e-mail адреса. Пожалуйста, перейдите по ссылке для завершения подписки.</p>
                <p class="PageForm-Notification">Если письмо не пришло в течение 15 минут, проверьте папку «Спам». Если письмо вдруг попало в эту папку, откройте письмо, нажмите кнопку «Не спам» и перейдите по ссылке подтверждения. Если же письма нет и в папке «Спам», попробуйте подписаться ещё раз. Возможно, вы ошиблись при вводе адреса.</p>
                <div class="Input-Wrapper" style="flex-wrap:wrap;">
                    <label for="inputLogin" style="letter-spacing: normal; min-width: 100%; margin-bottom: 0;">код</label>
                    {{ formElement(confirmForm.get('csrf'))|raw }}
                    <input type="text" name="confirmation_token" class="form-control" id="inputLogin" placeholder="Введите код">
                </div>
                <div class="ButtonsRow" style="margin-bottom: 20px; padding-top: 20px;">
                    <input type="submit" class="ButtonApply margin-right" value="Подтвердить" />
                </div>
            {% elseif is_email_token_expired %}
                <p class="TextImportant no-mt">Код подтверждения устарел, его необходимо получить повторно.</p>
            {% else %}
                <p class="TextImportant no-mt">Код для подтверждения отсутствует. Нажмите получить повторно.</p>
            {% endif %}
            <div class="ButtonsRow" style="padding-top: 0;">
                <a href="{{ url('email/resend') | trim}}" class="ButtonApply js-form-timer-button">Получить повторно</a>
            </div>
        </form>
    </div>
</section>
{% endblock content %}