<div class="row">
    <h4 class="form-inline">
        Водительское удостоверение
        <?php if (!$this->isOperator):?>
            <a href="<?= $this->url('user-profile/natural-person-driver-license-form-edit', [
                'idDriverLicense' => $this->driverLicense->getId()
            ]) ?>" class="form-group">
                изменить
            </a>
            <a href="<?= $this->url('user-profile/natural-person-driver-license-form-delete', [
                'idDriverLicense' => $this->driverLicense->getId()
            ]) ?>" class="form-group">
                удалить
            </a>
        <?php endif; ?>
    </h4>
    <table>
        <tr>
            <td>Дата выдачи:</td>
            <td><?=$this->driverLicense->getDateIssued()->format('Y-m-d');?></td>
        </tr>
        <tr>
            <td>Файлы:</td>
            <td>
                <?php if (count($this->driverLicense->getFiles()) > 0): ?>
                    <?php foreach ($this->driverLicense->getFiles() as $file): ?>
                        <a href="<?= $this->url('profile/file', [
                            'civilId' => $this->driverLicense->getNaturalPersonDocument()->getNaturalPerson()->getCivilLawSubject()->getId(),
                            'fileId' => $file->getId(),
                        ]) ?>">
                            <?= $file->getName() ?>
                        </a>
                    <?php endforeach; ?>
                <?php endif; ?>
            </td>
        </tr>
    </table>
</div>