<div class="row">
    <h4 class="form-inline">
        Паспорт
        <?php if (!$this->isOperator):?>
            <a href="<?= $this->url('user-profile/natural-person-passport-form-edit', [
                'idPassport' => $this->passport->getId()
            ]) ?>" class="form-group">
                изменить
            </a>
            <a href="<?= $this->url('user-profile/natural-person-passport-form-delete', [
                'idPassport' => $this->passport->getId()
            ]) ?>" class="form-group">
                удалить
            </a>
        <?php endif; ?>
    </h4>
    <table>
        <tr>
            <td>Серия и номер:</td>
            <td><?=$this->passport->getPassportSerialNumber();?></td>
        </tr>
        <tr>
            <td>Дата выдачи:</td>
            <td><?=$this->passport->getDateIssued()->format('Y-m-d');?></td>
        </tr>
        <tr>
            <td>Кем выдан:</td>
            <td><?=$this->passport->getPassportIssueOrganisation();?></td>
        </tr>
        <tr>
            <td>Дата истечения:</td>
            <td><?=$this->passport->getDateExpired()->format('Y-m-d');?></td>
        </tr>
        <tr>
            <td>Файлы:</td>
            <td>
                <?php if (count($this->passport->getFiles()) > 0): ?>
                    <?php foreach ($this->passport->getFiles() as $file): ?>
                        <a href="<?= $this->url('profile/file', [
                            'civilId' => $this->passport->getNaturalPersonDocument()->getNaturalPerson()->getCivilLawSubject()->getId(),
                            'fileId' => $file->getId(),
                        ]) ?>">
                            <?= $file->getName() ?>
                        </a>
                    <?php endforeach; ?>
                <?php endif; ?>
            </td>
        </tr>
    </table>
</div>