@import "variables";


@import (multiple) "organisms/page-header";
@import (multiple) './atoms/section-divider';
@import (multiple) './molecules/partners';
@import (multiple) './organisms/auth-popup';
@import (multiple) './organisms/integration';
@import (multiple) "./organisms/information";
@import (multiple) "./organisms/deal-control";
@import (multiple) "./organisms/deal-payment";
@import (multiple) "./organisms/deal-protection";
@import (multiple) "./organisms/guarant-premier";
@import (multiple) "./organisms/page-footer";
@import (multiple) "./organisms/how-it-works";
@import (multiple) "./atoms/preloader";
@import (multiple) "./molecules/animations";
@import (multiple) "./atoms/video";
@import (multiple) "atoms/menu-is-open";
@import (multiple) "atoms/captcha-wrapper";

section {
  position: relative;
  margin: 0 auto;

  @media (max-width: @grid-breakpoint-sm) {
    width: 100%;
    min-height: auto;
  }

  .section-image{
    @media (max-width: @grid-breakpoint-md) {
      order: -1;
    }
  }

  .section-with-image__image{
    @media (max-width: @grid-breakpoint-sm){
      display: none;
    }
  }

}

.Container {
  max-width: @pageWidth + 40px;
  width: 100%;
  flex: 1 auto;
  @media (max-width: @tablet) {
    display: table-cell;
    vertical-align: middle;
  }
  .Content, .TrustComponents {
    @media (max-width: @tablet) {
      display: block !important;
    }
  }
}
