// Screen sizes

@browser_lag: 30px;
@full-hd: 1920px;
@desk: 1400px;
@tablet: 1024px;
@mobile: 650px;
@small: 460px;
// Grid variables

/**
grid breakpoints (desktop first)
 */
@container-max-width: 1170px;
@grid-breakpoint-xl: 3000px;
@grid-breakpoint-md: 1024px;
@grid-breakpoint-sm: 767px;
@grid-breakpoint-xs: 374px;
/**
grid gutter widths
 */
@grid-gutter-width-xl: 30px;
@grid-gutter-width-md: 30px;
@grid-gutter-width-sm: 20px;
@grid-gutter-width-xs: 20px;
/**
grid columns counts
 */
@grid-columns-count-xl: 12;
@grid-columns-count-md: 6;
@grid-columns-count-sm: 4;
@grid-columns-count-xs: 4;




@grid: calc(@full-hd ~"/" 27);
@grid_2-col: calc(@grid ~"*" 2);
@grid_3-col: calc(@grid ~"*" 3);
@pageWidth: 1170px;
@colPadding: 20px;
@padding-link_y: 8px;
@padding-link_x: 15px;
@indent: calc(~"100vw * 0.009375 + 12px");
@indentBig: calc(@indent ~"*" 2);
@indentSmall: calc(@indent ~"/" 2);

@dark-bg-gradient: #3c4458;
@text-color: #718493;
@_New_text-color: #425160;
@main-dark-color: #3c4458;
@input-text-color: #38465a;
@accent-color: #1eadff;
@_New_text-color: #425160;
@active-color: #2F80ED;
@links-color: #1863A4;
@section-content-color: #191C1F;
@offer-note-color: #20B8EF;
@grey-list-hover-color: #F6F7F9;
@secondary-links-color: #C5C5C5;
@valid-success-color: #1ABC9C;
@error-hint-color: #FF4C4C;
@input-padding-vertical: 15px;
@input-padding-horizontal: 10px;
@input-height: 55px;
@input-width: 210px;
@light-grey-color: #EFF4FB;

@table-hover-background: #e7f7ff;

@red-color: #F85359;
@green-color: #09C199;
@outline-color: #A6C7FF;
