<?= $this->doctype() ?>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <?= $this->headTitle('GuarantPay Beta')->setSeparator(' - ')->setAutoEscape(false) ?>

    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>
    <title>guarant_pay_main</title>
    <!-- Le styles -->
    <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
        ->prependStylesheet($this->basePath('build/application.css'))
    ?>
</head>
<body>
<header class="header">
    <div class="header__container">
        <div class="logo">
            <a href="<?=$this->url('home')?>">
                <div class="logo__image"><img src="/img/logo.png" width="64" height="38" alt=""></div>
                <div class="logo__text"><img src="/img/logo_text.png" width="124" height="11" alt=""></div>
            </a>
        </div>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#">О компании</a></li>
                <li class="nav__item"><a href="#">Справка</a></li>
                <li class="nav__item"><a href="#">Контакты</a></li>
            </ul>
        </nav>
        <div class="account">
            <?php
                $avatarSrc = "/img/no-avatar.png";
                if ($this->identity()) {
                    $user = $this->userHelper()->getCurrentUser();
                    if($user && $user->existAvatar()){
                        $avatarSrc = $this->url('profile/avatar', ['fileId' => $user->getAvatar()->getId(),]);
                    }
                }
            ?>
            <a href="#">
                <span class="rounded-img account__icon">
                    <span class="rounded-img__container" style="background-image: url(<?=$avatarSrc?>)">
                    </span>
                </span>
                <span class="account__text">
                    <?php if ($this->identity()): ?>
                        <?=$this->userHelper()->getLogin()?>
                    <?php else: ?>
                        user
                    <?php endif; ?>
                </span>
                <span><img src="/img/down.png" width="10" height="6" alt=""></span>
            </a>
            <div class="account__costyl"></div>
            <div class="account__dropdown">
                <a href="<?=$this->url('profile')?>" class="account__link">Профиль</a>
                <a href="<?=$this->url('logout')?>" class="account__link">Выйти</a>
            </div>
        </div>
        <span class="mobile-burger js-mobile-burger"><i class="fa fa-bars" aria-hidden="true"></i></span>
    </div>
</header>
<div class="main">
    <?php if ($this->identity()): ?>
    <div class="left-menu">
        <div class="user-status">
            <div class="user-status__image">
                <a href="#" class="user-status__point user-status__point--new information-js animated pulse infinite">
                    <span>1</span>
                </a>
                <a href="#" class="user-status__point  user-status__point--message information-js animated pulse infinite">
                    <span>2</span>
                </a>
                <a href="#" class="user-status__point user-status__point--completed information-js animated pulse infinite">
                    <span>3</span>
                </a>
            </div>
            <div class="user-status__hint-button js-user-status__hint-button">
                <a href="#"><img src="/img/info_button.png" width="22" height="22" alt=""></a>
            </div>
            <div class="user-status__panel js-user-status__panel">
                <div class="user-status__hint user-status__hint--new">
                    <span class="user-status__color user-status__color-new"></span>
                    <span class="user-status__hint-text">новая сделка</span>
                </div>
                <div class="user-status__hint user-status__hint--message">
                    <span class="user-status__color user-status__color-message"></span>
                    <span class="user-status__hint-text">новое сообщение</span>
                </div>
                <div class=" user-status__hint user-status__hint--completed">
                    <span class="user-status__color user-status__color-completed"></span>
                    <span class="user-status__hint-text">закрытая сделка</span>
                </div>
            </div>
        </div>
        <div>
            <p class="left-menu__title"><span class="menu-header menu-active-section">Меню</span></p>
            <ul class="left-nav">
                <li class="left-nav__item">
                    <a href="<?=$this->url('deal')?>"
                       class="left-nav__link js-left-nav-item<?=($this->queryHelper()->isActivePage($this->url('deal'))) ?' active':''?>">
                        <span class="menu-image menu-image-deals"></span>
                        <span class="icon-text">Сделки</span>
                    </a>
                </li>
                <?php if ($this->access('bank-client.view')) :?>
                    <li class="left-nav__item">
                        <a href="<?=$this->url('bank-client')?>"
                            class="left-nav__link js-left-nav-item<?=($this->queryHelper()->isActivePage($this->url('bank-client'))) ?' active':''?>">
                            <span class="menu-image menu-image-deals"></span>
                            <span class="icon-text"><span>Банк-Клиент</span></span>
                        </a>
                    </li>
                    <li class="left-nav__item">
                        <a href="<?=$this->url('deal/expired')?>"
                           class="left-nav__link js-left-nav-item<?=($this->queryHelper()->isActivePage($this->url('deal/expired'))) ?' active':''?>">
                            <span class="menu-image menu-image-deals"></span>
                            <span class="icon-text"><span>Сделки к оплате по сроку</span></span>
                        </a>
                    </li>
                    <li class="left-nav__item">
                        <a href="<?=$this->url('deal/abnormal')?>"
                           class="left-nav__link js-left-nav-item<?=($this->queryHelper()->isActivePage($this->url('deal/abnormal'))) ?' active':''?>">
                            <span class="menu-image menu-image-deals"></span>
                            <span class="icon-text"><span>Сделки с проблемами</span></span>
                        </a>
                    </li>
                <?php endif; ?>
                <li class="left-nav__item">
                    <a href="#" class="left-nav__link js-left-nav-item">
                        <span class="menu-image menu-image-messages"></span>
                        <span class="icon-text">Сообщения</span>
                    </a>
                </li>
                <li class="left-nav__item">
                    <a href="#" class="left-nav__link js-left-nav-item">
                        <span class="menu-image menu-image-settings"></span>
                        <span class="icon-text">Настройки</span></a>
                </li>
                <li class="left-nav__item">
                    <a href="#" class="left-nav__link js-left-nav-item">
                        <span class="menu-image menu-image-support"></span>
                        <span class="icon-text">Техподдержка</span></a>
                </li>
                <li class="left-nav__item">
                    <a href="#222" class="left-nav__link js-left-nav-item">
                        <span class="menu-image menu-image-document"></span>
                        <span class="icon-text">Документы</span></a>
                </li>
                <li class="left-nav__item">
                    <a href="#" class="left-nav__link js-left-nav-item">
                        <span class="menu-image menu-image-info"></span>
                        <span class="icon-text">Справочная информация</span></a>
                </li>
            </ul>
            <p class="left-menu__title"><span class="menu-header">Мой аккаунт</span></p>
            <ul class="left-nav">
                <li class="left-nav__item">
                    <a href="<?=$this->url('profile')?>"
                       class="left-nav__link js-left-nav-item<?=($this->queryHelper()->isActivePage($this->url('profile'))) ?' active':''?>">
                        <span class="menu-image menu-image-account"></span>
                        <span class="icon-text">Профиль</span></a>
                </li>
                <li class="left-nav__item">
                    <a href="<?=$this->url('logout')?>" class="left-nav__link js-left-nav-item">
                        <span class="menu-image menu-image-exit"></span>
                        <span class="icon-text">Выйти</span></a>
                </li>
            </ul>
        </div>
    </div>
    <?php endif; ?>
    <div class="content">
        <!--Content -->
        <div class="content__wrapper">
            <?= $this->content ?>
        </div>
        <!--End Content-->
    </div>
</div>
<div class="modal-background js-modal-background"></div>
<div class="modal js-modal" style="display: none;">
    <div class="small-screen-filter-menu filter-menu-wrap">
        <div class="filter-menu"><input type="text" placeholder="Название"></div>
        <div class="filter-menu"><input type="text" placeholder="Сумма"></div>
        <div class="filter-menu">
            <select>
                <option value="">Продавец</option>
                <option value="">Покупатель</option>
            </select>
        </div>
        <div class="filter-menu"><input class="datepicker-here" type="text" placeholder="Дата"></div>
        <div class="filter-menu">
            <select>
                <option selected="Оплачено" value="">Оплачено</option>
                <option value="">Ожидает оплаты</option>
            </select>
        </div>
        <div class="filter-menu close-button js-close-button"><a href="#"><span>Закрыть</span></a></div>
    </div>
</div>
<script src="/js/dashboard/dashboard.js"></script>
</body>
</html>
