<?= $this->doctype() ?>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <?= $this->headTitle('GuarantPay Beta')->setSeparator(' - ')->setAutoEscape(false) ?>

    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendName('theme-color', '#ffffff')
        ->appendName('msapplication-TileColor', '#ffffff')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- Le styles -->
    <?= $this->headLink(['rel' => 'apple-touch-icon', 'size' => '180x180', 'href' => $this->basePath() . 'favicon/apple-touch-icon.png'])
        ->headLink(['rel' => 'icon', 'type' => 'image/png', 'size' => '32x32', 'href' => $this->basePath() . 'favicon/favicon-32x32.png'])
        ->headLink(['rel' => 'icon', 'type' => 'image/png', 'size' => '16x16', 'href' => $this->basePath() . 'favicon/favicon-16x16.png'])
        ->headLink(['rel' => 'manifest', 'href' => $this->basePath() . 'favicon//safari-pinned-tab.svg'])
        ->headLink(['rel' => 'mask-icon', 'href' => $this->basePath() . 'favicon/safari-pinned-tab.svg', 'color' => '#5bbad5'])
        ->prependStylesheet($this->basePath('build/auth.css'))
    ?>

    <!-- Scripts -->
    <?= $this->headScript()
        ->prependFile($this->basePath('js/libs/bootstrap.min.js'))
        ->prependFile($this->basePath('js/libs/jquery-3.1.0.min.js'))
        ->prependFile($this->basePath('js/libs/float-panel.js'))
    ?>
    
</head>
<body>
<header class="Header">
    <div class="Header-Container">
        <a href="<?= $this->url('home') ?>" class="Logo">
            <div class="Logo-Img">
                <img src="<?= $this->basePath('img/logo.svg') ?>" alt="Логотип">
            </div>
            <p class="Logo-Text">guarant pay</p>
        </a>
        <nav class="Nav">
            <ul class="Nav-List">
                <li class="Nav-Item"><a href="<?= $this->url('home') ?>#trust">Доверие</a></li>


                <li class="Nav-Item dropdown">
                    <span class="dropbtn">Правовая информация <i class="dropbtn-icon"></i> </span>
                    <ul class="dropdown-content">
                        <li><a href="<?= $this->url('connection-contract') ?>"><span>Договор присоединения</span></a></li>
                        <li><a href="<?= $this->url('policy') ?>"><span>Политика конфиденциальности</span></a></li>
                        <li><a href="<?= $this->url('terms-of-use') ?>"><span>Правила пользования</span></a></li>
                        <li><a href="<?= $this->url('dispute-consideration-rules') ?>"><span>Регламент «Рассмотрение спора»</span></a></li>
                    </ul>
                </li>


                <li class="Nav-Item dropdown">
                    <span class="dropbtn">Инструкции<i class="dropbtn-icon"></i> </span>
                    <ul class="dropdown-content">
                        <li><a href="<?= $this->url('for-whom') ?>"><span>Для кого?</span></a></li>
                        <li><a href="<?= $this->url('what-can-buy') ?>"><span>Что можно покупать?</span></a></li>
                        <li><a href="<?= $this->url('how-it-works') ?>"><span>Как это работает?</span></a></li>
                        <li><a href="<?= $this->url('dispute-resolution') ?>"><span>Решение спора</span></a></li>
                    </ul>
                </li>

                <li class="Nav-Item"><a href="#contacts">Контакты</a></li>
            </ul>
        </nav>
        <?php if ($this->identity() != null): ?>
            <div class="DropDownList">
                <?php $avatarSrc = "/img/no-avatar.png"; ?>
                <?php $user = $this->userHelper()->getCurrentUser(); ?>
                <?php if ($user && $user->getAvatar()): ?>
                    <?php $avatarSrc = $this->url('profile/avatar', ['fileId' => $user->getAvatar()->getId()]); ?>
                <?php endif; ?>
                <span class="DropDownList-Container">
                    <span class="Avatar">
                        <span class="Avatar-Container" style="background-image: url(<?= $avatarSrc ?>)">
                        </span>
                    </span>
                    <span class="DropDownList-Text">
                        <?php echo $this->identity() != null ? $user->getLogin() : 'user' ?>
                    </span>
                    <span><img src="<?= $this->basePath('img/down.png') ?>" width="10" height="6" alt="" class="DropDownList-Arrow"></span>
                </span>
                <div class="DropDownList-Menu">
                    <a href="<?= $this->url('profile') ?>">Профиль</a>
                    <a href="<?= $this->url('logout') ?>">Выйти</a>
                </div>
            </div>
        <?php else : ?>
            <a href="<?= $this->url('login') ?>" class="btn btn-blue header-nav-btn">войти</a>
        <?php endif;?>
    </div>
</header>
<div class="block-s  <?php if ($this->identity()): ?>block-s__profile<?php else:?>block-s__registration-login<?php endif;?> ">
    <div class="container">

        <?php // Invitations to confirm the phone and email
        echo $this->userHelper()->unconfirmedEmailIndicator($this->identity());
        echo $this->userHelper()->unconfirmedPhoneIndicator($this->identity());
        ?>

        <?php // Flash messages
        echo $this->flashMessenger()->render(
            \Zend\Mvc\Plugin\FlashMessenger\FlashMessenger::NAMESPACE_ERROR, array('alert', 'alert-danger'));
        echo $this->flashMessenger()->render(
            \Zend\Mvc\Plugin\FlashMessenger\FlashMessenger::NAMESPACE_INFO, array('alert', 'alert-info'));
        echo $this->flashMessenger()->render(
            \Zend\Mvc\Plugin\FlashMessenger\FlashMessenger::NAMESPACE_SUCCESS, array('alert', 'alert-success'));
        echo $this->flashMessenger()->render(
            \Zend\Mvc\Plugin\FlashMessenger\FlashMessenger::NAMESPACE_WARNING, array('alert', 'alert-warning'));
        echo $this->flashMessenger()->render(
            \Zend\Mvc\Plugin\FlashMessenger\FlashMessenger::NAMESPACE_DEFAULT, array('alert', 'alert-info'));
        ?>
        <div class="row">
            <?php if ($this->identity()){ ?>
                <div class="col-md-3">
                    <ul class="block_s-profile-menu">
                        <li class="block_s-profile-menu-li">
                            <a href="/profile">
                                <span class="glyphicons glyphicons-user-vr"></span>
                                <span class="block_s-profile-menu-li-span"><span>Профиль</span></span>
                            </a>
                        </li>
                        <li class="block_s-profile-menu-li">
                            <a href="/deal">
                                <span class="glyphicons glyphicons-fees-payments"></span>
                                <span class="block_s-profile-menu-li-span"><span>Сделки</span></span>
                            </a>
                        </li>
                        <?php if ($this->access('bank-client.view')) :?>
                            <li class="block_s-profile-menu-li">
                                <a href="/bank-client">
                                    <span class="glyphicons glyphicon-save-file"></span>
                                    <span class="block_s-profile-menu-li-span"><span>Банк-Клиент</span></span>
                                </a>
                            </li>
                        <?php endif; ?>
                        <?php if ($this->access('deal.all.view')) :?>
                            <li class="block_s-profile-menu-li">
                                <a href="/deal/show-all">
                                    <span class="glyphicons glyphicons-fees-payments"></span>
                                    <span class="block_s-profile-menu-li-span"><span>Все сделки</span></span>
                                </a>
                            </li>
                        <?php endif; ?>
                        <?php if ($this->access('deal.all.view')) :?>
                            <li class="block_s-profile-menu-li">
                                <a href="/deal/expired">
                                    <span class="glyphicons glyphicons-fees-payments"></span>
                                    <span class="block_s-profile-menu-li-span"><span>Сделки к оплате по сроку</span></span>
                                </a>
                            </li>
                        <?php endif; ?>
                        <?php if ($this->access('deal.all.view')) :?>
                            <li class="block_s-profile-menu-li">
                                <a href="/deal/abnormal">
                                    <span class="glyphicons glyphicons-fees-payments"></span>
                                    <span class="block_s-profile-menu-li-span"><span>Сделки с проблемами</span></span>
                                </a>
                            </li>
                        <?php endif; ?>
                        <li class="block_s-profile-menu-li">
                            <a href="">
                                <span class="glyphicons glyphicons-folder-closed"></span>
                                <span class="block_s-profile-menu-li-span"><span>Документы</span></span>
                            </a>
                        </li>
                        <li class="block_s-profile-menu-li">
                            <a href="">
                                <span class="glyphicons glyphicons-message-empty"></span>
                                <span class="block_s-profile-menu-li-span"><span>Сообщения</span></span>
                            </a>
                        </li>
                        <li class="block_s-profile-menu-li">
                            <a href="">
                                <span class="glyphicons glyphicons-headset"></span>
                                <span class="block_s-profile-menu-li-span"><span>Техподдержка</span></span>
                            </a>
                        </li>
                        <?php if ($this->access('settings.edit')) :?>
                            <li class="block_s-profile-menu-li">
                                <a href="/setting">
                                    <span class="glyphicons glyphicons-cogwheel"></span>
                                    <span class="block_s-profile-menu-li-span"><span>Настройки</span></span>
                                </a>
                            </li>
                        <?php endif; ?>
                        <li class="block_s-profile-menu-li">
                            <a href="">
                                <span class="glyphicons glyphicons-one-day"></span>
                                <span class="block_s-profile-menu-li-span"><span>Справочная информация</span></span>
                            </a>
                        </li>
                    </ul>
                </div>
            <?php } ?>
            <?= $this->content ?>
        </div>

    </div>

</div>

<footer class="SectionDark">
    <div class="Container">
        <div class="ContactLinks" id="contacts">
            <nav class="Item">
                <h3 class="Title">Документация</h3>
                <ul>
                    <li class="Link"><a href="<?= $this->url('home') ?>#trust">Доверие</a></li>
                    <li class="Link"><a href="<?= $this->url('connection-contract') ?>">Договор присоединения</a></li>
                    <li class="Link"><a href="<?= $this->url('policy') ?>">Политика <br/>конфиденциальности</a></li>
                    <li class="Link"><a href="<?= $this->url('terms-of-use') ?>">Правила пользования</a></li>
                    <li class="Link"><a href="<?= $this->url('dispute-consideration-rules') ?>">Регламент <br/>«Рассмотрение спора»</a></li>
                </ul>
            </nav>
            <nav class="Item">
                <h3 class="Title">Поддержка</h3>
                <ul class="Link-Container">
                    <li class="Link"><a href="tel:+78005057535">+7 (800) 505 75 35</a></li>
                    <li class="Link"><a href="tel:+74951189065">+7 (495) 118 90 65</a></li>
                    <li class="Link"><a href="mailto:support@guarantpay.com">support@guarantpay.com</a></li>
                </ul>
                <ul class="Link-Container">
                    <li class="Link">ООО "Гарант Пэй", ИНН 7813271867, КПП 781301001</li>
                    <li class="Link">197101, Санкт-Петербург г, Чапаева
                        ул, дом № 15, литера Ж, помещение 2-Н
                    </li>
                    <li class="Link">125040, г. Москва, 3-я Ямского Поля ул., 2 к. 26 оф.306
                    </li>
                </ul>
            </nav>
            <div class="Item">
                <a href="/" class="Logo">
                </a>
                <div class="OurPartners">
                    <span class="PartnersIcon PartnersIcon_mir"></span>
                    <span class="PartnersIcon PartnersIcon_visa"></span>
                    <span class="PartnersIcon PartnersIcon_mastercard""></span>
                </div>
            </div>
        </div>
        <p class="Copyrights">
            Copyright © 2017 All rights reserved
        </p>
    </div>
</footer>
<?= $this->inlineScript() ?>
<!-- с front-end приложением debug-панель не запуститься -->
<script type="application/javascript" src="<?=$this->basePath('build/auth.js')?>"></script>
</body>
</html>