<?= $this->doctype() ?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <?= $this->headTitle('GuarantPay Beta')->setSeparator(' - ')->setAutoEscape(false) ?>

    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- Le styles -->
    <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
        ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
        ->prependStylesheet($this->basePath('css/bootstrap.css'))
        ->prependStylesheet($this->basePath('css/style.css'))
        ->prependStylesheet($this->basePath('css/landing/landing.css'))
    ?>

    <!-- Scripts -->
    <?= $this->headScript()
        ->prependFile($this->basePath('js/bootstrap.min.js'))
        ->prependFile($this->basePath('js/jquery.scrollify.js'))
        ->prependFile($this->basePath('js/jquery-3.1.0.min.js'))
        ->prependFile($this->basePath('js/float-panel.js'))

    ?>
</head>
<body>
<header>
    <div id="header-wrap-sticky-wrapper" class="float-panel sticky-wrapper" data-top="0" data-scroll="0">
        <div class="header-wrap">
            <div class="header">
                <div class="header-nav">
                    <div class="container">
                        <!-- Static navbar -->
                        <nav class="navbar" id="navbar">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <a href="#"><img src="/img/landing/logo_top.png" alt=""  class="header-nav-logo"></a>
                                    <a href="#navbar-collapse" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </a>
                                </div>
                                <div id="navbar-collapse" class="navbar-collapse collapse header-nav-ul">
                                    <a class="navbar-collapse-close" href="#navbar">Close menu</a>
                                    <ul class="nav navbar-nav">
                                        <li><a href="#animation" class="header-nav-a">Как это работает?</a></li>
                                        <li><a href="#about" class="header-nav-a">о компании</a></li>
                                        <li><a href="#contacts" class="header-nav-a">контакты</a></li>
                                        <li>
                                            <?php if ($this->identity()): ?>
                                                <span class="block_s-header__dropdown">
                                                      <button class="block_s-header__dropdown-button">
                                                          <div class="block_s-header__dropdown-img">
                                                              <?php
                                                              echo $this->userHelper()->getAvatar();
                                                              ?>
                                                          </div>
                                                          <span class="block_s-header__dropdown-name">
                                                              <?php echo $this->userHelper()->getLogin() ;?>
                                                          </span>
                                                      </button>
                                                      <label>
                                                        <input type="checkbox">
                                                        <ul>
                                                          <li><a href="/profile">Профиль</a></li>
                                                          <li class="no_hover"><a href="/logout" class="btn btn-blue">Выйти</a></li>
                                                        </ul>
                                                      </label>
                                                </span>
                                            <?php else : ?>
                                                <a href="<?= $this->url('login') ?>" class="btn btn-blue header-nav-btn">войти</a>
                                            <?php endif;?>
                                        </li>
                                    </ul>
                                </div><!--/.nav-collapse -->
                            </div><!--/.container-fluid -->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="block-s block-s__header block-scroll">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h1 class="block-s__header__h1">Сделка без рисков</h1>
                <p class="block-s__header__p">
                    Сервис для проведения безопасных сделок <nobr>купли-продажи в</nobr> Интернете.
                    Оплата за товары или услуги передается на ответственное хранение Guarant Pay до выполнения продавцом своих обязательств.
                </p>
                <div class="block-s__header__buttons">
                    <div>
                        <a href="<?= $this->url('register') ?>" class="btn btn-blue">регистрация</a>
                        <a href="" class="btn btn-grey">узнай больше</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mouse m-5"></div>
    </div>
</div>
<div class="block-s block-s__presentation block-scroll block-s__video" data-section-name="animation" id="animation">
    <div class="container">
        <div class="row slideanim slide">
            <div class="col-xs-12 col-md-12 text-center">
                <h1 class="block-s__h1">Как это работает</h1>
                <p>Продавец и покупатель договаются о сделке и заключают ее в системе Guarant Pay.</p>
                <p>Покупатель переводит всю сумму для депонированного хранения Guarant Pay.</p>
                <p>После осуществления доставки и проверки товара покупателем, Guarant Pay переводит деньги продавцу.</p>
                <br />
                <br />
                <br />
                <!--<img src="/img/landing/section_1.png" alt="" class="block-s__presentation__img">-->
                <video width="900" height="506" controls id="animation-video">
                    <source src="/video/guarant_pay_info.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

    </div>
</div>

<div class="block-scroll block-s__presentation-wrapper">
    <div class="block-s block-s__info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 text-center">
                    <h2 class="block-s__h2 white-text padding0">
                        Больше никакого мошенничества и подлога<br>
                        Только честные сделки</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="block-s block-s__presentation">
        <div class="container">

            <div class="row padding20t">
                <div class="col-xs-12 col-sm-5 col-md-5 text-center">
                    <img src="img/landing/logo_section_1.png" alt="" class="padding20b">
                    <p>Поможет совершить сделку без рисков,</p>
                    <p>если вы намерены:</p>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <ul class="block-s__ul">
                        <li>купить/продать любую недвижимость (дом, квартиру, дачу, гараж, землю);</li>
                        <li>купить/продать автомобиль, мотоцикл, квадроцикл;</li>
                        <li>провести оптовую закупку или организовать совместную покупку товаров;</li>
                        <li>осуществить сделку в социальных сетях;</li>
                        <li>купить/продать электронику;</li>
                        <li>приобрести антиквариат, ювелирные изделия, предметы искусства;</li>
                        <li>купить/продать яхту, моторную лодку, катер;</li>
                        <li>заказать работу у фрилансера и прочее.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-s__map-wrapper block-scroll" id="about">
    <div class="block-s block-s__map">
        <div class="container">
            <div class="row slideanim">
                <div class="col-xs-12 col-md-6 white-text">
                    <h1 class="block-s__h1">Хотите совершить<br>
                        сделку
                        без риска?
                    </h1>
                    <h2 class="block-s__h2">Мы работаем по всей России!</h2>
                    <p class="block-s_p shadow-black">
                        Guarant Pay – крупный российский специализированный <nobr>escrow сервис</nobr>.<br />
                        Где бы вы не находились, вы всегда можете положиться на нас!<br />
                        Мы поможем безопасно совершить сделки любой величины<br /> от покупки плеера до купли-продажи недвижимости.<br />
                        Команда профессионалов гарантирует удобство использования специализированной системы безопасных сделок, а также в сжатые сроки оказывает помощь в разрешении любых возникающих у пользователей при работе с системой проблем.
                        Компания активно привлекает талантливых молодых специалистов, продвигая оригинальные идеи на российский рынок escrow услуг.
                    </p>
                    <button class="btn btn-blue">узнать больше</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-s block-s__advantage block-scroll">
    <div class="container">
        <div class="row padding20b">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="block-s__advantage_block block-s__advantage__ico2">
                    <div class="block-s__advantage_label">покупка поддерженного авто</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="block-s__advantage_block block-s__advantage__ico3">
                    <div class="block-s__advantage_label">электронника</div>
                </div>
            </div>
        </div>
        <div class="row padding20b">
            <div class="col-xs-12 col-sm-12 col-md-5">
                <h1 class="block-s__h1">Больше возможностей<br>
                    меньше рисков</h1>
                <p>Покупки в интернете – удобный современный способ. Сервис безопасной сделки GP позволяет сделать процесс еще удобнее для пользователя, одновременно максимально снижая риски получения некачественного, несоответствующего заказу товара.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
                <div class="block-s__advantage_block block-s__advantage__ico5">
                    <div class="block-s__advantage_label">программное обеспечение</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
                <div class="block-s__advantage_block block-s__advantage__ico4">
                    <div class="block-s__advantage_label">оптовые покупки</div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5">
                <div class="block-s__advantage_block block-s__advantage__ico6">
                    <div class="block-s__advantage_label">freelance</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="block-s__advantage_block block-s__advantage__ico7">
                    <div class="block-s__advantage_label">недвижимость</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="block-s__advantage_block block-s__advantage__ico8">
                    <div class="block-s__advantage_label">антиквариат</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-s block-s__circle block-scroll" id="contacts">
    <div class="container">
        <div class="row slideanim">
            <div class="col-xs-12 col-md-12">
                <div class="block-s__circle_img white-text text-center">
                    <img src="img/landing/logo_section.png" alt="" class="block-s__circle_img_logo">
                    <h2 class="block-s__h2">гарантия минимальных рисков</h2>
                </div>
                <div class="block-s__circle_text white-text text-center">
                    <p>г. Москва, ул. Авангардная, 3, офис 1407-1408</p>
                    <p>Телефон: +7 (499) 346-39-06</p>
                    <p>email: support@guarantpay.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-s block-s__integration block-scroll">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5">
                <h2 class="block-s__h2">Интеграция. Код.<br>
                    Возможности</h2>
                <p class="block-s_p">
                    Независимые исследования показали, что за последние годы покупатели чаще стали делать выбор в пользу сайтов,
                    которые предоставляют возможность безопасной сделки. Однако, раньше подобный механизм был по карману только
                    крупным торговым площадкам и банкам.<br />
                    Guarant Pay предлагает широкие возможности интеграции сервиса безопасной сделки
                    <nobr>в Ваш</nobr> интернет-магазин, сайт, приложение. Интеграция сервиса Guarant Pay
                    позволит вам сконцентрироваться на Вашем бизнесе, в то время как защиту от мошенничества мы возьмем на себя.
                </p>
                <button class="btn btn-blue">узнать больше</button>
            </div>
            <div class="hidden-xs col-sm-6 col-md-6 pull-right">
                <img src="/img/landing/ico1.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<footer class="block-scroll">
    <div class="container">
        <div class="row white-text">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h3 class="block-s__h3">сервис</h3>
                <ul class="block-s__footer-ul">
                    <li><a href="">для продавца</a></li>
                    <li><a href="">для покупателя</a></li>
                    <li><a href="">правила</a></li>
                    <li><a href="">комиссия и условия</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h3 class="block-s__h3">о нас</h3>
                <ul class="block-s__footer-ul">
                    <li><a href="">сертификаты</a></li>
                    <li><a href="">лицензия</a></li>
                    <li><a href="">о компании</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h3 class="block-s__h3">поддержка</h3>
                <ul class="block-s__footer-ul">
                    <li><a href="">контакты</a></li>
                    <li><a href="">помощь</a></li>
                    <li><a href="">написать</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 logo-footer">
                <img src="img/landing/logo_footer.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3 text-right pull-right footer-social-info">
                <div class="social-links">
                    <a href="" class="fa fa-facebook"></a>
                    <a href="" class="fa fa-google-plus"></a>
                    <a href="" class="fa fa-twitter"></a>
                    <a href="" class="fa fa-youtube-play"></a>
                </div>
                <span class="copy">
                    Copyright &copy; 2017  All rights reserved
                </span>
            </div>
        </div>
    </div>
</footer>
<script>
    $(function(){
        var navMain = $("#navbar-collapse");
        navMain.on("click", "a", null, function () {
            navMain.collapse('hide');
        });
    });
    if(document.documentElement.clientWidth >= 768) {
        $('#header-wrap-sticky-wrapper').addClass('float-panel');
        $.scrollify({
            section:".block-scroll",
            setHeights: false,
            scrollSpeed:1100,
            before:function(i,panels) {
                var ref = panels[i].attr("data-section-name");

                if(ref==="animation") {
                    $("#animation-video")[0].play();
                }
                else{
                    $("#animation-video")[0].pause();
                }

            }
        });

        $(".scroll,.scroll-btn").click(function(e) {
            e.preventDefault();

            $.scrollify.next();



        });
    }

</script>
<?= $this->inlineScript() ?>
<!-- с front-end приложением debug-панель не запуститься -->
<script type="application/javascript" src="./build/main.js"></script>
</body>
</html>
