{% extends 'twig/layout/application' %}
{# message #}
{% block content %}
    <div class="MessagePage">
        <div class="MessagePage-Wrapper">
            <div class="MessagePage-Img">
                <img src="{{ basePath('img/MessageSuccess.svg') }}" alt="Отлично">
            </div>
            <div class="MessagePage-Content">
                <h1 class="MessagePage-Title">Отлично</h1>
                <p class="MessagePage-Text">{{ message }}</p>
            </div>
        </div>
    </div>
{% endblock content %}