<?php
    $baseUrl = $this->queryHelper()->getBaseUrl();
?>
<?php if ($this->pageCount > 1): ?>
<div class="block_s-profile-nav-block">
    <div class="block_s-profile-nav-block_count">
        <label>Показывать по
            <?php $get_params = $this->queryHelper()->getQuery([],['per_page','tab']); ?>
            <select name="example_length" aria-controls="example" class="form-control input-sm" onchange="window.location.href='<?=$baseUrl . $get_params?><?=(empty($get_params)) ? '?': '&';?>per_page='+this.value+'<?=($this->tab) ?'&tab='.$this->tab:'';?>'">
                <option value="10"<?=($this->itemCountPerPage == 10) ? ' selected':''?>>10</option>
                <option value="25"<?=($this->itemCountPerPage == 25) ? ' selected':''?>>25</option>
                <option value="50"<?=($this->itemCountPerPage == 50) ? ' selected':''?>>50</option>
                <option value="100"<?=($this->itemCountPerPage == 100) ? ' selected':''?>>100</option>
            </select>
        </label>
    </div>
    <ul class="pagination block_s-profile-pagination">
        <!-- Previous page link -->
        <?php if (isset($this->previous)): ?>
            <?php $link_previous = $this->queryHelper()->getQuery(['page' => $this->previous], ['tab']); ?>
            <li>
                <a href="<?=$baseUrl.$link_previous?><?php if($this->tab){echo (empty($link_previous)) ?'?tab='.$this->tab :'&tab='.$this->tab;}?>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        <?php else:?>
            <li>
                <span aria-hidden="true">&laquo;</span>
            </li>
        <?php endif; ?>
        <!-- Numbered page links -->
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php $link_page = $this->queryHelper()->getQuery(['page' => $page], ['tab']); ?>
            <?php if ($page != $this->current): ?>
                <li>
                    <a href="<?=$baseUrl.$link_page?><?php if($this->tab){echo (empty($link_page)) ?'?tab='.$this->tab :'&tab='.$this->tab;}?>"><?= $this->escapeHtml($page); ?></a>
                </li>
            <?php else: ?>
                <li>
                    <span aria-hidden="true"><b><?= $this->escapeHtml($page); ?></b></span>
                </li>
            <?php endif; ?>
        <?php endforeach; ?>
        <!-- Next page link -->
        <?php if (isset($this->next)): ?>
            <?php $link_next = $this->queryHelper()->getQuery(['page' => $this->next], ['tab']); ?>
            <li>
                <a href="<?=$baseUrl.$link_next?><?php if($this->tab){echo (empty($link_previous)) ?'?tab='.$this->tab :'&tab='.$this->tab;}?>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        <?php else: ?>
            <li>
                <span aria-hidden="true">&raquo;</span>
            </li>
        <?php endif; ?>
    </ul>
</div>
<?php endif;?>
