{% extends 'twig/layout/application' %}

{#
1. Массив массивов
    legalEntities [
        0 =>
           array (size=7)
          'id' => int 1
          'name' => string 'ООО "Симпл-Технолоджи'
          'legal_address' => string '3-я улица Ямского поля, дом.2'
          'phone' => string '+74993463906'
          'inn' => string '7743211967'
          'kpp' => string '123456'
          'ogrn' => string '1177746547340'
          'documents' => [
              0 => [
                  'id' => int 1
                  'type_name' => 'passport'
                  'date_issued' => '01-02-2018'
                  'files' => [
                      0 => [
                          'civilId' => '1'
                          'id' => '1'
                          'name' => 'Image.jpg'
                          'type' => 'jpg'
                      ]
                  ]
              ],
              1 => ... и т.д.
          ],
        1 => ... и т.д.
    ]

2. Объект
    paginator {
      'pageCount' => int 1
      'itemCountPerPage' => int 20
      'first' => int 1
      'current' => int 1
      'last' => int 1
      'pagesInRange' =>
          1 => int 1
      'firstPageInRange' => int 1
      'lastPageInRange' => int 1
      'currentItemCount' => int 2
      'totalItemCount' => int 2
      'firstItemNumber' => int 1
      'lastItemNumber' => int 2
    }

3. Булевая переменная
    is_operator - по ее значению показываем что-то оператору или скрываем
#}
{% do headTitle('Юридические лица') %}
{% block content %}
<section class="col-xl-10 col-lg-7  col-lt-6 col-xl-offset-2 col-lg-offset-1 col-lt-offset-0 PageTable PageTableCivilLawSubject" id="section-legal-entity">
    <form method="get" class="TableWrapper" id="legal-entity-filter-form">
        <table class="TableDefault TableLegalEntities js-table-rows-are-link">

            <tr class="FilterRowButtonMobile">
                <td class="FilterColButton">
                    <a class="ButtonApply"
                       href="{{ url('user-profile/legal-entity-form-create') }}"
                       title="Добавить юридическое лицо">Добавить</a>
                </td>
                {#<td class="FilterColButton">#}
                    {#<label html="filter-input-hidden-legal-entity"#}
                           {#class="ButtonApply FilterButton js-button-filter-table-mobile"#}
                           {#title="Фильтр для таблицы">Фильтр</label>#}
                {#</td>#}
            </tr>

            <tr class="FilterTableRow js-filter-table-mobile">
                <td>
                    {% if is_operator != true %}
                        <a class="ButtonApply"
                           href="{{ url('user-profile/legal-entity-form-create') }}"
                           title="Добавить юридическое лицо">Добавить</a>
                    {% endif %}
                </td>
                <td class="col__size-20">
                    <input class="InputSearch" type="text" placeholder="Наименование">
                </td>
                <td class="col__size-20">
                    <input class="InputSearch" type="text" placeholder="Адрес">
                </td>
                {#<td>#}
                    {#<input class="InputSearch" type="text" placeholder="Телефон">#}
                {#</td>#}
                {#<td></td>#}
                <td class="col__size-15">
                    <input class="InputSearch" type="text" placeholder="ИНН">
                </td>
                <td class="col__size-15">
                    <input class="InputSearch" type="text" placeholder="КПП">
                </td>
                {#<td>#}
                    {#<input class="InputSearch" type="text" placeholder="ОГРН">#}
                {#</td>#}
                {#<td></td>#}
                {#<td></td>#}
            </tr>
            <tr class="Head">
                <td>
                    <a href="{{ sortHelper().getSortLink('id') }}" class="LinkSort">
                        <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('id')) ?' active':'' }}"></i>
                        №
                    </a>
                </td>
                <td>
                    <a href="{{ sortHelper().getSortLink('name') }}" class="LinkSort">
                        <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('name')) ?' active':'' }}"></i>
                        Наименование
                    </a>
                </td>
                <td>
                    <a href="{{ sortHelper().getSortLink('legalAddress') }}" class="LinkSort">
                        <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('legalAddress')) ?' active':'' }}"></i>
                        Адрес
                    </a>
                </td>
                {#<td>#}
                    {#<a href="{{ sortHelper().getSortLink('phone') }}" class="LinkSort">#}
                        {#<i class="LinkSort-Icon#}
                                {#{{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}#}
                                {#{{ (sortHelper().isActive('phone')) ?' active':'' }}"></i>#}
                        {#Телефон#}
                    {#</a>#}
                {#</td>#}
                {#<td></td>#}
                <td>
                    <a href="{{ sortHelper().getSortLink('inn') }}" class="LinkSort">
                        <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('inn')) ?' active':'' }}"></i>
                        ИНН
                    </a>
                </td>
                <td>
                    <a href="{{ sortHelper().getSortLink('kpp') }}" class="LinkSort">
                        <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('kpp')) ?' active':'' }}"></i>
                        КПП
                    </a>
                </td>
                {#<td>#}
                    {#<a href="{{ sortHelper().getSortLink('kpp') }}" class="LinkSort">#}
                        {#<i class="LinkSort-Icon#}
                                {#{{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}#}
                                {#{{ (sortHelper().isActive('ogrn')) ?' active':'' }}"></i>#}
                        {#ОГРН#}
                    {#</a>#}
                {#</td>#}{#<td></td>#}
                {#<td></td>#}
            </tr>
            {% if legalEntities |length > 0 %}
                {% for legalEntity in legalEntities %}
                    <tr data-path="{{ url('user-profile/legal-entity-single', {'id' : legalEntity['id']}) }}">
                        <td  class="col col-number">
                            {{ loop.index }}
                        </td>
                        <td class="col col__size-20">
                            <div class="col_mobile-title">
                                Наименование
                            </div>
                            <div class="col_mobile-content">
                                <a href="{{ url('user-profile/legal-entity-single', {'id' : legalEntity['id']}) }}">
                                    {{ legalEntity['name'] }}
                                </a>
                            </div>
                        </td>
                        <td class="col col__size-20">
                            <div class="col_mobile-title">
                                Адрес
                            </div>
                            <div class="col_mobile-content">
                                {{ legalEntity['legal_address'] }}
                            </div>
                        </td>
                        {#<td data-label="Телефон:" class="Nowrap">#}
                            {#{{ phoneHelper().formatPhone(legalEntity['phone']) | trim }}#}
                        {#</td>#}
                        {#<td></td>#}
                        <td class="col col__size-15">
                            <div class="col_mobile-title">
                                ИНН
                            </div>
                            <div class="col_mobile-content">
                                {{ legalEntity['inn'] }}
                            </div>
                        </td>
                        <td class="col col__size-15">
                            <div class="col_mobile-title">
                                КПП
                            </div>
                            <div class="col_mobile-content">
                                {{ legalEntity['kpp'] }}
                            </div>
                        </td>
                        {#<td data-label="ОГРН:">#}
                            {#{{ legalEntity['ogrn'] }}#}
                        {#</td>#}
                        {#<td></td>#}
                        {#<td></td>#}
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="EmptyRow">
                    <td colspan="8">
                        Юридические лица не найдены.
                    </td>
                </tr>
            {% endif %}
        </table>
    </form>
</section>
{% endblock content %}