{% extends 'twig/layout/application' %}

{#
1. Объект
    legalEntityForm => {
        'name'
        'legal_address'
        'phone'
        'inn'
        'kpp'
        'ogrn'
        'nds_type_id'
        'csrf'
        'submit'
    }
#}

{% block content %}
    {% do headTitle('Добавление юридического лица') %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm">
        <div class="PageForm-Container">
            <form method="post" name="legal-entity" class="FormLabelTop form-default" id="legal-entity-create-form">
                {{ formElement(legalEntityForm.get('csrf'))|raw }}
                {#<div class="header">#}
                    {#<div class="Logo">#}
                        {#<div class="Logo-Img">#}
                            {#<img src="{{ basePath('/img/logo.svg') }}" alt="Логотип">#}
                        {#</div>#}
                        {#<p class="Logo-Text"></p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="head-of-element">#}
                    {#Добавление юридического лица#}
                {#</div>#}
                {#<div class="form-content-wrap">#}
                    <div class="row nested-row">
                        <div class="col-xl-12">
                            <h3 class="TitleBlue">Добавление юридического лица</h3>
                        </div>
                    </div>

                    <div class="row nested-row">
                        <div class="col-xl-6 col-sm-4">
                            <div class="Input-Wrapper">
                                {{ formLabel(legalEntityForm.get('name'))|raw }}
                                {{ formElement(legalEntityForm.get('name'))|raw }}
                                <div class="FormError">{{ formElementErrors(legalEntityForm.get('name'))|raw }}</div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-4">
                            <div class="Input-Wrapper">
                                {{ formLabel(legalEntityForm.get('legal_address'))|raw }}
                                {{ formElement(legalEntityForm.get('legal_address'))|raw }}
                                <div class="FormError">{{ formElementErrors(legalEntityForm.get('legal_address'))|raw }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row nested-row">
                        <div class="col-xl-6 col-sm-4">
                            <div class="Input-Wrapper">
                                {{ formLabel(legalEntityForm.get('inn'))|raw }}
                                {{ formElement(legalEntityForm.get('inn'))|raw }}
                                <div class="FormError">{{ formElementErrors(legalEntityForm.get('inn'))|raw }}</div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-4">
                            <div class="Input-Wrapper">
                                {{ formLabel(legalEntityForm.get('kpp'))|raw }}
                                {{ formElement(legalEntityForm.get('kpp'))|raw }}
                                <div class="FormError">{{ formElementErrors(legalEntityForm.get('kpp'))|raw }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row nested-row">
                        <div class="col-xl-6 col-sm-4">
                            <div class="Input-Wrapper">
                                {{ formLabel(legalEntityForm.get('nds_type'))|raw }}
                                {{ formElement(legalEntityForm.get('nds_type'))|raw }}
                                <div class="FormError">{{ formElementErrors(legalEntityForm.get('nds_type'))|raw }}</div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-4">
                            <div class="ButtonsRow">
                                <button type="submit" value="" class="button-grey">Сохранить</button>
                            </div>
                        </div>
                    </div>

                    <div class="row nested-row">
                            <div class="col-xl-12">
                                <div class="FormError">{{ formElementErrors(legalEntityForm.get('csrf'))|raw }}</div>
                            </div>
                        </div>
                {#</div>#}
            </form>
        </div>
    </section>
{% endblock content %}