{% extends 'twig/layout/application' %}

{#
1. Массив (показаны значения из тестового объекта):
    legalEntity [
      'id' => int 1
      'name' => string 'ООО "Симпл-Технолоджи'
      'legal_address' => string '3-я улица Ямского поля, дом.2'
      'phone' => string '+74993463906'
      'inn' => string '7743211967'
      'kpp' => string '123456'
      'ogrn' => string '1177746547340'
    ]
#}
{% do headTitle('Удаление юридического лица') %}
{% block content %}
    <section class="PageForm" id="section-legal-entity-delete">
        <div class="PageForm-Container">
            <form method="POST" action="{{ url('user-profile/legal-entity-single', {'id': legalEntity['id']}) }}"
                  class="FormView" role="form" id="legal-entity-delete-form">
                <input type="hidden" name="_method" value="delete">

                <h3 class="TitleBlue">Вы уверены, что хотите удалить?</h3>
                <div class="InfoField">
                    <p class="InfoField-Label">Наименование:</p>
                    <p class="InfoField-Text">{{ legalEntity['name'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">Юридический адрес:</p>
                    <p class="InfoField-Text">{{ legalEntity['legal_address'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">ИНН:</p>
                    <p class="InfoField-Text">{{ legalEntity['inn'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">КПП:</p>
                    <p class="InfoField-Text">{{ legalEntity['kpp'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">ТИП НДС:</p>
                    <p class="InfoField-Text">{{ soleProprietor['nds']['name'] }}</p>
                </div>
                <div class="ButtonsRow">
                    <button class="ButtonDelete margin-right" type="submit" value="" data-ripple-button="">
                        <span class="ripple-text">Удалить</span>
                    </button>
                    <a href="{{ url('user-profile/legal-entity-single', {'id' : legalEntity['id']}) }}" class="ButtonRefuse" data-ripple-button="">
                        <span class="ripple-text">Отменить</span>
                    </a>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}