{% extends 'twig/layout/application' %}

{#
1. Объект
    legalEntityForm => {
        'name'
        'legal_address'
        'inn'
        'kpp'
        'nds_type'
        'csrf'
        'submit'
    }

2. Массив (показаны значения из тестового объекта):
    legalEntity [
      'id' => int 1
      'name' => string 'ООО "Симпл-Технолоджи'
      'legal_address' => string '3-я улица Ямского поля, дом.2'
      'phone' => string '+74993463906'
      'inn' => string '7743211967'
      'kpp' => string '123456'
      'ogrn' => string '1177746547340'
     ]

3. Булевая переменная
    is_operator - по ее значению показываем что-то оператору или скрываем
#}

{% block content %}
    {% do headTitle('Редактирование юридического лица') %}
    <section class="PageForm" id="section-legal-entity-edit">
        <div class="PageForm-Container">
            <div class="PageForm-Container_new-design">

                <form class="FormLabelTop" method="POST" id="legal-entity-edit-form">
                    {{ formElement(legalEntityForm.get('csrf'))|raw }}
                    <div class="header flex">
                        <div class="Logo">
                            <div class="Logo-Img">
                                <img src="{{ basePath('/img/logo.svg') }}" alt="Логотип">
                            </div>
                            <p class="Logo-Text"></p>
                        </div>
                    </div>
                    <div class="head-of-element">
                        Редактирование юридического лица
                    </div>
                    <div class="form-content-wrap">
                        <h3 class="TitleBlue">Редактирование юридического лица</h3>

                        <div class="Input-Wrapper">
                            <label for="name">Наименование:</label>
                            {{ formElement(legalEntityForm.get('name'))|raw }}
                            <div class="FormError">{{ formElementErrors(legalEntityForm.get('name'))|raw }}</div>
                        </div>

                        <div class="Input-Wrapper">
                            <label for="adress">Юридический адрес:</label>
                            {{ formElement(legalEntityForm.get('legal_address'))|raw }}
                            <div class="FormError">{{ formElementErrors(legalEntityForm.get('legal_address'))|raw }}</div>
                        </div>

                        <div class="Input-Wrapper">
                            <label for="number-inn">ИНН:</label>
                            {{ formElement(legalEntityForm.get('inn'))|raw }}
                            <div class="FormError">{{ formElementErrors(legalEntityForm.get('inn'))|raw }}</div>
                        </div>

                        <div class="Input-Wrapper">
                            <label for="number-kpp">КПП:</label>
                            {{ formElement(legalEntityForm.get('kpp'))|raw }}
                            <div class="FormError">{{ formElementErrors(legalEntityForm.get('kpp'))|raw }}</div>
                        </div>

                        <div class="Input-Wrapper">
                            <label for="number-ogrn">ТИП НДС:</label>
                            {{ formElement(legalEntityForm.get('nds_type'))|raw }}
                            <div class="FormError">{{ formElementErrors(legalEntityForm.get('nds_type'))|raw }}</div>
                        </div>

                        <div class="FormError">{{ formElementErrors(legalEntityForm.get('csrf'))|raw }}</div>

                        <div class="ButtonsRow">
                            {% if is_operator == false %}
                                <a href="{{ url('user-profile/legal-entity-form-delete', {'idLegalEntity' : legalEntity['id']}) }}" class="ButtonDelete margin-right">Удалить</a>
                            {% endif %}
                            <button class="ButtonApply" type="submit" value="">Сохранить</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </section>

{% endblock content %}