{% extends 'twig/layout/application' %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}

{#
1. Массив (показаны значения из тестового объекта):
    legalEntity [
      'id' => int 1
      'name' => string 'ООО "Симпл-Технолоджи'
      'legal_address' => string '3-я улица Ямского поля, дом.2'
      'phone' => string '+74993463906'
      'inn' => string '7743211967'
      'kpp' => string '123456'
      'ogrn' => string '1177746547340'
      'civil_law_subject_id' => 333
     ]

2. Массив (показаны значения из тестового объекта):
    documents [
      0 => [
          'id' => int 1
          'type_name' => 'Банковские реквизиты'
          'date_issued' => '01-02-2018'
          'files' => [
              0 => [
                  'civilId' => '1'
                  'id' => '1'
                  'name' => 'Image.jpg'
                  'type' => 'jpg'
              ]
          ]
      ],
      1 =>
    ]

3. Булевая переменная
    is_operator - по ее значению показываем что-то оператору или скрываем

4. Массив (показаны значения из тестового объекта):
    paymentMethods[
       '0 => [
              'id' => int 1
              'name' => string 'bank_transfer' (length=13)
              'output_name' => string 'Банковский перевод' (length=35)
              'description' => string 'Банковский перевод' (length=35)
              'is_active' => boolean true
              'bank_transfer' [
                  'id' => int 4
                  'name' => string 'Банковский перевод для izubarev' (length=51)
                  'bik' => string '123456789' (length=9)
                  'account_number' => string '123456789012345' (length=15)
                  'payment_recipient_name' => string 'Зубарев Игорь Анатольевич' (length=48)
                  'inn' => string '4217030520' (length=10)
                  'kpp' => string '123456789' (length=9)
                  'corr_account_number' => string '123456789012345' (length=15)
                  'bank_name' => string 'Сбербанк' (length=16)
              ]
         ],
         1 => []
     ]
#}

{% block content %}
    {#<h1>Юридическое лицо {{ legalEntity['name'] }}</h1>#}
    {#<div class="container">#}
        <div class="row nested-row">
            <div class="col-lg-7 col-lg-offset-1 col-lt-6 col-lt-offset-0 col-xl-10 col-xl-offset-2">
                <section class="CivilLawSubjectPage" id="CardLegalEntity">

                    <section class="CivilLawSubjectPage-Header">
                        <div class="TitleWithEditIcon">
                            <h1 class="TitleBlue">Юридическое лицо</h1>
                            <a class="IconEdit"
                               href="{{ url('user-profile/legal-entity-form-edit', {'idLegalEntity' : legalEntity['id']}) }}"></a>
                        </div>
                        <div class="CivilLawSubjectDataOverview">
                            <div class="CivilLawSubjectDataOverview-Column">
                                <div class="InfoField">
                                    <div class="InfoField-Label">Наименование:</div>
                                    <div class="InfoField-Text">{{ legalEntity['name'] }}</div>
                                </div>
                                <div class="InfoField ">
                                    <div class="InfoField-Label">Юридический адрес:</div>
                                    <div class="InfoField-Text">{{ legalEntity['legal_address'] }}</div>
                                </div>
                                {#<div class="InfoField ">#}
                                {#<div class="InfoField-Label">Телефон:</div>#}
                                {#<div class="InfoField-Text">{{ phoneHelper().formatPhone(legalEntity['phone']) | trim }}</div>#}
                                {#</div>#}
                            </div>
                            <div class="CivilLawSubjectDataOverview-Column">
                                <div class="InfoField">
                                    <div class="InfoField-Label">ИНН:</div>
                                    <div class="InfoField-Text">{{ legalEntity['inn'] }}</div>
                                </div>
                                <div class="InfoField">
                                    <div class="InfoField-Label">КПП:</div>
                                    <div class="InfoField-Text">{{ legalEntity['kpp'] }}</div>
                                </div>
                                {#<div class="InfoField">#}
                                {#<div class="InfoField-Label">ОГРН:</div>#}
                                {#<div class="InfoField-Text">{{ legalEntity['ogrn'] }}</div>#}
                                {#</div>#}
                            </div>
                        </div>
                    </section>
                    <div class="CivilLawSubjectPage-Section Document">
                        <h1 class="TitleBlue">Документы</h1>
                        <form method="get" class="TableWrapper" id="legal-entity-single-form">
                            <table class="TableDefault TableDocuments js-table-rows-are-link" data-start="1" data-length="3">
                                <tr class="FilterTableRow">
                                    <td>
                                        <button type="button" class="ButtonApply js-popup-open" data-popup="#add-document-popup">
                                            Добавить
                                        </button>
                                    </td>
                                    <td>
                                        <input class="InputSearch" type="text" placeholder="Документ">
                                    </td>
                                    <td>
                                        <div class="DoubleInputDate">
                                            <input class="InputDate2 datepicker-here" type="text">
                                            <input class="InputDate2 datepicker-here" type="text">
                                        </div>
                                    </td>
                                    <td>
                                        <select class="FilterTableRow-Select chosen-select" name="file" data-placeholder="Файл">
                                            <option value=""></option>
                                            <option>Банковские реквизиты</option>
                                            <option>Свидетельство налогового учета</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="ButtonSearch" type="submit"><span>&nbsp;</span></button>
                                    </td>
                                </tr>
                                <tr class="Head">
                                    <td>
                                        <a href="#" class="LinkSort">
                                            <i class="LinkSort-Icon"></i>
                                            №
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" class="LinkSort">
                                            <i class="LinkSort-Icon"></i>
                                            Тип
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" class="LinkSort">
                                            <i class="LinkSort-Icon"></i>
                                            Дата выдачи
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" class="LinkSort">
                                            <i class="LinkSort-Icon"></i>
                                            Файлы
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>
                                {% if documents |length > 0 %}
                                    {% for document in documents %}
                                        <tr data-path="{{ routes.documentSingle(document['type_name'], document['id']) }}">
                                            <td>
                                                {{ loop.index }}
                                            </td>
                                            <td data-label="Тип:">
                                                <a href="{{ routes.documentSingle(document['type_name'], document['id']) }}">
                                                    {{ translate.documentsType(document['type_name']) }}
                                                </a>
                                            </td>
                                            <td data-label="Дата выдачи:">
                                                {% if document['date_issued'] != null %}
                                                    {{ document['date_issued'] }}
                                                {% else %}
                                                    &#8212;
                                                {% endif %}
                                            </td>
                                            <td data-label="Файлы:">
                                                {% if document['files'] |length > 0 %}
                                                    {% for file in document['files'] %}
                                                        <a href="{{ routes.showFile(file) |trim }}" target="_blank">
                                                            <i class="{{ 'Icon'~file['type'] |upper }}"></i>
                                                        </a>
                                                    {% endfor %}
                                                {% else %}
                                                    &#8212;
                                                {% endif %}
                                            </td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr class="EmptyRow">
                                        <td colspan="5">
                                            У данного лица нет прикрепленных документов.
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                        </form>
                    </div>
                    <div class="CivilLawSubjectPage-Section" id="TablePaymentMethods">
                        <h1 class="TitleBlue">Метод оплаты</h1>
                        <form method="get" class="TableWrapper">
                            <table class="TableDefault TablePaymentMethods js-table-rows-are-link">
                                <tr class="FilterTableRow">
                                    <td>
                                        <button class="ButtonApply js-popup-open" data-popup="#payment-method-popup" type="button" data-ripple-button="">
                                            <span class="ripple-text">Добавить</span>
                                        </button>
                                    </td>
                                    <td>
                                        <input class="InputSearch" type="text" placeholder="Метод оплаты">
                                    </td>
                                    <td>
                                        <input class="InputSearch" type="text" placeholder="Тип">
                                    </td>
                                    <td>
                                        <select class="FilterTableRow-Select chosen-select" name="status" id=""
                                                data-placeholder="Статус">
                                            <option value=""></option>
                                            <option>активен</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="ButtonSearch" type="submit"><span>&nbsp;</span></button>
                                    </td>
                                </tr>
                                <tr class="Head">
                                    <td>
                                        <a href="#" class="LinkSort">
                                            <i class="LinkSort-Icon"></i>
                                            №
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" class="LinkSort">
                                            <i class="LinkSort-Icon"></i>
                                            Метод оплаты
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" class="LinkSort">
                                            <i class="LinkSort-Icon"></i>
                                            Тип
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" class="LinkSort">
                                            <i class="LinkSort-Icon"></i>
                                            Статус
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>
                                {% if paymentMethods |length > 0 %}
                                    {% for paymentMethod in paymentMethods %}
                                        <tr data-path="">
                                            <td>
                                                {{ loop.index }}
                                            </td>
                                            <td data-label="Метод оплаты:">
                                                {% if paymentMethod['type']['name'] == 'bank_transfer' %}
                                                    {{ paymentMethod['bank_transfer']['name'] }}
                                                {% endif %}
                                            </td>
                                            <td data-label="Тип:">
                                                {{ translate.paymentMethodType(paymentMethod['type']['name']) }}
                                            </td>
                                            <td data-label="Статус:">
                                                {{ (paymentMethod['type']['is_active']) ? 'активен' : 'неактивен' }}
                                            </td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr class="EmptyRow">
                                        <td colspan="5">
                                            У данного лица еще не добавлены методы оплаты.
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                        </form>
                    </div>


                    <div class="Popup-Container js-popup" id="payment-method-popup">
                        <div class="Popup-Bg"></div>
                        <div class="Popup">
                            <div class="ButtonClose js-popup-close"></div>
                            <div class="Popup-Content">
                                <div class="FormPopupRouter js-route-popup">
                                    <h3 class="TitleBlue">Выберите метод оплаты</h3>
                                    <p class="InfoField js-item" data-path="{{ url('user-profile/payment-method-form-create',
                                    {'civil_law_subject_id': legalEntity['civil_law_subject_id'], 'payment_method_type': 'bank_transfer'}) }}">
                                        Банковский перевод</p>
                                    <p class="InfoField js-item disabled">Наличные</p>
                                    <p class="InfoField js-item disabled">Банковская карта</p>
                                    <p class="InfoField js-item disabled">Электронный кошелек</p>
                                    <div class="ButtonsRow">
                                        <button class="ButtonRefuse margin-right js-reset" type="button" data-ripple-button="">
                                            <span class="ripple-text">Отменить</span>
                                        </button>
                                        <button class="ButtonAccept js-confirm" type="button" data-ripple-button="">
                                            <span class="ripple-text">Подтвердить</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Popup-Container js-popup" id="add-document-popup">
                        <div class="Popup-Bg"></div>
                        <div class="Popup">
                            <div class="ButtonClose js-popup-close"></div>
                            <div class="Popup-Content">
                                <div class="FormPopupRouter js-route-popup">
                                    <h3 class="TitleBlue">Выберите тип документа</h3>
                                    <p class="InfoField js-item"
                                       data-path="{{ url('user-profile/legal-entity-bank-detail-form-create',
                                       {'idLegalEntity': legalEntity['id']}) }}">Банковские реквизиты</p>
                                    <p class="InfoField js-item"
                                       data-path="{{ url('user-profile/legal-entity-tax-inspection-form-create',
                                       {'idLegalEntity': legalEntity['id']}) }}">Свидетельство о постановке на учет в налоговый
                                        орган</p>
                                    <div class="ButtonsRow">
                                        <button class="ButtonRefuse margin-right js-reset" type="button" data-ripple-button="">
                                            <span class="ripple-text">Отменить</span>
                                        </button>
                                        <button class="ButtonAccept js-confirm" type="button" data-ripple-button="">
                                            <span class="ripple-text">Подтвердить</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    {#</div>#}
{% endblock content %}