<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Водительские удостоверения физических лиц
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <!--  content  -->
            <?php if(count($this->driverLicenses)):?>
                <table class="table table-striped block_s-profile-table">
                    <thead>
                    <tr>
                        <th <?=($this->sortHelper()->isActive('id')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('id', []);?>">
                                №
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('dateIssued')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('dateIssued', []);?>">
                                Дата выдачи

                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th>Файлы</th>
                        <?php if (! $this->isOperator):?>
                            <th>Удалить</th>
                        <?php endif; ?>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->driverLicenses as $driverLicense): ?>
                        <tr>
                            <?php
                            if (! $this->isOperator):
                                $route = 'user-profile/natural-person-driver-license-single';
                            else:
                                $route = 'natural-person-driver-license-single';
                            endif;
                            ?>
                            <td class="text-center"><?=$driverLicense->getId()?></td>
                            <td>
                                <a href="<?= $this->url($route, ['id' => $driverLicense->getId()]) ?>"
                                   class="block_s-profile-table-link">
                                    <?=$driverLicense->getDateIssued()->format('Y-m-d');?></a>
                            </td>
                            <td class="text-left">
                                <?php if (count($driverLicense->getFiles()) > 0): ?>
                                    <?php foreach ($driverLicense->getFiles() as $file): ?>
                                        <a href="<?= $this->url('profile/file', [
                                            'civilId' => $driverLicense->getNaturalPersonDocument()->getNaturalPerson()->getCivilLawSubject()->getId(),
                                            'fileId' => $file->getId(),
                                        ]) ?>">
                                            <?= $file->getName() ?>
                                        </a>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </td>
                        <?php if (! $this->isOperator): ?>
                            <td class="text-center">
                                <a href="<?= $this->url('user-profile/natural-person-driver-license-form-delete', [
                                    'idDriverLicense' => $driverLicense->getId()
                                ]) ?>" class="form-group">
                                    <i class="glyphicon glyphicon-remove-sign btn-profile-remove"></i>
                                </a>
                            </td>
                        <?php endif; ?>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
                <?= $this->paginationControl($this->driverLicenses,
                    'Sliding',
                    'application/partial/paginator',
                    [
                        'route' => $this->route,
                    ]
                );
                ?>
            <?php else: ?>
                <br>
                <br>
                <h4>Документы отсутствуют</h4>
                <br>
                <br>
            <?php endif; ?>
            <!-- /content  -->
        </div>
    </div>
</div>
