<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
               Удаление водительского удостоверения
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <!--  content  -->
            <div class="text-center">
                <p>
                    Вы уверены, что хотите удалить водительского удостоверение?<br>
                    <strong>
                        Дата выдачи:<br>
                        <?=$this->driverLicense->getDateIssued()->format('Y-m-d');?><br>
                        <?php if (count($this->driverLicense->getFiles()) > 0): ?>
                            Файлы:<br>
                            <?php foreach ($this->driverLicense->getFiles() as $file): ?>
                                <a href="<?= $this->url('profile/file', [
                                    'civilId' => $this->driverLicense->getNaturalPersonDocument()->getNaturalPerson()->getCivilLawSubject()->getId(),
                                    'fileId' => $file->getId(),
                                ]) ?>">
                                    <?= $file->getName() ?>
                                </a>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </strong>
                </p>
            </div>
            <div class="text-center">
                <form method="POST" action="<?= $this->url('user-profile/natural-person-driver-license-single', [
                    'id' => $this->driverLicense->getId()
                ]) ?>" class="form-group" role="form">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-link btn-sm">Да, удалить</button>
                </form>
            </div>
            <!-- /content  -->
        </div>
    </div>
</div>