{% extends 'twig/layout/authentication' %}
{#
    passwordResetForm - form
#}
{% do headTitle('Восстановление пароля') %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xl-4 col-xl-offset-4 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-0">
            <div class="form-auth">
                {{ form().openTag(passwordResetForm)|raw }}

                <div class="form-title-group">
                    <h2 class="form-title is-active">Восстановить пароль</h2>
                </div>
                {#<noscript>#}
                    <div class="form-auth__inner Preloader Preloader_solid">
                        <div class="form-field">
                            <label for="">Введите Ваш e-mail для восстановления пароля:</label>
                            <div class="form-input">
                                {{ formElement(passwordResetForm.get('email'))|raw }}
                            </div>
                        </div>
                        {{ formElementErrors(passwordResetForm.get('email'))|raw }}

                        {{ formElement(passwordResetForm.get('csrf'))|raw }}

                        {#{{ formElement(passwordResetForm.get('submit'))|raw }}#}
                        <div class="form-field">
                            <button type="submit" class="button-action button-action_type-filed_color-blue button-action_type-filed" name="submit" id="submit">Сбросить пароль</button>
                        </div>
                    </div>
                {#</noscript>#}
                {{ form().closeTag()|raw }}
            </div>
        </div>
    </div>
</div>
{% endblock content %}