{% extends 'twig/layout/authentication' %}
{#
    passwordChangeForm - form
#}
{% do headTitle('Изменение пароля') %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-4 col-xl-offset-4 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-0">
            <div class="form-auth" id="change-password-controller">
                <h1 class="form-title is-active">Изменить пароль</h1>

                <div class="form-auth__inner">
                    {{ form().openTag(passwordChangeForm)|raw }}
                    <div class="form-field">
                        <label for="">Новый пароль</label>
                        <div class="form-input">
                            {{ formElement(passwordChangeForm.get('new_password'))|raw }}
                        </div>
                        {{ formElementErrors(passwordChangeForm.get('new_password'))|raw }}
                    </div>

                    <div class="form-field">
                        <label for="">Повторите новый пароль</label>
                        <div class="form-input">
                            {{ formElement(passwordChangeForm.get('confirm_new_password'))|raw }}
                        </div>
                        {{ formElementErrors(passwordChangeForm.get('confirm_new_password'))|raw }}
                    </div>
                    {{ formElement(passwordChangeForm.get('csrf'))|raw }}

                    {#{{ formElement(passwordChangeForm.get('submit'))|raw }}#}
                    <div class="form-field">
                        <button type="submit" class="button-action button-action_type-filed_color-blue button-action_type-filed" name="submit" id="submit">Изменить пароль</button>
                    </div>

                {{ form().closeTag()|raw }}
            </div>
        </div>
    </div>
</div>
{% endblock content %}