<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Документы
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <!--  content  -->
            <?php if(count($this->documents)):?>
                <table class="table table-striped block_s-profile-table">
                    <thead>
                    <tr>
                        <th <?=($this->sortHelper()->isActive('id')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('id', []);?>">
                                №
                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('typeDocument')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('typeDocument', []);?>">
                                Тип документа

                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th>Описание</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->documents as $document): ?>
                        <?php
                            $passport = $document->getNaturalPersonPassport();
                            $driverLicense = $document->getNaturalPersonDriverLicense();
                        ?>
                        <!-- Passport -->
                        <?php if ($passport !== null): ?>
                            <tr>
                                <td class="text-center"><?=$document->getId()?></td>
                                <td>
                                    <a href="<?= $this->url('natural-person-passport-single', [
                                        'id' => $passport->getId(),
                                    ]) ?>" class="block_s-profile-table-link">
                                        Паспорт</a>
                                </td>
                                <td class="text-left">
                                    Серия и номер:<br>
                                    <?=$passport->getPassportSerialNumber();?><br>
                                    Дата выдачи:<br>
                                    <?=$passport->getDateIssued()->format('Y-m-d');?><br>
                                    Кем выдан:<br>
                                    <?=$passport->getPassportIssueOrganisation();?><br>
                                    Дата истечения:<br>
                                    <?=$passport->getDateExpired()->format('Y-m-d');?><br>
                                    <?php if (count($passport->getFiles()) > 0): ?>
                                        Файлы:<br>
                                        <?php foreach ($passport->getFiles() as $file): ?>
                                            <a href="<?= $this->url('profile/file', [
                                                'civilId' => $document->getNaturalPerson()->getCivilLawSubject()->getId(),
                                                'fileId' => $file->getId(),
                                            ]) ?>">
                                                <?= $file->getName() ?>
                                            </a><br>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </td>
                            </tr>
                        <?php endif; ?>
                        <!-- DriverLicense -->
                        <?php if ($driverLicense !== null): ?>
                            <tr>
                                <td class="text-center"><?=$document->getId()?></td>
                                <td>
                                    <a href="<?= $this->url('natural-person-driver-license-single', [
                                        'id' => $driverLicense->getId()
                                    ]) ?>" class="block_s-profile-table-link">
                                        Водительское удостоверение</a>
                                </td>
                                <td class="text-left">
                                    Дата выдачи:<br>
                                    <?=$driverLicense->getDateIssued()->format('Y-m-d');?><br>
                                    <?php if (count($driverLicense->getFiles()) > 0): ?>
                                        Файлы:<br>
                                        <?php foreach ($driverLicense->getFiles() as $file): ?>
                                            <a href="<?= $this->url('profile/file', [
                                                'civilId' => $document->getNaturalPerson()->getCivilLawSubject()->getId(),
                                                'fileId' => $file->getId(),
                                            ]) ?>">
                                                <?= $file->getName() ?>
                                            </a>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </td>
                            </tr>
                        <?php endif; ?>

                    <?php endforeach; ?>
                    </tbody>
                </table>
                <?= $this->paginationControl($this->documents,
                    'Sliding',
                    'application/partial/paginator',
                    [
                        'route' => $this->route,
                    ]
                );
                ?>
            <?php else: ?>
                <br>
                <br>
                <h4>Документы отсутствуют</h4>
                <br>
                <br>
            <?php endif; ?>
            <!-- /content  -->
        </div>
    </div>
</div>
