{% extends 'twig/layout/application' %}
{% import 'macro/pagination.twig' as pagination %}
{#
1. notifyDeadlineForm - forms
2. deadlineSearchForm - forms
3. deadlineDeals - array
4. paginator - array
5. is_send_notify - bool
#}
{% do headTitle('Сделки с истекающим сроком') %}
{% block content %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-7 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageTable">
        {#<h1 class="TitleBlue">Сделки с истекающим сроком</h1>#}
        <div class="head-of-element">
            <h3>Сделки с истекающим сроком</h3>
        </div>
        <section class="Control" id="section-deal-deadline">
            <div class="container">
                <div class="row nested-row">
                    <div class="col-xl-12">
                        <div class="Control-ActionBlock">
                            <p class="Note">Нажмите на кнопку, чтобы разослать участникам сделок уведомление об истекающем сроке!</p>
                            {{ form().openTag(notifyDeadlineForm)|raw }}

                            {{ formElement(notifyDeadlineForm.get('csrf'))|raw }}
                            {{ formElement(notifyDeadlineForm.get('type_form'))|raw }}

                            <div class="FormError">{{ formElementErrors(notifyDeadlineForm.get('csrf'))|raw }}</div>

                            <div class="ButtonsRow" style="text-align: left">
                                <button type="submit" class="ButtonApply">Отправить уведомления</button>
                            </div>
                            {{ form().closeTag()|raw }}
                        </div>
                        <div class="Control-Message">
                            {% if is_send_notify == true %}
                                <p class="Note-Success">Уведомления успешно разосланы!</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <form method="get" class="TableWrapper" id="TableDealsDeadline">
            <table class="TableDefault TableDealsExpired TableDealsDeadline js-table-rows-are-link" data-start="1" data-length="6">
                <tr class="FilterTableRow">
                    <td>
                            <span class="TableDisputes-OperatorCol">
                                {{ formElement(deadlineSearchForm.get('filter[deal_id]')) |raw }}
                            </span>
                    </td>
                    <td>
                            <span class="TableDisputes-OperatorCol">
                                 {{ formElement(deadlineSearchForm.get('filter[deal_name]')) |raw }}
                            </span>
                    </td>
                    <td>
                        {{ formElement(deadlineSearchForm.get('filter[deal_amount]')) |raw }}
                    </td>
                    <td>
                        {{ formElement(deadlineSearchForm.get('filter[deal_owner]')) |raw }}
                    </td>
                    <td class="InputDate">
                        <div class="DoubleInputDate">
                            {{ formElement(deadlineSearchForm.get('filter[deal_created_from]')) |raw }}
                            {{ formElement(deadlineSearchForm.get('filter[deal_created_till]')) |raw }}
                        </div>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        {{ formElement(deadlineSearchForm.get('csrf')) |raw }}
                        <button class="ButtonSearch" type="submit"><span>&nbsp;</span></button>
                    </td>
                </tr>

                <tr class="Head">
                    <td>
                        №
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('name') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('name')) ?' active':'' }}"></i>
                            Название
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('amount') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('amount')) ?' active':'' }}"></i>
                            Сумма
                        </a>
                    </td>

                    <td>
                        <a href="{{ sortHelper().getSortLink('owner') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('owner')) ?' active':'' }}"></i>
                            Владелец
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('created') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                        {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                        {{ (sortHelper().isActive('created')) ?' active':'' }}"></i>
                            Дата создания
                        </a>
                    </td>
                    <td>
                        Срок выполнения
                    </td>
                    <td>
                        Оставшийся срок
                    </td>
                    <td></td>
                </tr>
                {% if deadlineDeals|length > 0 %}
                    {% for deadlineDeal in deadlineDeals %}
                        <tr data-path="{{ url('deal/show', {'id' : deadlineDeal['id']}) }}">
                            <td>
                                {{ deadlineDeal['id'] }}
                            </td>
                            <td>
                                <a href="">{{ deadlineDeal['name'] }}</a>
                            </td>
                            <td class="Nowrap" data-label="Сумма:">
                                {{ deadlineDeal['amount_without_fee'] }} руб.
                            </td>
                            <td data-label="Владелец:">
                                {{ deadlineDeal['owner'] }}
                            </td>
                            <td data-label="Дата создания:">
                                {{ deadlineDeal['created'] }}
                            </td>
                            <td data-label="Срок выполенения:">
                                {{ deadlineDeal['date_of_deadline'] }}
                            </td>
                            <td data-label="Оставшийся срок:">
                                {{ deadlineDeal['date_of_deadline_params']['hours'] ~ 'ч.' ~ deadlineDeal['date_of_deadline_params']['i'] ~ 'м.' }}
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="EmptyRow">
                        <td colspan="8">
                            В системе нет сделок с истекающим сроком
                        </td>
                    </tr>
                {% endif %}
            </table>
        </form>
        {% if paginator %}
            {{ pagination.paginate(paginator) }}
        {% endif %}
    </section>
{% endblock content %}