{% extends 'twig/layout/application' %}
{#
   1 deal - array
   2 deliveryConfirmForm - form
#}
{% do headTitle('Подтверждение доставки') %}
{% block content %}
    <section class="PageForm">
        <div class="PageForm-Container PageForm-Container_large" id="delivery-confirm-form">

            <h2 class="TitleBlue">Вы действительно подтверждаете выполнение обязательств
                {% if deal['type_ident'] == 'T'%}
                    продавцом?
                {% else %}
                    исполнителем?
                {% endif %}
            </h2>
            <p class="TextImportant">Обратите внимание, в случае подтверждения, деньги будут перечислены
                {% if deal['type_ident'] == 'T'%}
                    продавцу,
                {% else %}
                    исполнителю,
                {% endif %}
                и вы уже не сможете открыть спор по сделке.
            </p>
            {{ form().openTag(deliveryConfirmForm)|raw }}
                {{ formElement(deliveryConfirmForm.get('csrf'))|raw }}
                {{ formElement(deliveryConfirmForm.get('idDeal'))|raw }}
                {{ formElement(deliveryConfirmForm.get('type_form'))|raw }}
                <div class="FormError">
                    {{ formElementErrors(deliveryConfirmForm.get('csrf'))|raw }}
                    {{ formElementErrors(deliveryConfirmForm.get('idDeal'))|raw }}
                    {{ formElementErrors(deliveryConfirmForm.get('type_form'))|raw }}
                </div>

                <div class="ButtonsRow">
                    <button class="ButtonAccept" type="submit" data-ripple-button="">
                        <span class="ripple-text">Подтвердить</span>
                    </button>
                    <a class="ButtonRefuse" href="{{ url('deal/show', {'id' : deal['id']}) | trim }}" data-ripple-button="">
                        <span class="ripple-text">Отменить</span>
                    </a>
                </div>
            {{ form().closeTag()|raw }}
        </div>
    </section>
{% endblock content %}