{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{#
1 mandarinPaymentOrder - array
#}
{% do headTitle('Результат проверки') %}
{% block content %}
    <section class="MandarinOperationCheckPage DealShowPage" id="MandarinOperationCheckPage">
        Статус платежа
        {{ mandarinPaymentOrder['status'] }}



    </section>
{% endblock content %}