{% extends 'twig/layout/application' %}

{% do headTitle('Редактирование телефона') %}
{% block content %}
    {% set error_type = user_allowed_request_code_status['violation_type'] %}

    {% if error_type == 'min_interval' %}
        {% set is_timer = 'true' %}
        {% set start = user_allowed_request_code_status['last_code_created_at'] %}
        {% set period = user_allowed_request_code_status['request_period'] %}
    {% elseif error_type == 'limit_by_code_type' %}
        {% set is_limit = 'true' %}
    {% endif %}

    <section class="PageForm">
        <div class="PageForm-Container">
            <form class="FormLabelLeft js-form-timer" method="POST" enctype="multipart/form-data" id="phone-edit-form" data-start="{{ start }}" data-period="{{ period }}">
                <h3 class="TitleBlue">Редактирование телефона</h3>
                <div class="Input-Wrapper" style="margin-bottom: 0">
                    {{ formElement(formPhone.get('current_phone'))|raw }}
                    {{ formElementErrors(formPhone.get('current_phone'))|raw }}
                </div>
                <div class="Input-Wrapper" style="flex-wrap: wrap;">
                    <p style="min-width: 130px;flex-grow: 1;width: 100%;margin-bottom: 10px;">
                        {{ formLabel(formPhone.get('new_phone'))|raw }}:
                    </p>
                    <input name="new_phone" id="phone" class="form-control form-input-element-phone-js" placeholder="" value="{{ formPhone.get('new_phone').getValue()}}" type="text">
                    {#{{ formElement(formPhone.get('new_phone'))|raw }}#}
                    <div class="FormError" style="text-align: left">
                        {{ formElementErrors(formPhone.get('new_phone'))|raw }}
                    </div>
                </div>
                {{ formElement(formPhone.get('csrf'))|raw }}
                <div class="ButtonsRow" style="padding-top: 0;">
                    {% if is_limit != 'true' %}
                        <button class="ButtonApply" type="submit">Изменить</button>
                    {% else %}
                        <p class="TextImportant">Вы превысили количество попыток получения кода подтверждения. Попробуйте чуть позже (макс. время ожидания 15минут).</p>
                    {% endif %}
                </div>
            </form>
        </div>
    </section>
{% endblock content %}

{#{{ phoneHelper().formatPhone(userProfile['phone']) | trim }}#}