{% extends 'twig/layout/application' %}

{% block content %}
    {% do headTitle('Невыплаченные платёжки') %}
    <section class="col-xl-10 col-lg-7  col-lt-6 col-xl-offset-2 col-lg-offset-1 col-lt-offset-0 ResponsePage">
        {% if paymentTransactions|length > 0 %}
            {% for paymentTransaction in paymentTransactions %}
                <div>
                    <h4>{{ paymentTransaction.paymentOrder.PaymentMethodType.Description }} (ID {{ paymentTransaction.getId }})
                        на сумму {{ paymentTransaction.getAmount }} - {{ paymentTransaction.getPaymentPurpose }}
                    </h4>
                </div>
            {% endfor %}
            <div class="text-center">
                <h3><a href="/bank-client/credit-unpaid/generate">Сгенерировать файл с неоплаченными платёжками</a></h3>
            </div>
        {% else %}
            <p class="note-green">Невыплаченных платёжек нет</p>
        {% endif %}
    </section>
{% endblock content %}