{% extends 'twig/layout/application' %}

{% block content %}
    {% do headTitle('Загрузка файлов платёжек (Банк-Клиент)') %}
    <section id="section_bank_client_file_upload" class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm">
        <div class="PageForm-Container">
            {% if server_error_messages %}
                <div class="Alert Alert_danger">
                    {% if server_error_messages is iterable %}
                        <ul>
                            {% for msg in server_error_messages %}
                                <li>{{ msg }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ server_error_messages }}
                    {% endif %}
                </div>
            {% endif %}
            <form class="row FormLabelTop" method="POST" enctype="multipart/form-data" id="bank-client-file-upload">
                {{ formElement(fileUploadForm.get('csrf'))|raw }}
                <h1 class="col-xl-12 TitleBlue">Загрузка файлов платёжек (Банк-Клиент)</h1>
                <div class="col-xl-12 Input-Wrapper">
                    <div class="InputFile js-download-file">
                        <label for="download-file" class="InputFile-Label">Файл</label>
                        <span class="InputFile-Container">
                            <mark data-text-default="Выберите файл..." class="notChange">Выберите файл...</mark>
                            <input name="file" id="download-file" type="file" placeholder="">
                            <span class="InputFile-Delete js-clear-download-file"></span>
                        </span>

                    </div>
                </div>
                <div class="col-xl-12 ButtonsRow">
                    <div class="row nested-row">
                        <div class="col-xl-6 col-sm-2 col-xs-4">
                            <a href="{{ url('bank-client') }}"
                               class="ButtonRefuse margin-right" data-ripple-button="">
                                <span class="ripple-text">Отменить</span>
                            </a>
                        </div>
                        <div class="col-xl-6 col-sm-2 col-xs-4">
                            <button type="submit" class="ButtonApply" data-ripple-button="">
                                <span class="ripple-text">Загрузить</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}