{% extends 'twig/layout/application' %}
{% do headTitle('Загрузка файлов платёжек (Банк-Клиент)') %}
{% block content %}
    <section id="section_file_stock_upload" class="col-xl-10 col-lg-8 col-lt-6 col-sm-4 col-xl-offset-2 col-lg-offset-1 col-lt-offset-0 ResponsePage">
        <div class="TableDefault">
            {% if success_message is not null %}
            <div class="Alert Alert_success">
                <p>
                    {{ success_message }}
                </p>
            </div>
            {% endif %}
            {% if error_message %}
            <div class="Alert Alert_danger">
                <p>
                    {{ error_message }}
                </p>
            </div>
            {% endif %}

            <p class="note-green">Новых файлов не найдено</p>

            <br/>

            <a class="ButtonApply" href="{{ url('bank-client/file-upload') | trim }}">Загрузить файл вручную</a>

        </div>
    </section>
{% endblock content %}