{% extends 'twig/layout/application' %}
{% import 'macro/pagination.twig' as pagination %}

{% do headTitle('Банк-клиент (Файлы платёжек)') %}
{% block content %}
    <div class="row nested-row">
        <div class="col-xl-10 col-xl-offset-2 col-lg-7 col-lg-offset-1 col-lt-6 col-lt-offset-0">
            <section class="PaymentListPage" id="PaymentListPage">
                <div class="head-of-element">
                    <h3>Банк-Клиент</h3>
                </div>
                <div class="container">
                    <div class="row">
                        <section class="col-xl-12 SectionButtons">
                            <div class="SectionButtons-InnerBlock">
                                <a href="/bank-client/file-upload" class="ButtonApply">
                                    Загрузить платёжку вручную
                                </a>

                                <a href="/bank-client/file-stock-upload" class="ButtonApply">
                                    Загрузить платёжки из стока
                                </a>
                            </div>

                            <div class="SectionButtons-InnerBlock">
                                <a href="/bank-client/process" class="ButtonApply">
                                    Обработать все новые файлы
                                </a>
                                <a href="/bank-client/credit-unpaid" class="ButtonApply">
                                    Неоплаченные платёжки
                                </a>
                            </div>
                        </section>
                    </div>
                </div>
                <section class="row PageTable" id="PageTable">
                    <div class="TableWithPagination">
                        <table class="TableDefault TablePaymentList js-table-rows-are-link">
                            <tr class="Head">
                                <td class="col col-number">№</td>
                                <td>Имя файла</td>
                                <td>Оригинальное название</td>
                                <td>Тип</td>
                                <td>Вес</td>
                                <td>Дата загрузки</td>
                            </tr>
                            {% if files|length > 0 %}
                                {% for file in files %}
                                    {% set newFilesClass = '' %}
                                    {% if file['name'] not in processed_files %}
                                        {% set newFilesClass = "class=\"TextAccent\"" %}
                                    {% endif %}
                                    {#<p>#}
                                    {#<h3>{{ file.getName() }}</h3> {% if file.getName() in processed_files %}(новый){% endif %}#}
                                    {#</p>#}
                                    <tr {{ newFilesClass|raw }}>
                                        <td class="col col-number">
                                            <div class="col_mobile-title">
                                                №
                                            </div>
                                            <div class="col_mobile-content">
                                                {{ loop.index + paginator.current*20 - 20 }}
                                            </div>
                                        </td>
                                        <td class="col">
                                            <div class="col_mobile-title">
                                                Имя файла
                                            </div>
                                            <div class="col_mobile-content">
                                                {{ file['name'] }} {% if file['name'] not in processed_files %}(новый){% endif %}
                                            </div>
                                        </td>
                                        <td class="col">
                                            <div class="col_mobile-title">
                                                Оригинальное название
                                            </div>
                                            <div class="col_mobile-content">
                                                {{ file['origin_name'] }}
                                            </div>
                                        </td>
                                        <td class="col">
                                            <div class="col_mobile-title">
                                                Тип
                                            </div>
                                            <div class="col_mobile-content">
                                                {{ file['type'] }}
                                            </div>
                                        </td>
                                        <td class="col">
                                            <div class="col_mobile-title">
                                                Вес
                                            </div>
                                            <div class="col_mobile-content">
                                                {{ file['size'] }}
                                            </div>
                                        </td>
                                        <td class="col">
                                            <div class="col_mobile-title">
                                                Дата загрузки
                                            </div>
                                            <div class="col_mobile-content">
                                                {{ file['created'] }}
                                            </div>
                                        </td>
                                    </tr>
                                    {#<div>Оригинальное название: {{ file.getOriginName() }} | Тип: {{ file.getType() }}#}
                                    {#| Вес: {{ file.getSize() }} | Дата загрузки: {{ file.getCreated()|date('d-m-Y') }}#}
                                    {#</div>#}

                                {% endfor %}
                            {% else %}
                                <tr class="EmptyRow">
                                    <td colspan="6">Файлы платёжек не найдены</td>
                                </tr>
                            {% endif %}
                        </table>
                        <div id="paginator-bank-client">
                            {{ pagination.paginate(paginator) }}
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>
{% endblock content %}