{% extends 'twig/layout/application' %}
{% do headTitle('Загрузка файлов платёжек (Банк-Клиент)') %}

{% block content %}
    <div class="col-xl-10 col-lg-7 col-lt-6 col-xl-offset-2 col-lg-offset-1 col-lt-offset-0">
        <div class="container">
            <section class="PageTable ResponsePage" id="payment_order_file_processing">
                {% if success_message != null %}
                    <p class="note-green">{{ success_message }}</p>
                {% endif %}
                <div>
                    {% if error_message %}
                        <div class="Alert Alert_danger">
                            <p>{{ error_message }}</p>
                        </div>
                    {% endif %}

                    {% if file_names|length > 0 %}
                        <div class="InfoField">
                            <p class="InfoField-Text">Новых файлов: {{ file_names|length }}</p>
                        </div>

                        {% if newPaymentOrders|length > 0 %}
                            <table class="TableDefault">
                                <tr>
                                    <td colspan="2">Обнаружены и обработаны новые платежные получения:</td>
                                </tr>
                                {% for newPaymentOrder in newPaymentOrders %}
                                    <tr>
                                        <td>{{ newPaymentOrder.getDocumentType }} №{{ newPaymentOrder.getDocumentNumber }}</td>
                                        <td> от <strong>{{ newPaymentOrder.getPayer1 }}</strong>
                                            на сумму <strong>{{ newPaymentOrder.getAmount }}</strong>
                                            ({{ newPaymentOrder.getPaymentPurpose }})
                                            {# if paymentTransaction.paymentOrder is null %}- <strong>подтверждающее</strong>{% endif #}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}

                        {% if processing_errors|length > 0 %}
                            <div class="InfoField">
                                <h4>Ошибки при обработке:</h4>
                                <div class="Alert Alert_danger">
                                    {% for kay,processing_error in processing_errors %}
                                        <p>
                                            <strong>{{ key }}</strong> {{ processing_error }}
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                    <br/>
                    <a class="ButtonApply" href="/bank-client/file-upload">Загрузить файл вручную</a>
                </div>
            </section>
        </div>
    </div>
{% endblock content %}