<?php
$form = $this->form;
$form->prepare();

if($this->server_error_messages){
    echo '<div class="error-50"><div class="alert alert-danger">';

    //var_dump($this->messages);
    if(is_array($this->server_error_messages)){
        echo '<ul>';
        foreach($this->server_error_messages as $msg){
            echo '<li>'.$msg.'</li>';
        }
        echo '</ul>';
    }else{
        echo $this->server_error_messages;
    }
    echo '</div></div>';
}
?>
<div id="register-block">
    <div class="row">
    <h1>Регистрация</h1>
    <div class="col-md-6">
        <?php if($this->messageData): ?>
            <div id="register-invitation"
                 data-invitation-email="<?=$form->get('email')->getValue();?>"
                 data-invitation-token="<?=$form->get('invitationToken')->getValue();?>">
                Пользователь "<?=$this->messageData['dealAgentName'];?>" приглашает Вас присоединиться к сделке N<?=$this->messageData['dealId'];?> "<?=$this->messageData['dealName'];?>".<br>
                <?php if(!$this->isRegistered): ?>
                    Для работы с системой вам необходимо зарегистрироваться. Пожалуйста заполните нижеследующую форму.
                <?php else: ?>
                    Для возможности присоединения к сделке, введите, пожалуйста, ваши регистрационные данные.
                <?php endif; ?>
            </div>
        <?php endif; ?>
        <?= $this->form()->openTag($form); ?>
            <div class="form-group">
                <div class="form-group">
                    <label for="login">логин</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon glyphicon-user"></span>
                        </div>
                        <input type="text" name="login" id="login" class="form-control" placeholder="" value="">
                    </div>
                </div>

            </div>
            <?= '<div class="form-error">'.$this->formElementErrors($form->get('login')).'</div>'; ?>

            <div class="form-group">
                <label for="phone">телефон</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-earphone"></span>
                    </div>
                    <input type="text" name="phone" id="phone" class="form-control" placeholder="" value="">
                </div>
            </div>
            <?= '<div class="form-error">'.$this->formElementErrors($form->get('phone')).'</div>'; ?>

            <div class="form-group">
                <label for="email">email</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </div>
                    <?= $this->formElement($form->get('email')); ?>
                </div>
            </div>
            <?= '<div class="form-error">'.$this->formElementErrors($form->get('email')).'</div>'; ?>


            <div class="form-group">
                <label for="password">пароль</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </div>
                    <input type="password" name="password" id="password" class="form-control" placeholder="" value="">
                </div>
            </div>

            <div class="form-group">
                <label for="password">пароль</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </div>
                    <input type="password" name="password" id="password" class="form-control" placeholder="" value="">
                </div>
            </div>

            <?= '<div class="form-error">'.$this->formElementErrors($form->get('password')).'</div>'; ?>

            <?= $this->formElement($form->get('csrf')); ?>
            <input type="submit" name="submit" id="submitbutton" class="btn btn-blue" value="Зарегистрироваться">
        <?= $this->form()->closeTag(); ?>

    </div>
    </div>
</div>

