{% import 'macro/translate.twig' as translate %}
{% import 'macro/pageHelper.twig' as pageHelper %}

<div class="TimelineRectangle-Wrap js-timeline-wrap {{ translate.isTimelineItemCompleteOrActive(day, current_phase) }}" id="timeline-created">
    <div class="TimelineRectangle-ItemContainer js-timeline-item {{ translate.isTimelineItemCompleteOrActive(day, current_phase) }}">
        <div class="TimelineRectangle-Item js-TimelineRectangle-Item">
            {% if day and time %}
                <div class="tooltip_message">{{ time }}</div>
            {% endif %}
            <div class="PointRounded">
                    <span>
                     {{ index }}
                    </span>
            </div>
            <div class="Timeline-Label">
                {% if day %}
                    <p>{{ description }}</p>
                {% else %}
                    {{ description }}
                {% endif %}
                <p>{{ day }}</p>
            </div>
        </div>
    </div>
</div>
