{% import 'macro/translate.twig' as translate %}
{% import 'macro/pageHelper.twig' as pageHelper %}

<div class="TimelineRectangle-Wrap js-timeline-wrap fail" id='timeline-status-dispute'>
    <div class="TimelineRectangle-ItemContainer js-timeline-item fail">
        <div class="TimelineRectangle-Item js-TimelineRectangle-Item">
            <div class="PointRounded">
                <span>
                    {{ index }}
                </span>
            </div>
            <div class="Timeline-Label">
                <p>{{ description }}</p>
            </div>
        </div>
    </div>
</div>