{% import 'macro/translate.twig' as translate %}
{% import 'macro/pageHelper.twig' as pageHelper %}

<div class="TimelineRectangle-Wrap js-timeline-wrap hide" id="timeline-empty">
    <div class="TimelineRectangle-ItemContainer js-timeline-item hide">
        <div class="TimelineRectangle-Item js-TimelineRectangle-Item">
            <div class="PointRounded">
            </div>
            <div class="Timeline-Label">
            </div>
        </div>
    </div>
</div>