{% import 'macro/translate.twig' as translate %}
{% import 'macro/pageHelper.twig' as pageHelper %}

<div class="TimelineRectangle-Wrap js-timeline-wrap fail" id="timeline-tribunal">
    <div class="TimelineRectangle-ItemContainer js-timeline-item fail">
        <div class="TimelineRectangle-Item">
            <div class="PointRounded">
                    <span>
                        {{ index }}
                    </span>
            </div>
            <div class="Timeline-Label">
                <p>{{ description }}</p>
                <p>{{ day }}</p>
            </div>
        </div>
    </div>
</div>