{% extends 'twig/layout/application' %}
{#
    message
#}
{% block content %}
    <div class="MessagePage" id="message-error-page">
        <div class="MessagePage-Wrapper">
            <div class="MessagePage-Img">
                <img src="{{ basePath('img/MessageError.svg') }}" alt="Ошибка">
            </div>
            <div class="MessagePage-Content">
                <h1 class="MessagePage-Title">Отправка отчета об ошибке</h1>
                {#<p class="MessagePage-Text">{{ message }}</p>#}
                <div class="row">
                    <div class="col-xl-6 col-xl-offset-3 col-sm-4 col-sm-offset-0">
                        <div class="form-error-report">
                            {% include 'partial/error-report-form.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

