{% extends 'twig/layout/application' %}

{#
1. Массив массивов
    soleProprietors [
      'id' => int 8
      'name' => string 'ИП Роналду Криштиану Португалович'
      'first_name' => string 'Криштиану'
      'secondary_name' => string 'Португалович'
      'last_name' => string 'Роналду'
      'birth_date' => string '31.05.1984'
      'inn' => string '683103646744'
      'civil_law_subject_id' => int 456
      'nds' =>
          'type' => int 3
          'name' => string '10%'
      'payment_methods' =>
          empty
    ]

2. Объект
    paginator {
      'pageCount' => int 1
      'itemCountPerPage' => int 20
      'first' => int 1
      'current' => int 1
      'last' => int 1
      'pagesInRange' =>
          1 => int 1
      'firstPageInRange' => int 1
      'lastPageInRange' => int 1
      'currentItemCount' => int 2
      'totalItemCount' => int 2
      'firstItemNumber' => int 1
      'lastItemNumber' => int 2
    }

3. Булевая переменная
    is_operator - по ее значению показываем что-то оператору или скрываем
#}
{% do headTitle('ИП') %}
{% block content %}
<section class="col-xl-10 col-lg-7  col-lt-6 col-xl-offset-2 col-lg-offset-1 col-lt-offset-0 PageTable PageTableCivilLawSubject" id="TableSoleProprietor">
    <form method="get" class="TableWrapper" id="sole-proprietor-filter-form">
        <table class="TableDefault TableSoleProprietors js-table-rows-are-link">

            <tr class="FilterRowButtonMobile">
                <td class="FilterColButton">
                    {% if is_operator != true %}
                    <a class="ButtonApply FilterButton" href="{{ url('user-profile/sole-proprietor-form-create') }}" title="Добавить ИП">Добавить</a>
                    {% endif %}
                </td>
            </tr>

            <tr class="FilterTableRow">
                <td>
                    {% if is_operator != true %}
                        <a class="ButtonApply"
                           href="{{ url('user-profile/sole-proprietor-form-create') }}"
                           title="Добавить ИП">
                            Добавить
                        </a>
                    {% endif %}
                </td>
                <td class="col__size-20">
                    <input class="InputSearch" type="text" placeholder="Наименование">
                </td>
                <td class="col__size-20">
                    <input class="InputSearch" type="text" placeholder="Поиск по ФИО">
                </td>

                <td class="col__size-15">
                    <input type="text" class="InputDate2 datepicker-here" placeholder="">
                </td>
                <td class="col__size-15">
                    <input class="InputSearch" type="text" placeholder="ИНН">
                </td>
                {#<td>#}
                {#</td>#}
            </tr>
            <tr class="Head">
                <td>
                    <a href="{{ sortHelper().getSortLink('id') }}" class="LinkSort">
                        <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('id')) ?' active':'' }}"></i>
                        №
                    </a>
                </td>
                <td class="col__size-20">
                    <a href="{{ sortHelper().getSortLink('name') }}" class="LinkSort">
                        <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('name')) ?' active':'' }}"></i>
                        Наименование
                    </a>
                </td>
                <td class="col__size-20">
                    <a href="{{ sortHelper().getSortLink('lastName') }}" class="LinkSort">
                        <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('lastName')) ?' active':'' }}"></i>
                        ФИО
                    </a>
                </td>
                <td class="col__size-15">
                    <a href="{{ sortHelper().getSortLink('birthDate') }}" class="LinkSort">
                        <i class="LinkSort-Icon
                                    {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                    {{ (sortHelper().isActive('birthDate')) ?' active':'' }}"></i>
                        Дата
                    </a>
                </td>
                <td class="col__size-15">
                    <a href="{{ sortHelper().getSortLink('inn') }}" class="LinkSort">
                        <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('inn')) ?' active':'' }}"></i>
                        ИНН
                    </a>
                </td>
                {#<td>#}
                {#</td>#}
            </tr>
            {% if soleProprietors |length > 0 %}
                {% for soleProprietor in soleProprietors %}
                    <tr data-path="{{ url('user-profile/sole-proprietor-single', {'id' : soleProprietor['id']}) }}">
                        <td class="col col-number">
                            {{ loop.index }}
                        </td>
                        <td class="col">
                            <div class="col_mobile-title">
                                Наименование
                            </div>
                            <div class="col_mobile-content">
                                <a href="{{ url('user-profile/sole-proprietor-single', {'id' : soleProprietor['id']}) }}">
                                    {{ soleProprietor['name'] }}
                                </a>
                            </div>
                        </td>
                        <td class="col">
                            <div class="col_mobile-title">
                                ФИО
                            </div>
                            <div class="col_mobile-content">
                                <a href="{{ url('user-profile/sole-proprietor-single', {'id' : soleProprietor['id']}) }}">
                                    {{ soleProprietor['last_name'] }} {{ soleProprietor['first_name'] }} {{ soleProprietor['secondary_name'] }}
                                </a>
                            </div>
                        </td>
                        <td class="col">
                            <div class="col_mobile-title">
                                Дата
                            </div>
                            <div class="col_mobile-content">
                                {{ soleProprietor['birth_date'] }}
                            </div>
                        </td>
                        <td class="col">
                            <div class="col_mobile-title">
                                ИНН
                            </div>
                            <div class="col_mobile-content">
                                {{ soleProprietor['inn'] }}
                            </div>
                        </td>
                        {#<td>#}
                        {#</td>#}

                    </tr>
                {% endfor %}
            {% else %}
                <tr class="EmptyRow">
                    <td colspan="4">
                        ИП не найдены.
                    </td>
                </tr>
            {% endif %}
        </table>
    </form>
</section>
{% endblock content %}