{% extends 'twig/layout/application' %}

{#
1. Объект
    soleProprietorForm => {
        'name'
        'first_name'
        'secondary_name'
        'last_name'
        'birth_date'
        'inn'
        'csrf'
        'submit'
    }
#}

{% block content %}
    {% do headTitle('Добавление ИП') %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm" id="CreateSoleProprietor">
        <div class="PageForm-Container">
            <form method="post" name="natural-person" class="FormLabelTop form-default" id="sole-proprietor-create-form">
                {{ form().openTag(soleProprietorForm)|raw }}
                {{ formElement(soleProprietorForm.get('csrf'))|raw }}
                <div class="PageForm-Container_new-design">
                    {#<div class="header">#}
                        {#<div class="Logo">#}
                            {#<div class="Logo-Img">#}
                                {#<img src="{{ basePath('/img/logo.svg') }}" alt="Логотип">#}
                            {#</div>#}
                            {#<p class="Logo-Text"></p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="head-of-element">#}
                        {#Добавление ИП#}
                    {#</div>#}
                    {#<div class="form-content-wrap">#}
                        <div class="row nested-row">
                            <div class="col-xl-12">
                                <h3 class="TitleBlue">Добавление ИП</h3>
                            </div>
                        </div>

                        <div class="row nested-row">
                            <div class="col-xl-6 col-sm-4">
                                <div class="Input-Wrapper">
                                    {{ formLabel(soleProprietorForm.get('name'))|raw }}
                                    {{ formElement(soleProprietorForm.get('name'))|raw }}
                                    <div class="FormError">{{ formElementErrors(soleProprietorForm.get('name'))|raw }}</div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-sm-4">
                                <div class="Input-Wrapper">
                                    {{ formLabel(soleProprietorForm.get('last_name'))|raw }}
                                    {{ formElement(soleProprietorForm.get('last_name'))|raw }}
                                    <div class="FormError">{{ formElementErrors(soleProprietorForm.get('last_name'))|raw }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row nested-row">
                            <div class="col-xl-6 col-sm-4">
                                <div class="Input-Wrapper">
                                    {{ formLabel(soleProprietorForm.get('first_name'))|raw }}
                                    {{ formElement(soleProprietorForm.get('first_name'))|raw }}
                                    <div class="FormError">{{ formElementErrors(soleProprietorForm.get('first_name'))|raw }}</div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-sm-4">
                                <div class="Input-Wrapper">
                                    {{ formLabel(soleProprietorForm.get('secondary_name'))|raw }}
                                    {{ formElement(soleProprietorForm.get('secondary_name'))|raw }}
                                    <div class="FormError">{{ formElementErrors(soleProprietorForm.get('secondary_name'))|raw }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row nested-row">
                            <div class="col-xl-6 col-sm-4">
                                <div class="Input-Wrapper">
                                    <label for="birthday">Дата рождения</label>
                                    <input name="birth_date" id="birthday" class="InputDate datepicker-here"
                                           placeholder="Выберите дату рождения" value="" type="text">
                                    <div class="FormError">{{ formElementErrors(soleProprietorForm.get('birth_date'))|raw }}</div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-sm-4">
                                <div class="Input-Wrapper">
                                    {{ formLabel(soleProprietorForm.get('inn'))|raw }}
                                    {{ formElement(soleProprietorForm.get('inn'))|raw }}
                                    <div class="FormError">{{ formElementErrors(soleProprietorForm.get('inn'))|raw }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row nested-row">
                            <div class="col-xl-6 col-sm-4">
                                <div class="Input-Wrapper">
                                    {{ formLabel(soleProprietorForm.get('nds_type'))|raw }}
                                    {{ formElement(soleProprietorForm.get('nds_type'))|raw }}
                                    <div class="FormError">{{ formElementErrors(soleProprietorForm.get('nds_type'))|raw }}</div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row nested-row">
                            <div class="col-xl-6 col-sm-4">
                                <button type="submit" value="" class="button-grey">Сохранить</button>
                            </div>
                        </div>

                        <div class="row nested-row">
                            <div class="col-xl-12">
                                <div class="FormError">{{ formElementErrors(soleProprietorForm.get('csrf'))|raw }}</div>

                            </div>
                        </div>
                    {#</div>#}
                </div>
            </form>
        </div>
    </section>
{% endblock content %}