{% extends 'twig/layout/application' %}

{#
1. Массив (показаны значения из тестового объекта):
    soleProprietor [
      'id' => int 1
      'name' => string 'ИП Месси Леонель Аргентинович'
      'first_name' => string 'Леонель'
      'secondary_name' => string 'Аргентинович'
      'last_name' => string 'Месси'
      'birth_date' => string '31.12.1980'
      'inn' => string '683103646744'
      'civil_law_subject_id' => int 95
      'nds' =>
          'type' => int 4
          'name' => string '18%'
      'payment_methods' =>
    ]
#}

{% block content %}
    {% do headTitle('Удаление ИП') %}
    <section class="col-xl-10 col-xl-offset-2 col-lg-8 col-lg-offset-1 col-lt-6 col-lt-offset-0 PageForm">
        <div class="PageForm-Container">
            <form method="POST" action="{{ url('user-profile/sole-proprietor-single', {'id': soleProprietor['id']}) }}"
                  class="FormView" role="form" id="sole-proprietor-delete-form">
                <input type="hidden" name="_method" value="delete">

                <h3 class="TitleBlue">Вы уверены, что хотите удалить?</h3>
                <div class="InfoField">
                    <p class="InfoField-Label">Название:</p>
                    <p class="InfoField-Text">{{ soleProprietor['name'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">Фамилия:</p>
                    <p class="InfoField-Text">{{ soleProprietor['last_name'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">Имя:</p>
                    <p class="InfoField-Text">{{ soleProprietor['first_name'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">Отчество:</p>
                    <p class="InfoField-Text">{{ soleProprietor['secondary_name'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">Дата рождения:</p>
                    <p class="InfoField-Text">{{ soleProprietor['birth_date'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">ИНН:</p>
                    <p class="InfoField-Text">{{ soleProprietor['inn'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">ТИП НДС:</p>
                    <p class="InfoField-Text">{{ soleProprietor['nds']['name'] }}</p>
                </div>
                <div class="ButtonsRow">
                    <button class="ButtonDelete margin-right" type="submit" value="" data-ripple-button="">
                        <span class="ripple-text">Удалить</span>
                    </button>
                    <a href="{{ url('user-profile/sole-proprietor-single', {'id' : soleProprietor['id']}) }}" class="ButtonRefuse" data-ripple-button="">
                        <span class="ripple-text">Отменить</span>
                    </a>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}