{% extends 'twig/layout/application' %}

{#
1. Объект
    soleProprietorForm => {
        'name'
        'first_name'
        'secondary_name'
        'last_name'
        'birth_date'
        'inn'
        'csrf'
        'submit'
    }

2. Массив (показаны значения из тестового объекта):
    soleProprietor [
      'id' => int 1
      'name' => string 'ИП Месси Леонель Аргентинович'
      'first_name' => string 'Леонель'
      'secondary_name' => string 'Аргентинович'
      'last_name' => string 'Месси'
      'birth_date' => string '31.12.1980'
      'inn' => string '683103646744'
      'civil_law_subject_id' => int 95
      'nds_type' => int 4
      'payment_methods' =>
    ]
#}

{% block content %}
    {% do headTitle('Редактирование ИП') %}
    <section class="PageForm">
        <div class="PageForm-Container">
            <div class="PageForm-Container_new-design">
                <form class="FormLabelTop" method="POST" id="sole-proprietor-edit-form">

                    {{ formElement(soleProprietorForm.get('csrf'))|raw }}

                    <h3 class="TitleBlue">Редактирование ИП</h3>
                    <div class="Input-Wrapper">
                        <label for="name">Название:</label>
                        {{ formElement(soleProprietorForm.get('name')) |raw }}
                        <div class="FormError">{{ formElementErrors(soleProprietorForm.get('name'))|raw }}</div>
                    </div>
                    <div class="Input-Wrapper">
                        <label for="person-surname">Фамилия:</label>
                        {{ formElement(soleProprietorForm.get('last_name')) |raw }}
                        <div class="FormError">{{ formElementErrors(soleProprietorForm.get('last_name'))|raw }}</div>
                    </div>
                    <div class="Input-Wrapper">
                        <label for="person-name">Имя:</label>
                        {{ formElement(soleProprietorForm.get('first_name')) |raw }}
                        <div class="FormError">{{ formElementErrors(soleProprietorForm.get('first_name'))|raw }}</div>
                    </div>
                    <div class="Input-Wrapper">
                        <label for="person-name-two">Отчество:</label>
                        {{ formElement(soleProprietorForm.get('secondary_name')) |raw }}
                        <div class="FormError">{{ formElementErrors(soleProprietorForm.get('secondary_name'))|raw }}</div>
                    </div>
                    <div class="Input-Wrapper">
                        <label for="birthday">Дата рождения:</label>
                        {{ formElement(soleProprietorForm.get('birth_date')) |raw }}
                        <div class="FormError">{{ formElementErrors(soleProprietorForm.get('birth_date'))|raw }}</div>
                    </div>
                    <div class="Input-Wrapper">
                        <label for="birthday">Дата рождения:</label>
                        {{ formElement(soleProprietorForm.get('inn')) |raw }}
                        <div class="FormError">{{ formElementErrors(soleProprietorForm.get('inn'))|raw }}</div>
                    </div>
                    <div class="Input-Wrapper">
                        <label for="nds-type">Тип НДС:</label>
                        {{ formElement(soleProprietorForm.get('nds_type'))|raw }}
                        <div class="FormError">{{ formElementErrors(soleProprietorForm.get('nds_type'))|raw }}</div>
                    </div>

                    <div class="FormError">{{ formElementErrors(soleProprietorForm.get('csrf'))|raw }}</div>

                    <div class="ButtonsRow">
                        {% if is_operator == false %}
                            <a href="{{ url('user-profile/sole-proprietor-form-delete', {'idSoleProprietor' : soleProprietor['id']}) }}"
                               class="ButtonDelete margin-right" data-ripple-button=""><span class="ripple-text">Удалить</span></a>
                        {% endif %}
                        <button class="ButtonApply" value="" data-ripple-button=""><span class="ripple-text">Сохранить</span></button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}