{% extends 'twig/layout/application' %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}

{#
1. Массив (показаны значения из тестового объекта):
    SoleProprietor [
      'id' => int 8
      'name' => string 'ИП Роналду Криштиану Португалович'
      'first_name' => string 'Криштиану'
      'secondary_name' => string 'Португалович'
      'last_name' => string 'Родалду'
      'birth_date' => string '31.05.1984'
      'inn' => string '683103646744'
      'civil_law_subject_id' => int 456
      'nds' =>
          'type' => int 3
          'name' => string '10%' (length=3)
      'payment_methods' =>
     ]

2. Массив (показаны значения из тестового объекта):
    documents [
      0 => [
          'id' => int 1
          'type_name' => 'Банковские реквизиты'
          'date_issued' => '01-02-2018'
          'files' => [
              0 => [
                  'civilId' => '1'
                  'id' => '1'
                  'name' => 'Image.jpg'
                  'type' => 'jpg'
              ]
          ]
      ],
      1 =>
    ]

3. Булевая переменная
    is_operator - по ее значению показываем что-то оператору или скрываем

4. Массив (показаны значения из тестового объекта):
    paymentMethods[
       '0 => [
              'id' => int 1
              'name' => string 'bank_transfer' (length=13)
              'output_name' => string 'Банковский перевод' (length=35)
              'description' => string 'Банковский перевод' (length=35)
              'is_active' => boolean true
              'bank_transfer' [
                  'id' => int 4
                  'name' => string 'Банковский перевод для izubarev' (length=51)
                  'bik' => string '123456789' (length=9)
                  'account_number' => string '123456789012345' (length=15)
                  'payment_recipient_name' => string 'Зубарев Игорь Анатольевич' (length=48)
                  'inn' => string '4217030520' (length=10)
                  'kpp' => string '123456789' (length=9)
                  'corr_account_number' => string '123456789012345' (length=15)
                  'bank_name' => string 'Сбербанк' (length=16)
              ]
         ],
         1 => []
     ]
#}

{% block content %}
    {#<h1>Юридическое лицо {{ legalEntity['name'] }}</h1>#}
    <div class="row nested-row">
            <div class="col-lg-7 col-lg-offset-1 col-lt-6 col-lt-offset-0 col-xl-10 col-xl-offset-2">
                <section class="CivilLawSubjectPage" id="CardSoleProprietor">
                    <section class="CivilLawSubjectPage-Header">
                        <div class="TitleWithEditIcon">
                            <h1 class="TitleBlue">ИП</h1>
                            <a class="IconEdit"
                               href="{{ url('user-profile/sole-proprietor-form-edit', {'idSoleProprietor' : soleProprietor['id']}) }}"></a>
                        </div>
                        <div class="CivilLawSubjectDataOverview">
                            <div class="CivilLawSubjectDataOverview-Column">
                                <div class="InfoField">
                                    <div class="InfoField-Label">Наименование:</div>
                                    <div class="InfoField-Text">{{ soleProprietor['name'] }}</div>
                                </div>
                            </div>
                            <div class="CivilLawSubjectDataOverview-Column">
                                <div class="InfoField">
                                    <div class="InfoField-Label">ИНН:</div>
                                    <div class="InfoField-Text">{{ soleProprietor['inn'] }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="CivilLawSubjectDataOverview">
                            <div class="CivilLawSubjectDataOverview-Column">
                                <div class="InfoField">
                                    <div class="InfoField-Label">Фамилия:</div>
                                    <div class="InfoField-Text">{{ soleProprietor['last_name'] }}</div>
                                </div>
                                <div class="InfoField">
                                    <div class="InfoField-Label">Имя:</div>
                                    <div class="InfoField-Text">{{ soleProprietor['first_name'] }}</div>
                                </div>
                            </div>
                            <div class="CivilLawSubjectDataOverview-Column">
                                <div class="InfoField">
                                    <div class="InfoField-Label">Отчество:</div>
                                    <div class="InfoField-Text">{{ soleProprietor['secondary_name'] }}</div>
                                </div>
                                <div class="InfoField">
                                    <div class="InfoField-Label">Дата рождения:</div>
                                    <div class="InfoField-Text">{{ soleProprietor['birth_date'] }}</div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="CivilLawSubjectPage-Section Document">
                        <h1 class="TitleBlue">Документы</h1>
                        <form method="get" class="TableWrapper" id="legal-entity-single-form">
                            <table class="TableDefault TableDocuments js-table-rows-are-link" data-start="1" data-length="3">
                                <tr class="FilterTableRow">
                                    <td>
                                        <button type="button" class="ButtonApply js-popup-open" data-popup="#add-document-popup">
                                            Добавить
                                        </button>
                                    </td>
                                    <td>
                                        <input class="InputSearch" type="text" placeholder="Документ">
                                    </td>
                                    <td>
                                        <div class="DoubleInputDate">
                                            <input class="InputDate2 datepicker-here" type="text">
                                            <input class="InputDate2 datepicker-here" type="text">
                                        </div>
                                    </td>
                                    <td>
                                        <select class="FilterTableRow-Select chosen-select" name="file" data-placeholder="Файл">
                                            <option value=""></option>
                                            <option>Банковские реквизиты</option>
                                            <option>Свидетельство налогового учета</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="ButtonSearch" type="submit"><span>&nbsp;</span></button>
                                    </td>
                                </tr>
                                <tr class="Head">
                                    <td>
                                        <a href="#" class="LinkSort">
                                            <i class="LinkSort-Icon"></i>
                                            №
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" class="LinkSort">
                                            <i class="LinkSort-Icon"></i>
                                            Тип
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" class="LinkSort">
                                            <i class="LinkSort-Icon"></i>
                                            Дата выдачи
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" class="LinkSort">
                                            <i class="LinkSort-Icon"></i>
                                            Файлы
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="CivilLawSubjectPage-Section" id="TablePaymentMethods">
                        <h1 class="TitleBlue">Метод оплаты</h1>
                        <form method="get" class="TableWrapper">
                            <table class="TableDefault TablePaymentMethods js-table-rows-are-link">
                                <tr class="FilterTableRow">
                                    <td>
                                        <button class="ButtonApply js-popup-open" data-popup="#payment-method-popup" type="button" data-ripple-button="">
                                            <span class="ripple-text">Добавить</span>
                                        </button>
                                    </td>
                                    <td>
                                        <input class="InputSearch" type="text" placeholder="Метод оплаты">
                                    </td>
                                    <td>
                                        <input class="InputSearch" type="text" placeholder="Тип">
                                    </td>
                                    <td>
                                        <select class="FilterTableRow-Select chosen-select" name="status" id=""
                                                data-placeholder="Статус">
                                            <option value=""></option>
                                            <option>активен</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="ButtonSearch" type="submit"><span>&nbsp;</span></button>
                                    </td>
                                </tr>
                                <tr class="Head">
                                    <td>
                                        <a href="#" class="LinkSort">
                                            <i class="LinkSort-Icon"></i>
                                            №
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" class="LinkSort">
                                            <i class="LinkSort-Icon"></i>
                                            Метод оплаты
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" class="LinkSort">
                                            <i class="LinkSort-Icon"></i>
                                            Тип
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" class="LinkSort">
                                            <i class="LinkSort-Icon"></i>
                                            Статус
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>
                                {% if paymentMethods |length > 0 %}
                                    {% for paymentMethod in paymentMethods %}
                                        <tr data-path="">
                                            <td>
                                                {{ loop.index }}
                                            </td>
                                            <td data-label="Метод оплаты:">
                                                {% if paymentMethod['type']['name'] == 'bank_transfer' %}
                                                    {{ paymentMethod['bank_transfer']['name'] }}
                                                {% endif %}
                                            </td>
                                            <td data-label="Тип:">
                                                {{ translate.paymentMethodType(paymentMethod['type']['name']) }}
                                            </td>
                                            <td data-label="Статус:">
                                                {{ (paymentMethod['type']['is_active']) ? 'активен' : 'неактивен' }}
                                            </td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr class="EmptyRow">
                                        <td colspan="5">
                                            У данного лица еще не добавлены методы оплаты.
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                        </form>
                    </div>


                    <div class="Popup-Container js-popup" id="payment-method-popup">
                        <div class="Popup-Bg"></div>
                        <div class="Popup">
                            <div class="ButtonClose js-popup-close"></div>
                            <div class="Popup-Content">
                                <div class="FormPopupRouter js-route-popup">
                                    <h3 class="TitleBlue">Выберите метод оплаты</h3>
                                    <p class="InfoField js-item" data-path="{{ url('user-profile/payment-method-form-create',
                                    {'civil_law_subject_id': legalEntity['civil_law_subject_id'], 'payment_method_type': 'bank_transfer'}) }}">
                                        Банковский перевод</p>
                                    <p class="InfoField js-item disabled">Наличные</p>
                                    <p class="InfoField js-item disabled">Банковская карта</p>
                                    <p class="InfoField js-item disabled">Электронный кошелек</p>
                                    <div class="ButtonsRow">
                                        <button class="ButtonRefuse margin-right js-reset" type="button" data-ripple-button="">
                                            <span class="ripple-text">Отменить</span>
                                        </button>
                                        <button class="ButtonAccept js-confirm" type="button" data-ripple-button="">
                                            <span class="ripple-text">Подтвердить</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
{% endblock content %}