<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Физические лица <?php if($this->naturalPersons->getPages()->totalItemCount > 0): ?>
                    (всего <?= $this->naturalPersons->getPages()->totalItemCount ?>)
                <?php endif; ?>
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <?php if (! $this->isOperator): ?>
                <form class="form-group row block_s-profile-search">
                    <div class="col-xs-1">
                        <a href="<?= $this->url('user-profile/natural-person-form-create') ?>"
                           class="glyphicon glyphicon-plus-sign block_s-profile-add-user"></a>
                    </div>
                </form>
            <?php endif; ?>
            <?php if (count($this->naturalPersons)): ?>
                <table class="table table-striped block_s-profile-table">
                    <thead>
                    <tr>
                        <th><a href="">№</a></th>
                        <th <?=($this->sortHelper()->isActive('lastName')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('lastName', []);?>">
                                ФИО

                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <th <?=($this->sortHelper()->isActive('birthDate')) ? 'class="block_s-profile-table-th-active"' : ''?>>
                            <a href="<?=$this->sortHelper()->getSortLink('birthDate', []);?>">
                                Дата

                                <?php if($this->sortHelper()->getSort() === 'DESC'):?>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                <?php else:?>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                <?php endif;?>
                            </a>
                        </th>
                        <?php if (! $this->isOperator): ?>
                            <th>Удалить</th>
                        <?php endif;?>
                    </tr>
                    </thead>
                    <tbody>
                    <?php $i = 0; ?>
                    <?php foreach ($this->naturalPersons as $key => $naturalPerson): ?>
                        <?php $i++; ?>
                        <?php
                        if (! $this->isOperator):
                            $route = 'user-profile/natural-person-single';
                        else:
                            $route = 'natural-person-single';
                        endif;
                        ?>
                        <tr>
                            <td class="text-center"><?=$i?></td>
                            <td>
                                <a href="<?= $this->url($route, ['id' => $naturalPerson->getId()])?>"
                                   class="block_s-profile-table-link">
                                    <?=$naturalPerson->getLastName() . ' ' . $naturalPerson->getFirstName() . ' ' . $naturalPerson->getSecondaryName();?>
                                </a>
                            </td>
                            <td class="text-center"><?=$naturalPerson->getBirthDate()->format('d.m.Y')?></td>
                            <?php if (! $this->isOperator): ?>
                                <td class="text-center">
                                    <a href="<?= $this->url('user-profile/natural-person-form-delete',
                                        ['idNaturalPerson' => $naturalPerson->getId()]) ?>"
                                       class="form-group">
                                        <i class="glyphicon glyphicon-remove-sign btn-profile-remove"></i>
                                    </a>
                                </td>
                            <?php endif; ?>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            <?php endif; ?>

            <?= $this->paginationControl($this->naturalPersons,
                'Sliding',
                'application/partial/paginator',
                [
                    'route' => $this->route,
                ]
            );
            ?>
        </div>
    </div>
</div>

