<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="block_s-profile-content-header">
            <span class="block_s-profile-content-header-span">
                Физическое лицо
            </span>
        </div>
        <div class="block_s-profile-content-desc">
            <!--  content  -->
            <div class="text-center">
                <p>
                    Вы уверены, что хотите удалить <strong>"<?= $this->naturalPerson->getFirstName() ?>
                        <?= $this->naturalPerson->getSecondaryName() ?> <?= $this->naturalPerson->getLastName() ?>"</strong>?
                </p>
            </div>
            <div class="text-center">
                <form method="POST" action="<?= $this->url('user-profile/natural-person-single',
                    ['id' => $this->naturalPerson->getId()]) ?>"
                      class="btn-profile-remove-form" role="form">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-blue" >Да, удалить это физ.лицо</button>
                </form>
            </div>
            <!-- /content  -->
        </div>
    </div>
</div>