<?php
$form = $this->form;
$form->prepare();
?>

<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">
            <!--  content  -->
            <h1>Изменение физ лица</h1>

            <div class="row">
                <div class="col-md-6">
                    <?= $this->form()->openTag($form); ?>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('last_name')); ?>
                        <?= $this->formElement($form->get('last_name')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('last_name')).'</div>'; ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('first_name')); ?>
                        <?= $this->formElement($form->get('first_name')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('first_name')).'</div>'; ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('secondary_name')); ?>
                        <?= $this->formElement($form->get('secondary_name')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('secondary_name')).'</div>'; ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($form->get('birth_date')); ?>
                        <?= $this->formElement($form->get('birth_date')); ?>
                        <?= '<div class="form-error">'.$this->formElementErrors($form->get('birth_date')).'</div>'; ?>
                    </div>

                    <?= $this->formElement($form->get('csrf')); ?>
                    <?= $this->formElement($form->get('submit')); ?>

                    <?= $this->form()->closeTag(); ?>
                </div>
            </div>
            <!-- /content  -->
        </div>
    </div>
</div>