<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
    <div class="jumbotron-vic">
        <!--  content  -->
        <?php if (isset($this->naturalPerson)): ?>
            <div class="jumbotron-vic">
                <h1>Физ лицо</h1>

                <div class="row">
                    <h3>
                        <?=$this->naturalPerson->getLastName() . ' ' . $this->naturalPerson->getFirstName() . ' ' . $this->naturalPerson->getSecondaryName();?>
                        <?php if (! $this->isOperator):?>
                            <br><a href="<?= $this->url('user-profile/natural-person-form-edit', [
                                'idNaturalPerson' => $this->naturalPerson->getId(),
                            ]) ?>" class="form-group">
                                изменить
                            </a>
                        <?php endif; ?>
                    </h3>
                    <?php if (! $this->isOperator):?>
                        <h4>
                            <a href="<?= $this->url('user-profile/natural-person-passport-form-create', [
                                'idNaturalPerson' => $this->naturalPerson->getId(),
                            ]) ?>">
                                + Добавить паспорт
                            </a>
                        </h4>
                    <?php endif; ?>
                    <?php if (! $this->isOperator):?>
                        <h4>
                            <a href="<?= $this->url('user-profile/natural-person-driver-license-form-create', [
                                'idNaturalPerson' => $this->naturalPerson->getId(),
                            ]) ?>">
                                + Добавить водительское удостоверение
                            </a>
                        </h4>
                    <?php endif; ?>
                </div>

                <?php foreach ($this->naturalPerson->getNaturalPersonDocument() as $document): ?>
                    <?php
                    $passport = $document->getNaturalPersonPassport();
                    $driverLicense = $document->getNaturalPersonDriverLicense();
                    ?>

                    <!-- Passport -->
                    <?php if ($passport !== null): ?>
                        <?=$this->partial('partial/passport-natural-person.phtml', [
                            'passport' => $passport,
                            'isOperator' => $this->isOperator
                        ]);?>
                    <?php endif; ?>

                    <!-- DriverLicense -->
                    <?php if ($driverLicense !== null): ?>
                        <?=$this->partial('partial/driver-license-natural-person.phtml', [
                            'driverLicense' => $driverLicense,
                            'isOperator' => $this->isOperator
                        ]);?>
                    <?php endif; ?>

                <?php endforeach; ?>

                <h4>
                    Методы оплаты<br>
                    <?php if (! $this->isOperator):?>
                        <a href="<?= $this->url('user-profile/payment-method-form-create', [
                            'civil_law_subject_id' => $this->naturalPerson->getCivilLawSubject()->getId()
                        ]) ?>">
                            + Добавить метод оплаты
                        </a>
                    <?php endif; ?>
                </h4>

                <?php foreach ($this->naturalPerson->getCivilLawSubject()->getPaymentMethods() as $paymentMethod): ?>
                    <p>
                        Тип: <strong><?=$paymentMethod->getPaymentMethodType()->getOutputName()?></strong><br>
                        Название: <?=$paymentMethod->getPaymentMethodBankTransfer()->getName()?><br>
                        Наименование банка: <?=$paymentMethod->getPaymentMethodBankTransfer()->getBankName()?><br>
                    </p>
                    <p>
                        <?php
                        if (! $this->isOperator):
                            $route = 'user-profile/payment-method-single';
                        else:
                            $route = 'payment-method-single';
                        endif;
                        ?>
                        <a href="<?= $this->url($route, ['id' => $paymentMethod->getId()]) ?>">
                            Подробнее
                        </a>
                        <?php if (! $this->isOperator):?>
                            <a href="<?= $this->url('user-profile/payment-method-form-edit',
                                ['idPaymentMethod' => $paymentMethod->getId()]) ?>">
                                Редактировать
                            </a>
                            <a href="<?= $this->url('user-profile/payment-method-form-delete',
                                ['idPaymentMethod' => $paymentMethod->getId()]) ?>"
                               class="form-group">
                                Удалить
                            </a>
                            </a>
                        <?php endif; ?>
                    </p>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>
        <!-- /content  -->
    </div>
    </div>
</div>
