<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">
            <!--  content  -->

            <div class="jumbotron">
                Вы авторизованы, как <strong><?= $this->identity() ?></strong>.

                <div class="text-right">
                    <a href="<?= $this->url('logout') ?>">сменить пользователя</a>
                </div>
            </div>

            <!-- /content  -->
        </div>
    </div>
</div>