<?php
$this->headTitle("Not Authorized");
?>

<div class="col-md-9">
    <div class="block_s-profile-content-wrapper">
        <div class="jumbotron-vic">
            <!--  content  -->

            <div class="alert alert-warning">Извините, у вас нет прав для просмотра этой страницы.</div>

            <!-- /content  -->
        </div>
    </div>
</div>