{% if not data['is_owner'] %}
    <p class="TextMarked_grey" id="counteragent-created-deal">
        <span class="TextMarked_date">{{ date_of_event }}</span>
        <span>
        {% if deal['type_ident'] == 'T' %}
            Покупатель
        {% else %}
            Заказчик
        {% endif %}
            создал сделку.</span>
    </p>
{% endif %}