{% if is_last == true %}
    {% if data['is_owner'] %}
        <p class="TextMarked TextMarked_info" id="counteragent-has-to-login">
            {% if deal['type_ident'] == 'T' %}
                Покупатель
            {% else %}
                Заказчик
            {% endif %} должен войти на сервис Guarant Pay, чтобы рассмотреть сделку и согласиться с условиями.
        Для ускорения подтверждения сделки Вы можете связаться с ним по email или телефону.</p>
    {% endif %}
{% endif %}