{% if data['is_customer_once_confirmed'] == true %}
     <p class="TextMarked_grey" id="you-edited-deal">
         <span class="TextMarked_date">{{ date_of_event }}</span>
         <span>Вы изменили условия сделки.</span>
     </p>
{% endif %}