{% if data['is_owner'] %}
    <p class="TextMarked_grey" id="you-created-deal-last">
        <span class="TextMarked_date">{{ date_of_event }}</span>
        <span>Вы создали сделку.</span>
    </p>
{% endif %}