{% extends 'twig/layout/rules' %}
{% block content %}
    <div class="Container">
    <section class="agency-contract" id="section-connection-contract">
        <h1>
            СОГЛАШЕНИЕ С ПОЛЬЗОВАТЕЛЕМ СЕРВИСА
        </h1>
        <p>
            Общество с ограниченной ответственностью «Гарант Пэй», в лице генерального директора Поляковой Евгении Евгеньевны, действующего на основании Устава, юридический адрес: Россия, 197101, г. Санкт-Петербург, ул. Чапаева, д. 15, лит. Ж, пом. 2Н, ОРГН 1177847065098, ИНН 7813271867, КПП 781301001, именуемое в дальнейшем «Организация» c одной стороны, и
        </p>
        <p>
            пользователь Сервиса GuarantPay (Гарант Пэй), именуемый в дальнейшем «Пользователь», с другой стороны, вместе именуемые «Сторонами», заключили путем конклюдентных действий настоящее Соглашение (далее – «Соглашение») о нижеследующем:
        </p>
        <p>
            1. Настоящее Соглашение заключается сторонами в форме договора присоединения (ст. 428 ГК РФ) путем совершения конклюдентных действий в сети Интернет.
        </p>
        <p>
            2. Для Пользователя Соглашение является публичным предложением (публичной офертой) заказать услугу у Организации в соответствии с «Регламентом пользования Сервисом», размещенным на сайте в сети Интернет по адресу:
            <a href="{{ url('terms-of-use') }}">guarantpay.com/terms-of-use</a>.
        </p>
        <p>
            3. Настоящее Соглашение считается заключенным с момента совершения Пользователем определенных в п. 4 настоящего Соглашения действий, которые подтверждают его безоговорочный акцепт (согласие) на заключение настоящего Соглашения и получения услуги в соответствии с «Регламентом пользования Сервисом» и регламентами, выпущенными в его развитие.
        </p>
        <p>
            4. Моментом заключения настоящего Соглашения (моментом акцепта публичной оферты) со стороны Пользователя будет являться момент регистрации Пользователя на сайте Сервиса GuarantPay и создания им Личного кабинета Пользователя. Создавая личный кабинет, Пользователь подтверждает, что он полностью ознакомился с «Регламентом пользования Сервисом» и регламентами, выпущенными в его развитие и размещенными в сети Интернет по адресу  <a href="{{ url('terms-of-use') }}">guarantpay.com/terms-of-use</a>.
        </p>
        <p>
            5. С момента создания Пользователем в личном кабинете Сделки, Организация на основании акцептованного Пользователем настоящего Соглашения, начинает оказывать Пользователю услугу в соответствии с «Регламентом пользования Сервисом».
        </p>
        <p>
            6. Пользователь, создавая в Личном кабинете Сделку, безоговорочно принимает тот объем прав и обязанностей, которые у него возникают в связи с его безоговорочным акцептом «Регламента пользования Сервисом», в том числе, признает, что он обязан будет оплатить все услуги, оказанные ему Организацией.
        </p>
        <p>
            7. Внесение изменений в «Регламент пользования Сервисом» и регламенты, выпущенные в его развитие, производится Организацией в одностороннем порядке, без согласования с Пользователями.
        </p>
        <p>
            Уведомление о внесении изменений в «Регламент пользования Сервисом» и регламентов, выпущенных в его развитие, производится путем обязательного размещения новых редакций регламентов на сайте Организации по адресу:  <a href="{{ url('terms-of-use') }}">guarantpay.com/terms-of-use</a>.
        </p>
        <p>
            Для конкретной Сделки действует «Регламент пользования Сервисом», размещенный в сети интернет по адресу  <a href="{{ url('terms-of-use') }}">guarantpay.com/terms-of-use</a> на дату открытия Сделки. До завершения конкретной сделки Пользователь и Организация руководствуются регламентом, действовавшим на дату открытия Пользователем Сделки в Личном кабинете. Применение нового регламента, однако, является возможным при согласии всех сторон сделки.
        </p>
        <p>
            8. Настоящее Соглашение считается заключенным и вступает в силу с даты его акцепта Пользователем, в порядке, описанном в настоящем Соглашении, и действует до исполнения сторонами всех своих обязательств.
        </p>
        <p>
            9. Заключение Пользователем настоящего Соглашения означает согласие с Политикой конфиденциальности и условиями обработки персональных данных Пользователя, размещенными по адресу: ____________________.
        </p>
    </section>
    </div>
    <!--noindex-->
    <div id="phpunit-test-connection-contract" style="display: none;">phpunit-test-connection-contract</div>
    <!--/noindex-->
{% endblock content %}