{% extends 'twig/layout/application' %}
{% do headTitle('Контакты') %}

{% block content %}
    <div class="container">
        <div class="row nested-row">
            <div class="col-xl-10 col-xl-offset-2 col-lg-7 col-lg-offset-1 col-lt-6 col-lt-offset-0">
                <section class="ContactsPage" id="section-contacts">
                    <h1 class="TitleBlue">Наши контакты</h1>

                    <div class="ContactSection-Group">
                        <div class="ContactContent">
                            <div class="ContactsPage-Group">
                                <p><strong>Тел:</strong> <a href="tel:+78005057535">+7 (800) 505 75 35</a></p>
                                <p><strong>Тел:</strong> <a href="tel:+74951189065">+7 (495) 118 90 65</a></p>
                            </div>
                            <p><strong>Email:</strong> <a href="mailto:sale@guarantpay.com">sale@guarantpay.com</a></p>
                            <p>ООО "Гарант Пэй" <span class="Nowrap"><strong>ИНН:</strong> 7813271867,</span> <span class="Nowrap"><strong>КПП: </strong> 781301001</span></p>
                        </div>


                        <div class="ContactMap">
                            <div class="ContactMap-Box">
                                <h2>Санкт-Петербург</h2>
                                <div class="ContactMap">
                                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab80d0d35bca37c835f6b3bf177047ca348acba0015163a2ff828b8529792c5e4&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                                </div>

                                <div class="ContactsPage-Group">
                                    <p><strong>Адрес:</strong> 197101, Санкт-Петербург г, Чапаева ул, дом № 15, литера Ж, помещение 2-Н</p>
                                </div>
                            </div>
                            <div class="ContactMap-Box">
                                <h2>Москва</h2>
                                <div class="ContactMap">
                                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A66332c88c2aa333cc3272787007f09e431a1c0465319f1ec566d3935b0fd60a5&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                                </div>

                                <div class="ContactsPage-Group">
                                    <p><strong>Адрес:</strong> 125040, г. Москва, 3-я Ямского Поля ул., 2 к. 26 оф.306</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!--noindex-->
    <div id="phpunit-test-contacts" style="display: none;">phpunit-test-contacts</div>
    <!--/noindex-->
{% endblock content %}


