{% extends 'twig/layout/rules' %}
{% block content %}
    <div class="Container">
    <section class="DisputeResolution" id="section-dispute-resolution">


        <div class="DisputeResolution-Box">
            <div class="DisputeResolution-Item">
                <h1>Решение споров</h1>
                <p>Квалифицированная команда «Гарант Пэй» занимается разрешением спора в установленные сроки путем сбора фактов и проведения расследования по конкретной сделке.</p>

                <h2>Создание спора</h2>

                <p>Если продавец не выполнил условия сделки либо отправил товар/оказал услугу
                    ненадлежащего качества, покупатель вправе открыть спор.
                    При этом продавец гарантированно не получит денег до его разрешения.</p>

                <h2>
                    Варианты решения спора
                </h2>

                <ul>

                    <li><i>1</i><span>Возврат товара с возвратом денежных средств (полученный товар отправляется обратно продавцу).</span></li>
                    <li><i>2</i><span>Частичный возврат товара с частичным возвратом денежных средств (если покупателя устроила только часть товара, который он получил, и продавец согласен на частичный возврат).</span></li>
                    <li><i>3</i><span>Предоставление скидки покупателю (продавец готов сделать дополнительную скидку, чтобы урегулировать спор).</span></li>
                    <li><i>4</i><span>Передача дела в суд (если продавец и покупатель не смогли договориться и(или) их не устроило решение, которое предложила администрация сервиса).</span></li>
                    <li><i>5</i><span>Закрытие спора с дальнейшим выполнением первоначальных условий сделки (отмена спора).</span></li>
                </ul>
            </div>
            <div class="DisputeResolution-Item Item-Img">
                <img src="{{ basePath('img/landing/disputeResolution/girl.svg') }}" alt="">
            </div>
        </div>
        <a href="{{ url('dispute-consideration-rules') }}" class="infoLink">Регламент «Разрешение спора»</a>



    </section>
    </div>
    <!--noindex-->
    <div id="phpunit-test-dispute-resolution" style="display: none;">phpunit-test-dispute-resolution</div>
    <!--/noindex-->
{% endblock content %}