{% extends 'twig/layout/rules' %}
{% block content %}
    <div class="Container">
        <section class="policy" id="section-consideration-rules">
            <h1>Регламент «Разрешение спора»
            </h1>
            <div class="directors-order">
                <p>Утвержден</p>
                <p>Приказом</p>
                <p>Директора ООО «Гарант Пей»</p>
                <p>за № ______</p>
                <p>От ____________</p>
                
            </div>
            <p>1. Когда Покупатель не удовлетворен качеством товара или оказанной услуги, ему доступно действие <strong>«Открыть
                    спор» </strong>с указанием причины и добавлением материалов, служащих основанием для открытия
                данного спора (включая фотографии товара, документы, прочие материалы, которые указывают на расхождения
                между указанным в Системе описании товара/услуги при создании Сделки и фактически полученным заказом).
            </p>
            <p>Общий объем размещаемых материалов, которые возможно разместить без предварительного согласования с
                Сервисом, составляет не более 1 ГБ.</p>
            <p>2. С целью достижения компромисса и прояснения сути претензии Покупателя, Покупатель и Продавец обязаны
                напрямую связаться друг с другом, приложить усилия для того, чтобы найти устраивающее Стороны решение
                спора.</p>
            <p>Возможные варианты действий сторон по решению спора без привлечения рефери, создания Согласительной
                комиссии или обращения за судебной защитой:</p>
            <p>— <strong>«Закрыть Спор»</strong> – Покупатель принимает заказ;</p>
            <p>— <strong>«Возврат»</strong> – денежные средства по Сделке возвращаются Покупателю, а товар или его часть
                за счет Продавца, возвращается Продавцу. Пользователи вправе согласовать и иные условия для этого типа
                урегулирования спора;</p>
            <p>— <strong>«Частичный возврат»</strong> – денежные средства по Сделке возвращаются Покупателю
                пропорционально объему возвращаемого Продавцу товара, с удержанием комиссии Сервиса как это
                предусмотрено регламентом пользования Сервисом, а оставшаяся часть товара за счет Продавца возвращается Продавцу.
                Пользователи вправе согласовать и иные условия для этого типа урегулирования спора;</p>
            <p>— <strong>«Уменьшение цены товара/услуги(скидка)»</strong> – Пользователи договариваются об уменьшении
                цены товара (стоимости услуги) и отправленная на счет Организации денежная сумма направляется в адрес
                Продавца в согласованном размере, а неиспользованный остаток денежных средств Покупателя, находящийся на счете Организации,
                переводится Покупателю товара/услуги в порядке, установленном Сервисом;</p>
            <p>— Пользователи вправе согласовать любой иной, разрешаемый законодательством РФ и согласованный с
                Администрацией сервиса порядок урегулирования спора.</p>
            <p> После достижения между Продавцом и Покупателем договоренности об использовании какого-либо варианта решения спора, они обязаны поставить в известность Администрацию, для этого им необходимо совершить действия, предусмотренные системой, или отправить соответствующие письма на e-mail: <a href="mailto:mail@guarantpay.com">mail@guarantpay.com</a> с указанием принятого решения. После этого Администрацией
                предпринимаются действия, соответствующие выбранному Пользователями способу урегулирования спора.</p>
            <p>3. В случае выбора действия <strong>«Возврат»</strong> Покупатель обязуется отправить товар наложенным
                платежом за счет Продавца, а Продавец – принять возвратный товар, подтвердив данное действие и оплатив
                доставку возвращенного товара, оператору доставки.</p>

            <p>4. При действии <strong>«Возврат»</strong> Покупатель в срок не более 3-х(трех) рабочих дней должен
                организовать доставку товара, указать наименование транспортной компании либо иной службы, которой
                осуществляется доставка, а также код для отслеживания актуального статуса доставки и реквизиты квитанции. При
                невыполнении Покупателем данных условий Организация получает право перечислить средства по Сделке Продавцу за
                вычетом суммы Комиссии.</p>

            <p>Продавец при получении возвращенного товара должен уведомить Администрацию сервиса по электронной почте, отправив письмо на e-mail: <a href="mailto:mail@guarantpay.com">mail@guarantpay.com</a>, содержащее информацию о том, что товар получен.</p>

            <p>Организация в течение 3-х(трех) рабочих дней переводит денежные средства Покупателю, за вычетом суммы Комиссии Сервиса, и закрывает Сделку, меняя ее статус на <strong>«Закрыта»</strong>.</p>

            <p>Если Продавец в течение 3-х(трех) календарных дней с момента фактической доставки не уведомил Администрацию сервиса, что товар получен, то Организация вправе вернуть денежные средства Покупателю за вычетом Комиссии.</p>

            <p>Продавец может обратиться к Администрации при помощи отправки на e-mail: <a href="mailto:mail@guarantpay.com">mail@guarantpay.com</a> сообщения, если им не был получен товар по причинам, которые не зависят от его действий/бездействий.</p>

            <p>Когда возвращаемый товар не соответствует отправленному товару, то Продавец уведомляет об этом Администрацию посредством отправки сообщения на e-mail: <a href="mailto:mail@guarantpay.com"> mail@guarantpay.com</a>.</p>

            <p>Также в течение 10 (десяти) календарных дней с даты получения товара Продавец должен обратиться в суд в соответствии с подсудностью и подведомственностью спора, направив Администрации копию искового заявления, подтверждающего обращения за судебной защитой, на e-mail: <a href="mailto:mail@guarantpay.com">mail@guarantpay.com</a>.</p>
            <p>Если Продавец в указанный срок не обратится в суд, Администрация возвращает денежные средства по Сделке Покупателю.</p>

            <p id="dispute-consideration-rules_p.5">Примечание: Подтверждением обращения Стороной(Пользователем/участником Сделки) за судебной защитой будет являться сканированная копия Искового заявления в суд, в соответствии с установленным в РФ порядком, направленная в адрес администрации по электронному адресу, указанному в настоящем Регламенте - <a href="mailto:mail@guarantpay.com">mail@guarantpay.com</a>. К копии искового заявления должны быть приложены доказательства направления этого заявления в суд, посредством  заказного почтового отправления с помощью ФГУП «Почта России».</p>

            <p>5. Когда Продавец и Покупатель не приходят к соглашению, а также не достигают договоренности с
                привлечением Рефери или Согласительной комиссии в течение 14 (четырнадцати) календарных дней с момента открытия спора,
                они обязаны обратиться для разрешения спорной ситуации в суд в соответствии с подсудностью и
                подведомственностью спора. Подтверждением обращения станет отправка копии искового заявления, подтверждающего
                обращение за судебной защитой, на e-mail:<a
                        href="mailto:mail@guarantpay.com">mail@guarantpay.com</a>.</p>
            <p>6. Когда Стороны обращаются к Администрации для решения спора(назначения Рефери или создания
                Согласительной комиссии), специалисты Организации рассматривают суть спора и предлагают сторонам возможные
                пути решения конфликта.</p>
            <p>Пользователи Сервиса соглашаются, что при вынесении предложений для решения спора Рефери или члены
                Согласительной комиссии могут руководствоваться следующими данными:</p>
            <p>— данными, которые указаны при создании сделки в Системе (включая прикрепленные файлы);</p>
            <p>— информацией о доставке товара, получаемой по коду отслеживания (при доставке товара) от транспортной
                компании;</p>
            <p>— иными сведения (включая фотографии и документы), полученными от Пользователей Сервиса посредством сообщений
                электронной почты, направленных на e-mail: <a
                        href="mailto:mail@guarantpay.com">mail@guarantpay.com</a>;</p>
            <p>— информацией от платежных систем и Банков, которые используются в Системе для взаиморасчетов;</p>
            <p>— иной информация по заключенной Сделке, включая полученную при общении с Пользователями через социальные
                сети, по телефону, другие каналы коммуникации.</p>
            <p>Данный перечень данных не является исчерпывающим.</p>
            <p>7. Администрация Сервиса активно содействует в разрешении споров, возникающих между
                Пользователями, а также принимает меры для вынесения по спору решения Рефери или Согласительной
                комиссией в срок не более 14-ти (четырнадцати) календарных дней от даты присвоения сделке статуса
                <strong>«Открытие Спора»</strong>.</p>

            <p>8. Администрация, а именно назначенные ей Рефери или члены Согласительной комиссии, обладают правом
                отказаться участвовать в разрешении спора и остановить разбирательство спора в следующих ситуациях:</p>
            <p>— уклонения Пользователей, направивших заявление в Администрацию сервиса назначить Рефери или создать
                Согласительную комиссию, в течение более 5 (пяти) календарных дней от действий, направленных на содействие Рефери
                или Согласительной комиссии в разрешении спора Пользователей;
            </p>
            <p>— отсутствия надлежащей компетенции в силу действующего законодательства Российской Федерации на
                рассмотрение возникшего спора по существу, основываясь на представленных Сторонам доказательствах и иных
                объективных факторах, которые препятствуют справедливому решению вопроса;
            </p>
            <p>— получения из открытых источников или от стороны Спора доказательств обращения любого из
                Пользователей за судебной защитой.</p>

            <p>Администрация должна проинформировать Стороны о своем отказе участвовать в решении спорного вопроса по
                вышеуказанным обстоятельствам, направляя на электронную почту Сторон соответствующие письма.
            </p>
            <p>Стороны в данном случае обладают правом обращения в суд в установленном порядке в целях разрешения спора,
                о чем обязуются сообщить Администрации посредством отправки письма на e-mail: <a
                        href="mailto:mail@guarantpay.com">mail@guarantpay.com</a></p>

            <p>9. Решение Администрации по результатам рассмотрения спора направляется Сторонам на адреса электронной почты, указанные при регистрации. </p>
            <p>Стороны после ознакомления с принятым Администрацией решением, обязуются совершить одно из следующих действий:</p>
            <p>— обоюдно принять рекомендованное Администрацией решение, о чем Стороны обязуются сообщить при помощи отправки письма на e-mail<a
                        href="mailto:mail@guarantpay.com">mail@guarantpay.com</a></p>
            <p>— договориться об ином варианте разрешения спора, о чем Стороны обязуются сообщить Администрации при помощи отправки письма на e-mail:<a
                        href="mailto:mail@guarantpay.com">mail@guarantpay.com</a></p>
            <p>— обратиться за судебной защитой, о чем обратившаяся сторона сообщает Администрации путем отправки копии искового заявления, подтверждающего обращение за судебной защитой своих прав на e-mail:<a
                        href="mailto:mail@guarantpay.com">mail@guarantpay.com</a></p>
            <p>Примечание: Подтверждением обращения Стороной (Пользователем/участником Сделки) за судебной защитой будет являться сканированная копия Искового заявления в суд, в соответствии с установленным в РФ порядком, направленная в адрес администрации по электронному адресу, указанному в настоящем Регламенте - <a
                        href="mailto:mail@guarantpay.com">mail@guarantpay.com</a>. К копии искового заявления должны быть приложены доказательства направления этого заявления в суд, посредством  заказного почтового отправления с помощью ФГУП «Почта России».</p>
            <p>10.	Если сторонами в течение 14 (четырнадцати) календарных дней с момента направления им Администрацией решения Сторонами (Пользователями/участниками Сделки) не выбрано ни одно из решений, которые предложены им Администрацией в порядке пункта 9 Регламента «Разрешение спора», и  Пользователи не обратились за судебной защитой и не направили об этом информацию Администрации по адресу <a
                        href="mailto:mail@guarantpay.com">mail@guarantpay.com</a>, то заключенная Сделка считается завершенной при отсутствии каких-либо взаимных претензий Сторон друг к другу или к Организации.</p>
            <p>В таком случае в течение 3-х (трех) рабочих дней Организация переводит Продавцу денежные средства, за вычетом суммы Комиссии Сервиса, и меняет статус Сделки на <strong>«Закрыта»</strong>.</p>
            <p>11. Пользователи соглашаются, что в случае неурегулирования спорного вопроса в результате согласительных процедур, требования либо разногласия между Пользователями, которые возникают из Сделки либо в связи с ней, включая заключение, исполнение, изменение условий, прекращение, нарушение обязательств, расторжение, признание сделки между ними недействительной либо незаключенной, передаются для рассмотрения спора в суд в установленном порядке.</p>
            <p>12. Пользователи соглашаются, что в случае неурегулирования спорного вопроса в результате согласительных процедур, требования либо разногласия между Пользователями и Организацией, которые возникают из Сделки либо в связи с ней, включая заключение, исполнение, изменение условий, прекращение, нарушение обязательств, расторжение, признание сделки между ними недействительной либо незаключенной, передаются для рассмотрения спора в Арбитражный суд по Санкт-Петербургу и Ленинградской области или в суд общей юрисдикции по месту нахождения Организации в соответствии с подсудностью и подведомственностью, установленными действующим законодательством РФ.</p>
            <p>13. Стороны соглашаются, что денежные средства по заключенной Сделке на период до разрешения спора одним из предусмотренных Регламентом «Разрешение спора» способов будут храниться на счету Организации.</p>
            <p>14. «Гарантированная сделка», по которой инициировано судебное разбирательство, может быть закрыта на основании утвержденного судом решения, которое одна из Сторон обязана предоставить Организации:</p>
            <p>— сканированная копия решения направляется e-mail: <a href="mailto:mail@guarantpay.com">mail@guarantpay.com</a> в трехдневный период после его вынесения;</p>
            <p>— заверенная копия решения направляется в офис Организации по указанному на сайте <a href="{{ url('home') }}">www.guarantpay.com</a> адресу не позднее, чем через 10 (десять) рабочих дней после его вынесения.</p>
            <p>15. После получения вступившего в силу судебного решения, признанного обоими сторонами Спора, Организация переводит денежные средства тому Пользователю, перевод которому подтвердят оба Пользователя, участвующие в споре.</p>
            <p>16. В случае, если один из Пользователей, участвующих в споре, не признает судебного решения, то Организация осуществляет перевод денежных средств в службу судебных приставов в соответствии с их требованием, основанным на действующем законодательстве об исполнительном производстве.</p>
        </section>
    </div>
    <!--noindex-->
    <div id="phpunit-test-dispute-consideration-rules" style="display: none;">phpunit-test-dispute-consideration-rules</div>
    <!--/noindex-->
{% endblock content %}