{% extends 'twig/layout/rules' %}
{% block content %}
    <div class="Container">
        <section style="text-align: center; position: relative; height: 50vh;">
            <h1 style="position: absolute; top: 50%; left: 0; right: 0; transform: translateY(-50%);">This page is under construction</h1>
        </section>
    </div>
    <!--noindex-->
    <div id="phpunit-test-for-partners" style="display: none;">phpunit-test-for-partners</div>
    <!--/noindex-->
{% endblock content %}