{% extends 'twig/layout/rules' %}
{% block content %}
    <div class="Container">
    <section class="forWhom" id="section-for-whom">
        <h1>Для кого?</h1>
        <div class="forWhom-Box">
            <div class="forWhom-Content">
                <p>Сервис «Гарант Пэй» подходит для физических или юридических лиц, которым нужно безопасно провести сделку купли-продажи товара или услуги.</p>
                <p>Пользователь, регистрируясь на сервисе, может добавить неограниченное количество юридических или физических лиц, от лица которых он будет регистрировать сделку.</p>
                <p>Ограничений в регистрации сделки нет – Вы можете заключить сделку как с физическим, так и с юридическим лицом с учетом особенностей, предусмотренных Налоговым кодексом Российской Федерации. </p>
                <p>Согласно налоговому кодексу, есть небольшие особенности при создании сделки между юридическими и физическими лицами.  </p>
            </div>
            <div class="forWhom-Image">
                <img src="{{ basePath('img/landing/forWhom/twoMan.svg') }}" alt="">
            </div>
        </div>



        <h2>Особенности сделки</h2>


        <div class="forWhom-BoxConent">
            <div class="forWhom-Item">
                <h3>Юридические лица</h3>
                <p>
                    <strong>Покупатель/Заказчик</strong> оплачивает сделку любым удобным способом (обращаем внимание что сервис работает на общей системе налогообложения, поэтому все платежи осуществляются с НДС) после оплаты получает от Сервиса «Гарант Пэй» комплект документов на комиссию сервиса. Является налоговым агентом.
                </p>
                <p>
                    <strong>Продавец/Исполнитель</strong> при регистрации сделки указывает реквизиты, на которые будут перечислены денежные средства в случае удачной сделки и систему налогообложения (НДС, без НДС и т.д.), согласно выбранной системы будет осуществлен перевод денежных средств. После выплаты необходимо предоставить комплект закрывающих документов на поставленный товар или выполненную услугу.
                </p>
            </div>
            <div class="forWhom-Item">
                <h3>Физические лица</h3>
                <p>
                    <strong>Покупатель/Заказчик,</strong> оплачивает сделку любым удобным способом, после оплаты получает от сервиса комплект документов на комиссию сервиса.
                </p>
                <p>
                    <strong>Продавец/Исполнитель,</strong> при регистрации сделки пользователь указывает реквизиты на которые будут выплачены денежные средства в случае удачной сделки.
                </p>
            </div>
        </div>

    </section>
    </div>
    <!--noindex-->
    <div id="phpunit-test-for-whom" style="display: none;">phpunit-test-for-whom</div>
    <!--/noindex-->
{% endblock content %}