{% extends 'twig/layout/rules' %}
{% block content %}
    <section class="howItWorks" id="section-how-it-works">
        <div class="BoxFlex Box-Flex-Header">
            <div class="BoxFlex-Wrapper">
                <div class="BoxFlex-Content">
                    <h1>Как это работает?</h1>
                    <p>
                        Сервис «Гарант Пэй» снижает риск мошенничества, выступая в качестве доверенной третьей стороны. Сервис собирает и удерживает денежные средства до момента удовлетворения как покупателей, так и продавцов, и лишь затем выплачитвает их.
                    </p>
                    <h4>Помощь на каждом этапе сделки</h4>
                    <p>
                        Независимо от того, являетесь Вы покупателем или продавцом, обновления статуса сделки
                        в таймлайне позволят вам точно знать, на каком этапе находится сделка.
                        А поле с подсказками проинформирует о необходимых действиях.
                    </p>
                    <a href="{{ url('terms-of-use') }}" class="infoLink">Полные правила работы сервиса</a>
                </div>
                <div class="BoxFlex-Image how-it-works-image">
                    <img src="{{ basePath('img/landing/iphonewhite_new.svg') }}" alt="" class="how-it-works-image__phone">
                    <img src="{{ basePath('img/landing/how-it-works-screen.jpg') }}" alt="" class="how-it-works-image__screen">
                </div>
            </div>
        </div>


        <div class="BoxFlex">
            <div class="NumberRound">1</div>
            <div class="NumberRound-Attributes noBefore">
                <div class="NumberRound-IconHand">
                    <img src="{{basePath('img/landing/howItWorks/icon-hand-grey.svg') }}"  alt="">
                </div>
            </div>
            <div class="BoxFlex-Wrapper">
                <div class="BoxFlex-Content">
                    <h3>Создание сделки</h3>
                    <p>
                        Продавец или покупатель регистрируется на сайте сервиса «Гарант Пэй» и создает сделку. Другому участнику сделки будет отправлено приглашение присоединиться. 
                    </p>
                </div>
                <div class="BoxFlex-Image">
                    <img src="{{basePath('img/landing/howItWorks/screen-1.png') }}" alt=""  data-featherlight="{{basePath('img/landing/howItWorks/full-1.png') }}">
                </div>
            </div>
        </div>

        <div class="BoxFlex">
            <div class="NumberRound">2</div>
            <div class="NumberRound-Attributes">
                <div class="NumberRound-IconHand">
                    <img src="{{basePath('img/landing/howItWorks/icon-hand-grey.svg') }}" alt="">
                </div>
            </div>
            <div class="BoxFlex-Wrapper">
                <div class="BoxFlex-Content">
                    <h3>Согласование</h3>
                    <p>
                        После регистрации обе стороны соглашаются  с условиями сделки либо предлагают новые.
                    </p>
                </div>
                <div class="BoxFlex-Image">
                    <img src="{{basePath('img/landing/howItWorks/screen-2.png') }}" alt=""  data-featherlight="{{basePath('img/landing/howItWorks/full-2.png') }}">
                </div>
            </div>
        </div>

        <div class="BoxFlex">
            <div class="NumberRound">3</div>
            <div class="NumberRound-Attributes">
                <div class="NumberRound-IconHand">
                    <img src="{{basePath('img/landing/howItWorks/icon-hand-grey.svg') }}" alt="">
                </div>
            </div>
            <div class="BoxFlex-Wrapper">
                <div class="BoxFlex-Content">
                    <h3>Оплата</h3>
                    <p>
                        Покупатель переводит деньги на гарантийный счет сервиса. GuarantPay проверяет платеж и уведомляет продавца о том, что оплата за товар/услугу обеспечена.
                    </p>
                </div>
                <div class="BoxFlex-Image">
                    <img src="{{basePath('img/landing/howItWorks/screen-3.png') }}" alt=""  data-featherlight="{{basePath('img/landing/howItWorks/full-3.png') }}">
                </div>
            </div>
        </div>

        <div class="BoxFlex">
            <div class="NumberRound">4</div>
            <div class="NumberRound-Attributes">
                <div class="NumberRound-IconHand">
                    <img src="{{basePath('img/landing/howItWorks/icon-hand-grey.svg') }}" alt="">
                </div>
            </div>
            <div class="BoxFlex-Wrapper">
                <div class="BoxFlex-Content">
                    <h3>Доставка товара/Предоставление услуги</h3>
                    <p>
                        После подтверждения оплаты продавец отправляет товар покупателю и прикрепляет трек-номер отправления.
                    </p>
                </div>
                <div class="BoxFlex-Image">
                    <img src="{{basePath('img/landing/howItWorks/screen-4.png') }}" alt=""  data-featherlight="{{basePath('img/landing/howItWorks/full-4.png') }}">
                </div>
            </div>
        </div>

        <div class="BoxFlex">
            <div class="NumberRound">5</div>
            <div class="NumberRound-Attributes">
                <div class="NumberRound-IconHand">
                    <img src="{{basePath('img/landing/howItWorks/icon-hand-grey.svg') }}" alt="">
                </div>
            </div>
            <div class="BoxFlex-Wrapper">
                <div class="BoxFlex-Content">
                    <h3>Подтверждение</h3>
                    <p>
                        Покупатель принимает товар/услугу. До истечения гарантийного срока он должен подтвердить  выполнение сделки или открыть спор.
                    </p>
                </div>
                <div class="BoxFlex-Image">
                    <img src="{{basePath('img/landing/howItWorks/screen-5.png') }}" alt=""  data-featherlight="{{basePath('img/landing/howItWorks/full-5.png') }}">
                </div>
            </div>
        </div>

        <div class="BoxFlex">
            <div class="NumberRound">6</div>
            <div class="NumberRound-Attributes">
                <div class="NumberRound-IconHand">
                    <img src="{{basePath('img/landing/howItWorks/icon-hand-grey.svg') }}" alt="">
                </div>
            </div>
            <div class="BoxFlex-Wrapper">
                <div class="BoxFlex-Content">
                    <h3>Выплата денег</h3>
                    <p>
                        GuarantPay переводит деньги с гарантийного счета на счет продавца.
                    </p>
                </div>
                <div class="BoxFlex-Image">
                    <img src="{{basePath('img/landing/howItWorks/screen-6.png') }}" alt=""  data-featherlight="{{basePath('img/landing/howItWorks/full-6.png') }}">
                </div>
            </div>
        </div>

    </section>
    <!--noindex-->
    <div id="phpunit-test-how-it-works" style="display: none;">phpunit-test-how-it-works</div>
    <!--/noindex-->
{% endblock content %}