{% extends 'twig/layout/rules' %}
{% block content %}
    <div class="Container">
    <section class="instruction" id="section-terms-of-use">
        <h1>
            Регламент пользования
        </h1>
        <h2>Термины и определения</h2>
        <p>
            <strong>Организация</strong> – ООО «Гарант Пей», ОГРН 1177847065098, ИНН 7813271867, которой принадлежат права на Сервис Гарант Пей.
        </p>
        <p><strong>Законодательство, регулирующее деятельность Сервиса</strong> – материальное и процессуальное законодательство Российской Федерации, применяемое в том случае, если Пользователи не выберут для себя иное.</p>
        <p>В настоящее время возможность выбора применимого к сделке права разрабатывается Сервисом. Информация о возможности и порядке применения иного применимого права кроме российского будет размещена на сайте после разработки соответствующих технических инструментов.</p>
        <p><strong>Сервис Гарант Пей (Сервис/Система)</strong> – сайт в информационно-телекоммуникационной сети Интернет, расположенный по адресу
            <a href="{{ url('home') }}">www.guarantpay.com</a> и являющийся совокупностью оригинальных программ для электронных вычислительных машин и информации, которая содержится в информационной системе. Доступ к данной информации обеспечивается при помощи сети Интернет с использованием разнообразных устройств по сетевым адресам и/или доменным именам, которые позволяют идентифицировать сайты.</p>
        <p><strong>Администрация</strong> – сотрудники Организации, являющиеся представителями Сервиса и осуществляющие следующие функции:</p>
        <p>- техническая поддержка Сервиса, консультационная поддержка Пользователей,</p>
        <p>- помощь в разрешении споров Пользователей при наличии их подтвержденного согласия на то, что сотрудники Администрации выбраны ими в качестве лиц, которым предоставлено право разрешить спор Пользователей, возникший при проведении сделки.</p>
        <p><strong>Рефери</strong> – сотрудники Администрации, в отношении которых Пользователи подтвердили свое согласие на то, чтобы данные сотрудники приняли участие в разрешении споров Пользователей.</p>
        <p><strong>Согласительная комиссия</strong> – комиссия Администрации, созданная для разрешения возникшей спорной ситуации из уполномоченных сторонами спора Рефери и действующая на основании «Регламента разрешения спорных ситуаций».</p>
        <p><strong>Личный кабинет</strong> – персональная страница Пользователя в рамках Сервиса. Пользователю в пространстве зарегистрированного Личного кабинета доступно создание Сделок, получение сведений по созданным Сделкам, осуществление действий над Сделками.
            Пользователь несет ответственность за достоверность информации, указываемой им в своем Личном кабинете.
        </p>
        <p>Пользователь несет ответственность за достоверность информации указываемой им в своем личном кабинете.</p>
        <p>Администрация не несет ответственность за ущерб Пользователям, причиненный указанием ими недостоверных данных в Личных кабинетах.</p>
        <p><strong>Учетная запись</strong> – уникальный идентификатор (e-mail, телефон) и пароль для доступа к Личному кабинету.</p>
        <p><strong>Пользователь</strong> – юридическое лицо или физическое лицо, в том числе зарегистрированное в качестве индивидуального предпринимателя, которое зарегистрировалось в Сервисе.</p>
        <p><strong>Комиссия сервиса</strong> – комиссионное вознаграждение Сервиса за предоставление Услуги "Гарантированная Сделка".</p>
        <p>Взимается комиссия от зафиксированной стоимости закрытых сделок с каждой Стороны.</p>
        <p>Одна из Сторон по договоренности может брать оплату комиссии целиком на себя.</p>
        <p>Размер комиссии опубликован на сайте <a href="{{ url('home') }}">www.guarantpay.com</a>. Размер комиссий по защищенным сделкам, создающимся и исполняемым Организацией совместно с партнерами, может отличаться от размещенных на сайте <a href="{{ url('home') }}">www.guarantpay.com</a>. Для таких Сделок информация о комиссии публикуется на сайте партнера либо при создании Сделки.</p>

        <p><strong>Услуга «Гарантированная сделка»</strong> – совокупность консультационных, автоматизированных технических инструментов для проведения конкретной Сделки через Сервис.</p>
        <p><strong>Сделка</strong> – предложение(оферта) о продаже/покупке товара/услуги, размещенная Пользователем в сети Интернет через Личный кабинет, предоставленный Сервисом.</p>
        <p>В ней содержится подробное описание условий соглашения между Покупателем и Продавцом, с учетом требований ГК РФ.</p>
        <p>Администрация Сервиса может предлагать шаблоны для заполнения, помогающие сторонам сделки согласовать все существенные условия сделки.</p>
        <p>Пользователь при создании сделки обязательно должен указывать собственную позицию (роль), заполнять обязательные и дополнительные поля, а также своевременно перечислять дополнительные условия, способные возникнуть в ходе Полного цикла Сделки.</p>
        <p><strong>Предмет сделки</strong> – услуга либо товар, которую Покупатель получает от Продавца.</p>
        <p><strong>Статус сделки</strong> – этап, на котором находится Сделка.</p>
        <p>В Системе определены следующие статусы:
        <p> - «Ожидает согласования»,</p>
        <p> - «Согласована/Ждет оплаты»,</p>
        <p> - «Оплачена/Доставка»,</p>
        <p> - «Получено/Выполнено»,</p>
        <p> - «Открыт спор/назначены Рефери/Создана согласительная комиссия/подписано арбитражное соглашение»,</p>
        <p> - «Открыт спор в суде»,</p>
        <p> - «Закрыт спор»,</p>
        <p> - «Закрыта».</p>
        <p>Изменение статуса осуществляется либо при совершении Пользователем определенного действия, либо по согласованию Пользователя и оператора Сервиса, либо при завершении периода Гарантированной Сделки, либо по решению Рефери назначенных пользователями.</p>
        <p><strong>Полный цикл Сделки</strong> – последовательное прохождение конкретной Сделкой всех статусов/этапов, начиная от «Ожидает согласования» и заканчивая статусом «Закрыта».</p>
        <p><strong>Роль Пользователя</strong> – в Системе предусмотрено наличие двух ролей – «Покупатель/Заказчик» и «Продавец/Исполнитель». Для удобства в Сервисе используются термины Покупатель и Продавец.</p>
        <p><strong>Продавец</strong> – Пользователь, которым создана либо подтверждена Сделка в роли «Продавец» для продажи товара или услуги Покупателя с использованием Сервиса.</p>
        <p><strong>Покупатель</strong> – Пользователь, которым создана либо подтверждена Сделка в роли «Покупатель» для покупки (приобретения) в рамках Сервиса услуги или товара у Продавца.</p>
        <p><strong>Действие Пользователя</strong> – действие, необходимое для совершения в целях изменения статуса Сделки. Перечень возможных действий Пользователя зависит от статуса Сделки и роли Пользователя.</p>
        <p><strong>Период гарантии Сделки</strong> – равен сроку доставки, проверки товара/услуги, который указывается в сделке. Начинается он с момента присвоения статуса «Оплачена». Если после завершения периода гарантии Сделки Покупателем не осуществлены действия «Получено/Выполнено» либо «Открыть спор», заключенная сделка считается завершенной, а денежные средства отправляются Продавцу.</p>
        <p><strong>Спор</strong> – аргументированный отказ Покупателя совершать действие «Получено/Выполнено». Когда Покупатель не удовлетворен качеством полученного товара либо оказанной услуги, им может быть совершено действие «Открыть спор».</p>
        <p><strong>Рассмотрение спора</strong> – рассмотрение спора происходит в соответствие с регламентом «Рассмотрение спора», размещенном на сайте Гарант Пей. Открывая спор, Пользователь принимает регламент рассмотрения спора, опубликованный на сайте Сервиса в редакции, существующей на момент открытия им сделки, если к иному соглашению не придут все стороны сделки.</p>
        <p>Вместо открытия спора по регламенту «Разрешение спора» стороны вправе подписать соглашение об определении подсудности спора по договоренности в соответствии с установленным законодательством РФ порядком.</p>
        <p><strong>Служба доставки</strong> – экспедитор, которым осуществляется деятельность по оказанию высококачественных экспедиторских услуг Продавцу/Покупателю.</p>

        <h2><strong>Порядок функционирования Сервиса</strong></h2>
        <p>1. Для получения доступа к Системе, Пользователь должен пройти процедуру регистрации, создать Учетную запись в Системе. При нажатии на кнопку «Зарегистрироваться» Пользователем безоговорочно принимается действующий Регламент пользования Сервисом, включая все сопутствующие ему регламенты.</p>
        <p>1.1. Пользователь проходит авторизацию под собственной Учетной записью в Личном кабинете и указывает при создании Сделки:</p>
        <p> - (i) Идентификатор (e-mail) другой стороны;</p>
        <p> - Наименование Сделки;</p>
        <p> - Описание Сделки;</p>
        <p> - Стоимость Сделки;</p>
        <p> - Описание доставки;</p>
        <p> - Сроки доставки и проверки;</p>
        <p> - Возможные варианты оплаты комиссии;</p>
        <p> - Телефон для быстрой связи.</p>
        <p>При необходимости Пользователем к описанию Сделки могут крепиться сопутствующие файлы (фотографии товара, документация по сделке, спецификации и прочее).
        </p>
        <p>После этого созданная Сделка получает статус «Ожидает согласования».</p>
        <p>2. Когда при создании Сделки Пользователем выбрана роль «Продавец», обязательным является заполнение реквизитов для последующего получения Оплаты. Участвующая в качестве Продавца Сторона Сделки подтверждает, что примет исполнение обязательств по Сделке Организацией от лица Покупателя в соответствии с действующими положениями ст. 313 ГК РФ.</p>
        <p>3. Пользователь, который при создании Сделки указан как другая сторона (Покупатель либо Продавец), должен согласовать/подтвердить Сделку.</p>
        <p>Для этого ему необходимо пройти процедуру авторизации в Личном кабинете под собственной Учетной записью с уникальным идентификатором, который указывается в параметрах сделки. Когда в Системе отсутствует Пользователь с такой Учетной записью, другой стороне требуется зарегистрироваться в Сервисе, при этом указав собственным идентификатором e-mail, обозначенный в пункте 1.1 настоящего Регламента.</p>
        <p>Когда Пользователь не согласен с каким-то из указанных условий сделки, ему доступно изменение данного условия, после чего потребуется подождать согласования от второй стороны.</p>
        <p>При подтверждении Сделки всеми Пользователями принимается Регламент пользования Сервисом, а также выражается согласие со всеми имеющимися условиями Сделки.</p>
        <p>4. После подтверждения Сделки обеими сторонами(всеми Пользователями),  ее статус изменяется на «Согласована/Ожидает оплаты».</p>
        <p>5. Покупатель может оплатить согласованную Сделку, выбрав среди предложенных вариантов оплаты наиболее приемлемый. </p>
        <p>Утвержденная в Сделке сумма оплаты автоматически увеличивается на сумму комиссии Сервиса. Осуществляющий в качестве Покупателя Сделку пользователь доверяет исполнение собственных обязательств по приобретению конкретного Заказа Сервису согласно ст. 313 ГК РФ.</p>
        <p>Для этого он осуществляет перечисление на расчетный счет Организации денежных средств в необходимом объеме для исполнения обязательств Пользователя по Сделки.</p>
        <p>После проведения оплаты и получения на счет Организации денежных средств Сделка получает статус «Оплачена/Ожидает отправки».</p>
        <p>6. В зависимости от способа оплаты, который выбран Покупателем, за проведение оплаты Сервис может взимать дополнительную комиссию. Размер такой дополнительной комиссии размещен на сайте <a href="{{ url('home') }}">www.guarantpay.com</a>. В случаях оплаты Сделки банковским переводом на расчетный счет Организации дополнительная комиссия не взимается.</p>
        <p><strong>Примечание 1.</strong> Настоящим Пользователи подтверждают осведомленность, что банки (кредитные организации) за прием платежей по услугам Сервиса могут устанавливать собственные комиссии.</p>
        <p><strong>Примечание 2.</strong> Настоящим Пользователи подтверждают осведомленность, что Комиссия по «Гарантированным сделкам», которые создает и исполняет Организация совместно с партнерами, может отличаться  от размещенных на сайте <a href="{{ url('home') }}">www.guarantpay.com</a>. Для таких Сделок информация о комиссии указывается на сайте партнера либо при создании Сделки, фиксируется в Личном кабинете Покупателя.</p>
        <p>Пользователи не могут ссылаться на неосведомленность, недостоверность и/или неполноту предоставления информации, которая указана в Примечании 1 и 2 к данному пункту.</p>
        <p>7. Продавцу необходимо подтвердить выполнение услуги, либо отправку товара Покупателю. Для этого в карточке сделки заполняется маршрут доставки и указывается наименование транспортной компании,  либо иной службы, которой осуществляется доставка, а также код для возможности отслеживания статуса.
        </p>
        <p>8. Если услуга либо товар по оплаченной сделке не выполнены в утвержденные сроки доставки и проверки, то у Покупателя имеется право направить запрос на отмену данной оплаченной сделки (возврат денежных средств).</p>
        <p>9. Администрация после получения от Покупателя запроса на отмену сделки связывается с Продавцом (направляет электронное письмо либо связывается с ним иным доступным способом), посылая запрос Покупателя на отмену сделки.</p>
        <p>10. Продавец после получения им запроса на отмену сделки должен подтвердить данную отмену либо заполнить в карточке сделки трекинг доставки, предварительно уведомив об этом Покупателя.</p>
        <p>11. Когда Продавец подтверждает отмену сделки либо в течение утвержденного срока проверки, доставки не заполняет в карточке сделки трекинг доставки, то Организацией осуществляется возврат Покупателю денежных средств по данной сделке с удержанием сервисной комиссии. После этого сделка получает статус «Закрыта», а обязательства перед Сторонами считаются выполненными.</p>
        <p>12. Период Гарантии Сделки включается с момента появления статуса «Оплачена».</p>
        <p>Стороны настоящим установили, что учитывая факт, что Организацией оказывающей услуги Сервиса берутся на себя обязательства, которые предусмотрены в ст. 313 ГК РФ, они обладают правом расторгнуть Сделку с момента появления статуса «Оплачена» только с обоюдного согласия.</p>
        <p>Данное намерение должно выражаться Сторонами путем отправки Администрации сервиса на электронный адрес <a href="mailto:mail@guarantpay.com">mail@guarantpay.com</a> писем-заявлений от каждой из Сторон. В них Покупатель и Продавец должны выразить однозначно и без всяких оговорок свое намерение расторгнуть ранее заключенную сделку.</p>
        <p>Надлежащим уведомлением будет считаться направление письма по электронной почте с адреса Стороны, по которому Стороной сделки осуществлена регистрация на сайте Сервиса.</p>
        <p>Администрация сервиса после данных действий Сторон в течение 5 (пяти) рабочих дней должна принять решение о расторжении Сделки и Организация должна возвратить денежные средства Покупателю.</p>

        <p>13. В период Гарантии Сделки Покупателю необходимо подтвердить получение/выполнение заказа либо открыть Спор.</p>
        <p>14. Если в течение периода Гарантии Сделки не получен товар/не предоставлена услуга, у Покупателя имеется право совершить действие «Открыть спор».</p>
        <p>Если Покупателем получен товар или услуга, но данное событие не подтверждено в Сервисе в течение 3-х (трех) рабочих дней, то Продавец получает право обратиться к Администрации сервиса (при помощи отправки письма на e-mail <a href="mailto:mail@guarantpay.com">mail@guarantpay.com</a>) с запросом перевода денежных средств за Сделку, при этом Продавец обязан приложить доказательства отправки и получения товара Покупателем или его уполномоченным представителем.</p>
        <p>Администрация Сервиса связывается с Покупателем по указанному при регистрации сделке e-mail адресу либо иным доступным способом. Если Покупатель в течение 3-х (трех) рабочих дней на данный запрос не отвечает, то Сделка считается закрытой успешно, а средства по ней направляются Продавцу.</p>

        <p>15. После совершения Покупателем действия «Получено/Выполнено», в период 3-х (трех) рабочих дней Организация переводит денежные средства по Сделке Продавцу, исключая Комиссию Сервиса. Дальше Сделка закрывается, ее статус меняется на «Закрыта».</p>
        <p>Сервис отправляет Продавцу денежные средства банковским переводом на лицевой (банковский) счет Продавца либо иным способом, указанным им в Системе при подтверждении Сделки. </p>
        <p>Сервис в зависимости от способа выплаты по Сделке денежных средств, выбранного Продавцом, может взимать за проведение выплаты дополнительную комиссию.</p>
        <p>Размер дополнительной комиссии по таким выплатам опубликован на сайте <a href="{{ url('home') }}">www.guarantpay.com</a>.</p>
        <p>Дополнительная комиссия при осуществлении выплат с помощью перевода на лицевой (банковский) счет Продавца не взимается.</p>
        <p><strong>Примечание.</strong> Настоящим Пользователи подтверждают осведомленность, что банками (кредитными организациями) при зачислении на счет Продавца денежных средств от Сервиса могут устанавливаться собственные комиссии.</p>
        <p>16. Когда Продавцом указаны некорректные банковские реквизиты либо в иных ситуациях, когда у Организации нет возможности в течение 3-х (трех) рабочих дней провести выплату Продавцу, то Администрацией сервиса направляется на e-mail Продавца соответствующее уведомление.</p>
        <p>В данном случае Организацией осуществляется перечисление денежных средств по исполненной Сделке в течение 3-х рабочих дней после получения по электронной почте корректных банковских реквизитов, иной требуемой для осуществления выплаты информации либо внесения данных реквизитов в Личном кабинете Продавца.</p>
        <p>Администрация сервиса не несет ответственность за действия банковских организаций в случае блокировки ими банковского счета Продавца или выдаче Организации предписания в установленном порядке заблокировать/арестовать средства предназначающиеся Продавцу.</p>

        <p>17. Когда Покупатель не удовлетворен качеством товара или оказанной услуги, ему доступно действие «Открыть спор» с указанием причины и добавлением материалов, служащих основанием для открытия данного спора (включая фотографии товара, документы, прочие материалы, которые указывают на расхождения между указанным в Системе описании при создании Сделки и фактически полученным заказом).</p>
        <p>18. Разрешение споров связи с исполнением сделки происходит в соответствие с регламентом «Разрешение споров». Пользователь принимая условия настоящего Регламента пользования, безусловно соглашается с регламентом «Разрешение споров».</p>
        <p>Каждый пользователь перед открытием каждой сделки обязан ознакомится с регламентом «Разрешение споров» и применять его к открытой им сделке.</p>
        <p>Если у Пользователя открыто несколько сделок в Сервисе  и между сделками произошло изменение «Регламента споров», то Пользователь, его сторона по сделке и Администрация сервиса, будут применять к сделке регламент в той редакции в которой он был опубликован на сайте Сервиса на момент открытия конкретной сделки.</p>
        <p>По соглашению сторон сделки они могут применять к решению спора редакцию регламента «Разрешение споров» в той редакции, которая действует на момент открытия спора.</p>
        <p>19. Пользователи при изменении статусов заключенной Сделки получают соответствующие уведомления на e-mail, которые указаны в Учетной записи.</p>
        <p>20. Пользователи в описании Сделки обязуются указывать актуальные данные по заказу, включая известные Пользователям ключевые характеристики заказа, цвет/внешний вид, потребительские и технические свойства, прочие уточняющие детали, приложить фотографии. </p>
        <p>При наличии у товара дефектов/неисправностей Продавец обязуется их описать, приложить соответствующие фотографии данных дефектов/неисправностей.</p>
        <p>Когда в Сделке Продавцом оказывается Покупателю какая-либо услуга, то Пользователи Сделки обязаны добавить подробное описание данной оказываемой услуги, а также конечный результат, которого необходимо достичь.</p>
        <p>Помимо того, обязательно указываются сроки оказания услуги, сроки проверки качества выполненных работ (срок доставки и проверки). Участниками Сделки в полной мере осознаются риски возможной ответственности, если описание сделки составлено некорректно либо неточно.</p>

        <h2>Условия об интеллектуальных правах</h2>
        <p>1. Организация является обладателем исключительного права на Сервис. Использовать Сервис способами, не предусмотренными условиями данного Регламента, либо без наличия соответствующего соглашения между Администрацией и Пользователем никто не вправе.</p>
        <p>2. Размещенные на Сервисе объекты являются объектами исключительных прав Администрации.</p>
        <p>3. Помимо установленных настоящим Регламентом и действующим законодательством Российской Федерации случаев, никакой контент не может использоваться без наличия разрешения правообладателя, исключая случаи, когда правообладатель выразил явным способом собственное согласие на такое использование.</p>
        <p>4. Пользователем, который осуществляет в Личном кабинете размещение контента, принадлежащего ему на законных основаниях, предоставляется другим Пользователям Системы неисключительное право его использования (просмотр, копирование, иные действия).</p>
        <p>5. Пользователем предоставляется Администрации неисключительное право использовать его контент на безвозмездной основе для обеспечения эффективного функционирования Сервиса.</p>
        <p>Данное право предоставляется Пользователем Администрации на срок размещения этого контента на Сервисе, включая в себя переработку, демонстрацию на территории стран всего мира.</p>
        <p>6. Пользователь обязуется не применять чужой контент, не имея письменного согласия его правообладателя на использование.</p>
        <p>7. Пользователь несет личную ответственность за размещаемый в Личном кабинете контент.</p>
        <p>У Пользователя нет права использовать контент при отсутствии у него соответствующего права на использование, которое передано в соответствии с комплексом требований действующего законодательства Российской Федерации.</p>
        <p>8. Пользователь предоставляет исключительное право Администрации Сервиса использовать сведения (включая фотографии) любым способом на различных информационных носителях, передавать это право третьим лицам, основываясь на отдельных соответствующих соглашениях.</p>
        <p>Пользователь дает разрешение на использование материалов в составе сведений, не указывая имени автора, и гарантирует, что предоставленная им информация не нарушает каких-либо прав третьих лиц, включая права на результаты интеллектуальной деятельности.</p>
        <p>9. Администрация Сервиса оставляет за особой право осуществлять мониторинг Сервиса на предмет наличия любого запрещенного контента. Если будет обнаружен контент, нарушающий, по мнению Администрации, действующее законодательство Российской Федерация или нормы общепринятой морали, условия данного Регламента, либо права третьих лиц, он будет удален без обязательного предварительного уведомления Пользователя.</p>
        <h2>Персональная информация Пользователей</h2>
        <p>1. Пользователи, принимая настоящий Регламент, предоставляют собственное согласие на сбор, хранение, обработку, использование введенной ими персональной информации (ФИО, e-mail, телефон и прочее).</p>
        <p>2. Обработка Организацией персональной информации происходит в соответствии с действующим законодательством Российской Федерации и настоящим Регламентом. Организацией обрабатывается персональная информация Пользователей для предоставления им доступа к Сервису, его функционалу, а также для проверки, исследования, анализа таких данных, которые позволяют поддерживать, улучшать имеющийся функционал Системы, разрабатывать новый функционал.</p>
        <p>3. Организацией принимается комплекс необходимых мер для организации защиты персональной информации Пользователей от любого неправомерного доступа, раскрытия, изменения либо уничтожения.</p>
        <p>4. Доступ к персональной информации Пользователей Организация предоставляет лишь тем работникам, агентам и подрядчикам, которым данные сведения требуются для обеспечения функционирования Сервиса, предоставления Пользователям прямого доступа к его использованию.</p>
        <p>У Организации имеется право использовать предоставленные Пользователем сведения, включая персональную информацию, для обеспечения соблюдения комплекса требований действующего законодательства Российской Федерации (а также в целях предупреждения и/или пресечения противоправных либо незаконных действий Пользователей).</p>
        <p>Раскрытие информации, предоставленной Пользователем, может осуществляться только в соответствии с действующим законодательством Российской Федерации по требованию правоохранительных органов, суда, в иных законодательно предусмотренных случаях.</p>
        <p>5. Пользователями дается собственное согласие, что для предусмотренных настоящим Регламентом целей Организация может собирать, использовать различные дополнительные сведения, связанные с Пользователями и получаемые при доступе Пользователя к Сервису либо от третьих лиц.</p>
        <p>Они могут включать данные о технических устройствах (средствах), способах технологического взаимодействия с Системой (включая IP-адрес хоста, тип операционной системы, браузера, географическое положение Пользователя, данные о провайдере, прочее), об активности на Сервисе Пользователей, иные получаемые указанными способами данные.</p>
        <p>У Организации имеется право распоряжения статистической информацией, которая связана с функционированием Сервиса, и информацией Пользователей в целях организации функционирования, технической поддержки Системы, исполнения условий данного Регламента.</p>
        <h2>Использование Сервиса и ответственность за его использование</h2>
        <p>1. Пользователи и Посетители осуществляют использование Системы по собственному желанию, осознавая цели и последствия. Сам Сервис, функционал, оформление в должном виде предоставляются в соответствии с действующим законодательством, а также принятыми общими нормами делового оборота.</p>
        <p>2. За собственные действия, которые связаны с созданием Личного кабинета, внесением в него информации, Пользователи несут ответственность персонально.</p>
        <p>3. Администрация предоставляет техническую возможность для использования Сервиса, не неся ответственности за размещаемую Пользователем в собственном Личном кабинете информацию.</p>
        <p>4. Администрация может в любой момент изменить внешнее оформление Системы, ее функциональные возможности без предварительного уведомления.</p>
        <p>5. Администрация не несет ответственность за неисполнение, ненадлежащее исполнение Пользователем положений настоящего Регламента.</p>
        <p>6. Администрация может изменять в одностороннем порядке настоящий Регламент, уведомляя об изменениях Пользователей за 3 (три) дня до даты вступления в силу обновленной редакции настоящего Регламента.</p>
        <p>Размещение отредактированной версии документа на сайте <a href="{{ url('home') }}">www.guarantpay.com</a>, уведомление в Личном кабинете либо отправка соответствующего сообщения на указанную при регистрации электронную почту Пользователя считается должным уведомлением.</p>
        <p>7. Администрацией принимаются все возможные меры для эффективного функционирования Системы, оперативного обеспечения ее работоспособности при возникновении каких-либо перерывов и сбоев.</p>
        <p>8. Администрация за собой оставляет право отказать Пользователям в создании и/или обработке Сделки в одностороннем порядке при подозрении на нарушения законодательных норм Российской Федерации или норм действующей морали, условий настоящего Регламента, прав третьих лиц и прочее. В данном случае Администрация информирует о принятом решении Стороны посредством отправки соответствующих сообщений в личные Кабинеты Пользователей, созданная Сделка отменяется или замораживается, а денежные средства либо замораживаются, либо возвращаются Покупателю.</p>
        <p>С целью разрешения ситуации Администрация может запрашивать у Пользователей информацию и документы для подтверждения законности  сделки, а Пользователи обязуются предоставлять такие документы.</p>
        <h2>Заключительные положения</h2>
        <p>1. Регулирование настоящего Регламента осуществляется в соответствии с действующим законодательством Российской Федерации. Не урегулированные Регламентом вопросы подлежат решению в соответствии с законодательством.</p>
        <p>2. В случае возникновения каких-либо разногласий и споров между Пользователями и Администрацией, такие споры, разногласия подлежат урегулированию посредством переговоров сторон.</p>
        <p>Если возникшие разногласия либо споры не могут быть урегулированы переговорами, то они подлежат разрешению согласно положениям действующего законодательства Российской Федерации.</p>
        <p>3. Настоящий Регламент вступает в силу с момента его опубликования на сайте Сервиса и действуют до внесения в него изменений Организацией.</p>
        <p>У Организации есть право изменения в одностороннем порядке настоящего Регламента.</p>
        <p>4. Составлен текст Регламента на русском языке, в некоторых случаях он может предоставляться Посетителям для ознакомления на других языках. В случае расхождения русскоязычной версии Регламента с версией на ином языке используются положения русскоязычной версии.</p>
        <p>5. На переданные Покупателем Сервису в целях осуществления Сделки денежные средства не начисляются, не подлежат уплате проценты за пользование чужими денежными средствами, которые предусмотрены ст. 317.1 и 395 Гражданского кодекса Российской Федерации. Эти денежные средства не становятся неосновательным обогащением Сервиса.</p>
        <p>6. Настоящим Стороны подтверждают собственное согласие на получение от Системы информационных, рекламных сообщений на указанные при регистрации адрес электронной почты, телефонный номер.</p>
        <p>7. Пользователь подтверждает, что телефонный номер, указанный при регистрации, принадлежит ему, посредством введения на сайте <a href="{{ url('home') }}">www.guarantpay.com</a> кода, который высылается на личный абонентский номер в форме sms-сообщения.</p>
    </section>
    </div>
    <!--noindex-->
    <div id="phpunit-test-terms-of-use" style="display: none;">phpunit-test-terms-of-use</div>
    <!--/noindex-->
{% endblock content %}