{% extends 'twig/layout/rules' %}
{% block content %}
    <div class="Container">
    <section class="WhatCanBuy" id="section-what-can-buy">

        <div class="WhatCanBuy-Center">
            <h1>Что можно покупать?</h1>
            <p>С помощью Сервиса «Гарант Пэй» можно покупать товар либо реализовывать услуги на неограниченную сумму.
                Товар или услуга не должны быть запрещены на территории РФ и не должны не являться оскорбительными для третьих лиц.   </p>
        </div>

        <div class="WhatCanBuy-Box">
            <div class="WhatCanBuy-Item">
                <img src="{{ basePath('img/landing/whatCanBuy/infographics.svg') }}" alt="">
            </div>
            <div class="WhatCanBuy-Item">
                <h3>Примеры сделок, проведенных через сервис «Гарант Пэй»:</h3>
                <ul>
                    <li>Услуги фрилансеров;</li>
                    <li>Товар из интернет-магазина, если Вы в нем не уверены или Вам нужны гарантированные сроки поставки;</li>
                    <li>Технически сложный товар, который требует проверки и настройки специалистами;</li>
                    <li>Нематериальные (виртуальные) товары;</li>
                    <li>Дорогостоящий товар, который требует переоформления или проверки его юридической чистоты (недвижимое и движимое имущество, мото- и автотехника, антиквариат и т.д.);</li>
                    <li>Б/у или новый товар с рук;</li>
                    <li>Строительно-монтажные работы;</li>
                    <li>Товар, сложный в приемке (товар, который необходимо измерять, взвешивать и т.д.).</li>
                </ul>
            </div>
        </div>

    </section>
    </div>
    <!--noindex-->
    <div id="phpunit-test-what-can-buy" style="display: none;">phpunit-test-what-can-buy</div>
    <!--/noindex-->
{% endblock content %}