<a href="{{ href | trim }}" target="_blank" class="font-lato" style="display:inline-block;color: #FFFFFF;line-height: 20px;font-size: 12px;
            text-align: center;font-family: 'Lato', 'Arial', sans-serif;border: 1px solid #1682D3;border-radius: 2px;box-sizing: border-box;
            padding: 4px 0;text-decoration: none;width: 260px;background: #269BF4 url({{ main_project_url |trim('/', 'right') }}{{ basePath('img/email_button-gradient.png') }}) 0 0 repeat-x;">{{ text }}</a>