{% import 'macro/translate.twig' as translate %}

{% set counter_deal_agent_role = deal['deal_role'] == 'customer' ? 'CUSTOMER' : 'CONTRACTOR' %}
<h2 class="font-lato" style="font-family: 'Lato', 'Arial', sans-serif;font-size: 18px;line-height: 20px;color: #516173;margin-top: 42px;margin-bottom: 12px;">Гарантия покупателя</h2>
<p class="font-ptserif" style="font-family: 'PT Sans', serif;color: #516173;line-height: 20px;font-size: 14px;letter-spacing: 0.4px;margin-top: 8px;margin-bottom: 11px;">
    Если время исполнения заказа подходит к концу, а вы не получили {% if deal['type_ident'] == 'T' %}товар{% else %}услугу{% endif %} или {% if deal['type_ident'] == 'T' %}полученный товар{% else %}полученная услуга{% endif %} не соответствует условиям договора, вы можете <span class="font-lato" style="font-family: 'Lato', 'Arial', sans-serif;font-weight: bold;color: #516173">открыть спор.</span>
</p>

<p class="font-ptserif" style="font-family: 'PT Sans', serif;color: #516173;line-height: 20px;font-size: 14px;letter-spacing: 0.4px;margin-top: 8px;margin-bottom: 11px;">
    Обратите внимание, по истечению гарантийного периода, сделка будет <span class="font-lato" style="font-family: 'Lato', 'Arial', sans-serif;font-weight: bold;color: #516173">закрыта автоматически</span> и деньги переведены {{ translate.userRoleDative(deal['type_ident'], counter_deal_agent_role)|lower }}.
</p>