<p class="font-ptserif" style="font-family: 'PT Sans', serif;color: #516173;line-height: 20px;font-size: 14px;letter-spacing: 0.4px;margin-top: 0;margin-bottom: 6px;">
    Информация по сделке:
</p>
<div style="border-left: 2px solid #C5D0DE;width: 260px;background-color: #f8fcfd;">
    <table cellpadding="0" cellspacing="0" style="width: 100%;color: #516173;font-size: 12px;line-height: 20px;">
        <tr>
            <td width="55%" class="font-lato" style="font-family: 'Lato', 'Arial', sans-serif;padding-top: 4px;padding-left: 10px">Название товара:</td>
            <td width="45%" class="font-lato" style="font-family: 'Lato', 'Arial', sans-serif;padding-top: 4px;padding-left: 5px">{{ productName }}</td>
        </tr>
        <tr>
            <td width="55%" class="font-lato" style="font-family: 'Lato', 'Arial', sans-serif;padding-left: 10px">Цена:</td>
            <td width="45%" class="font-lato" style="font-family: 'Lato', 'Arial', sans-serif;padding-left: 5px">{{ productPrice }}</td>
        </tr>
        <tr>
            <td width="55%" class="font-lato" style="font-family: 'Lato', 'Arial', sans-serif;padding-left: 10px">Кто платит комиссию:</td>
            <td width="45%" class="font-lato" style="font-family: 'Lato', 'Arial', sans-serif;padding-left: 5px">{{ feeType }}</td>
        </tr>
        <tr>
            <td width="55%" class="font-lato" style="font-family: 'Lato', 'Arial', sans-serif;padding-left: 10px">Комиссия:</td>
            <td width="45%" class="font-lato" style="font-family: 'Lato', 'Arial', sans-serif;padding-left: 5px">{{ fee }}</td>
        </tr>
        <tr>
            <td width="55%" class="font-lato" style="font-family: 'Lato', 'Arial', sans-serif;font-weight: bold;padding: 11px 0 13px 10px;">Итого вы {{ isContractor ? 'получите' : 'заплатите' }}:</td>
            <td width="45%" class="font-lato" style="font-family: 'Lato', 'Arial', sans-serif;font-weight: bold;padding: 11px 0 13px 5px">{{ total }}</td>
        </tr>
    </table>
</div>