<p class="font-ptserif" style="font-family: 'PT Sans', serif;color: #516173;line-height: 20px;font-size: 14px;letter-spacing: 0.4px;margin-top: 31px;margin-bottom: 10px;">
    Решение по спору необходимо принять до <span class="font-lato" style="font-family: 'Lato', 'Arial', sans-serif;font-weight: bold;color: #516173">{{ deadLineDate }},</span> согласно <a href="#" style="font-family: 'PT Sans', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">Регламента разрешения спора</a>.
</p>
<p class="font-ptserif" style="font-family: 'PT Sans', serif;color: #516173;line-height: 20px;font-size: 14px;letter-spacing: 0.4px;margin-top: 8px;margin-bottom: 11px;">
    При любых изменениях в процессе спора Вы получите уведомление на почту.
</p>