{% import 'macro/translate.twig' as translate %}

{% set counter_deal_agent_role = deal['deal_role'] == 'customer' ? 'CUSTOMER' : 'CONTRACTOR' %}
{% block guarantee %}
    <hr style="margin-bottom: 25px;color: rgb(53, 65, 78);" class="margin-mobile text-align-mobile">
    <h3 style="margin-bottom: 20px; margin-top: 0; font-size: 16px; line-height: 24px; text-align: center;" class="text-align-mobile margin-mobile">Гарантия покупателя</h3>
    <p style="margin-top: 0; margin-bottom: 20px;">Если время исполнения заказа подходит к концу, а {{ translate.userRole(deal['type_ident'], counter_deal_agent_role) }} не выполнил обязательств по сделке, вы можете <a target="_blank" href="{{ main_project_url |trim('/', 'right') }}{{ routes.dealSingle(deal['id']) |trim }}" class="link-underline" style="color: #1f9bff; text-decoration: underline">создать претензию</a>.</p>
    <p style="margin-top: 0; margin-bottom: 20px;"><strong>Обратите внимание</strong>, что по истечению времени исполнения заказа, сделка будет закрыта автоматически и деньги будут переведены {{ translate.userRoleDative(deal['type_ident'], counter_deal_agent_role)|lower }}.</p>
{% endblock %}