{% extends 'twig/layout/application' %}

{#
1. Массив (показаны значения из тестового объекта):
    paymentMethods[
       '0 => [
              'id' => int 1
              'name' => string 'bank_transfer' (length=13)
              'output_name' => string 'Банковский перевод' (length=35)
              'description' => string 'Банковский перевод' (length=35)
              'is_active' => boolean true
              'bank_transfer' [
                  'id' => int 4
                  'name' => string 'Банковский перевод для izubarev' (length=51)
                  'bik' => string '123456789' (length=9)
                  'account_number' => string '123456789012345' (length=15)
                  'payment_recipient_name' => string 'Зубарев Игорь Анатольевич' (length=48)
                  'inn' => string '4217030520' (length=10)
                  'kpp' => string '123456789' (length=9)
                  'corr_account_number' => string '123456789012345' (length=15)
                  'bank_name' => string 'Сбербанк' (length=16)
              ]
         ],
         1 => []
     ]

2. Объект
    paginator {
      'pageCount' => int 1
      'itemCountPerPage' => int 20
      'first' => int 1
      'current' => int 1
      'last' => int 1
      'pagesInRange' =>
          1 => int 1
      'firstPageInRange' => int 1
      'lastPageInRange' => int 1
      'currentItemCount' => int 2
      'totalItemCount' => int 2
      'firstItemNumber' => int 1
      'lastItemNumber' => int 2
    }

3. Булевая переменная
    is_operator - по ее значению показываем что-то оператору или скрываем
#}
{% do headTitle('Методы оплаты') %}
{% block content %}
    <section class="PageTable" id="section_payment-method-filter">
        <form method="get" class="TableWrapper" id="payment-method-filter-form">
            {#<h1 class="TitleBlue">Методы#}
                {#оплаты {% if paginator.totalItemCount > 0 %}(всего {{ paginator.totalItemCount }}){% endif %}</h1>#}
            <table class="TableDefault js-table-rows-are-link">
                <tr class="FilterTableRow">
                    <td>
                        {#<a class="ButtonAdd"#}
                           {#href="#"#}
                           {#title="Добавить метод оплаты">#}
                        {#</a>#}
                    </td>
                    <td>
                        <input class="InputSearch" type="text" placeholder="Метод оплаты">
                    </td>
                    <td>
                        <input class="InputSearch" type="text" placeholder="Тип">
                    </td>
                    <td>
                        <select data-placeholder="Статус" class="chosen-select" name="status" id="">
                            <option></option>
                            <option>активен</option>
                        </select>
                    </td>
                    <td>
                        <button class="ButtonSearch" type="submit"><span>&nbsp;</span></button>
                    </td>
                </tr>
                <tr class="Head">
                    <td>
                        <a href="#" class="sort-link">
                            <i class="sort-link__icon"></i>
                            №
                        </a>
                    </td>
                    <td>
                        <a href="#" class="sort-link">
                            <i class="sort-link__icon active sort-link__icon-down"></i>
                            Метод оплаты
                        </a>
                    </td>
                    <td>
                        <a href="#" class="sort-link">
                            <i class="sort-link__icon"></i>
                            Тип
                        </a>
                    </td>
                    <td>
                        <a href="#" class="sort-link">
                            <i class="sort-link__icon"></i>
                            Статус
                        </a>
                    </td>
                    <td></td>
                </tr>
                {% if paymentMethods |length > 0 %}
                    {% for paymentMethod in paymentMethods %}
                        <tr>
                            <td data-label="№:">
                                {{ loop.index }}
                            </td>
                            <td data-label="Метод оплаты:">
                                {{ paymentMethod[paymentMethod['name']]['name'] }}
                            </td>
                            <td data-label="Тип:">
                                {{ paymentMethod['output_name'] }}
                            </td>
                            <td data-label="Статус:">
                                {{ (paymentMethod['is_active']) ?'активен':'неактивен' }}
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="empty-row">
                        <td colspan="8">
                            Юридические лица не найдены.
                        </td>
                    </tr>
                {% endif %}
            </table>

            {#<div>#}
            {#{{ paymentMethods[0]['id'] }}#}
            {#</div>#}
            {#<div>#}
            {#{% for paymentMethod in paymentMethods %}#}
            {# Пример доступа к переменным #}
            {#{{ paymentMethod['paymentMethodBankTransfer']['name'] }}<br/>#}

            {# Верстку для конкртеных методов оплаты разместить в partials и поттягивать оттуда#}
            {#взависимости от типа #}
            {#{% endfor %}#}
            {#</div>#}
        </form>
    </section>
{% endblock content %}