{% extends 'twig/layout/application' %}

{#
1. Объект paymentMethodForm
   Конкретный тип формы (класс) зависит от выборанного метода оплаты.
   У нас пока один метод оплаты - bank_transfer (форма BankTransferForm).
   Елементы его формы представлены тут:
    paymentMethodForm => {
        'civil_law_subject_id' (type 'hidden')
        'payment_method_type' (type 'hidden')
        'name'
        'bank_name'
        'bik'
        'inn'
        'kpp'
        'account_number'
        'corr_account_number'
        'payment_recipient_name'
        'csrf' (type 'hidden')
        'submit'
    }

2. Массив с данными выбранного типа оплаты
    paymentMethodType [
      'id' => int 1
      'name' => string 'bank_transfer'
      'output_name' => string 'Банковский перевод'
      'description' => string 'Банковский перевод'
      'is_active' => boolean true
    ]
#}

{% block content %}
    <section class="PageForm" id="section-payment-method-create-form">
        <div class="PageForm-Container PageForm-Container_large">
            <div class="FormLabelTop">

                {# Здесь представлен вывод формы типа BankTransferForm #}
                {# Хорошо бы вставлять поля конкретной формы из partial, как это сделано в phtml #}
                {#{{ form().openTag(paymentMethodForm)|raw }}#}
                <div class="PageForm-Container_new-design">
                    <form method="post" class="FormLabelTop" name="payment-method-form" id="payment-method-create-form">
                        <div class="header flex">
                            <div class="Logo">
                                <div class="Logo-Img">
                                    <img src="{{ basePath('/img/logo.svg') }}" alt="Логотип">
                                </div>
                                <p class="Logo-Text"></p>
                            </div>
                        </div>
                        <div class="head-of-element">
                            Создание метода оплаты типа "{{ paymentMethodType['output_name'] }}"
                        </div>
                        <div class="form-content-wrap">
                            <h1 class="TitleBlue">Создание метода оплаты типа "{{ paymentMethodType['output_name'] }}"</h1>
                            <div class="flex">
                                <div class="Input-Wrapper col-form-2">
                                    {# поле name #}
                                    {{ formLabel(paymentMethodForm.get('name'))|raw }}
                                    {{ formElement(paymentMethodForm.get('name'))|raw }}
                                    <div class="FormError">{{ formElementErrors(paymentMethodForm.get('name'))|raw }}</div>
                                    {# / поле name #}
                                </div>
                                <div class="Input-Wrapper col-form-2">
                                    {# поле bank_name #}
                                    {{ formLabel(paymentMethodForm.get('bank_name'))|raw }}
                                    {{ formElement(paymentMethodForm.get('bank_name'))|raw }}
                                    <div class="FormError">{{ formElementErrors(paymentMethodForm.get('bank_name'))|raw }}</div>
                                    {# / поле bank_name #}
                                </div>
                            </div>
                            <div class="flex">
                                <div class="Input-Wrapper col-form-2">
                                    {# поле bik #}
                                    {{ formLabel(paymentMethodForm.get('bik'))|raw }}
                                    {{ formElement(paymentMethodForm.get('bik'))|raw }}
                                    <div class="FormError">{{ formElementErrors(paymentMethodForm.get('bik'))|raw }}</div>
                                    {# / поле bik #}
                                </div>
                                <div class="Input-Wrapper col-form-2">
                                    {# поле corr_account_number #}
                                    {{ formLabel(paymentMethodForm.get('corr_account_number'))|raw }}
                                    {{ formElement(paymentMethodForm.get('corr_account_number'))|raw }}
                                    <div class="FormError">{{ formElementErrors(paymentMethodForm.get('corr_account_number'))|raw }}</div>
                                    <div class="FormError">{{ formElementErrors(paymentMethodForm.get('csrf'))|raw }}</div>
                                    {# / поле corr_account_number #}
                                </div>
                            </div>
                            <div class="Input-Wrapper col-form-2">
                                {# поле account_number #}
                                {{ formLabel(paymentMethodForm.get('account_number'))|raw }}
                                {{ formElement(paymentMethodForm.get('account_number'))|raw }}
                                <div class="FormError">{{ formElementErrors(paymentMethodForm.get('account_number'))|raw }}</div>
                                {# / поле account_number #}
                            </div>
                            <div class="ButtonsRow">
                                {{ formElement(paymentMethodForm.get('civil_law_subject_id'))|raw }}
                                {{ formElement(paymentMethodForm.get('payment_method_type'))|raw }}
                                {{ formElement(paymentMethodForm.get('csrf'))|raw }}
                                <button type="submit" class="ButtonApply">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}