{% extends 'twig/layout/application' %}

{#
1. Массив (показаны значения из тестового объекта):
    paymentMethod [
        'id' => int 4
          'civilLawSubject' =>
              'id' => int 1
              'user' =>
                  'id' => int 1
                  'login' => string 'test'
                  'isBanned' => boolean false
              'naturalPerson' =>
                  'id' => int 1
                  'firstName' => string 'Тест'
                  'secondaryName' => string 'Тестович'
                  'lastName' => string 'Тестов'
              'legalEntity' => null
          'paymentMethodType' =>
              'id' => int 1
              'name' => string 'bank_transfer'
              'outputName' => string 'Банковский перевод'
          'paymentMethodBankTransfer' =>
              'id' => int 4
              'name' => string 'Счет в Новом банке'
              'bankName' => string 'Новый банк edited'
              'bik' => string '123456'
              'accountNumber' => string '12345612345612345613'
              'corrAccountNumber' => string '12345612345612345613'
              'paymentRecipientName' => string 'Рифат Ахметов'
              'inn' => string '7743211962'
              'kpp' => string '123456'
    ]
#}

{% block content %}

    <h1>Удаление метода оплаты "{{ paymentMethod['paymentMethodBankTransfer']['name'] }}"</h1>

    <div id="div-payment-method-delete-form">
        <form method="POST" action="{{ url('user-profile/payment-method-single', {'id': paymentMethod['id']}) }}"
              class="" role="form" id="payment-method-delete-form">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="btn btn-blue" >Да, удалить этот метод оплаты</button>
        </form>
    </div>

{% endblock content %}