{% extends 'twig/layout/application' %}

{#
1. Объект paymentMethodForm
   Конкретный тип формы (класс) зависит от выборанного метода оплаты.
   У нас пока один метод оплаты - bank_transfer (форма BankTransferForm).
   Елементы его формы представлены тут:
    paymentMethodForm => {
        'civil_law_subject_id' (type 'hidden')
        'payment_method_type' (type 'hidden')
        'name'
        'bank_name'
        'bik'
        'inn'
        'kpp'
        'account_number'
        'corr_account_number'
        'payment_recipient_name'
        'csrf' (type 'hidden')
        'submit'
    }

2. Массив (показаны значения из тестового объекта):
    paymentMethod [
          'id' => int 1
          'name' => string 'bank_transfer' (length=13)
          'output_name' => string 'Банковский перевод' (length=35)
          'description' => string 'Банковский перевод' (length=35)
          'is_active' => boolean true
          'bank_transfer' [
              'id' => int 4
              'name' => string 'Банковский перевод для izubarev' (length=51)
              'bik' => string '123456789' (length=9)
              'account_number' => string '123456789012345' (length=15)
              'payment_recipient_name' => string 'Зубарев Игорь Анатольевич' (length=48)
              'inn' => string '4217030520' (length=10)
              'kpp' => string '123456789' (length=9)
              'corr_account_number' => string '123456789012345' (length=15)
              'bank_name' => string 'Сбербанк' (length=16)
          ]
     ]
#}

{% block content %}
    <section class="PageForm">
        <div class="PageForm-Container">
            {# Здесь представлен вывод формы типа BankTransferForm #}
            <form method="post" class="FormLabelLeft" name="bank-transfer-payment-method-form"
                  id="payment-method-bank-transfer-edit-form">
                <h1 class="TitleBlue">Редактирование метода оплаты типа
                    "{{ paymentMethod['output_name'] }}"</h1>

                <div class="Input-Wrapper">
                    {# поле name #}
                    <label>{{ formLabel(paymentMethodForm.get('name'))|raw }}</label>
                    {{ formElement(paymentMethodForm.get('name'))|raw }}
                    <div class="FormError">{{ formElementErrors(paymentMethodForm.get('name'))|raw }}</div>
                    {# / поле name #}
                </div>
                <div class="Input-Wrapper">
                    {# поле bank_name #}
                    <label>{{ formLabel(paymentMethodForm.get('bank_name'))|raw }}</label>
                    {{ formElement(paymentMethodForm.get('bank_name'))|raw }}
                    <div class="FormError">{{ formElementErrors(paymentMethodForm.get('bank_name'))|raw }}</div>
                    {# / поле bank_name #}
                </div>
                <div class="Input-Wrapper">
                    {# поле bik #}
                    <label>{{ formLabel(paymentMethodForm.get('bik'))|raw }}</label>
                    {{ formElement(paymentMethodForm.get('bik'))|raw }}
                    <div class="FormError">{{ formElementErrors(paymentMethodForm.get('bik'))|raw }}</div>
                    {# / поле bik #}
                </div>
                <div class="Input-Wrapper">
                    {# поле account_number #}
                    <label>{{ formLabel(paymentMethodForm.get('account_number'))|raw }}</label>
                    {{ formElement(paymentMethodForm.get('account_number'))|raw }}
                    <div class="FormError">{{ formElementErrors(paymentMethodForm.get('account_number'))|raw }}</div>
                    {# / поле account_number #}
                </div>
                <div class="Input-Wrapper">
                    {# поле corr_account_number #}
                    <label>{{ formLabel(paymentMethodForm.get('corr_account_number'))|raw }}</label>
                    {{ formElement(paymentMethodForm.get('corr_account_number'))|raw }}
                    <div class="FormError">{{ formElementErrors(paymentMethodForm.get('corr_account_number'))|raw }}</div>
                    <div class="FormError">{{ formElementErrors(paymentMethodForm.get('csrf'))|raw }}</div>
                    {# / поле corr_account_number #}
                </div>

                <div class="ButtonsRow">
                    {{ formElement(paymentMethodForm.get('civil_law_subject_id'))|raw }}
                    {{ formElement(paymentMethodForm.get('payment_method_type'))|raw }}
                    {{ formElement(paymentMethodForm.get('csrf'))|raw }}
                    <button type="submit" class="ButtonDelete margin-right" data-ripple-button=""><span class="ripple-text">Удалить</span></button>
                    <button type="submit" class="ButtonApply" data-ripple-button=""><span class="ripple-text">Сохранить</span></button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}