{% extends 'twig/layout/application' %}

{#
1. Объект
    civilLawSubjectSelectForm => {
        'civil_law_subject_id' (type 'select')
    }
#}

{% block content %}
<section class="PageForm">
    <div class="PageForm-Container PageForm-Container_large">
        <div class="FormLabelTop">
            <h1 class="TitleBlue">Выбор субъекта права</h1>

            {{ form().openTag(civilLawSubjectSelectForm)|raw }}
            <div class="Input-Wrapper col-form-2">
                {{ formCollection(civilLawSubjectSelectForm)|raw }}
            </div>
            <div class="ButtonsRow">
                <button type="submit" class="ButtonApply">Выбрать субъект права</button>
            </div>
            {{ form().closeTag()|raw }}
        </div>
    </div>
</section>
{% endblock content %}