{% extends 'twig/layout/application' %}

{#
1. Объект
    paymentMethodTypeSelectForm => {
        'civil_law_subject_id' (type 'hidden')
        'payment_method_type' (type 'select')
    }
#}

{% block content %}
    <section class="PageForm">
        <div class="PageForm-Container PageForm-Container_large">
            <div class="FormLabelTop">
                <h1 class="TitleBlue">Выбор метода оплаты</h1>

                {{ form().openTag(paymentMethodTypeSelectForm)|raw }}
                <div class="Input-Wrapper">
                    {{ formCollection(paymentMethodTypeSelectForm)|raw }}
                </div>
                <div class="ButtonsRow">
                    <button type="submit" class="ButtonApply">Выбрать метод оплаты</button>
                </div>
                {{ form().closeTag()|raw }}
            </div>
        </div>
    </section>
{% endblock content %}