{% extends 'twig/layout/application' %}

{#
1. Массив (показаны значения из тестового объекта):
    paymentMethod [
          'id' => int 1
          'name' => string 'bank_transfer' (length=13)
          'output_name' => string 'Банковский перевод' (length=35)
          'description' => string 'Банковский перевод' (length=35)
          'is_active' => boolean true
          'bank_transfer' [
              'id' => int 4
              'name' => string 'Банковский перевод для izubarev' (length=51)
              'bik' => string '123456789' (length=9)
              'account_number' => string '123456789012345' (length=15)
              'payment_recipient_name' => string 'Зубарев Игорь Анатольевич' (length=48)
              'inn' => string '4217030520' (length=10)
              'kpp' => string '123456789' (length=9)
              'corr_account_number' => string '123456789012345' (length=15)
              'bank_name' => string 'Сбербанк' (length=16)
          ]
     ]

2. Булевая переменная
    is_operator - по ее значению показываем что-то оператору или скрываем
#}

{% block content %}

    <h1>Метод оплаты "{{ paymentMethod[paymentMethod['name']]['name'] }}"</h1>

{% endblock content %}