{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
 1 deal
 2 dispute
 3 arbitrageRequest
 4 contractor_login
 5 customer_login
 6 main_project_url
#}
{% block content %}
    <h2>Здравствуйте, {{ customer_login }}!</h2>
    <p>Ваш запрос на согласительную комиссию по сделке номер {{ deal['number'] }} подтвержден.</p>
    <p>
        <strong>Информация о запросе согласительной комиссии:</strong><br>
        Имя автора: {{ arbitrageRequest['author']['name'] }}<br>
        Email автора: {{ arbitrageRequest['author']['email'] }}<br>
        Телефон автора: {{ arbitrageRequest['author']['phone'] }}<br>
        Дата запроса: {{ arbitrageRequest['created'] }}<br>
    </p>
    <br><br>
    <p>
        <strong>Доп. информация:</strong><br>
        Причина спора: {{ dispute['reason'] }}<br>
        Дата спора: {{ dispute['created'] }}<br>
        Сделка: {{ deal['name']~' '~deal['number'] }}<br>
        Сумма сделки: {{ deal['amount_without_fee'] }}<br>
    </p>
{% endblock content %}