{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
 1 deal
 2 dispute
 3 refundRequest
 4 agent_user_login
 5 counteragent_login
 6 main_project_url
#}
{% block content %}
    <h2>Здравствуйте, {{ counteragent_login }}!</h2>
    <p>Ваш запрос на {% if deal['type_ident'] == 'U' %}отказ от услуги{% else %}возврат{% endif %} по сделке {{ deal['safe_number'] }} подтвержден пользователем "{{ agent_user_login }}".</p>
    <p>В ближайшее время с вами свяжется оператор.</p>
    <p>
        <strong>Информация о запросе на возврат:</strong><br>
        Имя автора: {{ refundRequest['author']['name'] }}<br>
        Email автора: {{ refundRequest['author']['email'] }}<br>
        Телефон автора: {{ refundRequest['author']['phone'] }}<br>
        Сумма возврата: <b>{{ refundRequest['amount'] }} руб.</b><br>
        Дата запроса: {{ refundRequest['created'] }}<br>
    </p>
    <br><br>
    <p>
        <strong>Доп. информация:</strong><br>
        Причина спора: {{ dispute['reason'] }}<br>
        Дата спора: {{ dispute['created'] }}<br>
        Сделка: {{ deal['name']~' '~deal['number'] }}<br>
        Сумма сделки: {{ deal['amount_without_fee'] }}<br>
    </p>
{% endblock content %}