{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
 1 deal
 2 dispute
 3 tribunalRequest
 4 agent_user_login
 5 counteragent_login
 6 main_project_url
#}
{% block content %}
    <h2>Здравствуйте, {{ counteragent_login }}!</h2>
    <p>Ваш запрос на третейский суд по сделке номер {{ deal['safe_number'] }} подтвержден пользователем "{{ agent_user_login }}".</p>
    <p>
        <strong>Информация о запросе третейского суда:</strong><br>
        Имя автора: {{ tribunalRequest['author']['name'] }}<br>
        Email автора: {{ tribunalRequest['author']['email'] }}<br>
        Телефон автора: {{ tribunalRequest['author']['phone'] }}<br>
        Дата запроса: {{ tribunalRequest['created'] }}<br>
    </p>
    <br><br>
    <p>
        <strong>Доп. информация:</strong><br>
        Причина спора: {{ dispute['reason'] }}<br>
        Дата спора: {{ dispute['created'] }}<br>
        Сделка: {{ deal['name']~' '~deal['number'] }}<br>
        Сумма сделки: {{ deal['amount_without_fee'] }}<br>
    </p>
{% endblock content %}