{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
    customer_login
    deal
    disput
#}
{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title': 'Отказ от разрешения спора',
    } %}
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ customer_login }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;margin-top: 8px;">
        Изменения в споре по сделке <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 11px;margin-bottom: 11px;">
        Согласно <a href="#" style="font-family: 'PT Sans', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">Регламента разрешения спора</a> члены согласительной комиссии <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">отказываются участвовать</span> в разрешении спора и <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">останавливают разбирательство</span>.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 30px;margin-bottom: 11px;">
        Стороны конфликта в данном случае обладают правом <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">обращения в суд</span> в установленном порядке в целях разрешения спора, о чем обязуются сообщить Администрации посредством отправки письма на e-mail:
        <a href="mailto:mail@guarantpay.com" class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">mail@guarantpay.com.</a>
    </p>
{% endblock content %}