{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
    contractor_login
    deal
    disput
#}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Согласительная комиссия',
    } %}
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ contractor_login }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
        Изменения в споре по сделке <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 9px;">
        {{ translate.userRole(deal['type_ident'], counter_deal_agent_role) }} предложил вариант решения спора: <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">согласительная комиссия.</span>  Специалисты сервиса рассмотрят суть спора и предложат сторонам возможные пути решения конфликта.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 9px;">
        Качество и скорость рассмотрения спора напрямую зависит от полноты предоставленной Вами информации.
    </p>
    {% include 'email/partials/dispute_deadline.twig'
        with {
        'deadLineDate': dispute['expected_close_date'],
    } %}
{% endblock content %}