{#
 1 'user_login'
 2 'subject'
 3 'main_project_url'
 4 'code'
#}

{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Смена номера телефона',
    } %}

    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 10px;">
        Здравствуйте, {{ user_login }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 10px;margin-top: 0;">
        Код для смены номера телефона — <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">{{ code }}</span>
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 36px;margin-top: 0;">
        Скопируйте его и вставьте в форму на <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">странице подтверждения.</span>
    </p>

    {% include 'email/partials/button.twig'
        with {
        'text':  'Перейти на страницу подтверждения',
        'href': '#'
    } %}

{% endblock content %}