{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
 1 dispute
 2 deal
 3 customer_login
 4 contractor_login
 5 main_project_url
#}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Спор закрыт',
    } %}
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ contractor_login }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
        {{ translate.userRole(deal['type_ident'], counter_deal_agent_role) }} <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">закрыл спор</span> по сделке  <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 11px;">
        Вам необходимо исполнить обязательства по договору до <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">{{ deal['deal_close_date'] }}.</span>
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 11px;">
        Деньги за {% if deal['type_ident'] == 'T' %}товар{% else %}услугу{% endif %} будут переведены на Ваш счет, как только <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">{{ translate.userRole(deal['type_ident'], counter_deal_agent_role)|lower }} подтвердит</span> факт выполнения сделки.
    </p>
{% endblock content %}