{% extends 'email/layout/layout.twig' %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{#
   1 deal
   2 main_project_url
#}

{% set fee = deal['amount_without_fee'] * deal['fee'] / 100 %}
{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Сделка заключена ',
    } %}

    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ deal['agent_user_login'] }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 11px;">
        <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">Заключена сделка</span> <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>. Оба участника подтвердили согласие с условиями сделки.
    </p>

    {% include 'email/partials/deal_info.twig'
        with {
        'productName':  deal['name'],
        'productPrice':  deal['amount_without_fee'] ~ ' ' ~ translate.morph(deal['amount_without_fee'], ['рубль', 'рубля', 'рублей']) |trim,
        'feeType': translate.feeType(deal['type_ident'], deal['fee_payer_option']),
        'fee': fee ~ ' ' ~ translate.morph(fee, ['рубль', 'рубля', 'рублей']),
        'total': deal['contractor_amount'] ~ ' ' ~ translate.morph(deal['contractor_amount'], ['рубль', 'рубля', 'рублей']),
        'isContractor': true
    } %}

    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 16px;margin-bottom: 10px;font-weight: bold;">
        Ожидается оплата оговоренной в сделке суммы со стороны {{ translate.userRoleGenitive(deal['type_ident'], counter_deal_agent_role)|lower }}
    </p>
    {% if deal['type_ident'] == 'T' %}
        <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 30px;">
            Не отправляйте товар покупателю, пока мы не <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">подтвердим зачисление</span> денег на гарантийный счет.
        </p>
    {% endif %}
{% endblock content %}