{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{#
    1 deal
    2 main_project_url
#}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Изменились условия сделки',
    } %}
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ deal['counteragent_login'] }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 7px;">
        {{ translate.userRole(deal['type_ident'], counter_deal_agent_role) }} <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">изменил</span> условия сделки  <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.
        {% for changed_property in deal['changed_properties'] %}
            {% for value in changed_property %}
                <br>{{ value['property_name'] |raw }}: {{ value['new'] |raw }}
            {% endfor %}
        {% endfor %}
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;font-weight: bold;line-height: 20px;font-size: 14px;margin-top: 7px;letter-spacing: 0.55px;">
        Ознакомьтесь с новыми условиями. Если вы согласны, подтвердите их.
    </p>
    <div style="margin-top: 39px;">
        {% include 'email/partials/button.twig'
            with {
            'text':  'Перейти к сделке',
            'href': deal['deal_url']
        } %}
    </div>
{% endblock content %}