{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
    contractor_login
    deal
#}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Сделка закрыта',
    } %}

    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ contractor_login }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;margin-top: 8px;">
        <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">Успешно закрыта</span> сделка <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 10px;margin-bottom: 11px;">
        Деньги за {% if deal['type_ident'] == 'T' %}товар{% else %}услугу{% endif %} <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">отправлены</span> на Ваш счет.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 30px;margin-bottom: 11px;">
        Благодарим Вас за использование сервиса Гарант Пей!
    </p>

{% endblock content %}