{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{#
   1 deal
   2 main_project_url
#}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Продавец согласен',
    } %}

    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ deal['counteragent_login'] }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 7px;">
        {{ translate.userRole(deal['type_ident'], counter_deal_agent_role) }} <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">принял</span> условия сделки  <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 11px;margin-bottom: 7px;">
        В качестве контрагента по сделке {{ translate.userRole(deal['type_ident'], counter_deal_agent_role)|lower }} указал <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">{{(deal['civil_law_subject_type'] == 'legal-entity') ? 'юридическое лицо': 'физическое лицо'}} — {{ deal['civil_law_subject_name'] }}</span>.
    </p>

    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;font-weight: bold;line-height: 20px;font-size: 14px;margin-top: 11px;letter-spacing: 0.35px;">
        От вас ожидается подтверждение сделки.
    </p>

    <div style="margin-top: 34px;">
        {% include 'email/partials/button.twig'
            with {
            'text':  'Перейти к сделке',
            'href': deal['deal_url']
        } %}
    </div>
{% endblock content %}