{% extends 'email/layout/layout.twig' %}
{#
 1 deal - array
 2 contractor_login - string
 3 customer_login - string
 4 main_project_url - string
 5 tracking_number
 6 trace_page_url
#}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title': 'Не удалось доставить товар',
    } %}
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ customer_login }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
        Не удалось доставить товар по сделке <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.
    </p>

    {% if trace_page_url %}
        <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
            Смотрите статус доставки по заказу <b>{{ tracking_number }}</b> <a href="{{ trace_page_url }}" target="_blank">здесь</a>.
        </p>
    {% endif %}
{% endblock content %}