{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
 1 deal - array
 2 contractor_login - string
 3 customer_login - string
 4 main_project_url - string
#}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  deal['type_ident'] == 'T' ? 'Доставка подтверждена' : 'Выполнение услуги подтверждено',
    } %}
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ customer_login }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
    {% if deal['type_ident'] == 'T' %}
        Вы подтвердили доставку товара по сделке <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.
    {% else %}
        Вы подтвердили выполнение услуги по сделке <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.
    {% endif %}
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
        В течение <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">3-x банковских дней</span> {{ translate.userRoleDative(deal['type_ident'], counter_deal_agent_role)|lower }} будут выплачены деньги за
        {% if deal['type_ident'] == 'T' %}
            товар.
        {% else %}
            услугу.
        {% endif %}
    </p>
{% endblock content %}