{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
    customer_login
    deal
    disput
#}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Спор закрыт',
    } %}

    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ contractor_login }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
        Закрыт спор по сделке <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
        Согласовано решение: <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">скидка {{ discount['amount'] ~ ' ' ~ translate.morph(discount['amount'], ['рубль', 'рубля', 'рублей'])|trim }}.</span>
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
        В течение <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">3-x банковских дней</span> Вам будут выплачены деньги за {% if deal['type_ident'] == 'T' %}товар{% else %}услугу{% endif %}, а {{ translate.userRole(deal['type_ident'], counter_deal_agent_role)|lower }} получит скидку.
    </p>

{% endblock content %}