{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
 1 deal
 2 dispute
 3 discountRequest
 4 contractor_login
 5 customer_login
 6 main_project_url
#}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Скидка согласована',
    } %}

    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ customer_login }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
        Изменения в споре по сделке  <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 9px;">
        {{ translate.userRole(deal['type_ident'], counter_deal_agent_role) }} <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">подтвердил</span> Ваш вариант решения спора: <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">скидка {{ discountRequest['amount'] ~ ' ' ~ translate.morph(discountRequest['amount'], ['рубль', 'рубля', 'рублей' ])|trim }}.</span>
    </p>

    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 30px;margin-bottom: 9px;">
        <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">Ожидайте уведомление о предоставлении скидки.</span>
    </p>


{% endblock content %}