{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
    deal
    disput
    discountRequest
    customer_login
    customer_phone
    customer_email
    contractor_login
    main_project_url
#}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Скидка отклонена',
    } %}

    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ contractor_login }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
        Изменения в споре по сделке <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 9px;">
        Вы <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">отклонили</span> предложенный {{ translate.userRoleAblative(deal['type_ident'], counter_deal_agent_role)|lower }} вариант решения спора: <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">скидка {{ discountRequest['amount'] ~ ' ' ~ translate.morph(discountRequest['amount'], ['рубль', 'рубля', 'рублей'])|trim }}.</span>
    </p>

    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 11px;">
        {{ translate.userRole(deal['type_ident'], counter_deal_agent_role) }} может указать <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">другой</span> вариант решения спора.
        <br>
        Для согласовнания решения по спору рекомендуем Вам связаться с {{ translate.userRoleAblative(deal['type_ident'], counter_deal_agent_role)|lower }}:
        <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">{{ customer_login }} (+{{ customer_phone }}; {{ customer_email }}).</span>
    </p>



    {% include 'email/partials/dispute_deadline.twig'
        with {
        'deadLineDate':  dispute['expected_close_date'],
    } %}

{% endblock content %}