{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
 1 dispute
 2 deal
 3 customer_login
 4 contractor_login
 5 main_project_url
#}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Открыт спор',
    } %}

    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ customer_login }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
        Вы <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">открыли спор</span> по сделке <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>. {{ translate.userRoleDative(deal['type_ident'], counter_deal_agent_role) }} отправлено уведомление об этом.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 11px;">
        На странице сделки можете указать какой <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">вариант решения спора</span> Вы видите.
        <br>
        Для согласовнания решения по спору рекомендуем Вам связаться с {{ translate.userRoleAblative(deal['type_ident'], counter_deal_agent_role)|lower }}:
        <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">{{ contractor_login }} (+{{ contractor_phone }}; {{ contractor_email }}).</span>
    </p>
    <div style="margin-top: 35px;">
        {% include 'email/partials/button.twig'
            with {
            'text':  'Перейти к сделке',
            'href': deal['deal_url']
        } %}
    </div>
    {% include 'email/partials/dispute_deadline.twig'
        with {
        'deadLineDate':  dispute['expected_close_date'],
    } %}
{% endblock content %}

