{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
 1 dispute
 2 deal
 3 customer_login
 4 contractor_login
 5 main_project_url
 6 extension_days
#}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Открыт спор',
    } %}

    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ contractor_login }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
        {% if deal['type_ident'] == 'T' %}Покупатель{% else %}Заказчик{% endif %} <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">открыл спор</span> по сделке <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 11px;">
        На странице сделки Вы можете посмотреть <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">описание проблемы.</span>
        <br>
        Для согласовнания решения по спору рекомендуем Вам связаться с {% if deal['type_ident'] == 'T' %}покупателем{% else %}заказчиком{% endif %}:
        <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">{{ customer_login }} (+{{ customer_phone }}; {{ customer_email }}).</span>
    </p>
    <div style="margin-top: 35px;">
        {% include 'email/partials/button.twig'
            with {
            'text':  'Перейти к сделке',
            'href': deal['deal_url']
        } %}
    </div>
    {% include 'email/partials/dispute_deadline.twig'
        with {
        'deadLineDate':  dispute['expected_close_date'],
    } %}
{% endblock content %}