{#
  1  'user_login'
  2  'subject'
  3  'main_project_url'
  4  'email_confirmation_url'
  5  'email_confirmation_page'
  6  'email_confirmation_token'
  7  'qrCodeData'
#}

{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Подтверждение почты',
    } %}

    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 36px;">
        Для полноценного использования сервиса Гарант Пей просим <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">подтвердить</span> Ваш адрес электронной почты, кликните на кнопку ниже:
    </p>

    {% include 'email/partials/button.twig'
        with {
        'text':  'Подтвердить E-mail',
        'href': email_confirmation_url
    } %}

    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 35px;">
        Если Вы не регистрировались на сервисе Гарант Пей, пожалуйста, игнорируйте это письмо.
    </p>
{% endblock content %}