{% autoescape false %}
    <div>
        <h1>Здравствуйте, Admin</h1>
        <p>
            Ошибка: {{ error_message }} <br>
            Отчет об ошибке: {{ error_report }}<br>
            Пользователь: {{ user_email }}<br>

            {% if error_tracing %}
            Трассировка:<br>{{ error_tracing|raw }}<br>
            {% endif %}
        </p>
        <p>
            Сообщение с сайта <a href="{{ main_project_url | trim }}" target="_blank">GuarantPay</a>:
        </p>
    </div>
{% endautoescape %}