{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
    author_deal_agent_name
    counter_deal_agent_email
    counter_deal_agent_role
    deal
#}

{% set couner_agent_role = counter_deal_agent_role == 'CUSTOMER' ? 'Покупателю' : 'Продавцу' %}
{% set couner_agent_role_2 = counter_deal_agent_role == 'CUSTOMER' ? 'покупатель' : 'продавец' %}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Сделка создана',
    } %}
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 10px;">
        Здравствуйте, {{ author_deal_agent_name }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 34px;margin-top: 0;">
        Поздравляем, вы <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">создали сделку</span>
        <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.{{ translate.userRoleDative(deal['type_ident'], counter_deal_agent_role) }} {{ counter_deal_agent_email }} <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">отправлено приглашение</span> присоединиться к сделке.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 34px;margin-top: 0;">
        После того, как {{ translate.userRole(deal['type_ident'], counter_deal_agent_role)|lower }} присоединится к сделке Вы <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">получите уведомление.</span>
    </p>
{% endblock content %}