{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
 1 deal
 2 customer_login
 3 contractor_login
 4 main_project_url
#}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Заканчивается гарантия',
    } %}
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ customer_login }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
        <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">{{ deal['deal_close_date'] }}</span> истекает гарантия по сделке <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 10px;margin-bottom: 10px;">
        <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">1.</span> Если вы получили товар и удовлетворены его состоянием, перейдите на сервис и нажмите кнопку <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">«Подтвердить доставку».</span>
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 10px;margin-bottom: 10px;">
        <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">2.</span> Если вы не получили заказ или недовольны его состоянием вы можете <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">открыть спор.</span>
    </p>
    <div style="margin-top: 35px;">
        {% include 'email/partials/button.twig'
            with {
            'text':  'Перейти к сделке',
            'href': deal['deal_url']
        } %}
    </div>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 34px;margin-bottom: 10px;">
        Если <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">до истечения срока гарантии</span> с Вашей стороны не будет произведено <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">никаких действий,</span> сделка будет закрыта, и средства будут переведены {{ translate.userRoleDative(deal['type_ident'], counter_deal_agent_role)|lower }}.
    </p>
{% endblock content %}