{#
 1 'user_login'
 2 'subject'
 3 'main_project_url'
 4 'password_reset_url'
#}

{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Сброс пароля',
    } %}

    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 10px;">
        Здравствуйте, {{ user_login }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 34px;margin-top: 0;">
        Вы недавно отправили запрос на <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">сброс пароля</span> Вашего профиля, чтобы продолжить кликните на кнопку ниже:
    </p>

    {% include 'email/partials/button.twig'
        with {
        'text':  'Сбросить пароль',
        'href': password_reset_url
    } %}

{% endblock content %}