{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
  1 deal
  2 payment_receipt_type
  3 main_project_url
#}
{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Частичный платеж',
    } %}
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ deal['agent_user_login'] }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 11px;">
        Ваш <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">частичный платеж {{ pay_amount ~ ' ' ~ translate.morph(pay_amount, ['рубль', 'рубля', 'рублей'])|trim }}</span> по сделке <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a> зачислен на гарантийный счет .
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 6px;margin-bottom: 10px;font-weight: bold;">
        От Вас ожидается полная оплата оговоренной в сделке суммы — 61 500 рублей.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 30px;">
        Для получения счета на оплату оставшейся суммы или если произошла ошибка, напишите на <a href="mailto:support@guarantpay.com" class="font-lato" style="font-family: 'Lato', 'Arial', sans-serif;font-weight: bold;color: #2399f1;text-decoration: none;">support@guarantpay.com</a>.
    </p>
{% endblock content %}