{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{#
  1 deal
  2 payment_receipt_type
  3 main_project_url
#}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Частичный платеж',
    } %}
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ deal['agent_user_login'] }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 11px;">
        {{ translate.userRole(deal['type_ident'], counter_deal_agent_role) }} совершил <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">частичный платеж {{ pay_amount ~ ' ' ~ translate.morph(pay_amount, ['рубль', 'рубля', 'рублей'])|trim }}</span> по сделке <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 11px;">
        <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">Ожидается полная оплата оговоренной в сделке суммы со стороны {{ translate.userRoleGenitive(deal['type_ident'], counter_deal_agent_role)|lower }}.</span>
    </p>
    {% if deal['type_ident'] == 'T' %}
        <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 30px;margin-bottom: 10px;font-weight: bold;">
            Не отправляйте товар покупателю, пока мы не <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">подтвердим зачисление</span> денег на гарантийный счет.
        </p>
    {% endif %}
{% endblock content %}