{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
  1 deal
  2 payment_receipt_type
  3 main_project_url
#}
{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  deal['type_ident'] == 'T' ? 'Товар оплачен' : 'Услуга оплачена',
    } %}
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ deal['agent_user_login'] }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
        Ваш <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">платеж {{ pay_amount ~ ' ' ~ translate.morph(pay_amount, ['рубль', 'рубля', 'рублей'])|trim }}</span> по сделке <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a> зачислен на гарантийный счет.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 10px;">
        {% if deal['type_ident'] == 'T' %}Продавцу{% else %}Исполнителю{% endif %} необходимо выполнить обязательства по договору до <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">{{ deal['deal_close_date'] }}</span>.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 11px;">
        После {% if deal['type_ident'] == 'T' %}получения и проверки товара{% else %}проверки{% endif %}, пожалуйста <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">подтвердите</span> выполнение сделки.
    </p>
    <div style="margin-top: 35px;">
        {% include 'email/partials/button.twig'
            with {
            'text':  'Перейти к сделке',
            'href': deal['deal_url']
        } %}
    </div>
    {% include 'email/partials/buyer_garanty.twig' %}
{% endblock content %}