{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{#
  1 deal
  2 payment_receipt_type
  3 main_project_url
#}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  deal['type_ident'] == 'T' ? 'Товар оплачен' : 'Услуга оплачена',
    } %}
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ deal['agent_user_login'] }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
        {% if deal['type_ident'] == 'T' %}Покупатель{% else %}Заказчик{% endif %} <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">перевел деньги</span> по сделке <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a> на гарантийный счет.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 10px;">
        Вам необходимо выполнить обязательства по договору до <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">{{ deal['deal_close_date'] }}</span>.
    </p>
    {% if deal['type_ident'] == 'T'  %}
        <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 11px;">
            После отправки товара {% if deal['type_ident'] == 'T' %}покупателю{% else %}заказчику{% endif %}, пожалуйста, <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">укажите трек-номер</span> отправления и наименование транспортной компании которая будет осуществлять доставку.
        </p>
    {% endif %}
    <div style="margin-top: 35px;">
        {% include 'email/partials/button.twig'
            with {
            'text':  'Перейти к сделке',
            'href': deal['deal_url']
        } %}
    </div>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 35px;margin-bottom: 11px;">
        Деньги за
        {% if deal['type_ident'] == 'T'  %}
            товар
        {% else %}
            выполнение услуги
        {% endif %}
        будут переведены на Ваш счет, как только <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">{% if deal['type_ident'] == 'T' %}покупатель{% else %}заказчик{% endif %} подтвердит</span> факт выполнения сделки.

    </p>
{% endblock content %}