{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
 1 dispute
 2 deal
 3 customer_login
 4 contractor_login
 5 main_project_url
 6 refund
#}
{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Спор закрыт',
    } %}
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ customer_login }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
        <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">Закрыт спор</span> по сделке <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
        Согласовано решение: <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">возврат.</span>
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
        В течение <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">3-x банковских дней</span> Вам будут возвращены деньги за {% if deal['type_ident'] == 'T' %}товар{% else %}услугу{% endif %}.
    </p>
{% endblock content %}