{#
 1 main_project_url
 2 invitation_url
 3 invitation_token
 4 deal
#}
{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}

{% set fee = deal['amount_without_fee'] * deal['fee'] / 100 %}
{% set total = deal['counter_deal_agent_role'] == 'CUSTOMER' ? deal['customer_amount'] : deal['contractor_amount'] %}
{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Приглашение к сделке',
    } %}
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 11px;">
        {{ deal['author_deal_agent_name'] }} пригласил Вас в качестве <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">{{ translate.userRoleGenitive(deal['type_ident'], counter_deal_agent_role)|lower }}</span> для проведения безопасной сделки <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.
    </p>
    {% include 'email/partials/deal_info.twig'
        with {
        'productName':  deal['name'],
        'productPrice':  deal['amount_without_fee'] ~ ' ' ~ translate.morph(deal['amount_without_fee'], ['рубль', 'рубля', 'рублей']) |trim,
        'feeType': translate.feeType(deal['type_ident'], deal['fee_payer_option']),
        'fee': fee ~ ' ' ~ translate.morph(fee, ['рубль', 'рубля', 'рублей']) |trim,
        'total': total ~ ' ' ~ translate.morph(total, ['рубль', 'рубля', 'рублей']) |trim,
        'isContractor': deal['counter_deal_agent_role'] != 'CUSTOMER'
    } %}
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 36px;margin-bottom: 15px;font-weight: bold;">
        Для участия в сделке, Вам необходимо зарегистрироваться.
    </p>
    <div style="margin-top: 15px;">
        {% include 'email/partials/button.twig'
            with {
            'text':  'Зарегистрироваться',
            'href':  invitation_url
        } %}
    </div>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 35px;">
        Если Вы не понимаете, о чем идет речь, пожалуйста, игнорируйте это письмо.
    </p>
{% endblock content %}