{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{% import 'macro/routes.twig' as routes %}
{#
    author_deal_agent_name
    counter_deal_agent_name
    counter_deal_agent_role
    email_confirmation_url
    login
    email
    password
    deal
#}
{% set couner_agent_role = counter_deal_agent_role == 'CUSTOMER' ? 'Покупателю' : 'Продавцу' %}
{% set couner_agent_role_2 = counter_deal_agent_role == 'CUSTOMER' ? 'покупатель' : 'продавец' %}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Сделка создана',
    } %}
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 10px;">
        Здравствуйте!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 10px;margin-top: 0;">
        Поздравляем, вы <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">создали сделку</span>
        <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>. {{ translate.userRoleGenitive(deal['type_ident'], counter_deal_agent_role) }} {{ counter_deal_agent_name }} <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">отправлено приглашение</span> присоединиться к сделке.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 10px;margin-top: 0;">
        После того, как {{ couner_agent_role_2 }} присоединится к сделке Вы получите уведомление.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 15px;">
        Для участия в сделке и активации аккаунта, кликните на кнопку ниже:
    </p>
    {% include 'email/partials/button.twig'
        with {
        'text':  'Активировать аккаунт',
        'href': email_confirmation_url
    } %}
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 34px;">
        После активации аккаунта, используйте следующие данные для входа на сервис.<br>
        <strong>Логин:</strong> {{ email }} <br>
        <strong>Пароль:</strong> {{ password }}
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 35px;">
        Если Вы не понимаете, о чем идет речь, пожалуйста, игнорируйте это письмо.
    </p>
{% endblock content %}