{#
    url для теста верстки писем:
    dev.local/test/mail-template
#}
{#
1 массив
 deal => [
    'id'
    'name'
    'type'
    'addon_terms'
    'fee'
    'fee_payer_option'
    'amount_without_fee'
    'customer_amount'
    'contractor_amount'
    'delivery_period'
    'created'
    'confirm_url'
    'deal_url'
    'deal_url_edit'
    'agent_user_login'
    'counteragent_login'
 ]

2 переменная
    main_project_url = url проекта
#}
{#
1 массив
 deal => [
    'id'
    'name'
    'type'
    'addon_terms'
    'fee'
    'fee_payer_option'
    'amount_without_fee'
    'customer_amount'
    'contractor_amount'
    'delivery_period'
    'created'
    'confirm_url'
    'deal_url'
    'deal_url_edit'
    'agent_user_login'
    'counteragent_login'
 ]

2 переменная
    main_project_url = url проекта
#}

{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}

{% set fee = deal['amount_without_fee'] * deal['fee'] / 100 %}
{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Приглашение к сделке',
    } %}
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 8px;margin-bottom: 11px;">
        {{ deal['agent_user_login'] }} пригласил Вас в качестве <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173">{{ translate.userRole(deal['counteragent_deal_role']) }}</span> для проведения безопасной сделки <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #516173;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.
    </p>
    {% include 'email/partials/deal_info.twig'
        with {
        'productName':  deal['name'],
        'productPrice':  deal['amount_without_fee'] ~ translate.morph(deal['amount_without_fee'], ['рубль', 'рубля', 'рублей']) |trim,
        'feeType': translate.feeType(deal['type_ident'], deal['fee_payer_option']),
        'fee': fee ~ translate.morph(fee, ['рубль', 'рубля', 'рублей']) |trim,
        'total': deal['counteragent_deal_role'] == 'CUSTOMER' ? deal['customer_amount'] : deal['contractor_amount'] ~ translate.morph(deal['customer_amount'], ['рубль', 'рубля', 'рублей']) |trim,
        'isContractor': deal['counteragent_deal_role'] != 'CUSTOMER'
    } %}
    <p class="font-lato" style="font-family: 'Lato', 'Arial', sans-serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 36px;margin-bottom: 15px;font-weight: bold;">
        Для участия в сделке, Вам необходимо зарегистрироваться.
    </p>
    <div style="margin-top: 15px;">
        {% include 'email/partials/button.twig'
            with {
            'text':  'Зарегистрироваться',
            'href':  invitation_url
        } %}
    </div>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 35px;">
        Если Вы не понимаете, о чем идет речь, пожалуйста, игнорируйте это письмо.
    </p>
{% endblock content %}