{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}
{#
    1 deal
    2 main_project_url
    3 tracking_number
#}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Добавлен трек-номер',
    } %}

    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-bottom: 8px;">
        Здравствуйте, {{ deal['agent_user_login'] }}!
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 14px;margin-top: 9px;margin-bottom: 11px;">
        Добавлен трек-номер отправления для сделки  <a href="{{ deal['deal_url'] }}" style="font-family: 'PT Serif', serif;line-height: 20px;font-size: 14px;color: #2399f1;text-decoration: underline;">{{ deal['safe_number'] }} — {{ deal['name'] }}</a>.
    </p>
    <p class="font-ptserif" style="font-family: 'PT Serif', serif;color: #516173;line-height: 20px;font-size: 15px;letter-spacing: 0.1px;margin-top: 20px;margin-bottom: 10px;">
        Трек-номер — <span class="font-ptserif" style="font-family: 'PT Serif', serif;font-weight: bold;color: #516173"><span style="font-size: 17px;line-height: 17px;">{{ tracking_number }}</span></span>
    </p>

    <div style="margin-top: 35px;">
        {% include 'email/partials/button.twig'
            with {
            'text':  'Перейти к сделке',
            'href': deal['deal_url']
        } %}
    </div>

{% endblock content %}