{% extends 'twig/layout/application' %}
{#
1 updateDeliveryDpdCityForm - форма
2 number_of_cities
3 update_info - array
4 update_result - array
#}
{% do headTitle('Обновление DPD данных о городах ') %}
{% block content %}
    <div class="row nested-row">
        <div class="col-xl-10 col-xl-offset-2 col-lg-7 col-lg-offset-1 col-lt-6 col-lt-offset-0">
            <section id="section_delivery_dpd_update" class="PageForm">
                <div class="PageForm-Container">
                    <h1>Обновление кандидата городов</h1>
                    <br>
                    <br>
                    Количество записей в previous: {{ number_of_cities['previous'] }} <b>{{ update_info['last_city_previous_update'] }}</b><br>
                    Количество записей в production: {{ number_of_cities['production'] }} <b>{{ update_info['last_city_production_update'] }}</b><br>
                    Количество записей в candidate: {{ number_of_cities['candidate'] }} <b>{{ update_info['last_city_candidate_update'] }}</b><br>
                    <div>
                        {% if update_result|length %}
                            {% if update_result['status'] == 'ERROR' %}
                                Извините, произошла ошибка: {{ update_result['message'] }}
                            {% else %}
                                Данные DPD по "городам" успешно обновлены!
                            {% endif %}
                            <br>
                            <br>
                        {% endif %}
                    </div>
                    {{ form().openTag(updateDeliveryDpdCityForm) |raw }}
                    {{ formElement(updateDeliveryDpdCityForm.get('form_type')) |raw }}
                    {{ formElement(updateDeliveryDpdCityForm.get('csrf')) |raw }}
                    <div>{{ formElementErrors(updateDeliveryDpdCityForm.get('csrf')) |raw }}</div>
                    <div class="row nested-row ButtonsRow">
                        <div class="col-xl-6 col-sm-2 col-xs-4">
                            {# Submit without React #}
                            {#{{ formElement(updateDeliveryDpdCityForm.get('submit')) |raw }}#}
                            {# Submit with React #}
                            <input name="submit" class="ButtonApply js-start-dpd-update" value="Обновить информацию о городах" type="submit" data-csrf="{{ generateCsrf() }}" data-type="city">
                        </div>
                    </div>
                    {{ form().closeTag() |raw }}
                </div>
            </section>
        </div>
    </div>
{% endblock content %}