{% extends 'twig/layout/application' %}
{#
1 updateDeliveryDpdFormCity - форма
2 updateDeliveryDpdFormPoint - форма
3 updateDeliveryDpdFormCityTableReplace - форма
4 updateDeliveryDpdFormPointTablesReplace - форма
5 number_of_cities
6 number_of_points
7 update_info - array
8 city_update_result - array
9 point_update_result - array
10 city_table_replacement_result - array
11 point_tables_replacement_result - array
12 operations_availability = [
      'update_city_candidate' => boolean false
      'update_point_candidate' => boolean false
      'update_city_production' => boolean false
      'update_point_production' => boolean false
  ]
#}
{% do headTitle('Обновление DPD данных') %}
{% block content %}
    <div class="row nested-row">
        <div class="col-xl-10 col-xl-offset-2 col-lg-7 col-lg-offset-1 col-lt-6 col-lt-offset-0">
            <section id="section_delivery_dpd_update" class="PageForm">
                <div class="PageForm-Container">
                    <h1>Обновление DPD данных</h1>
                    <br>
                    <br>

                    <p>Обновление кандидата городов</p>
                    <div>
                        {% if city_update_result|length %}
                            {% if city_update_result['status'] == 'ERROR' %}
                                Извините, произошла ошибка: {{ city_update_result['message'] }}
                            {% else %}
                                Данные DPD по "городам" успешно обновлены!
                            {% endif %}
                            <br>
                            <br>
                        {% endif %}
                    </div>
                    {{ form().openTag(updateDeliveryDpdFormCity) |raw }}
                    {#<form class="FormLabelTop form-deal" method="POST" id="update_delivery_dpd_form_city"#}
                          {#action="{{ form_action_city }}">#}
                    {{ formElement(updateDeliveryDpdFormCity.get('form_type')) |raw }}
                    {{ formElement(updateDeliveryDpdFormCity.get('csrf')) |raw }}
                    <div>{{ formElementErrors(updateDeliveryDpdFormCity.get('csrf')) |raw }}</div>

                    <div class="row nested-row ButtonsRow">
                        <div class="col-xl-6 col-sm-2 col-xs-4">
                            <input name="submit" class="ButtonApply js-start-dpd-update" value="Обновить информацию о городах" type="submit" data-csrf="{{ generateCsrf() }}" data-type="city"{% if operations_availability['update_city_candidate'] == false %} disabled{% endif %}>
                        </div>
                    </div>
                    {{ form().closeTag() |raw }}
                    <br>

                    Количество записей в previous: {{ number_of_cities['previous'] }} <b>{{ update_info['last_city_previous_update'] }}</b><br>
                    Количество записей в production: {{ number_of_cities['production'] }} <b>{{ update_info['last_city_production_update'] }}</b><br>
                    Количество записей в candidate: {{ number_of_cities['candidate'] }} <span{% if operations_availability['update_city_production'] == true %} style="color: red;"{% endif %}><b>{{ update_info['last_city_candidate_update'] }}</b></span>

                    <div>
                        {% if city_table_replacement_result|length %}
                            {% if point_update_result['status'] == 'ERROR' %}
                                Извините, произошла ошибка: {{ city_table_replacement_result['message'] }}
                            {% else %}
                                Справочник городов DPD обновлен. Предыдущая версия сохранена.
                            {% endif %}
                            <br>
                            <br>
                        {% endif %}
                    </div>
                    {{ form().openTag(updateDeliveryDpdFormCityTableReplace) |raw }}
                    {{ formElement(updateDeliveryDpdFormCityTableReplace.get('form_type')) |raw }}
                    {{ formElement(updateDeliveryDpdFormCityTableReplace.get('csrf')) |raw }}
                    <div>{{ formElementErrors(updateDeliveryDpdFormCityTableReplace.get('csrf')) |raw }}</div>

                    <div class="row nested-row ButtonsRow">
                        <div class="col-xl-6 col-sm-2 col-xs-4">
                            {#{{ formElement(updateDeliveryDpdFormCityTableReplace.get('submit')) |raw }}#}
                            <input name="submit" class="" value="Использовать в качестве справочника текущий кандидат" type="submit"{% if operations_availability['update_city_production'] == false %} disabled{% endif %}>
                        </div>
                    </div>
                    {{ form().closeTag() |raw }}
                    <br>
                    <br>

                    <hr>

                    <p>Обновление кандидата пунктов приема/доставки</p>
                    <div>
                        {% if point_update_result|length %}
                            {% if point_update_result['status'] == 'ERROR' %}
                                Извините, произошла ошибка: {{ point_update_result['message'] }}
                            {% else %}
                                Данные DPD по пунктам приема/доставки успешно обновлены!
                            {% endif %}
                            <br>
                            <br>
                        {% endif %}
                    </div>
                    {#<form class="FormLabelTop form-deal" method="POST" id="update_delivery_dpd_form_point"#}
                          {#action="{{ form_action_point }}">#}
                    {{ form().openTag(updateDeliveryDpdFormPoint) |raw }}
                    {{ formElement(updateDeliveryDpdFormPoint.get('form_type')) |raw }}
                    {{ formElement(updateDeliveryDpdFormPoint.get('csrf')) |raw }}
                    <div>{{ formElementErrors(updateDeliveryDpdFormPoint.get('csrf')) |raw }}</div>

                    <div class="row nested-row ButtonsRow">
                        <div class="col-xl-6 col-sm-2 col-xs-4">
                            {#{{ formElement(updateDeliveryDpdFormCityTableReplace.get('submit')) |raw }}#}
                            <input name="submit" class="ButtonApply js-start-dpd-update" value="Обновить информацию о пунктах" type="submit" data-csrf="{{ generateCsrf() }}" data-type="point"{% if operations_availability['update_point_candidate'] == false %} disabled{% endif %}>
                        </div>
                    </div>
                    {{ form().closeTag() |raw }}
                    <br>

                    Количество записей в previous: {{ number_of_points['previous'] }} <b>{{ update_info['last_point_previous_update'] }}</b><br>
                    Количество записей в production: {{ number_of_points['production'] }} <b>{{ update_info['last_point_production_update'] }}</b><br>
                    Количество записей в candidate: {{ number_of_points['candidate'] }} <span{% if operations_availability['update_point_production'] == true %} style="color: red;"{% endif %}><b>{{ update_info['last_point_candidate_update'] }}</b></span>

                    <div>
                        {% if point_tables_replacement_result|length %}
                            {% if point_update_result['status'] == 'ERROR' %}
                                Извините, произошла ошибка: {{ point_tables_replacement_result['message'] }}
                            {% else %}
                                Справочник пунктов DPD обновлен. Предыдущая версия сохранена.
                            {% endif %}
                            <br>
                            <br>
                        {% endif %}
                    </div>
                    {{ form().openTag(updateDeliveryDpdFormPointTablesReplace) |raw }}
                    {{ formElement(updateDeliveryDpdFormPointTablesReplace.get('form_type')) |raw }}
                    {{ formElement(updateDeliveryDpdFormPointTablesReplace.get('csrf')) |raw }}
                    <div>{{ formElementErrors(updateDeliveryDpdFormPointTablesReplace.get('csrf')) |raw }}</div>

                    <div class="row nested-row ButtonsRow">
                        <div class="col-xl-6 col-sm-2 col-xs-4">
                            {#{{ formElement(updateDeliveryDpdFormPointTablesReplace.get('submit')) |raw }}#}
                            <input name="submit" class="" value="Использовать в качестве справочника текущий кандидат" type="submit"{% if operations_availability['update_point_production'] == false %} disabled{% endif %}>
                        </div>
                    </div>
                    {{ form().closeTag() |raw }}
                </div>
            </section>
        </div>
    </div>
{% endblock content %}