{% extends 'twig/layout/application' %}
{#
1 updateDeliveryDpdPointForm - форма
2 number_of_points
3 update_info - array
4 update_result - array
#}
{% do headTitle('Обновление DPD данных о пунктах приема/доставки') %}
{% block content %}
    <div class="row nested-row">
        <div class="col-xl-10 col-xl-offset-2 col-lg-7 col-lg-offset-1 col-lt-6 col-lt-offset-0">
            <section id="section_delivery_dpd_update" class="PageForm">
                <div class="PageForm-Container">
                    <h1>Обновление DPD данных о пунктах приема/доставки</h1>
                    Количество записей в previous: {{ number_of_points['previous'] }} <b>{{ update_info['last_point_previous_update'] }}</b><br>
                    Количество записей в production: {{ number_of_points['production'] }} <b>{{ update_info['last_point_production_update'] }}</b><br>
                    Количество записей в candidate: {{ number_of_points['candidate'] }} <b>{{ update_info['last_point_candidate_update'] }}</b>
                    <br>
                    <div>
                        {% if update_result|length %}
                            {% if update_result['status'] == 'ERROR' %}
                                Извините, произошла ошибка: {{ update_result['message'] }}
                            {% else %}
                                Данные DPD по пунктам приема/доставки успешно обновлены!
                            {% endif %}
                            <br>
                            <br>
                        {% endif %}
                    </div>
                    {{ form().openTag(updateDeliveryDpdPointForm) |raw }}
                    {{ formElement(updateDeliveryDpdPointForm.get('form_type')) |raw }}
                    {{ formElement(updateDeliveryDpdPointForm.get('csrf')) |raw }}
                    <div>{{ formElementErrors(updateDeliveryDpdPointForm.get('csrf')) |raw }}</div>

                    <div class="row nested-row ButtonsRow">
                        <div class="col-xl-6 col-sm-2 col-xs-4">
                            {# Submit without React #}
                            {#{{ formElement(updateDeliveryDpdPointForm.get('submit')) |raw }}#}
                            {# Submit with React #}
                            <input name="submit" class="ButtonApply js-start-dpd-update" value="Обновить информацию о пунктах" type="submit" data-csrf="{{ generateCsrf() }}" data-type="point">
                        </div>
                    </div>
                    {{ form().closeTag() |raw }}
                </div>
            </section>
        </div>
    </div>
{% endblock content %}