{% extends 'twig/layout/application' %}
{#
1 updateDeliveryDpdProductionForm - форма
2 number_of_points
3 update_info - array
4 update_result - array
#}
{% do headTitle('Обновление DPD данных') %}
{% block content %}
    <div class="row nested-row">
        <div class="col-xl-10 col-xl-offset-2 col-lg-7 col-lg-offset-1 col-lt-6 col-lt-offset-0">
            <section id="section_delivery_dpd_update" class="PageForm">
                <div class="PageForm-Container">
                    <h1>Обновление продакшн пунктов приема/доставки</h1>
                    <br>
                    <br>
                    <p>Обновление кандидата городов</p>
                    Количество записей в previous: {{ number_of_points['previous'] }} <b>{{ update_info['last_point_previous_update'] }}</b><br>
                    Количество записей в production: {{ number_of_points['production'] }} <b>{{ update_info['last_point_production_update'] }}</b><br>
                    Количество записей в candidate: {{ number_of_points['candidate'] }} <b>{{ update_info['last_point_candidate_update'] }}</b>
                    <br>
                    <div>
                        {% if update_result|length %}
                            {% if update_result['status'] == 'ERROR' %}
                                Извините, произошла ошибка: {{ update_result['message'] }}
                            {% else %}
                                Справочник пунктов DPD обновлен. Предыдущая версия сохранена.
                            {% endif %}
                            <br>
                            <br>
                        {% endif %}
                    </div>
                    {{ form().openTag(updateDeliveryDpdProductionForm) |raw }}
                    {{ formElement(updateDeliveryDpdProductionForm.get('form_type')) |raw }}
                    {{ formElement(updateDeliveryDpdProductionForm.get('csrf')) |raw }}
                    <div>{{ formElementErrors(updateDeliveryDpdProductionForm.get('csrf')) |raw }}</div>

                    <div class="row nested-row ButtonsRow">
                        <div class="col-xl-6 col-sm-2 col-xs-4">
                            {# Submit without React #}
                            {#{{ formElement(updateDeliveryDpdFormPointTablesReplace.get('submit')) |raw }}#}
                            {# Submit with React #}
                            <input name="submit" class="" value="Использовать в качестве справочника текущий кандидат" type="submit">
                        </div>
                    </div>
                    {{ form().closeTag() |raw }}
                </div>
            </section>
        </div>
    </div>
{% endblock content %}