{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{#
  1 arbitrageRefuseForm - form
  2 arbitrageRequest - array
  3 dispute - array
  4 deal - array
#}
{% do headTitle('Отказ на запрос суда') %}
{% block content %}
    <section id="section_arbitrage_refuse" class="PageForm DisputeClosePage">
        <p>
            <strong>Информация о запросе суда:</strong><br>
            Имя автора: {{ arbitrageRequest['author']['name'] }}<br>
            Email автора: {{ arbitrageRequest['author']['email'] }}<br>
            Телефон автора: {{ arbitrageRequest['author']['phone'] }}<br>
            Дата запроса: {{ arbitrageRequest['created'] }}<br>
        </p>
        <br><br>
        <p>
            <strong>Доп. информация:</strong><br>
            Причина спора: {{ dispute['reason'] }}<br>
            Дата спора: {{ dispute['created'] }}<br>
            Сделка: {{ deal['name']~' '~deal['number'] }}<br>
            Сумма сделки: {{ deal['amount_without_fee'] }}<br>
        </p>
        <br><br>
        {{ form().openTag(arbitrageRefuseForm)|raw }}
        <div class="FormAdd">
            {{ formElement(arbitrageRefuseForm.get('csrf'))|raw }}
            {{ formElement(arbitrageRefuseForm.get('type_form'))|raw }}

            <div class="FormError">
                {{ formElementErrors(arbitrageRefuseForm.get('csrf'))|raw }}
                {{ formElementErrors(arbitrageRefuseForm.get('type_form'))|raw }}
            </div>
            {{ formElement(arbitrageRefuseForm.get('submit'))|raw }}
        </div>
        {{ form().closeTag()|raw }}
    </section>
{% endblock content %}