{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/routes.twig' as routes %}
{#
 1 arbitrageRequestForm - form
 2 dispute - array
 3 deal - array
#}
{% do headTitle('Запрос суда') %}
{% block content %}
    <section id="section_arbitrage_request" class="PageForm DisputeClosePage">
        <p>
            <strong>Доп. информация:</strong><br>
            Причина спора: {{ dispute['reason'] }}<br>
            Дата спора: {{ dispute['created'] }}<br>
            Сделка: {{ deal['name']~' '~deal['number'] }}<br>
            Сумма сделки: {{ deal['amount_without_fee'] }}<br>
        </p>
        <br><br>
        <p>Отправить запрос суда?</p>
        <br><br>
        {{ form().openTag(arbitrageRequestForm)|raw }}
        <div class="FormAdd">
            {{ formElement(arbitrageRequestForm.get('csrf'))|raw }}
            {{ formElement(arbitrageRequestForm.get('deal'))|raw }}
            {{ formElement(arbitrageRequestForm.get('type_form'))|raw }}

            <div class="FormError">
                {{ formElementErrors(arbitrageRequestForm.get('csrf'))|raw }}
                {{ formElementErrors(arbitrageRequestForm.get('deal'))|raw }}
                {{ formElementErrors(arbitrageRequestForm.get('type_form'))|raw }}
            </div>
            {{ formElement(arbitrageRequestForm.get('submit'))|raw }}
        </div>
        {{ form().closeTag()|raw }}
    </section>
{% endblock content %}