<form method="post" name="arbitrage-request-form" id="arbitrage-request-form" action="{{ url('deal-arbitrage-request', {'idDeal': deal['id']}) }}" class="FormLabelTop">
    <div class="SubTitle">Согласительная комиссия</div>
    <div class="Input-Wrapper">
        <label>
            Если Вы не знаете, какой вариант решения спора Вам подходит.
        </label>
    </div>
    {{ formElement(arbitrageRequestForm.get('csrf'))|raw }}
    {{ formElement(arbitrageRequestForm.get('deal'))|raw }}
    {{ formElement(arbitrageRequestForm.get('type_form'))|raw }}

    <div class="FormError">
        {{ formElementErrors(arbitrageRequestForm.get('csrf'))|raw }}
        {{ formElementErrors(arbitrageRequestForm.get('deal'))|raw }}
        {{ formElementErrors(arbitrageRequestForm.get('type_form'))|raw }}
    </div>
    {{ formElement(arbitrageRequestForm.get('submit'))|raw }}
</form>