<div class="SolutionRequests-Status FormLabelTop">
    <h2 class="SubTitle">Предложение</h2>
    <div class="InfoField">
        <div class="InfoField-Text">{{ request['title'] }}</div>
    </div>
    {% if request['type'] == 'discount' %}
        {% set action_confirm = url('deal-discount-confirm', { 'idRequest' : request['id'] }) |trim %}
        {% set action_refuse = url('deal-discount-refuse', { 'idRequest' : request['id'] }) |trim %}

        <h2 class="SubTitle">Размер скидки, рублей:</h2>
        <div class="InfoField">
            <div class="InfoField-Text">{{ request['amount'] }}</div>
        </div>
    {% elseif request['type'] == 'tribunal' %}
        {% set action_confirm = url('deal-tribunal-confirm', { 'idRequest' : request['id'] }) |trim %}
        {% set action_refuse = url('deal-tribunal-refuse', { 'idRequest' : request['id'] }) |trim %}

        <p>После присвоения спору статуса Суд, в течение 10 дней Вам будет необходимо подтвердить данное решение, направив администрации копию обращения за судебной защитой.</p>
    {% elseif request['type'] == 'refund' and  deal.type_ident == 'T' %}
        {% set action_confirm = url('deal-refund-confirm', { 'idRequest' : request['id'] }) |trim %}
        {% set action_refuse = url('deal-refund-refuse', { 'idRequest' : request['id'] }) |trim %}

        <p>В срок не более 3-х рабочих дней Вам будет необходимо организовать доставку товара продавцу.</p>
    {% elseif request['type'] == 'refund' and  deal.type_ident == 'U' %}
        {% set action_confirm = url('deal-refund-confirm', { 'idRequest' : request['id'] }) |trim %}
        {% set action_refuse = url('deal-refund-refuse', { 'idRequest' : request['id'] }) |trim %}

        <p>В срок не более 1-го рабочего дня Вам будет необходимо сообщить исполнителю об отказе от услуги.</p>
    {% else %} {# arbitrage #}
        {% set action_confirm = url('deal-arbitrage-confirm', { 'idRequest' : request['id'] }) |trim %}
        {% set action_refuse = url('deal-arbitrage-refuse', { 'idRequest' : request['id'] }) |trim %}

        <p>Спор по сделке направлен на согласительную комиссию.</p>
    {% endif %}
    <div style="display: flex">
        <form method="post" action="{{ action_confirm }}">
            {{ formElement(requestConfirmForm.get('csrf'))|raw }}
            {{ formElement(requestConfirmForm.get('type_form'))|raw }}

            <button type="submit" class="ButtonApply" data-ripple-button="">
                <span class="ripple-text">Принять</span>
            </button>
        </form>

        <form method="post" action="{{ action_refuse }}">
            {{ formElement(requestRefuseForm.get('csrf'))|raw }}
            {{ formElement(requestRefuseForm.get('type_form'))|raw }}

            <button type="submit" class="ButtonRefuse" data-ripple-button="">
                <span class="ripple-text">Отклонить</span>
            </button>
        </form>
    </div>

</div>
