<form method="post" name="discount-request-form" id="discount-request-form"  class="FormLabelTop" action="{{ url('deal-discount-request', {'idDeal': deal['id']}) }}">
    <div class="SubTitle">Скидка</div>
    {{ formElement(discountRequestForm.get('csrf'))|raw }}
    {{ formElement(discountRequestForm.get('deal'))|raw }}
    {{ formElement(discountRequestForm.get('type_form'))|raw }}

    <div class="Input-Wrapper">
        {{ formLabel(discountRequestForm.get('amount_discount'))|raw }}
        {{ formElement(discountRequestForm.get('amount_discount'))|raw }}
    </div>
    <div class="FormError">
        {{ formElementErrors(discountRequestForm.get('amount_discount'))|raw }}
    </div>
    <div class="FormError">
        {{ formElementErrors(discountRequestForm.get('csrf'))|raw }}
        {{ formElementErrors(discountRequestForm.get('deal'))|raw }}
        {{ formElementErrors(discountRequestForm.get('type_form'))|raw }}
    </div>
    {{ formElement(discountRequestForm.get('submit'))|raw }}
</form>