<form method="post" name="refund-request-form" id="refund-request-form" class="FormLabelTop" action="{{ url('deal-refund-request', {'idDeal': deal['id']}) }}">
    {% if deal.type_ident == 'T' %}
        <div class="SubTitle">Возврат товара</div>
    {% elseif deal.type_ident == 'U' %}
        <div class="SubTitle">Отказ от услуги</div>
    {% endif %}
    <div class="Input-Wrapper">
        {% if deal['is_customer'] %}
            {% if deal.type_ident == 'T' %}
                <p>В срок не более 3-х рабочих дней Вам будет необходимо организовать доставку товара продавцу.</p>
            {% else %}
                <p>В срок не более 1-го рабочего дня Вам будет необходимо сообщить исполнителю об отказе от услуги.</p>
            {% endif %}
        {% else %}
            {% if deal.type_ident == 'T' %}
                <p>В срок не более 3-х рабочих дней покупателю будет необходимо вернуть Вам товар.</p>
            {% else %}
                <p>В срок не более 1-го рабочего дня заказчику будет необходимо сообщить Вам об отказе от услуги.</p>
            {% endif %}
        {% endif %}
    </div>
    {{ formElement(refundRequestForm.get('csrf'))|raw }}
    {{ formElement(refundRequestForm.get('deal'))|raw }}
    {{ formElement(refundRequestForm.get('type_form'))|raw }}

    <div class="FormError">
        {{ formElementErrors(refundRequestForm.get('csrf'))|raw }}
        {{ formElementErrors(refundRequestForm.get('deal'))|raw }}
        {{ formElementErrors(refundRequestForm.get('type_form'))|raw }}
    </div>
    {{ formElement(refundRequestForm.get('submit'))|raw }}
</form>