<form method="post" name="tribunal-request-form" id="tribunal-request-form" class="FormLabelTop" action="{{ url('deal-tribunal-request', {'idDeal': deal['id']}) }}" >
    <div class="SubTitle">Суд</div>
    <div class="Input-Wrapper">
        <label>
            После присвоения спору статуса Суд, в течение 10 дней Вам будет необходимо подтвердить данное решение, направив администрации копию обращения за судебной защитой.
        </label>
    </div>
    {{ formElement(tribunalRequestForm.get('csrf'))|raw }}
    {{ formElement(tribunalRequestForm.get('deal'))|raw }}
    {{ formElement(tribunalRequestForm.get('type_form'))|raw }}

    <div class="FormError">
        {{ formElementErrors(tribunalRequestForm.get('csrf'))|raw }}
        {{ formElementErrors(tribunalRequestForm.get('deal'))|raw }}
        {{ formElementErrors(tribunalRequestForm.get('type_form'))|raw }}
    </div>
    {{ formElement(tribunalRequestForm.get('submit'))|raw }}
</form>