{% extends 'twig/layout/application' %}

{% block content %}
    <div class="row nested-row">
        <div class="col-lg-7 col-lg-offset-1 col-lt-6 col-lt-offset-0 col-xl-10 col-xl-offset-2">
            <section class="ServiceOrderCreationStatusUpdatePage" id="ServiceOrderCreationStatusUpdate">

                <section class="ServiceOrderCreationStatusUpdatePage-Header">
                    <div class="TitleWithEditIcon">
                        <h1 class="TitleBlue">Статус создания заказа {{ order_number }} в {{ service_name }}
                            {% if old_creation_status['status'] == new_creation_status['status'] %} не{% endif %} изменился:</h1>
                    </div>
                    <div>
                        <strong>{{ new_creation_status['status_description'] }}</strong>
                    </div>
                    {% if new_creation_status['error_message'] %}
                        <div>
                            {{ new_creation_status['error_message'] }}
                        </div>
                    {% endif %}
                </section>

            </section>
        </div>
    </div>
{% endblock content %}