{% extends 'twig/layout/application' %}
{#
1 updateDeliveryDpdForm - форма
1 update_result - array
#}
{% do headTitle('Обновление DPD данных') %}
{% block content %}
    <div class="row nested-row">
        <div class="col-xl-10 col-xl-offset-2 col-lg-7 col-lg-offset-1 col-lt-6 col-lt-offset-0">
            <section id="section_delivery_dpd_update" class="PageForm">
                <div class="PageForm-Container">
                    <h1>Обновление DPD данных</h1>
                    <br>
                    <br>
                    <p>Нажмите на кнопку для обновления данных DPD по "городам"</p>
                    <br>
                    <div>
                        {% if city_update_result|length %}
                            {% if city_update_result['status'] == 'ERROR' %}
                                Извините, произошла ошибка: {{ city_update_result['message'] }}
                            {% else %}
                                Данные DPD по "городам" успешно обновлены!
                            {% endif %}
                            <br>
                            <br>
                        {% endif %}
                    </div>
                    {{ form().openTag(updateDeliveryDpdFormCity) |raw }}
                    {#<form class="FormLabelTop form-deal" method="POST" id="update_delivery_dpd_form_city"#}
                          {#action="{{ form_action_city }}">#}
                    {{ formElement(updateDeliveryDpdFormCity.get('form_type')) |raw }}
                    {{ formElement(updateDeliveryDpdFormCity.get('csrf')) |raw }}
                    <div>{{ formElementErrors(updateDeliveryDpdFormCity.get('csrf')) |raw }}</div>
                    <div class="row nested-row ButtonsRow">
                        <div class="col-xl-6 col-sm-2 col-xs-4">
                            {{ formElement(updateDeliveryDpdFormCity.get('submit')) |raw }}
                        </div>
                    </div>
                    {{ form().closeTag() |raw }}

                    <br>
                    <br>
                    <p>Нажмите на кнопку для обновления данных DPD по пунктам приема/доставки</p>
                    <br>
                    <div>
                        {% if point_update_result|length %}
                            {% if point_update_result['status'] == 'ERROR' %}
                                Извините, произошла ошибка: {{ point_update_result['message'] }}
                            {% else %}
                                Данные DPD по пунктам приема/доставки успешно обновлены!
                            {% endif %}
                            <br>
                            <br>
                        {% endif %}
                    </div>
                    {#<form class="FormLabelTop form-deal" method="POST" id="update_delivery_dpd_form_point"#}
                          {#action="{{ form_action_point }}">#}
                    {{ form().openTag(updateDeliveryDpdFormPoint) |raw }}
                    {{ formElement(updateDeliveryDpdFormPoint.get('form_type')) |raw }}
                    {{ formElement(updateDeliveryDpdFormPoint.get('csrf')) |raw }}
                    <div>{{ formElementErrors(updateDeliveryDpdFormPoint.get('csrf')) |raw }}</div>
                    <div class="row nested-row ButtonsRow">
                        <div class="col-xl-6 col-sm-2 col-xs-4">
                            {{ formElement(updateDeliveryDpdFormPoint.get('submit')) |raw }}
                        </div>
                    </div>
                    {{ form().closeTag() |raw }}
                </div>
            </section>
        </div>
    </div>
{% endblock content %}