
<div class="col-md-6 fadeInUp">
    <h1>Подтверждение Email</h1>
    <div class="registration__small_text">
        <p>На Ваш почтовый ящик отправлено сообщение, содержащее ссылку для подтверждения правильности e-mail адреса. Пожалуйста, перейдите по ссылке для завершения подписки.</p>

        <p>Если письмо не пришло в течение 15 минут, проверьте папку «Спам». Если письмо вдруг попало в эту папку, откройте письмо, нажмите кнопку «Не спам» и перейдите по ссылке подтверждения. Если же письма нет и в папке «Спам», попробуйте подписаться ещё раз. Возможно, вы ошиблись при вводе адреса.</p>

    </div>
    <form id="email-confirm-form" action="<?= $this->url('email/confirm') ?>" method="post" class="confirm-form">
        <div class="form-group">
            <label for="inputLogin">код</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-check"></span>
                </div>
                <input type="hidden" name="csrf" value="<?= $this->csrf ?>">
                <input type="text" size="100" name="confirmation_token" class="form-control" id="inputLogin" placeholder="Введите код">

            </div>
        </div>
        <input type="submit" class="btn btn-blue btn-confirm" value="Подтвердить" />
        <a href="<?= $this->url('email/resend') ?>" class="btn btn-grey glyphicon glyphicon-retweet btn-resend"></a>
    </form>
</div>