{% import 'macro/pageHelper.twig' as pageHelper %}

{% if is_last == true %}
    <p class="TextMarked">Крайний срок закрытия спора <strong>{{ pageHelper.dateFormat(data['expected_close_date'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ data['expected_days_for_close'] }} дней</strong>).</p>
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked">Продавец отклонил вариант решения спора покупателя: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей. </p>
        <p class="TextMarked TextMarked_info" id='history-arbitrage-request-after-discount-decline-last'>Продавец отклонил предложение покупателя 3 раза, был создан запрос на согласительную комиссию. Необходимо принять или отклонить запрос на согласительную комиссию.</p>
    {% else %}
        <p class="TextMarked">Исполнитель отклонил вариант решения спора заказчика: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей. </p>
        <p class="TextMarked TextMarked_info" id='history-arbitrage-request-after-discount-decline-last'>Исполнитель отклонил предложение покупателя 3 раза, был создан запрос на согласительную комиссию. Необходимо принять или отклонить запрос на согласительную комиссию.</p>
    {% endif %}
{% endif %}