{% import 'macro/pageHelper.twig' as pageHelper %}

{% if is_last %}
    <p class="TextMarked">Крайний срок закрытия спора <strong>{{ pageHelper.dateFormat(data['expected_close_date'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ data['expected_days_for_close'] }} дней</strong>).</p>
    <p class="TextMarked">Статус спора: запрос на согласительную комиссию отклонен.</p>
        {% if deal['type_ident'] == 'T' %}
            <p class="TextMarked" id='history-arbitrage-request-rejected-last'>Оператор отклонил вариант решения спора покупателя: согласительная комиссия.</p>
            <p class="TextMarked TextMarked_info">Покупателю и Продавцу отправлены уведомления. Стороны конфиликта в данном случае обладают правом обращения в суд в установленном порядке в целях разрешения спора, о чем обязуются сообщить Администрации посредством отправки письма на e-mail: mail@guarantpay.com.</p>
        {% else %}
            <p class="TextMarked" id='history-arbitrage-request-rejected-last'>Оператор отклонил вариант решения спора заказчика: согласительная комиссия.</p>
            <p class="TextMarked TextMarked_info">Заказчику и исполнителю отправлены уведомления. Стороны конфиликта в данном случае обладают правом обращения в суд в установленном порядке в целях разрешения спора, о чем обязуются сообщить Администрации посредством отправки письма на e-mail: mail@guarantpay.com.</p>
        {% endif %}
{% endif %}