{% import 'macro/pageHelper.twig' as pageHelper %}

{% if is_last == true %}
    <p class="TextMarked">Крайний срок закрытия спора <strong>{{ pageHelper.dateFormat(data['expected_close_date'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ data['expected_days_for_close'] }} дней</strong>).</p>
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked">Статус спора: предложение возврата отклонено.</p>
        <p class="TextMarked">Продавец отклонил предложенный Покупателем вариант решения спора: возврат товара.</p>
    {% else %}
        <p class="TextMarked">Статус спора: предложение отказа от услуги отклонено.</p>
        <p class="TextMarked">Исполнитель отклонил предложенный заказчиком вариант решения спора: отказ от услуги.</p>
    {% endif %}
    <p class="TextMarked TextMarked_info" id='history-arbitrage-request-after-refund-decline-last'>Создан запрос на согласительную комиссию. Необходимо принять или отклонить запрос на согласительную комиссию.</p>
{% endif %}