{% import 'macro/pageHelper.twig' as pageHelper %}

{% if is_last == true %}
    <p class="TextMarked">Крайний срок закрытия спора <strong>{{ pageHelper.dateFormat(data['expected_close_date'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ data['expected_days_for_close'] }} дней</strong>).</p>
    <p class="TextMarked">Статус спора: запрос на согласительную комиссию принят.</p>
    <p class="TextMarked">Оператор подтвердил вариант решения спора
        {% if deal['type_ident'] == 'T' %}
            покупателя:
        {% else %}
            заказчика:
        {% endif %}
         согласительная комиссия.</p>
    <p class="TextMarked TextMarked_info" id='history-arbitrage-request-accepted-last'>Необходимо связаться с контрагентами и приступить к рассмотрению спора.</p>
{% endif %}