{% import 'macro/pageHelper.twig' as pageHelper %}

{% if is_last == true %}
        <p class="TextMarked">Крайний срок закрытия спора <strong>{{ pageHelper.dateFormat(data['expected_close_date'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ data['expected_days_for_close'] }} дней</strong>).</p>
        <p class="TextMarked">Статус спора: запрос на согласительную комиссию.</p>
        <p class="TextMarked" id='history-arbitrage-request-after-tribunal-decline-last'>
            {% if deal['type_ident'] == 'T' %}
                Покупатель
            {% else %}
                Заказчик
            {% endif %}
                предложил вариант решения спора: согласительная комиссия.</p>
        <p class="TextMarked TextMarked_info">Необходимо принять или отклонить запрос на согласительную комиссию.</p>
        <p class="TextMarked">В случае отказа Администрация должна проинформировать Стороны о своем отказе участвовать в решении спорного вопроса по вышеуказанным обстоятельствам, направляя на электронную почту Сторон соответствующие письма.</p>
{% endif %}