{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}

{% if is_last == true %}
    <p class="TextMarked">Крайний срок закрытия спора <strong>{{ pageHelper.dateFormat(data['expected_close_date'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ data['expected_days_for_close'] }} дней</strong>).</p>
    <p class="TextMarked">Статус спора: предложение скидки отклонено.</p>
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked" id='history-discount-request-rejected-last'>Продавец отклонил вариант решения спора покупателя: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей. </p>
    {% else %}
        <p class="TextMarked" id='history-discount-request-rejected-last'>Исполнитель отклонил вариант решения спора заказчика: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей. </p>
    {% endif %}
    {% if data['date_waiting_params']['d'] != 0 and data['date_waiting_params']['h'] != 0 and data['date_waiting_params']['i'] != 0 %}
        <p class="TextMarked TextMarked_info">Если соглашение не будет достигнуто до <strong>{{ pageHelper.dateFormat(data['date_waiting'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ translate.dateWaiting(data['date_waiting_params'])|trim }}</strong>) необходимо связаться с контрагентами и приступить к рассмотрению спора.</p>
    {% else %}
        <p class="TextMarked TextMarked_info">Необходимо связаться с контрагентами и приступить к рассмотрению спора.</p>
    {% endif %}
{% endif %}
