{% import 'macro/pageHelper.twig' as pageHelper %}

{% if is_last == true %}
    <p class="TextMarked">Крайний срок закрытия спора <strong>{{ pageHelper.dateFormat(data['expected_close_date'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ data['expected_days_for_close'] }} дней</strong>).</p>
    <p class="TextMarked">Статус спора: предложение скидки принято.</p>
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked" id='history-discount-request-accepted-last'>Продавец подтвердил вариант решения спора покупателя: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей. </p>
        <p class="TextMarked TextMarked_info">Необходимо перейти к спору и подготовить платежки на скидку и выплату. После чего закрыть спор и добавить необходимое количество дней к гарантийному периоду если покупатель не получил товар.</p>
    {% else %}
        <p class="TextMarked" id='history-discount-request-accepted-last'>Исполнитель подтвердил вариант решения спора заказчика: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей. </p>
        <p class="TextMarked TextMarked_info">Необходимо перейти к спору и подготовить платежки на скидку и выплату. После чего закрыть спор и добавить необходимое количество дней к гарантийному периоду если заказчик не получил услугу.</p>
    {% endif %}
{% endif %}
