{% if is_last == true %}
    <p class="TextMarked" id='history-discount-last'>Подготовлены платежки на выплату и скидку {{ data['amount'] |number_format(2, '.', ' ') }} рублей.</p>
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked TextMarked_info">Необходимо перейти к спору и закрыть его, добавив необходимое количество дней к гарантийному периоду если покупатель не получил товар.</p>
    {% else %}
        <p class="TextMarked TextMarked_info">Необходимо перейти к спору и закрыть его, добавив необходимое количество дней к гарантийному периоду если заказчик не получил услугу.</p>
    {% endif %}
{% endif %}

