{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}

{% if is_last == true %}
    <p class="TextMarked">Крайний срок закрытия спора <strong>{{ pageHelper.dateFormat(data['expected_close_date'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ data['expected_days_for_close'] }} дней</strong>).</p>
    <p class="TextMarked">Статус спора: предложено решение скидка.</p>
    <p class="TextMarked" id='history-discount-request-last'>
        {% if deal['type_ident'] == 'T' %}
            Покупатель
        {% else %}
            Заказчик
        {% endif %}
        предложил вариант решения спора: скидка {{ data['amount'] |number_format(2, '.', ' ') }} рублей.</p>
    {% if data['date_waiting_params']['d'] != 0 and data['date_waiting_params']['h'] != 0 and data['date_waiting_params']['i'] != 0 %}
        {% if deal['type_ident'] == 'T' %}
            <p class="TextMarked TextMarked_info">Продавцу необходимо подтвердить предложенное покупателем решение. Если соглашение не будет достигнуто до <strong>{{ pageHelper.dateFormat(data['date_waiting'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ translate.dateWaiting(data['date_waiting_params']) }}</strong>) необходимо связаться с контрагентами и приступить к рассмотрению спора.</p>
        {% else %}
            <p class="TextMarked TextMarked_info">Исполнителю необходимо подтвердить предложенное заказчиком решение. Если соглашение не будет достигнуто до <strong>{{ pageHelper.dateFormat(data['date_waiting'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ translate.dateWaiting(data['date_waiting_params']) }}</strong>) необходимо связаться с контрагентами и приступить к рассмотрению спора.</p>
        {% endif %}
    {% else %}
        <p class="TextMarked TextMarked_info">Необходимо связаться с контрагентами и приступить к рассмотрению спора.</p>
    {% endif %}
{% endif %}
