{% import 'macro/pageHelper.twig' as pageHelper %}

{% if is_last == true %}
    <p class="TextMarked" id='history-closed-after-discount-last'>Спор по сделке закрыт <strong>{{ pageHelper.dateFormat(data['date_closed_dispute'], 'd.m.Y')|trim }}</strong>.</p>
    <p class="TextMarked">По результатам спора было согласовано решение: <strong>скидка {{ data['amount'] }} рублей</strong>.</p>
    <p class="TextMarked">Гарантийный период сделки заканчивается <strong>{{ pageHelper.dateFormat(data['date_deadline'], 'd.m.Y')|trim }}</strong>.</p>
    {% if deal['type_ident'] == 'T' %}
        <p class="TextMarked TextMarked_info">Продавцу необходимо исполнить обязательства по договору, а покупателю подтвердить доставку товара.</p>
    {% else %}
        <p class="TextMarked TextMarked_info">Исполнителю необходимо исполнить обязательства по договору, а заказчику подтвердить выполнение услуги.</p>
    {% endif %}
{% endif %}
