{% import 'macro/pageHelper.twig' as pageHelper %}
{% import 'macro/translate.twig' as translate %}

{% if is_last == true %}
    <p class="TextMarked" id='dispute-open-for-operator-last'>
        {% if deal['type_ident'] == 'T' %}
            Покупатель
        {% else %}
            Заказчик
        {% endif %}
        открыл спор, сделка приостановлена.</p>
    <p class="TextMarked">Крайний срок закрытия спора <strong>{{ pageHelper.dateFormat(data['expected_close_date'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ data['expected_days_for_close'] }} дней</strong>).</p>
    <p class="TextMarked">Статус спора: первичный.</p>
    {% if data['date_waiting_params']['d'] != 0 and data['date_waiting_params']['h'] != 0 and data['date_waiting_params']['i'] != 0 %}
        {% if deal['type_ident'] == 'T' %}
            <p class="TextMarked TextMarked_info">Если покупатель и продавец самостоятельно не согласуют решение до <strong>{{ pageHelper.dateFormat(data['date_waiting'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ translate.dateWaiting(data['date_waiting_params'])|trim }}</strong>) необходимо связаться с контрагентами и приступить к рассмотрению спора.</p>
        {% else %}
            <p class="TextMarked TextMarked_info">Если заказчик и исполнитель самостоятельно не согласуют решение до <strong>{{ pageHelper.dateFormat(data['date_waiting'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ translate.dateWaiting(data['date_waiting_params'])|trim }}</strong>) необходимо связаться с контрагентами и приступить к рассмотрению спора.</p>
        {% endif %}
    {% else %}
        <p class="TextMarked TextMarked_info">{{ pageHelper.dateFormat(data['date_waiting'], 'd.m.Y')|trim }} истек срок урегулирования спора без привлечения согласительной комиссии. Необходимо связаться с контрагентами и приступить к рассмотрению спора.</p>
    {% endif %}
{% endif %}
