{% import 'macro/pageHelper.twig' as pageHelper %}

{% if is_last %}
    <p class="TextMarked" id='history-dispute-canceled-last'>
        {% if deal['type_ident'] == 'T' %}
            Покупатель
        {% else %}
            Заказчик
        {% endif %}
        закрыл спор <strong>{{ pageHelper.dateFormat(data['date_closed_dispute'], 'd.m.Y')|trim }}</strong>.</p>
{% endif %}

