{% import 'macro/pageHelper.twig' as pageHelper %}

{% if is_last == true %}
        <p class="TextMarked">Крайний срок закрытия спора <strong>{{ pageHelper.dateFormat(data['expected_close_date'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ data['expected_days_for_close'] }} дней</strong>).</p>
    {% if deal_type_ident == 'T' %}
        <p class="TextMarked">Статус спора: предложение возврата принято.</p>
        <p class="TextMarked" id='history-refund-request-accepted-last'>Продавец подтвердил вариант решения спора покупателя: возврат товара.</p>
        <p class="TextMarked TextMarked_info">В срок не более 3-х рабочих дней покупателю необходимо организовать доставку товара, указать наименование транспортной компании либо иной службы, которой осуществляется доставка, а также код для отслеживания актуального статуса доставки и квитанцию.</p>
        <p class="TextMarked TextMarked_info">Продавец должен подтвердить получение товара от покупателя.</p>
        <p class="TextMarked TextMarked_info">Если в течение 3-х календарных дней от момента фактической доставки продавец не уведомляет Администрацию о получении товара от Покупателя, то Организация может вернуть покупателю денежные средства по Сделке за вычетом Комиссии.</p>
    {% else %}
        <p class="TextMarked">Статус спора: предложение отказа от услуги принято.</p>
        <p class="TextMarked">Исполнитель подтвердил вариант решения спора заказчика: отказ от услуги.</p>
    {% endif %}
{% endif %}