{% import 'macro/pageHelper.twig' as pageHelper %}

{% if is_last %}
    <p class="TextMarked">Крайний срок закрытия спора <strong>{{ pageHelper.dateFormat(data['expected_close_date'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ data['expected_days_for_close'] }} дней</strong>).</p>
    {% if deal_type_ident == 'T' %}
        <p class="TextMarked">Статус спора: предложение возврата отклонено.</p>
        <p class="TextMarked" id='history-refund-request-rejected-last'>Продавец отклонил предложенный покупателем вариант решения спора: возврат товара.</p>
    {% else %}
        <p class="TextMarked">Статус спора: предложение отказа от услуги отклонено.</p>
        <p class="TextMarked" id='history-refund-request-rejected-last'>Исполнитель отклонил предложенный заказчиком вариант решения спора: отказ от услуги.</p>
    {% endif %}
    <p class="TextMarked TextMarked_info">Создан запрос на согласительную комиссию. Необходимо принять или отклонить запрос на согласительную комиссию.</p>
{% endif %}