{% if is_last %}
    <p class="TextMarked" id='history-refund-is-made-last'>Возврат осуществлен.</p>
    {% if deal_type_ident == 'T' %}
        <p class="TextMarked TextMarked_info">На счет покупателя отправлены деньги за товар.</p>
    {% else %}
        <p class="TextMarked TextMarked_info">На счет заказчика отправлены деньги за услугу.</p>
    {% endif %}
{% endif %}