{% if is_last == true %}
    <p class="TextMarked">Продавец подтвердил получение товара.</p>
    <p class="TextMarked TextMarked_info" id='history-refund-last'>Необходимо перейти к спору и подготовить платежку на возврат.</p>
{% endif %}
