{% import 'macro/pageHelper.twig' as pageHelper %}

{% if is_last == true %}
    <p class="TextMarked">Крайний срок закрытия спора <strong>{{ pageHelper.dateFormat(data['expected_close_date'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ data['expected_days_for_close'] }} дней</strong>).</p>
    <p class="TextMarked">Статус спора: запрос на суд.</p>
    <p class="TextMarked" id='history-tribunal-request-last'>В качестве решения спора
        {% if deal['type_ident'] == 'T' %}
            покупатель
        {% else %}
            заказчик
        {% endif %}
        указал: Суд.</p>
    <p class="TextMarked TextMarked_info">Необходимо принять или отклонить запрос на суд.</p>
    <p class="TextMarked">В случае отказа спор перейдет на рассмотрение согласительной комиссии.</p>
{% endif %}
