{% if is_last == true %}
        <p class="TextMarked" id='history-tribunal-last'>Спор по сделке передан в суд.</p>
        <p class="TextMarked">После получения вступившего в силу судебного решения признанного обоими сторонами Спора, Организация переводит денежные средства тому Пользователю перевод которому подтвердят оба Пользователя которые участвуют в споре.</p>
        <p class="TextMarked">В случае если один из Пользователей участвующих в споре не признает судебного решения, то Организация перевод денежные средства в службу судебных приставов в соответствии с их требованием.</p>
{% endif %}