{% import 'macro/pageHelper.twig' as pageHelper %}

{% if is_last == true %}
    <p class="TextMarked">Крайний срок закрытия спора <strong>{{ pageHelper.dateFormat(data['expected_close_date'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ data['expected_days_for_close'] }} дней</strong>).</p>
    <p class="TextMarked">Статус спора: запрос на суд принят.</p>
    <p class="TextMarked">Оператор подтвердил вариант решения спора
        {% if deal['type_ident'] == 'T' %}
            покупателя: суд.
        {% else %}
            заказчика: суд.
        {% endif %}
    </p>
    <p class="TextMarked TextMarked_info" id='history-tribunal-request-accepted-last'>В течение <strong>10-дней</strong>
        {% if deal['type_ident'] == 'T' %}
            покупателю
        {% else %}
            заказчику
        {% endif %}
        необходимо подтвердить данное решение направив Администрации копию обращения за судебной защитой.</p>
    <p class="TextMarked TextMarked_info">После подтверждения обращения необходимо перейти к спору, прикрепить копию судебного обращения и закрыть спор со стаутусом “суд”.</p>
{% endif %}