{% import 'macro/pageHelper.twig' as pageHelper %}

{% if is_last == true %}
    <p class="TextMarked">Крайний срок закрытия спора <strong>{{ pageHelper.dateFormat(data['expected_close_date'], 'd.m.Y')|trim }}</strong> (осталось <strong>{{ data['expected_days_for_close'] }} дней</strong>).</p>
    <p class="TextMarked" id='history-tribunal-request-rejected-last'>Статус спора: запрос на суд отклонен.</p>
    <p class="TextMarked">Оператор отклонил вариант решения спора
        {% if deal['type_ident'] == 'T' %}
            покупателя: суд.
        {% else %}
            заказчика: суд.
        {% endif %}
    </p>
    <p class="TextMarked TextMarked_info">Спор переходит на рассмотрение согласительной комиссии. Необходимо связаться с контрагентами и приступить к рассмотрению спора.</p>
{% endif %}