{% extends 'twig/layout/application' %}
{% import 'macro/routes.twig' as routes %}
{#
1 Массив массивов passports, каждый элемент которого содержит ключи:
    passports [
        0 => [
                ['id']
                ['passport_serial_number']
                ['date_issued']
                ['passport_issue_organisation']
                ['date_expired']
                'files' => [
                     0 => [
                        'civilId'=>'123',
                        'id'=>'321',
                        'name'=>'321',
                        'type'=>'jpg',
                     ]
                 ]
            ],
        1 => [],
        ...
        и т.д.
    ]

2. Булевая переменная
    is_operator - по ее значению показываем что-то оператору или скрываем

3. Объект
    paginator {
      'pageCount' => int 1
      'itemCountPerPage' => int 20
      'first' => int 1
      'current' => int 1
      'last' => int 1
      'pagesInRange' =>
          1 => int 1
      'firstPageInRange' => int 1
      'lastPageInRange' => int 1
      'currentItemCount' => int 2
      'totalItemCount' => int 2
      'firstItemNumber' => int 1
      'lastItemNumber' => int 2
    }
#}
{% do headTitle('Пасспорта') %}
{% block content %}
    <section class="PageTable">
        <form method="get" class="TableWrapper" id="natural-person-passport-filter-form">
            <table class="TableDefault js-table-rows-are-link" data-start="1" data-length="5">
                <tr class="FilterTableRow">
                    <td>
                    </td>
                    <td>
                        <input class="InputSearch" type="text" placeholder="Серия и номер">
                    </td>
                    <td>
                        <input class="InputDate2 datepicker-here" type="text" placeholder="Дата выдачи">
                    </td>
                    <td>
                        <input class="InputSearch" type="text" placeholder="Кем выдан">
                    </td>
                    <td>
                        <input class="InputDate2 datepicker-here" type="text" placeholder="Дата истечения">
                    </td>
                    <td>
                    </td>
                    <td>
                        <button class="ButtonSearch" type="submit"><span>&nbsp;</span></button>
                    </td>
                </tr>
                <tr class="Head">
                    <td>
                            №
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('passportSerialNumber') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('passportSerialNumber')) ?' active':'' }}"></i>
                            Серия и номер
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('dateIssued') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('dateIssued')) ?' active':'' }}"></i>
                            Дата выдачи
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('passportIssueOrganisation') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('passportIssueOrganisation')) ?' active':'' }}"></i>
                            Кем выдан
                        </a>
                    </td>
                    <td>
                        <a href="{{ sortHelper().getSortLink('dateExpired') }}" class="LinkSort">
                            <i class="LinkSort-Icon
                                {{ (sortHelper().getSort() == 'DESC') ?' LinkSort-Icon_down': ' LinkSort-Icon_up' }}
                                {{ (sortHelper().isActive('dateExpired')) ?' active':'' }}"></i>
                            Дата истечения
                        </a>
                    </td>
                    <td>
                        Файлы
                    </td>
                    <td></td>
                </tr>
                {% if passports |length > 0 %}
                    {% for passport in passports %}
                        <tr data-path="{{ routes.passportSingle(passport['id'])|trim  }}">
                            <td>
                                {{ loop.index }}
                            </td>
                            <td data-label="Серия и номер:">
                                {{ passport['passport_serial_number'] }}
                            </td>
                            <td data-label="Дата выдачи:">
                                {{ passport['date_issued'] }}
                            </td>
                            <td data-label="Кем выдан:">
                                {{ passport['passport_issue_organisation'] }}
                            </td>
                            <td data-label="Дата истечения:">
                                {{ passport['date_expired'] }}
                            </td>
                            <td data-label="Файлы:">
                                {% if passport['files'] |length > 0 %}
                                    {% for file in passport['files'] %}
                                        <a target="_blank" href="{{ routes.showFile(file) |trim }}">
                                            <i class="{{ 'Icon'~file['type'] | upper }}"></i>
                                        </a><br>
                                    {% endfor %}
                                {% else %}
                                    &#8212;
                                {% endif %}
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="EmptyRow">
                        <td colspan="7">
                            Паспорта не найдены.
                        </td>
                    </tr>
                {% endif %}
            </table>
        </form>
    </section>
{% endblock content %}

