{% extends 'twig/layout/application' %}

{#
1. Объект
    passportForm => {
        'idNaturalPerson'
        'passport_serial_number'
        'date_issued'
        'passport_issue_organisation'
        'date_expired'
        'file'
        'csrf'
        'submit'
    }
#}
{% do headTitle('Добавление паспорта') %}
{% block content %}
    <section class="PageForm">
        <div class="PageForm-Container PageForm-Container_large">
            <form class="FormLabelTop" method="POST" enctype="multipart/form-data" id="natural-person-passport-create-form">
                {{ formElement(passportForm.get('csrf'))|raw }}
                {{ formElement(passportForm.get('idNaturalPerson')) |raw }}

                <h3 class="TitleBlue">Добавление паспорта</h3>

                <div class="Input-Wrapper">
                    <label for="passport-number">Серия и номер</label>
                    {{ formElement(passportForm.get('passport_serial_number')) |raw }}
                    <div class="FormError">{{ formElementErrors(passportForm.get('passport_serial_number')) |raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    <label for="passport-date-issue">Дата выдачи</label>
                    <input name="date_issued" id="passport-date-issue" class="InputDate datepicker-here" placeholder="Выберите дату выдачи" value="" type="text">
                    <div class="FormError">{{ formElementErrors(passportForm.get('date_issued')) |raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    <label for="passport-issue">Кем выдан</label>
                    {{ formElement(passportForm.get('passport_issue_organisation')) |raw }}
                    <div class="FormError">{{ formElementErrors(passportForm.get('passport_issue_organisation')) |raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    <label for="passport-date-expired">Дата истечения</label>
                    <input name="date_expired" id="passport-date-expired" class="InputDate datepicker-here" placeholder="Выберите дату истечения" value="" type="text">
                    <div class="FormError">{{ formElementErrors(passportForm.get('date_expired')) |raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    <div class="InputFile js-download-file">
                        <label for="download-file" class="InputFile-Label">Файл</label>
                        <span class="InputFile-Container">
                            <mark data-text-default="Выберите файл..." class="notChange">Выберите файл...</mark>
                            <input name="file" id="download-file" type="file" placeholder="">
                            <span class="InputFile-Delete js-clear-download-file"></span>
                        </span>

                    </div>
                    <div class="FormError">{{ formElementErrors(passportForm.get('file')) |raw }}</div>
                </div>

                <div class="FormError">{{ formElementErrors(passportForm.get('csrf')) |raw }}</div>

                <div class="ButtonsRow">
                    <button type="submit" value="" class="ButtonApply">Сохранить</button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}