{% extends 'twig/layout/application' %}
{% import 'macro/routes.twig' as routes %}
{#
1. Массив (показаны значения из тестового объекта):
    passport [
      'id' => int 1
      'passport_serial_number' => string '121212121212'
      'date_issued' => string '31.12.2020'
      'passport_issue_organisation' => string 'ОВД г.Брянска'
      'date_expired' => string '31.12.2020'
      'files' => [
         0 => [
            'civilId'=>'123',
            'id'=>'321',
            'name'=>'321',
            'type'=>'jpg',
         ]
      ]
    ]
#}
{% do headTitle('Удаление паспорта') %}
{% block content %}
    <section class="PageForm">
        <div class="PageForm-Container">
            <form class="FormView" method="POST" id="natural-person-passport-delete-form"
                  action="{{ routes.passportSingle(passport['id']) |trim }}">

                <input type="hidden" name="_method" value="delete">

                <h3 class="TitleBlue">Вы уверены, что хотите удалить?</h3>

                <div class="InfoField">
                    <p class="InfoField-Label">Серия и номер:</p>
                    <p class="InfoField-Text">{{ passport['passport_serial_number'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">Дата выдачи:</p>
                    <p class="InfoField-Text">{{ passport['date_issued'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">Кем выдан:</p>
                    <p class="InfoField-Text">{{ passport['passport_issue_organisation'] }}</p>
                </div>
                <div class="InfoField">
                    <p class="InfoField-Label">Дата истечения:</p>
                    <p class="InfoField-Text">{{ passport['date_expired'] }}</p>
                </div>
                {% if passport['files'] |length > 0 %}
                    {% for file in passport['files'] %}
                        <div class="InfoField">
                            <p class="InfoField-Label">Файл:</p>
                            <p class="InfoField-Text">
                                <a target="_blank" href="{{ routes.showFile(file) |trim }}">{{ file['name'] }}</a>
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="ButtonsRow">
                    <button class="ButtonDelete margin-right" type="submit" value="" data-ripple-button="">
                        <span class="ripple-text">Удалить</span>
                    </button>
                    <a href="{{ routes.passportSingle(passport['id']) |trim }}"
                       class="ButtonRefuse" data-ripple-button="">
                        <span class="ripple-text">Отменить</span>
                    </a>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
