{% extends 'twig/layout/application' %}
{% import 'macro/routes.twig' as routes %}
{#
1. Объект
    passportForm => {
        'passport_serial_number'
        'date_issued'
        'passport_issue_organisation'
        'date_expired'
        'file'
        'idNaturalPerson'
        'csrf'
        'submit'
    }

2. Массив (показаны значения из тестового объекта):
    passport [
      'id' => int 1
      'passport_serial_number' => string '121212121212'
      'date_issued' => string '31.12.2020'
      'passport_issue_organisation' => string 'ОВД г.Брянска'
      'date_expired' => string '31.12.2020'
      'files' => [
         0 => [
            'civilId'=>'123',
            'id'=>'321',
            'name'=>'321',
            'type'=>'jpg',
         ]
      ]
    ]
#}
{% do headTitle('Редактирование паспорта') %}
{% block content %}
    <section class="PageForm">
        <div class="PageForm-Container">
            <form class="FormLabelLeft" method="POST" enctype="multipart/form-data", id="natural-person-passport-edit-form">
                {{ formElement(passportForm.get('csrf'))|raw }}
                {{ formElement(passportForm.get('idNaturalPerson')) |raw }}

                <h3 class="TitleBlue">Редактирование паспорта</h3>

                <div class="Input-Wrapper">
                    <label for="passport-number">Серия и номер:</label>
                    {{ formElement(passportForm.get('passport_serial_number')) |raw }}
                    <div class="FormError">{{ formElementErrors(passportForm.get('passport_serial_number')) |raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    <label for="passport-date-issue">Дата выдачи:</label>
                    <input name="date_issued" id="passport-date-issue" class="InputDate datepicker-here" placeholder="Выберите дату выдачи" value="{{ passport['date_issued'] }}" type="text">
                    <div class="FormError">{{ formElementErrors(passportForm.get('date_issued')) |raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    <label for="passport-issue">Кем выдан:</label>
                    {{ formElement(passportForm.get('passport_issue_organisation')) |raw }}
                    <div class="FormError">{{ formElementErrors(passportForm.get('passport_issue_organisation')) |raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    <label for="passport-date-expired">Дата истечения:</label>
                    <input name="date_expired" id="passport-date-expired" class="InputDate datepicker-here" placeholder="Выберите дату истечения" value="{{ passport['date_expired'] }}" type="text">
                    <div class="FormError">{{ formElementErrors(passportForm.get('date_expired')) |raw }}</div>
                </div>

                <div class="Input-Wrapper">
                    <div class="InputFile js-download-file">
                        <label for="download-file" class="InputFile-Label">Файл:</label>
                        <span class="InputFile-Container">
                            <mark data-text-default="Выберите файл..." class="notChange">{{ passport['files']['0']['name'] }}</mark>
                            {{ formElement(passportForm.get('file'))|raw }}
                            <span class="InputFile-Delete js-clear-download-file"></span>
                        </span>
                    </div>
                    <div class="FormError">{{ formElementErrors(passportForm.get('file')) |raw }}</div>
                </div>

                <div class="FormError">{{ formElementErrors(passportForm.get('csrf'))|raw }}</div>

                <div class="ButtonsRow">
                    {% if is_operator == false %}
                        <a href="{{ routes.passportDelete(passport['id']) |trim }}" class="ButtonDelete margin-right">Удалить</a>
                    {% endif %}
                    <button class="ButtonApply" type="submit" value="">Сохранить</button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
