.deal-filters-wrapper{
  background: rgb(241, 244, 248);
  padding: 26px 16px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 72px;
  z-index: 2;
  width: 20%;
  transition: transform .4s;
  transform: translateX(100%);

  &.is-visible{
    transform: none;
  }

  @import (multiple) '../atoms/deal-filter-field';
  @import (multiple) '../atoms/dropdown-field';
  @import (multiple) './filter-date-range';

}
