.delivery-point{

  .delivery-point__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 @grid-vertical-gutter 0;

    label{
      margin: 0;
    }

  }

  .delivery-point__body{
    padding: 12px;
    border-radius: 4px;
    border: 1px solid @dark-grey-color;
  }

  .delivery-point__name{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.0016px;
    color: @text-dark-grey-color;
  }

  .delivery-point__address{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 12px;
    color: #4F4F4F;
  }

  .delivery-point__schedule{
    p {
      line-height: 16px;
      font-size: 12px !important;
    }
    margin-top: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #4F4F4F;
  }

  .delivery-point__change-btn{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 14px;
    color: @accent-color;
    text-decoration: none;
    padding: 0;
    background: transparent;
    margin: 0;
  }

}