.delivery-type-radio{
  display: flex;

  @media (max-width: @grid-breakpoint-sm) {
    display: block;
  }

  .radiobutton{
    display: none;
  }

  .delivery-type__item{
    width: 100%;
    max-width: 250px;

    @media (max-width: @grid-breakpoint-sm) {
      max-width: none;
    }

    label{

      @media (max-width: @grid-breakpoint-sm) {
        margin: 0;
      }

    }

    &:first-child label{
      border-radius: @border-radius 0 0 @border-radius;

      @media (max-width: @grid-breakpoint-sm) {
        border-radius: @border-radius @border-radius 0 0;
        border-bottom: none;
      }

    }
    &:last-child label{
      border-radius: 0 @border-radius @border-radius 0;

      @media (max-width: @grid-breakpoint-sm) {
        border-radius:  0 0 @border-radius @border-radius;
        border-top: none;
      }

    }

    input[type="radio"]:checked{
      & ~ label {
        background-color: @accent-color;
        border-color: @apply-action-color;
        color: #fff;
      }
    }

  }
  
  label{
    background: none;
    text-align: center;
    border: 1px solid @dark-grey-color;
    height: 36px;
    line-height: 36px;
    border-radius: @border-radius;
    transition: background-color .3s, border-color .3s, color .3s;
    color: @header-color;
    display: block;
    width: 100%;

    &:hover{
      background: none;
    }

  }

}