.filter-date-range{
  position: relative;

  @import (multiple) '../atoms/date-range-list';

  .filter-date-range__datepickers{
    opacity: 0;
    position: absolute;
    top: -10000px;
    right: calc(100% + 16px);
    transition: opacity .3s, transform 0s linear .3s, top 0s linear .3s;
    transform: translateY(100px);
    display: flex;
  }

  input[type="checkbox"]{
    display: none;

    &:checked{

      & ~ .filter-date-range__datepickers{
        top: 0;
        opacity: 1;
        transform: none;
        transition: opacity .3s, transform 0s linear;
      }

    }

  }

  .filter-date-range__datepicker{
    margin-right: 20px;

    &:last-child{
      margin-right: 0;
    }

  }

}