.form-side-menu{
  max-width: 260px;
  width: 100%;
  margin-left: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(32, 73, 146, 0.2);
  position: relative;
  top: 0;

  @media (max-width: @grid-breakpoint-md){
    margin-top: 24px;
    margin-left: 0;
    max-width: none;
    transform: none !important;
  }
  @media (max-width: @grid-breakpoint-sm){
    box-shadow: none;
  }

  li{
    &:first-child{
      .form-side__link{
        @media (max-width: @grid-breakpoint-sm){
          border-top: 1px solid @border-color;
        }
      }
    }
  }

  .form-side__link{
    padding: 16px;
    font-size: 14px;
    line-height: 18px;
    color: @accent-color;
    transition: color .4s, background-color .4s;
    background-color: transparent;
    border-bottom: 1px solid @border-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: @grid-breakpoint-md){
      padding: 16px 32px;
    }

    @media (max-width: @grid-breakpoint-sm){
      padding: 16px;
    }

    &:after{
      content: '>';
      display: inline-block;
      position: relative;
      font-size: 120%;
      margin-left: 8px;
      left: 0;
      transition: left .4s;
    }

    &:hover{
      background-color: lighten(@border-color, 15%);

      &:after{
        left: 4px;
      }

    }

  }

}