.mobile-profile-title {
  display: none;
  height: 36px;
  background-color: #333F52;
  text-align: center;
  padding: 8px 14px;
  h1 {
    color: #FFFFFF; font-weight: 600; font-size: 14px;
  }
  @media (max-width: @grid-breakpoint-sm) {
    display: block;
  }
}