.payment-details {
  display: flex;
  flex-direction: column;
  .payment-details-title {
    font-size: 18px;
    line-height: 1.33;
  }

  table {
    border-collapse: separate;
    border-spacing: 0 13px;
    max-width: 448px;
    width: 100%;
    @media (max-width: @small) {
      table-layout: fixed;
    }
    td {
      padding: 6px 0 6px 16px;
      vertical-align: middle;
      background-color: @table-hover-background;
      @media (max-width: @grid-breakpoint-md) {
        display: block;
      }
    }

    tr.sum td {
      font-weight: 500;
    }
    td.title {
      font-weight: 500;
    }
    td.value {
      text-align: right;
      padding-right: 16px;
      word-wrap: break-word;
      @media (max-width: @grid-breakpoint-md) {
        text-align: left;
      }
    }
  }
}