.payment-info-header {
  display: flex;
  align-items: center;
  //margin: 20px 0;
  @import (multiple) "../atoms/icon-warning";
  @import (multiple) "../atoms/icon-ok-large";
  .icon-ok-large {
    margin-right: 12px;
  }
  @import (multiple) "../atoms/text-payment-status";
}