.pick-point{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 12px;
  color: @text-dark-grey-color;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 2;

  .pick-point__select-btn{
    @import (multiple) '../atoms/ButtonApply';
    .ButtonApply{
      max-width: none;
      width: 100%;
    }
  }

  .pick-point__body{
    padding: 0 20px;
    overflow: auto;
    height: calc(~'100% - 60px');

  }

  .pick-point__head{
    padding: 18px 20px;
    background-color: #E0E0E0;
  }

  .pick-point__back-btn{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.0016px;
    color: @accent-color;
    padding: 0;
    margin: 0;

    &:before{
      content: '';
      border: 1px solid @border-color;
      box-sizing: border-box;
      border-radius: 4px;
      display: inline-block;
      background: #ffffff url("/img/application/back-arrow-icon.svg") no-repeat center;
      width: 24px;
      height: 24px;
      margin-right: 8px;
      vertical-align: middle;
    }

  }

  .pick-point-details-group{
    padding-top: 9px;
    padding-bottom: 12px;

    &:not(:first-child){
      border-top: 1px solid @dark-grey-color;
    }

  }

  .pick-point__select-btn{
    margin-top: 5px;
  }

  .pick-point__name{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.0016px;
  }

}