.profile-deal-buttons {
  @import (multiple) "./../atoms/ButtonApply";
  display: flex;
  flex-direction: row;
  display: block;

  .profile-create-deal {
    margin-top: 24px;
    //width: 36%;
    @media (max-width: 480px) {
      margin-left: 0;
      margin-top: 24px;
      width: 100%;
    }
  }

  .ButtonApply{
    width: 100%;
    max-width: none;
  }

  @media (max-width: 480px) {
    flex-direction: column;
  }
}