.verify-message{
  padding-top: 210px;
  background: url("/img/noconnection.svg") no-repeat 50% 0;
  background-size: auto 170px;

  .verify-message__title{
    color: @apply-action-color;
    font-family: Lato, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    font-size: 24px;
    text-align: center;
    letter-spacing: -0.45px;
    margin-bottom: 16px;
  }

  .verify-message__text{
    color: @message-color;
    font-family: Lato, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.5px;
  }

  @import (multiple) "../atoms/ButtonApply";

  .ButtonApply{
    width: 100%;
    height: 48px;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px auto 0;
    line-height: 34px;
    display: block;
  }

}