{% macro getDealTemplatePath(code, is_last, counter_agent_role_dp, counter_agent_role, data, mandarin_acquiring, available_payment_method_types, customer, contractor, deal, deal_type_ident, created, trackingNumberForm, datePickupForm) %}
    {# !!!!!! CUSTOMER !!!! #}
    {% set PAYMENT_STATUS_SUCCESS_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/msg_payment-status-success-last.twig' %}
    {% set AUTOMATIC_TIMEOUT_CLOSE_DEBIT_MATCHED_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/info_msg-automatic-timeout-close-debit-matched-last.twig' %}
    {% set AUTOMATIC_TIMEOUT_CLOSE_MANDARIN_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/info_msg-automatic-timeout-close-mandarin-last.twig' %}
    {% set CONTRACTOR_MUST_FULFILL_OBLIGATIONS_DEBIT_MATCHED_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/contractor-must-fulfill-obligations-debit-matched-last.twig' %}
    {% set YOU_CONFIRMED_OBLIGATIONS_FULFILLMENT_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/you-confirmed-obligations-fulfillment-last.twig' %}
    {% set CHECK_REQUISITES_AND_SEND_CHARGE_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/check-requisites-and-send-charge-last.twig' %}
    {% set TROUBLE_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/trouble-last.twig' %}
    {% set BANK_PAYMENT_SUCCESS_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/bank-payment-success-last.twig' %}
    {% set YOU_CREATED_DEAL_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/you-created-deal-last.twig' %}
    {% set COUNTERAGENT_HAS_TO_LOGIN_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/counteragent-has-to-login-last.twig' %}
    {% set YOU_CAN_CHANGE_CONDITIONS_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/you-can-change-conditions-last.twig' %}
    {% set PAYMENT_REQUIRED_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/payment-required.twig' %}
    {% set GUARANT_PAY_SECURITY_LAST = 'application/deal/partial/deal-history-text/customer/last/guarant-pay-security.twig' %}
    {% set DELIVERY_PACKAGE_ACCEPTED_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/delivery-package-accepted-last.twig' %}
    {% set DELIVERY_DPD_ORDER_DUPLICATE_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/delivery-dpd-order-duplicate-last.twig' %}
    {% set DELIVERY_DPD_ORDER_ERROR_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/delivery-dpd-order-error-last.twig' %}
    {% set PARCEL_DELIVERED_LAST = 'application/deal/partial/deal-history-text/customer/last/parcel-delivered-last.twig' %}
    {% set DELIVERY_DPD_ORDER_PENDING_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/delivery-dpd-order-pending-last.twig' %}
    {% set DELIVERY_DPD_PICKUP_LAST = 'application/deal/partial/deal-history-text/customer/last/delivery-dpd-pickup-last.twig' %}
    {% set DELIVERY_INFO_BLOCK_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/delivery-info-last.twig' %}
    {% set DEAL_DEADLINE_EXPIRED_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/deal-deadline-expired-last.twig' %}
    {% set AUTOMATIC_DEAL_CLOSE_WARNING_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/automatic-deal-close-warning.twig' %}
    {% set DEAL_DEADLINE_EXPIRED_IN_ONE_DAY_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/deal-deadline-expired-in-one-day-last.twig' %}
    {% set AFTER_DELIVERING_ACTIONS_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/after-delivering-actions-last.twig' %}
    {% set IF_CONDITIONS_CHANGE_COUNTERAGENT_RECONSIDER_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/if-conditions-change-counteragent-reconsider.twig' %}
    {% set YOU_EDITED_DEAL_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/you-edited-deal-last.twig' %}
    {% set YOUR_CIVIL_LAW_SUBJECT_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/your-civil-law-subject.twig' %}
    {% set YOU_CONFIRMED_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/you-confirmed.twig' %}
    {% set WAIT_FOR_COUNTERAGENT_CONFIRMATION_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/wait-for-counteragent-confirmation.twig' %}
    {% set DEAL_CONFIRMED_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/deal-confirmed.twig' %}
    {% set PARTIAL_BANK_TRANSFER_SUCCESS_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/partial-bank-transfer-success.twig' %}
    {% set FULL_PAYMENT_REQUIRED_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/full-payment-required.twig' %}
    {% set GET_BILL_AND_SUPPORT_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/get-bill-and-support.twig' %}
    {% set MANDARIN_ACQUIRING_PROCESSING_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/mandarin-acquiring-processing.twig' %}
    {% set MANDARIN_ACQUIRING_SUCCESS_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/mandarin-acquiring-success-last.twig' %}
    {% set CONTRACTOR_MUST_FULFILL_OBLIGATIONS_MANDATIN_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/contractor-must-fulfill-obligations-mandarin-last.twig' %}
    {% set YOU_CAN_OPEN_DISPUTE_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/you-can-open-dispute-customer-last.twig' %}
    {% set CALL_BANK_HOTLINE_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/call-bank-hotline-last.twig' %}
    {% set MANDARIN_ACQUIRING_FAILED_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/mandarin-acquiring-failed-last.twig' %}
    {% set DEAL_CLOSED_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/deal-closed-last.twig' %}
    {% set PAYMENT_SENT_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/payment-sent-last.twig' %}
    {% set GRATITUDE_FOR_USING_SERVICE_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/gratitude-for-using-service.twig' %}
    {% set CONTACT_SUPPORT_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/contact-support.twig' %}
    {% set AUTOMATIC_CLOSE_WARNING_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/automatic-close-warning-last.twig' %}
    {% set PENDING_CREDIT_PAYMENT_CUSTOMER_LAST = 'application/deal/partial/deal-history-text/customer/last/pending-credit-payment-last.twig' %}
    {% set ARBITRAGE_REQUEST_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/arbitrage-request-last.twig' %}
    {% set ARBITRAGE_REQUEST_ACCEPTED_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/arbitrage-request-accepted-last.twig' %}
    {% set ARBITRAGE_REQUEST_REJECTED_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/arbitrage-request-rejected-last.twig' %}
    {% set ARBITRAGE_REQUEST_WITH_DISCOUNT_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/arbitrage-request-with-discount-last.twig' %}
    {% set ARBITRAGE_REQUEST_WITH_REFUND_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/arbitrage-request-with-refund-last.twig' %}
    {% set ARBITRAGE_REQUEST_WITH_TRIBUNAL_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/arbitrage-request-with-tribunal-last.twig' %}
    {% set DISCOUNT_FOR_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/discount-for-customer-last.twig' %}
    {% set DISCOUNT_REQUEST_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/discount-request-last.twig' %}
    {% set DISCOUNT_REQUEST_ACCEPTED_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/discount-request-accepted-last.twig' %}
    {% set DISCOUNT_REQUEST_REJECTED_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/discount-request-rejected-last.twig' %}
    {% set DISPUTE_CANCELED_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/dispute-canceled-last.twig' %}
    {% set DISPUTE_CLOSED_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/dispute-closed-last.twig' %}
    {% set DISPUTE_CLOSED_AFTER_DISCOUNT_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/dispute-closed-after-discount-last.twig' %}
    {% set DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/dispute-closed-discount-with-days-last.twig' %}
    {% set DISPUTE_CLOSED_WITH_DAYS_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/dispute-closed-with-days-last.twig' %}
    {% set DISPUTE_OPEN_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/dispute-open-last.twig' %}
    {% set REFUND_FOR_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/refund-for-customer-last.twig' %}
    {% set REFUND_IS_MADE_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/refund-is-made-last.twig' %}
    {% set REFUND_REQUEST_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/refund-request-last.twig' %}
    {% set REFUND_REQUEST_ACCEPTED_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/refund-request-accepted-last.twig' %}
    {% set REFUND_REQUEST_REJECTED_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/refund-request-rejected-last.twig' %}
    {% set TRIBUNAL_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/tribunal-last.twig' %}
    {% set TRIBUNAL_REQUEST_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/tribunal-request-last.twig' %}
    {% set TRIBUNAL_REQUEST_ACCEPTED_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/tribunal-request-accepted-last.twig' %}
    {% set TRIBUNAL_REQUEST_REJECTED_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/tribunal-request-rejected-last.twig' %}
    {% set WARRANTY_EXTENSION_CUSTOMER_LAST = 'application/deal/partial/dispute-history-text/customer/last/warranty-extension-last.twig' %}
    {% set TRACK_NUMBER_LIST_LAST = 'application/deal/partial/deal-history-text/customer/last/track-number-list-last.twig' %}

    {# !!!!!! CONTRACTOR !!!! #}
    {% set YOU_CREATED_DEAL_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/you-created-deal-last.twig' %}
    {% set COUNTERAGENT_HAS_TO_LOGIN_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/counteragent-has-to-login-last.twig' %}
    {% set YOU_CAN_CHANGE_CONDITIONS_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/you-can-change-conditions-last.twig' %}
    {% set YOU_EDITED_DEAL_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/you-edited-deal-last.twig' %}
    {% set IF_CONDITIONS_CHANGE_COUNTERAGENT_RECONSIDER_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/if-conditions-change-counteragent-reconsider-last.twig' %}
    {% set YOU_WERE_INVITED_AS_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/you-were-invited-last.twig' %}
    {% set CHOOSE_CIVIL_LAW_SUBJECT_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/choose-civil-law-subject-last.twig' %}
    {% set YOUR_CIVIL_LAW_SUBJECT_AND_PAYMENT_METHOD_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/your-civil-law-subject-and-payment-method-last.twig' %}
    {% set CONFIRMATION_REQUIMENT_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/confirmation-requiment-last.twig' %}
    {% set YOU_CONFIRMED_DEAL_CONDITIONS_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/you-confirmed-deal-conditions-last.twig' %}
    {% set WAITING_FOR_COUNTERAGENT_CONFIRMATION_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/wait-for-counteragent-confirmation-last.twig' %}
    {% set COUNTERAGENTS_CONFIRMED_CONDITIONS_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/contractor-and-customer-confirmed-conditions-last.twig' %}
    {% set WAITING_FOR_PAYMENT_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/wait-for-payment-from-customer-last.twig' %}
    {% set WARNING_NOT_YET_CONFIRMED_PAYMENT_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/warning-not-yet-confirmed-payment-last.twig' %}
    {% set CUSTOMER_MADE_PARTIAL_PAYMENT_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/customer-made-partial-payment-last.twig' %}
    {% set WAITING_FOR_FULL_PAYMENT_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/wait-for-full-payment-of-customer-last.twig' %}
    {% set MSG_PAYMENT_STATUS_SUCCESS_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/msg-payment-status-success-last.twig' %}
    {% set INFO_MSG_CONTRACTOR_MUST_FULFILL_OBLIGATIONS_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/info-msg-contractor-must-fulfill-obligations-last.twig' %}
    {% set INFO_MSG_MONEY_TRANSFER_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/info-msg-money-transfer-last.twig' %}
    {% set DELIVERY_INFO_BLOCK_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/delivery-info-last.twig' %}
    {% set DELIVERY_DOOR_TO_DOOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/delivery-door-to-door-last.twig' %}
    {% set DELIVERY_RECEPTION_POINT_LAST = 'application/deal/partial/deal-history-text/contractor/last/delivery-reception-point-last.twig' %}
    {% set DELIVERY_PACKAGE_ACCEPTED_LAST = 'application/deal/partial/deal-history-text/contractor/last/delivery-package-accepted-last.twig' %}
    {% set DELIVERY_DPD_ORDER_PENDING_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/delivery-dpd-order-pending-last.twig' %}
    {% set DELIVERY_DPD_ORDER_DUPLICATE_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/delivery-dpd-order-duplicate-last.twig' %}
    {% set DELIVERY_DPD_ORDER_ERROR_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/delivery-dpd-order-error-last.twig' %}
    {% set DELIVERY_ORDER_CREATE_LAST = 'application/deal/partial/deal-history-text/contractor/last/delivery-order-create-last.twig' %}
    {% set PARCEL_DELIVERED_LAST = 'application/deal/partial/deal-history-text/contractor/last/parcel-delivered-last.twig' %}
    {% set CUSTOMER_CONFIRMED_OBLIGATIONS_FULFILLMENT_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/customer-confirmed-obligations-fulfillment-last.twig' %}
    {% set CHECK_REQUISITES_AND_SEND_CHARGE_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/check-requisites-and-send-charge-last.twig' %}
    {% set TROUBLE_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/trouble-last.twig' %}
    {% set DEAL_DEADLINE_EXPIRED_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/deal-deadline-expired-last.twig' %}
    {% set DEAL_WILL_CLOSE_AUTOMATICALLY_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/deal-will-close-automatically-last.twig' %}
    {% set DEAL_DEADLINE_EXPIRED_IN_ONE_DAY_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/deal-deadline-expired-in-one-day-last.twig' %}
    {% set AUTOMATIC_DEAL_CLOSE_WARNING_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/automatic-deal-close-warning-last.twig' %}
    {% set MANDARIN_ACQUIRING_SUCCESS_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/mandarin-acquiring-success-last.twig' %}
    {% set DEAL_CLOSED_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/deal-closed-last.twig' %}
    {% set PAYMENT_SENT_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/payment-sent-last.twig' %}
    {% set GRATITUDE_FOR_USING_SERVICE_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/gratitude-for-using-service-last.twig' %}
    {% set PENDING_CREDIT_PAYMENT_CONTRACTOR_LAST = 'application/deal/partial/deal-history-text/contractor/last/pending-credit-payment-last.twig' %}
    {% set ARBITRAGE_REQUEST_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/arbitrage-request-last.twig' %}
    {% set ARBITRAGE_REQUEST_ACCEPTED_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/arbitrage-request-accepted-last.twig' %}
    {% set ARBITRAGE_REQUEST_REJECTED_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/arbitrage-request-rejected-last.twig' %}
    {% set ARBITRAGE_REQUEST_WITH_DISCOUNT_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/arbitrage-request-with-discount-last.twig' %}
    {% set ARBITRAGE_REQUEST_WITH_REFUND_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/arbitrage-request-with-refund-last.twig' %}
    {% set ARBITRAGE_REQUEST_WITH_TRIBUNAL_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/arbitrage-request-with-tribunal-last.twig' %}
    {% set DISCOUNT_FOR_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/discount-for-contractor-last.twig' %}
    {% set DISCOUNT_REQUEST_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/discount-request-last.twig' %}
    {% set DISCOUNT_REQUEST_ACCEPTED_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/discount-request-accepted-last.twig' %}
    {% set DISCOUNT_REQUEST_REJECTED_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/discount-request-rejected-last.twig' %}
    {% set DISPUTE_CANCELED_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/dispute-canceled-last.twig' %}
    {% set DISPUTE_CLOSED_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/dispute-closed-last.twig' %}
    {% set DISPUTE_CLOSED_AFTER_DISCOUNT_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/dispute-closed-after-discount-last.twig' %}
    {% set DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/dispute-closed-discount-with-days-last.twig' %}
    {% set DISPUTE_CLOSED_WITH_DAYS_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/dispute-closed-with-days-last.twig' %}
    {% set DISPUTE_OPEN_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/dispute-open-last.twig' %}
    {% set REFUND_FOR_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/refund-for-contractor-last.twig' %}
    {% set REFUND_IS_MADE_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/refund-is-made-last.twig' %}
    {% set REFUND_REQUEST_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/refund-request-last.twig' %}
    {% set REFUND_REQUEST_ACCEPTED_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/refund-request-accepted-last.twig' %}
    {% set REFUND_REQUEST_REJECTED_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/refund-request-rejected-last.twig' %}
    {% set TRIBUNAL_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/tribunal-last.twig' %}
    {% set TRIBUNAL_REQUEST_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/tribunal-request-last.twig' %}
    {% set TRIBUNAL_REQUEST_ACCEPTED_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/tribunal-request-accepted-last.twig' %}
    {% set TRIBUNAL_REQUEST_REJECTED_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/tribunal-request-rejected-last.twig' %}
    {% set WARRANTY_EXTENSION_CONTRACTOR_LAST = 'application/deal/partial/dispute-history-text/contractor/last/warranty-extension-last.twig' %}
    {% set ADD_TRACK_NUMBER_LAST = 'application/deal/partial/deal-history-text/contractor/last/add-track-number-last.twig' %}

    {# !!!!!! OPERATOR !!!! #}
    {% set COUNTERAGENT_CREATED_DEAL_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/counteragent-created-deal-last.twig' %}
    {% set COUNTERAGENT_HAS_TO_LOGIN_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/counteragent-has-to-login-last.twig' %}
    {% set YOUR_CIVIL_LAW_SUBJECT_AND_PAYMENT_METHOD_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/your-civil-law-subject-and-payment-method-last.twig' %}
    {% set IS_NEED_TO_CONFIRM_DEAL_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/is-need-to-confirm-deal-last.twig' %}
    {% set IF_CONDITIONS_CHANGE_COUNTERAGENT_RECONSIDER_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/if-conditions-change-counteragent-reconsider-last.twig' %}
    {% set YOU_EDITED_DEAL_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/you-edited-deal-last.twig' %}
    {% set WAITING_FOR_COUNTERAGENT_CONFIRMATION_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/wait-for-counteragent-confirmation-last.twig' %}
    {% set COUNTERAGENTS_CONFIRMED_CONDITIONS_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/contractor-and-customer-confirmed-conditions-last.twig' %}
    {% set WAITING_FOR_PAYMENT_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/wait-for-payment-from-customer-last.twig' %}
    {% set CUSTOMER_MADE_PARTIAL_PAYMENT_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/customer-made-partial-payment-last.twig' %}
    {% set WAITING_FOR_FULL_PAYMENT_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/wait-for-full-payment-of-customer-last.twig' %}
    {% set MSG_PAYMENT_STATUS_SUCCESS_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/msg-payment-status-success-last.twig' %}
    {% set INFO_MSG_CONTRACTOR_MUST_FULFILL_OBLIGATIONS_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/info-msg-contractor-must-fulfill-obligations-last.twig' %}
    {% set INFO_MSG_MONEY_TRANSFER_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/info-msg-money-transfer-last.twig' %}
    {% set CUSTOMER_CONFIRMED_OBLIGATIONS_FULFILLMENT_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/customer-confirmed-obligations-fulfillment-last.twig' %}
    {% set NEED_TO_PREPARE_PAYMENT_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/need-to-prepare-payment-last.twig' %}
    {% set TROUBLE_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/trouble-last.twig' %}
    {% set DEAL_DEADLINE_EXPIRED_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/deal-deadline-expired-last.twig' %}
    {% set DEAL_WILL_CLOSE_AUTOMATICALLY_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/deal-will-close-automatically-last.twig' %}
    {% set DEAL_DEADLINE_EXPIRED_IN_ONE_DAY_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/deal-deadline-expired-in-one-day-last.twig' %}
    {% set AUTOMATIC_DEAL_CLOSE_WARNING_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/automatic-deal-close-warning-last.twig' %}
    {% set MANDARIN_ACQUIRING_SUCCESS_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/mandarin-acquiring-success-last.twig' %}
    {% set INFO_MSG_CONTRACTOR_MUST_FULFILL_OBLIGATIONS_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/info-msg-contractor-must-fulfill-obligations-last.twig' %}
    {% set MANDARIN_ACQUIRING_PROCESSING_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/mandarin-acquiring-processing-last.twig' %}
    {% set MANDARIN_ACQUIRING_FAILED_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/mandarin-acquiring-failed-last.twig' %}
    {% set WAITING_FOR_PAYMENT_MANDARIN_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/wait-for-payment-mandarin-from-customer-last.twig' %}
    {% set CONTACT_HOTLINE_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/contact-hotline-last.twig' %}
    {% set DEAL_CLOSED_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/deal-closed-last.twig' %}
    {% set PAYMENT_SENT_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/payment-sent-last.twig' %}
    {% set COUNTERAGENT_CONFIRMED_DEAL_CONDITIONS_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/counteragent-confirmed-deal-conditions-last.twig' %}
    {% set INFO_MSG_CONTRACTOR_MUST_FULFILL_OBLIGATIONS_MANDARIN_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/info-msg-contractor-must-fulfill-obligations-mandarin-last.twig' %}
    {% set PENDING_CREDIT_PAYMENT_OPERATOR_LAST = 'application/deal/partial/deal-history-text/operator/last/pending-credit-payment-last.twig' %}
    {% set ARBITRAGE_REQUEST_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/arbitrage-request-last.twig' %}
    {% set ARBITRAGE_REQUEST_ACCEPTED_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/arbitrage-request-accepted-last.twig' %}
    {% set ARBITRAGE_REQUEST_REJECTED_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/arbitrage-request-rejected-last.twig' %}
    {% set ARBITRAGE_REQUEST_WITH_DISCOUNT_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/arbitrage-request-with-discount-last.twig' %}
    {% set ARBITRAGE_REQUEST_WITH_REFUND_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/arbitrage-request-with-refund-last.twig' %}
    {% set ARBITRAGE_REQUEST_WITH_TRIBUNAL_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/arbitrage-request-with-tribunal-last.twig' %}
    {% set DISCOUNT_FOR_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/discount-for-operator-last.twig' %}
    {% set DISCOUNT_REQUEST_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/discount-request-last.twig' %}
    {% set DISCOUNT_REQUEST_ACCEPTED_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/discount-request-accepted-last.twig' %}
    {% set DISCOUNT_REQUEST_REJECTED_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/discount-request-rejected-last.twig' %}
    {% set DISPUTE_CANCELED_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/dispute-canceled-last.twig' %}
    {% set DISPUTE_CLOSED_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/dispute-closed-last.twig' %}
    {% set DISPUTE_CLOSED_AFTER_DISCOUNT_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/dispute-closed-after-discount-last.twig' %}
    {% set DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/dispute-closed-discount-with-days-last.twig' %}
    {% set DISPUTE_CLOSED_WITH_DAYS_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/dispute-closed-with-days-last.twig' %}
    {% set DISPUTE_OPEN_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/dispute-open-last.twig' %}
    {% set REFUND_FOR_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/refund-for-operator-last.twig' %}
    {% set REFUND_IS_MADE_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/refund-is-made-last.twig' %}
    {% set REFUND_REQUEST_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/refund-request-last.twig' %}
    {% set REFUND_REQUEST_ACCEPTED_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/refund-request-accepted-last.twig' %}
    {% set REFUND_REQUEST_REJECTED_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/refund-request-rejected-last.twig' %}
    {% set TRIBUNAL_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/tribunal-last.twig' %}
    {% set TRIBUNAL_REQUEST_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/tribunal-request-last.twig' %}
    {% set TRIBUNAL_REQUEST_ACCEPTED_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/tribunal-request-accepted-last.twig' %}
    {% set TRIBUNAL_REQUEST_REJECTED_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/tribunal-request-rejected-last.twig' %}
    {% set WARRANTY_EXTENSION_OPERATOR_LAST = 'application/deal/partial/dispute-history-text/operator/last/warranty-extension-last.twig' %}

    {% set templatePath = {
        'CREATED_FOR_CUSTOMER': [
            YOU_CREATED_DEAL_CUSTOMER_LAST,
            COUNTERAGENT_HAS_TO_LOGIN_CUSTOMER_LAST,
            YOUR_CIVIL_LAW_SUBJECT_CUSTOMER_LAST,
            WAIT_FOR_COUNTERAGENT_CONFIRMATION_CUSTOMER_LAST,
            YOU_CAN_CHANGE_CONDITIONS_CUSTOMER_LAST,
            IF_CONDITIONS_CHANGE_COUNTERAGENT_RECONSIDER_CUSTOMER_LAST
        ],
        'CREATED_FOR_CONTRACTOR': [
            YOU_CREATED_DEAL_CONTRACTOR_LAST,
            CHOOSE_CIVIL_LAW_SUBJECT_CONTRACTOR_LAST,
            YOU_WERE_INVITED_AS_CONTRACTOR_LAST,
            COUNTERAGENT_HAS_TO_LOGIN_CONTRACTOR_LAST,
            YOUR_CIVIL_LAW_SUBJECT_AND_PAYMENT_METHOD_CONTRACTOR_LAST,
            CONFIRMATION_REQUIMENT_CONTRACTOR_LAST,
            WAITING_FOR_COUNTERAGENT_CONFIRMATION_CONTRACTOR_LAST,
            IF_CONDITIONS_CHANGE_COUNTERAGENT_RECONSIDER_CONTRACTOR_LAST,
        ],
        'CREATED_FOR_OPERATOR': [
            YOUR_CIVIL_LAW_SUBJECT_AND_PAYMENT_METHOD_OPERATOR_LAST,
            COUNTERAGENT_CREATED_DEAL_OPERATOR_LAST,
            COUNTERAGENT_HAS_TO_LOGIN_OPERATOR_LAST,
            WAITING_FOR_COUNTERAGENT_CONFIRMATION_OPERATOR_LAST
        ],

        'EDITED_FOR_CUSTOMER': [
            YOU_EDITED_DEAL_CUSTOMER_LAST,
            COUNTERAGENT_HAS_TO_LOGIN_CUSTOMER_LAST,
            YOU_CAN_CHANGE_CONDITIONS_CUSTOMER_LAST
        ],
        'EDITED_FOR_CONTRACTOR': [
            YOU_EDITED_DEAL_CONTRACTOR_LAST,
            COUNTERAGENT_HAS_TO_LOGIN_CONTRACTOR_LAST,
            WAITING_FOR_COUNTERAGENT_CONFIRMATION_CONTRACTOR_LAST
        ],
        'EDITED_FOR_OPERATOR': [
            YOU_EDITED_DEAL_OPERATOR_LAST,
            COUNTERAGENT_HAS_TO_LOGIN_CONTRACTOR_LAST,
            WAITING_FOR_COUNTERAGENT_CONFIRMATION_CONTRACTOR_LAST
        ],

        'CONFIRMED_FOR_CUSTOMER': [
            DEAL_CONFIRMED_CUSTOMER_LAST,
            PAYMENT_REQUIRED_CUSTOMER_LAST,
            PARTIAL_BANK_TRANSFER_SUCCESS_CUSTOMER_LAST,
            FULL_PAYMENT_REQUIRED_CUSTOMER_LAST,
            GET_BILL_AND_SUPPORT_CUSTOMER_LAST
        ],
        'CONFIRMED_FOR_CONTRACTOR': [
            COUNTERAGENTS_CONFIRMED_CONDITIONS_CONTRACTOR_LAST,
            WAITING_FOR_PAYMENT_CONTRACTOR_LAST,
            WARNING_NOT_YET_CONFIRMED_PAYMENT_CONTRACTOR_LAST,
            CUSTOMER_MADE_PARTIAL_PAYMENT_CONTRACTOR_LAST,
            WAITING_FOR_FULL_PAYMENT_CONTRACTOR_LAST
        ],
        'CONFIRMED_FOR_OPERATOR': [
            COUNTERAGENTS_CONFIRMED_CONDITIONS_OPERATOR_LAST,
            WAITING_FOR_PAYMENT_OPERATOR_LAST,
            CUSTOMER_MADE_PARTIAL_PAYMENT_OPERATOR_LAST,
            WAITING_FOR_FULL_PAYMENT_OPERATOR_LAST
        ],

        'DEBIT_MATCHED_FOR_CUSTOMER': [
            MANDARIN_ACQUIRING_SUCCESS_CUSTOMER_LAST,
            PAYMENT_STATUS_SUCCESS_CUSTOMER_LAST,
            CONTRACTOR_MUST_FULFILL_OBLIGATIONS_DEBIT_MATCHED_CUSTOMER_LAST,
            CONTRACTOR_MUST_FULFILL_OBLIGATIONS_MANDATIN_CUSTOMER_LAST,
            TRACK_NUMBER_LIST_LAST,
            YOU_CAN_OPEN_DISPUTE_CUSTOMER_LAST,
            AUTOMATIC_TIMEOUT_CLOSE_DEBIT_MATCHED_CUSTOMER_LAST,
            AUTOMATIC_TIMEOUT_CLOSE_MANDARIN_CUSTOMER_LAST,

            DELIVERY_DPD_PICKUP_LAST,
            DELIVERY_DPD_ORDER_PENDING_CUSTOMER_LAST,
            DELIVERY_DPD_ORDER_DUPLICATE_CUSTOMER_LAST,
            DELIVERY_DPD_ORDER_ERROR_CUSTOMER_LAST,
            DELIVERY_PACKAGE_ACCEPTED_CUSTOMER_LAST,
            DELIVERY_INFO_BLOCK_CUSTOMER_LAST
        ],
        'DEBIT_MATCHED_FOR_CONTRACTOR': [
            MSG_PAYMENT_STATUS_SUCCESS_CONTRACTOR_LAST,
            INFO_MSG_CONTRACTOR_MUST_FULFILL_OBLIGATIONS_CONTRACTOR_LAST,
            ADD_TRACK_NUMBER_LAST,
            INFO_MSG_MONEY_TRANSFER_CONTRACTOR_LAST,

            DELIVERY_DOOR_TO_DOOR_LAST,
            DELIVERY_DPD_ORDER_PENDING_CONTRACTOR_LAST,
            DELIVERY_DPD_ORDER_DUPLICATE_CONTRACTOR_LAST,
            DELIVERY_DPD_ORDER_ERROR_CONTRACTOR_LAST,
            DELIVERY_RECEPTION_POINT_LAST,
            DELIVERY_ORDER_CREATE_LAST,
            DELIVERY_INFO_BLOCK_CONTRACTOR_LAST
        ],
        'DEBIT_MATCHED_FOR_OPERATOR': [
            MSG_PAYMENT_STATUS_SUCCESS_OPERATOR_LAST,
            INFO_MSG_CONTRACTOR_MUST_FULFILL_OBLIGATIONS_OPERATOR_LAST,
            INFO_MSG_MONEY_TRANSFER_OPERATOR_LAST
        ],

        'DELIVERED_FOR_CUSTOMER': [
            YOU_CONFIRMED_OBLIGATIONS_FULFILLMENT_CUSTOMER_LAST,
            CHECK_REQUISITES_AND_SEND_CHARGE_CUSTOMER_LAST,
            PARCEL_DELIVERED_LAST
        ],
        'DELIVERED_FOR_CONTRACTOR': [
            CUSTOMER_CONFIRMED_OBLIGATIONS_FULFILLMENT_CONTRACTOR_LAST,
            CHECK_REQUISITES_AND_SEND_CHARGE_CONTRACTOR_LAST,
            PARCEL_DELIVERED_LAST
        ],
        'DELIVERED_FOR_OPERATOR': [
            CUSTOMER_CONFIRMED_OBLIGATIONS_FULFILLMENT_OPERATOR_LAST,
            NEED_TO_PREPARE_PAYMENT_OPERATOR_LAST
        ],

        'PENDING_CREDIT_PAYMENT_FOR_CUSTOMER': [
            PENDING_CREDIT_PAYMENT_CUSTOMER_LAST
        ],
        'PENDING_CREDIT_PAYMENT_FOR_CONTRACTOR': [
            PENDING_CREDIT_PAYMENT_CONTRACTOR_LAST
        ],
        'PENDING_CREDIT_PAYMENT_FOR_OPERATOR': [
            PENDING_CREDIT_PAYMENT_OPERATOR_LAST
        ],

        'TROUBLE_FOR_CUSTOMER': [
            TROUBLE_CUSTOMER_LAST,
            CONTACT_SUPPORT_CUSTOMER_LAST
        ],
        'TROUBLE_FOR_CONTRACTOR': [
            TROUBLE_CONTRACTOR_LAST
        ],
        'TROUBLE_FOR_OPERATOR': [
            TROUBLE_OPERATOR_LAST
        ],

        'DEADLINE_EXPIRED_FOR_CUSTOMER': [
            DEAL_DEADLINE_EXPIRED_CUSTOMER_LAST,
            AUTOMATIC_CLOSE_WARNING_CUSTOMER_LAST,
            CHECK_REQUISITES_AND_SEND_CHARGE_CUSTOMER_LAST
        ],
        'DEADLINE_EXPIRED_FOR_CONTRACTOR': [
            DEAL_DEADLINE_EXPIRED_CONTRACTOR_LAST,
            DEAL_WILL_CLOSE_AUTOMATICALLY_CONTRACTOR_LAST,
            CHECK_REQUISITES_AND_SEND_CHARGE_CONTRACTOR_LAST
        ],
        'DEADLINE_EXPIRED_FOR_OPERATOR': [
            DEAL_DEADLINE_EXPIRED_OPERATOR_LAST,
            DEAL_WILL_CLOSE_AUTOMATICALLY_OPERATOR_LAST,
            NEED_TO_PREPARE_PAYMENT_OPERATOR_LAST
        ],

        'DEADLINE_EXPIRED_IN_ONE_DAY_FOR_CUSTOMER': [
            DEAL_DEADLINE_EXPIRED_IN_ONE_DAY_CUSTOMER_LAST,
            AFTER_DELIVERING_ACTIONS_CUSTOMER_LAST,
            TRACK_NUMBER_LIST_LAST,
            AUTOMATIC_DEAL_CLOSE_WARNING_CUSTOMER_LAST
        ],
        'DEADLINE_EXPIRED_IN_ONE_DAY_FOR_CONTRACTOR': [
            DEAL_DEADLINE_EXPIRED_IN_ONE_DAY_CONTRACTOR_LAST,
            ADD_TRACK_NUMBER_LAST,
            AUTOMATIC_DEAL_CLOSE_WARNING_CONTRACTOR_LAST
        ],
        'DEADLINE_EXPIRED_IN_ONE_DAY_FOR_OPERATOR': [
            DEAL_DEADLINE_EXPIRED_IN_ONE_DAY_OPERATOR_LAST,
            AUTOMATIC_DEAL_CLOSE_WARNING_OPERATOR_LAST
        ],

        'MANDARIN_ACQUIRING_PROCESSING_FOR_CUSTOMER': [
            MANDARIN_ACQUIRING_PROCESSING_CUSTOMER_LAST
        ],
        'MANDARIN_ACQUIRING_PROCESSING_FOR_CONTRACTOR': [
        ],
        'MANDARIN_ACQUIRING_PROCESSING_FOR_OPERATOR': [
            MANDARIN_ACQUIRING_PROCESSING_OPERATOR_LAST
        ],

        'MANDARIN_ACQUIRING_SUCCESS_FOR_CUSTOMER': [
            MANDARIN_ACQUIRING_SUCCESS_CUSTOMER_LAST,
            CONTRACTOR_MUST_FULFILL_OBLIGATIONS_MANDATIN_CUSTOMER_LAST,
            YOU_CAN_OPEN_DISPUTE_CUSTOMER_LAST,
            AUTOMATIC_TIMEOUT_CLOSE_MANDARIN_CUSTOMER_LAST
        ],
        'MANDARIN_ACQUIRING_SUCCESS_FOR_CONTRACTOR': [
            MANDARIN_ACQUIRING_SUCCESS_CONTRACTOR_LAST,
            INFO_MSG_CONTRACTOR_MUST_FULFILL_OBLIGATIONS_CONTRACTOR_LAST,
            ADD_TRACK_NUMBER_LAST,
            INFO_MSG_MONEY_TRANSFER_CONTRACTOR_LAST
        ],
        'MANDARIN_ACQUIRING_SUCCESS_FOR_OPERATOR': [
            MANDARIN_ACQUIRING_SUCCESS_OPERATOR_LAST,
            INFO_MSG_CONTRACTOR_MUST_FULFILL_OBLIGATIONS_MANDARIN_OPERATOR_LAST,
            INFO_MSG_MONEY_TRANSFER_OPERATOR_LAST
        ],

        'MANDARIN_ACQUIRING_FAILED_FOR_CUSTOMER': [
            MANDARIN_ACQUIRING_FAILED_CUSTOMER_LAST,
            PAYMENT_REQUIRED_CUSTOMER_LAST,
            CALL_BANK_HOTLINE_CUSTOMER_LAST
        ],
        'MANDARIN_ACQUIRING_FAILED_FOR_CONTRACTOR': [
            COUNTERAGENTS_CONFIRMED_CONDITIONS_CONTRACTOR_LAST,
            WAITING_FOR_PAYMENT_CONTRACTOR_LAST,
            WARNING_NOT_YET_CONFIRMED_PAYMENT_CONTRACTOR_LAST,
            CUSTOMER_MADE_PARTIAL_PAYMENT_CONTRACTOR_LAST,
            WAITING_FOR_FULL_PAYMENT_CONTRACTOR_LAST
        ],
        'MANDARIN_ACQUIRING_FAILED_FOR_OPERATOR': [
            MANDARIN_ACQUIRING_FAILED_OPERATOR_LAST,
            WAITING_FOR_PAYMENT_MANDARIN_OPERATOR_LAST,
            CONTACT_HOTLINE_OPERATOR_LAST
        ],

        'CLOSED_FOR_CUSTOMER': [
            DEAL_CLOSED_CUSTOMER_LAST,
            PAYMENT_SENT_CUSTOMER_LAST,
            GRATITUDE_FOR_USING_SERVICE_CUSTOMER_LAST
        ],
        'CLOSED_FOR_CONTRACTOR': [
            DEAL_CLOSED_CONTRACTOR_LAST,
            PAYMENT_SENT_CONTRACTOR_LAST,
            GRATITUDE_FOR_USING_SERVICE_CONTRACTOR_LAST
        ],
        'CLOSED_FOR_OPERATOR': [
            DEAL_CLOSED_OPERATOR_LAST,
            PAYMENT_SENT_OPERATOR_LAST,
        ],

        'DISPUTE_OPEN_FOR_CUSTOMER': [
            DISPUTE_OPEN_CUSTOMER_LAST
        ],
        'DISPUTE_OPEN_FOR_CONTRACTOR': [
            DISPUTE_OPEN_CONTRACTOR_LAST
        ],
        'DISPUTE_OPEN_FOR_OPERATOR': [
            DISPUTE_OPEN_OPERATOR_LAST
        ],

        'DISCOUNT_REQUEST_FOR_AUTHOR': [
            DISCOUNT_REQUEST_CUSTOMER_LAST
        ],
        'DISCOUNT_REQUEST_FOR_NOT_AUTHOR': [
            DISCOUNT_REQUEST_CONTRACTOR_LAST
        ],
        'DISCOUNT_REQUEST_FOR_OBSERVER': [
            DISCOUNT_REQUEST_OPERATOR_LAST
        ],
        'DISCOUNT_REQUEST_ACCEPTED_FOR_NOT_AUTHOR': [
            DISCOUNT_REQUEST_ACCEPTED_CUSTOMER_LAST
        ],
        'DISCOUNT_REQUEST_ACCEPTED_FOR_AUTHOR': [
            DISCOUNT_REQUEST_ACCEPTED_CONTRACTOR_LAST
        ],
        'DISCOUNT_REQUEST_ACCEPTED_FOR_OBSERVER': [
            DISCOUNT_REQUEST_ACCEPTED_OPERATOR_LAST
        ],
        'DISCOUNT_REQUEST_REJECTED_FOR_NOT_AUTHOR': [
            DISCOUNT_REQUEST_REJECTED_CUSTOMER_LAST
        ],
        'DISCOUNT_REQUEST_REJECTED_FOR_AUTHOR': [
            DISCOUNT_REQUEST_REJECTED_CONTRACTOR_LAST
        ],
        'DISCOUNT_REQUEST_REJECTED_FOR_OBSERVER': [
            DISCOUNT_REQUEST_REJECTED_OPERATOR_LAST
        ],
        'DISCOUNT_FOR_CUSTOMER': [
            DISCOUNT_FOR_CUSTOMER_LAST
        ],
        'DISCOUNT_FOR_CONTRACTOR': [
            DISCOUNT_FOR_CONTRACTOR_LAST
        ],
        'DISCOUNT_FOR_OPERATOR': [
            DISCOUNT_FOR_OPERATOR_LAST
        ],
        'REFUND_FOR_CUSTOMER': [
            REFUND_FOR_CUSTOMER_LAST
        ],
        'REFUND_FOR_CONTRACTOR': [
            REFUND_FOR_CONTRACTOR_LAST
        ],
        'REFUND_FOR_OPERATOR': [
            REFUND_FOR_OPERATOR_LAST
        ],
        'REFUND_REQUEST_FOR_AUTHOR': [
            REFUND_REQUEST_CUSTOMER_LAST
        ],
        'REFUND_REQUEST_FOR_NOT_AUTHOR': [
            REFUND_REQUEST_CONTRACTOR_LAST
        ],
        'REFUND_REQUEST_FOR_OBSERVER': [
            REFUND_REQUEST_OPERATOR_LAST
        ],
        'REFUND_REQUEST_ACCEPTED_FOR_NOT_AUTHOR': [
            REFUND_REQUEST_ACCEPTED_CUSTOMER_LAST
        ],
        'REFUND_REQUEST_ACCEPTED_FOR_AUTHOR': [
            REFUND_REQUEST_ACCEPTED_CONTRACTOR_LAST
        ],
        'REFUND_REQUEST_ACCEPTED_FOR_OBSERVER': [
            REFUND_REQUEST_ACCEPTED_OPERATOR_LAST
        ],
        'REFUND_REQUEST_REJECTED_FOR_NOT_AUTHOR': [
            REFUND_REQUEST_REJECTED_CUSTOMER_LAST
        ],
        'REFUND_REQUEST_REJECTED_FOR_AUTHOR': [
            REFUND_REQUEST_REJECTED_CONTRACTOR_LAST
        ],
        'REFUND_REQUEST_REJECTED_FOR_OBSERVER': [
            REFUND_REQUEST_REJECTED_OPERATOR_LAST
        ],
        'ARBITRAGE_REQUEST_WITH_DISCOUNT_FOR_AUTHOR': [
            ARBITRAGE_REQUEST_WITH_DISCOUNT_CUSTOMER_LAST
        ],
        'ARBITRAGE_REQUEST_WITH_DISCOUNT_FOR_NOT_AUTHOR': [
            ARBITRAGE_REQUEST_WITH_DISCOUNT_CONTRACTOR_LAST
        ],
        'ARBITRAGE_REQUEST_WITH_DISCOUNT_FOR_OBSERVER': [
            ARBITRAGE_REQUEST_WITH_DISCOUNT_OPERATOR_LAST
        ],
        'ARBITRAGE_REQUEST_WITH_REFUND_FOR_AUTHOR': [
            ARBITRAGE_REQUEST_WITH_REFUND_CUSTOMER_LAST
        ],
        'ARBITRAGE_REQUEST_WITH_REFUND_FOR_NOT_AUTHOR': [
            ARBITRAGE_REQUEST_WITH_REFUND_CONTRACTOR_LAST
        ],
        'ARBITRAGE_REQUEST_WITH_REFUND_FOR_OBSERVER': [
            ARBITRAGE_REQUEST_WITH_REFUND_OPERATOR_LAST
        ],
        'ARBITRAGE_REQUEST_WITH_TRIBUNAL_FOR_AUTHOR': [
            ARBITRAGE_REQUEST_WITH_TRIBUNAL_CUSTOMER_LAST
        ],
        'ARBITRAGE_REQUEST_WITH_TRIBUNAL_FOR_NOT_AUTHOR': [
            ARBITRAGE_REQUEST_WITH_TRIBUNAL_CONTRACTOR_LAST
        ],
        'ARBITRAGE_REQUEST_WITH_TRIBUNAL_FOR_OBSERVER': [
            ARBITRAGE_REQUEST_WITH_TRIBUNAL_OPERATOR_LAST
        ],
        'ARBITRAGE_REQUEST_FOR_AUTHOR': [
            ARBITRAGE_REQUEST_CUSTOMER_LAST
        ],
        'ARBITRAGE_REQUEST_FOR_NOT_AUTHOR': [
            ARBITRAGE_REQUEST_CONTRACTOR_LAST
        ],
        'ARBITRAGE_REQUEST_FOR_OBSERVER': [
            ARBITRAGE_REQUEST_OPERATOR_LAST
        ],
        'ARBITRAGE_REQUEST_ACCEPTED_FOR_NOT_AUTHOR': [
            ARBITRAGE_REQUEST_ACCEPTED_CUSTOMER_LAST
        ],
        'ARBITRAGE_REQUEST_ACCEPTED_FOR_OBSERVER': [
            ARBITRAGE_REQUEST_ACCEPTED_CONTRACTOR_LAST
        ],
        'ARBITRAGE_REQUEST_ACCEPTED_FOR_AUTHOR': [
            ARBITRAGE_REQUEST_ACCEPTED_OPERATOR_LAST
        ],
        'ARBITRAGE_REQUEST_REJECTED_FOR_NOT_AUTHOR': [
            ARBITRAGE_REQUEST_REJECTED_CUSTOMER_LAST
        ],
        'ARBITRAGE_REQUEST_REJECTED_FOR_OBSERVER': [
            ARBITRAGE_REQUEST_REJECTED_CONTRACTOR_LAST
        ],
        'ARBITRAGE_REQUEST_REJECTED_FOR_AUTHOR': [
            ARBITRAGE_REQUEST_REJECTED_OPERATOR_LAST
        ],
        'TRIBUNAL_REQUEST_FOR_AUTHOR': [
            TRIBUNAL_REQUEST_CUSTOMER_LAST
        ],
        'TRIBUNAL_REQUEST_FOR_NOT_AUTHOR': [
            TRIBUNAL_REQUEST_CONTRACTOR_LAST
        ],
        'TRIBUNAL_REQUEST_FOR_OBSERVER': [
            TRIBUNAL_REQUEST_OPERATOR_LAST
        ],
        'TRIBUNAL_REQUEST_ACCEPTED_FOR_NOT_AUTHOR': [
            TRIBUNAL_REQUEST_ACCEPTED_CONTRACTOR_LAST
        ],
        'TRIBUNAL_REQUEST_ACCEPTED_FOR_OBSERVER': [
            TRIBUNAL_REQUEST_ACCEPTED_CONTRACTOR_LAST
        ],
        'TRIBUNAL_REQUEST_ACCEPTED_FOR_AUTHOR': [
            TRIBUNAL_REQUEST_ACCEPTED_OPERATOR_LAST
        ],
        'TRIBUNAL_REQUEST_REJECTED_FOR_NOT_AUTHOR': [
            TRIBUNAL_REQUEST_REJECTED_CUSTOMER_LAST
        ],
        'TRIBUNAL_REQUEST_REJECTED_FOR_OBSERVER': [
            TRIBUNAL_REQUEST_REJECTED_CONTRACTOR_LAST
        ],
        'TRIBUNAL_REQUEST_REJECTED_FOR_AUTHOR': [
            TRIBUNAL_REQUEST_REJECTED_OPERATOR_LAST
        ],
        'TRIBUNAL_FOR_CUSTOMER': [
            TRIBUNAL_CUSTOMER_LAST
        ],
        'TRIBUNAL_FOR_CONTRACTOR': [
            TRIBUNAL_CONTRACTOR_LAST
        ],
        'TRIBUNAL_FOR_OPERATOR': [
            TRIBUNAL_OPERATOR_LAST
        ],
        'DISPUTE_CLOSED_DISCOUNT_FOR_CUSTOMER': [
            DISPUTE_CLOSED_AFTER_DISCOUNT_CUSTOMER_LAST,
            MANDARIN_ACQUIRING_SUCCESS_CUSTOMER_LAST,
            PAYMENT_STATUS_SUCCESS_CUSTOMER_LAST,
            CONTRACTOR_MUST_FULFILL_OBLIGATIONS_DEBIT_MATCHED_CUSTOMER_LAST,
            CONTRACTOR_MUST_FULFILL_OBLIGATIONS_MANDATIN_CUSTOMER_LAST,
            TRACK_NUMBER_LIST_LAST,
            YOU_CAN_OPEN_DISPUTE_CUSTOMER_LAST,
            AUTOMATIC_TIMEOUT_CLOSE_DEBIT_MATCHED_CUSTOMER_LAST,
            AUTOMATIC_TIMEOUT_CLOSE_MANDARIN_CUSTOMER_LAST,

            DELIVERY_DPD_PICKUP_LAST,
            DELIVERY_DPD_ORDER_PENDING_CUSTOMER_LAST,
            DELIVERY_DPD_ORDER_DUPLICATE_CUSTOMER_LAST,
            DELIVERY_DPD_ORDER_ERROR_CUSTOMER_LAST,
            DELIVERY_PACKAGE_ACCEPTED_CUSTOMER_LAST,
            DELIVERY_INFO_BLOCK_CUSTOMER_LAST
        ],
        'DISPUTE_CLOSED_DISCOUNT_FOR_CONTRACTOR': [
            DISPUTE_CLOSED_AFTER_DISCOUNT_CONTRACTOR_LAST,
            MSG_PAYMENT_STATUS_SUCCESS_CONTRACTOR_LAST,
            INFO_MSG_CONTRACTOR_MUST_FULFILL_OBLIGATIONS_CONTRACTOR_LAST,
            ADD_TRACK_NUMBER_LAST,
            INFO_MSG_MONEY_TRANSFER_CONTRACTOR_LAST,

            DELIVERY_DOOR_TO_DOOR_LAST,
            DELIVERY_DPD_ORDER_PENDING_CONTRACTOR_LAST,
            DELIVERY_DPD_ORDER_DUPLICATE_CONTRACTOR_LAST,
            DELIVERY_DPD_ORDER_ERROR_CONTRACTOR_LAST,
            DELIVERY_RECEPTION_POINT_LAST,
            DELIVERY_ORDER_CREATE_LAST,
            DELIVERY_INFO_BLOCK_CONTRACTOR_LAST
        ],
        'DISPUTE_CLOSED_DISCOUNT_FOR_OPERATOR': [
            DISPUTE_CLOSED_AFTER_DISCOUNT_OPERATOR_LAST,
            MSG_PAYMENT_STATUS_SUCCESS_OPERATOR_LAST,
            INFO_MSG_CONTRACTOR_MUST_FULFILL_OBLIGATIONS_OPERATOR_LAST,
            INFO_MSG_MONEY_TRANSFER_OPERATOR_LAST
        ],
        'DISPUTE_CLOSED_REFUND_FOR_CUSTOMER': [
            REFUND_IS_MADE_CUSTOMER_LAST
        ],
        'DISPUTE_CLOSED_REFUND_FOR_CONTRACTOR': [
            REFUND_IS_MADE_CONTRACTOR_LAST
        ],
        'DISPUTE_CLOSED_REFUND_FOR_OPERATOR': [
            REFUND_IS_MADE_OPERATOR_LAST
        ],
        'WARRANTY_EXTENSION_FOR_CUSTOMER': [
            WARRANTY_EXTENSION_CUSTOMER_LAST
        ],
        'WARRANTY_EXTENSION_FOR_CONTRACTOR': [
            WARRANTY_EXTENSION_CONTRACTOR_LAST
        ],
        'WARRANTY_EXTENSION_FOR_OPERATOR': [
            WARRANTY_EXTENSION_OPERATOR_LAST
        ],
        'DISPUTE_CANCELED_FOR_CUSTOMER': [
            DISPUTE_CANCELED_CUSTOMER_LAST,
            MANDARIN_ACQUIRING_SUCCESS_CUSTOMER_LAST,
            PAYMENT_STATUS_SUCCESS_CUSTOMER_LAST,
            CONTRACTOR_MUST_FULFILL_OBLIGATIONS_DEBIT_MATCHED_CUSTOMER_LAST,
            CONTRACTOR_MUST_FULFILL_OBLIGATIONS_MANDATIN_CUSTOMER_LAST,
            TRACK_NUMBER_LIST_LAST,
            YOU_CAN_OPEN_DISPUTE_CUSTOMER_LAST,
            AUTOMATIC_TIMEOUT_CLOSE_DEBIT_MATCHED_CUSTOMER_LAST,
            AUTOMATIC_TIMEOUT_CLOSE_MANDARIN_CUSTOMER_LAST,

            DELIVERY_DPD_PICKUP_LAST,
            DELIVERY_DPD_ORDER_PENDING_CUSTOMER_LAST,
            DELIVERY_DPD_ORDER_DUPLICATE_CUSTOMER_LAST,
            DELIVERY_DPD_ORDER_ERROR_CUSTOMER_LAST,
            DELIVERY_PACKAGE_ACCEPTED_CUSTOMER_LAST,
            DELIVERY_INFO_BLOCK_CUSTOMER_LAST
        ],
        'DISPUTE_CANCELED_FOR_CONTRACTOR': [
            DISPUTE_CANCELED_CONTRACTOR_LAST,
            MSG_PAYMENT_STATUS_SUCCESS_CONTRACTOR_LAST,
            INFO_MSG_CONTRACTOR_MUST_FULFILL_OBLIGATIONS_CONTRACTOR_LAST,
            ADD_TRACK_NUMBER_LAST,
            INFO_MSG_MONEY_TRANSFER_CONTRACTOR_LAST,

            DELIVERY_DOOR_TO_DOOR_LAST,
            DELIVERY_DPD_ORDER_PENDING_CONTRACTOR_LAST,
            DELIVERY_DPD_ORDER_DUPLICATE_CONTRACTOR_LAST,
            DELIVERY_DPD_ORDER_ERROR_CONTRACTOR_LAST,
            DELIVERY_RECEPTION_POINT_LAST,
            DELIVERY_ORDER_CREATE_LAST,
            DELIVERY_INFO_BLOCK_CONTRACTOR_LAST
        ],
        'DISPUTE_CANCELED_FOR_OPERATOR': [
            DISPUTE_CANCELED_OPERATOR_LAST,
            MSG_PAYMENT_STATUS_SUCCESS_OPERATOR_LAST,
            INFO_MSG_CONTRACTOR_MUST_FULFILL_OBLIGATIONS_OPERATOR_LAST,
            INFO_MSG_MONEY_TRANSFER_OPERATOR_LAST
        ],
        'DISPUTE_CLOSED_FOR_CUSTOMER': [
            DISPUTE_CLOSED_CUSTOMER_LAST,
            MANDARIN_ACQUIRING_SUCCESS_CUSTOMER_LAST,
            PAYMENT_STATUS_SUCCESS_CUSTOMER_LAST,
            CONTRACTOR_MUST_FULFILL_OBLIGATIONS_DEBIT_MATCHED_CUSTOMER_LAST,
            CONTRACTOR_MUST_FULFILL_OBLIGATIONS_MANDATIN_CUSTOMER_LAST,
            TRACK_NUMBER_LIST_LAST,
            YOU_CAN_OPEN_DISPUTE_CUSTOMER_LAST,
            AUTOMATIC_TIMEOUT_CLOSE_DEBIT_MATCHED_CUSTOMER_LAST,
            AUTOMATIC_TIMEOUT_CLOSE_MANDARIN_CUSTOMER_LAST,

            DELIVERY_DPD_PICKUP_LAST,
            DELIVERY_DPD_ORDER_PENDING_CUSTOMER_LAST,
            DELIVERY_DPD_ORDER_DUPLICATE_CUSTOMER_LAST,
            DELIVERY_DPD_ORDER_ERROR_CUSTOMER_LAST,
            DELIVERY_PACKAGE_ACCEPTED_CUSTOMER_LAST,
            DELIVERY_INFO_BLOCK_CUSTOMER_LAST
        ],
        'DISPUTE_CLOSED_FOR_CONTRACTOR': [
            DISPUTE_CLOSED_CONTRACTOR_LAST,
            MSG_PAYMENT_STATUS_SUCCESS_CONTRACTOR_LAST,
            INFO_MSG_CONTRACTOR_MUST_FULFILL_OBLIGATIONS_CONTRACTOR_LAST,
            ADD_TRACK_NUMBER_LAST,
            INFO_MSG_MONEY_TRANSFER_CONTRACTOR_LAST,

            DELIVERY_DOOR_TO_DOOR_LAST,
            DELIVERY_DPD_ORDER_PENDING_CONTRACTOR_LAST,
            DELIVERY_DPD_ORDER_DUPLICATE_CONTRACTOR_LAST,
            DELIVERY_DPD_ORDER_ERROR_CONTRACTOR_LAST,
            DELIVERY_RECEPTION_POINT_LAST,
            DELIVERY_ORDER_CREATE_LAST,
            DELIVERY_INFO_BLOCK_CONTRACTOR_LAST
        ],
        'DISPUTE_CLOSED_FOR_OPERATOR': [
            DISPUTE_CLOSED_OPERATOR_LAST,
            MSG_PAYMENT_STATUS_SUCCESS_OPERATOR_LAST,
            INFO_MSG_CONTRACTOR_MUST_FULFILL_OBLIGATIONS_OPERATOR_LAST,
            INFO_MSG_MONEY_TRANSFER_OPERATOR_LAST
        ],
        'DISPUTE_CLOSED_WITH_DAYS_FOR_CUSTOMER': [
            DISPUTE_CLOSED_WITH_DAYS_CUSTOMER_LAST,
            MANDARIN_ACQUIRING_SUCCESS_CUSTOMER_LAST,
            PAYMENT_STATUS_SUCCESS_CUSTOMER_LAST,
            CONTRACTOR_MUST_FULFILL_OBLIGATIONS_DEBIT_MATCHED_CUSTOMER_LAST,
            CONTRACTOR_MUST_FULFILL_OBLIGATIONS_MANDATIN_CUSTOMER_LAST,
            TRACK_NUMBER_LIST_LAST,
            YOU_CAN_OPEN_DISPUTE_CUSTOMER_LAST,
            AUTOMATIC_TIMEOUT_CLOSE_DEBIT_MATCHED_CUSTOMER_LAST,
            AUTOMATIC_TIMEOUT_CLOSE_MANDARIN_CUSTOMER_LAST,

            DELIVERY_DPD_PICKUP_LAST,
            DELIVERY_DPD_ORDER_PENDING_CUSTOMER_LAST,
            DELIVERY_DPD_ORDER_DUPLICATE_CUSTOMER_LAST,
            DELIVERY_DPD_ORDER_ERROR_CUSTOMER_LAST,
            DELIVERY_PACKAGE_ACCEPTED_CUSTOMER_LAST,
            DELIVERY_INFO_BLOCK_CUSTOMER_LAST
        ],
        'DISPUTE_CLOSED_WITH_DAYS_FOR_OPERATOR': [
            DISPUTE_CLOSED_WITH_DAYS_OPERATOR_LAST,
            MSG_PAYMENT_STATUS_SUCCESS_OPERATOR_LAST,
            INFO_MSG_CONTRACTOR_MUST_FULFILL_OBLIGATIONS_OPERATOR_LAST,
            INFO_MSG_MONEY_TRANSFER_OPERATOR_LAST
        ],
        'DISPUTE_CLOSED_WITH_DAYS_FOR_CONTRACTOR': [
            DISPUTE_CLOSED_WITH_DAYS_CONTRACTOR_LAST,
            MSG_PAYMENT_STATUS_SUCCESS_CONTRACTOR_LAST,
            INFO_MSG_CONTRACTOR_MUST_FULFILL_OBLIGATIONS_CONTRACTOR_LAST,
            ADD_TRACK_NUMBER_LAST,
            INFO_MSG_MONEY_TRANSFER_CONTRACTOR_LAST,

            DELIVERY_DOOR_TO_DOOR_LAST,
            DELIVERY_DPD_ORDER_PENDING_CONTRACTOR_LAST,
            DELIVERY_DPD_ORDER_DUPLICATE_CONTRACTOR_LAST,
            DELIVERY_DPD_ORDER_ERROR_CONTRACTOR_LAST,
            DELIVERY_RECEPTION_POINT_LAST,
            DELIVERY_ORDER_CREATE_LAST,
            DELIVERY_INFO_BLOCK_CONTRACTOR_LAST
        ],
        'DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_FOR_CUSTOMER': [
            DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_CUSTOMER_LAST,
            MANDARIN_ACQUIRING_SUCCESS_CUSTOMER_LAST,
            PAYMENT_STATUS_SUCCESS_CUSTOMER_LAST,
            CONTRACTOR_MUST_FULFILL_OBLIGATIONS_DEBIT_MATCHED_CUSTOMER_LAST,
            CONTRACTOR_MUST_FULFILL_OBLIGATIONS_MANDATIN_CUSTOMER_LAST,
            TRACK_NUMBER_LIST_LAST,
            YOU_CAN_OPEN_DISPUTE_CUSTOMER_LAST,
            AUTOMATIC_TIMEOUT_CLOSE_DEBIT_MATCHED_CUSTOMER_LAST,
            AUTOMATIC_TIMEOUT_CLOSE_MANDARIN_CUSTOMER_LAST,

            DELIVERY_DPD_PICKUP_LAST,
            DELIVERY_DPD_ORDER_PENDING_CUSTOMER_LAST,
            DELIVERY_DPD_ORDER_DUPLICATE_CUSTOMER_LAST,
            DELIVERY_DPD_ORDER_ERROR_CUSTOMER_LAST,
            DELIVERY_PACKAGE_ACCEPTED_CUSTOMER_LAST,
            DELIVERY_INFO_BLOCK_CUSTOMER_LAST
        ],
        'DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_FOR_CONTRACTOR': [
            DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_CONTRACTOR_LAST,
            MSG_PAYMENT_STATUS_SUCCESS_CONTRACTOR_LAST,
            INFO_MSG_CONTRACTOR_MUST_FULFILL_OBLIGATIONS_CONTRACTOR_LAST,
            ADD_TRACK_NUMBER_LAST,
            INFO_MSG_MONEY_TRANSFER_CONTRACTOR_LAST,

            DELIVERY_DOOR_TO_DOOR_LAST,
            DELIVERY_DPD_ORDER_PENDING_CONTRACTOR_LAST,
            DELIVERY_DPD_ORDER_DUPLICATE_CONTRACTOR_LAST,
            DELIVERY_DPD_ORDER_ERROR_CONTRACTOR_LAST,
            DELIVERY_RECEPTION_POINT_LAST,
            DELIVERY_ORDER_CREATE_LAST,
            DELIVERY_INFO_BLOCK_CONTRACTOR_LAST
        ],
        'DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_FOR_OPERATOR': [
            DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_OPERATOR_LAST,
            MSG_PAYMENT_STATUS_SUCCESS_OPERATOR_LAST,
            INFO_MSG_CONTRACTOR_MUST_FULFILL_OBLIGATIONS_OPERATOR_LAST,
            INFO_MSG_MONEY_TRANSFER_OPERATOR_LAST
        ]

    } %}

    {% if templatePath[code] %}
        {% for i in templatePath[code] %}
            {% if i %}
                {% include i |trim with {
                    'is_last': is_last,
                    'counter_agent_role_dp': counter_agent_role_dp,
                    'counter_agent_role': counter_agent_role,
                    'data': data,
                    'mandarin_acquiring': mandarin_acquiring,
                    'available_payment_method_types': available_payment_method_types,
                    'deal_type_ident': deal_type_ident,
                    'created': created,
                    'trackingNumberForm': trackingNumberForm,
                    'datePickupForm': datePickupForm
                    }
                %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

