{% macro getDealSpoilerTemplatePath(code, is_last, counter_agent_role_dp, counter_agent_role, data, mandarin_acquiring, available_payment_method_types, customer, contractor, deal, date_of_event, deal_type_ident, created) %}
    {# !!!!!! CUSTOMER !!!! #}
    {% set PAYMENT_STATUS_SUCCESS_CUSTOMER = 'application/deal/partial/deal-history-text/customer/msg_payment-status-success.twig' %}
    {% set YOU_CONFIRMED_OBLIGATIONS_FULFILLMENT_CUSTOMER = 'application/deal/partial/deal-history-text/customer/you-confirmed-obligations-fulfillment.twig' %}
    {% set TROUBLE_CUSTOMER = 'application/deal/partial/deal-history-text/customer/trouble.twig' %}
    {% set YOU_CREATED_DEAL_CUSTOMER = 'application/deal/partial/deal-history-text/customer/you-created-deal.twig' %}
    {% set DEAL_DEADLINE_EXPIRED_CUSTOMER = 'application/deal/partial/deal-history-text/customer/deal-deadline-expired.twig' %}
    {% set YOU_CONFIRMED_CUSTOMER = 'application/deal/partial/deal-history-text/customer/you-confirmed.twig' %}
    {% set DEAL_CONFIRMED_CUSTOMER = 'application/deal/partial/deal-history-text/customer/deal-confirmed.twig' %}
    {% set COUNTERAGENT_CREATED_DEAL_CUSTOMER = 'application/deal/partial/deal-history-text/customer/counteragent-created-deal.twig' %}
    {% set COUNTERAGENT_CONFIRMED_CUSTOMER = 'application/deal/partial/deal-history-text/customer/counteragent-confirmed.twig' %}
    {% set DEAL_CLOSED_CUSTOMER = 'application/deal/partial/deal-history-text/customer/deal-closed.twig' %}
    {% set PAYMENT_SENT_CUSTOMER = 'application/deal/partial/deal-history-text/customer/payment-sent.twig' %}
    {% set YOU_EDITED_DEAL_CUSTOMER = 'application/deal/partial/deal-history-text/customer/you-edited-deal.twig' %}
    {% set MANDARIN_ACQUIRING_SUCCESS_CUSTOMER = 'application/deal/partial/deal-history-text/customer/mandarin-acquiring-success.twig' %}
    {% set PENDING_CREDIT_PAYMENT_CUSTOMER = 'application/deal/partial/deal-history-text/customer/pending-credit-payment.twig' %}
    {% set ARBITRAGE_REQUEST_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/arbitrage-request.twig' %}
    {% set ARBITRAGE_REQUEST_ACCEPTED_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/arbitrage-request-accepted.twig' %}
    {% set ARBITRAGE_REQUEST_REJECTED_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/arbitrage-request-rejected.twig' %}
    {% set ARBITRAGE_REQUEST_WITH_DISCOUNT_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/arbitrage-request-with-discount.twig' %}
    {% set ARBITRAGE_REQUEST_WITH_REFUND_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/arbitrage-request-with-refund.twig' %}
    {% set ARBITRAGE_REQUEST_WITH_TRIBUNAL_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/arbitrage-request-with-tribunal.twig' %}
    {% set DISCOUNT_FOR_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/discount-for-customer.twig' %}
    {% set DISCOUNT_REQUEST_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/discount-request.twig' %}
    {% set DISCOUNT_REQUEST_ACCEPTED_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/discount-request-accepted.twig' %}
    {% set DISCOUNT_REQUEST_REJECTED_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/discount-request-rejected.twig' %}
    {% set DISPUTE_CANCELED_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/dispute-canceled.twig' %}
    {% set DISPUTE_CLOSED_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/dispute-closed.twig' %}
    {% set DISPUTE_CLOSED_AFTER_DISCOUNT_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/dispute-closed-after-discount.twig' %}
    {% set DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/dispute-closed-discount-with-days.twig' %}
    {% set DISPUTE_CLOSED_WITH_DAYS_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/dispute-closed-with-days.twig' %}
    {% set DISPUTE_OPEN_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/dispute-open.twig' %}
    {% set REFUND_FOR_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/refund-for-customer.twig' %}
    {% set REFUND_IS_MADE_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/refund-is-made.twig' %}
    {% set REFUND_REQUEST_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/refund-request.twig' %}
    {% set REFUND_REQUEST_ACCEPTED_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/refund-request-accepted.twig' %}
    {% set REFUND_REQUEST_REJECTED_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/refund-request-rejected.twig' %}
    {% set TRIBUNAL_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/tribunal.twig' %}
    {% set TRIBUNAL_REQUEST_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/tribunal-request.twig' %}
    {% set TRIBUNAL_REQUEST_ACCEPTED_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/tribunal-request-accepted.twig' %}
    {% set TRIBUNAL_REQUEST_REJECTED_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/tribunal-request-rejected.twig' %}
    {% set WARRANTY_EXTENSION_CUSTOMER = 'application/deal/partial/dispute-history-text/customer/warranty-extension.twig' %}

    {# !!!!!! CONTRACTOR !!!! #}
    {% set YOU_CREATED_DEAL_CONTRACTOR = 'application/deal/partial/deal-history-text/contractor/you-created-deal.twig' %}
    {% set YOU_EDITED_DEAL_CONTRACTOR = 'application/deal/partial/deal-history-text/contractor/you-edited-deal.twig' %}
    {% set YOU_CONFIRMED_CONTRACTOR = 'application/deal/partial/deal-history-text/contractor/you-confirmed.twig' %}
    {% set COUNTERAGENTS_CONFIRMED_CONDITIONS_CONTRACTOR = 'application/deal/partial/deal-history-text/contractor/contractor-and-customer-confirmed-conditions.twig' %}
    {% set MSG_PAYMENT_STATUS_SUCCESS_CONTRACTOR = 'application/deal/partial/deal-history-text/contractor/msg-payment-status-success.twig' %}
    {% set CUSTOMER_CONFIRMED_OBLIGATIONS_FULFILLMENT_CONTRACTOR = 'application/deal/partial/deal-history-text/contractor/customer-confirmed-obligations-fulfillment.twig' %}
    {% set TROUBLE_CONTRACTOR = 'application/deal/partial/deal-history-text/contractor/trouble.twig' %}
    {% set DEAL_DEADLINE_EXPIRED_CONTRACTOR = 'application/deal/partial/deal-history-text/contractor/deal-deadline-expired.twig' %}
    {% set MANDARIN_ACQUIRING_SUCCESS_CONTRACTOR = 'application/deal/partial/deal-history-text/contractor/mandarin-acquiring-success.twig' %}
    {% set DEAL_CLOSED_CONTRACTOR = 'application/deal/partial/deal-history-text/contractor/deal-closed.twig' %}
    {% set COUNTERAGENT_CREATED_DEAL_CONTRACTOR = 'application/deal/partial/deal-history-text/contractor/counteragent-created-deal.twig' %}
    {% set YOU_EDITED_DEAL_CONTRACTOR = 'application/deal/partial/deal-history-text/contractor/you-edited-deal.twig' %}
    {% set MANDARIN_ACQUIRING_SUCCESS_CONTRACTOR = 'application/deal/partial/deal-history-text/contractor/mandarin-acquiring-success.twig' %}
    {% set PENDING_CREDIT_PAYMENT_CONTRACTOR = 'application/deal/partial/deal-history-text/contractor/pending-credit-payment.twig' %}
    {% set ARBITRAGE_REQUEST_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/arbitrage-request.twig' %}
    {% set ARBITRAGE_REQUEST_ACCEPTED_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/arbitrage-request-accepted.twig' %}
    {% set ARBITRAGE_REQUEST_REJECTED_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/arbitrage-request-rejected.twig' %}
    {% set ARBITRAGE_REQUEST_WITH_DISCOUNT_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/arbitrage-request-with-discount.twig' %}
    {% set ARBITRAGE_REQUEST_WITH_REFUND_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/arbitrage-request-with-refund.twig' %}
    {% set ARBITRAGE_REQUEST_WITH_TRIBUNAL_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/arbitrage-request-with-tribunal.twig' %}
    {% set DISCOUNT_FOR_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/discount-for-contractor.twig' %}
    {% set DISCOUNT_REQUEST_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/discount-request.twig' %}
    {% set DISCOUNT_REQUEST_ACCEPTED_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/discount-request-accepted.twig' %}
    {% set DISCOUNT_REQUEST_REJECTED_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/discount-request-rejected.twig' %}
    {% set DISPUTE_CANCELED_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/dispute-canceled.twig' %}
    {% set DISPUTE_CLOSED_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/dispute-closed.twig' %}
    {% set DISPUTE_CLOSED_AFTER_DISCOUNT_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/dispute-closed-after-discount.twig' %}
    {% set DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/dispute-closed-discount-with-days.twig' %}
    {% set DISPUTE_CLOSED_WITH_DAYS_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/dispute-closed-with-days.twig' %}
    {% set DISPUTE_OPEN_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/dispute-open.twig' %}
    {% set REFUND_FOR_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/refund-for-contractor.twig' %}
    {% set REFUND_IS_MADE_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/refund-is-made.twig' %}
    {% set REFUND_REQUEST_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/refund-request.twig' %}
    {% set REFUND_REQUEST_ACCEPTED_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/refund-request-accepted.twig' %}
    {% set REFUND_REQUEST_REJECTED_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/refund-request-rejected.twig' %}
    {% set TRIBUNAL_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/tribunal.twig' %}
    {% set TRIBUNAL_REQUEST_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/tribunal-request.twig' %}
    {% set TRIBUNAL_REQUEST_ACCEPTED_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/tribunal-request-accepted.twig' %}
    {% set TRIBUNAL_REQUEST_REJECTED_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/tribunal-request-rejected.twig' %}
    {% set WARRANTY_EXTENSION_CONTRACTOR = 'application/deal/partial/dispute-history-text/contractor/warranty-extension.twig' %}

    {# !!!!!! OPERATOR !!!! #}
    {% set COUNTERAGENT_CREATED_DEAL_OPERATOR = 'application/deal/partial/deal-history-text/operator/counteragent-created-deal.twig' %}
    {% set COUNTERAGENTS_CONFIRMED_CONDITIONS_OPERATOR = 'application/deal/partial/deal-history-text/operator/contractor-and-customer-confirmed-conditions.twig' %}
    {% set MSG_PAYMENT_STATUS_SUCCESS_OPERATOR = 'application/deal/partial/deal-history-text/operator/msg-payment-status-success.twig' %}
    {% set CUSTOMER_CONFIRMED_OBLIGATIONS_FULFILLMENT_OPERATOR = 'application/deal/partial/deal-history-text/operator/customer-confirmed-obligations-fulfillment.twig' %}
    {% set TROUBLE_OPERATOR = 'application/deal/partial/deal-history-text/operator/trouble.twig' %}
    {% set DEAL_DEADLINE_EXPIRED_OPERATOR = 'application/deal/partial/deal-history-text/operator/deal-deadline-expired.twig' %}
    {% set MANDARIN_ACQUIRING_SUCCESS_OPERATOR = 'application/deal/partial/deal-history-text/operator/mandarin-acquiring-success.twig' %}
    {% set DEAL_CLOSED_OPERATOR = 'application/deal/partial/deal-history-text/operator/deal-closed.twig' %}
    {% set COUNTERAGENT_CONFIRMED_OPERATOR = 'application/deal/partial/deal-history-text/operator/counteragent-confirmed.twig' %}
    {% set PAYMENT_SENT_OPERATOR = 'application/deal/partial/deal-history-text/operator/payment-sent.twig' %}
    {% set YOU_EDITED_DEAL_OPERATOR = 'application/deal/partial/deal-history-text/operator/you-edited-deal.twig' %}
    {% set PENDING_CREDIT_PAYMENT_OPERATOR = 'application/deal/partial/deal-history-text/operator/pending-credit-payment.twig' %}
    {% set ARBITRAGE_REQUEST_OPERATOR = 'application/deal/partial/dispute-history-text/operator/arbitrage-request.twig' %}
    {% set ARBITRAGE_REQUEST_ACCEPTED_OPERATOR = 'application/deal/partial/dispute-history-text/operator/arbitrage-request-accepted.twig' %}
    {% set ARBITRAGE_REQUEST_REJECTED_OPERATOR = 'application/deal/partial/dispute-history-text/operator/arbitrage-request-rejected.twig' %}
    {% set ARBITRAGE_REQUEST_WITH_DISCOUNT_OPERATOR = 'application/deal/partial/dispute-history-text/operator/arbitrage-request-with-discount.twig' %}
    {% set ARBITRAGE_REQUEST_WITH_REFUND_OPERATOR = 'application/deal/partial/dispute-history-text/operator/arbitrage-request-with-refund.twig' %}
    {% set ARBITRAGE_REQUEST_WITH_TRIBUNAL_OPERATOR = 'application/deal/partial/dispute-history-text/operator/arbitrage-request-with-tribunal.twig' %}
    {% set DISCOUNT_FOR_OPERATOR = 'application/deal/partial/dispute-history-text/operator/discount-for-operator.twig' %}
    {% set DISCOUNT_REQUEST_OPERATOR = 'application/deal/partial/dispute-history-text/operator/discount-request.twig' %}
    {% set DISCOUNT_REQUEST_ACCEPTED_OPERATOR = 'application/deal/partial/dispute-history-text/operator/discount-request-accepted.twig' %}
    {% set DISCOUNT_REQUEST_REJECTED_OPERATOR = 'application/deal/partial/dispute-history-text/operator/discount-request-rejected.twig' %}
    {% set DISPUTE_CANCELED_OPERATOR = 'application/deal/partial/dispute-history-text/operator/dispute-canceled.twig' %}
    {% set DISPUTE_CLOSED_OPERATOR = 'application/deal/partial/dispute-history-text/operator/dispute-closed.twig' %}
    {% set DISPUTE_CLOSED_AFTER_DISCOUNT_OPERATOR = 'application/deal/partial/dispute-history-text/operator/dispute-closed-after-discount.twig' %}
    {% set DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_OPERATOR = 'application/deal/partial/dispute-history-text/operator/dispute-closed-discount-with-days.twig' %}
    {% set DISPUTE_CLOSED_WITH_DAYS_OPERATOR = 'application/deal/partial/dispute-history-text/operator/dispute-closed-with-days.twig' %}
    {% set DISPUTE_OPEN_OPERATOR = 'application/deal/partial/dispute-history-text/operator/dispute-open.twig' %}
    {% set REFUND_FOR_OPERATOR = 'application/deal/partial/dispute-history-text/operator/refund-for-operator.twig' %}
    {% set REFUND_IS_MADE_OPERATOR = 'application/deal/partial/dispute-history-text/operator/refund-is-made.twig' %}
    {% set REFUND_REQUEST_OPERATOR = 'application/deal/partial/dispute-history-text/operator/refund-request.twig' %}
    {% set REFUND_REQUEST_ACCEPTED_OPERATOR = 'application/deal/partial/dispute-history-text/operator/refund-request-accepted.twig' %}
    {% set REFUND_REQUEST_REJECTED_OPERATOR = 'application/deal/partial/dispute-history-text/operator/refund-request-rejected.twig' %}
    {% set TRIBUNAL_OPERATOR = 'application/deal/partial/dispute-history-text/operator/tribunal.twig' %}
    {% set TRIBUNAL_REQUEST_OPERATOR = 'application/deal/partial/dispute-history-text/operator/tribunal-request.twig' %}
    {% set TRIBUNAL_REQUEST_ACCEPTED_OPERATOR = 'application/deal/partial/dispute-history-text/operator/tribunal-request-accepted.twig' %}
    {% set TRIBUNAL_REQUEST_REJECTED_OPERATOR = 'application/deal/partial/dispute-history-text/operator/tribunal-request-rejected.twig' %}
    {% set WARRANTY_EXTENSION_OPERATOR = 'application/deal/partial/dispute-history-text/operator/warranty-extension.twig' %}

    {% set templatePath = {
        'CREATED_FOR_CUSTOMER': [
            YOU_CREATED_DEAL_CUSTOMER,
            COUNTERAGENT_CREATED_DEAL_CUSTOMER
        ],
        'CREATED_FOR_CONTRACTOR': [
            YOU_CREATED_DEAL_CONTRACTOR,
            COUNTERAGENT_CREATED_DEAL_CONTRACTOR
        ],
        'CREATED_FOR_OPERATOR': [
            COUNTERAGENT_CREATED_DEAL_OPERATOR
        ],

        'EDITED_FOR_CUSTOMER': [

        ],
        'EDITED_FOR_CONTRACTOR': [

        ],
        'EDITED_FOR_OPERATOR': [

        ],

        'CONFIRMED_FOR_CUSTOMER': [
            DEAL_CONFIRMED_CUSTOMER
        ],
        'CONFIRMED_FOR_CONTRACTOR': [
            COUNTERAGENTS_CONFIRMED_CONDITIONS_CONTRACTOR
        ],
        'CONFIRMED_FOR_OPERATOR': [
            COUNTERAGENTS_CONFIRMED_CONDITIONS_OPERATOR
        ],

        'DEBIT_MATCHED_FOR_CUSTOMER': [
            PAYMENT_STATUS_SUCCESS_CUSTOMER
        ],
        'DEBIT_MATCHED_FOR_CONTRACTOR': [
            MSG_PAYMENT_STATUS_SUCCESS_CONTRACTOR
        ],
        'DEBIT_MATCHED_FOR_OPERATOR': [
            MSG_PAYMENT_STATUS_SUCCESS_OPERATOR
        ],

        'DELIVERED_FOR_CUSTOMER': [
            YOU_CONFIRMED_OBLIGATIONS_FULFILLMENT_CUSTOMER
        ],
        'DELIVERED_FOR_CONTRACTOR': [
            CUSTOMER_CONFIRMED_OBLIGATIONS_FULFILLMENT_CONTRACTOR
        ],
        'DELIVERED_FOR_OPERATOR': [
            CUSTOMER_CONFIRMED_OBLIGATIONS_FULFILLMENT_OPERATOR
        ],

        'PENDING_CREDIT_PAYMENT_FOR_CUSTOMER': [
            PENDING_CREDIT_PAYMENT_CUSTOMER
        ],
        'PENDING_CREDIT_PAYMENT_FOR_CONTRACTOR': [
            PENDING_CREDIT_PAYMENT_CONTRACTOR
        ],
        'PENDING_CREDIT_PAYMENT_FOR_OPERATOR': [
            PENDING_CREDIT_PAYMENT_OPERATOR
        ],

        'TROUBLE_FOR_CUSTOMER': [

        ],
        'TROUBLE_FOR_CONTRACTOR': [

        ],
        'TROUBLE_FOR_OPERATOR': [

        ],

        'DEADLINE_EXPIRED_FOR_CUSTOMER': [
            DEAL_DEADLINE_EXPIRED_CUSTOMER
        ],
        'DEADLINE_EXPIRED_FOR_CONTRACTOR': [
            DEAL_DEADLINE_EXPIRED_CONTRACTOR
        ],
        'DEADLINE_EXPIRED_FOR_OPERATOR': [
            DEAL_DEADLINE_EXPIRED_OPERATOR
        ],

        'DEADLINE_EXPIRED_IN_ONE_DAY_FOR_CUSTOMER': [
        ],
        'DEADLINE_EXPIRED_IN_ONE_DAY_FOR_CONTRACTOR': [
        ],
        'DEADLINE_EXPIRED_IN_ONE_DAY_FOR_OPERATOR': [
        ],

        'MANDARIN_ACQUIRING_PROCESSING_FOR_CUSTOMER': [
        ],
        'MANDARIN_ACQUIRING_PROCESSING_FOR_CONTRACTOR': [
        ],
        'MANDARIN_ACQUIRING_PROCESSING_FOR_OPERATOR': [
        ],

        'MANDARIN_ACQUIRING_SUCCESS_FOR_CUSTOMER': [
            MANDARIN_ACQUIRING_SUCCESS_CUSTOMER
        ],
        'MANDARIN_ACQUIRING_SUCCESS_FOR_CONTRACTOR': [
            MANDARIN_ACQUIRING_SUCCESS_CONTRACTOR
        ],
        'MANDARIN_ACQUIRING_SUCCESS_FOR_OPERATOR': [
            MANDARIN_ACQUIRING_SUCCESS_OPERATOR
        ],

        'MANDARIN_ACQUIRING_FAILED_FOR_CUSTOMER': [
        ],
        'MANDARIN_ACQUIRING_FAILED_FOR_CONTRACTOR': [
        ],
        'MANDARIN_ACQUIRING_FAILED_FOR_OPERATOR': [
        ],

        'CLOSED_FOR_CUSTOMER': [
            DEAL_CLOSED_CUSTOMER
        ],
        'CLOSED_FOR_CONTRACTOR': [
            DEAL_CLOSED_CONTRACTOR
        ],
        'CLOSED_FOR_OPERATOR': [
            DEAL_CLOSED_OPERATOR,
            PAYMENT_SENT_OPERATOR
        ],

        'DISPUTE_OPEN_FOR_CUSTOMER': [
            DISPUTE_OPEN_CUSTOMER
        ],
        'DISPUTE_OPEN_FOR_CONTRACTOR': [
            DISPUTE_OPEN_CONTRACTOR
        ],
        'DISPUTE_OPEN_FOR_OPERATOR': [
            DISPUTE_OPEN_OPERATOR
        ],

        'DISCOUNT_REQUEST_FOR_AUTHOR': [
            DISCOUNT_REQUEST_CUSTOMER
        ],
        'DISCOUNT_REQUEST_FOR_NOT_AUTHOR': [
            DISCOUNT_REQUEST_CONTRACTOR
        ],
        'DISCOUNT_REQUEST_FOR_OBSERVER': [
            DISCOUNT_REQUEST_OPERATOR
        ],
        'DISCOUNT_REQUEST_ACCEPTED_FOR_NOT_AUTHOR': [
            DISCOUNT_REQUEST_ACCEPTED_CUSTOMER
        ],
        'DISCOUNT_REQUEST_ACCEPTED_FOR_AUTHOR': [
            DISCOUNT_REQUEST_ACCEPTED_CONTRACTOR
        ],
        'DISCOUNT_REQUEST_ACCEPTED_FOR_OBSERVER': [
            DISCOUNT_REQUEST_ACCEPTED_OPERATOR
        ],
        'DISCOUNT_REQUEST_REJECTED_FOR_NOT_AUTHOR': [
            DISCOUNT_REQUEST_REJECTED_CUSTOMER
        ],
        'DISCOUNT_REQUEST_REJECTED_FOR_AUTHOR': [
            DISCOUNT_REQUEST_REJECTED_CONTRACTOR
        ],
        'DISCOUNT_REQUEST_REJECTED_FOR_OBSERVER': [
            DISCOUNT_REQUEST_REJECTED_OPERATOR
        ],
        'DISCOUNT_FOR_CUSTOMER': [
            DISCOUNT_FOR_CUSTOMER
        ],
        'DISCOUNT_FOR_CONTRACTOR': [
            DISCOUNT_FOR_CONTRACTOR
        ],
        'DISCOUNT_FOR_OPERATOR': [
            DISCOUNT_FOR_OPERATOR
        ],
        'REFUND_FOR_CUSTOMER': [
            REFUND_FOR_CUSTOMER
        ],
        'REFUND_FOR_CONTRACTOR': [
            REFUND_FOR_CONTRACTOR
        ],
        'REFUND_FOR_OPERATOR': [
            REFUND_FOR_OPERATOR
        ],
        'REFUND_REQUEST_FOR_AUTHOR': [
            REFUND_REQUEST_CUSTOMER
        ],
        'REFUND_REQUEST_FOR_NOT_AUTHOR': [
            REFUND_REQUEST_CONTRACTOR
        ],
        'REFUND_REQUEST_FOR_OBSERVER': [
            REFUND_REQUEST_OPERATOR
        ],
        'REFUND_REQUEST_ACCEPTED_FOR_NOT_AUTHOR': [
            REFUND_REQUEST_ACCEPTED_CUSTOMER
        ],
        'REFUND_REQUEST_ACCEPTED_FOR_AUTHOR': [
            REFUND_REQUEST_ACCEPTED_CONTRACTOR
        ],
        'REFUND_REQUEST_ACCEPTED_FOR_OBSERVER': [
            REFUND_REQUEST_ACCEPTED_OPERATOR
        ],
        'REFUND_REQUEST_REJECTED_FOR_NOT_AUTHOR': [
            REFUND_REQUEST_REJECTED_CUSTOMER
        ],
        'REFUND_REQUEST_REJECTED_FOR_AUTHOR': [
            REFUND_REQUEST_REJECTED_CONTRACTOR
        ],
        'REFUND_REQUEST_REJECTED_FOR_OBSERVER': [
            REFUND_REQUEST_REJECTED_OPERATOR
        ],
        'ARBITRAGE_REQUEST_WITH_DISCOUNT_FOR_AUTHOR': [
            ARBITRAGE_REQUEST_WITH_DISCOUNT_CUSTOMER
        ],
        'ARBITRAGE_REQUEST_WITH_DISCOUNT_FOR_NOT_AUTHOR': [
            ARBITRAGE_REQUEST_WITH_DISCOUNT_CONTRACTOR
        ],
        'ARBITRAGE_REQUEST_WITH_DISCOUNT_FOR_OBSERVER': [
            ARBITRAGE_REQUEST_WITH_DISCOUNT_OPERATOR
        ],
        'ARBITRAGE_REQUEST_WITH_REFUND_FOR_AUTHOR': [
            ARBITRAGE_REQUEST_WITH_REFUND_CUSTOMER
        ],
        'ARBITRAGE_REQUEST_WITH_REFUND_FOR_NOT_AUTHOR': [
            ARBITRAGE_REQUEST_WITH_REFUND_CONTRACTOR
        ],
        'ARBITRAGE_REQUEST_WITH_REFUND_FOR_OBSERVER': [
            ARBITRAGE_REQUEST_WITH_REFUND_OPERATOR
        ],
        'ARBITRAGE_REQUEST_WITH_TRIBUNAL_FOR_AUTHOR': [
            ARBITRAGE_REQUEST_WITH_TRIBUNAL_CUSTOMER
        ],
        'ARBITRAGE_REQUEST_WITH_TRIBUNAL_FOR_NOT_AUTHOR': [
            ARBITRAGE_REQUEST_WITH_TRIBUNAL_CONTRACTOR
        ],
        'ARBITRAGE_REQUEST_WITH_TRIBUNAL_FOR_OBSERVER': [
            ARBITRAGE_REQUEST_WITH_TRIBUNAL_OPERATOR
        ],
        'ARBITRAGE_REQUEST_FOR_AUTHOR': [
            ARBITRAGE_REQUEST_CUSTOMER
        ],
        'ARBITRAGE_REQUEST_FOR_NOT_AUTHOR': [
            ARBITRAGE_REQUEST_CONTRACTOR
        ],
        'ARBITRAGE_REQUEST_FOR_OBSERVER': [
            ARBITRAGE_REQUEST_OPERATOR
        ],
        'ARBITRAGE_REQUEST_ACCEPTED_FOR_NOT_AUTHOR': [
            ARBITRAGE_REQUEST_ACCEPTED_CUSTOMER
        ],
        'ARBITRAGE_REQUEST_ACCEPTED_FOR_OBSERVER': [
            ARBITRAGE_REQUEST_ACCEPTED_CONTRACTOR
        ],
        'ARBITRAGE_REQUEST_ACCEPTED_FOR_AUTHOR': [
            ARBITRAGE_REQUEST_ACCEPTED_OPERATOR
        ],
        'ARBITRAGE_REQUEST_REJECTED_FOR_NOT_AUTHOR': [
            ARBITRAGE_REQUEST_REJECTED_CUSTOMER
        ],
        'ARBITRAGE_REQUEST_REJECTED_FOR_OBSERVER': [
            ARBITRAGE_REQUEST_REJECTED_CONTRACTOR
        ],
        'ARBITRAGE_REQUEST_REJECTED_FOR_AUTHOR': [
            ARBITRAGE_REQUEST_REJECTED_OPERATOR
        ],
        'TRIBUNAL_REQUEST_FOR_AUTHOR': [
            TRIBUNAL_REQUEST_CUSTOMER
        ],
        'TRIBUNAL_REQUEST_FOR_NOT_AUTHOR': [
            TRIBUNAL_REQUEST_CONTRACTOR
        ],
        'TRIBUNAL_REQUEST_FOR_OBSERVER': [
            TRIBUNAL_REQUEST_OPERATOR
        ],
        'TRIBUNAL_REQUEST_ACCEPTED_FOR_NOT_AUTHOR': [
            TRIBUNAL_REQUEST_ACCEPTED_CONTRACTOR
        ],
        'TRIBUNAL_REQUEST_ACCEPTED_FOR_OBSERVER': [
            TRIBUNAL_REQUEST_ACCEPTED_CONTRACTOR
        ],
        'TRIBUNAL_REQUEST_ACCEPTED_FOR_AUTHOR': [
            TRIBUNAL_REQUEST_ACCEPTED_OPERATOR
        ],
        'TRIBUNAL_REQUEST_REJECTED_FOR_NOT_AUTHOR': [
            TRIBUNAL_REQUEST_REJECTED_CUSTOMER
        ],
        'TRIBUNAL_REQUEST_REJECTED_FOR_OBSERVER': [
            TRIBUNAL_REQUEST_REJECTED_CONTRACTOR
        ],
        'TRIBUNAL_REQUEST_REJECTED_FOR_AUTHOR': [
            TRIBUNAL_REQUEST_REJECTED_OPERATOR
        ],
        'TRIBUNAL_FOR_CUSTOMER': [
            TRIBUNAL_CUSTOMER
        ],
        'TRIBUNAL_FOR_CONTRACTOR': [
            TRIBUNAL_CONTRACTOR
        ],
        'TRIBUNAL_FOR_OPERATOR': [
            TRIBUNAL_OPERATOR
        ],
        'DISPUTE_CLOSED_DISCOUNT_FOR_CUSTOMER': [
            DISPUTE_CLOSED_AFTER_DISCOUNT_CUSTOMER
        ],
        'DISPUTE_CLOSED_DISCOUNT_FOR_CONTRACTOR': [
            DISPUTE_CLOSED_AFTER_DISCOUNT_CONTRACTOR
        ],
        'DISPUTE_CLOSED_DISCOUNT_FOR_OPERATOR': [
            DISPUTE_CLOSED_AFTER_DISCOUNT_CONTRACTOR
        ],
        'DISPUTE_CLOSED_REFUND_FOR_CUSTOMER': [
            REFUND_IS_MADE_CUSTOMER
        ],
        'DISPUTE_CLOSED_REFUND_FOR_CONTRACTOR': [
            REFUND_IS_MADE_CONTRACTOR
        ],
        'DISPUTE_CLOSED_REFUND_FOR_OPERATOR': [
            REFUND_IS_MADE_OPERATOR
        ],
        'WARRANTY_EXTENSION_FOR_CUSTOMER': [
            WARRANTY_EXTENSION_CUSTOMER
        ],
        'WARRANTY_EXTENSION_FOR_CONTRACTOR': [
            WARRANTY_EXTENSION_CONTRACTOR
        ],
        'WARRANTY_EXTENSION_FOR_OPERATOR': [
            WARRANTY_EXTENSION_OPERATOR
        ],
        'DISPUTE_CANCELED_FOR_CUSTOMER': [
            DISPUTE_CANCELED_CUSTOMER
        ],
        'DISPUTE_CANCELED_FOR_CONTRACTOR': [
            DISPUTE_CANCELED_CONTRACTOR
        ],
        'DISPUTE_CANCELED_FOR_OPERATOR': [
            DISPUTE_CANCELED_OPERATOR
        ],
        'DISPUTE_CLOSED_FOR_CUSTOMER': [
            DISPUTE_CLOSED_CUSTOMER
        ],
        'DISPUTE_CLOSED_FOR_CONTRACTOR': [
            DISPUTE_CLOSED_CONTRACTOR
        ],
        'DISPUTE_CLOSED_FOR_OPERATOR': [
            DISPUTE_CLOSED_OPERATOR
        ],
        'DISPUTE_CLOSED_WITH_DAYS_FOR_CUSTOMER': [
            DISPUTE_CLOSED_WITH_DAYS_CUSTOMER
        ],
        'DISPUTE_CLOSED_WITH_DAYS_FOR_OPERATOR': [
            DISPUTE_CLOSED_WITH_DAYS_OPERATOR
        ],
        'DISPUTE_CLOSED_WITH_DAYS_FOR_CONTRACTOR': [
            DISPUTE_CLOSED_WITH_DAYS_CONTRACTOR
        ],
        'DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_FOR_CUSTOMER': [
            DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_CUSTOMER
        ],
        'DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_FOR_CONTRACTOR': [
            DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_CONTRACTOR
        ],
        'DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_FOR_OPERATOR': [
            DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_OPERATOR
        ]

    } %}

    {% if templatePath[code] %}
        {% for i in templatePath[code] %}
            {% if i %}
                {% include i |trim with {
                    'is_last': is_last,
                    'counter_agent_role_dp': counter_agent_role_dp,
                    'counter_agent_role': counter_agent_role,
                    'data': data,
                    'mandarin_acquiring': mandarin_acquiring,
                    'available_payment_method_types': available_payment_method_types,
                    'date_of_event': date_of_event,
                    'deal_type_ident': deal_type_ident,
                    'created': created
                }
                %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

