{% macro getTemplatePath(code, data, deal_type_ident, is_last, created) %}
    {% set templatePath = {
    'DISPUTE_OPEN_FOR_CUSTOMER': 'application/deal/partial/dispute-history-text/customer/dispute-open.twig',
    'DISPUTE_OPEN_FOR_CONTRACTOR': 'application/deal/partial/dispute-history-text/contractor/dispute-open.twig',
    'DISPUTE_OPEN_FOR_OPERATOR': 'application/deal/partial/dispute-history-text/operator/dispute-open.twig',


    'DISCOUNT_REQUEST_FOR_AUTHOR': 'application/deal/partial/dispute-history-text/customer/discount-request.twig',
    'DISCOUNT_REQUEST_FOR_NOT_AUTHOR': 'application/deal/partial/dispute-history-text/contractor/discount-request.twig',
    'DISCOUNT_REQUEST_FOR_OBSERVER': 'application/deal/partial/dispute-history-text/operator/discount-request.twig',

    'DISCOUNT_REQUEST_ACCEPTED_FOR_AUTHOR': 'application/deal/partial/dispute-history-text/contractor/discount-request-accepted.twig',
    'DISCOUNT_REQUEST_ACCEPTED_FOR_NOT_AUTHOR': 'application/deal/partial/dispute-history-text/customer/discount-request-accepted.twig',
    'DISCOUNT_REQUEST_ACCEPTED_FOR_OBSERVER': 'application/deal/partial/dispute-history-text/operator/discount-request-accepted.twig',

    'DISCOUNT_REQUEST_REJECTED_FOR_AUTHOR': 'application/deal/partial/dispute-history-text/contractor/discount-request-rejected.twig',
    'DISCOUNT_REQUEST_REJECTED_FOR_NOT_AUTHOR': 'application/deal/partial/dispute-history-text/customer/discount-request-rejected.twig',
    'DISCOUNT_REQUEST_REJECTED_FOR_OBSERVER': 'application/deal/partial/dispute-history-text/operator/discount-request-rejected.twig',

    'DISCOUNT_FOR_CUSTOMER': 'application/deal/partial/dispute-history-text/customer/discount-for-customer.twig',
    'DISCOUNT_FOR_CONTRACTOR': 'application/deal/partial/dispute-history-text/contractor/discount-for-contractor.twig',
    'DISCOUNT_FOR_OPERATOR': 'application/deal/partial/dispute-history-text/operator/discount-for-operator.twig',


    'REFUND_FOR_CUSTOMER': 'application/deal/partial/dispute-history-text/customer/refund-for-customer.twig',
    'REFUND_FOR_CONTRACTOR': 'application/deal/partial/dispute-history-text/contractor/refund-for-contractor.twig',
    'REFUND_FOR_OPERATOR': 'application/deal/partial/dispute-history-text/operator/refund-for-operator.twig',

    'REFUND_REQUEST_FOR_AUTHOR': 'application/deal/partial/dispute-history-text/customer/refund-request.twig',
    'REFUND_REQUEST_FOR_NOT_AUTHOR': 'application/deal/partial/dispute-history-text/contractor/refund-request.twig',
    'REFUND_REQUEST_FOR_OBSERVER': 'application/deal/partial/dispute-history-text/operator/refund-request.twig',

    'REFUND_REQUEST_ACCEPTED_FOR_AUTHOR': 'application/deal/partial/dispute-history-text/contractor/refund-request-accepted.twig',
    'REFUND_REQUEST_ACCEPTED_FOR_NOT_AUTHOR': 'application/deal/partial/dispute-history-text/customer/refund-request-accepted.twig',
    'REFUND_REQUEST_ACCEPTED_FOR_OBSERVER': 'application/deal/partial/dispute-history-text/operator/refund-request-accepted.twig',


    'REFUND_REQUEST_REJECTED_FOR_AUTHOR': 'application/deal/partial/dispute-history-text/contractor/refund-request-rejected.twig',
    'REFUND_REQUEST_REJECTED_FOR_NOT_AUTHOR': 'application/deal/partial/dispute-history-text/customer/refund-request-rejected.twig',
    'REFUND_REQUEST_REJECTED_FOR_OBSERVER': 'application/deal/partial/dispute-history-text/operator/refund-request-rejected.twig',


    'ARBITRAGE_REQUEST_WITH_DISCOUNT_FOR_AUTHOR': 'application/deal/partial/dispute-history-text/customer/arbitrage-request-with-discount.twig',
    'ARBITRAGE_REQUEST_WITH_DISCOUNT_FOR_NOT_AUTHOR': 'application/deal/partial/dispute-history-text/contractor/arbitrage-request-with-discount.twig',
    'ARBITRAGE_REQUEST_WITH_DISCOUNT_FOR_OBSERVER': 'application/deal/partial/dispute-history-text/operator/arbitrage-request-with-discount.twig',

    'ARBITRAGE_REQUEST_WITH_REFUND_FOR_AUTHOR': 'application/deal/partial/dispute-history-text/customer/arbitrage-request-with-refund.twig',
    'ARBITRAGE_REQUEST_WITH_REFUND_FOR_NOT_AUTHOR': 'application/deal/partial/dispute-history-text/contractor/arbitrage-request-with-refund.twig',
    'ARBITRAGE_REQUEST_WITH_REFUND_FOR_OBSERVER': 'application/deal/partial/dispute-history-text/operator/arbitrage-request-with-refund.twig',

    'ARBITRAGE_REQUEST_WITH_TRIBUNAL_FOR_AUTHOR': 'application/deal/partial/dispute-history-text/customer/arbitrage-request-with-tribunal.twig',
    'ARBITRAGE_REQUEST_WITH_TRIBUNAL_FOR_NOT_AUTHOR': 'application/deal/partial/dispute-history-text/contractor/arbitrage-request-with-tribunal.twig',
    'ARBITRAGE_REQUEST_WITH_TRIBUNAL_FOR_OBSERVER': 'application/deal/partial/dispute-history-text/operator/arbitrage-request-with-tribunal.twig',

    'ARBITRAGE_REQUEST_FOR_AUTHOR': 'application/deal/partial/dispute-history-text/customer/arbitrage-request.twig',
    'ARBITRAGE_REQUEST_FOR_NOT_AUTHOR': 'application/deal/partial/dispute-history-text/contractor/arbitrage-request.twig',
    'ARBITRAGE_REQUEST_FOR_OBSERVER': 'application/deal/partial/dispute-history-text/operator/arbitrage-request.twig',

    'ARBITRAGE_REQUEST_ACCEPTED_FOR_AUTHOR': 'application/deal/partial/dispute-history-text/operator/arbitrage-request-accepted.twig',
    'ARBITRAGE_REQUEST_ACCEPTED_FOR_NOT_AUTHOR': 'application/deal/partial/dispute-history-text/customer/arbitrage-request-accepted.twig',
    'ARBITRAGE_REQUEST_ACCEPTED_FOR_OBSERVER': 'application/deal/partial/dispute-history-text/contractor/arbitrage-request-accepted.twig',

    'ARBITRAGE_REQUEST_REJECTED_FOR_AUTHOR': 'application/deal/partial/dispute-history-text/operator/arbitrage-request-rejected.twig',
    'ARBITRAGE_REQUEST_REJECTED_FOR_NOT_AUTHOR': 'application/deal/partial/dispute-history-text/customer/arbitrage-request-rejected.twig',
    'ARBITRAGE_REQUEST_REJECTED_FOR_OBSERVER': 'application/deal/partial/dispute-history-text/contractor/arbitrage-request-rejected.twig',


    'TRIBUNAL_REQUEST_FOR_AUTHOR': 'application/deal/partial/dispute-history-text/customer/tribunal-request.twig',
    'TRIBUNAL_REQUEST_FOR_NOT_AUTHOR': 'application/deal/partial/dispute-history-text/contractor/tribunal-request.twig',
    'TRIBUNAL_REQUEST_FOR_OBSERVER': 'application/deal/partial/dispute-history-text/operator/tribunal-request.twig',

    'TRIBUNAL_REQUEST_ACCEPTED_FOR_AUTHOR': 'application/deal/partial/dispute-history-text/operator/tribunal-request-accepted.twig',
    'TRIBUNAL_REQUEST_ACCEPTED_FOR_NOT_AUTHOR': 'application/deal/partial/dispute-history-text/customer/tribunal-request-accepted.twig',
    'TRIBUNAL_REQUEST_ACCEPTED_FOR_OBSERVER': 'application/deal/partial/dispute-history-text/contractor/tribunal-request-accepted.twig',

    'TRIBUNAL_REQUEST_REJECTED_FOR_AUTHOR': 'application/deal/partial/dispute-history-text/operator/tribunal-request-rejected.twig',
    'TRIBUNAL_REQUEST_REJECTED_FOR_NOT_AUTHOR': 'application/deal/partial/dispute-history-text/customer/tribunal-request-rejected.twig',
    'TRIBUNAL_REQUEST_REJECTED_FOR_OBSERVER': 'application/deal/partial/dispute-history-text/contractor/tribunal-request-rejected.twig',

    'TRIBUNAL_FOR_CUSTOMER': 'application/deal/partial/dispute-history-text/customer/tribunal.twig',
    'TRIBUNAL_FOR_CONTRACTOR': 'application/deal/partial/dispute-history-text/contractor/tribunal.twig',
    'TRIBUNAL_FOR_OPERATOR': 'application/deal/partial/dispute-history-text/operator/tribunal.twig',


    'DISPUTE_CLOSED_DISCOUNT_FOR_CUSTOMER': 'application/deal/partial/dispute-history-text/customer/dispute-closed-after-discount.twig',
    'DISPUTE_CLOSED_DISCOUNT_FOR_CONTRACTOR': 'application/deal/partial/dispute-history-text/contractor/dispute-closed-after-discount.twig',
    'DISPUTE_CLOSED_DISCOUNT_FOR_OPERATOR': 'application/deal/partial/dispute-history-text/operator/dispute-closed-after-discount.twig',

    'DISPUTE_CLOSED_REFUND_FOR_CUSTOMER': 'application/deal/partial/dispute-history-text/customer/refund-is-made.twig',
    'DISPUTE_CLOSED_REFUND_FOR_CONTRACTOR': 'application/deal/partial/dispute-history-text/contractor/refund-is-made.twig',
    'DISPUTE_CLOSED_REFUND_FOR_OPERATOR': 'application/deal/partial/dispute-history-text/operator/refund-is-made.twig',

    'WARRANTY_EXTENSION_FOR_CUSTOMER': 'application/deal/partial/dispute-history-text/customer/warranty-extension.twig',
    'WARRANTY_EXTENSION_FOR_CONTRACTOR': 'application/deal/partial/dispute-history-text/contractor/warranty-extension.twig',
    'WARRANTY_EXTENSION_FOR_OPERATOR': 'application/deal/partial/dispute-history-text/operator/warranty-extension.twig',

    'DISPUTE_CANCELED_FOR_CUSTOMER': 'application/deal/partial/dispute-history-text/customer/dispute-canceled.twig',
    'DISPUTE_CANCELED_FOR_CONTRACTOR': 'application/deal/partial/dispute-history-text/contractor/dispute-canceled.twig',
    'DISPUTE_CANCELED_FOR_OPERATOR': 'application/deal/partial/dispute-history-text/operator/dispute-canceled.twig',

    'DISPUTE_CLOSED_FOR_CUSTOMER': 'application/deal/partial/dispute-history-text/customer/dispute-closed.twig',
    'DISPUTE_CLOSED_FOR_CONTRACTOR': 'application/deal/partial/dispute-history-text/contractor/dispute-closed.twig',
    'DISPUTE_CLOSED_FOR_OPERATOR': 'application/deal/partial/dispute-history-text/operator/dispute-closed.twig',

    'DISPUTE_CLOSED_WITH_DAYS_FOR_CUSTOMER': 'application/deal/partial/dispute-history-text/customer/dispute-closed-with-days.twig',
    'DISPUTE_CLOSED_WITH_DAYS_FOR_CONTRACTOR': 'application/deal/partial/dispute-history-text/contractor/dispute-closed-with-days.twig',
    'DISPUTE_CLOSED_WITH_DAYS_FOR_OPERATOR': 'application/deal/partial/dispute-history-text/operator/dispute-closed-with-days.twig',

    'DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_FOR_CUSTOMER': 'application/deal/partial/dispute-history-text/customer/dispute-closed-discount-with-days.twig',
    'DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_FOR_CONTRACTOR': 'application/deal/partial/dispute-history-text/contractor/dispute-closed-discount-with-days.twig',
    'DISPUTE_CLOSED_DISCOUNT_WITH_DAYS_FOR_OPERATOR': 'application/deal/partial/dispute-history-text/operator/dispute-closed-discount-with-days.twig',

    } %}
    {% if templatePath[code] %}
        {% include templatePath[code] |trim with {
            'is_last': is_last,
            'data': data,
            'deal_type_ident': deal_type_ident,
            'created': created }
        %}
    {% endif %}
{% endmacro %}


{#
CUSTOMER, CONTRACTOR, OPERATOR
'DISPUTE_CLOSED'- закрывает оператор и ставит 0 доб дней
'DISPUTE_CLOSED_WITH_DAYS' - закрывает оператор и добавляет дни

'DISPUTE_CLOSED_DISCOUNT' - оператор создает скидку и не добавляет дни (0 дней)
'DISPUTE_CLOSED_DISCOUNT_WITH_DAYS' - оператор создает скидку и добавляет дни

'DISPUTE_CLOSED_REFUND' - оператор создает возврат

'DISPUTE_CANCELED' - спор отменен покупателем

'WARRANTY_EXTENSION' - событие добавления дней
#}