{% macro isCurrentRoute(url_page) %}
    {{ queryHelper().isActivePage(url(url_page)) ? 'active' : '' }}
{% endmacro %}
{# +79033463906 преобразует в +7 (903) 346 - 39 - 06 #}
{% macro phoneFormat(phone) %}
    {{ phoneHelper().formatPhone(phone) }}
{% endmacro %}

{% macro dateFormat(date, pattern) %}
    {{ dateHelper().formatToString(date, pattern) }}
{% endmacro %}
