{% macro documentSingle(type, id) %}
    {% if type == 'passport' %}
        {{ url('user-profile/natural-person-passport-single', { 'id' : id }) |trim }}
    {% elseif type == 'driver_license' %}
        {{ url('user-profile/natural-person-driver-license-single', { 'id' : id }) |trim }}
    {% elseif type == 'tax_inspection' %}
        {{ url('user-profile/legal-entity-tax-inspection-single', { 'id' : id }) |trim }}
    {% elseif type == 'bank_details' %}
        {{ url('user-profile/legal-entity-bank-detail-single', { 'id' : id }) |trim }}
    {% endif %}
{% endmacro %}

{# passport routes #}
{% macro passportSingle(id) %}
    {{ url('user-profile/natural-person-passport-single', { 'id' : id }) |trim }}
{% endmacro %}
{% macro passportDelete(id) %}
    {{ url('user-profile/natural-person-passport-form-delete', {'idPassport' : id}) |trim }}
{% endmacro %}
{% macro passportEdit(id) %}
    {{ url('user-profile/natural-person-passport-form-edit', {'idPassport' : id}) |trim }}
{% endmacro %}

{# driverLicense routes #}
{% macro driverLicenseSingle(id) %}
    {{ url('user-profile/natural-person-driver-license-single', { 'id' : id }) |trim }}
{% endmacro %}
{% macro driverLicenseDelete(id) %}
    {{ url('user-profile/natural-person-driver-license-form-delete', {'idDriverLicense' : id }) |trim }}
{% endmacro %}
{% macro driverLicenseEdit(id) %}
    {{ url('user-profile/natural-person-driver-license-form-edit', {'idDriverLicense' : id }) |trim }}
{% endmacro %}

{# taxInspection routes #}
{% macro taxInspectionSingle(id) %}
    {{ url('user-profile/legal-entity-tax-inspection-single', { 'id' : id }) |trim }}
{% endmacro %}
{% macro taxInspectionDelete(id) %}
    {{ url('user-profile/legal-entity-tax-inspection-form-delete', {'idTaxInspection' : id }) |trim }}
{% endmacro %}
{% macro taxInspectionEdit(id) %}
    {{ url('user-profile/legal-entity-tax-inspection-form-edit', {'idTaxInspection' : id }) |trim }}
{% endmacro %}

{# bankDetail routes #}
{% macro bankDetailSingle(id) %}
    {{ url('user-profile/legal-entity-bank-detail-single', { 'id' : id }) |trim }}
{% endmacro %}
{% macro bankDetailDelete(id) %}
    {{ url('user-profile/legal-entity-bank-detail-form-delete', {'idBankDetail' : id }) |trim }}
{% endmacro %}
{% macro bankDetailEdit(id) %}
    {{ url('user-profile/legal-entity-bank-detail-form-edit', {'idBankDetail' : id }) |trim }}
{% endmacro %}

{# file routes #}
{% macro showFile(file) %}
    {{ url('profile/file',{ 'civilId' : file['civilId'], 'fileId' : file['id']}) |trim }}
{% endmacro %}
{% macro showDealFile(file, deal_id) %}
    {{ url('deal/file',{ 'dealId' : deal_id, 'fileId' : file['id']}) |trim }}
{% endmacro %}
{% macro showDisputeFile(file, dispute_id) %}
    {{ url('dispute-file',{ 'disputeId' : dispute_id, 'fileId' : file['id']}) |trim }}
{% endmacro %}
{# deal routes #}
{% macro dealSingle(id) %}
    {{ url('deal/show', { 'id': id })}}
{% endmacro %}
{% macro dealEdit(id) %}
    {{ url('deal/edit', { 'id': id })}}
{% endmacro %}
{% macro dealConfirm(id) %}
    {{ url('deal-confirm-conditions', {'idDeal': id}) }}
{% endmacro %}

{% macro dealCreateTrackingNumber(id) %}
    {{ url('deal-create-tracking-number', {'idDeal': id}) }}
{% endmacro %}

{% macro disputeRefund(id) %}
    {{ url('dispute-refund', {'idDispute': id}) }}
{% endmacro %}
{% macro disputeDiscount(id) %}
    {{ url('dispute-discount-form-create', {'idDispute': id}) }}
{% endmacro %}
{% macro disputeTribunal(id) %}
    {{ url('dispute-tribunal', {'idDispute': id}) }}
{% endmacro %}
{% macro logout() %}
    {{ url('logout') }}
{% endmacro %}
{% macro forgotPasswordReset() %}
    {{ url('forgot/password-reset') }}
{% endmacro %}