{% macro timeline(key, index, current_phase, description, day, time, trouble, last_element) %}
    <div class="col-xl-2 col-lg-1 col-lt-1 {{ index == 1 ? 'col-lg-offset-1 col-lt-offset-0' : '' }}">
        {% set timelinePath = {
            'created': 'application/deal/partial/timeline/created.twig',
            'confirmed': 'application/deal/partial/timeline/confirmed.twig',
            'trouble': 'application/deal/partial/timeline/trouble.twig',
            'debit_matched': 'application/deal/partial/timeline/debit-matched.twig',
            'pending_credit_payment': 'application/deal/partial/timeline/pending-credit-payment.twig',
            'delivered': 'application/deal/partial/timeline/delivered.twig',
            'dispute': 'application/deal/partial/timeline/dispute.twig',
            'pending_refund_payment': 'application/deal/partial/timeline/pending-refund-payment.twig',
            'refund': 'application/deal/partial/timeline/refund.twig',
            'tribunal': 'application/deal/partial/timeline/tribunal.twig',
            'closed': 'application/deal/partial/timeline/closed.twig'
        } %}
        {% if timelinePath[key] %}
            {% include timelinePath[key] |trim with {'index': index, 'current_phase': current_phase, 'description': description, 'day': day, 'time': time, 'trouble': trouble, 'last_element': last_element} %}
        {% endif %}
    </div>
{% endmacro %}
