{% macro documentsType(name) %}
    {% set templateDocuments = {
        'bank_details': 'Банковские реквизиты',
        'tax_inspection': 'Свидетельство о постановке на учет в налоговый орган',
        'passport': 'Паспорт',
        'driver_license': 'Водительское удостоверение',
    } %}
    {{ templateDocuments[name] |trim }}
{% endmacro %}

{% macro feeType(deal_type, role_type) %}
    {% set templateFee = {
        'U': {'CUSTOMER': 'Заказчик', 'CONTRACTOR': 'Исполнитель', '50/50': '50/50'},
        'T': {'CUSTOMER': 'Покупатель', 'CONTRACTOR': 'Продавец', '50/50': '50/50'}
    } %}
    {{ templateFee[deal_type|upper][role_type|upper] |trim }}
{% endmacro %}

{% macro userRole(deal_type, role_type) %}
    {% set templateType = {
        'U': {'CUSTOMER': 'Заказчик', 'CONTRACTOR': 'Исполнитель'},
        'T': {'CUSTOMER': 'Покупатель', 'CONTRACTOR': 'Продавец'}
    } %}
    {{ templateType[deal_type|upper][role_type|upper] |trim }}
{% endmacro %}

{% macro userRoleGenitive(deal_type, role_type) %}
    {% set templateType = {
        'U': {'CUSTOMER': 'Заказчика', 'CONTRACTOR': 'Исполнителя'},
        'T': {'CUSTOMER': 'Покупателя', 'CONTRACTOR': 'Продавца'}
    } %}
    {{ templateType[deal_type|upper][role_type|upper] |trim }}
{% endmacro %}

{% macro userRoleDative(deal_type, role_type) %}
    {% set templateType = {
        'U': {'CUSTOMER': 'Заказчику', 'CONTRACTOR': 'Исполнителю'},
        'T': {'CUSTOMER': 'Покупателю', 'CONTRACTOR': 'Продавцу'}
    } %}
    {{ templateType[deal_type|upper][role_type|upper] |trim }}
{% endmacro %}

{% macro userRoleAblative(deal_type, role_type) %}
    {% set templateType = {
        'U': {'CUSTOMER': 'Заказчиком', 'CONTRACTOR': 'Исполнителем'},
        'T': {'CUSTOMER': 'Покупателем', 'CONTRACTOR': 'Продавцом'}
    } %}
    {{ templateType[deal_type|upper][role_type|upper] |trim }}
{% endmacro %}

{% macro dealFeeType(type) %}
    {% set templateType = {
    'Покупатель/Заказчик': 'Покупатель',
    'Продавец/Исполнитель': 'Продавец',
    '50/50': '50/50'
    } %}
    {{ templateType[type] |trim }}
{% endmacro %}

{% macro statusCode(name) %}
    {% set templateCode = {
    'negotiation': '1',
    'confirmed': '2',
    'debit_matched': '3',
    'delivered': '4',
    'pending_credit_payment': '5',
    'closed': '6',
    'dispute': '7'
    } %}
    {{ templateCode[name] |trim }}
{% endmacro %}

{#{% macro isTimelineItemCompleteOrActive(date, name, status) %}#}
    {#{% set templateCodes = {#}
    {#'negotiation': 'confirmed',#}
    {#'confirmed':'debit_matched',#}
    {#'debit_matched': 'delivered',#}
    {#'delivered': 'pending_credit_payment',#}
    {#'pending_credit_payment': 'closed',#}
    {#'closed': 'closed'#}
    {#} %}#}

    {#{% if date %}#}
        {#{{ 'completed' }}#}
    {#{% else %}#}
        {#{% if name == templateCodes[status] %}#}
            {#{{ 'active' }}#}
        {#{% endif %}#}
    {#{% endif %}#}
{#{% endmacro %}#}

{% macro isTimelineItemCompleteOrActive(day, current_phase) %}
    {% if day %}
        {{ 'completed' }}
    {% elseif current_phase == true %}
        {{ 'active' }}
    {% endif %}
{% endmacro %}

{% macro isDisputeHistoryItemLast(is_last) %}
    {% if is_last == true %}
        {{ 'TextMarked' }}
    {% else %}
        {{ 'TextMarked_grey' }}
    {% endif %}
{% endmacro %}

{% macro paymentMethodType(type)%}
    {% set templatePaymentMethodType = {
        'bank_transfer': 'Банковский перевод'
        } %}
    {{ templatePaymentMethodType[type] |trim }}
{% endmacro %}

{% macro morph(num, words) %}
    {% set arr = [2, 0, 1, 1, 1, 2] %}
    {{ words[ (num % 100 > 4 and num % 100 < 20) ? 2 : arr[min(num % 10 , 5)]] }}
{% endmacro %}

{% macro dealDeadLineTime(time) %}
    {% import _self as translate %}

    {% set str = '' %}
    {% set years = time['y'] %}
    {% set months = time['m'] %}
    {% set days = time['d'] %}
    {% set hours = time['h'] %}
    {% set minutes = time['i'] %}

    {% if years > 0 %}
        {% set str = str ~ years ~ translate.morph(years, ['года', 'лет', 'лет']) ~ ' ' %}
    {% endif %}

    {% if months > 0 %}
        {% set str = str ~ months ~ translate.morph(months, ['месяца', 'месяцев', 'месяцев']) ~ ' ' %}
    {% endif %}

    {% if days > 0 %}
        {% set str = str ~ days ~ translate.morph(days, ['дня', 'дней', 'дней']) ~ ' ' %}
    {% endif %}

    {% if hours > 0 %}
        {% set str = str ~ hours ~ translate.morph(hours, ['часа', 'часов', 'часов']) ~ ' ' %}
    {% endif %}

    {% if minutes > 0 %}
        {% set str = str ~ minutes ~ translate.morph(minutes, ['минуты', 'минут', 'минут']) %}
    {% endif %}

    {{ str }}
{% endmacro %}

{% macro dateWaiting(time) %}
    {% import _self as translate %}

    {% set str = '' %}
    {% set days = time['d'] %}
    {% set hours = time['h'] %}
    {% set minutes = time['i'] %}

    {% if days > 0 %}
        {% set str = str ~ days ~ translate.morph(days, ['день', 'дня', 'дней']) ~ ' ' %}
    {% endif %}

    {% if hours > 0 %}
        {% set str = str ~ hours ~ translate.morph(hours, ['час', 'часа', 'часов']) ~ ' ' %}
    {% endif %}

    {% if minutes > 0 %}
        {% set str = str ~ minutes ~ translate.morph(minutes, ['минута', 'минуты', 'минут']) %}
    {% endif %}

    {{ str }}
{% endmacro %}

{% macro warrantyDays(days) %}
    {% import _self as translate %}

    {% set str = '' %}

    {% if days > 0 %}
        {% set str = str ~ days ~ translate.morph(days, ['день', 'дня', 'дней']) ~ ' ' %}
    {% endif %}

    {{ str }}
{% endmacro %}
